.form-investigacion-emp .cant_planes {
  margin-left: 8px;
}

.distole-flex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.antecedentes-list {
  margin-bottom: 13px;
  h5 {
    font-size: 15px;
    font-weight: 800;
    color: #254373;
  }

  .respuesta {
    font-weight: 400;
    color: black;
  }
}

.overflowidth {
  max-width: 100% !important;
  overflow: scroll;
}

.dropdown-result {
  position: absolute;
  background: white;
  width: 100%;
  z-index: 1;
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 4px;
  left: 0px;
  top: 109%;

  ul {
    height: 140px;
    overflow-y: auto;
    list-style: noe;
    margin-bottom: 0px;

    li {
      font-size: 14px;
      margin-bottom: 6px;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
    }
  }
}
