.form-input {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
  position: relative;

  span {
    font-weight: 800;
  }

  .span-litle {
    font-size: 13px;
  }

  input {
    width: 100%;
    border-bottom: 0px;
  }

  &--text {
    .type-text {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &--select {
    .type-select {
      width: 100%;
      border: 0px;
      padding: 1px !important;
      background: white;
    }
  }
}

.length-input {
  right: 11px;
  bottom: 4px;
  font-size: 11px;
  color: #a60000;
  position: absolute;
}

.input-number {
  -webkit-appearance: textfield;
  margin: 0;
  -moz-appearance: textfield !important;
}

.group-box {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 2.5em;

  &--title {
    font-weight: 600;
    width: 100%;
    margin-bottom: 0px;
    font-size: 14px;

    &-light {
      font-weight: 600;
      width: 100%;
      font-size: 13;
      margin-bottom: 1px;
    }
  }

  &--input {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid black !important;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 6px 0px;
  }
}
