.main-data-modal {
  border: 0px;
  margin-top: 1em;
  padding: 0px 30px;
  height: 450px !important;
}

.group-title {
  display: flex;
  flex-direction: column;
}
.group-title--line {
  border: 1px solid #f2f2f2;
  height: 0px;
  width: 100%;
  margin-top: 25px;
}
.group-title--data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -16px;
}
.group-title--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-title--row .circle-number {
  width: 35px;
  height: 35px;
  background: #ffc12f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px !important;
}
.group-title .link-green {
  background: white;
  padding: 4px;
  color: #58c55d;
  text-decoration: underline;
}

.group-form--gray {
  background: #dedede;
  border: 1px solid #858585;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  margin-bottom: 12px;
}
.group-form--gray .input--gray {
  border: 0px none;
  background: transparent none repeat scroll 0% 0%;
  height: 65px;
  width: 100%;
}
.group-form--gray label {
  color: #858585;
  text-align: flex-start;
}
.group-form--gray p {
  text-align: flex-start;
}
.group-form--check {
  display: flex;
  align-items: center;
}
.group-form--check label {
  font-size: 12px;
  text-align: flex-start;
  padding-left: 5px;
}
.group-form--border {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 5px 10px;
}
.group-form--border input {
  border: 0px !important;
  width: 100%;
}
.group-form--select {
  background: white !important;
}
.group-form--select select {
  border: 0px !important;
  background: transparent !important;
}
.group-form--green {
  border: 2px solid #58c55d !important;
}
.group-form--bottom-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
  flex-wrap: wrap;
}
.group-form--bottom-border .input-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.d-none {
  display: none;
}

.clear--row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.clear--col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.clear--text-margin {
  margin-bottom: 0px !important;
}

.d-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.d-column-l {
  display: flex;
  flex-direction: column;
}

.bt-lightgray {
  border-top: 1px solid #dedede;
}
.bt-0 {
  border: 0px;
}

.textVertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 30px !important;
  color: #01719d;
  font-weight: bold !important;
  cursor: pointer;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.litle-text {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}

.form-input {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
  position: relative;
}
.form-input span {
  font-weight: 800;
}
.form-input .span-litle {
  font-size: 13px;
}
.form-input input {
  width: 100%;
  border-bottom: 0px;
}
.form-input--text .type-text {
  font-size: 14px;
  margin-bottom: 5px;
}
.form-input--select .type-select {
  width: 100%;
  border: 0px;
  padding: 1px !important;
  background: white;
}

.length-input {
  right: 11px;
  bottom: 4px;
  font-size: 11px;
  color: #a60000;
  position: absolute;
}

.input-number {
  -webkit-appearance: textfield;
  margin: 0;
  -moz-appearance: textfield !important;
}

.group-box {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 2.5em;
}
.group-box--title {
  font-weight: 600;
  width: 100%;
  margin-bottom: 0px;
  font-size: 14px;
}
.group-box--title-light {
  font-weight: 600;
  width: 100%;
  font-size: 13;
  margin-bottom: 1px;
}
.group-box--input {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid black !important;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  padding: 6px 0px;
}

.tg--bold {
  font-weight: bold;
}
.tg--left {
  text-align: start !important;
}

.text-gray {
  color: #858585;
}

.form-investigacion-emp .cant_planes {
  margin-left: 8px;
}

.distole-flex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.antecedentes-list {
  margin-bottom: 13px;
}
.antecedentes-list h5 {
  font-size: 15px;
  font-weight: 800;
  color: #254373;
}
.antecedentes-list .respuesta {
  font-weight: 400;
  color: black;
}

.overflowidth {
  max-width: 100% !important;
  overflow: scroll;
}

.dropdown-result {
  position: absolute;
  background: white;
  width: 100%;
  z-index: 1;
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 4px;
  left: 0px;
  top: 109%;
}
.dropdown-result ul {
  height: 140px;
  overflow-y: auto;
  list-style: noe;
  margin-bottom: 0px;
}
.dropdown-result ul li {
  font-size: 14px;
  margin-bottom: 6px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.grid--17 {
  width: 14.2%;
}
@media (min-width: 576px) {
  .gridsm--2 {
    width: 20%;
  }
}

.c-btn--green {
  background: #8fbb02 !important;
  color: white !important;
}

/*# sourceMappingURL=customize.css.map */
