<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/sweetalert2.css">
<link rel="stylesheet" href="css/pagination.css">
<!-- <link rel="stylesheet" href="view/sho-hce/ssoma.css">
<link rel="stylesheet" href="css/sho.css"> -->
<link rel="stylesheet" href="./view/sho-hce/salud_ocupacional/historia_clinica/css/sho.css">
<link rel="stylesheet" href="view/sho-hce/salud_ocupacional/historia_clinica/fit_test/fit-test.css">

<div>
    <!-- DATOS GENERALES -->
    <div>
        <div class="row mb-5">
            <div class="col-md-12 d-flex justify-content-between align-content-center">
                <h2 class="title-section d-flex">
                    <span class="m-auto titulo">Fit Test</span>
                </h2>
                <span class="subtitulo" id="mostrar_datos_at"
                    style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
                <span class="subtitulo" id="ocultar_datos_at"
                    style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-2 show-more">
                <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
                    <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
                        <img id="img_file_perfil" name="img_file_perfil">
                    </label>
                    <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
                </div>
            </div>
            <div class="col-md-9 show-less" style="display:none">
                <div class="row">
                    <div class="col-md-2 mr-2">
                        <div class="img-perfil"
                            style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
                            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
                                <img name="img_file_perfil">
                            </label>
                            <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-7 show-more">
                <div class="row">
                    <div class="col-12">
                        <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
                    </div>
                </div>
                <div class="row mt-3 show-more">
                    <div class="col-4 my-1">
                        <b>DNI:</b> <span id="dni_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Sexo:</b> <span id="sexo_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Edad:</b> <span id="edad_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Puesto:</b> <span id="puesto_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Área:</b> <span id="area_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Gerencia:</b> <span id="gerencia_trabajador"></span>
                    </div>
                    <div class="col-4 my-1">
                        <b>Planta:</b> <span id="planta_trabajador"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
                    onclick="onAtencionMedicaClick();amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img
                        src="./images/sho/plus.svg" fill="#fff" />
                </button>
                <span class="mb-3 mr-4"
                    style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
                    onclick="fnModalVerDatosCompletoTrabajador()">Ver datos completos</span>
            </div>
        </div>
    </div>

    <hr class="mt-4">
 
    <!-- Registros -->
    <div class="col-md-12 mt-4 mb-4">
        <span class="titulo"> Registros </span>
    </div>


    <!-- Sub Nav-tabs -->
    <div class="row">
        <div class="col-md-12">

            <div class="row mt-4">
                <div class="col-md-10">
                    <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
                        <li class="nav-item  mb-3">
                            <a class="nav-link nav-link-tablas " data="proteccion_auditiva" id="proteccion_auditiva-tab"
                                data-toggle="tab" href="#proteccion_auditiva" role="tab"
                                aria-controls="proteccion_auditiva">
                                Eva. Protección auditiva</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-tablas" data="proteccion_respiratoria"
                                id="proteccion_respiratoria-tab" data-toggle="tab" href="#proteccion_respiratoria"
                                role="tab" aria-controls="proteccion_respiratoria">
                                Eva. Protección respiratoria</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content" id="myTabContent">

                <!-- Evaluacion Proteccion auditiva -->
                <div class="tab-pane fade " id="proteccion_auditiva" role="tabpanel"
                    aria-labelledby="proteccion_auditiva-tab">

                    <div class="row justify-content-end mt-2 mb-2">
                        <!-- Nro de registros -->
                        <div style="padding-right: 8px;">
                            <div class="d-flex align-items-center">
                                <div id="cant_registro">
                                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                                </div>
                                <span class="cantidad ml-3" style="font-size: 15px">
                                    <span id="table_proteccion_auditiva-count-row">0</span> registros</span>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="overflow-y:hidden !important;">
                        <table class="table-box table-container" id="table_proteccion_auditiva"
                            style="margin-top: 0px !important">
                            <thead>
                                <tr>
                                    <th>Código de evaluación</th>
                                    <th>Fecha de evaluación</th>
                                    <th>Fecha de vencimiento</th>
                                    <th>Tipo de protección</th>
                                    <th>Modelo de protección</th>
                                    <th>NRR izquierda</th>
                                    <th>NRR derecha</th>
                                    <th>Índice de atenuación personal</th>
                                    <th>Estado evaluación</th>
                                    <th style="color: #254373 !important; user-select: none;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="content_proteccion_auditiva">
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Evaluacion Proteccion respiratoria -->
                <div class="tab-pane fade" id="proteccion_respiratoria" role="tabpanel"
                    aria-labelledby="proteccion_respiratoria-tab">

                    <div class="row justify-content-end mt-2 mb-2">
                        <!-- Nro de registros -->
                        <div style="padding-right: 8px;">
                            <div class="d-flex align-items-center">
                                <div id="cant_registro">
                                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                                </div>
                                <span class="cantidad ml-3" style="font-size: 15px">
                                    <span id="table_proteccion_respiratoria-count-row">0</span> registros</span>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="overflow-y:hidden!important;">
                        <table class="table-box table-container" id="table_proteccion_respiratoria"
                            style="margin-top: 0px !important">
                            <thead>
                                <tr>
                                    <th>Código de evaluación</th>
                                    <th>Fecha de evaluación</th>
                                    <th>Fecha de vencimiento</th>
                                    <th>Tipo de respirador</th>
                                    <th>Modelo de protección</th>
                                    <th>Talla de respirador</th>
                                    <th>Overall</th>
                                    <th>Aprobado</th>
                                    <th>Estado evaluación</th>
                                    <th style="color: #254373 !important;user-select: none;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="content_proteccion_respiratoria">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


<!-- Librerias JS -->
<script src="view/sho-hce/salud_ocupacional/historia_clinica/fit_test/fit-test.js"></script>

<script src="view/sho-hce/descansos_medicos/gestionDescansoMedico.js"></script>

<script src="js/svg-inject.min.js"></script>
<script src="js/paginator/pagination.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/proccessExcell.js"></script>
<script src="js/riskList.js"></script>