<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<style>

    .tab-slider{

        font-size: 22px !important;
        margin-left: 13px !important;
        margin-right: 13px !important;;

    }

    table.dataTable {

        border-spacing: 0px 5px !important;

    }

</style>
<div class="row">
    <div class="col-md-6 d-flex align-items-center">
        <span class="titulo"> Mi VMO </span>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center">
        <span style="font-weight: 600; color: #01719d; cursor: pointer;" id="ocultar_datos_mvmo"> Ocultar datos </span>
        <span style="font-weight: 600; color: #01719d; cursor: pointer; display: none;" id="mostrar_datos_mvmo"> Mostrar datos </span>
    </div>
</div>
<div class="row mt-5 d-flex align-items-center" id="datos_generales_content">
    <div class="col-md-2" id="content_img_datos_generales">
        <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
            <div class="spinner-border text-light" id="hc_spin_adjuntar_imagen" role="status" style="position: absolute; display:none">
                <span class="sr-only">Loading...</span>
            </div>
            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
                <img id="img_file_perfil" alt="" style="display: block;">
            </label>
            <input id="img_input_file_perfil" type="file" onchange="encodeImgtoBase64(this)" style="display: none">
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-12">
                <span style="font-size: 20px; font-weight: 600; color: #254373;" id="dat_dg_nombres"></span>
                <span style="font-size: 20px; font-weight: 600; color: #254373;" id="dat_dg_apellidos"></span>
            </div>
        </div>
        <div class="row mt-3" id="datos_hc_general_trabajador">
            <div class="col-4 my-1">
                <b>DNI:</b> <span id="dat_dg_dni_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Sexo:</b> <span id="dat_dg_sexo_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Edad:</b> <span id="dat_dg_edad_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Puesto:</b> <span id="dat_dg_puesto_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Área:</b> <span id="dat_dg_area_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Gerencia:</b> <span id="dat_dg_gerencia_trabajador"></span>
            </div>
            <div class="col-4 my-1">
                <b>Planta:</b> <span id="dat_dg_planta_trabajador"></span>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="botones_datos_generales">
        <div class="row">
            <div class="col-12 btn_interacciones_datos_generales">
                <button onclick="onAtrasHistoriaClick(5); amSp3NuevaAtencionMedica(idHC,2)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
                </button>
            </div>
            <div class="col-12 btn_interacciones_datos_generales">
                <button onclick="ecSp4VerDatosCompletoTrabajador()" class="btn btn-link shadow-none btn-block btn-lg" style="width: 200px; float: right;">Ver datos completos
                </button>
            </div>
        </div>
    </div>
</div>
<hr class="mt-4">
<div class="row mt-4">
    <div class="col-md-6 d-flex align-items-center">
        <span class="titulo"> Mis EMOs </span>
    </div>
</div>
<!-- Registros button -->

<div class="row mb-5 d-flex align-items-center mt-5">

    <div class="col-md-2 text-left">
      <span id="anterior_slider" class="subtitulo ml-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;">
        <img class="mr-2" src='./images/sho/left.svg'/> Anterior
      </span>
    </div>
    <div class="col-md-8 text-center">
        <ul class="nav nav-pills mb-2" id="container-slider" role="tablist" style="justify-content: center !important;">
        </ul>
    </div>
    <div class="col-md-2 text-right">
      <span id="siguiente_slider" class="subtitulo mr-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;">
        Siguiente <img class="ml-2" src='./images/sho/right.svg'/></span>
        </span>
    </div>

</div>

<div class="row mb-5 d-flex align-items-center">
    <!-- Nro de registros -->
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" style="font-size: 15px">
          <span id="table_emo-count-row"></span> registros</span>
        </div>
    </div>
    <div class="w-100">
        <table class="table-box table-container w-100" id="table_emo">
            <thead>
            <tr>
                <th>Fecha de registro</th>
                <th>Hora de registro</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="content_emo">
            </tbody>
        </table>
    </div>
</div>
<!-- Registros button -->
<hr class="mt-4">

<div class="row mt-4">
    <div class="col-md-6 d-flex align-items-center">
        <span class="titulo"> Programa de calidad de vida </span>
    </div>
    <div class="col-md-6">
        <button onclick="irPrograma(idHC,1)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nuevo Registro
            <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
    </div>
    <div class="col-md-12 mt-4">
        <div class="null-program" id="null-programa-calidad">
            No cuenta con este programa <img src="./images/exclamation-circle.svg" width="25px" height="25px" class="ml-2"/>
        </div>

        <div class="d-none" id="table-programa-calidad">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_hospitalizacion-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_hospitalizacion">
                        <thead>
                        <tr>
                            <th style="width: 150px;">Fecha de Registro</th>
                            <th>Medico a cargo</th>
                            <th style="width: 30px;"></th>
                        </tr>
                        </thead>
                        <tbody id="content_programa_calidad_vida">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<div class="row mt-4">
    <div class="col-md-6 d-flex align-items-center">
        <span class="titulo"> Programa de conservación auditiva </span>
    </div>
    <div class="col-md-6">
        <button onclick="irPrograma(idHC,2)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nuevo Registro
            <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
    </div>
    <div class="col-md-12 mt-4">
        <div class="null-program" id="null-programa-conservacion-auditiva">
            No cuenta con este programa <img src="./images/exclamation-circle.svg" width="25px" height="25px" class="ml-2"/>
        </div>
        <div class="d-none" id="table-programa-conservacion-auditiva">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_conservacion-auditiva-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_conservacion-auditiva">
                        <thead>
                        <tr>
                            <th style="width: 150px;">Fecha de Registro</th>
                            <th>Medico a cargo</th>
                            <th style="width: 30px;"></th>
                        </tr>
                        </thead>
                        <tbody id="content_programa_conservacion-auditiva">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<div class="row mt-4">
    <div class="col-md-6 d-flex align-items-center">
        <span class="titulo"> Programa de trastornos músculo esquelético </span>
    </div>
    <div class="col-md-6">
        <button onclick="irPrograma(idHC,3)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nuevo Registro
            <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
    </div>
    <div class="col-md-12 mt-4">
        <div class="null-program" id="null-programa-transtorno-muscular-esqueletico">
            No cuenta con este programa <img src="./images/exclamation-circle.svg" width="25px" height="25px" class="ml-2"/>
        </div>
        <div class="d-none" id="table-programa-transtorno-muscular-esqueletico">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_transtorno-muscular-esqueletico-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_transtorno-muscular-esqueletico">
                        <thead>
                        <tr>
                            <th style="width: 150px;">Fecha de Registro</th>
                            <th>Medico a cargo</th>
                            <th style="width: 30px;"></th>
                        </tr>
                        </thead>
                        <tbody id="content_programa_transtorno-muscular-esqueletico">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/sweetalert2.js"></script>
<script src="./view/sho-hce/vmo/js/index.js"></script>
<script>
    localStorage.setItem('idVMO', '');
    _init(idHC)
</script>