<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

</style>

<div class="main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Búsqueda de registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Código de VMO</span>
                    <input type="text" class="form-control data-filtro-general" id="codigo-vmo" data-filtro-general='0' onkeyup="/*buscarReguistros()*/">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Gerencia</span>
                    <select name="" class="form-control select2 data-filtro-select" id="gerencia-lista" data-filtro-select='4' onchange="/*buscarReguistros()*/">
                        <option value="0"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Área</span>
                    <select name="" class="form-control select2 data-filtro-select" id="area-lista" data-filtro-select='6' onchange="/*buscarReguistros()*/">
                        <option value="0"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Puesto de trabajo</span>
                    <select name="" class="form-control select2 data-filtro-select" id="puesto-de-trabajo" data-filtro-select='7' onchange="/*buscarReguistros()*/">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Documento</span>
                    <input type="text" class="form-control data-filtro-general" data-filtro-general='1' id="documento" onchange="/*buscarReguistros()*/">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>ID EMO</span>
                    <input type="text" class="form-control data-filtro-calidad" data-filtro-calidad='11' id="id_emo" onkeyup="/*buscarReguistros()*/">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Planta/ubicación</span>
                    <select name="" class="form-control data-filtro-select" id="planta-list" data-filtro-select='5' onchange="/*buscarReguistros()*/">
                        <option value="0"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-box">
                    <span>Buscar</span>
                    <input type="text" class="form-control data-filtro" id="buscar-list" onkeyup="/*buscarReguistros()*/">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#Calidad-de-vida" role="tab" aria-controls="pills-home" aria-selected="true">Calidad de vida</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#Conservacion-auditiva" role="tab" aria-controls="pills-profile" aria-selected="false">Conservación auditiva</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="tab" href="#Trastorno-musculo-esqueletico" role="tab" aria-controls="pills-contact" aria-selected="false">Trastorno músculo esquelético</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 mt-3">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Calidad-de-vida" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex justify-content-end mb-3">
                            <div class="d-flex align-items-center">
                                <img src="images/iconos/copia-1.svg" alt="" style="width: 22px;margin-right: 5px;">
                                <span id="cantidad"></span>
                            </div>
                            <!--<div>
                                <button onclick="$('.lista-export').toggleClass('d-none')" class="btn button ml-3" style="background: #01719d;font-weight: bold;color: #fff;height: 40px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                                <ul class="lista-export d-none">
                                    <li id="btn-export"><img src="./images/sho/download.svg" alt="" class="mr-2"> Exportar a excel</li>
                                </ul>
                            </div>-->
                        </div>
                        <div class="table-responsive">
                            <table class="table-box" id="table_calidad_de_vida" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Código VMO</th>
                                        <th>Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Gerencia</th>
                                        <th>Ubicación</th>
                                        <th>Área</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Sexo</th>
                                        <th>IMC</th>
                                        <th>Dislipedimia</th>
                                        <th>Código de EMO</th>
                                        <th>Fecha EMO</th>
                                        <th>Tipo EMO</th>
                                        <th>Nivel de seguimiento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_calidad_de_vida">
                                    <tr>
                                        <td colspan="16" class="text-center">No se ha encontrado registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination-container" class="mt-3"></div>
                    </div>
                    <div class="tab-pane fade" id="Conservacion-auditiva" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex justify-content-end mb-3">
                            <div class="d-flex align-items-center">
                                <img src="images/iconos/copia-1.svg" alt=""  style="width: 22px;margin-right: 5px;">
                                <span id="cantidad2"></span>
                            </div>
                            <!--<div>
                                <button onclick="$('.lista-export').toggleClass('d-none')" class="btn button ml-3" style="background: #01719d;font-weight: bold;color: #fff;height: 40px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                                <ul class="lista-export d-none">
                                    <li id="btn-export2"><img src="./images/sho/download.svg" alt="" class="mr-2"> Exportar a excel</li>
                                </ul>
                            </div>-->
                        </div>
                        <div class="table-responsive">
                            <table class="table-box" id="table_conservacion_auditiva" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Código VMO</th>
                                        <th>Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Gerencia</th>
                                        <th>Ubicación</th>
                                        <th>Área</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Fecha EMO</th>
                                        <th>Tipo EMO</th>
                                        <th>Exposición a ruido</th>
                                        <th>Nivel de exposición</th>
                                        <th>STS oido derecho</th>
                                        <th>STS oido izquierdo</th>
                                        <th>Diagnóstico</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_conservacion_auditiva">
                                    <tr>
                                        <td colspan="16" class="text-center">No se ha encontrado registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination-container2" class="mt-3"></div>
                    </div>
                    <div class="tab-pane fade" id="Trastorno-musculo-esqueletico" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="d-flex justify-content-end mb-3">
                            <div class="d-flex align-items-center">
                                <img src="images/iconos/copia-1.svg" alt=""  style="width: 22px;margin-right: 5px;">
                                <span id="cantidad3"></span>
                            </div>
                            <!--<div>
                                <button onclick="$('.lista-export').toggleClass('d-none')" class="btn button ml-3" style="background: #01719d;font-weight: bold;color: #fff;height: 40px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                                <ul class="lista-export d-none">
                                    <li id="btn-export3"><img src="./images/sho/download.svg" alt="" class="mr-2"> Exportar a excel</li>
                                </ul>
                            </div>-->
                        </div>
                        <div class="table-responsive">
                            <table class="table-box" id="table_transtorno_musculo_esqueletico" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Código VMO</th>
                                        <th>Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Gerencia</th>
                                        <th>Ubicación</th>
                                        <th>Área</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Fecha EMO</th>
                                        <th>Tipo EMO</th>
                                        <th>Antecedentes</th>
                                        <th>Diagnóstico final</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_transtorno_musculo_esqueletico">
                                    <tr>
                                        <td colspan="16" class="text-center">No se ha encontrado registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination-container3" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none">
            <table id="listaExportCalidadVida">
                <tr>
                    <td colspan="15">Listado de registros de Vmo</td>
                </tr>
                <tr>
                    <th>Código VMO</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Ubicación</th>
                    <th>Área</th>
                    <th>Puesto</th>
                    <th>Sexo</th>
                    <th>IMC</th>
                    <th>Dislipedimia</th>
                    <th>Código de EMO</th>
                    <th>Fecha EMO</th>
                    <th>Tipo EMO</th>
                    <th>Nivel de seguimiento</th>
                </tr>
            </table>
            <table id="listaExportConservacionAuditiva">
                <tr>
                    <td colspan="15">Listado de registros de Vmo</td>
                </tr>
                <tr>
                    <th>Código VMO</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Ubicación</th>
                    <th>Área</th>
                    <th>Puesto</th>
                    <th>Fecha EMO</th>
                    <th>Tipo EMO</th>
                    <th>Exposición a ruido</th>
                    <th>Nivel de exposición</th>
                    <th>STS oido derecho</th>
                    <th>STS oido izquierdo</th>
                    <th>Diagnóstico</th>
                </tr>
            </table>
            <table id="listaExportTranstornoMusculoEsqueletico">
                <tr>
                    <td colspan="15">Listado de registros de Vmo</td>
                </tr>
                <tr>
                    <th>Código VMO</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Ubicación</th>
                    <th>Área</th>
                    <th>Tipo de trabajo</th>
                    <th>Fecha EMO</th>
                    <th>Tipo EMO</th>
                    <th>Antecedentes</th>
                    <th>Diagnóstico final</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="./view/sho-hce/vmo/js/listaVMO.js"></script>
<script>

    async function _init_documentReady() {

        await _initListaVMO();

    }

    $(document).ready(function() {

        _init_documentReady()

        //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
        //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
          $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
           $($.fn.dataTable.tables(true)).DataTable()
              .columns.adjust();
          });

        
         $('#buscar-list').on('keyup', function(){

            ObjTablaCalidadVida.search($(this).val()).draw(); 
            ObjTablaCalidadVida.draw();
            $('#cantidad').text(ObjTablaCalidadVida.page.info().recordsDisplay+' registros');

            ObjTablaConservacionAuditiva.search($(this).val()).draw(); 
            ObjTablaConservacionAuditiva.draw();
            $('#cantidad2').text(ObjTablaConservacionAuditiva.page.info().recordsDisplay+' registros');

            ObjTablaTranstorno.search($(this).val()).draw(); 
            ObjTablaTranstorno.draw();
            $('#cantidad3').text(ObjTablaTranstorno.page.info().recordsDisplay+' registros');

        });

        $('.data-filtro-general').on('keyup', function(){

            let valor = $(this).val();

            ObjTablaCalidadVida.column(parseInt($(this).attr('data-filtro-general'))).search($(this).val()); 
            ObjTablaCalidadVida.draw();
            $('#cantidad').text(ObjTablaCalidadVida.page.info().recordsDisplay+' registros');

            ObjTablaConservacionAuditiva.column(parseInt($(this).attr('data-filtro-general'))).search($(this).val()); 
            ObjTablaConservacionAuditiva.draw();
            $('#cantidad2').text(ObjTablaConservacionAuditiva.page.info().recordsDisplay+' registros');

            ObjTablaTranstorno.column(parseInt($(this).attr('data-filtro-general'))).search($(this).val()); 
            ObjTablaTranstorno.draw();
            $('#cantidad3').text(ObjTablaTranstorno.page.info().recordsDisplay+' registros');

        });

        $('.data-filtro-calidad').on('keyup', function(){

            let valor = $(this).val();

            ObjTablaCalidadVida.column(parseInt($(this).attr('data-filtro-calidad'))).search($(this).val()); 
            ObjTablaCalidadVida.draw();
            $('#cantidad').text(ObjTablaCalidadVida.page.info().recordsDisplay+' registros');

        });

        $('.data-filtro-select').on('change', function(){

            let valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

            ObjTablaCalidadVida.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false);
            ObjTablaCalidadVida.draw();
            $('#cantidad').text(ObjTablaCalidadVida.page.info().recordsDisplay+' registros');

            ObjTablaConservacionAuditiva.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false);
            ObjTablaConservacionAuditiva.draw();
            $('#cantidad2').text(ObjTablaConservacionAuditiva.page.info().recordsDisplay+' registros');

            ObjTablaTranstorno.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false);
            ObjTablaTranstorno.draw();
            $('#cantidad3').text(ObjTablaTranstorno.page.info().recordsDisplay+' registros');

        });


    });
</script>