<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">

<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-4">
                <button type="button" onclick="ImprimirCAConservacionAuditiva()" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #fff; background: #01719d">Imprimir constancia de autorización <img src="./images/printer-blanco.svg" style="width: 20px;height: 20px;margin-left: 5px;"> </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="atrasBack()" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="guardarConservacionAuditiva()"> Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_ingreso" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Adjuntar archivos</span>
            </div>
            <div class="col-md-12 mt-3">
                <div class="input_file_upload border-content">
                    <label class="btn btn-success btn-lg mb-0" for="file_upload_descanso">
                        <div class="spinner-border spinner-border-sm" id="reg_const_audi_adjuntar_archivo" role="status" style="display: none">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span> Subir archivo </span>
                        <img src="./images/sho/upload.svg" style="width:14px !important">
                    </label>
                    <input
                            type="file"
                            id="file_upload_descanso"
                            accept="application/pdf, .pdf, .doc, docx, .odf"
                            onchange="AdjuntarArchivoCA('file_upload_descanso',1)">
                </div>
            </div>
            <div class="d-none row col-md-12" id="lista-adjunto-archivos">
                <div class="col-md-12 mt-4">
                    <div class="d-flex align-items-center">
                        <div >
                            <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto-archivos-count-row"></span> registros</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table-box" id="table_adjunto-archivos">
                            <thead>
                            <tr>
                                <th style="width: 300px;">Nombre del archivo</th>
                                <th>Fecha de carga</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="content_adjunto-archivos">
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination-adjunto-archivos" class="mt-3"></div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del VMO</span>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Diagnóstico de audiometria por EMO</span>
                    <input
                            class="input_am_datos_trabajador"
                            type="text"
                            id="diagnostico_audiometria_por_emo"
                            onkeyup="setDatosConservasionAuditiva('DiagnosticoAudiometria','diagnostico_audiometria_por_emo')"
                    >
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Expuesto a ruido</span>
                    <select class="input_am_datos_trabajador" name="" id="expuestoRuido"
                            onchange="setDatosConservasionAuditiva('ExpuestoRuido','input_am_datos_trabajador')">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Nivel de exposición</span>
                    <select class="input_am_datos_trabajador" name="" id="nivelExposicion"
                            onchange="setDatosConservasionAuditiva('NivelExposicionId','nivelExposicion')"></select>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Valor</span>
                    <input
                            class="input_am_datos_trabajador"
                            type="text"
                            id="valor"
                            disabled
                    >
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Uso de EPP auditivo</span>
                    <select class="input_am_datos_trabajador" name="" id="UsoEppAuditivo" onchange="setDatosConservasionAuditiva('UsoEppAuditivo','UsoEppAuditivo')">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="input-box-secondary">
                    <span>Tipo de EPP auditivo</span>
                    <select class="input_am_datos_trabajador" name="" id="tipoEppAuditivo" onchange="setDatosConservasionAuditiva('TipoEppAuditivoId','tipoEppAuditivo')"></select>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Audiometría basal por decibeles</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-5">
                    <img src="./images/iconos/hearing-azul.svg" alt="" class="mr-3">
                    <p class="label-azul m-0">Oído izquierdo</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >2000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABI2000" onkeyup="setDatosConservasionAuditiva('ABI2000','ABI2000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >3000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABI3000" onkeyup="setDatosConservasionAuditiva('ABI3000','ABI3000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >4000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABI4000" onkeyup="setDatosConservasionAuditiva('ABI4000','ABI4000')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-5">
                    <img src="./images/iconos/hearing-amarillo.svg" alt="" class="mr-3">
                    <p class="label-amarillo m-0">Oído derecho</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >2000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABD2000" onkeyup="setDatosConservasionAuditiva('ABD2000','ABD2000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >3000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABD3000" onkeyup="setDatosConservasionAuditiva('ABD3000','ABD3000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >4000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="ABD4000" onkeyup="setDatosConservasionAuditiva('ABD4000','ABD4000')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Audiometría actual por decibeles</span>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Oído izquierdo</span>
                    <select class="input_am_datos_trabajador" name="" id="oidoIzquierdo" onchange="setDatosConservasionAuditiva('EstadoOidoIzquierdoId','oidoIzquierdo')"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Odio derecho</span>
                    <select class="input_am_datos_trabajador" name="" id="oidoDerecho" onchange="setDatosConservasionAuditiva('EstadoOidoDerechoId','oidoDerecho')"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Otros</span>
                    <select class="input_am_datos_trabajador" name="" id="otro" onchange="setDatosConservasionAuditiva('Otro','otro')">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-box-secondary">
                    <span>Detallar otros</span>
                    <input type="text" class="input_am_datos_trabajador" placeholder="Escribir...." id="detalle_otros" onkeyup="setDatosConservasionAuditiva('DetalleOtro','detalle_otros')">
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-5">
                    <img src="./images/iconos/hearing-azul.svg" alt="" class="mr-3">
                    <p class="label-azul m-0">Oído izquierdo</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >125</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI125" onkeyup="setDatosConservasionAuditiva('AAI125','AAI125')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >250</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI250" onkeyup="setDatosConservasionAuditiva('AAI250','AAI250')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >500</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI500" onkeyup="setDatosConservasionAuditiva('AAI500','AAI500')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >750</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI750" onkeyup="setDatosConservasionAuditiva('AAI750','AAI750')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >1000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI1000" onkeyup="setDatosConservasionAuditiva('AAI1000','AAI1000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >1500</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI1500" onkeyup="setDatosConservasionAuditiva('AAI1500','AAI1500')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >2000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI2000" onkeyup="setDatosConservasionAuditiva('AAI2000','AAI2000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >3000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI3000" onkeyup="setDatosConservasionAuditiva('AAI3000','AAI3000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >4000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI4000" onkeyup="setDatosConservasionAuditiva('AAI4000','AAI4000')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >6000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI6000" onkeyup="setDatosConservasionAuditiva('AAI6000','AAI6000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-azul" >8000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAI8000" onkeyup="setDatosConservasionAuditiva('AAI8000','AAI8000')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-5">
                    <img src="./images/iconos/hearing-amarillo.svg" alt="" class="mr-3">
                    <p class="label-amarillo m-0">Oído derecho</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >125</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD125" onkeyup="setDatosConservasionAuditiva('AAD125','AAD125')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >250</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD250" onkeyup="setDatosConservasionAuditiva('AAD250','AAD250')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >500</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD500" onkeyup="setDatosConservasionAuditiva('AAD500','AAD500')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >750</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD750" onkeyup="setDatosConservasionAuditiva('AAD750','AAD750')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >1000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD1000" onkeyup="setDatosConservasionAuditiva('AAD1000','AAD1000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >1500</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD1500" onkeyup="setDatosConservasionAuditiva('AAD1500','AAD1500')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >2000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD2000" onkeyup="setDatosConservasionAuditiva('AAD2000','AAD2000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >3000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD3000" onkeyup="setDatosConservasionAuditiva('AAD3000','AAD3000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >4000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD4000" onkeyup="setDatosConservasionAuditiva('AAD4000','AAD4000')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >6000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD6000" onkeyup="setDatosConservasionAuditiva('AAD6000','AAD6000')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text group-text bg-amarillo" >8000</span>
                            <input type="text" class="form-control input-control" aria-label="Username" aria-describedby="basic-addon1" id="AAD8000" onkeyup="setDatosConservasionAuditiva('AAD8000','AAD8000')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Audiometría</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>STS OD</span>
                    <input type="text" class="input_am_datos_trabajador" aria-label="Username" aria-describedby="basic-addon1" id="stsOD" disabled>
                </div>
            </div>
            <div class="col-md-9">
                <strong>Interpretación STS OD</strong>
                <p id="InterpretacionStsOD"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>STS OI</span>
                    <input type="text" class="input_am_datos_trabajador" aria-label="Username" aria-describedby="basic-addon1" id="stsOI" disabled>
                </div>
            </div>
            <div class="col-md-9">
                <strong>Interpretación STS OI</strong>
                <p id="InterpretacionStsOI"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Diagnóstico final</span>
                    <select class="input_am_datos_trabajador" name="" id="diagnostico_final" onchange="setDatosConservasionAuditiva('DiagnosticoFinal','diagnostico_final')"></select>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Pérdida monoaural</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                <span class="icon-group bg-azul">
                    <img src="./images/iconos/hearing-blanco.svg" alt="">
                </span>
                    <div class="content-select">
                        <label >Oído izquierdo</label>
                        <input type="text" class="form-control border-0" id="PerdidaMonoauralOI">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                <span class="icon-group bg-amarillo">
                    <img src="./images/iconos/hearing-blanco.svg" alt="">
                </span>
                    <div class="content-select">
                        <label >Oído derecho</label>
                        <input type="text" class="form-control border-0" id="PerdidaMonoauralOD">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-box-secondary">
                    <span>Comentarios</span>
                    <input type="text" class="input_am_datos_trabajador" placeholder="Escribir...." id="Comentarios" onkeyup="setDatosConservasionAuditiva('Comentarios','Comentarios')">
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Capacitación</span>
            </div>
            <div class="col-md-4">
                <button type="button" onclick="pdfCapacitacion();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #fff; background: #01719d">Imprimir registro de capacitación <img src="./images/printer-blanco.svg" style="width: 20px;height: 20px;margin-left: 5px;"> </button>
            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-md-3">
                <div class="input-box-secondary mb-0">
                    <span>Tema</span>
                    <input type="text" id="tema" class="submit">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-box-secondary mb-0">
                    <span>Comentario</span>
                    <input type="text" id="comentario" class="submit">
                </div>
            </div
            <div class="col-md-3 text-right">
                <button class="btn btn-success btn-lg"
                        onclick="agregarListaCapacitacionCA()">Agregar a lista
                    <img src="./images/sho/plus.svg" fill="#fff">
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_capacitacion">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_capacitacion-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_capacitacion">
                    <thead>
                    <tr>
                        <th style="width: 70px;">Nro</th>
                        <th>Tema</th>
                        <th>Comentario</th>
                        <th style="width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody id="content_capacitacion">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Adjuntar capacitación firmada</span>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="input_file_upload border-content">
                <label class="btn btn-success btn-lg" for="file_upload_archivo_capacitacion_firmada">
                    <div class="spinner-border spinner-border-sm" id="reg_cali_vida_adjuntar_archivo_capacitacion_firmada" role="status" style="display: none">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span> Subir archivo </span>
                    <img src="./images/sho/upload.svg" style="width:14px !important">
                </label>
                <input
                        type="file"
                        id="file_upload_archivo_capacitacion_firmada"
                        accept="application/pdf, .pdf, .doc, docx, .odf"
                        onchange="AdjuntarArchivoCA('file_upload_archivo_capacitacion_firmada',2)">
            </div>
        </div>
        <div class="d-none row col-md-12" id="lista-adjunto-firma">
            <div class="col-md-12 mt-4">
                <div class="d-flex align-items-center">
                    <div id="">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto_firma-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_adjunto_firma">
                        <thead>
                        <tr>
                            <th style="width: 300px;">Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="content_adjunto_firma">
                        </tbody>
                    </table>
                </div>
                <div id="adjunto_firma" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>

<script src="./view/sho-hce/vmo/js/index.js"></script>
<script src="./view/sho-hce/vmo/js/registroConservacionAuditiva.js"></script>
<script>
    _initRegistroConservacionAuditiva()
</script>