
<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-4">
                <button type="button" onclick="ImprimirCACalidadVida();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #fff; background: #01719d">Imprimir constancia de autorización <img src="./images/printer-blanco.svg" style="width: 20px;height: 20px;margin-left: 5px;"> </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="atrasBack()" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="registroCalidadDeVida()"> Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
<!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_ingreso" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                        <option value="">Calidad de vida</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
<!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Adjuntar archivos</span>
            </div>
            <div class="col-md-12 mt-3">
                <div class="input_file_upload border-content">
                    <label class="btn btn-success btn-lg" for="file_upload_descanso">
                        <div class="spinner-border spinner-border-sm" id="reg_cali_vida_adjuntar_archivo" role="status" style="display: none">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span> Subir archivo </span>
                        <img src="./images/sho/upload.svg" style="width:14px !important">
                    </label>
                    <input
                            type="file"
                            id="file_upload_descanso"
                            accept="application/pdf, .pdf, .doc, docx, .odf"
                            onchange="AdjuntarArchivo('file_upload_descanso',1)">
                </div>
            </div>
        </div>

        <div class="d-none row col-md-12" id="lista-adjunto-archivos">
            <div class="col-md-12 mt-4">
                <div class="d-flex align-items-center">
                    <div >
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto-archivos-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_adjunto-archivos">
                        <thead>
                        <tr>
                            <th style="width: 300px;">Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="content_adjunto-archivos">
                        </tbody>
                    </table>
                </div>
                <div id="pagination-adjunto-archivos" class="mt-3"></div>
            </div>
        </div>

        <hr class="mb-5 mt-4">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Datos del VMO</span>
            </div>
        </div>
        <div class="row mb-5 mt-3">
            <div class="col-md-6 item-sig-vital d-block flex-wrap">
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Presión arterial (mmHg)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <span class="m-0">Sístole</span>
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            type="number"
                                            value="0"
                                            min="0"
                                            id="reg_cali_vida_datos_sistole"
                                            onkeyup="setDatosVmoCalidadVida('PresionArterial','reg_cali_vida_datos_sistole')">
                                </div>
                            </div>
                            <div class="ml-3">
                                <span class="m-0">Diástole</span>
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            type="number"
                                            value="0"
                                            min="0"
                                            id="reg_cali_vida_datos_diastole"
                                            onkeyup="setDatosVmoCalidadVida('PresionArterialDiastole','reg_cali_vida_datos_diastole')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Peso (Kg)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control"
                                    type="number"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_peso"
                                    onkeyup="setDatosVmoCalidadVida('Peso','reg_cali_vida_datos_peso')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Glucosa (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_glucosa" onkeyup="setDatosVmoCalidadVida('Glucosa','reg_cali_vida_datos_glucosa')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>HTA</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select_reg_cali_vida_datos_HTA"
                                            id="select_reg_cali_vida_datos_HTA_si"
                                            onclick="selectClick('HTA','reg_cali_vida_datos_HTA_si','select_reg_cali_vida_datos_HTA')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" id="reg_cali_vida_datos_HTA_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select_reg_cali_vida_datos_HTA select-active"
                                            id="select_reg_cali_vida_datos_HTA_no"
                                            onclick="selectClick('HTA','reg_cali_vida_datos_HTA_no','select_reg_cali_vida_datos_HTA')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" id="reg_cali_vida_datos_HTA_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Dislipidemias</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_dislipidemias_si"
                                            class="label-radio select-reg_cali_vida_datos_dislipidemias"
                                            id="select_reg_cali_vida_datos_dislipidemias_si"
                                            onclick="selectClick('Dislipidemias','reg_cali_vida_datos_dislipidemias_si','select-reg_cali_vida_datos_dislipidemias')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_dislipidemias_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_dislipidemias_no"
                                            class="label-radio select-reg_cali_vida_datos_dislipidemias select-active"
                                            id="select_reg_cali_vida_datos_dislipidemias_no"
                                            onclick="selectClick('Dislipidemias','reg_cali_vida_datos_dislipidemias_no','select-reg_cali_vida_datos_dislipidemias')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_dislipidemias_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Frecuencia cardiaca (lpm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control"
                                    type="number"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_frecuencia_cardiaca"
                                    onkeyup="setDatosVmoCalidadVida('FrecuenciaCardiaca','reg_cali_vida_datos_frecuencia_cardiaca')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Temperatura (°C)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_temperatura"
                                   onkeyup="setDatosVmoCalidadVida('Temperatura','reg_cali_vida_datos_temperatura')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Fumador</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select-reg_cali_vida_datos_fumador"
                                            id="select_reg_cali_vida_datos_fumador_si"
                                            onclick="selectClick('Fumador','reg_cali_vida_datos_fumador_si','select-reg_cali_vida_datos_fumador')">Si</label>
                                    <input
                                            class="d-none"
                                            type="radio"
                                            name="hta"
                                            value="1"
                                            min="0"
                                            id="reg_cali_vida_datos_fumador_si"
                                            >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select-reg_cali_vida_datos_fumador select-active"
                                            id="select_reg_cali_vida_datos_fumador_no"
                                            onclick="selectClick('Fumador','reg_cali_vida_datos_fumador_no','select-reg_cali_vida_datos_fumador')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_fumador_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_fumador_select"
                                            class="form-select"
                                            style="  width:150px;" disabled
                                            onchange="setDatosVmoCalidadVida('ConsumoFumadorId','reg_cali_vida_datos_fumador_select')">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Consumo de azúcar</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_consumo_de_azucar_si"
                                           class="label-radio select-reg_cali_vida_datos_consumo_de_azucar"
                                           id="select_reg_cali_vida_datos_consumo_de_azucar_si"
                                           onclick="selectClick('ConsumoAzucar','reg_cali_vida_datos_consumo_de_azucar_si','select-reg_cali_vida_datos_consumo_de_azucar')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_consumo_de_azucar_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_consumo_de_azucar_no"
                                            class="label-radio select-reg_cali_vida_datos_consumo_de_azucar select-active"
                                            id="select_reg_cali_vida_datos_consumo_de_azucar_no"
                                            onclick="selectClick('ConsumoAzucar','reg_cali_vida_datos_consumo_de_azucar_no','select-reg_cali_vida_datos_consumo_de_azucar')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_consumo_de_azucar_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_consumo_azucar_select"
                                            class="form-select"
                                            style="  width:150px;" disabled
                                            onchange="setDatosVmoCalidadVida('ConsumoAzucarId','reg_cali_vida_datos_consumo_azucar_select')">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Actividad física</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select-reg_cali_vida_datos_actividad_fisica"
                                            id="select_reg_cali_vida_datos_actividad_fisica_si"
                                            onclick="selectClick('ActividadFisica','reg_cali_vida_datos_actividad_fisica_si','select-reg_cali_vida_datos_actividad_fisica')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_actividad_fisica_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select-reg_cali_vida_datos_actividad_fisica select-active"
                                            id="select_reg_cali_vida_datos_actividad_fisica_no"
                                            onclick="selectClick('ActividadFisica','reg_cali_vida_datos_actividad_fisica_no','select-reg_cali_vida_datos_actividad_fisica')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_actividad_fisica_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_actividad_fisica_select"
                                            class="form-select"
                                            style="  width:150px;" disabled
                                            onchange="setDatosVmoCalidadVida('ConsumoActividadFisicaId','reg_cali_vida_datos_actividad_fisica_select')">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>IMC (Kg/m2)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control text-center"
                                    type="text"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_imc" disabled
                                    >
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Talla (m)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_talla"
                                   onkeyup="setDatosVmoCalidadVida('Talla','reg_cali_vida_datos_talla')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Colesterol (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_colesterol"
                                   onkeyup="setDatosVmoCalidadVida('Colesterol','reg_cali_vida_datos_colesterol')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Sobrepeso</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si"
                                           class="label-radio select-reg_cali_vida_datos_sosbrepeso"
                                           id="select_reg_cali_vida_datos_sosbrepeso_si"
                                           onclick="selectClick('Sobrepeso','reg_cali_vida_datos_sosbrepeso_si','select-reg_cali_vida_datos_sosbrepeso')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_sosbrepeso_si"
                                           >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_sosbrepeso select-active"
                                           id="select_reg_cali_vida_datos_sosbrepeso_no"
                                           onclick="selectClick('Sobrepeso','reg_cali_vida_datos_sosbrepeso_no','select-reg_cali_vida_datos_sosbrepeso')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_sosbrepeso_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item-sig-vital d-block flex-wrap">
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span style="font-size: 13px !important;">Frecuencia respiratoria (rpm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_frecuencia_respiratoria"
                                   onkeyup="setDatosVmoCalidadVida('FrecuenciaRespiratorio','reg_cali_vida_datos_frecuencia_respiratoria')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>LDL (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_ldl"
                                   onkeyup="setDatosVmoCalidadVida('LDL','reg_cali_vida_datos_ldl')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Perímetro abdominal (cm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_perimetro_abdominal"
                                   onkeyup="setDatosVmoCalidadVida('PerimetroAbdominal','reg_cali_vida_datos_perimetro_abdominal')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Triglicéridos (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_trigliceridos"
                                   onkeyup="setDatosVmoCalidadVida('Trigliceridos','reg_cali_vida_datos_trigliceridos')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Obesidad</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_obesidad"
                                           id="select_reg_cali_vida_datos_obesidad_si"
                                           onclick="selectClick('Obesidad','reg_cali_vida_datos_obesidad_si','select-reg_cali_vida_datos_obesidad')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_obesidad_si"
                                           >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_obesidad select-active"
                                           id="select_reg_cali_vida_datos_obesidad_no"
                                           onclick="selectClick('Obesidad','reg_cali_vida_datos_obesidad_no','select-reg_cali_vida_datos_obesidad')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_obesidad_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Saturación de oxígeno (%)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_saturacion_oxigeno"
                            onkeyup="setDatosVmoCalidadVida('SaturaciondeOxigeno','reg_cali_vida_datos_saturacion_oxigeno')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Estrés</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_estress"
                                           id="select_reg_cali_vida_datos_estress_si"
                                           onclick="selectClick('Estress','reg_cali_vida_datos_estress_si','select-reg_cali_vida_datos_estress')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_estress_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_estress select-active"
                                           id="select_reg_cali_vida_datos_estress_no"
                                           onclick="selectClick('Estress','reg_cali_vida_datos_estress_no','select-reg_cali_vida_datos_estress')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_estress_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Riesgo cardiovascular</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <select name="" id="reg_cali_vida_datos_riesgo_cardiovascular_select" class="form-select" style="  width:150px;"
                                onchange="setDatosVmoCalidadVida('RiesgoCardioVascularId','reg_cali_vida_datos_riesgo_cardiovascular_select')">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>HDL (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_hdl"
                                onkeyup="setDatosVmoCalidadVida('HDL','reg_cali_vida_datos_hdl')">
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Diabetes</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_diabetes"
                                           id="select_reg_cali_vida_datos_diabetes_si"
                                           onclick="selectClick('Diabetes','reg_cali_vida_datos_diabetes_si','select-reg_cali_vida_datos_diabetes')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_diabetes_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_diabetes select-active"
                                           id="select_reg_cali_vida_datos_diabetes_no"
                                           onclick="selectClick('Diabetes','reg_cali_vida_datos_diabetes_no','select-reg_cali_vida_datos_diabetes')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_diabetes_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Alcohol</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_alcohol"
                                           id="select_reg_cali_vida_datos_alcohol_si"
                                           onclick="selectClick('Alcohol','reg_cali_vida_datos_alcohol_si','select-reg_cali_vida_datos_alcohol')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_alcohol_si" >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no" class="label-radio select-reg_cali_vida_datos_alcohol select-active"
                                           id="select_reg_cali_vida_datos_alcohol_no"
                                           onclick="selectClick('Alcohol','reg_cali_vida_datos_alcohol_no','select-reg_cali_vida_datos_alcohol')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_alcohol_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select name="" id="reg_cali_vida_datos_alcohol_select" class="form-select" style="  width:150px;" disabled
                                            onchange="setDatosVmoCalidadVida('ConsumoAlcoholId','reg_cali_vida_datos_alcohol_select')">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Otros</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_otros"
                                           id="select_reg_cali_vida_datos_otros_si"
                                           onclick="selectClick('Otros','reg_cali_vida_datos_otros_si','select-reg_cali_vida_datos_otros')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="1" min="0" id="reg_cali_vida_datos_otros_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_otros select-active"
                                           id="select_reg_cali_vida_datos_otros_no"
                                           onclick="selectClick('Otros','reg_cali_vida_datos_otros_no','select-reg_cali_vida_datos_otros')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="0" min="0" id="reg_cali_vida_datos_otros_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            disabled placeholder="Indicar"
                                            type="text"
                                            id="reg_cali_vida_datos_otros_input"
                                            style="width: 150px !important; font-size: 15px;"
                                            onkeyup="setDatosVmoCalidadVida('OtrosDetalle','reg_cali_vida_datos_otros_input')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-5 mt-4">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Hospitalización</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Fecha de inicio</span>
                    <input type="date" id="reg_cali_vida_hosp_fecha_inicio" class="submit" onchange="tiempoEstadia()">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Fecha de fin</span>
                    <input type="date" id="reg_cali_vida_hosp_fecha_fin" class="submit" onchange="tiempoEstadia()">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Tiempo de estadía</span>
                    <input type="text" id="reg_cali_vida_hosp_tiempo_estadia" class="submit">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-box-secondary">
                    <span>Motivo</span>
                    <input type="text" id="reg_cali_vida_hosp_motivo" class="submit">
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block btn-lg w-100" style="width: 200px; float: right;"
                    onclick="agregarHospitalizacion()"
                >Agregar a lista
                    <img src="./images/sho/plus.svg" fill="#fff">
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_hospitalizacion-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_hospitalizacion">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Fecha de inicio</th>
                            <th style="width: 150px;">Fecha fin</th>
                            <th style="width: 200px;">Tiempo de estadía</th>
                            <th>Motivo</th>
                            <th style="width: 30px;"></th>
                        </tr>
                    </thead>
                    <tbody id="content_hospitalizacion">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <div class="input-box-secondary">
                <span>Otros</span>
                <input type="text" id="reg_cali_vida_hosp_otros" placeholder="Escribir..." class="submit"
                       onkeyup="setDatosVmoCalidadVida('OtrosHospitalizacion','reg_cali_vida_hosp_otros')"
                >
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Otros</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 item-sig-vital flex-wrap" id="otrosSintomas">
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Medicamentos</span>
            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-md-3">
                <div class="input-box-secondary mb-0">
                    <span>Nombre de medicamento</span>
                    <input type="text" id="reg_cali_vida_hosp_nombre_de_medicamento" class="submit">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-box-secondary mb-0">
                    <span>Comentarios</span>
                    <input type="text" id="reg_cali_vida_hosp_comentarios" class="submit">
                </div>
            </div>
            <div class="col-md-5 text-right">
                <button class="btn btn-success btn-lg" onclick="AgregarListaMedicamento()">Agregar a lista
                    <img src="./images/sho/plus.svg" fill="#fff">
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_medicamento">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_medicamento-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_medicamento">
                    <thead>
                        <tr>
                            <th style="width: 70px;">Nro</th>
                            <th style="width: 200px;">Medicamento</th>
                            <th>Comentario</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody id="content_medicamento">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Capacitación</span>
            </div>
            <div class="col-md-4">
                <button onclick="pdfCapacitacion()" type="button" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #fff; background: #01719d">Imprimir registro de capacitación <img src="./images/printer-blanco.svg" style="width: 20px;height: 20px;margin-left: 5px;"> </button>
            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-md-3">
                <div class="input-box-secondary mb-0">
                    <span>Tema</span>
                    <input type="text" id="reg_cali_vida_hosp_capacitacion_tema" class="submit">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-box-secondary mb-0">
                    <span>Comentario</span>
                    <input type="text" id="reg_cali_vida_hosp_capacitacion_comentario" class="submit">
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-lg"
                        onclick="agregarListaCapacitacion()">Agregar a lista
                    <img src="./images/sho/plus.svg" fill="#fff">
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_capacitacion">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_capacitacion-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_capacitacion">
                    <thead>
                    <tr>
                        <th style="width: 70px;">Nro</th>
                        <th>Tema</th>
                        <th>Comentario</th>
                        <th style="width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody id="content_capacitacion">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Adjuntar capacitación firmada</span>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="input_file_upload border-content">
                <label class="btn btn-success btn-lg" for="file_upload_archivo_capacitacion_firmada">
                    <div class="spinner-border spinner-border-sm" id="reg_cali_vida_adjuntar_archivo_capacitacion_firmada" role="status" style="display: none">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span> Subir archivo </span>
                    <img src="./images/sho/upload.svg" style="width:14px !important">
                </label>
                <input
                        type="file"
                        id="file_upload_archivo_capacitacion_firmada"
                        accept="application/pdf, .pdf, .doc, docx, .odf"
                        onchange="AdjuntarArchivo('file_upload_archivo_capacitacion_firmada',2)">
            </div>
        </div>
        <div class="d-none row col-md-12" id="lista-adjunto-firma">
            <div class="col-md-12 mt-4">
                <div class="d-flex align-items-center">
                    <div id="">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto_firma-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_adjunto_firma">
                        <thead>
                        <tr>
                            <th style="width: 300px;">Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="content_adjunto_firma">
                        </tbody>
                    </table>
                </div>
                <div id="adjunto_firma" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
<script src="./view/sho-hce/vmo/js/index.js"></script>
<script src="./view/sho-hce/vmo/js/module.js"></script>
<script>
    _initNuevaAtencionMedica()
    _initCreateRegristroCalidadVida();
</script>