<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_ingreso" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                        <option value="">conservación auditiva</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Progreso</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_progreso-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_hospitalizacion">
                    <thead>
                    <th>Diagnóstico final</th>
                    </thead>
                    <tbody id="content_hospitalizacion">
                        <tr id="normoacusia" class="d-none">
                            <td>Normoacusia</td>
                        </tr>
                        <tr id="otras-alteraciones-oi" class="d-none">
                            <td>Otras alteraciones no debidas a ruidos oI</td>
                        </tr>
                        <tr id="trauma-acustico-od" class="d-none">
                            <td>Trauma acústico leve OD</td>
                        </tr>
                        <tr id="trauma-acustico-oi" class="d-none">
                            <td>Trauma acústico avanzado OI</td>
                        </tr>
                        <tr id="hipoacusia-por-ruido-od" class="d-none">
                            <td>Hipoacusia por ruido avanzada OD</td>
                        </tr>
                        <tr id="hipoacusia-por-ruido-oi" class="d-none">
                            <td>Hipoacusia por ruido avanzada OI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="./view/sho-hce/vmo/js/index.js"></script>
<script src="./view/sho-hce/vmo/js/progresoConservacionAuditiva.js"></script>
<script>
    _initProgresoCA()
</script>