<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_ingreso" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                        <option value="">calidad de vida</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Progreso</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_progreso-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_hospitalizacion">
                    <thead>
                        <th>Calidad de vida</th>
                    </thead>
                    <tbody id="content_hospitalizacion">
                        <tr id="precion-arterial">
                            <td>Presión arterial (mmHg)</td>
                        </tr>
                        <tr id="peso">
                            <td>Peso (Kg)</td>
                        </tr>
                        <tr id="glucosa">
                            <td>Glucosa (mg/dL)</td>
                        </tr>
                        <tr id="dislipidemia">
                            <td>Dislipidemia</td>
                        </tr>
                        <tr id="colesterol">
                            <td>Colesterol (mg/dL)</td>
                        </tr>
                        <tr id="trigliceridos">
                            <td>Triglicéridos (mg/dL)</td>
                        </tr>
                        <tr id="imc">
                            <td>IMC (Kg/m2)</td>
                        </tr>
                        <tr id="perimetro-abdominal">
                            <td>Perímetro abdominal (cm)</td>
                        </tr>
                        <tr id="hdl">
                            <td>HDL (mg/dL)</td>
                        </tr>
                        <tr id="ldl">
                            <td>LDL (mg/dL)</td>
                        </tr>
                        <tr id="riesgo-cardiaco-vascular">
                            <td>Riesgo Cardiaco Vascular</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="./view/sho-hce/vmo/js/index.js"></script>
<script src="./view/sho-hce/vmo/js/progresoCalidadVida.js"></script>
<script>
    _initProgreso()
</script>