<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">

<style>
  .cls-1 {
    fill: #000 !important;
  }

  .item-list:hover svg .cls-1 {
    fill: #fff !important;
  }

  .item-list.active svg .cls-1 {
    fill: #fff !important;
  }

  .overflow-visible {
    overflow: hidden !important;
    white-space: nowrap !important;
    white-space: initial !important;
  }
</style>


<div id="HC_datos_generales">
  <div id="sidebar">
    <div id="toggle-btn">
      <img class="inject-svg" src="./images/sho/down.svg" alt="" fill="#fff">
    </div>
    <span class="titulo">Higiene Ocupacional</span>
    <ul id="main-menu">
      <li class="item-list" id="menu_lateral302" onclick="sp3HoMenuGenaralIzquierdoEventos(302)">
        <img class="inject-svg" src="./images/sho/trazado201.svg" alt="Gestión de equipos" />
        <span>Gestión de equipos</span>
      </li>
      <li class="item-list" id="menu_lateral301" onclick="sp3HoMenuGenaralIzquierdoEventos(301)">
        <img class="inject-svg" src="./images/sho/trazado200.svg" alt="Seguimiento de controles" />
        <span>Seguimiento de controles</span>
      </li>
      <li class="item-list" id="menu_lateral303" onclick="sp3HoMenuGenaralIzquierdoEventos(303)">
        <img class="inject-svg" src="./images/medical-mask.svg" alt="" />
        <span>Protección respiratoria y auditiva</span>
      </li>
      <li class="item-list" id="menu_lateral300" onclick="sp3HoMenuGenaralIzquierdoEventos(300)">
        <img class="inject-svg" src="./images/sho/trazado219.svg" alt="Difusión de resultados de monitoreo" />
        <span class="overflow-visible">Difusión de resultados de monitoreo</span>
      </li>
    </ul>
  </div>
  <div id="page-content-sidebar" style="display:none">
  </div>
</div>
<script type="text/javascript">


  function sp3HoMenuGenaralIzquierdoEventos(idAccion) { //--------------------------------------------------- acciones y eventos de los menu lateral derecho ----------------------------------

    switch (idAccion) {

      case 300:
        $('#' + menuAnt).removeClass('active');
        $('#menu_lateral300').addClass('active');
        menuAnt = 'menu_lateral300';

        $('#page-content-sidebar').load('view/sho-hce/controlar/indexDifusion.html');
        $('#page-content-sidebar').css('display', 'block');

        break;

      //Seguimiento de Controles
      case 301:
        $('#' + menuAnt).removeClass('active');
        $('#menu_lateral301').addClass('active');
        menuAnt = 'menu_lateral301';

        $('#page-content-sidebar').load('view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/lista-seguimiento/lista-seguimiento.html');
        $('#page-content-sidebar').css('display', 'block');

        break;

      //Difusion
      case 302:
        $('#' + menuAnt).removeClass('active');
        $('#menu_lateral302').addClass('active');
        menuAnt = 'menu_lateral302';

        $('#page-content-sidebar').load('view/sho-hce/controlar/indexEquipos.html');
        $('#page-content-sidebar').css('display', 'block');

        break;

      //Proteccion Auditiva y Respiratoria
      case 303:
        $('#' + menuAnt).removeClass('active');
        $('#menu_lateral303').addClass('active');
        menuAnt = 'menu_lateral303';

        $('#page-content-sidebar').load('view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/lista-proteccion/lista-proteccion.html');
        $('#page-content-sidebar').css('display', 'block');

        break;

    }

  } //--------------------------------------------------- acciones y eventos de los menu lateral derecho ----------------------------------


  $(document).ready(function () {

    sp3HoMenuGenaralIzquierdoEventos(ControlNavHigiene);
    ControlNavHigieneModal = true;

  });



  $('#ocultar_datos_dg').click(() => {
    $('#datos_hc_general_trabajador').children().hide();
    $('.img-perfil').css('height', '75px');
    $('.img-perfil').css('width', '75px');
    $('#content_img_datos_generales').removeClass('col-md-2');
    $('#botones_datos_generales').removeClass('col-md-3');
    $('#content_img_datos_generales').addClass('col-md-1');
    $('#botones_datos_generales').addClass('col-md-4');
    $('.btn_interacciones_datos_generales').removeClass('col-md-12');
    $('.btn_interacciones_datos_generales').addClass('col-md-6');
    $('#botones_datos_generales .row').addClass('flex-row-reverse')
    $('#ocultar_datos_dg').hide();
    $('#mostrar_datos_dg').show();
  })
  $('#mostrar_datos_dg').click(() => {
    $('#datos_hc_general_trabajador').children().show();
    $('.img-perfil').css('height', '148px');
    $('.img-perfil').css('width', '148px');
    $('#content_img_datos_generales').removeClass('col-md-1');
    $('#botones_datos_generales').removeClass('col-md-4');
    $('#content_img_datos_generales').addClass('col-md-2');
    $('#botones_datos_generales').addClass('col-md-3');
    $('.btn_interacciones_datos_generales').removeClass('col-md-6');
    $('.btn_interacciones_datos_generales').addClass('col-md-12');
    $('#botones_datos_generales .row').removeClass('flex-row-reverse')
    $('#ocultar_datos_dg').show();
    $('#mostrar_datos_dg').hide();
  })
  SVGInject($(".inject-svg"));

  btnToggle = $("#sidebar");
  sidebar = $("#sidebar");
  tituloMenu = $("#sidebar .titulo").text();

  // Acortando el titulo del menu
  tituloMenuCorto = tituloMenu.split(" ").map((e) => e[0]).join("");

  setMenu();

  // Escuchando el evento del click del toggle
  btnToggle.on("mouseover mouseout", function () {
    sidebar.toggleClass("active");
    $("#toggle-btn svg").toggleClass("active");
    $("#page-content-sidebar").toggleClass("active");
    setMenu(); // Seteando el contenido del menu
  });

  // set menu



  function setMenu() {
    if (!sidebar.attr("class")) {
      $("#sidebar .titulo").text(tituloMenuCorto);
      $(".item-list span").css("display", "none");
    } else {
      $("#sidebar .titulo").text(tituloMenu);
      $(".item-list span").css("display", "flex");
    }
  }
</script>