<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link-ho.active{

  color: #8fbb02 !important;

}

.nav-link-ho.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}



</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->





    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Gestión de equipos</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>






    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="form-box">
          <span>Ubicación</span>
          <select class="form-control data-filtro-select" id="dat_sede_equipo" data-filtro-select='10'> 
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>F. Vencimiento desde</span>
          <input type="date" class="form-control data-filtro-date" id="dat_vencimiento_desde">  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>F. Vencimiento hasta</span>
          <input type="date" class="form-control data-filtro-date" id="dat_vencimiento_hasta">  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>ID Equipo</span>
          <select class="form-control data-filtro-select" id="dat_id_equipo" data-filtro-select='0'>
          </select> 
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-3">
        <div class="form-box">
          <span>Disponibilidad</span>
          <select class="form-control data-filtro-select" id="dat_disponibilidad" data-filtro-select='9'> 
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Equipo</span>
          <select class="form-control data-filtro-select" id="dat_equipo" data-filtro-select='1'> 
          </select> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-box">
          <span>Buscar</span>
          <input class="form-control data-filtro-general" type="" id="sp5ges_busq_reg_general"> 
        </div>
      </div>
    </div>        
    <!-- Fila 1 fin -->




    <!-- Busqueda de registro  -->
    
   
    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-6 p-2 mr-auto mt-4">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_equipos-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-6 p-2 mr-auto text-right">
        <button onclick="Sp5controlNavegacionHigiene(302);Sp5registrarEquipo();" type="button" class="btn btn-success btn-lg" id=""> Nuevo equipo <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
         </button>
      </div>

    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_equipos" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>ID Equipo</th>
              <th>Equipo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Serie</th>
              <th>Serie de SAP R3/BSU</th>
              <th>Serie de SAP S4/BSU</th>
              <th>Placa</th>
              <th>Activo/ Material</th>              
              <th>Disponibilidad</th> 
              <th>Ubicación actual</th> 
              <th>Persona asignada</th> 
              <th>Motivo</th> 
              <th>Fecha de calibración</th> 
              <th>Observación</th>  
              <th></th>
            </tr>
          </thead>
          <tbody id="content_equipos">  
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->



  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function Sp5registrarEquipo(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/registrarEquipo.html', 'Registrar nuevo equipo');

}

function Sp5verEquipo(IdEquipo){

  idDetalleEquipo = IdEquipo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/verEquipo.html', 'Historial del equipo');

}

function Sp5editarEquipo(IdEquipo){

  idDetalleEquipo = IdEquipo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/editarEquipo.html', 'Editar equipo');

}

function Sp5moverEquipo(IdEquipo){

  idDetalleEquipo = IdEquipo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/moverEquipo.html', 'Mover equipo');

}

var valor = 0;
var ObjTablaEquipos;

function Sp5CargarTablasEquipos(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_equipos');
  contenido.empty();

  paObj_Equipo["Equipos"].forEach((ItemEquipo) => {

    paObj_DetalleEquipoTemporal[ItemEquipo.Id] = ItemEquipo;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemEquipo.EquipoCode+"</td>";
    html_tbody += "<td>"+(ItemEquipo.EquipoName.toLowerCase()).charAt(0).toUpperCase() + (ItemEquipo.EquipoName.toLowerCase()).slice(1)+"</td>";
    html_tbody += "<td>"+ItemEquipo.Marca+"</td>";
    html_tbody += "<td>"+ItemEquipo.Modelo+"</td>";
    html_tbody += "<td>"+ItemEquipo.Serie+"</td>";
    html_tbody += "<td>"+ItemEquipo.CodSAPR3+"</td>";
    html_tbody += "<td>"+ItemEquipo.CodSAPR4+"</td>";
    html_tbody += "<td>"+ItemEquipo.Placa+"</td>";
    html_tbody += "<td>"+(parseInt(ItemEquipo.ActivoMaterial) == 1 ? 'Activo' : 'Material')+"</td>";    
    html_tbody += "<td>"+ItemEquipo.DisponibilidadName+"</td>";
    html_tbody += "<td>"+pluck_Equipo["Sedes"].find( Item => Item.Id == ItemEquipo.UbicacionSedeActual ).Description+"</td>";
    html_tbody += "<td>"+ItemEquipo.PersonaAsignadaName+"</td>";
    html_tbody += "<td>"+ItemEquipo.MotivoName+"</td>";  
    html_tbody += "<td>--</td>";
    html_tbody += "<td>"+ItemEquipo.Observaciones+"</td>";    
    html_tbody += "<td>"; 
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";   
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(302);Sp5editarEquipo("+ItemEquipo.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
    html_tbody += "&nbsp;&nbsp; Editar";
    html_tbody += "</a>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(302);Sp5verEquipo("+ItemEquipo.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(302);Sp5moverEquipo("+ItemEquipo.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/trazado795.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Mover";
    html_tbody += "</a>";    
    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaEquipos = $('#table_equipos').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de equipos', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10, 11, 12, 13, 14/*, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_equipos-count-row').text(ObjTablaEquipos.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_equipos') ) {

    $('#table_equipos').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      if (settings.nTable.id === 'table_equipos') {
        
        var iFini = document.getElementById('dat_vencimiento_desde').value;
        var iFfin = document.getElementById('dat_vencimiento_hasta').value;
        var iStartDateCol = 12;
        var iEndDateCol = 12;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        var datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        var datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }    

        return false;

      }

    }

  );



  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}




function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}



function Sp5CargaSedesAreasGerenciasEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Areas"] = response.Area;
    pluck_Equipo["Gerencias"] = response.Gerencia;
    pluck_Equipo["Sedes"] = response.Sedes;
    pluck_Equipo["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectEquipos(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Sedes
  contenido = $('#dat_disponibilidad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Disponibilidad"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Disponibilidad}</option>`)
  });


  //Cargando Select de Sedes
  contenido = $('#dat_sede_equipo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });


  //Cargando Select de Sedes
  contenido = $('#dat_id_equipo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  paObj_Equipo["Equipos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.EquipoCode}</option>`)
  });


  //Cargando Select de Sedes
  contenido = $('#dat_equipo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  var arrayControlFiltrado=[];

  paObj_Equipo["Equipos"].forEach((Item) => {

    arrayControlFiltrado.push({ 
      id: Item.Id, 
      nombre: (Item.EquipoName.toLowerCase()).charAt(0).toUpperCase() + (Item.EquipoName.toLowerCase()).slice(1)
    });

  });

  arrayControlFiltrado.sort((a,b) => a.nombre < b.nombre ? -1 : +(a.nombre > b.nombre));

  arrayControlFiltrado.forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_equipo option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.nombre) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.id}">${Item.nombre}</option>`)

    } 
    
  });

}


async function _init_Sp5Equipos() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasEquipos();
  await Sp5CargarPlucksEquipos();
  await Sp5BuscarEquipos();
  await Sp5cargarSelectEquipos();
  await Sp5CargarTablasEquipos();
  

  //Se apaga el Cargando
  hideLoading();

}

function Sp5CargarPlucksEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=ListaCombosEquipos_All";
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Disponibilidad"] = response.lista_Disponibilidad_Equipo;
    pluck_Equipo["AreaResponsable"] = response.lista_AreaResponsable;

    //console.log(pluck_Equipo["Disponibilidad"]);

  });

}

function Sp5BuscarEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=Bandeja_Equipos"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    paObj_Equipo["Equipos"] = response.Lista_bandejaEquipos;

    //console.log("paObj_Equipo[Equipos]",response);

  });

}

$(document).ready(function() {

  $('#dat_sede_equipo').select2();
  $('#dat_id_equipo').select2();
  $('#dat_disponibilidad').select2();
  $('#dat_equipo').select2();
  //$('#dat_area').select2();
  //$('#dat_puesto').select2();

  $('.select2-container').css('width', '100%');

  _init_Sp5Equipos();

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });

  $('#sp5ges_busq_reg_general').on('keyup', function(){
   
    ObjTablaEquipos.search($(this).val()).draw();
    $('#table_equipos-count-row').text(ObjTablaEquipos.page.info().recordsDisplay);

  });

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaEquipos.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_equipos-count-row').text(ObjTablaEquipos.page.info().recordsDisplay);

  });

  $('#dat_vencimiento_desde').on('keyup change', function(){

    $('#dat_vencimiento_hasta').attr("min", $('#dat_vencimiento_desde').val());
    ObjTablaEquipos.draw();
    $('#table_equipos-count-row').text(ObjTablaEquipos.page.info().recordsDisplay);

  });

  $('#dat_vencimiento_hasta').on('keyup change', function(){

    $('#dat_vencimiento_desde').attr("max", $('#dat_vencimiento_hasta').val());
    ObjTablaEquipos.draw();
    $('#table_equipos-count-row').text(ObjTablaEquipos.page.info().recordsDisplay);
    
  });


  $('.nav-link-ho').on('click',onClickSeccion);


});


function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}


function Sp5LimpiarCampos(){

  $('.data-filtro-general').val('').trigger("keyup");
  $('.data-filtro-date').val('').trigger("change");
  $('.data-filtro-select').val('').trigger("change");

}


</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>