<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link-ho.active{

  color: #8fbb02 !important;

}

.nav-link-ho.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}



</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->





    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Difusión de resultados de monitoreo</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>






    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha planificada</span>
          <input type="date" class="form-control data-filtro-date" id="dat_fecha_planificada" data-filtro-date='1'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha real</span>
          <input type="date" class="form-control data-filtro-date" id="dat_fecha_real" data-filtro-date='2'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select" id="dat_estado" data-filtro-select='5'>
            <option value="" selected></option> 
            <option value="1">Abierto</option> 
            <option value="2">Cerrado</option>  
          </select> 
        </div>
      </div>   
      <div class="col-md-3">
        <div class="form-box">
          <span>Código de reunión</span>
          <input class="form-control data-filtro" id="dat_codigo" data-filtro='0'> 
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-3">
        <div class="form-box">
          <span>Sede</span>
          <select class="form-control data-filtro-select" id="dat_sede" data-filtro-select='3'>
          </select> 
        </div>
      </div>
    </div>        
    <!-- Fila 1 fin -->




    <!-- Busqueda de registro  -->
    
   
    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-6 p-2 mr-auto mt-4">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_difusion-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-6 p-2 mr-auto text-right">
        <button onclick="Sp5controlNavegacionHigiene(300);Sp5registrarDifusion();" type="button" class="btn btn-success btn-lg" id=""> Crear nueva difusión <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
         </button>
      </div>

    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_difusion" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>Código de reunión</th>
              <th>F. Planificada</th>
              <th>F. Real</th>
              <th>Ubicación</th>
              <th>Cantidad de incidencias a reportar</th>
              <th>Estado</th>
              <th>Cantidad de participantes</th>
              <th>Cantidad de controles a implementar</th>  
              <th></th>
            </tr>
          </thead>
          <tbody id="content_difusion">    
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->



  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function Sp5registrarDifusion(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/registrarDifusion.html', 'Formulario - COD0001');

}

function Sp5verDifusion(IdDifusion){

  idDetalleDifusion = IdDifusion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/verDifusion.html', 'Detalle Formulario - '+paObj_DetalleDifusionTemporal[idDetalleDifusion].ReunionCode);

}

function Sp5editarDifusion(IdDifusion){

  idDetalleDifusion = IdDifusion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/editarDifusion.html', 'Editar Formulario - '+paObj_DetalleDifusionTemporal[idDetalleDifusion].ReunionCode);

}

var valor = 0;
var ObjTablaDifusion;

function Sp5CargarTablasDifusion(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_difusion');
  contenido.empty();

  paObj_Difusion["Difusion"].forEach((ItemDifusion) => {

    paObj_DetalleDifusionTemporal[ItemDifusion.Id] = ItemDifusion;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemDifusion.ReunionCode+"</td>";
    html_tbody += "<td>"+new Date(ItemDifusion.FechaPlanificada).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+new Date(ItemDifusion.FechaReal).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemDifusion.UbicacionDescripcion+"</td>";
    html_tbody += "<td>"+ItemDifusion.Cant_IncidentesReportar+"</td>";
    html_tbody += "<td>"+ItemDifusion.EstadoName+"</td>";
    html_tbody += "<td>"+ItemDifusion.Cant_Participantes+"</td>";
    html_tbody += "<td>"+ItemDifusion.Cant_Controles+"</td>";
    html_tbody += "<td>"; 
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(300);Sp5verDifusion("+ItemDifusion.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";

    if( ItemDifusion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(300);Sp5editarDifusion("+ItemDifusion.Id+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
      html_tbody += "&nbsp;&nbsp; Editar";
      html_tbody += "</a>";

    }
    
    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaDifusion = $('#table_difusion').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de difusión de resultados de monitoreo', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 /*, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_difusion-count-row').text(ObjTablaDifusion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_difusion') ) {

    $('#table_difusion').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  /*$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      

    }

  );*/


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}




function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}



function Sp5CargaSedesAreasGerenciasDifusion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Difusion["Areas"] = response.Area;
    pluck_Difusion["Gerencias"] = response.Gerencia;
    pluck_Difusion["Sedes"] = response.Sedes;
    pluck_Difusion["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectDifusion(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Difusion["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Deberia ser Abierto Cerrado
  contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Difusion["EstadoReunion"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado_Reunion}</option>`)
  });

}

function Sp5CargarPlucksDifusion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=CombosDifusionResultadoAll"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Difusion["EstadoReunion"] = response.lista_EstadoReunion;

  });

}

function Sp5BuscarDifusion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Bandeja_Principal_Difusion"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    paObj_Difusion["Difusion"] = response.Lista_bandejaDifusionResultados;

    console.log("paObj_Difusion[Difusion]",paObj_Difusion["Difusion"]);

    paObj_Difusion["Difusion"].forEach((ItemDifusion) => {

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Difusion["Sedes"].forEach((Item) => {

        if (Item.Id == ItemDifusion.UbicacionId) {
          ItemDifusion.UbicacionDescripcion = Item.Description;
        }

      });

    });

  });

}


async function _init_Sp5Difusion() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasDifusion();
  await Sp5CargarPlucksDifusion();
  await Sp5cargarSelectDifusion();
  await Sp5BuscarDifusion();
  await Sp5CargarTablasDifusion();

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  $('#dat_estado').select2();
  $('#dat_sede').select2();
  //$('#dat_area').select2();
  //$('#dat_puesto').select2();

  $('.select2-container').css('width', '100%');

  _init_Sp5Difusion();

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaDifusion.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_difusion-count-row').text(ObjTablaDifusion.page.info().recordsDisplay);

  });

  $('.data-filtro-date').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaDifusion.column(parseInt($(this).attr('data-filtro-date'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaDifusion.column(parseInt($(this).attr('data-filtro-date'))).search("").draw();

    }
    
    $('#table_difusion-count-row').text(ObjTablaDifusion.page.info().recordsDisplay);

  });

  $('.data-filtro').on('keyup', function(){
    
    ObjTablaDifusion.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_difusion-count-row').text(ObjTablaDifusion.page.info().recordsDisplay);

  });



  /*$('.data-filtro-select-general').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-select-incidencia'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

    ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-select-evaluacion'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });


  $('.data-filtro-general').on('keyup', function(){
    
    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-incidencia'))).search($(this).val()).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

    ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-evaluacion'))).search($(this).val()).draw();
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });

  $('.data-filtro-incidencia').on('keyup', function(){
    
    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-incidencia'))).search($(this).val()).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

  });


  $('.data-filtro-date-incidencia').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-date-incidencia'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-date-incidencia'))).search("").draw();

    }
    
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

  });


  $('.data-filtro-date-evaluacion').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-date-evaluacion'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-date-evaluacion'))).search("").draw();

    }
    
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });*/


  $('.nav-link-ho').on('click',onClickSeccion);


});


function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}


function Sp5LimpiarCampos(){

  $('.data-filtro').val('').trigger("keyup");
  $('.data-filtro-date').val('').trigger("change");
  $('.data-filtro-select').val('').trigger("change");

}


</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>