<link rel="stylesheet" href="css/sho.css">


<link href="css/select2.min.css" rel="stylesheet" />

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.select2-container .select2-selection--single .select2-selection__rendered{
  width: inherit !important;
  top: -10px !important;
  left: -15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: -15px !important;
  left: 220px !important;
}*/
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


<div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del equipo</span>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button onclick="Sp5volverIndexHigiene();" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="Sp5ConfirmarCRUDEquipo(1);"> Finalizar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Equipo</span>
          <input type="text" id="dat_equipo" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Marca</span>
          <input type="text" id="dat_marca" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Modelo</span>
          <input type="text" id="dat_modelo" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie</span>
          <input type="text" id="dat_serie" class="submit submit-limpiar">
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie de SAP R3/BSU</span>
          <input type="text" id="dat_serie_sap_r3" class="submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie de SAP S4/BSU</span>
          <input type="text" id="dat_serie_sap_s4" class="submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Placa</span>
          <input type="text" id="dat_placa" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary pb-3">
          <span>Seleccionar</span>
        </div>
        <input type="radio" name="dat_seleccionar_tipo" id="dat_tipo_activo" value="1">
        <label class="mr-3" for="dat_tipo_activo">Activo</label>
        <input type="radio" name="dat_seleccionar_tipo" id="dat_tipo_material" value="2">
        <label class="mr-3" for="dat_tipo_material">Material</label>        
      </div>
    </div>




    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Disponibilidad</span>
          <select class="submit" name="" id="dat_disponibilidad" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Ubicación actual</span>
          <select class="submit submit-limpiar" name="" id="dat_ubicacion_actual">
          </select>
        </div>
      </div>      
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Persona asignada</span>
          <input type="text" id="dat_persona_asignada" class="submit submit-limpiar">
        </div>
      </div>     
    </div>



    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>ID de equipos</span>
          <input type="text" id="dat_id_equipo" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área responsable</span>
          <select class="submit submit-limpiar" name="" id="dat_area_responsable">
          </select>
        </div>
      </div>     
    </div>



    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Observaciones</span>
          <input type="text" id="dat_observaciones" class="submit-limpiar">
        </div>
      </div>
    </div>


  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});


function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}


function Sp5volverIndexHigiene(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/datosGenerales.html', 'Controlar');

}

function Sp5CargarPlucksEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=ListaCombosEquipos_All";
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Disponibilidad"] = response.lista_Disponibilidad_Equipo;
    pluck_Equipo["AreaResponsable"] = response.lista_AreaResponsable;

  });

}

function Sp5CargaSedesAreasGerenciasEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Areas"] = response.Area;
    pluck_Equipo["Gerencias"] = response.Gerencia;
    pluck_Equipo["Sedes"] = response.Sedes;
    pluck_Equipo["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectEquipos(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Sedes
  contenido = $('#dat_disponibilidad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Disponibilidad"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Disponibilidad}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_ubicacion_actual');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_area_responsable');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["AreaResponsable"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.AreaResponsable}</option>`)
  });

}

function Sp5ConfirmarCRUDEquipo(CodAccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  Swal.fire({
    title: "Finalizar creación de equipo",
    html: `
    <p>Está por finalizar la creación del equipo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDEquipo(CodAccion,1);      

    }

  });

}

function Sp5CRUDEquipo(CodAccion, IdEstado) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  /* 
  Los codigos de accion seran:
    0 Para inicializar
    1 Para confirmar o modificar
    2 Para eliminar
  */

  if(CodAccion == 0){

    data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
    data.Estado = IdEstado;
    data.CreadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.ModificadoPor = "";
    data.EquipoAreaId = 0;
    data.EquipoName = "";
    data.Marca = "";
    data.Modelo = "";
    data.Serie = "";
    data.CodSAPR3 = "";
    data.CodSAPR4 = "";
    data.Placa = "";
    data.ActivoMaterial = 0;
    data.Disponibilidad_Id = 0;
    data.UbicacionSedeActual = 0;
    data.PersonaAsignadaName = "";
    data.PersonaAsignadaDni = 0;
    data.PersonaAsignadaHash = "";
    data.Observaciones = "";    
    data.accion = 0;
    data.FechaModificacion = new Date();

  }

  if(CodAccion == 1){

    data.Id1 = idTemporalEquipo; //si es cero se crea el registro  diferente se modifica el registro
    data.Estado = IdEstado;
    data.CreadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.ModificadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.EquipoAreaId = $("#dat_area_responsable option:selected").val();
    data.EquipoName = $("#dat_equipo").val();
    data.Marca = $("#dat_marca").val();
    data.Modelo = $("#dat_modelo").val();
    data.Serie = $("#dat_serie").val();
    data.CodSAPR3 = $("#dat_serie_sap_r3").val();
    data.CodSAPR4 = $("#dat_serie_sap_s4").val();
    data.Placa = $("#dat_placa").val();
    data.ActivoMaterial = $("input[name='dat_seleccionar_tipo']:checked").val();
    data.Disponibilidad_Id = $("#dat_disponibilidad option:selected").val();
    data.UbicacionSedeActual = $("#dat_ubicacion_actual option:selected").val();
    data.PersonaAsignadaName = $("#dat_persona_asignada").val();
    data.PersonaAsignadaDni = 0;
    data.PersonaAsignadaHash = "";
    data.Observaciones = $("#dat_observaciones").val();    
    data.accion = 1;
    data.FechaModificacion = new Date();

  }

  let url = apiUrlsho+`/api/hce_Post_064_equipo?code=rgLLP9ZyuGY9akC5RrYYYhCsAHwdFju5p8gdh4/swS7fQJNQ16DETA==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    idTemporalEquipo = response.Id;

    if (CodAccion == 1) {

      EjecutarModal = true;
      TituloModal = 'Equipo creado con éxito';

    }

    if (EjecutarModal) {

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5volverIndexHigiene();

      });

    }   

  });

}

async function _init_Sp5Equipo() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CRUDEquipo(0,0); 
  await Sp5CargaSedesAreasGerenciasEquipos();
  await Sp5CargarPlucksEquipos();
  await Sp5cargarSelectEquipos();
  await Sp5BuscarTodosEquipos();
  await Sp5CargarDatosEquipo();

  //Se apaga el Cargando
  hideLoading();

}

var CantEquipos=0;

function Sp5BuscarTodosEquipos() {
  
  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=Bandeja_Equipos"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    paObj_Equipo["Equipos"] = response.Lista_bandejaEquipos;

    CantEquipos = Object.keys(paObj_Equipo["Equipos"]).length;

  });

}

function Sp5CargarDatosEquipo(){

  $('#dat_disponibilidad option').each(function(){

    if( $.trim($(this).text()) == "Operativo" ){

      $(this).prop("selected",true).trigger("change"); 

    }

  });

  $("input[id='dat_tipo_activo']").prop("checked",true);

  CantEquipos++;
  
  if( CantEquipos < 10 ){

    $('#dat_id_equipo').val("EQU000" + CantEquipos);

  }

  if( CantEquipos >= 10 && CantEquipos < 100 ){

    $('#dat_id_equipo').val("EQU00" + CantEquipos);

  }

  if( CantEquipos >= 100 && CantEquipos < 1000 ){

    $('#dat_id_equipo').val("EQU0" + CantEquipos);

  }

  if( CantEquipos >= 1000 ){

    $('#dat_id_equipo').val("EQU" + CantEquipos);

  }

}


$(document).ready(function() {

  _init_Sp5Equipo();

  $('#dat_disponibilidad').select2();
  $('#dat_ubicacion_actual').select2();
  $('#dat_area_responsable').select2();
  $('.select2-container').css('width', '100%');

  /*$('#dat_puesto').select2();
  $('#dat_area').select2();
  $('#dat_sede').select2();
  $('#dat_gerencia').select2();
  $('#dat_riesgo').select2();
  $('#dat_agente').select2();
  $('#dat_actividad').select2();
  $('#dat_epp').select2();
  $('.select2-container').css('width', '100%');

  $('.change-dosis').on('change',onCalcularDosisChange);
  $('.change-calculo-riesgo').on('change',onCalcularCalculoRiesgoChange);

  $('#dat_riesgo').on('change',onCargarAgentesChange);
  $('#dat_gerencia').on('change',onCargarSedeChange);*/

});


function Sp5LimpiarCampos(){

  $('.submit-limpiar').val('');
  //$("select.submit option[value='']").prop("selected",true);
  $('select.submit-limpiar').val('').trigger("change");
  $("input[id='dat_tipo_activo']").prop("checked",true);

}

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>