<link rel="stylesheet" href="css/sho.css">


<link href="css/select2.min.css" rel="stylesheet" />

<style>
  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10%;
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked~.checkmark {
    background-color: #8fbb02 !important;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 /* .select2-container .select2-selection--single .select2-selection__rendered {
    width: inherit !important;
    top: -10px !important;
    left: -15px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -15px !important;
    left: 220px !important;
  }*/





  /*.circle-in {
  border-radius: 50%;
  width: 21;
  height: 21;
  background: #8fbb02;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  text-align: center;
  font-size: 32px !important;
}

.circle {
  border-radius: 50%;
  width: 21;
  height: 21;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  text-align: center;
  font-size: 32px !important;
}*/

.circle img{

   content:url("./images/sho/elipse48.svg");

}

.circle-in img{

   content:url("./images/sho/grupo847.svg");

}

.circle span {

  color: #000 !important;
  font-size: 14px !important;
  margin-left: 10px !important;
  font-weight: 900 !important;
  cursor: pointer !important;

}

.circle-in span {

  color: #8fbb02 !important;
  font-size: 14px !important;
  margin-left: 10px !important;
  font-weight: 900 !important;
  cursor: pointer !important;

}




.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}


.titulo-small{

  font-size: 18px !important;

}




.nav-link-ho{

  font-size: 20px !important;
  /*min-width: max-content !important;*/

}

.nav-link-ho.active{

  color: #8fbb02 !important;

}

.nav-link-ho.active:before
{

  background-color: #8fbb02 !important;

}


.swal2-html-container{

  overflow: inherit !important;

}


</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-12 col-sm-12">
        <span class="titulo">Datos de la reunión</span>
      </div>
    </div>



    
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Código de la reunión</span>
          <input type="text" id="dat_codigo_reunion" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Ubicación</span>
          <select name="" id="dat_sede" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha plan</span>
          <input type="date" id="dat_fecha_plan" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha real</span>
          <input type="date" id="dat_fecha_real" disabled>
        </div>
      </div>
    </div>


    <div class="row"> 
     <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Estado</span>
          <input type="text" id="dat_estado" disabled>
        </div>
      </div>      
    </div>


    <hr class="mb-5 mt-4" />





    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Incidentes/ Evaluación a comunicar</span>
      </div>
    </div>



    <!-- Nav-tabs -->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-8">
            <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
              <li class="nav-item  mb-3 d-none">
                <a class="nav-link" id="salva-tab" data-toggle="tab" href="#salva" role="tab"
                  aria-controls="salva" aria-selected="true">Salva</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="ergovisor-tab" data-toggle="tab" href="#ergovisor" role="tab"
                  aria-controls="ergovisor" aria-selected="false">Ergovisor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="inspeccion-tab" data-toggle="tab" href="#inspeccion" role="tab"
                  aria-controls="inspeccion" aria-selected="false">Inspección</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="atencion-tab" data-toggle="tab" href="#atencion" role="tab"
                  aria-controls="atencion" aria-selected="false">Atenciones médicas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="monitoreo-tab" data-toggle="tab" href="#monitoreo" role="tab"
                  aria-controls="monitoreo" aria-selected="false">Monitoreo</a>
              </li>
            </ul>
          </div>


          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-info btn-lg" id=""> Exportar <img
                src="./images/sho/trazado1399.svg" alt="">
            </button>
          </div>
        </div>

        <div class="tab-content" id="myTabContent-difusion">
          <!-- Calidad-vida -->
          <div class="tab-pane fade d-none" id="salva" role="tabpanel" aria-labelledby="salva-tab">


            <div class="row justify-content-between pt-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-start">
                  <span class="titulo titulo-small">Lista elegida</span>
                </div>
              </div>
            <!-- Nro de registros -->
              <div class="col-md-6">
                <div class="d-flex justify-content-end">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_difusion_salva_elegidos-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box table-container-elegido" id="table_difusion_salva_elegidos" width="100%">
                <thead>
                  <tr>
                    <th>ID observación</th>
                    <th>Tipo</th>
                    <th>Unidad operativa</th>
                    <th>Embarcación</th>
                    <th>Área</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Criticidad</th>
                    <th style="width: 150px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_difusion_salva_elegidos">
                </tbody>
              </table>
            </div>








          </div>
          <!-- Calidad-vida fin-->

          <!-- Conservación auditiva -->
          <div class="tab-pane fade show active" id="ergovisor" role="tabpanel" aria-labelledby="ergovisor-tab">
            <!-- Nro de registros -->
      

            <div class="row justify-content-between pt-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-start">
                  <span class="titulo titulo-small">Lista elegida</span>
                </div>
              </div>
            <!-- Nro de registros -->
              <div class="col-md-6">
                <div class="d-flex justify-content-end">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_difusion_ergovisor_elegidos-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box table-container-elegido" id="table_difusion_ergovisor_elegidos" width="100%">
                <thead>
                  <tr>
                    <th>ID incidencia</th>
                    <th>Gerencia</th>
                    <th>Sede</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>F. Registro</th>
                    <th>Orig. de incidencia</th>
                    <th>Estado</th>
                    <th>ID evaluación</th>
                    <th>Nro de observaciones</th>
                    <th style="width: 150px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_difusion_ergovisor_elegidos">
                </tbody>
              </table>
            </div>






          </div>
          <!-- Conservación auditiva fin -->

          <!-- Transtorno-musculo -->
          <div class="tab-pane fade" id="inspeccion" role="tabpanel" aria-labelledby="inspeccion-tab">
            

            <div class="row justify-content-between pt-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-start">
                  <span class="titulo titulo-small">Lista elegida</span>
                </div>
              </div>
            <!-- Nro de registros -->
              <div class="col-md-6">
                <div class="d-flex justify-content-end">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_difusion_inspeccion_elegidos-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box table-container-elegido" id="table_difusion_inspeccion_elegidos" width="100%">
                <thead>
                  <tr>
                    <th>ID incidencia</th>
                    <th>Gerencia</th>
                    <th>Sede</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>F. Registro</th>
                    <th>Orig. de incidencia</th>
                    <th>Estado</th>
                    <th>ID evaluación</th>
                    <th>Nro de observaciones</th>
                    <th style="width: 150px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_difusion_inspeccion_elegidos">
                </tbody>
              </table>
            </div>



          </div>
          <!-- Transtorno-musculo -->

          <!-- Transtorno-musculo -->
          <div class="tab-pane fade" id="atencion" role="tabpanel" aria-labelledby="atencion-tab">
          





            <div class="row justify-content-between pt-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-start">
                  <span class="titulo titulo-small">Lista elegida</span>
                </div>
              </div>
            <!-- Nro de registros -->
              <div class="col-md-6">
                <div class="d-flex justify-content-end">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_difusion_atencion_elegidos-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box table-container-elegido" id="table_difusion_atencion_elegidos" width="100%">
                <thead>
                  <tr>
                    <th>ID Atención médica</th>
                    <th>Gerencia</th>
                    <th>Un. Ope./ Embarcación</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>F. Registro</th>
                    <th>Riesgo</th>
                    <th>Agente</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th style="width: 150px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_difusion_atencion_elegidos">
                </tbody>
              </table>
            </div>







          </div>
          <!-- Transtorno-musculo -->

          <!-- Transtorno-musculo -->
          <div class="tab-pane fade" id="monitoreo" role="tabpanel" aria-labelledby="monitoreo-tab">
            

            <div class="row justify-content-between pt-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-start">
                  <span class="titulo titulo-small">Lista elegida</span>
                </div>
              </div>
            <!-- Nro de registros -->
              <div class="col-md-6">
                <div class="d-flex justify-content-end">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_difusion_monitoreo_elegidos-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table-box table-container-elegido" id="table_difusion_monitoreo_elegidos" width="100%">
                <thead>
                  <tr>
                    <th>Gerencia</th>
                    <th>Unidad operativa</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>Agente evaluado</th>
                    <th>ID evaluación</th>
                    <th>F. Ejecución</th>
                    <th>Estado</th>
                    <th>Intensidad del agente global</th>
                    <th>Nivel de riesgo global</th>
                    <th>ID Tarea de monitoreo</th>
                    <th style="width: 150px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_difusion_monitoreo_elegidos">
                </tbody>
              </table>
            </div>





          </div>
          <!-- Transtorno-musculo -->
        </div>

      </div>
    </div>
    <!-- Nav-tabs -->








    <hr class="mb-5 mt-4" />


    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Lista de participantes</span>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-6">
        <div class="d-flex justify-content-start">
          <span class="titulo titulo-small">Invitados</span>
        </div>
      </div>
    <!-- Nro de registros -->
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_difusion_invitados-count-row">0</span> registros</span>
        </div>
      </div>
    </div>

    <div class="table-responsive mb-5">
      <table class="table-box table-container-invitado" id="table_difusion_invitados" width="100%">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Gerencia</th>
            <th>Unidad</th>
            <th>Área</th>
            <th style="width: 150px !important;"></th>
          </tr>
        </thead>
        <tbody id="content_difusion_invitados">
        </tbody>
      </table>
    </div>



    <hr class="mb-5 mt-4" />



    <div class="row mb-4 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Definición de controles</span>
      </div>
    </div>

    <div class="row div-controles">
      <div class="table-responsive">
        <table class="table-box" id="table_controles" width="100%">
          <thead>
            <tr>
              <th>Código de control</th>
              <th>Estatus</th>
              <th>Origen de incidente</th>
              <th>Código de incidente</th>
              <th>Control a implementar</th>
              <th>Descripción del control</th>
              <th>Área responsable</th>
              <th>Lugar específico y actividad</th>
              <th>Responsable</th>
              <th>Fecha de acuerdo</th>
              <th>Fecha propuesta</th>
            </tr>
          </thead>
          <tbody id="content_table_controles">
          </tbody>
        </table>
      </div>
    </div>

<!--
    <div class="row mb-5 div-controles">

      <div class="col-md-12">


        <div class="row mt-4">
          

          <div class="col-md-1 text-left">
            <span id="anterior_slider" class="subtitulo ml-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;"> 
              <img class="mr-2" src='./images/sho/left.svg'/>
            </span>
          </div>
          <div class="col-md-10 text-center">
            <ul class="nav nav-pills mb-2" id="container-slider-control" role="tablist" style="justify-content: center !important;">




            </ul>
          </div>

          <div class="col-md-1 text-right">
            <span id="siguiente_slider" class="subtitulo mr-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;"> 
              <img class="ml-2" src='./images/sho/right.svg'/></span>
          </div>



        </div>



      </div>

    </div>


    <div class="row div-controles">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Status</span>
          <select name="" id="dat_status_control" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Código de control</span>
          <input type="text" id="dat_codigo_control" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Origen de incidente</span>
          <select name="" id="dat_origen_control" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Código de incidente</span>
          <select name="" id="dat_codigo_incidencia_control" disabled>
            <option value="" selected>Selecciona un origen</option>
          </select>
        </div>
      </div>
    </div>



    <div class="row div-controles">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Control a implementar</span>
          <select name="" id="dat_control_implementar" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área responsable</span>
          <select name="" id="dat_area_control" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Lugar específico y actividad</span>
          <input type="text" id="dat_lugar_control" disabled>
        </div>
      </div>
    </div>



    <div class="row div-controles">
      <div class="col-md-9 col-sm-6">
        <div class="input-box-secondary">
          <span>Descripción del control</span>
          <input type="text" id="dat_descripcion_control" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Responsable</span>
          <input type="text" id="dat_responsable_control" disabled>
        </div>
      </div>
    </div>


    <div class="row div-controles">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de acuerdo</span>
          <input type="date" id="dat_fecha_acuerdo_control" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha propuesta</span>
          <input type="date" id="dat_fecha_propuesta_control" disabled>
        </div>
      </div>
    </div>
-->



    <div class="row div-empty-controles">

      <div class="col-md-12">

        <div class="alert alert-danger mt-4" role="alert">
          No Existen registros
          <span>
            <img src="./images/sho/advertencia.svg" alt="" width="18px">
          </span>
        </div>

      </div>
 
    </div>



    <div class="row mb-5 d-flex align-items-center mt-5">
      <div class="col-md-12">
        <span class="titulo">Comentarios</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Escribir un comentario</span>
          <input type="text" id="dat_comentario" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Cantidad de controles creados</span>
          <input type="text" id="dat_cantidad_controles" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span style="font-size: 12px !important;">Cantidad de incidentes seleccionados</span>
          <input type="text" id="dat_cantidad_incidentes" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Cantidad de participantes</span>
          <input type="text" id="dat_cantidad_participantes" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Cantidad de asistentes</span>
          <input type="text" id="dat_cantidad_asistentes" disabled>
        </div>
      </div>
    </div>







  </div>

</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

  $(document).ready(() => {

    SVGInject($(".inject-svg"));

  });

  var CantidadControles = 0;
  var CantidadInvitados = 0;
  var CantidadAsistentes = 0;
  var CantidadIncidentes = 0;

  function cargarFechaHoy() {

    var fecha = new Date(); //Fecha actual
    var mes = fecha.getMonth() + 1; //obteniendo mes
    var dia = fecha.getDate(); //obteniendo dia
    var ano = fecha.getFullYear(); //obteniendo año

    if (dia < 10) {
      dia = '0' + dia; //agrega cero si el menor de 10
    }

    if (mes < 10) {
      mes = '0' + mes //agrega cero si el menor de 10
    }

    return (ano + "-" + mes + "-" + dia);

  }


  function Sp5volverIndexHigiene() {


    handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/datosGenerales.html', 'Controlar');

  }

  var ObjTablaDifusionSalvaElegidos;
  var ObjTablaDifusionErgovisorElegidos;
  var ObjTablaDifusionInspeccionElegidos;
  var ObjTablaDifusionAtencionElegidos;
  var ObjTablaDifusionMonitoreoElegidos;
  var ObjTablaDifusionInvitados;

  function Sp5CargarTablasDifusionElegido() {

    let contenido = '';
    let html_tbody = '';
    let ContadorFila = 0;

    //ESTO ES PARA ERGOVISOR INCIDENCIAS ELEGIDAS
    if ( $.fn.DataTable.isDataTable('#table_difusion_ergovisor_elegidos') ) {

      ObjTablaDifusionErgovisorElegidos.destroy(); 

    }

    contenido = $('#content_difusion_ergovisor_elegidos');
    contenido.empty();

    $('#content_difusion_ergovisor_resultado').find("div.circle-in").removeClass("circle-in").addClass("circle");

    paObj_Difusion["IncidenciaErgovisorEvaluacionElegido"].forEach((ItemIncidenciaErgovisorEvaluacionElegido) => {

      $('#content_difusion_ergovisor_resultado').find(".td-resultado[data-info='"+ItemIncidenciaErgovisorEvaluacionElegido.Id+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.CodigoIncidencia+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemIncidenciaErgovisorEvaluacionElegido.B_GerenciaId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemIncidenciaErgovisorEvaluacionElegido.B_SedeId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemIncidenciaErgovisorEvaluacionElegido.B_AreaId ).Description+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.B_PuestoTrabajo+"</td>";
      html_tbody += "<td>"+new Date(ItemIncidenciaErgovisorEvaluacionElegido.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.OrigenIncidencia+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.EstadoName+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.CodeEvaluacion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacionElegido.NumOservaciones+"</td>";
      html_tbody += "<td class='td-resultado' data-details='"+ItemIncidenciaErgovisorEvaluacionElegido.CodigoIncidencia+"' data-info='"+ItemIncidenciaErgovisorEvaluacionElegido.Id+"' data-type='2' data-elegida='"+ItemIncidenciaErgovisorEvaluacionElegido.IdElejida+"'>"; 

      if( ItemIncidenciaErgovisorEvaluacionElegido.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Confirmado</span></div>";
        html_tbody += "</td>";

      }
      
      
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });


    paObj_Difusion["IncidenciaErgovisorIncidenciaElegido"].forEach((ItemIncidenciaErgovisorIncidenciaElegido) => {

      $('#content_difusion_ergovisor_resultado').find(".td-resultado[data-info='"+ItemIncidenciaErgovisorIncidenciaElegido.Id+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorIncidenciaElegido.CodigoIncidencia+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemIncidenciaErgovisorIncidenciaElegido.B_GerenciaId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemIncidenciaErgovisorIncidenciaElegido.B_SedeId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemIncidenciaErgovisorIncidenciaElegido.B_AreaId ).Description+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorIncidenciaElegido.B_PuestoTrabajo+"</td>";
      html_tbody += "<td>"+new Date(ItemIncidenciaErgovisorIncidenciaElegido.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorIncidenciaElegido.OrigenIncidencia+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorIncidenciaElegido.EstadoName+"</td>";
      html_tbody += "<td>"+(ItemIncidenciaErgovisorIncidenciaElegido.EvaluacionId == 0 ? '--' : ItemIncidenciaErgovisorIncidenciaElegido.CodeEvaluacion)+"</td>";
      html_tbody += "<td>"+ItemIncidenciaErgovisorIncidenciaElegido.NumOservaciones+"</td>";
      html_tbody += "<td class='td-resultado' data-details='"+ItemIncidenciaErgovisorIncidenciaElegido.CodigoIncidencia+"' data-info='"+ItemIncidenciaErgovisorIncidenciaElegido.Id+"' data-type='2' data-elegida='"+ItemIncidenciaErgovisorIncidenciaElegido.IdElejida+"'>"; 

      if( ItemIncidenciaErgovisorIncidenciaElegido.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Confirmado</span></div>";
        html_tbody += "</td>";

      }
      
      
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaDifusionErgovisorElegidos = $('#table_difusion_ergovisor_elegidos').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_difusion_ergovisor_elegidos-count-row').text(ObjTablaDifusionErgovisorElegidos.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_difusion_ergovisor_elegidos') ) {

      $('#table_difusion_ergovisor_elegidos').find('.nav-link').trigger('click');

    }

    //ESTO ES PARA INSPECCION INCIDENCIAS ELEGIDAS
    if ( $.fn.DataTable.isDataTable('#table_difusion_inspeccion_elegidos') ) {

      ObjTablaDifusionInspeccionElegidos.destroy(); 

    }

    contenido = $('#content_difusion_inspeccion_elegidos');
    contenido.empty();

    $('#content_difusion_inspeccion_resultado').find("div.circle-in").removeClass("circle-in").addClass("circle");

    paObj_Difusion["IncidenciaInspeccionElegido"].forEach((ItemIncidenciaInspeccionElegido) => {

      $('#content_difusion_inspeccion_resultado').find(".td-resultado[data-info='"+ItemIncidenciaInspeccionElegido.Id+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+ItemIncidenciaInspeccionElegido.CodigoIncidencia+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemIncidenciaInspeccionElegido.IdGerencia ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemIncidenciaInspeccionElegido.SedeId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemIncidenciaInspeccionElegido.AreaId ).Description+"</td>";
      html_tbody += "<td>"+ItemIncidenciaInspeccionElegido.PuestoTrabajo_Empresa_H+"</td>";
      html_tbody += "<td>"+new Date(ItemIncidenciaInspeccionElegido.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>--</td>";
      html_tbody += "<td>"+ItemIncidenciaInspeccionElegido.EstadoName+"</td>";
      html_tbody += "<td>--</td>";
      html_tbody += "<td>--</td>";
      html_tbody += "<td class='td-resultado' data-details='"+ItemIncidenciaInspeccionElegido.CodigoIncidencia+"' data-info='"+ItemIncidenciaInspeccionElegido.Id+"' data-type='4' data-elegida='"+ItemIncidenciaInspeccionElegido.IdElejida+"'>"; 
      
      if( ItemIncidenciaInspeccionElegido.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Confirmado</span></div>";
        html_tbody += "</td>";

      }
      
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaDifusionInspeccionElegidos = $('#table_difusion_inspeccion_elegidos').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_difusion_inspeccion_elegidos-count-row').text(ObjTablaDifusionInspeccionElegidos.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_difusion_inspeccion_elegidos') ) {

      $('#table_difusion_inspeccion_elegidos').find('.nav-link').trigger('click');

    }

    //ESTO ES PARA ATENCION INCIDENCIAS ELEGIDAS
    if ( $.fn.DataTable.isDataTable('#table_difusion_atencion_elegidos') ) {

      ObjTablaDifusionAtencionElegidos.destroy(); 

    }

    contenido = $('#content_difusion_atencion_elegidos');
    contenido.empty();

    $('#content_difusion_atencion_resultado').find("div.circle-in").removeClass("circle-in").addClass("circle");

    paObj_Difusion["IncidenciaAtencionElegido"].forEach((ItemIncidenciaAtencionElegido) => {

      $('#content_difusion_atencion_resultado').find(".td-resultado[data-info='"+ItemIncidenciaAtencionElegido.Id+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.CodigoAtencionMedica+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemIncidenciaAtencionElegido.GerenciaId_Empresa_H ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemIncidenciaAtencionElegido.PlantaId_Empresa_H ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemIncidenciaAtencionElegido.AreaId_Empresa_H ).Description+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.PuestoTrabajo_Empresa_H+"</td>";
      html_tbody += "<td>"+new Date(ItemIncidenciaAtencionElegido.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.RiesgoName+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.AgenteRiesgoName+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.A_DniPaciente+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.Nombres+"</td>";
      html_tbody += "<td>"+ItemIncidenciaAtencionElegido.Apellidos+"</td>";
      html_tbody += "<td class='td-resultado' data-details='"+ItemIncidenciaAtencionElegido.CodigoAtencionMedica+"' data-info='"+ItemIncidenciaAtencionElegido.Id+"' data-type='3' data-elegida='"+ItemIncidenciaAtencionElegido.IdElejida+"'>"; 

      if( ItemIncidenciaAtencionElegido.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Confirmado</span></div>";
        html_tbody += "</td>";

      }
      
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaDifusionAtencionElegidos = $('#table_difusion_atencion_elegidos').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_difusion_atencion_elegidos-count-row').text(ObjTablaDifusionAtencionElegidos.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_difusion_atencion_elegidos') ) {

      $('#table_difusion_atencion_elegidos').find('.nav-link').trigger('click');

    }

    //ESTO ES PARA ATENCION INCIDENCIAS ELEGIDAS
    if ( $.fn.DataTable.isDataTable('#table_difusion_monitoreo_elegidos') ) {

      ObjTablaDifusionMonitoreoElegidos.destroy(); 

    }

    contenido = $('#content_difusion_monitoreo_elegidos');
    contenido.empty();

    $('#content_difusion_monitoreo_resultado').find("div.circle-in").removeClass("circle-in").addClass("circle");

    paObj_Difusion["IncidenciaMonitoreoElegido"].forEach((ItemIncidenciaMonitoreoElegido) => {

      $('#content_difusion_monitoreo_resultado').find(".td-resultado[data-info='"+ItemIncidenciaMonitoreoElegido.IdMonitoreo+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemIncidenciaMonitoreoElegido.IdGerencia ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemIncidenciaMonitoreoElegido.IdUnidadSede ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemIncidenciaMonitoreoElegido.IdArea ).Description+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.PuestoCargoDescripcion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.AgenteDescripcion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.CodigoEvaluacion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.FechaEjecucion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.EstadoEvaluacion+"</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.IntensidadAgenteGlobal+"</td>";
      html_tbody += "<td>--</td>";
      html_tbody += "<td>"+ItemIncidenciaMonitoreoElegido.CodigoTareaMonitoreo+"</td>";
      html_tbody += "<td class='td-resultado' data-details='"+ItemIncidenciaMonitoreoElegido.CodigoTareaMonitoreo+"' data-info='"+ItemIncidenciaMonitoreoElegido.IdMonitoreo+"' data-type='5' data-elegida='"+ItemIncidenciaMonitoreoElegido.IdElejida+"'>"; 
      
      if( ItemIncidenciaMonitoreoElegido.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Confirmado</span></div>";
        html_tbody += "</td>";

      }
      
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaDifusionMonitoreoElegidos = $('#table_difusion_monitoreo_elegidos').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_difusion_monitoreo_elegidos-count-row').text(ObjTablaDifusionMonitoreoElegidos.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_difusion_monitoreo_elegidos') ) {

      $('#table_difusion_monitoreo_elegidos').find('.nav-link').trigger('click');

    }

    /*CantidadIncidentes = paObj_Difusion["IncidenciaErgovisorElegido"].length + paObj_Difusion["IncidenciaAtencionElegido"].length + paObj_Difusion["IncidenciaMonitoreoElegido"].length + paObj_Difusion["IncidenciaInspeccionElegido"].length;*/

    CantidadIncidentes = $(".table-container-elegido").find("div.circle-in").length;

    $('#dat_cantidad_incidentes').val(CantidadIncidentes);

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  }

  function Sp5CargaSedesAreasGerenciasDifusion() {

    //Se especifican los parametros para la consulta
    var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"

    var headers = {
      "apikey": constantes.apiKey
    }

    var settings = {
      "url": url,
      "method": "GET",
      "timeout": 0,
      "crossDomain": true,
      "dataType": "json",
      "headers": headers,
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      pluck_Difusion["Areas"] = response.Area;
      pluck_Difusion["Gerencias"] = response.Gerencia;
      pluck_Difusion["Sedes"] = response.Sedes;

    });

  }

  function Sp5cargarSelectDifusion() {

    let contenido = '';
    let ControlOptionSelect = false;

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Difusion["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Áreas
    contenido = $('#dat_area_control');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Difusion["Areas"].forEach((Item) => {

      ControlOptionSelect = false;

      $('#dat_area_control option').each(function () {

        if ($.trim($(this).text()) == $.trim(Item.Description)) {

          ControlOptionSelect = true;

        }

      });

      if (!ControlOptionSelect) {

        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

      }

    });

    contenido = $('#dat_status_control');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Difusion["StatusControl"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Status_Control}</option>`)
    });

    contenido = $('#dat_origen_control');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Difusion["OrigenIncidente"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Origen_Incidente}</option>`)
    });

    contenido = $('#dat_control_implementar');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Difusion["ControlImplementar"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Control_Implementar}</option>`)
    });

  }

  function Sp5BuscarIncidenciaDifusionElegidas(IdDifusion) {

    //Se especifican los parametros para la consulta
    var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Bandeja_Incidencias_Difusion_Seleccionado";

    var headers = {
      "apikey": constantes.apiKey
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "ReunionId": IdDifusion }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      paObj_Difusion["IncidenciaAtencionElegido"] = response.Lista_bandejaDifusionResultadosAtencionMedica;
      paObj_Difusion["IncidenciaErgovisorEvaluacionElegido"] = response.Lista_bandejaDifusionResultadosErgovisor;
      paObj_Difusion["IncidenciaErgovisorIncidenciaElegido"] = response.Lista_bandejaDifusionResultadosErgovisor2;
      paObj_Difusion["IncidenciaMonitoreoElegido"] = response.Lista_bandejaDifusionResultadosMonitoreo;
      paObj_Difusion["IncidenciaInspeccionElegido"] = response.Lista_bandejaDifusionResultadosInspeccion;

      console.log("elegidos",response);

    });

  }


  function Sp5BuscarInvitados(IdDifusion) {

    //Se especifican los parametros para la consulta
    var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Bandeja_participante_seleccionado";

    var headers = {
      "apikey": constantes.apiKey
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "ReunionId": IdDifusion }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      paObj_Difusion["Invitados"] = response.Lista_bandejaAsistentesResultadosErgovisor;

      console.log("Invitados",paObj_Difusion["Invitados"]);

    });

  }

  function Sp5CargarTablaInvitados() {

    let contenido = '';
    let html_tbody = '';
    let ContadorFila = 0;

    //ESTO ES PARA ATENCION INCIDENCIAS ELEGIDAS
    if ( $.fn.DataTable.isDataTable('#table_difusion_invitados') ) {

      ObjTablaDifusionInvitados.destroy(); 

    }

    contenido = $('#content_difusion_invitados');
    contenido.empty();

    $('#content_difusion_participantes').find("div.circle-in").removeClass("circle-in").addClass("circle");

    paObj_Difusion["Invitados"].forEach((ItemInvitados) => {

      $('#content_difusion_participantes').find(".td-participante[data-info='"+ItemInvitados.Id+"'] div").removeClass("circle").addClass("circle-in");

      html_tbody =  "<tr>";
      html_tbody += "<td>"+ItemInvitados.A_DniPaciente+"</td>";
      html_tbody += "<td>"+ItemInvitados.A_NombresPaciente+"</td>";
      html_tbody += "<td>"+ItemInvitados.A_ApellidosPaciente+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Gerencias"].find( Item => Item.Id == ItemInvitados.B_GerenciaId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Sedes"].find( Item => Item.Id == ItemInvitados.B_SedeId ).Description+"</td>";
      html_tbody += "<td>"+pluck_Difusion["Areas"].find( Item => Item.Id == ItemInvitados.B_AreaId ).Description+"</td>";
      html_tbody += "<td class='td-invitado' data-info='"+ItemInvitados.Id+"' data-elegida='"+ItemInvitados.Elegida+"' data-details='"+ItemInvitados.A_DniPaciente+"'>"; 

      if( ItemInvitados.Seleccionado == 0 ){

        html_tbody += "<div class='circle'><img src='./images/sho/elipse48.svg' alt=''><span>Seleccionar</span></div>";
        html_tbody += "</td>";

      }
      else
      {

        html_tbody += "<div class='circle-in'><img src='./images/sho/elipse48.svg' alt=''><span>Asistencia</span></div>";
        html_tbody += "</td>";

      }

      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaDifusionInvitados = $('#table_difusion_invitados').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_difusion_invitados-count-row').text(ObjTablaDifusionInvitados.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_difusion_invitados') ) {

      $('#table_difusion_invitados').find('.nav-link').trigger('click');

    }

    CantidadAsistentes = $(".table-container-invitado").find("div.circle-in").length;

    $('#dat_cantidad_asistentes').val(CantidadAsistentes);

    CantidadInvitados = $(".table-container-invitado").find("td.td-invitado").length;

    $('#dat_cantidad_participantes').val(CantidadInvitados);

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  }

  function Sp5BuscarControles(IdDifusion) {

    //Se especifican los parametros para la consulta
    var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Difusion_Lista_controles";

    var headers = {
      "apikey": constantes.apiKey
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "ReunionId": IdDifusion }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      paObj_Difusion["Controles"] = response.Lista_bandejaAsistentesResultadosErgovisor;

      console.log("Controles",paObj_Difusion["Controles"]);

    });

  }

function Sp5CargarPlucksDifusion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=CombosDifusionResultadoAll"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Difusion["ControlImplementar"] = response.lista_ControlImplementar;
    pluck_Difusion["OrigenIncidente"] = response.lista_OrigenIncidente;
    pluck_Difusion["StatusControl"] = response.lista_StatusControl;

  });

}


 function Sp5CargarTabsControles() {

    let contenido = '';
    let html_tbody = '';
    let Contador = 1;
    let ControlClass='';
    let ControlClassLink='';

    $('#anterior_slider').removeClass("d-none");
    $('#siguiente_slider').removeClass("d-none");
    $('.div-controles').removeClass("d-none");
    $('.div-empty-controles').removeClass("d-none");

    contenido = $('#container-slider-control');
    contenido.empty();

    paObj_Difusion["Controles"].forEach((Item) => {

      paObj_DetalleControlTemporal[Item.Id] = Item;

      html_tbody = '';
      ControlClass = 'nav-item nav-item-slider';
      ControlClassLink='nav-link nav-link-ho tab-slider';

      if( Contador == 1 ){

        ControlClass += ' active';
        ControlClassLink='nav-link nav-link-ho tab-slider active';

        if( paObj_Difusion["Controles"].length != Contador ){

          ControlClass += ' primer-slider primer-show-slider';

        }        

      }

      if( Contador != 1 && paObj_Difusion["Controles"].length == Contador ){

        ControlClass += ' ultimo-slider';

      }

      if( Contador == 3 ){

        ControlClass += ' ultimo-show-slider';

      }

      html_tbody += "<li class='"+ControlClass+"' data='"+Item.Id+"'>";
      html_tbody += "<a class='"+ControlClassLink+"' id='"+Item.Id+"-tab' data-toggle='tab' href='#tab"+Item.Id+"' role='tab' aria-controls='tab"+Item.Id+"' aria-selected='false'>Control "+ Contador +"</a>";
      html_tbody += "</li>";

      contenido.append(html_tbody);
      Contador++;

    });

    $('#anterior_slider').addClass("d-none");

    CantidadControles = paObj_Difusion["Controles"].length;

    if( CantidadControles <= 1){

      $('#siguiente_slider').addClass("d-none");

    }    

    if( CantidadControles != 0){

      $('.div-empty-controles').addClass("d-none");
      $('#container-slider-control').find("li.active").trigger("click");

    }
    else
    {

      $('.div-controles').addClass("d-none");

    }

    $('#dat_cantidad_controles').val(CantidadControles);

  }


  async function _init_Sp5Difusion(IdDifusion) {

    //Se inicia el Cargando
    showLoading();

    await Sp5CargaSedesAreasGerenciasDifusion();
    await Sp5CargarPlucksDifusion();
    await Sp5cargarSelectDifusion();

    await Sp5BuscarIncidenciaDifusionElegidas(IdDifusion);
    await Sp5CargarTablasDifusionElegido();

    await Sp5BuscarInvitados(IdDifusion);
    await Sp5CargarTablaInvitados();

    await Sp5BuscarControles(IdDifusion);
    await Sp5CargarTablaControles();
    //await Sp5CargarTabsControles();

    await Sp5CargarDifusion(IdDifusion);

    //Se apaga el Cargando
    hideLoading();

  }




var ObjTablaControles;

function Sp5CargarTablaControles(){

  let contenido = '';
  let html_tbody = '';

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_table_controles');
  contenido.empty();

  $('.div-controles').removeClass("d-none");
  $('.div-empty-controles').removeClass("d-none");

  //ESTO ES PARA CONTROLES
  if ( $.fn.DataTable.isDataTable('#table_controles') ) {

    ObjTablaControles.destroy(); 

  }

  paObj_Difusion["Controles"].forEach((ItemControl) => {

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemControl.CodeControl+"</td>";
    html_tbody += "<td>"+ItemControl.SatatusId+"</td>";
    html_tbody += "<td>"+ItemControl.Origen_IncidenteId+"</td>";
    html_tbody += "<td>"+ItemControl.CodigoIncidente+"</td>";
    html_tbody += "<td>"+ItemControl.Control_ImplementarId+"</td>";
    html_tbody += "<td>"+ItemControl.DescripcionControl+"</td>";
    html_tbody += "<td>"+ItemControl.AreaId+"</td>";
    html_tbody += "<td>"+ItemControl.LugarActividad+"</td>";
    html_tbody += "<td>"+ItemControl.ResponsableName+"</td>";
    html_tbody += "<td>"+new Date(ItemControl.FechaAcuerdo).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+new Date(ItemControl.FechaPropuesta).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaControles = $('#table_controles').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  //$('#table_controles-count-row').text(ObjTablaControles.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  CantidadControles = ObjTablaControles.rows().count();

  if( CantidadControles != 0){

    $('.div-empty-controles').addClass("d-none");

  }
  else
  {

    $('.div-controles').addClass("d-none");

  }

  $('#dat_cantidad_controles').val(CantidadControles);

}




function Sp5CargarDifusion(IdDifusion) {

  $('#dat_estado').val(paObj_DetalleDifusionTemporal[IdDifusion].EstadoName);
  $('#dat_codigo_reunion').val(paObj_DetalleDifusionTemporal[IdDifusion].ReunionCode);
  $('#dat_fecha_plan').val(paObj_DetalleDifusionTemporal[IdDifusion].FechaPlanificada.substring(0,10));
  $('#dat_fecha_real').val(paObj_DetalleDifusionTemporal[IdDifusion].FechaReal.substring(0,10));
  $('#dat_comentario').val(paObj_DetalleDifusionTemporal[IdDifusion].Comentario);
  $("#dat_sede option[value='"+paObj_DetalleDifusionTemporal[IdDifusion].UbicacionId+"']").prop("selected",true).trigger("change"); 

}

  $(document).ready(function () {

    _init_Sp5Difusion(idDetalleDifusion);

    $('#dat_sede').select2();
    $('.select2-container').css('width', '100%');

    /*$('#dat_puesto').select2();
    $('#dat_etapa').select2();
    $('#dat_cod_ges').select2();
    $('#dat_gerencia').select2();
    $('#dat_sede').select2();
    $('#dat_area').select2();
    $('#dat_zona').select2();
    $('#dat_riesgo').select2();
    $('#dat_agente').select2();
    $('#dat_tipo_evaluacion').select2();
    $('.select2-container').css('width', '100%');*/

    /*$("#dat_cod_ges").on('change', onChangeGESID);
    $('#dat_riesgo').on('change', onCargarAgentesChange);
    $('#dat_gerencia').on('change',onCargarSedeChange);

    $('#dat_agente').on('change',onCargarTipoEvaluacionChange);
    $('#dat_tipo_evaluacion').on('change',onTipoEvaluacionChange);*/

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
     $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
    });


    $('#anterior_slider').on('click',onAnteriorSliderClick);
    $('#siguiente_slider').on('click',onSiguienteSliderClick);

    $('#container-slider-control').on('click',".nav-item-slider",onElementoSliderClick);

    $(document).on('change', $("#dat_origen_control_modal"), function(element) {

      let ValoresSelectCodigoIncidente;
      let contenidoCodigoIncidente = '';
      let ControlValorSelect = '';
      let Ejecutar = false;

      if( element.target.id == "dat_origen_control_modal"){

        Ejecutar = true;
        contenidoCodigoIncidente = $('#dat_codigo_incidencia_control_modal');

      }

      if( element.target.id == "dat_origen_control"){

        Ejecutar = true;
        contenidoCodigoIncidente = $('#dat_codigo_incidencia_control');

      }



      if( $(element.target).val() == "" && Ejecutar ){

        contenidoCodigoIncidente.empty();
        Ejecutar = false;
        contenidoCodigoIncidente.append(`<option value="" selected>Selecciona un origen</option>`);

      }

      if( Ejecutar ){

        contenidoCodigoIncidente.empty();

        ValoresSelectCodigoIncidente = $('.table-container-elegido').find(".td-resultado[data-type='"+$(element.target).val()+"'] div.circle-in");

        if(parseInt(ValoresSelectCodigoIncidente.length) == 0){

          contenidoCodigoIncidente.append(`<option value="" selected>No hay incidencias</option>`);

        }
        else
        {

          contenidoCodigoIncidente.append(`<option value="" selected></option>`);

          $(".table-container-elegido .td-resultado[data-type='"+$(element.target).val()+"']").each(function() {


            if( $(this).find("div.circle-in").length != 0 ){

              contenidoCodigoIncidente.append(`<option value="${$(this).attr("data-info")}">${$(this).attr("data-details")}</option>`);

            }                    

          });

        }

        //$('#dat_codigo_incidencia_control').change();
        //$('#dat_codigo_incidencia_control_modal').change();

      }

    });


  });





function Sp5CargarDetalleControl(IdControl){

  $('#dat_descripcion_control').val(paObj_DetalleControlTemporal[IdControl].DescripcionControl);
  $('#dat_lugar_control').val(paObj_DetalleControlTemporal[IdControl].LugarActividad);
  $('#dat_codigo_control').val(paObj_DetalleControlTemporal[IdControl].CodeControl);
  $('#dat_responsable_control').val(paObj_DetalleControlTemporal[IdControl].ResponsableName);

  $("#dat_status_control option[value='"+paObj_DetalleControlTemporal[IdControl].SatatusId+"']").prop("selected",true);
  $("#dat_origen_control option[value='"+paObj_DetalleControlTemporal[IdControl].Origen_IncidenteId+"']").prop("selected",true);
  $('#dat_origen_control').change();
  $("#dat_control_implementar option[value='"+paObj_DetalleControlTemporal[IdControl].Control_ImplementarId+"']").prop("selected",true);
  $("#dat_area_control option[value='"+paObj_DetalleControlTemporal[IdControl].AreaId+"']").prop("selected",true);

  $('#dat_fecha_acuerdo_control').val(paObj_DetalleControlTemporal[IdControl].FechaAcuerdo.substring(0,10));
  $('#dat_fecha_propuesta_control').val(paObj_DetalleControlTemporal[IdControl].FechaPropuesta.substring(0,10));

  $("#dat_codigo_incidencia_control option[value='"+paObj_DetalleControlTemporal[IdControl].CodigoIncidenteId+"']").prop("selected",true);
  $('#dat_codigo_incidencia_control').change();


}

function onElementoSliderClick(){
  
  $('#container-slider-control').find("li.active").removeClass("active");
  $(this).addClass("active");

  $('#siguiente_slider').removeClass("d-none");
  $('#anterior_slider').removeClass("d-none");

  if ( $('#container-slider-control').find("li.active").prev("li").length == 0 ) {

    $('#anterior_slider').addClass("d-none");

  }

  if ( $('#container-slider-control').find("li.active").next("li").length == 0 ) {

    $('#siguiente_slider').addClass("d-none");

  }

  Sp5CargarDetalleControl($('#container-slider-control').find("li.active").attr("data"));

}

function onAnteriorSliderClick(){

  if ( $('#container-slider-control').find("li.active").prev("li").length > 0 ) {
    
    // hacer algo aquí si el elemento existe

    if( $('#container-slider-control').find("li.active").prev("li").hasClass("d-none") ){

      $('#container-slider-control').find("li.active").prev("li").removeClass("d-none");
      $('#container-slider-control').find("li.active").removeClass("primer-show-slider");
      $('#container-slider-control').find("li.active").prev("li").addClass("primer-show-slider");


      $('#container-slider-control').find("li.ultimo-show-slider").prev("li").addClass("ultimo-show-slider");
      $('#container-slider-control li.ultimo-show-slider:last').addClass("d-none");
      $('#container-slider-control li.ultimo-show-slider:last').removeClass("ultimo-show-slider");

    }

    $('#container-slider-control').find("li.active a").removeClass("active");
    $('#container-slider-control').find("li.active").prev("li").addClass("active");

    $('#container-slider-control li.active:last').removeClass("active");
    $('#container-slider-control').find("li.active a").addClass("active");

    $('#siguiente_slider').removeClass("d-none");

    if ( $('#container-slider-control').find("li.active").prev("li").length == 0 ) {

      $('#anterior_slider').addClass("d-none");

    }

  }
  else
  {
    
  }

  Sp5CargarDetalleControl($('#container-slider-control').find("li.active").attr("data"));

}

function onSiguienteSliderClick(){

  if ( $('#container-slider-control').find("li.active").next("li").length > 0 ) {
    
    // hacer algo aquí si el elemento existe

    if( $('#container-slider-control').find("li.active").next("li").hasClass("d-none") ){

      $('#container-slider-control').find("li.active").next("li").removeClass("d-none");
      $('#container-slider-control').find("li.active").removeClass("ultimo-show-slider");
      $('#container-slider-control').find("li.active").next("li").addClass("ultimo-show-slider");


      $('#container-slider-control').find("li.primer-show-slider").next("li").addClass("primer-show-slider");
      $('#container-slider-control li.primer-show-slider:first').addClass("d-none");
      $('#container-slider-control li.primer-show-slider:first').removeClass("primer-show-slider");

    }

    $('#container-slider-control').find("li.active a").removeClass("active");
    $('#container-slider-control').find("li.active").next("li").addClass("active");

    $('#container-slider-control li.active:first').removeClass("active");
    $('#container-slider-control').find("li.active a").addClass("active");

    $('#anterior_slider').removeClass("d-none");

    if ( $('#container-slider-control').find("li.active").next("li").length == 0 ) {

      $('#siguiente_slider').addClass("d-none");

    }

  }
  else
  {
    
  }

  Sp5CargarDetalleControl($('#container-slider-control').find("li.active").attr("data"));

}






</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>