<link rel="stylesheet" href="css/sho.css">


<link href="css/select2.min.css" rel="stylesheet" />

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.select2-container .select2-selection--single .select2-selection__rendered{
  width: inherit !important;
  top: -10px !important;
  left: -15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: -15px !important;
  left: 220px !important;
}*/



.input-box-secondary>span.span-motivo:first-child, .input-box-secondary>span.span-tipo:first-child {
   
    top: 2px !important;
}







/*ESTILOS DE TABLAS*/



p.p-titulo{

  font-size: 14px !important;
  color: #000000 !important;
  line-height: 20px !important;
  font-weight: 900 !important;
  text-align: left !important;

}


p.p-descripcion{

  font-size: 14px !important;
  color: #5f5f5f !important;
  line-height: 20px !important;
  font-weight: 900 !important;
  text-align: left !important;

}



#table-datos tbody tr td.td-detalle{

  padding: 0px 0px 30px 20px !important;

}




</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


<div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-8 col-sm-12">
        <span class="titulo">Datos del equipo</span>
      </div>
      <div class="col-md-4 text-right">
        <button id="btn-datos" type="button" onclick="Sp5OcultarDatos();" class="btn btn-link shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Ocultar información del equipo</button>
      </div>
    </div>


    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Equipo</span>
          <input type="text" id="dat_equipo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Marca</span>
          <input type="text" id="dat_marca" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Modelo</span>
          <input type="text" id="dat_modelo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie</span>
          <input type="text" id="dat_serie" disabled>
        </div>
      </div>      
    </div>

    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie de SAP R3/BSU</span>
          <input type="text" id="dat_serie_sap_r3" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Serie de SAP S4/BSU</span>
          <input type="text" id="dat_serie_sap_s4" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Placa</span>
          <input type="text" id="dat_placa" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary pb-3">
          <span class="span-tipo">Seleccionar</span>
        </div>
        <input type="radio" name="dat_seleccionar_tipo" id="dat_tipo_activo" class="radio-tipo" value="1" disabled>
        <label class="mr-3" for="dat_tipo_activo">Activo</label>
        <input type="radio" name="dat_seleccionar_tipo" id="dat_tipo_material" class="radio-tipo" value="2" disabled>
        <label class="mr-3" for="dat_tipo_material">Material</label>        
      </div>
    </div>




    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Disponibilidad</span>
          <select name="" id="dat_disponibilidad" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Ubicación actual</span>
          <select name="" id="dat_ubicacion_actual" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Destino</span>
          <select name="" id="dat_destino" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Persona asignada</span>
          <input type="text" id="dat_persona_asignada" disabled>
        </div>
      </div>     
    </div>



    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary pb-2">
          <span class="span-motivo">Seleccionar</span>
        </div>
        <input type="radio" name="dat_seleccionar_forma" id="dat_forma_inspeccion_inspeccion" class="radio-forma" value="2" data-info="Inspeccion" disabled>
        <label class="mr-3" for="dat_forma_inspeccion">Inspección</label>
        <input type="radio" name="dat_seleccionar_forma" id="dat_forma_calibracion_calibracion" class="radio-forma" value="3" data-info="Calibracion" disabled>
        <label class="mr-3" for="dat_forma_calibracion">Calibración</label> 
        <input type="radio" name="dat_seleccionar_forma" id="dat_forma_calibracion_operativo" class="radio-forma" value="1" data-info="Operativo" disabled>
        <label class="mr-3" for="dat_forma_operativo">Operativo</label>        
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Fecha de calibración</span>
            <input type="date" id="dat_fecha_calibracion" disabled>
          </div>
        </div>
      <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Vencimiento de calibración</span>
            <input type="date" id="dat_fecha_vencimiento_calibracion" disabled>
          </div>
        </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
            <span>Fecha de asignación</span>
            <input type="date" id="dat_fecha_asignacion" disabled>
          </div>
      </div>     
    </div>



    <div class="row div-datos mt-3">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Observaciones</span>
          <input type="text" id="dat_observaciones" disabled>
        </div>
      </div>
    </div>



    <div class="row mt-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Historial del equipo - Últimas personas responsables</span>
      </div>
    </div>

    <div class="row mt-5 d-flex align-items-center div-historial">
      <div class="col-md-12">
        


        <table id="table-datos" width="100%">          
          <tbody id="content_historial">

      
           

          </tbody>
        </table>









      </div>
    </div> 

    <div class="row div-empty-historial d-none">

      <div class="col-md-12">

        <div class="alert alert-danger mt-1" role="alert">
          No Existen registros
          <span>
            <img src="./images/sho/advertencia.svg" alt="" width="18px">
          </span>
        </div>

      </div>
 
    </div>


  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

  function Sp5OcultarDatos() {

  if( $("div.div-datos").hasClass("d-none") ){

    $("div.div-datos").removeClass("d-none");
    $("#btn-datos").text("Ocultar información del equipo");

  }
  else
  {

    $("div.div-datos").addClass("d-none");
    $("#btn-datos").text("Mostrar información del equipo");

  }

}

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});



function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}


function Sp5volverIndexHigiene(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/controlar/datosGenerales.html', 'Controlar');

}

function Sp5CargarPlucksEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=ListaCombosEquipos_All";
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Disponibilidad"] = response.lista_Disponibilidad_Equipo;
    pluck_Equipo["AreaResponsable"] = response.lista_AreaResponsable;

  });

}

function Sp5CargaSedesAreasGerenciasEquipos() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Equipo["Areas"] = response.Area;
    pluck_Equipo["Gerencias"] = response.Gerencia;
    pluck_Equipo["Sedes"] = response.Sedes;
    pluck_Equipo["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectEquipos(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Sedes
  contenido = $('#dat_disponibilidad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Disponibilidad"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Disponibilidad}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_ubicacion_actual');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_destino');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_area_responsable');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Equipo["AreaResponsable"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.AreaResponsable}</option>`)
  });

}

async function _init_Sp5Equipo(idDetalleEquipo) {

  //Se inicia el Cargando
  showLoading();

  //await Sp5CRUDGES(0,0); 
  await Sp5CargaSedesAreasGerenciasEquipos();
  await Sp5CargarPlucksEquipos();
  await Sp5cargarSelectEquipos();
  await Sp5BuscarEquipo(idDetalleEquipo);
  await Sp5BuscarMovimientosEquipo(idDetalleEquipo);
  await Sp5CargarMovimientosEquipo();
  await Sp5CargarDatosEquipo(idDetalleEquipo);  

  //Se apaga el Cargando
  hideLoading();

}

function Sp5CargarMovimientosEquipo() {

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  contenido = $('#content_historial');
  contenido.empty();

  paObj_DetalleEquipo["Movimientos"].forEach((ItemMovimiento) => {

    html_tbody =  "<tr>";
    html_tbody += "<td class='td-marca'>";
    html_tbody += "<img src='./images/sho/elipse48.svg' alt='' class='mb-5'>";
    html_tbody += "</td>";
    html_tbody += "<td class='td-detalle'>";
    html_tbody += "<p class='p-titulo mb-1'>Persona asignada</p>";
    html_tbody += "<p class='p-descripcion'>"+ItemMovimiento.PersonaAsignadaName+"</p>";
    html_tbody += "</td>";
    html_tbody += "<td class='td-detalle'>";
    html_tbody += "<p class='p-titulo mb-1'>Último destino</p>";
    html_tbody += "<p class='p-descripcion'>"+pluck_Equipo["Sedes"].find( Item => Item.Id == ItemMovimiento.SedeDestino ).Description+"</p>";
    html_tbody += "</td>";
    html_tbody += "<td class='td-detalle'>";
    html_tbody += "<p class='p-titulo mb-1'>Fecha de asignación</p>";
    html_tbody += "<p class='p-descripcion'>"+new Date(ItemMovimiento.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</p>";
    html_tbody += "</td>";
    html_tbody += "<td class='td-detalle'>";
    html_tbody += "<p class='p-titulo mb-1'>Motivo</p>";
    html_tbody += "<p class='p-descripcion'>"+pluck_Equipo["Disponibilidad"].find( Item => Item.Id == ItemMovimiento.Motivo ).MotivoName+"</p>";
    html_tbody += "</td>";
    html_tbody += "<td class='td-detalle'>";
    html_tbody += "<p class='p-titulo mb-1'>Observación</p>";
    html_tbody += "<p class='p-descripcion'>"+ItemMovimiento.ObservacionMovimento+"</p>";
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });


}

function Sp5BuscarMovimientosEquipo(IdEquipo) {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=BitacoraEquipos`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EquipoId": IdEquipo }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {
console.log(response);
    paObj_DetalleEquipo["Movimientos"] = response.Lista_MovimientoEquipos;

  });

}

function Sp5BuscarEquipo(IdEquipo) {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_equipo?code=Ig2Ma8f/CyrNW0wwjnwCQtun9H8tdjKxiJyZSfuF4H/PUKFBxAE7jg==&AccionBackend=Detalle_Equipos`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EquipoId": IdEquipo }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {
console.log(response);
    paObj_DetalleEquipo[IdEquipo] = response.Lista_DetalleEquipos[0];

  });

}

function Sp5CargarDatosEquipo(IdEquipo){

  $('#dat_equipo').val(paObj_DetalleEquipo[IdEquipo].EquipoName); 
  $('#dat_marca').val(paObj_DetalleEquipo[IdEquipo].Marca); 
  $('#dat_modelo').val(paObj_DetalleEquipo[IdEquipo].Modelo); 
  $('#dat_serie').val(paObj_DetalleEquipo[IdEquipo].Serie); 
  $('#dat_serie_sap_r3').val(paObj_DetalleEquipo[IdEquipo].CodSAPR3); 
  $('#dat_serie_sap_s4').val(paObj_DetalleEquipo[IdEquipo].CodSAPR4); 
  $('#dat_placa').val(paObj_DetalleEquipo[IdEquipo].Placa); 
  $('#dat_persona_asignada').val(paObj_DetalleEquipo[IdEquipo].PersonaAsignadaName); 
  $('#dat_id_equipo').val(paObj_DetalleEquipo[IdEquipo].EquipoCode); 
  $('#dat_observaciones').val(paObj_DetalleEquipo[IdEquipo].Observaciones);  
  $("#dat_disponibilidad option[value='"+paObj_DetalleEquipo[IdEquipo].Disponibilidad_Id+"']").prop("selected",true).trigger("change");
  $("#dat_ubicacion_actual option[value='"+paObj_DetalleEquipo[IdEquipo].UbicacionSedeActual+"']").prop("selected",true).trigger("change");
  $("#dat_area_responsable option[value='"+paObj_DetalleEquipo[IdEquipo].EquipoAreaId+"']").prop("selected",true).trigger("change");
  $(".radio-tipo[value='"+paObj_DetalleEquipo[IdEquipo].ActivoMaterial+"']").prop("checked",true);

  $(".radio-forma[value='"+paObj_DetalleEquipo[IdEquipo].Disponibilidad_Id+"']").prop("checked",true);

  if(paObj_DetalleEquipo["Movimientos"].length > 0 ){

    if( $("input[name='dat_seleccionar_forma']:checked").attr("data-info") == "Calibracion" ){

      $('#dat_fecha_calibracion').val(paObj_DetalleEquipo["Movimientos"][0].FechaCalibracion.substring(0,10));
      $('#dat_fecha_vencimiento_calibracion').val(paObj_DetalleEquipo["Movimientos"][0].FechaVencimentoCalibracion.substring(0,10));

    }
     
    $('#dat_fecha_asignacion').val(paObj_DetalleEquipo["Movimientos"][0].CreadoFecha.substring(0,10)); 

    $("#table-datos tr td.td-marca:first img").attr("src","./images/sho/grupo847.svg");


  }
  else
  {

    $('.div-historial').addClass("d-none");
    $('.div-empty-historial').removeClass("d-none");

  }

}


$(document).ready(function() {

  _init_Sp5Equipo(idDetalleEquipo);

  //_init_Sp5GES();

  /*$('#dat_puesto').select2();
  $('#dat_area').select2();
  $('#dat_sede').select2();
  $('#dat_gerencia').select2();
  $('#dat_riesgo').select2();
  $('#dat_agente').select2();
  $('#dat_actividad').select2();
  $('#dat_epp').select2();
  $('.select2-container').css('width', '100%');

  $('.change-dosis').on('change',onCalcularDosisChange);
  $('.change-calculo-riesgo').on('change',onCalcularCalculoRiesgoChange);

  $('#dat_riesgo').on('change',onCargarAgentesChange);
  $('#dat_gerencia').on('change',onCargarSedeChange);*/

});


</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>