<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="css/dataTable.css">
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/lista-monitoreo/lista-monitoreo.css">


<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->


<!-- HTML -->
<div class="main-content-ec">

  <div style="display:none">
    <div class="col-md">
      <div class="form-box">
        <span>Fecha inicio</span>
        <input type="date" class="form-control" id="min_plan">
      </div>
    </div>

    <div class="col-md">
      <div class="form-box">
        <span>Fecha inicio</span>
        <input type="date" class="form-control" id="max_plan">
      </div>
    </div>

    <div class="col-md">
      <div class="form-box">
        <span>Fecha inicio</span>
        <input type="date" class="form-control" id="min_ejec">
      </div>
    </div>

    <div class="col-md">
      <div class="form-box">
        <span>Fecha inicio</span>
        <input type="date" class="form-control" id="max_ejec">
      </div>
    </div>
  </div>


  <div>

    <!-- Nav-tabs -->
    <div class="row mb-5 mt-1">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Identificar" id="identificar-tab" data-toggle="tab" href="#"
              role="tab" aria-controls="identificarTab" aria-selected="false">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" id="evaluar-tab" data-toggle="tab" href="#" role="tab"
              aria-controls="evaluarTab" aria-selected="true">Evaluar</a>
          </li>
          <li class="nav-item">            
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="controlar-tab" data-toggle="tab" href="#"
              role="tab" aria-controls="controlarTab" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="indicador-tab" data-toggle="tab" href="#" role="tab"
              aria-controls="indicadorTab" aria-selected="false">Indicadores</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Busqueda de registro  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Monitoreo Ocupacional</span>
      </div>
    </div>

    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" id="dat_gerencia" data-placeholder="" data-filtro-select='0'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>Sede</span>
          <select class="form-control data-filtro-select" id="dat_sede" data-placeholder="" data-filtro-select='1'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select" id="dat_area" data-placeholder="" data-filtro-select='2'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <select class="form-control data-filtro-select" id="dat_puesto" data-placeholder="" data-filtro-select='3'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>Agente evaluado</span>
          <select class="form-control data-filtro-select" id="dat_agente" data-placeholder="" data-filtro-select='4'>
          </select>
        </div>
      </div>


    </div>

    <!-- Fila 2 -->
    <div class="row mb-3">

      <div class="col-md">
        <div class="form-box">
          <span>ID de GES</span>
          <select class="form-control data-filtro-select" id="dat_codigo_ges" data-placeholder=""
            data-filtro-select='5'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>ID Evaluación</span>
          <select class="form-control data-filtro-select" id="dat_codigo_evaluacion" data-placeholder=""
            data-filtro-select='6'>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>ID tarea de monitoreo</span>
          <select class="form-control data-filtro-select" id="dat_codigo_monitoreo" data-placeholder=""
            data-filtro-select='7'>
          </select>
        </div>
      </div>

      <!-- <div class="col-md">
        <div class="form-box">
          <span>ID de GES</span>
          <input class="form-control data-filtro" id="dat_codigo_ges" data-filtro='5'>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>ID Evaluación</span>
          <input class="form-control data-filtro" data-filtro='8'>
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>ID tarea de monitoreo</span>
          <input class="form-control data-filtro" data-filtro='7'>
        </div>
      </div> -->

      <div class="col-md">
        <div class="form-box">
          <span>F. Prog. Eva. Desde</span>
          <input type="date" class="form-control" id="dFechaProgDesde">
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>F. Prog. Eva. Hasta</span>
          <input type="date" class="form-control" id="dFechaProgHasta">
        </div>
      </div>

    </div>

    <!-- Fila 3 -->
    <div class="row mb-5">

      <div class="col-md">
        <div class="form-box">
          <span>F. Ejecución desde</span>
          <input type="date" class="form-control" id="dFechaInicio">
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>F. Ejecución hasta</span>
          <input type="date" class="form-control" id="dFechaFin">
        </div>
      </div>

      <div class="col-md">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select" id="dat_estado" data-placeholder="" data-filtro-select='19'>
          </select>
        </div>
      </div>

      <div class="col-md"></div>
      <div class="col-md"></div>

    </div>


    <!-- Busqueda de registro  -->

    <!-- Nro de registros -->
    <div class="row justify-content-between">

      <div class="col-md-6 p-2 mr-auto mt-4">
      </div>

      <div class="col-md-6 p-2 mr-auto text-right">
        <div class="align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
            <span class="cantidad" style="font-size: 15px">
              <span id="table_monitoreo_evaluacion-count-row"></span> registros </span>
          </div>
        </div>
      </div>

    </div>

    <!-- Table -->
    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_monitoreo_evaluacion" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>Gerencia</th>
              <th>Unidad Operativa</th>
              <th>Área</th>
              <th>Puesto de trabajo</th>
              <th>Agente Evaluado</th>
              <th>GES</th>
              <th>Zona</th>
              <th>ID Tarea de monitoreo</th>
              <th>ID Evaluación</th>
              <th>F. Programación Evaluación</th>
              <th>F. Ejecución</th>
              <th>Tipo de evaluación</th>
              <th>ID Medición</th>
              <th>Lugar de medición</th>
              <th>Intensidad del agente</th>
              <th>Nivel de riesgo</th>
              <th>Nivel de riesgo global</th>
              <th>Estado de medición</th>
              <th>Intensidad del agente global</th>
              <th>Estado de evaluación</th>
              <th></th>

            </tr>
          </thead>
          <tbody id="content_monitoreo_evaluacion">
          </tbody>
        </table>
      </div>
    </div>
    <!-- Table fin -->
  </div>

</div>


<!-- Librerias JS -->
<script src="view/sho-hce/monitoreo/evaluar/js/commonMonitoreo.js"></script>
<script src="view/sho-hce/monitoreo/evaluar/lista-monitoreo/lista-monitoreo.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>