.nav-link-ho {
  font-size: 20px !important;
}

.nav-link-ho.active {
  color: #8fbb02 !important;
}

.nav-link-ho.active:before {
  background-color: #8fbb02 !important;
}

.btn-table {
  justify-content: flex-end;
  padding-right  : 5px;
}

.dataTables_wrapper {
  padding-bottom: 15px !important;
}

.scrollbar::-webkit-scrollbar {
  width           : 2px !important;
  background-color: #ffffff !important;
  height          : 12px !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius   : 3px !important;
  background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius   : 3px !important;
  box-shadow      : 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border          : solid 1px #ededed !important;
  background-color: #f8f8f8 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0px !important;
}

table.dataTable {
  border-spacing: 0px 5px !important;
}

.select2-container {
  height: 42px !important;
  border: 0px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  top: 10px !important;
}

.dataTables_scrollHeadInner {
  width: 100% !important;
}

/* table {
  width: 100% !important;
} */