<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="css/dataTable.css">
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="./view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/css/sho.css">
<link rel="stylesheet"
    href="./view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/lista-proteccion/lista-proteccion.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->


<!-- HTML -->
<div class="main-content-ec">

    <div>

        <!-- Nav-tabs -->
        <div class="row mb-5 mt-1">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho" data-seccion="Identificar" id="identificar-tab"
                            data-toggle="tab" href="#" role="tab" aria-controls="identificarTab"
                            aria-selected="false">Identificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="evaluar-tab" data-toggle="tab"
                            href="#" role="tab" aria-controls="evaluarTab" aria-selected="false">Evaluar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho active" id="controlar-tab" data-toggle="tab" href="#" role="tab"
                            aria-controls="controlarTab" aria-selected="true">Controlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho disabled" id="indicador-tab" data-toggle="tab" href="#"
                            role="tab" aria-controls="indicadorTab" aria-selected="false">Indicadores</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Busqueda de registro  -->
        <div class="row mb-5 d-flex justify-content-between align-items-center">
            <div class="p-2 mr-auto">
                <span class="titulo">Protección respiratoria y auditiva</span>
            </div>
        </div>

        <!-- Fila 1 -->
        <div class="row mb-3">

            <div class="col-md">
                <div class="form-box">
                    <span>Gerencia</span>
                    <select class="form-control data-filtro-select" id="dat_gerencia" data-placeholder=""
                        data-filtro-select='0'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Unidad</span>
                    <select class="form-control data-filtro-select" id="dat_sede" data-placeholder=""
                        data-filtro-select='1'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Área</span>
                    <select class="form-control data-filtro-select" id="dat_area" data-placeholder=""
                        data-filtro-select='2'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Puesto de trabajo</span>
                    <select class="form-control data-filtro-select" id="dat_puesto" data-placeholder=""
                        data-filtro-select='3'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Nro de documento</span>
                    <input class="form-control data-filtro" id="sNroDocumento" data-filtro='4'>
                </div>
            </div>

        </div>

        <!-- Fila 2 -->
        <div class="row mb-3">

            <div class="col-md">
                <div class="form-box">
                    <span>Nombres</span>
                    <input class="form-control data-filtro" id="sNombre" data-filtro='5'>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Apellidos</span>
                    <input class="form-control data-filtro" id="sApellido" data-filtro='6'>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>F. Evaluación</span>
                    <input type="date" class="form-control" id="dFechaEvaluacion">
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>F. Vencimiento</span>
                    <input type="date" class="form-control" id="dFechaVencimiento">
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Estado evaluación</span>
                    <select class="form-control data-filtro-select" id="dat_estado" data-placeholder=""
                        data-filtro-select='15'>
                    </select>
                </div>
            </div>

        </div>

        <!-- Sub Nav-tabs -->
        <div class="row mb-5 mt-5">
            <div class="col-md-12">

                <div class="row mt-4">
                    <div class="col-md-12">
                        <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
                            <li class="nav-item  mb-3">
                                <a class="nav-link nav-link-tablas " data="proteccion_auditiva"
                                    id="proteccion_auditiva-tab" data-toggle="tab" href="#proteccion_auditiva"
                                    role="tab" aria-controls="proteccion_auditiva">
                                    Eva. Protección auditiva</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-tablas" data="proteccion_respiratoria"
                                    id="proteccion_respiratoria-tab" data-toggle="tab" href="#proteccion_respiratoria"
                                    role="tab" aria-controls="proteccion_respiratoria">
                                    Eva. Protección respiratoria</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content" id="myTabContent">

                    <!-- Evaluacion Proteccion auditiva -->
                    <div class="tab-pane fade" id="proteccion_auditiva" role="tabpanel"
                        aria-labelledby="proteccion_auditiva-tab">

                        <div class="row justify-content-between">
                            <!-- Nro de registros -->
                            <div class="col-md-6 p-2 mr-auto mt-4">
                                <div class="d-flex align-items-center">
                                    <div id="cant_registro">
                                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                                    </div>
                                    <span class="cantidad ml-3" style="font-size: 15px">
                                        <span id="table_proteccion_auditiva-count-row">0</span> registros</span>
                                </div>
                            </div>
                            <div class="col-md-6 p-2 mr-auto text-right">
                                <button onclick="Sp5controlNavegacionHigiene(303);fnRegistrarEva(1,true,'Registrar');"
                                    type="button" class="btn btn-success btn-lg" id="">
                                    Registrar Evaluación
                                    <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                                </button>
                            </div>

                        </div>

                        <div class="table-responsive" style="overflow-y:hidden !important;">
                            <table class="table-box table-container" id="table_proteccion_auditiva"
                                style="margin-top: 0px !important; width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Gerencia</th>
                                        <th>Unidad</th>
                                        <th>Área</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Nro de Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Código de evaluación</th>
                                        <th>Fecha de evaluación</th>
                                        <th>Fecha de vencimiento</th>
                                        <th>Tipo de protección</th>
                                        <th>Modelo de protección auditiva</th>
                                        <th>NRR izquierda</th>
                                        <th>NRR derecha</th>
                                        <th>Índice de atenuación personal</th>
                                        <th>Estado evaluación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_proteccion_auditiva">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Evaluacion Proteccion respiratoria -->
                    <div class="tab-pane fade" id="proteccion_respiratoria" role="tabpanel"
                        aria-labelledby="proteccion_respiratoria-tab">

                        <div class="row justify-content-between">
                            <!-- Nro de registros -->
                            <div class="col-md-6 p-2 mr-auto mt-4">
                                <div class="d-flex align-items-center">
                                    <div id="cant_registro">
                                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                                    </div>
                                    <span class="cantidad ml-3" style="font-size: 15px">
                                        <span id="table_proteccion_respiratoria-count-row">0</span> registros</span>
                                </div>
                            </div>
                            <div class="col-md-6 p-2 mr-auto text-right">
                                <button onclick="Sp5controlNavegacionHigiene(303);fnRegistrarEva(2,true,'Registrar');"
                                    type="button" class="btn btn-success btn-lg" id="">
                                    Registrar Evaluación
                                    <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive" style="overflow-y:hidden!important;">
                            <table class="table-box table-container" id="table_proteccion_respiratoria"
                                style="margin-top: 0px !important; width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Gerencia</th>
                                        <th>Unidad</th>
                                        <th>Área</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Nro de Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Código de evaluación</th>
                                        <th>Fecha de evaluación</th>
                                        <th>Fecha de vencimiento</th>
                                        <th>Tipo de respirador</th>
                                        <th>Modelo de protección respiratoria</th>
                                        <th>Talla del respirador</th>
                                        <th>Overal</th>
                                        <th>Aprobado</th>
                                        <th>Estado evaluación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_proteccion_respiratoria">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

</div>


<!-- Librerias JS -->
<script src="view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/js/commonProteccion.js"></script>
<script
    src="view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/lista-proteccion/lista-proteccion.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>