<!-- Boostrap multiselect -->
<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/sho.css"
/>
<link rel="stylesheet" href="view/sho-hce/sho.css" />
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css"
/>
<link rel="stylesheet" href="css/sho.css" />
<link rel="stylesheet" href="css/sweetalert2.css" />
<link href="css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/pagination.css" />
<link
  rel="stylesheet"
  href="./view/sho-hce/interconsultas_transferencias/sho.css"
/>
<link rel="stylesheet" href="css/sweetalert2.css" />
<link
  rel="stylesheet"
  href="./view/sho-hce/interconsultas_transferencias/sho.css"
/>
<link rel="stylesheet" href="css/sass/customize.css?v=3" />

<script
  type="text/javascript"
  src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"
></script>

<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/routes.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/listadoInvestigaciones.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/investigaciones/js/main.js"
></script>

<style type="text/css">
  .btn-table {
    justify-content: flex-end;
    padding-right: 5px;
  }

  .dataTables_wrapper {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar {
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: #44b5ff !important;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 3px !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
    border: solid 1px #ededed !important;
    background-color: #f8f8f8 !important;
  }

  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px !important;
  }

  table.dataTable {
    border-spacing: 0px 5px !important;
  }

  .circulo {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #707070;
  }

  .Rectngulo-16 {
    width: 55px;
    height: 55px;
    margin: 32px 80px 28px 11px;
    padding: 24.2px 20.1px 22.2px 20.1px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #01719d;
  }

  .marginrl {
    margin-left: 10px;
    margin-right: 10px;
    width: 14%;
  }

  .main-content .titulo {
    font-weight: 600;
    font-size: 20px;
    color: #254373;
  }
</style>

<div class="main-content">
  <div>
    <!-- sección busqueda de registro -->
    <!-- Título -->
    <div class="col-md-6 col-sm-12 mt-4 mb-5">
      <span class="titulo">Búsqueda de registros</span>
    </div>
    <!-- Primera fila  -->
    <div class="mb-5 d-flex justify-content-between">
      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="filtro_gerencia_list_sp5"
            >Gerencia</label
          >
          <select
            class="group-box--input"
            id="filtro_gerencia_list_sp5"
            onchange="initBusquedadFiltro()"
          >
            <option value="0"></option>
          </select>
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title-light" for="eo_sede_planta_input_sp5"
            >Sede/planta/embar</label
          >
          <select
            class="group-box--input"
            id="eo_sede_planta_input_sp5"
            onchange="initBusquedadFiltro()"
          >
            <option value="0"></option>
          </select>
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_area_input_sp5">Área</label>
          <select
            class="group-box--input"
            id="eo_area_input_sp5"
            onchange="initBusquedadFiltro()"
          >
            <option value="0"></option>
          </select>
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_documento_input_sp5"
            >Documento</label
          >
          <input
            class="group-box--input"
            id="eo_documento_input_sp5"
            onkeyup="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_nombre_input_sp5"
            >Nombres</label
          >
          <input
            class="group-box--input"
            id="eo_nombre_input_sp5"
            onkeyup="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_apellido_input_sp5"
            >Apellidos</label
          >
          <input
            class="group-box--input"
            id="eo_apellido_input_sp5"
            onkeyup="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label
            class="group-box--title-light"
            for="eo_puesto_trabajo_input_sp5"
            >Puesto de trabajo</label
          >
          <select
            class="group-box--input"
            id="eo_puesto_trabajo_input_sp5"
            onchange="initBusquedadFiltro()"
          >
            <option value="0"></option>
          </select>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_id_investigacion_input_sp5"
            >ID de investigación</label
          >
          <input
            class="group-box--input"
            id="eo_id_investigacion_input_sp5"
            onkeyup="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_id_f_registro_desde_input_sp5"
            >F. Registro desde</label
          >
          <input
            class="group-box--input"
            type="date"
            id="eo_id_f_registro_desde_input_sp5"
            onchange="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_id_f_registro_hasta_input_sp5"
            >F. Registro hasta</label
          >
          <input
            class="group-box--input"
            type="date"
            id="eo_id_f_registro_hasta_input_sp5"
            onchange="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label
            class="group-box--title"
            for="eo_id_f_inicio_investigac_input_sp5"
            >F. Inicio de investig.</label
          >
          <input
            class="group-box--input"
            type="date"
            id="eo_id_f_inicio_investigac_input_sp5"
            onchange="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_id_f_fin_investigac_input_sp5"
            >F. Fin de investig.</label
          >
          <input
            class="group-box--input"
            type="date"
            id="eo_id_f_fin_investigac_input_sp5"
            onchange="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title" for="eo_diagnostico_input_sp5"
            >Diagnóstico</label
          >
          <input
            class="group-box--input"
            id="eo_diagnostico_input_sp5"
            onkeyup="initBusquedadFiltro()"
          />
        </div>
      </div>

      <div class="grid--17 grid-md--2">
        <div class="group-box">
          <label class="group-box--title-light" for="eo_estado_input_sp5"
            >Estado</label
          >
          <select
            class="group-box--input"
            id="eo_estado_input_sp5"
            onchange="initBusquedadFiltro()"
          >
            <option value="0"></option>
            <option value="Abierto">Abierto</option>
            <option value="Cerrado">Cerrado</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Sección de pestañas -->
    <div class="mb-5 w-100">
      <div class="w-100">
        <div class="d-flex justify-content-between">
          <ul class="nav nav-pills mb-5" id="myTab-2" role="tablist">
            <li class="nav-item mb-3">
              <a
                class="nav-link active show"
                id="des_med-tab-2"
                data-toggle="tab"
                href="#des_med-2"
                role="tab"
                aria-controls="des_med-2"
                aria-selected="true"
                onclick="mostrarInvestigaciones()"
                >Investigaciones E.O.</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="transf-tab-2"
                data-toggle="tab"
                href="#transf-2"
                role="tab"
                aria-controls="transf-2"
                aria-selected="false"
                onclick="mostrarConfirmadosSp5()"
                >Casos con E.O. confirmadas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="inter_consul-tab-2"
                data-toggle="tab"
                href="#inter_consul-2"
                role="tab"
                aria-controls="inter_consul-2"
                aria-selected="false"
                onclick="mostrarSeguimientosSp5()"
                >Seguimiento de registro E.O.</a
              >
            </li>
          </ul>
          <div class="col-md-5 col-5 d-flex">
            <!-- contador lista de investigaciones -->
            <div class="col-md-4" id="cont_list_medico_ocupa_investigaciones">
              <div class="d-flex justify-content-end mt-4">
                <div id="cant_planes-2">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-1" style="font-size: 15px"
                  ><span id="cant_investigacion_eo_data_trabajador_sp5">0</span>
                  registros
                </span>
              </div>
            </div>
            <!-- contador de la segunda tabla (casos con E.O confirmado) -->
            <div
              class="col-md-4 hidden"
              id="cont_list_medico_ocupa_confirmados"
            >
              <div class="d-flex justify-content-end mt-4">
                <div id="cant_planes-2">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px"
                  ><span id="cant_invest_list_confirmadas_sp5">0</span>
                  registros
                </span>
              </div>
            </div>
            <!-- contador de seguimientos E.O -->
            <div
              class="col-md-4 hidden"
              id="cont_list_medico_ocupa_seguimientos"
            >
              <div class="d-flex justify-content-end mt-4">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px"
                  ><span id="table_sp4EnferCron_inter_consul-count-row-2"
                    >0</span
                  >
                  registros</span
                >
              </div>
            </div>
            <!-- boton para descargar documento -->
            <div class="col-md-8">
              <button
                type="button"
                class="btn btn-success btn-block btn-lg"
                onclick="showRegistroCalidad();"
              >
                Generar registro E.O.
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18px"
                  height="15"
                  fill="#fff"
                  viewBox="0 0 15 15"
                  data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
                  class="inject-svg"
                >
                  <path
                    fill="#fff"
                    d="M9.107 8.84c-.148 0-.268.12-.268.267V15H6.161V9.107c0-.148-.12-.268-.268-.268H0V6.161h5.893c.148 0 .268-.12.268-.268V0h2.678v5.893c0 .148.12.268.268.268H15v2.678H9.107z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content mt-2" id="myTabContent-2">
        <!-- listado de investigaciones -->
        <div
          class="tab-pane fade active show"
          id="des_med-2"
          role="tabpanel"
          aria-labelledby="des_med-tab-2"
        >
          <!-- investigaciones E.O. -->
          <div class="table-responsive">
            <table class="table-box">
              <thead>
                <tr>
                  <th>Documentos</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Gerencia</th>
                  <th>Sede/planta/embarcación</th>
                  <th>Area</th>
                  <th>Puesto</th>
                  <th>ID investigación</th>
                  <th>Fecha de registro</th>
                  <th>F. Inicio de investigación</th>
                  <th>F. Final de investigación</th>
                  <th>Diagnóstico</th>
                  <th>Estado</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_table_investigaciones_eo_sp5">
                <tr class="table-empty">
                  <td colspan="15" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- paginacion de tabla -->
          <div class="col-sm-12 col-md-12 d-flex justify-content-end mt-3">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="table_sp4EnferCron_transf_diagCIE102_paginate"
            >
              <ul
                class="pagination"
                id="paginacion_listado_investigaciones_eo_sp5"
              ></ul>
            </div>
          </div>
        </div>
        <!-- segunda tabla casos con E.O confirmados -->
        <div
          class="tab-pane fade"
          id="transf-2"
          role="tabpanel"
          aria-labelledby="transf-tab-2"
        >
          <!--caso con E.O. confirmados -->
          <div class="table-responsive">
            <table class="table-box" id="table_sp4EnferCron_transf-2">
              <thead>
                <tr>
                  <th>Documentos</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Gerencia</th>
                  <th>Sede/planta/embarcación</th>
                  <th>Area</th>
                  <th>Puesto</th>
                  <th>ID investigación</th>
                  <th>Fecha de registro</th>
                  <th>F. Inicio de investigación</th>
                  <th>F. Final de investigación</th>
                  <th>Nombre de la enfermedad</th>
                  <th>Cantidad de DM</th>
                  <th>Cantidad de interconsultas</th>
                  <th>Cantidad de transferencias</th>
                  <th>Seguimiento</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_list_inves_confirmados_sp5">
                <tr class="table-empty">
                  <td colspan="18" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- paginacion  -->
          <div class="col-sm-12 col-md-12 d-flex justify-content-end mt-3">
            <div class="dataTables_paginate paging_simple_numbers">
              <ul
                class="pagination"
                id="content_inv_confirmados_paginacion"
              ></ul>
            </div>
          </div>
        </div>
        <!-- Seguimiento de registro E.O -->
        <div
          class="tab-pane fade"
          id="inter_consul-2"
          role="tabpanel"
          aria-labelledby="inter_consul-tab-2"
        >
          <!--Seguimiento de registro E.O. -->
          <div class="table-responsive">
            <table class="table-box" id="">
              <thead>
                <tr>
                  <th>Año</th>
                  <th>Mes</th>
                  <th>Tipo de registro EO</th>
                  <th>Planta</th>
                  <th>Usuario</th>
                  <th>Cantidad de EO al mes</th>
                  <th>Estado</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="">
                <tr class="table-empty">
                  <td colspan="8" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                  <td>
                    <div class="dropdown float-right dropleft">
                      <div
                        class="more-info"
                        id="item_am_diagnostico_1"
                        data-toggle="dropdown"
                      >
                        <img src="images/iconos/menu_responsive.svg" alt="" />
                      </div>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="item_am_diagnostico_1"
                      >
                        <ul>
                          <li onclick="dgSp3EliminarExamen(37)">
                            <img src="./images/sho/eyeIcon.svg" />
                            <span>Ver detalle</span>
                          </li>
                          <li onclick="dgSp3EliminarExamen(37)">
                            <img src="./images/iconos/download3.svg" />
                            <span>Descargar documento</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#regresar").show();
  document.querySelector("#logoCompany1").innerHTML =
    "<b>Informe médico ocupacional</b>";
  document.querySelector("#logoCompany1").style.color = "white";
  getEnfermedadesOcupacionales();
  getSedesGerenciasAreas();
</script>
