
<link rel="stylesheet" href="css/sho.css">

<link href="css/select2.min.css" rel="stylesheet" />

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.input-box-secondary select.select-small{

  padding-top: 10px !important;
  padding-left: 60px !important;

}

.input-box-secondary span.span-small{

    top: 0px !important;
    left: 0px !important;
    height: 43 !important;
    background-color: #01719d !important;
    width: 40px !important;
    overflow: hidden !important;
    padding: 10px 15px 10px 15px!important;
    color: #fff !important;

}


.input-box-secondary span.span-small-grande{

    top: 0px !important;
    left: 0px !important;
    height: 43 !important;
    background-color: #01719d !important;
    width: 40px !important;
    overflow: hidden !important;
    padding: 10px 11px 10px 11px!important;
    color: #fff !important;

}






/*datatable*/

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}






table.dataTable.dataTable_width_auto {
  width: auto;
}


.btn-anular
{

  background-color: #d8801f !important;
  color: #ffffff !important;

}

.btn-anular:hover
{

  color: #fff;
  background-color: #c76f0e !important;
  border-color: #c76f0e !important;

}

.btn-reactivar
{

  background-color: #254373 !important;
  color: #ffffff !important;

}


.btn-reactivar:hover
{

  color: #fff;
  background-color: #0e2e60 !important;
  border-color: #0e2e60 !important;

}


.dropdown-menu {
    padding: 0.5rem 0 !important;
    min-width: auto !important;
}


/*Colocar vertical el boton de opciones de tablas*/
.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-weight: 600 !important;
  font-size: 30px !important;
  cursor: pointer;
}



.swal-cerrar{
    width:600px !important;
}

.swal-cerrar .swal2-html-container{

  z-index: inherit !important;
  overflow: inherit !important;


}

</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>
      <div class="row mb-5 align-items-center">
        <div class="col-md-4 col-sm-12">
          <span class="titulo">Datos de la inspección</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-info btn-block btn-lg btn-disabled" onclick="Sp5ConfirmarCerrarInspeccion(2,idDetalleInspeccion);"> Cerrar <img src="./images/sho/trazado1350.svg" alt="">
          </button>
        </div>
        <div class="col-md-2" id="div-anular">
          <button type="button" class="btn btn-anular btn-block btn-lg btn-disabled" onclick="Sp5ConfirmarAnularInspeccion(3,idDetalleInspeccion);"> Anular <img src="./images/sho/anular.svg" alt="">
          </button>
        </div>
        <div class="col-md-2 d-none" id="div-reactivar">
          <button type="button" class="btn btn-reactivar btn-block btn-lg" onclick="Sp5ConfirmarReactivarInspeccion(4,idDetalleInspeccion);"> Reactivar <img src="./images/sho/trazado1349.svg" alt="">
          </button>
        </div>
        <div class="col-md-2 col-sm-6">
          <button onclick="Sp5volverIndexHigiene();" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
          </button>
        </div>
        <div class="col-md-2 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg btn-disabled" onclick="Sp5ConfirmarCRUDInspeccion(1,idDetalleInspeccion);"> Guardar <img src="./images/sho/confirm.svg" alt="">
          </button>
        </div>
      </div>




      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>ID inspección</span>
            <input type="text" id="dat_id_inspeccion" class="submit" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Fecha de plan</span>
            <input type="date" id="dat_fecha_plan" class="submit">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Fecha de ejecucción</span>
            <input type="date" id="dat_fecha_ejecucion" class="submit campo-disabled"> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Gerencia</span>
            <select class="submit campo-disabled" id="dat_gerencia">
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Unidad operativa</span>
            <select class="submit campo-disabled" name="" id="dat_sede">
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Documento</span>
            <input type="text" class="submit numero campo-disabled" id="dat_documento"> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Nombres</span>
            <input type="text" class="submit" id="dat_nombres" disabled> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Apellidos</span>
            <input type="text" class="submit" id="dat_apellidos" disabled> 
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Tipo de equipo</span>
            <input class="submit" type="text" id="dat_tipo_equipo" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Estado</span>
            <select class="submit" name="" id="dat_estado" disabled>
            </select>
          </div>
        </div>
      </div>



    <div class="row mb-5 mt-2">
      <div class="col-md-12" style="height: 460px; width: 100%; border: solid 1px #c8c8c8; background-color: #fff; padding-left: 50px;">

        <img src="images/sho/img_inspeccion.png" style="width: 867px; height: 422px; margin-top: 25px; margin-left: auto; margin-right: auto; display: block;" />

      </div>
    </div>


      <div class="row mb-5 d-flex align-items-center">
        <div class="col-md-12">
          <span class="titulo">Items a inspeccionar</span>
        </div>
      </div>



    <div class="row mb-5 mt-5">
        <div class="col-md-6">

          <div class="table-responsive">
            <table class="table-box">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Freno de mano y aparcamiento, combinados</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Empuñadura</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Mando de válvulas: elevación, punto muerto, descenso.</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Barra de tracción</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Chásis</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Barra de empuje de elevación</td>
                </tr>
              </tbody>
            </table>
          </div> 



        </div>
        <div class="col-md-6">

          <div class="table-responsive">
            <table class="table-box">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>7</td>
                  <td>Muelle de retorno a vertical</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Conjunto hidraúlico</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Ruedas directrices</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Leva de mecanismo de elevación</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Rueda delantera, sencilla o doble</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Rodillos de entrada</td>
                </tr>
              </tbody>
            </table>
          </div> 



        </div>
      </div>








      <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        
        <div class="row"> 
          <div class="col-md-12">           
            <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link active" data="planificacion" id="planificacion-tab" data-toggle="tab" href="#planificacion" role="tab" aria-controls="planificacion" aria-selected="true">Planificación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data="evaluacion" id="evaluacion-tab" data-toggle="tab" href="#evaluacion" role="tab" aria-controls="evaluacion" aria-selected="false">Evaluación</a>
              </li>
            </ul>
          </div>      
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="planificacion" role="tabpanel" aria-labelledby="planificacion-tab">

            <div class="row mb-5 mt-2 d-flex justify-content-between align-items-center">
              <div class="col-md-6 col-sm-6 p-2 mr-auto">
                <div class="input-box-secondary">
                  <span>Zona</span>
                  <input type="" id="dat_zona_planificacion" class="check-planificacion">
                </div>
              </div>
              <div class="col-md-2 col-sm-6  p-2">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="Sp5CRUDIncidencia(1,0,idDetalleInspeccion);"> 
                  Agregar a lista <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_zona_incidencia-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box table-container" id="table_zona_incidencia" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th style="width: 20px !important;">Nro</th>
                    <th>Zona</th>
                    <th style="width: 20px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_zona_incidencia"> 
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="evaluacion" role="tabpanel" aria-labelledby="evaluacion-tab">



            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Zona</span>
                  <input type="" id="dat_zona_evaluacion" class="check-evaluacion" disabled="">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nro de estoca</span>
                  <input type="" id="dat_estoca_evaluacion" class="check-evaluacion campo-disabled-evaluacion">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="input-box-secondary">
                  <span>Comentario</span>
                  <input type="" id="dat_comentarios_evaluacion" class="campo-disabled-evaluacion">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Documento operativo</span>
                  <input type="" id="dat_documento_operativo_evaluacion" class="check-evaluacion numero campo-disabled-evaluacion">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nombres y apellidos operativos</span>
                  <input type="" id="dat_nombres_operativo_evaluacion" class="check-evaluacion" disabled>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Documento supervisor</span>
                  <input type="" id="dat_documento_supervisor_evaluacion" class="check-evaluacion numero campo-disabled-evaluacion">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nombres y apellidos supervisor</span>
                  <input type="" id="dat_nombres_supervisor_evaluacion" class="check-evaluacion" disabled>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">1</span>
                  <select id="dat_data_1_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">2</span>
                  <select id="dat_data_2_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">3</span>
                  <select id="dat_data_3_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">4</span>
                  <select id="dat_data_4_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">5</span>
                  <select id="dat_data_5_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">6</span>
                  <select id="dat_data_6_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

            </div>



            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">7</span>
                  <select id="dat_data_7_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">8</span>
                  <select id="dat_data_8_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small">9</span>
                  <select id="dat_data_9_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small-grande">10</span>
                  <select id="dat_data_10_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small-grande">11</span>
                  <select id="dat_data_11_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2 col-sm-2">
                <div class="input-box-secondary">
                  <span class="span-small-grande">12</span>
                  <select id="dat_data_12_evaluacion" class="select-small campo-disabled-evaluacion">
                    <option value="0" selected>OK</option>
                    <option value="1">ERROR</option>
                  </select>
                </div>
              </div>

            </div>



            <div class="row mb-5 mt-2 d-flex justify-content-between align-items-center">
              <div class="offset-md-10 col-md-2 col-sm-6  p-2">
                <button type="button" class="btn btn-success btn-block btn-lg campo-disabled-evaluacion" onclick="Sp5CRUDIncidencia(2,IdInspeccionEditar,idDetalleInspeccion);"> 
                  Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
                </button>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_incidencia-count-row">0</span> registros</span>
                </div>
              </div> 
            </div>         
            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box table-container" id="table_incidencia" style="margin-top: 0px !important;">
                <thead>
                  <tr>
                    <th style="width: 20px !important;">Nro</th>
                    <th>Zona</th>
                    <th>Nro de estoca</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>Documento operativo</th>
                    <th>Nombres y apellidos operativos</th>
                    <th>Documento supervisor</th>
                    <th>Nombres y apellidos supervisor</th>
                    <th>Comentarios</th>
                    <th style="width: 20px !important;"></th>
                  </tr>
                </thead>
                <tbody id="content_incidencia">  
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->









    
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}

/*function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}*/

function Sp5ConfirmarAnularMonitoreo(CodAccion) {

  /*if (validationForm('submit-anular').length > 0) {
      
    return;

  }*/

  Swal.fire({
    title: "Anular tarea de monitoreo",
    html: `
    <p>Está por anular la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDMonitoreo(CodAccion, 3);      

    }

  });

}

var ObjTablaCerrarInspeccion;

function Sp5ConfirmarCerrarInspeccion(CodAccion, IdInspeccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  let CantidadIncidencias = 0;
  let CantidadZonas = 0;

  let HtmlTable = '';
  let NombreZona = '';

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  CantidadZonas = $("#table_zona_incidencia tr.table-row").length;
  CantidadIncidencias = $("#table_incidencia tr.table-row").find("td.td-item:contains('ERROR')").length;

  //ESTO ES PARA ZONA INCIDENCIA
  if ( $.fn.DataTable.isDataTable('#cerrar_inspeccion') ) {

    ObjTablaCerrarInspeccion.destroy(); 

  }

  if( CantidadZonas == 0){

    Swal.fire({
      title: "Debe registrar las zonas a inspeccionar",
      icon: "info",
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

      return;

    }); 

  }
  else{

    HtmlTable += "<table class='table-box' id='cerrar_inspeccion'>";
    HtmlTable += "<thead>";
    HtmlTable += "<tr>";
    HtmlTable += "<th>Zona</th>";
    HtmlTable += "<th>Item</th>";
    HtmlTable += "<th>ID incidencias originadas</th>";
    HtmlTable += "</tr>";
    HtmlTable += "</thead>";
    HtmlTable += "<tbody>";

    $('#table_incidencia tr.table-row').each(function(i){
       
       NombreZona = $(this).find('td.zona').text();

       $(this).find("td.td-item:contains('ERROR')").each(function(i){

          HtmlTable += "<tr>";
          HtmlTable += "<td>";
          HtmlTable += NombreZona;
          HtmlTable += "</td>";
          HtmlTable += "<td>";
          HtmlTable += $(this).attr("data-item");
          HtmlTable += "</td>";
          HtmlTable += "<td>";       
          HtmlTable += "<div class='form-box'>";
          HtmlTable += "<input class='form-control'>";
          HtmlTable += "</div>";
          HtmlTable += "</td>";
          HtmlTable += "</tr>";

       });

    });

    HtmlTable += "</tbody>";
    HtmlTable += "</table>";
    

    Swal.fire({
      title: "Cerrar inspección",
      html: HtmlTable,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      customClass: 'swal-cerrar',
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        
        Swal.fire({
          title: "Crear incidencia",
          html: `
          <p>Está por crear la incidencia con:</p>
          <p>${CantidadIncidencias} incidencias</p>
          <p class="mt-5">¿Desea confirmar la acción?</p>`,
          icon: "info",
          showCancelButton: true,
          reverseButtons: true,
          cancelButtonColor: "#ff3636",
          confirmButtonColor: "#8fbb02",
          confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
          cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
        }).then((result) => {

          if (result.isConfirmed) {

            Sp5CRUDInspeccion(CodAccion, 2,IdInspeccion);  

          }

        });

        //Sp5CRUDInspeccion(CodAccion, 2,IdInspeccion);    

      }

    });

    
    ObjTablaCerrarInspeccion = $('#cerrar_inspeccion').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": false,
      "bAutoWidth": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      columnDefs: [{
          width: "20px",
          targets: 1
        },
        {
          width: "150px",
          targets: 2
        }
      ],
      initComplete: function() {
          //$('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    //$('.scrollbar').removeClass('dataTables_scrollBody'); 

  }

}

function Sp5ConfirmarAnularInspeccion(CodAccion, IdInspeccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  Swal.fire({
    title: "Anular inspección",
    html: `
    <p>Está por anular la inspección</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDInspeccion(CodAccion, 3,IdInspeccion);    

    }

  });

}






function Sp5ConfirmarReactivarInspeccion(CodAccion, IdInspeccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  Swal.fire({
    title: "Reactivar inspección",
    html: `
    <p>Está por reactivar la inspección</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDInspeccion(CodAccion, 1,IdInspeccion);    

    }

  });

}



function Sp5ConfirmarEliminarRegistroInspeccion(IdIncidencia, IdInspeccion) {

  Swal.fire({
    title: "Eliminar registro",
    html: `
    <p>Está por eliminar el registro de inspección</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(3, IdIncidencia, IdInspeccion);     

    }
    else
    {

      Sp5BuscarIncidenciasInspeccion(IdInspeccion);

    }

  });

}



function Sp5CRUDIncidencia(IdOpcion, IdIncidencia, IdInspeccion) {

  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if( IdOpcion == 1 ){

    if (validationForm('check-planificacion').length > 0) {
      
      return;

    }

    data.Id1 = IdIncidencia;
    data.InspeccionInstalacionId = IdInspeccion;
    data.CreadoPor = "JG";
    data.ZonaName = $("#dat_zona_planificacion").val();
    data.NumEstocada = 0;
    data.dat1 = 0;
    data.dat2 = 0;
    data.dat3 = 0;
    data.dat4 = 0;
    data.dat5 = 0;
    data.dat6 = 0;
    data.dat7 = 0;
    data.dat8 = 0;
    data.dat9 = 0;
    data.dat10 = 0;
    data.dat11 = 0;
    data.dat12 = 0;
    data.DocOperativo = 0;
    data.NombreApellido = "";
    data.DocSupervisor = 0;
    data.NombreApellido2 = "";
    data.Comentarios = "";
    data.IdIncidenciaOriginada = "";
    data.accion = 0;

  }

  if( IdOpcion == 2 )
  {

    if (validationForm('check-evaluacion').length > 0) {
      
      return;

    } 

    data.Id1 = IdIncidencia;
    data.InspeccionInstalacionId = IdInspeccion;
    data.CreadoPor = "JG";
    data.ZonaName = $("#dat_zona_evaluacion").val();
    data.NumEstocada = parseInt($("#dat_estoca_evaluacion").val());
    data.dat1 = $("#dat_data_1_evaluacion option:selected").val();
    data.dat2 = $("#dat_data_2_evaluacion option:selected").val();
    data.dat3 = $("#dat_data_3_evaluacion option:selected").val();
    data.dat4 = $("#dat_data_4_evaluacion option:selected").val();
    data.dat5 = $("#dat_data_5_evaluacion option:selected").val();
    data.dat6 = $("#dat_data_6_evaluacion option:selected").val();
    data.dat7 = $("#dat_data_7_evaluacion option:selected").val();
    data.dat8 = $("#dat_data_8_evaluacion option:selected").val();
    data.dat9 = $("#dat_data_9_evaluacion option:selected").val();
    data.dat10 = $("#dat_data_10_evaluacion option:selected").val();
    data.dat11 = $("#dat_data_11_evaluacion option:selected").val();
    data.dat12 = $("#dat_data_12_evaluacion option:selected").val();

 



    data.DocOperativo = $("#dat_documento_operativo_evaluacion").val();
    data.NombreApellido = $("#dat_nombres_operativo_evaluacion").val();
    data.DocSupervisor = $("#dat_documento_supervisor_evaluacion").val();
    data.NombreApellido2 = $("#dat_nombres_supervisor_evaluacion").val();
    data.Comentarios = $("#dat_comentarios_evaluacion").val();
    data.IdIncidenciaOriginada = "";
    data.accion = 1;

  }

  if( IdOpcion == 3 ){

    data.Id1 = IdIncidencia;
    data.InspeccionInstalacionId = IdInspeccion;
    data.CreadoPor = "JG";
    data.ZonaName = "";
    data.NumEstocada = 0;
    data.dat1 = 0;
    data.dat2 = 0;
    data.dat3 = 0;
    data.dat4 = 0;
    data.dat5 = 0;
    data.dat6 = 0;
    data.dat7 = 0;
    data.dat8 = 0;
    data.dat9 = 0;
    data.dat10 = 0;
    data.dat11 = 0;
    data.dat12 = 0;
    data.DocOperativo = 0;
    data.NombreApellido = "";
    data.DocSupervisor = 0;
    data.NombreApellido2 = "";
    data.Comentarios = "";
    data.IdIncidenciaOriginada = "";
    data.accion = 2;

  }

  let url = apiUrlsho+`/api/hce_Post_054_zona_inspeccion?code=KH2xKV3blw6poJJkzSqp0CHS3H6CHb6vskbTV0jV7XQA42fMHTbvcg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    bloquearCamposEditar();

    if( IdOpcion == 1 ){

      EjecutarModal = true;
      TituloModal = 'Registro anexado con éxito';

    }

    if( IdOpcion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Registro modificado con éxito';

    }

    if( IdOpcion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Registro eliminado con éxito';

    }

    Swal.fire({

      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,

    }).then(() => {

      Sp5BuscarIncidenciasInspeccion(IdInspeccion);

    });     
  
  });

}


var ObjTablaZona;
var ObjTablaIncidencia;



function Sp5BuscarIncidenciasInspeccion(IdInspeccion) {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=Lista_Hijos_Inspeccion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdInspeccion": IdInspeccion }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_IndicenciasInspeccion["Incidencias"] = response.lista_HijosInspeccion;


    let html_tbody = '';

    paObj_IndicenciasDetalles = [];

    //ESTO LO COMENTE
    //$("#table_zona_incidencia tbody").empty();
    //$("#table_incidencia tbody").empty();

    //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
    $.fn.dataTable.ext.search.pop();
    ///////////////////////////////////////////////////////////////////////////


    //ESTO ES PARA ZONA INCIDENCIA
    if ( $.fn.DataTable.isDataTable('#table_zona_incidencia') ) {

      ObjTablaZona.destroy(); 

    }

    ObjTablaZona = $('#table_zona_incidencia').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "bAutoWidth": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      columnDefs: [{
          width: "20px",
          targets: 0
        },
        {
          width: "20px",
          targets: 2
        }
      ],
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_zona_incidencia-count-row').text(ObjTablaZona.rows().count());
    
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_zona_incidencia') ) {

      ObjTablaZona.destroy(); 

    }

    $('#table_zona_incidencia tbody > tr').remove();

    //ESTO ES PARA INCIDENCIA
    if ( $.fn.DataTable.isDataTable('#table_incidencia') ) {

      ObjTablaIncidencia.destroy(); 

    }

    ObjTablaIncidencia = $('#table_incidencia').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_incidencia-count-row').text(ObjTablaIncidencia.rows().count());
    
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_incidencia') ) {

      ObjTablaIncidencia.destroy(); 

    }

    $('#table_incidencia tbody > tr').remove();

    if(Object.keys(paObj_IndicenciasInspeccion["Incidencias"]).length > 0){

      $.each(paObj_IndicenciasInspeccion["Incidencias"], function(index,accountObj){

        paObj_IndicenciasDetalles[accountObj.Id] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += (index+1);
        html_tbody += "</td>";
        html_tbody += "<td class='zona'>";
        html_tbody += accountObj.ZonaName;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (parseInt(accountObj.NumEstocada) == 0 ? '' : accountObj.NumEstocada);
        html_tbody += "</td>";
        html_tbody += "<td data-item='1' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat1) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='2' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat2) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='3' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat3) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='4' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat4) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='5' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat5) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='6' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat6) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='7' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat7) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='8' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat8) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='9' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat9) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='10' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat10) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='11' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat11) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td data-item='12' class='td-item'>";
        html_tbody += (parseInt(accountObj.dat12) == 0 ? 'OK' : 'ERROR');
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (parseInt(accountObj.DocOperativo) == 0 ? '--' : accountObj.DocOperativo);
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.NombreApellido;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (parseInt(accountObj.DocSupervisor) == 0 ? '--' : accountObj.DocSupervisor);
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.NombreApellido2;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Comentarios;
        html_tbody += "</td>";
        html_tbody += "<td>";

        html_tbody += "<div class='dropdown dropleft'>";
        html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
        html_tbody += "...";
        html_tbody += "</a>";
        html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
        html_tbody += "<a class='dropdown-item' onclick='Sp5EditarRegistroInspeccion("+accountObj.Id+")' style='cursor: pointer;'>";
        html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
        html_tbody += "&nbsp;&nbsp; Editar";
        html_tbody += "</a>";
        html_tbody += "<a class='dropdown-item btn-delete' onclick='Sp5ConfirmarEliminarRegistroInspeccion("+accountObj.Id+", "+IdInspeccion+");' style='cursor: pointer;'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
        html_tbody += "&nbsp;&nbsp; Eliminar";
        html_tbody += "</a>";

        html_tbody += "</div>";
        html_tbody += "</div>"; 
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_incidencia tbody").append(html_tbody);

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += (index+1);
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.ZonaName;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<a class='dropdown-item btn-delete' onclick='Sp5ConfirmarEliminarRegistroInspeccion("+accountObj.Id+", "+IdInspeccion+");'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
        html_tbody += "</a>";
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_zona_incidencia tbody").append(html_tbody);

      });         

    }

    //ESTO ES LA ZONA INCIDENCA
    ObjTablaZona = $('#table_zona_incidencia').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "bAutoWidth": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      columnDefs: [{
          width: "20px",
          targets: 0
        },
        {
          width: "20px",
          targets: 2
        }
      ],
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    $('#table_zona_incidencia-count-row').text(ObjTablaZona.rows().count());


    //ESTO ES LA INCIDENCA
    ObjTablaIncidencia = $('#table_incidencia').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    $('#table_incidencia-count-row').text(ObjTablaIncidencia.rows().count());

    $('#table_incidencia').find('.nav-link').trigger('click');

  });

}



function Sp5EditarRegistroInspeccion(IdIncidencia){

  activarCamposEditar();

  IdInspeccionEditar = IdIncidencia;

  $("#dat_zona_evaluacion").val(paObj_IndicenciasDetalles[IdIncidencia].ZonaName);
  $("#dat_estoca_evaluacion").val(parseInt(paObj_IndicenciasDetalles[IdIncidencia].NumEstocada) == 0 ? '' : paObj_IndicenciasDetalles[IdIncidencia].NumEstocada);
  $("#dat_documento_operativo_evaluacion").val(parseInt(paObj_IndicenciasDetalles[IdIncidencia].DocOperativo) == 0 ? '' : paObj_IndicenciasDetalles[IdIncidencia].DocOperativo);
  $("#dat_nombres_operativo_evaluacion").val(paObj_IndicenciasDetalles[IdIncidencia].NombreApellido);
  $("#dat_documento_supervisor_evaluacion").val(parseInt(paObj_IndicenciasDetalles[IdIncidencia].DocSupervisor) == 0 ? '' : paObj_IndicenciasDetalles[IdIncidencia].DocSupervisor);
  $("#dat_nombres_supervisor_evaluacion").val(paObj_IndicenciasDetalles[IdIncidencia].NombreApellido2);
  $("#dat_comentarios_evaluacion").val(paObj_IndicenciasDetalles[IdIncidencia].Comentarios);


  $("#dat_data_1_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat1+"']").prop("selected",true);
  $("#dat_data_2_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat2+"']").prop("selected",true);
  $("#dat_data_3_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat3+"']").prop("selected",true);
  $("#dat_data_4_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat4+"']").prop("selected",true);
  $("#dat_data_5_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat5+"']").prop("selected",true);
  $("#dat_data_6_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat6+"']").prop("selected",true);
  $("#dat_data_7_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat7+"']").prop("selected",true);
  $("#dat_data_8_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat8+"']").prop("selected",true);
  $("#dat_data_9_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat9+"']").prop("selected",true);
  $("#dat_data_10_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat10+"']").prop("selected",true);
  $("#dat_data_11_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat11+"']").prop("selected",true);
  $("#dat_data_12_evaluacion option[value='"+paObj_IndicenciasDetalles[IdIncidencia].dat12+"']").prop("selected",true);

}






function Sp5ConfirmarCRUDInspeccion(CodAccion,IdInspeccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  let CantidadZonas = 0;

  CantidadZonas = $("#table_zona_incidencia tr.table-row").length;

  if( CantidadZonas == 0){

    Swal.fire({
      title: "Debe registrar las zonas a inspeccionar",
      icon: "info",
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

      return;

    }); 

  }
  else{

    Swal.fire({
      title: "Editar inspección",
      html: `
      <p>Está por editar la inspección</p>
      <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDInspeccion(CodAccion, 1,IdInspeccion);   

      }

    });

    /*Swal.fire({
      title: "Crear incidencia",
      html: `
      <p>Está por crear la incidencia con:</p>
      <p>${CantidadIncidencias} incidencias</p>
      <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDInspeccion(CodAccion, 1,IdInspeccion);   

      }

    });*/

  }

}

/*function Sp5CRUDGES(CodAccion) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';


  if(CodAccion == 1){

    data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
    //data.accion = 0;
    data.CreadoPor = "User";
    data.ModificadoPor = "User";
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.Tarea = $("#dat_tarea").val();
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.Cantidad = $("#dat_cantidad").val();
    data.Frecuencia = $("#dat_frecuencia").val();
    data.Actividad_MA = $("#dat_actividad option:selected").val();
    data.EPP = $("#dat_epp option:selected").val();
    data.Control_Ingenieria = $("#dat_control_ing").val();
    data.Dosis = $("#dat_dosis").val();
    data.ValoracionDosis = $("#dat_valoracion_dosis").val();
    data.GES_ID = $("#dat_ges_id").val();
    data.BaseEXP = $("#dat_base_exp").val();
    data.LMP = $("#dat_lmp").val();
    data.TiempoExp = $("#dat_tiempo_exp").val();
    data.EfectoSalud = $("#dat_efecto_salud").val();
    data.BaseEFE = $("#dat_base_efe").val();
    data.CalculoRiesgo = $("#dat_calculo_riesgo").val();
    data.Incertidumbre = $("#dat_incertidumbre").val();
    data.ValoracionDosis_2 = 0;
    data.PrioridadRecopilaInf = $("#dat_prioridad_recopilacion").val();
    data.InformacionNecesaria = $("#dat_informacion_necesaria").val();
    data.AccionesTomar = $("#dat_acciones_tomar").val();
    data.ClasificacionRiesgo = $("#dat_clasificacion_riesgo").val();
    data.EstadoLogicoGestion = 1;
    data.accion = 0;
    data.FechaModificacion = new Date();

  }

  let url = apiUrlsho+`/api/hce_Post_051_gestion?code=FHYiaCYmTMeiKnBoEun8w4aCF7jHQCKOGYsv6bnE/iqc2y3sA8mNcg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    Swal.fire({
      title: "GES creado con éxito",
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

      Sp5volverIndexHigiene();

    });    

  });

}*/

function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}

function Sp5volverIndexHigiene(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/datosGenerales.html', 'Evaluar');

}

/*function Sp5CargarPlucksGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
    pluck_GES["Agentes"] = response.lista_Agentes;
    pluck_GES["Riesgos"] = response.lista_Riesgos;
    pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}*/

/*function Sp5CargaSedesAreasGerenciasGES() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_GES["Areas"] = response.Area;
    pluck_GES["Gerencias"] = response.Gerencia;
    pluck_GES["Sedes"] = response.Sedes;

  });

}*/

/*function Sp5cargarSelectGES(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_actividad');
  contenido.append(`<option value=""></option>`);

  pluck_GES["ActividadMA"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.ActividadMA}</option>`)
  });

}
*/

function Sp5CargarTablaIncidencia() {

  let html_tbody = '';

  if( $("#table_zona tr.table-row").length == 0){

    html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='21' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_zona tbody").append(html_tbody);

  }

}

function Sp5CargaSedesAreasGerenciasInspeccion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Inspeccion["Areas"] = response.Area;
    pluck_Inspeccion["Gerencias"] = response.Gerencia;
    pluck_Inspeccion["Sedes"] = response.Sedes;
    pluck_Inspeccion["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectInspeccion(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["EstadosInspeccion"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Estados"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });*/

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
    pluck_Monitoreo["Agentes"] = response.lista_Agentes;
    pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
    pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function Sp5CargarPlucksMonitoreo() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Monitoreo["Estados"] = response.lista_Estados;
    pluck_Monitoreo["Etapas"] = response.lista_Etapas;
    pluck_Monitoreo["TipoEvaluacion"] = response.Lista_EvaluacionGES;

  });
}

function Sp5BuscarTodosGES() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdGestion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    pluck_Monitoreo["GES"] = response.lista_GestionData;

  });

}

function Sp5CRUDMonitoreo(CodAccion, IdEstado) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 0){

    data.Id1 = 0;
    data.Estado = 0;
    data.CreadoPor = "JG";
    data.ModificadoPor = "";
    data.IdArea = 0;
    data.IdPuestoCargo = 0;
    data.IdUnidadSede = 0;
    data.IdGerencia = 0; 
    data.IdZona = 0; 
    data.idRiesgo = 0; 
    data.idAgente = 0; 
    data.IdCodigoGES = 0; 
    data.IdEtapa = 0; 
    data.IdTipoEvaluacion = 0; 
    data.FueAprobado = 0; 
    data.FechaAprobado = "1900-01-01";
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 0;
 

  }

  if(CodAccion == 1){

    data.Id1 = idTemporalMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.IdZona = $("#dat_zona option:selected").val(); 
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
    data.IdEtapa = $("#dat_etapa option:selected").val();
    data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
    data.FueAprobado = 0; 
    data.FechaAprobado = "1900-01-01";
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }

  if(CodAccion == 2){

    data.Id1 = idTemporalMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.IdZona = $("#dat_zona option:selected").val(); 
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
    data.IdEtapa = $("#dat_etapa option:selected").val();
    data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
    data.FueAprobado = 1; 
    data.FechaAprobado = cargarFechaHoy();
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }

  if(CodAccion == 3){

    data.Id1 = idTemporalMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = $("#dat_area option:selected").val() == '' ? 0 : $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val() == '' ? 0 :$("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val() == '' ? 0 :$("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val() == '' ? 0 :$("#dat_gerencia option:selected").val();
    data.IdZona = $("#dat_zona option:selected").val() == '' ? 0 :$("#dat_zona option:selected").val(); 
    data.idRiesgo = $("#dat_riesgo option:selected").val() == '' ? 0 :$("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val() == '' ? 0 :$("#dat_agente option:selected").val();
    data.IdCodigoGES = $("#dat_cod_ges option:selected").val() == '' ? 0 :$("#dat_cod_ges option:selected").val();
    data.IdEtapa = $("#dat_etapa option:selected").val() == '' ? 0 :$("#dat_etapa option:selected").val();
    data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val() == '' ? 0 :$("#dat_tipo_evaluacion option:selected").val();
    data.FueAprobado = 0; 
    data.FechaAprobado = "1900-01-01";
    data.FueAnulado = 1; 
    data.FechaAnulado = cargarFechaHoy();
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }
  
  let url = apiUrlsho+`/api/hce_Post_052_gestion_monitoreo?code=OzM1cf0JPrZx7mWxWzdvmgVzO0e2Mk5w0XhyOSySB2MDvyy83tUZ3A==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    idTemporalMonitoreo = response.Id;

    if( CodAccion == 1 ){

      EjecutarModal = true;
      TituloModal = 'Se guardó la tarea de monitoreo con éxito';

    }

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se aprobó la tarea de monitoreo con éxito';

    }

    if( CodAccion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la tarea de monitoreo con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5volverIndexHigiene();

      });     

    }   

  });

}

/*function Sp5CargarMonitoreo(IdMonitoreo){

  $('#dat_fecha_registro').val(cargarFechaHoy());
  $('#dat_estado').val("Creado");
  $('#dat_id_tarea').val("COD000"+IdMonitoreo);

}*/

function Sp5CargarPlucksInspeccion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Inspeccion["EstadosInspeccion"] = response.lista_EstadosInsp;

  });
}

function Sp5CargarDatosInspeccion(IdInspeccion){

  $('#dat_tipo_equipo').val("Estocas");
  $("#dat_estado option[value='1']").prop("selected",true);
  $('#dat_id_inspeccion').val("INS00"+IdInspeccion);

}

function Sp5CRUDInspeccion(CodAccion, IdEstado, IdInspeccion) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 1){

    data.Id1 = IdInspeccion;
    data.Estado = IdEstado;
    data.CreadoPor = "JG";
    data.ModificadoPor = "JG";
    data.FechaPlan = $("#dat_fecha_plan").val();
    data.FechaEjecucion = $("#dat_fecha_ejecucion").val();
    data.IdHC = (parseInt(IdHCInspeccion) != 0 ? IdHCInspeccion : paObj_detalle_Inspeccion[IdInspeccion].IdHC);
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.FueAbierto = paObj_detalle_Inspeccion[IdInspeccion].FueAbierto;
    data.FechaAbierto = paObj_detalle_Inspeccion[IdInspeccion].FechaAbierto.substring(0,10);
    data.FueAnulado = paObj_detalle_Inspeccion[IdInspeccion].FueAnulado;
    data.FechaAnulado = paObj_detalle_Inspeccion[IdInspeccion].FechaAnulado.substring(0,10);
    data.fueCerrado = paObj_detalle_Inspeccion[IdInspeccion].fueCerrado;
    data.FechaCierre = paObj_detalle_Inspeccion[IdInspeccion].FechaCierre.substring(0,10);
    data.TipoEquipo = $("#dat_tipo_equipo").val();
    data.accion = 1;
 
  }


  if(CodAccion == 2){

    data.Id1 = IdInspeccion;
    data.Estado = IdEstado;
    data.CreadoPor = "JG";
    data.ModificadoPor = "JG";
    data.FechaPlan = $("#dat_fecha_plan").val();
    data.FechaEjecucion = $("#dat_fecha_ejecucion").val();
    data.IdHC = (parseInt(IdHCInspeccion) != 0 ? IdHCInspeccion : paObj_detalle_Inspeccion[IdInspeccion].IdHC);
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.FueAbierto = paObj_detalle_Inspeccion[IdInspeccion].FueAbierto;
    data.FechaAbierto = paObj_detalle_Inspeccion[IdInspeccion].FechaAbierto.substring(0,10);
    data.FueAnulado = paObj_detalle_Inspeccion[IdInspeccion].FueAnulado;
    data.FechaAnulado = paObj_detalle_Inspeccion[IdInspeccion].FechaAnulado.substring(0,10);
    data.fueCerrado = 1;
    data.FechaCierre = cargarFechaHoy();
    data.TipoEquipo = $("#dat_tipo_equipo").val();
    data.accion = 1;
 
  }

  if(CodAccion == 3){

    data.Id1 = IdInspeccion;
    data.Estado = IdEstado;
    data.CreadoPor = "JG";
    data.ModificadoPor = "JG";
    data.FechaPlan = $("#dat_fecha_plan").val();
    data.FechaEjecucion = $("#dat_fecha_ejecucion").val();
    data.IdHC = (parseInt(IdHCInspeccion) != 0 ? IdHCInspeccion : paObj_detalle_Inspeccion[IdInspeccion].IdHC);
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.FueAbierto = paObj_detalle_Inspeccion[IdInspeccion].FueAbierto;
    data.FechaAbierto = paObj_detalle_Inspeccion[IdInspeccion].FechaAbierto.substring(0,10);
    data.FueAnulado = 1;
    data.FechaAnulado = cargarFechaHoy();
    data.fueCerrado = paObj_detalle_Inspeccion[IdInspeccion].fueCerrado;
    data.FechaCierre = paObj_detalle_Inspeccion[IdInspeccion].FechaCierre.substring(0,10);
    data.TipoEquipo = $("#dat_tipo_equipo").val();
    data.accion = 1;
 
  }

  if(CodAccion == 4){

    data.Id1 = IdInspeccion;
    data.Estado = IdEstado;
    data.CreadoPor = "JG";
    data.ModificadoPor = "JG";
    data.FechaPlan = $("#dat_fecha_plan").val();
    data.FechaEjecucion = $("#dat_fecha_ejecucion").val();
    data.IdHC = (parseInt(IdHCInspeccion) != 0 ? IdHCInspeccion : paObj_detalle_Inspeccion[IdInspeccion].IdHC);
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.FueAbierto = paObj_detalle_Inspeccion[IdInspeccion].FueAbierto;
    data.FechaAbierto = paObj_detalle_Inspeccion[IdInspeccion].FechaAbierto.substring(0,10);
    data.FueAnulado = 0;
    data.FechaAnulado = "1900-01-01";
    data.fueCerrado = paObj_detalle_Inspeccion[IdInspeccion].fueCerrado;
    data.FechaCierre = paObj_detalle_Inspeccion[IdInspeccion].FechaCierre.substring(0,10);
    data.TipoEquipo = $("#dat_tipo_equipo").val();
    data.accion = 1;
 
  }

  /*

  if(CodAccion == 2){

    data.Id1 = idTemporalMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.IdZona = $("#dat_zona option:selected").val(); 
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
    data.IdEtapa = $("#dat_etapa option:selected").val();
    data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
    data.FueAprobado = 1; 
    data.FechaAprobado = cargarFechaHoy();
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }

  if(CodAccion == 3){

    data.Id1 = idTemporalMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = $("#dat_area option:selected").val() == '' ? 0 : $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val() == '' ? 0 :$("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val() == '' ? 0 :$("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val() == '' ? 0 :$("#dat_gerencia option:selected").val();
    data.IdZona = $("#dat_zona option:selected").val() == '' ? 0 :$("#dat_zona option:selected").val(); 
    data.idRiesgo = $("#dat_riesgo option:selected").val() == '' ? 0 :$("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val() == '' ? 0 :$("#dat_agente option:selected").val();
    data.IdCodigoGES = $("#dat_cod_ges option:selected").val() == '' ? 0 :$("#dat_cod_ges option:selected").val();
    data.IdEtapa = $("#dat_etapa option:selected").val() == '' ? 0 :$("#dat_etapa option:selected").val();
    data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val() == '' ? 0 :$("#dat_tipo_evaluacion option:selected").val();
    data.FueAprobado = 0; 
    data.FechaAprobado = "1900-01-01";
    data.FueAnulado = 1; 
    data.FechaAnulado = cargarFechaHoy();
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }*/
  
  let url = apiUrlsho+`/api/hce_Post_053_gestion_inspeccion?code=8GjCXz8YN42eSy3YnPbh0iRxyvOJI8NGQLaa8UFytdaZQVlnquQT/g==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    idTemporalInspeccion = response.Id;

    if( CodAccion == 1 ){

      EjecutarModal = true;
      TituloModal = 'Inspección guardada';

    }

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Incidencia guardada';

    }

    if( CodAccion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Inspección anulada';

    }

    if( CodAccion == 4 ){

      EjecutarModal = true;
      TituloModal = 'Inspección Reactivada';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        if( CodAccion != 4 ){

          Sp5volverIndexHigiene();

        }
        else
        {

          $('#div-reactivar').addClass("d-none");
          $('#div-anular').removeClass("d-none");          
          $('.btn-disabled').attr("disabled",false);
          $('.campo-disabled').attr("disabled",false);

        }
        
      });     

    }

    /*

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se aprobó la tarea de monitoreo con éxito';

    }

    if( CodAccion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la tarea de monitoreo con éxito';

    }

    */   

  });

}

async function _init_Sp5Inspeccion(IdInspeccion) {

  //Se inicia el Cargando
  showLoading();

  //await Sp5CRUDInspeccion(0,0);
  await Sp5CargaSedesAreasGerenciasInspeccion();
  await Sp5CargarPlucksInspeccion();
  //await Sp5CargarPlucksMonitoreoGES();
  //await Sp5CargarPlucksMonitoreo();
  //await Sp5BuscarTodosGES();
  await Sp5cargarSelectInspeccion();

  await Sp5BuscarIncidenciasInspeccion(IdInspeccion);
  await Sp5CargarInspeccion(IdInspeccion);
  //await Sp5BuscarIncidenciasInspeccion(IdInspeccion)
  //await Sp5CargarTablaIncidencia();


  //await Sp5CargarMonitoreo(idTemporalMonitoreo);

  //Se apaga el Cargando
  hideLoading();

}

/*function Sp5CargarTablaIncidencia() {

  let html_tbody = '';

  if(Object.keys(paObj_IndicenciasInspeccion["Incidencias"]).length > 0){

    $.each(paObj_IndicenciasInspeccion["Incidencias"], function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += (index+1);
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.ZonaName;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NumEstocada;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat1) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat2) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat3) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat4) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat5) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat6) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat7) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat8) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat9) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat10) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat11) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat12) == 1 ? 'Si' : 'No');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.DocOperativo;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreApellido;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.DocSupervisor;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreApellido2;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.Comentarios;
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_inspeccion tbody").append(html_tbody);

    });         

  }

  if( $("#table_inspeccion tr.table-row").length == 0){

    html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='20' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_inspeccion tbody").append(html_tbody);

  }

  $("#table_inspeccion-count-row").text($("#table_inspeccion tr.table-row").length);

}*/

function Sp5CargarInspeccion(IdInspeccion){

  //$("#dat_gerencia option[value='"+paObj_detalle_Inspeccion[IdInspeccion].IdGerencia+"']").prop("selected",true);
  //$("#dat_sede option[value='"+paObj_detalle_Inspeccion[IdInspeccion].IdUnidadSede+"']").prop("selected",true);
  //$("#dat_estado option[value='"+paObj_detalle_Inspeccion[IdInspeccion].Estado+"']").prop("selected",true);
  
  $('#dat_gerencia').val(paObj_detalle_Inspeccion[IdInspeccion].IdGerencia).trigger("change");
  $('#dat_sede').val(paObj_detalle_Inspeccion[IdInspeccion].IdUnidadSede).trigger("change");
  $('#dat_estado').val(paObj_detalle_Inspeccion[IdInspeccion].Estado).trigger("change");


  $('#dat_fecha_plan').val(paObj_detalle_Inspeccion[IdInspeccion].FechaPlan.substring(0,10));
  $('#dat_fecha_ejecucion').val(paObj_detalle_Inspeccion[IdInspeccion].FechaEjecucion.substring(0,10));

  $('#dat_id_inspeccion').val(paObj_detalle_Inspeccion[IdInspeccion].IdInspeccionInstalaciones);

  $('#dat_documento').val(paObj_detalle_Inspeccion[IdInspeccion].A_DniPaciente);
  $('#dat_nombres').val(paObj_detalle_Inspeccion[IdInspeccion].A_NombresPaciente);
  $('#dat_apellidos').val(paObj_detalle_Inspeccion[IdInspeccion].A_ApellidosPaciente);
  $('#dat_tipo_equipo').val(paObj_detalle_Inspeccion[IdInspeccion].TipoEquipo);

  if( paObj_detalle_Inspeccion[IdInspeccion].EstadoName == "Anulado" ){

    $('#div-anular').addClass("d-none");
    $('#div-reactivar').removeClass("d-none");
    $('.btn-disabled').attr("disabled",true);
    $('.campo-disabled').attr("disabled",true);

  }

  /*$('#dat_tarea').val(paObj_detalle_GES[IdGES].Tarea);
  $('#dat_cantidad').val(paObj_detalle_GES[IdGES].Cantidad);
  $('#dat_frecuencia').val(paObj_detalle_GES[IdGES].Frecuencia);
  $("#dat_actividad option[value='"+paObj_detalle_GES[IdGES].Actividad_MA+"']").prop("selected",true);
  $("#dat_epp option[value='"+paObj_detalle_GES[IdGES].EPP+"']").prop("selected",true);
  $('#dat_control_ing').val(paObj_detalle_GES[IdGES].Control_Ingenieria);
  $('#dat_dosis').val(paObj_detalle_GES[IdGES].Dosis);
  $('#dat_valoracion_dosis').val(paObj_detalle_GES[IdGES].ValoracionDosis);
  $('#dat_ges_id').val(paObj_detalle_GES[IdGES].GES_ID);
  $('#dat_base_exp').val(paObj_detalle_GES[IdGES].BaseEXP);
  $('#dat_lmp').val(paObj_detalle_GES[IdGES].LMP);
  $('#dat_tiempo_exp').val(paObj_detalle_GES[IdGES].TiempoExp);
  $('#dat_efecto_salud').val(paObj_detalle_GES[IdGES].EfectoSalud);
  $('#dat_base_efe').val(paObj_detalle_GES[IdGES].BaseEFE);
  $('#dat_calculo_riesgo').val(paObj_detalle_GES[IdGES].CalculoRiesgo);
  $('#dat_clasificacion_riesgo').val(paObj_detalle_GES[IdGES].ClasificacionRiesgo);
  $('#dat_incertidumbre').val(paObj_detalle_GES[IdGES].Incertidumbre);
  $('#dat_prioridad_recopilacion').val(paObj_detalle_GES[IdGES].PrioridadRecopilaInf);
  $('#dat_informacion_necesaria').val(paObj_detalle_GES[IdGES].InformacionNecesaria);
  $('#dat_acciones_tomar').val(paObj_detalle_GES[IdGES].AccionesTomar);
  $("#dat_area option[value='"+paObj_detalle_GES[IdGES].IdArea+"']").prop("selected",true);
  $("#dat_sede option[value='"+paObj_detalle_GES[IdGES].IdUnidadSede+"']").prop("selected",true);
  $("#dat_gerencia option[value='"+paObj_detalle_GES[IdGES].IdGerencia+"']").prop("selected",true);
  $("#dat_riesgo option[value='"+paObj_detalle_GES[IdGES].idRiesgo+"']").prop("selected",true);
  $("#dat_agente option[value='"+paObj_detalle_GES[IdGES].idAgente+"']").prop("selected",true);
  $("#dat_puesto option[value='"+paObj_detalle_GES[IdGES].IdPuestoCargo+"']").prop("selected",true);*/

}


function activarCamposEditar(){

  $(".campo-disabled-evaluacion").prop("disabled",false);
}


function bloquearCamposEditar(){

  $("#dat_zona_planificacion").val('');
  $("#dat_comentarios_evaluacion").val('');
  $(".check-evaluacion").val('');
  
  $(".campo-disabled-evaluacion").prop("disabled",true);
  $(".select-small option[value='0']").prop("selected",true);

  IdInspeccionEditar = 0;

}


var IdInspeccionEditar = 0;


$(document).ready(function() {

  $('#dat_gerencia').select2();
  $('#dat_sede').select2();
  $('.select2-container').css('width', '100%');

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });

  bloquearCamposEditar();

  _init_Sp5Inspeccion(idDetalleInspeccion);

  /*$('#dat_puesto').select2();
  $('.select2-container').css('width', '100%');

  $("#dat_cod_ges").on('change',onChangeGESID);
  $('#dat_riesgo').on('change',onCargarAgentesChange);*/

  $("#dat_documento").on('keyup',onKeyupDocumento);
  $(".select-incidencia").on('change',onChangeIncidencia);

  $(".table-container").on('click',".btn-delete", onBtnDeleteRow);


  $("#dat_documento_operativo_evaluacion").on('keyup',onKeyupDocumentoOperativo);
  $("#dat_documento_supervisor_evaluacion").on('keyup',onKeyupDocumentoSupervisor);




});








function onKeyupDocumentoSupervisor(){

  let data = {};
  
  if( $(this).val().length > 7 ) {  

    //Se especifican los parametros para la consulta
    let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ver_HC_By_Patron`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { 
        "Dni": $(this).val(), 
        "Nombre": "", 
        "Apellido": "", 
        "Supervisor": 0 
      }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      if(Object.keys(response.lista_DataHCInspeccion).length > 0){

        $("#dat_nombres_supervisor_evaluacion").val(response.lista_DataHCInspeccion[0].A_NombresPaciente+" "+response.lista_DataHCInspeccion[0].A_ApellidosPaciente);

      }
      else
      {

        $("#dat_nombres_supervisor_evaluacion").val('');

      }

    });
          
  }
  else{

    $("#dat_nombres_supervisor_evaluacion").val('');

  } 

}




function onKeyupDocumentoOperativo(){

  let data = {};
  
  if( $(this).val().length > 7 ) {  

    //Se especifican los parametros para la consulta
    let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ver_HC_By_Patron`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { 
        "Dni": $(this).val(), 
        "Nombre": "", 
        "Apellido": "", 
        "Supervisor": 0 
      }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      if(Object.keys(response.lista_DataHCInspeccion).length > 0){

        $("#dat_nombres_operativo_evaluacion").val(response.lista_DataHCInspeccion[0].A_NombresPaciente+" "+response.lista_DataHCInspeccion[0].A_ApellidosPaciente);

      }
      else
      {

        $("#dat_nombres_operativo_evaluacion").val('');

      }

    });
          
  }
  else{

    $("#dat_nombres_operativo_evaluacion").val('');

  } 

}










function onBtnDeleteRow(){

  Numero_Filas = $("#"+$(this).closest("table").attr('id')+" tbody tr").length;
  Numero_Filas--;

  if(Numero_Filas == 1 ){
      
    $(this).closest("table").find('.table-empty').removeClass('d-none');
  }

  $("#"+$(this).closest("table").attr('id')+"-count-row").text(Numero_Filas);
  $(this).closest("tr").remove();
  
}

var IdHCInspeccion = 0;

function onKeyupDocumento(){

  let data = {};
  
  if( $(this).val().length > 7 ) {  

    //Se especifican los parametros para la consulta
    let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ver_HC_By_Patron`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { 
        "Dni": $(this).val(), 
        "Nombre": "", 
        "Apellido": "", 
        "Supervisor": 0 
      }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      if(Object.keys(response.lista_DataHCInspeccion).length > 0){

        IdHCInspeccion = response.lista_DataHCInspeccion[0].IdHC;
        $("#dat_nombres").val(response.lista_DataHCInspeccion[0].A_NombresPaciente);
        $("#dat_apellidos").val(response.lista_DataHCInspeccion[0].A_ApellidosPaciente);

      }
      else
      {

        $("#dat_nombres").val('');
        $("#dat_apellidos").val('');
        IdHCInspeccion = 0;

      }

    });
          
  }
  else{

    $("#dat_nombres").val('');
    $("#dat_apellidos").val('');
    IdHCInspeccion = 0;

  } 

}

function onChangeIncidencia(){

  if( $(this).hasClass("select-ok") ){

    $(this).removeClass("select-ok");
    $(this).addClass("select-error");

  }
  else
  {

    $(this).removeClass("select-error");
    $(this).addClass("select-ok");

  }

}

function Sp5LimpiarCamposIncidencia(){

  $('.check-incidencia').val('');
  $('#dat_comentario').val('');
  $("select.check-incidencia option[value='1']").prop("selected",true);
  $(".select-incidencia").removeClass("select-error");
  $(".select-incidencia").addClass("select-ok");

}

//Funcion para ingresar solo número
$(".numero").keydown(function(event){

  if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
    return false;
  }

});

/*
function onCargarAgentesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente');
  contenido.empty();
  contenido.append(`<option value="" selected></option>`);

  ValoresSelectAgentes = pluck_Monitoreo["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  ValoresSelectAgentes.forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
  });

  $('#dat_agente').change();

}


function onChangeGESID(){

  if( $(this).val() != 0 ){

    $("#dat_gerencia option[value='"+paObj_detalle_GES[$(this).val()].IdGerencia+"']").prop("selected",true);
    $("#dat_sede option[value='"+paObj_detalle_GES[$(this).val()].IdUnidadSede+"']").prop("selected",true);
    $("#dat_area option[value='"+paObj_detalle_GES[$(this).val()].IdArea+"']").prop("selected",true);
    $('#dat_puesto').val(paObj_detalle_GES[$(this).val()].IdPuestoCargo).trigger("change");
    $("#dat_riesgo option[value='"+paObj_detalle_GES[$(this).val()].idRiesgo+"']").prop("selected",true);
    $('#dat_riesgo').change();
    $("#dat_agente option[value='"+paObj_detalle_GES[$(this).val()].idAgente+"']").prop("selected",true);

  }
  
}
*/



/*function Sp5LimpiarCampos(){

  $('.submit').val('');
  $("select.submit option[value='']").prop("selected",true);
  $('#dat_puesto').val('').trigger("change");

}*/

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>