<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link.active{

  color: #8fbb02 !important;

}

.nav-link.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}

</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->




    <!-- Busqueda de registro  -->


    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Inspecciones</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>





    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="form-box">
          <span>ID inspección</span>
          <input class="form-control data-filtro" id="id_inspeccion" data-filtro='0'> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" id="dat_gerencia" data-filtro-select='1'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Unidad operativa</span>
          <select class="form-control data-filtro-select" id="dat_sede" data-filtro-select='2'>
          </select> 
        </div>
      </div>      
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select" id="dat_estado" data-filtro-select='6'>
          </select> 
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    
    <!-- Fila 2 -->
    <div class="row mb-5">          
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha plan desde</span>
          <input type="date" class="form-control data-filtro-date" id="min_plan"> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha plan hasta</span>
          <input type="date" class="form-control data-filtro-date" id="max_plan"> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha ejec. desde</span>
          <input type="date" class="form-control data-filtro-date" id="min_ejec"> 
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha ejec. hasta</span>
          <input type="date" class="form-control data-filtro-date" id="max_ejec"> 
        </div>
      </div>
    </div>
    <!-- Fila 2 fin -->



    <!-- Busqueda de registro  -->
    
    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-6 p-2 mr-auto mt-4">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_inspeccion_instalaciones-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-6 p-2 mr-auto text-right">
      	<button onclick="Sp5controlNavegacionHigiene(200);Sp5registrarInspeccion();" type="button" class="btn btn-success btn-lg" id=""> Crear 
           <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
         </button>
      </div>

    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_inspeccion_instalaciones" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>ID inspección</th>
              <th>Gerencia</th>
              <th>Unidad operativa</th>
              <th>F. plan</th>
              <th>F. ejecución</th>
              <th>Cant. de zonas inspeccionadas</th>
              <th>Estado</th>
              <th>Cant. de errores encontrados</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_inspeccion_instalaciones">
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var valor = 0;
var ObjTabla;

function Sp5CargarTablaInspeccion(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_inspeccion_instalaciones');
  contenido.empty();

  paObj_Inspeccion["Inspecciones"].forEach((ItemInspeccion) => {

    paObj_detalle_Inspeccion[ItemInspeccion.Id] = ItemInspeccion;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemInspeccion.IdInspeccionInstalaciones+"</td>";
    html_tbody += "<td>"+ItemInspeccion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemInspeccion.SedeDescripcion+"</td>";

    html_tbody += "<td>"+new Date(ItemInspeccion.FechaPlan).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+new Date(ItemInspeccion.FechaEjecucion).toLocaleDateString('en-GB').split('T')[0]+"</td>";

    html_tbody += "<td class='text-center'>"+ItemInspeccion.numZonaInsp+"</td>";
    html_tbody += "<td>"+ItemInspeccion.EstadoName+"</td>";
    html_tbody += "<td class='text-center'>"+ItemInspeccion.cantErrores+"</td>";
 
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";

    if( ItemInspeccion.Estado != 2 ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(200);Sp5editarInspeccion("+ItemInspeccion.Id+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
      html_tbody += "&nbsp;&nbsp; Editar";
      html_tbody += "</a>";

    }

    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(200);Sp5verDetalleInspeccion("+ItemInspeccion.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver registro";
    html_tbody += "</a>";    

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);
    ContadorFila++;

  });

  ObjTabla = $('#table_inspeccion_instalaciones').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Inspecciones', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
        customize: function( xlsx ) {
          var sheet = xlsx.xl.worksheets['sheet1.xml'];
          $('row c[r^="F"]', sheet).attr( 's', '51' );
          $('row c[r^="H"]', sheet).attr( 's', '51' );
        },
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 /*, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_inspeccion_instalaciones') ) {

    $('#table_inspeccion_instalaciones').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      if (settings.nTable.id === 'table_inspeccion_instalaciones') {
        
        var ControlEncontradoPlan = false;
        var ControlEncontradoEjecucion = false;

        var iFini = document.getElementById('min_plan').value;
        var iFfin = document.getElementById('max_plan').value;
        var iStartDateCol = 3;
        var iEndDateCol = 3;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        var datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        var datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" )
        {
            ControlEncontradoPlan = true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            ControlEncontradoPlan = true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            ControlEncontradoPlan = true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            ControlEncontradoPlan = true;
        }

        iFini = document.getElementById('min_ejec').value;
        iFfin = document.getElementById('max_ejec').value;
        iStartDateCol = 4;
        iEndDateCol = 4;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" && ControlEncontradoPlan)
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "" && ControlEncontradoPlan)
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "" && ControlEncontradoPlan)
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin && ControlEncontradoPlan)
        {
            return true;
        }

        return false;

      }

    }

  );

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}





function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}




function Sp5ConfirmarAnularMonitoreo(CodAccion,IdMonitoreo) {

  Swal.fire({
    title: "Anular tarea de monitoreo",
    html: `
    <p>Está por anular la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDMonitoreo(CodAccion, 3,IdMonitoreo);      

    }

  });

}


function Sp5ConfirmarAprobarMonitoreo(CodAccion,IdMonitoreo) {

  Swal.fire({
    title: "Aprobar tarea de monitoreo",
    html: `
    <p>Está por aprobar la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDMonitoreo(CodAccion, 2,IdMonitoreo);     

    }

  });

}



function Sp5CRUDMonitoreo(CodAccion, IdEstado,IdMonitoreo) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 2){

    data.Id1 = IdMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = paObj_detalle_Monitoreo[IdMonitoreo].IdArea;
    data.IdPuestoCargo = paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo;
    data.IdUnidadSede = paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede;
    data.IdGerencia = paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia;
    data.IdZona = paObj_detalle_Monitoreo[IdMonitoreo].IdZona;
    data.idRiesgo = paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo;
    data.idAgente = paObj_detalle_Monitoreo[IdMonitoreo].idAgente;
    data.IdCodigoGES = paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES;
    data.IdEtapa = paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa;
    data.IdTipoEvaluacion = paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion;
    data.FueAprobado = 1; 
    data.FechaAprobado = cargarFechaHoy();
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
 
  }

  if(CodAccion == 3){

    data.Id1 = IdMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = paObj_detalle_Monitoreo[IdMonitoreo].IdArea;
    data.IdPuestoCargo = paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo;
    data.IdUnidadSede = paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede;
    data.IdGerencia = paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia;
    data.IdZona = paObj_detalle_Monitoreo[IdMonitoreo].IdZona;
    data.idRiesgo = paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo;
    data.idAgente = paObj_detalle_Monitoreo[IdMonitoreo].idAgente;
    data.IdCodigoGES = paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES;
    data.IdEtapa = paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa;
    data.IdTipoEvaluacion = paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion;
    data.FueAprobado = paObj_detalle_Monitoreo[IdMonitoreo].FueAprobado; 
    data.FechaAprobado = paObj_detalle_Monitoreo[IdMonitoreo].FechaAprobado.substring(0,10); 
    data.FueAnulado = 1; 
    data.FechaAnulado = cargarFechaHoy();
    data.FueEvaluado = paObj_detalle_Monitoreo[IdMonitoreo].FueEvaluado;  
    data.FechaEvaluado = paObj_detalle_Monitoreo[IdMonitoreo].FechaEvaluado.substring(0,10); 
    data.FueComunicado = paObj_detalle_Monitoreo[IdMonitoreo].FueComunicado; 
    data.FechaComunicacion = paObj_detalle_Monitoreo[IdMonitoreo].FechaComunicacion.substring(0,10); 
    data.fueCerrado = paObj_detalle_Monitoreo[IdMonitoreo].fueCerrado; 
    data.FechaCierre = paObj_detalle_Monitoreo[IdMonitoreo].FechaCierre.substring(0,10); 
    data.accion = 1;
 
  }
  
  let url = apiUrlsho+`/api/hce_Post_052_gestion_monitoreo?code=OzM1cf0JPrZx7mWxWzdvmgVzO0e2Mk5w0XhyOSySB2MDvyy83tUZ3A==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se aprobó la tarea de monitoreo con éxito';

    }

    if( CodAccion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la tarea de monitoreo con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5controlNavegacionHigiene(102);
        handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/datosGenerales.html', 'Identificar');

      });     

    }   

  });

}













function Sp5registrarInspeccion(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/registrarInspeccion.html', 'Formulario de inspección de instalaciones');

}

function Sp5verDetalleInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verInspeccion.html', 'Detalle de inspección de instalaciones');

}


function Sp5editarInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/editarInspeccion.html', 'Editar inspección de instalaciones');

}


function Sp5editarMonitoreo(IdMonitoreo){

  idDetalleMonitoreo = IdMonitoreo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/editarMonitoreo.html', 'Editar tarea de monitoreo');

}

function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function Sp5CargaSedesAreasGerenciasInspeccion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Inspeccion["Areas"] = response.Area;
    pluck_Inspeccion["Gerencias"] = response.Gerencia;
    pluck_Inspeccion["Sedes"] = response.Sedes;
    pluck_Inspeccion["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectInspeccion(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  /*contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });*/

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_zona');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Zonas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });*/

  //Cargando Select de Sedes
  /*contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["EstadosInspeccion"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_etapa');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Etapas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
  });*/

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
    pluck_Monitoreo["Agentes"] = response.lista_Agentes;
    pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
    pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function Sp5CargarPlucksInspeccion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Inspeccion["EstadosInspeccion"] = response.lista_EstadosInsp;

  });
}

function Sp5BuscarTodosInspeccion() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Inspeccion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdInspeccion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Inspeccion["Inspecciones"] = response.lista_GestionDataInspecciones;

    console.log("Inspecciones",paObj_Inspeccion["Inspecciones"]);

    paObj_Inspeccion["Inspecciones"].forEach((ItemMonitoreo) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      /*pluck_Monitoreo["Areas"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdArea) {
          ItemMonitoreo.AreaDescripcion = Item.Description;
        }

      });*/

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Inspeccion["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdGerencia) {
          ItemMonitoreo.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Inspeccion["Sedes"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdUnidadSede) {
          ItemMonitoreo.SedeDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      /*pluck_Monitoreo["Zonas"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdZona) {
          ItemMonitoreo.ZonaDescripcion = Item.Description;
        }

      });*/

    });


  });

}




async function _init_Sp5Monitoreo() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasInspeccion();
  //await Sp5CargarPlucksMonitoreoGES();
  await Sp5CargarPlucksInspeccion();
  await Sp5cargarSelectInspeccion();
  await Sp5BuscarTodosInspeccion();
  await Sp5CargarTablaInspeccion();

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  $('#dat_gerencia').select2();
  $('#dat_sede').select2();
  $('#dat_estado').select2();
  $('.select2-container').css('width', '100%');

 	_init_Sp5Monitoreo();

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTabla.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('.data-filtro').on('keyup', function(){
    
    ObjTabla.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);

  });


  $('#min_plan').on('keyup change', function(){

    $('#max_plan').attr("min", $('#min_plan').val());
    ObjTabla.draw();
    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#max_plan').on('keyup change', function(){

    $('#min_plan').attr("max", $('#max_plan').val());
    ObjTabla.draw();
    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);
    
  });


  $('#min_ejec').on('keyup change', function(){

    $('#max_ejec').attr("min", $('#min_ejec').val());
    ObjTabla.draw();
    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#max_ejec').on('keyup change', function(){

    $('#min_ejec').attr("max", $('#max_ejec').val());
    ObjTabla.draw();
    $('#table_inspeccion_instalaciones-count-row').text(ObjTabla.page.info().recordsDisplay);

  });


  $('.nav-link-ho').on('click',onClickSeccion);

});

function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}

/*function onCargarAgentesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente');
  contenido.empty();
  contenido.append(`<option value="" selected></option>`);

  ValoresSelectAgentes = pluck_GES["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  ValoresSelectAgentes.forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
  });

  $('#dat_agente').change();

}*/




function Sp5LimpiarCampos(){

  $('.data-filtro').val('').trigger("keyup");
  $('.data-filtro-date').val('');
  $('.data-filtro-select').val('').trigger("change");

}






</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>