<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link-ho.active{

  color: #8fbb02 !important;

}

.nav-link-ho.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}

</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->





    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Incidencias</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>







    <!-- Fila 1 -->
    <div class="row mb-3 filter-ergovisor filter-div">
      <div class="col-md-3">
        <div class="form-box">
          <span>ID incidencias</span>
          <input class="form-control data-filtro-ergovisor data-filtro" id="dat_id_incidencia_ergovisor" data-filtro-ergovisor='0'> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Origen de incidencias</span>
          <select class="form-control data-filtro-select-ergovisor data-filtro-select" id="dat_origen_ergovisor" data-filtro-select-ergovisor='6'>
            <option value="" selected></option>
            <option value="1">Evaluacion</option>
            <option value="2">Registro Pro-Activo</option>            
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Sede</span>
          <select class="form-control data-filtro-select-ergovisor data-filtro-select" id="dat_sede_ergovisor" data-filtro-select-ergovisor='2'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <select class="form-control data-filtro-select-ergovisor data-filtro-select" id="dat_puesto_ergovisor" data-filtro-select-ergovisor='4'>
          </select> 
        </div>
      </div>
    </div>  

    <!-- Fila 1 -->
    <div class="row mb-3 filter-ergovisor filter-div">
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha</span>
          <input type="date" class="form-control data-filtro-date data-filtro-date-ergovisor" id="dat_fecha_ergovisor" data-filtro-date-ergovisor='5'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select-ergovisor data-filtro-select" id="dat_estado_ergovisor" data-filtro-select-ergovisor='7'>
            <option value="" selected></option>
            <option value="4">Anulado</option>
            <option value="3">Cerrado</option>
            <option value="2">Comunicado</option>
            <option value="1">Creado</option>
          </select> 
        </div>
      </div>
    </div>                   
    <!-- Fila 1 fin -->




    <!-- Fila 1 -->
    <div class="row mb-3 filter-salva filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>Unidad operativa</span>
          <input class="form-control data-filtro-salva data-filtro" id="dat_unidad_operativa_salva" data-filtro-salva='2'> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Embarcación</span>
          <select class="form-control data-filtro-select-salva data-filtro-select" id="dat_embarcacion_salva" data-filtro-select-salva='3'>
            <option value="" selected></option>
            <option value="1">Embarcacion 1</option>
            <option value="2">Embarcacion 2</option>
            <option value="3">Embarcacion 3</option>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha desde</span>
          <input type="date" class="form-control data-filtro-date" id="dat_fecha_desde_salva"> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha hasta</span>
          <input type="date" class="form-control data-filtro-date" id="dat_fecha_hasta_salva"> 
        </div>
      </div>
    </div>

    <div class="row mb-3 filter-salva filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>Nivel de riesgo</span>
          <select class="form-control data-filtro-select-salva data-filtro-select" id="dat_nivel_riesgo_salva" data-filtro-select-salva='6'>
            <option value="" selected></option>
            <option value="1">Nivel 1</option>
            <option value="2">Nivel 2</option>
            <option value="3">Nivel 3</option>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Tipo</span>
          <select class="form-control data-filtro-select-salva data-filtro-select" id="dat_tipo_salva" data-filtro-select-salva='1'>
            <option value="" selected></option>
            <option value="1">Tipo 1</option>
            <option value="2">Tipo 2</option>
            <option value="3">Tipo 3</option>
          </select> 
        </div>
      </div>
    </div>                      
    <!-- Fila 1 fin -->

    <!-- Fila 1 -->
    <div class="row mb-3 filter-atenciones_medicas filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>ID atención médica</span>
          <input class="form-control data-filtro-atenciones data-filtro" id="dat_id_atencion_medica" data-filtro-atenciones='0'> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha registro</span>
          <input type="date" class="form-control data-filtro-date-atenciones data-filtro-date" id="dat_fecha_atenciones" data-filtro-date-atenciones='5'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Riesgo</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_riesgo_atenciones" data-filtro-select-atenciones='6'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Agente</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_agente_atenciones" data-filtro-select-atenciones='7'>
            <option value="" selected>Selecciona un riesgo</option> 
          </select> 
        </div>
      </div>
    </div>

    <div class="row mb-3 filter-atenciones_medicas filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_gerencia_atenciones" data-filtro-select-atenciones='1'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Un. Ope./ Embar.</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_unidad_atenciones" data-filtro-select-atenciones='2'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_area_atenciones" data-filtro-select-atenciones='3'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_puesto_atenciones" data-filtro-select-atenciones='4'>
          </select> 
        </div>
      </div>
    </div>

    <div class="row mb-3 filter-atenciones_medicas filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select-atenciones data-filtro-select" id="dat_estado_atenciones" data-filtro-select-atenciones='11'>
            <option value="" selected></option>
            <option value="4">Anulado</option>
            <option value="3">Cerrado</option>
            <option value="2">Comunicado</option>
            <option value="1">Creado</option>
          </select> 
        </div>
      </div>
    </div>   
                      
    <!-- Fila 1 fin -->


    <!-- Fila 1 -->
    <div class="row mb-3 filter-inspecciones filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>ID incidencia</span>
          <input class="form-control data-filtro-inspecciones data-filtro" id="dat_id_incidencia_inspecciones" data-filtro-inspecciones='0'> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha registro</span>
          <input type="date" class="form-control data-filtro-date-inspecciones data-filtro-date" id="dat_fecha_inspecciones" data-filtro-date-inspecciones='4'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select-inspecciones data-filtro-select" id="dat_gerencia_inspecciones" data-filtro-select-inspecciones='2'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Un. Ope./ Embar.</span>
          <select class="form-control data-filtro-select-inspecciones data-filtro-select" id="dat_unidad_inspecciones" data-filtro-select-inspecciones='3'>
          </select> 
        </div>
      </div>
    </div> 

    <div class="row mb-3 filter-inspecciones filter-div d-none">
      <div class="col-md-3">
        <div class="form-box">
          <span>Tipo</span>
          <select class="form-control data-filtro-select-inspecciones data-filtro-select" id="dat_tipo_inspecciones" data-filtro-select-inspecciones='7'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select-inspecciones data-filtro-select" id="dat_estado_inspecciones" data-filtro-select-inspecciones='8'>
            <option value="" selected></option>
            <option value="4">Anulado</option>
            <option value="3">Cerrado</option>
            <option value="2">Comunicado</option>
            <option value="1">Creado</option>
          </select> 
        </div>
      </div>
    </div>                  
    <!-- Fila 1 fin -->


    <!-- Busqueda de registro  -->
    
   

     <!-- Nav-tabs -->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">
        
        <div class="row mt-4"> 
          <div class="col-md-12">           
            <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link nav-link-tablas active" data="ergovisor" id="ergovisor-tab" data-toggle="tab" href="#ergovisor" role="tab" aria-controls="ergovisor" aria-selected="true">Ergovisor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-tablas" data="salva" id="salva-tab" data-toggle="tab" href="#salva" role="tab" aria-controls="salva" aria-selected="false">Salva</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-tablas" data="atenciones_medicas" id="atenciones_medicas-tab" data-toggle="tab" href="#atenciones_medicas" role="tab" aria-controls="atenciones_medicas" aria-selected="false">Atenciones médicas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-tablas" data="inspecciones" id="inspecciones-tab" data-toggle="tab" href="#inspecciones" role="tab" aria-controls="inspecciones" aria-selected="false">Inspecciones</a>
              </li>
            </ul>
          </div>      
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="ergovisor" role="tabpanel" aria-labelledby="ergovisor-tab">


            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_incidencia_ergovisor-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive" style="overflow-y:hidden !important;">
              <table class="table-box table-container" id="table_incidencia_ergovisor" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>ID incidencia</th>
                    <th>Gerencia</th>
                    <th>Sede</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>F. Registro</th>
                    <th>Origen de incidencia</th>
                    <th>Estado</th>
                    <th>Código de pregunta</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_incidencia_ergovisor">
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="salva" role="tabpanel" aria-labelledby="salva-tab">

            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_incidencia_salva-count-row">0</span> registros</span>
                </div>
              </div>
            </div>          
            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box table-container" id="table_incidencia_salva" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>ID incidencia</th>
                    <th>Tipo</th>
                    <th>Unidad operativa</th>
                    <th>Embarcación</th>
                    <th>Área</th>
                    <th>Fecha</th>
                    <th>Nivel de riesgo</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_incidencia_salva"> 
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

          <!-- Descanso medico -->    
          <div class="tab-pane fade" id="atenciones_medicas" role="tabpanel" aria-labelledby="atenciones_medicas-tab">


            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_incidencia_atenciones_medicas-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive" style="overflow-y:hidden !important;">
              <table class="table-box table-container" id="table_incidencia_atenciones_medicas" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>ID atención médica</th>
                    <th>Gerencia</th>
                    <th>Un. Ope./ Embarcación</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>F. Registro</th>
                    <th>Riesgo</th>
                    <th>Agente</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_incidencia_atenciones_medicas">
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Descanso medico -->    
          <div class="tab-pane fade" id="inspecciones" role="tabpanel" aria-labelledby="inspecciones-tab">


            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_incidencia_inspeccion-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive" style="overflow-y:hidden !important;">
              <table class="table-box table-container" id="table_incidencia_inspeccion" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>ID incidencia</th>
                    <th>ID inspección</th>
                    <th>Gerencia</th>
                    <th>Unidad operativa</th>
                    <th>F.Registro</th>
                    <th>Zona de inspección</th>
                    <th>Nombre del item</th>
                    <th>Tipo de incidencia</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_incidencia_inspeccion">
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->











  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var valor = 0;
var ObjTablaErgovisor;
var ObjTablaSalva;
var ObjTablaAtencion;
var ObjTablaInspeccion;

function Sp5verDetalleIncidenciaAtencion(IdAtencionMedica,IdHistoria){

  idDetalleAtencionMedica = IdAtencionMedica;
  idDetalleAtencionMedicaHC = IdHistoria;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verIncidenciaAtencionMedica.html', 'Detalle de atención médica');

}

function Sp5verDetalleIncidenciaInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verIncidenciaInspeccion.html', 'Detalle de inspección de instalaciones');

}

function Sp5CargarTablasIncidencias(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_incidencia_ergovisor');
  contenido.empty();

  paObj_Incidencia["ErgovisorEvaluacion"].forEach((ItemIncidenciaErgovisorEvaluacion) => {

    paObj_DetalleEvaluacionErgovisorTemporal[ItemIncidenciaErgovisorEvaluacion.EvaluacionId] = ItemIncidenciaErgovisorEvaluacion;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.CodigoIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.SedeDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.AreaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.B_PuestoTrabajo+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaErgovisorEvaluacion.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.OrigenIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.EstadoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.CodePregunta+"</td>";
    html_tbody += "<td>";

    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleErgovisorEvaluacion("+ItemIncidenciaErgovisorEvaluacion.EvaluacionId+","+ItemIncidenciaErgovisorEvaluacion.IdHC+","+ItemIncidenciaErgovisorEvaluacion.EstadoEvaluacionErgo+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";    

    if( ItemIncidenciaErgovisorEvaluacion.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaErgovisorEvaluacion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaErgovisorEvaluacion.EstadoName != "Anulado" && ItemIncidenciaErgovisorEvaluacion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaErgovisorEvaluacion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaErgovisorEvaluacion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";      

    }

    html_tbody += "</div>";
    html_tbody += "</div>";


    html_tbody += "</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorEvaluacion.Id+"</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  paObj_Incidencia["ErgovisorIncidencia"].forEach((ItemIncidenciaErgovisorIncidencia) => {

    paObj_DetalleIncidenciaErgovisorTemporal[ItemIncidenciaErgovisorIncidencia.InciedenciaId] = ItemIncidenciaErgovisorIncidencia;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.CodigoIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.SedeDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.AreaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.B_PuestoTrabajo+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaErgovisorIncidencia.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.OrigenIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.EstadoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.CodePregunta+"</td>";
    html_tbody += "<td>";

    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleErgovisorIncidencia("+ItemIncidenciaErgovisorIncidencia.InciedenciaId+","+ItemIncidenciaErgovisorIncidencia.IdHC+","+ItemIncidenciaErgovisorIncidencia.EstadoIncidenciaErgo+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";    

    if( ItemIncidenciaErgovisorIncidencia.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaErgovisorIncidencia.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaErgovisorIncidencia.EstadoName != "Anulado" && ItemIncidenciaErgovisorIncidencia.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaErgovisorIncidencia.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaErgovisorIncidencia.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";      

    }

    html_tbody += "</div>";
    html_tbody += "</div>";


    html_tbody += "</td>";
    html_tbody += "<td>"+ItemIncidenciaErgovisorIncidencia.Id+"</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaErgovisor = $('#table_incidencia_ergovisor').DataTable({
    "pageLength": 5,
    "ordering": true,
    "order": [[ 10, 'desc' ]],
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    "columnDefs": [
      {
          "targets": [ 10 ],
          "visible": false,
          "searchable": false
      },
      {
          "targets": [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9 ],
          "visible": true,
          "orderable": false
      }
    ],
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Ergovisor)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8/*, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_ergovisor-count-row').text(ObjTablaErgovisor.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_ergovisor') ) {

    $('#table_incidencia_ergovisor').find('.nav-link').trigger('click');

  }

  ObjTablaSalva = $('#table_incidencia_salva').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Salva)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 /*, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_salva-count-row').text(ObjTablaErgovisor.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_salva') ) {

    $('#table_incidencia_salva').find('.nav-link').trigger('click');

  }

  contenido = $('#content_incidencia_atenciones_medicas');
  contenido.empty();

  paObj_Incidencia["Atencion"].forEach((ItemIncidenciaAtencion) => {

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.CodigoAtencionMedica+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.SedeDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.AreaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.PuestoTrabajo_Empresa_H+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaAtencion.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.RiesgoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.AgenteRiesgoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.A_DniPaciente+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.Nombres+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.Apellidos+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.EstadoName+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleIncidenciaAtencion("+ItemIncidenciaAtencion.IdAtencionMedica+","+ItemIncidenciaAtencion.IdHC+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";  

    if( ItemIncidenciaAtencion.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaAtencion.EstadoName != "Anulado" && ItemIncidenciaAtencion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";     

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaAtencion = $('#table_incidencia_atenciones_medicas').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Atenciones Médicas)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10, 11/* 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_atenciones_medicas-count-row').text(ObjTablaAtencion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_atenciones_medicas') ) {

    $('#table_incidencia_atenciones_medicas').find('.nav-link').trigger('click');

  }


  contenido = $('#content_incidencia_inspeccion');
  contenido.empty();

  paObj_Incidencia["Inspeccion"].forEach((ItemIncidenciaInspeccion) => {

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.CodigoIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.IdInspeccionCode+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.SedeDescripcion+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaInspeccion.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.ZonaInspeccion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.ItemName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.TipoIncidenciaName+"</td>"; 
    html_tbody += "<td>"+ItemIncidenciaInspeccion.EstadoName+"</td>";  
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleIncidenciaInspeccion("+ItemIncidenciaInspeccion.IdInspeccion+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";    

    if( ItemIncidenciaInspeccion.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaInspeccion.EstadoName != "Anulado" && ItemIncidenciaInspeccion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";      

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });


  ObjTablaInspeccion = $('#table_incidencia_inspeccion').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Inspecciones)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8/*, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_inspeccion-count-row').text(ObjTablaInspeccion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_inspeccion') ) {

    $('#table_incidencia_inspeccion').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  /*$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      

    }

  );*/


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}





function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}




function Sp5ConfirmarAnularIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Anular incidencia",
    html: `
    <p>Está por anular la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 4,IdIncidencia,TipoOrigen);      

    }

  });

}


function Sp5ConfirmarCerrarIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Cerrar incidencia",
    html: `
    <p>Está por cerrar la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 3,IdIncidencia,TipoOrigen);       

    }

  });

}


function Sp5ConfirmarComunicarIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Comunicar incidencia",
    html: `
    <p>Está por comunicar la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 2,IdIncidencia,TipoOrigen);        

    }

  });

}


function Sp5CRUDIncidencia(CodAccion, IdEstado,IdIncidencia, TipoOrigen) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 3){

    data.Id1 = IdIncidencia;
    data.Estado = IdEstado;
    data.IdTipoOrigenInc = TipoOrigen;
    data.IdOrigenInc = 0;
    data.TipoIncidencia = 0;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.itemIncidenciaId = 0;
    data.accion = CodAccion;
 
  }
  
  let url = apiUrlsho+`/api/hce_Post_055_incidencia?code=EDCd6l2j1o7QidVsptCUxBdaI/sXzAxrQZPFqOI3yWw9SjdR2fRa6g==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    if( IdEstado == 4 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la incidencia con éxito';

    }

    if( IdEstado == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se cerro la incidencia con éxito';

    }

    if( IdEstado == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se comunico la incidencia con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5controlNavegacionHigiene(201);
        handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/datosGenerales.html', 'Evaluar');

      });     

    }   

  });

}













function Sp5registrarInspeccion(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/registrarInspeccion.html', 'Formulario de inspección de instalaciones');

}

function Sp5verDetalleInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verInspeccion.html', 'Detalle de inspección de instalaciones');

}


function Sp5editarInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/editarInspeccion.html', 'Editar inspección de instalaciones');

}


function Sp5editarMonitoreo(IdMonitoreo){

  idDetalleMonitoreo = IdMonitoreo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/editarMonitoreo.html', 'Editar tarea de monitoreo');

}

function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function Sp5CargaSedesAreasGerenciasIncidencia() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Incidencia["Areas"] = response.Area;
    pluck_Incidencia["Gerencias"] = response.Gerencia;
    pluck_Incidencia["Sedes"] = response.Sedes;
    pluck_Incidencia["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectIncidencia(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area_atenciones option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

   //Cargando Select de Gerencias
  contenido = $('#dat_gerencia_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede_ergovisor');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_zona');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Zonas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_puesto_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto_atenciones option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto_ergovisor');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto_ergovisor option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_tipo_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["TipoIncidencia"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.TipoIncidencia}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_tipo_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["TipoIncidencia"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.TipoIncidencia}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_etapa');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Etapas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
  });*/

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    console.log("plucks",response);
    pluck_Incidencia["Agentes"] = response.lista_Agentes;
    pluck_Incidencia["Riesgos"] = response.lista_Riesgos;
    pluck_Incidencia["Puestos"] = response.lista_Cargos_Puestos_Trabajo;
    pluck_Incidencia["TipoIncidencia"] = response.lista_TipoIncidencia;

  });
}

function Sp5CargarPlucksInspeccion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Inspeccion["EstadosInspeccion"] = response.lista_EstadosInsp;
    console.log("plucks inspeccion",response);

  });
}






async function _init_Sp5Incidencia() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasIncidencia();
  await Sp5CargarPlucksMonitoreoGES();
  //await Sp5CargarPlucksInspeccion();
  await Sp5cargarSelectIncidencia();
  await Sp5BuscarIncidenciasAtencion();
  await Sp5BuscarIncidenciasInspeccion();
  await Sp5BuscarIncidenciasErgovisor();
  await Sp5CargarTablasIncidencias();

  //Se apaga el Cargando
  hideLoading();

}


function Sp5verDetalleErgovisorEvaluacion(IdEvaluacionErgovisor,IdHistoriaErgo,IdEstado){

  IdHCErgo = IdHistoriaErgo;
  idDetalleEvaluacionErgovisor = IdEvaluacionErgovisor;
  EstadoDetalleErgovisor = IdEstado;

  ControlNavHigieneTexto = 'Evaluar';

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verErgovisorEvaluacion.html', 'Formulario de incidencias '+paObj_DetalleEvaluacionErgovisorTemporal[IdEvaluacionErgovisor].CodeEvaluacion );

}

function Sp5verDetalleErgovisorIncidencia(IdIncidenciaErgovisor,IdHistoriaErgo,IdEstado){

  IdHCErgo = IdHistoriaErgo;
  idDetalleIncidenciaErgovisor = IdIncidenciaErgovisor;
  EstadoDetalleErgovisor = IdEstado;

  ControlNavHigieneTexto = 'Evaluar';

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verErgovisorIncidencia.html', 'Formulario de incidencias '+paObj_DetalleIncidenciaErgovisorTemporal[IdIncidenciaErgovisor].IncidenciaCode);

}


function Sp5BuscarIncidenciasErgovisor() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=bandejaIncidenciasErgoIncidencias`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {
    console.log("ergooo",response);
    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Incidencia["ErgovisorEvaluacion"] = response.Lista_bandejaEvaluacionErgoIncidencia;
    paObj_Incidencia["ErgovisorIncidencia"] = response.Lista_bandejaIncidenciaErgoIncidencia;

    paObj_Incidencia["ErgovisorEvaluacion"].forEach((ItemIncidenciaErgovisorEvaluacion) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorEvaluacion.B_AreaId) {
          ItemIncidenciaErgovisorEvaluacion.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorEvaluacion.B_GerenciaId) {
          ItemIncidenciaErgovisorEvaluacion.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorEvaluacion.B_SedeId) {
          ItemIncidenciaErgovisorEvaluacion.SedeDescripcion = Item.Description;
        }

      });

    });

    paObj_Incidencia["ErgovisorIncidencia"].forEach((ItemIncidenciaErgovisorIncidencia) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorIncidencia.B_AreaId) {
          ItemIncidenciaErgovisorIncidencia.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorIncidencia.B_GerenciaId) {
          ItemIncidenciaErgovisorIncidencia.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaErgovisorIncidencia.B_SedeId) {
          ItemIncidenciaErgovisorIncidencia.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}



function Sp5BuscarIncidenciasInspeccion() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaIncidencia_Inspecciones`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdIncidencia": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Incidencia["Inspeccion"] = response.lista_incidencia_Inspeccion;

    console.log("Incidencias inspecciones",paObj_Incidencia["Inspeccion"]);

    paObj_Incidencia["Inspeccion"].forEach((ItemIncidenciaInspeccion) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.AreaId_Empresa_H) {
          ItemIncidenciaInspeccion.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.IdGerencia) {
          ItemIncidenciaInspeccion.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.UnidadOperativaId) {
          ItemIncidenciaInspeccion.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}

function Sp5BuscarIncidenciasAtencion() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaIncidencia_AtencionMedica`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdIncidencia": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Incidencia["Atencion"] = response.lista_incidencia_AM;

    console.log("Incidencias atencion",paObj_Incidencia["Atencion"]);

    paObj_Incidencia["Atencion"].forEach((ItemIncidenciaAtencion) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.AreaId_Empresa_H) {
          ItemIncidenciaAtencion.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.GerenciaId_Empresa_H) {
          ItemIncidenciaAtencion.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.PlantaId_Empresa_H) {
          ItemIncidenciaAtencion.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}

$(document).ready(function() {

  $('#dat_origen_ergovisor').select2();
  $('#dat_sede_ergovisor').select2();
  $('#dat_puesto_ergovisor').select2();
  $('#dat_estado_ergovisor').select2();

  $('#dat_embarcacion_salva').select2();
  $('#dat_nivel_riesgo_salva').select2();
  $('#dat_tipo_salva').select2();

  $('#dat_riesgo_atenciones').select2();
  $('#dat_agente_atenciones').select2();
  $('#dat_gerencia_atenciones').select2();
  $('#dat_unidad_atenciones').select2();
  $('#dat_area_atenciones').select2();
  $('#dat_puesto_atenciones').select2();
  $('#dat_estado_atenciones').select2();

  $('#dat_gerencia_inspecciones').select2();
  $('#dat_unidad_inspecciones').select2();
  $('#dat_tipo_inspecciones').select2();
  $('#dat_estado_inspecciones').select2();

  $('.select2-container').css('width', '100%');

 	_init_Sp5Incidencia();

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
//ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });

  $('.data-filtro-ergovisor').on('keyup', function(){
    
    ObjTablaErgovisor.column(parseInt($(this).attr('data-filtro-ergovisor'))).search($(this).val()).draw();
    $('#table_incidencia_ergovisor-count-row').text(ObjTablaErgovisor.page.info().recordsDisplay);

  });



  $('.data-filtro-date-ergovisor').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaErgovisor.column(parseInt($(this).attr('data-filtro-date-ergovisor'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaErgovisor.column(parseInt($(this).attr('data-filtro-date-ergovisor'))).search("").draw();

    }
    
    $('#table_incidencia_ergovisor-count-row').text(ObjTablaErgovisor.page.info().recordsDisplay);

  });




  $('.data-filtro-select-ergovisor').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaErgovisor.column(parseInt($(this).attr('data-filtro-select-ergovisor'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_incidencia_ergovisor-count-row').text(ObjTablaErgovisor.page.info().recordsDisplay);

  });






  $('.data-filtro-select-atenciones').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    if( valor == "Selecciona un riesgo" ){

      valor = "";

    }

    ObjTablaAtencion.column(parseInt($(this).attr('data-filtro-select-atenciones'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_incidencia_atenciones_medicas-count-row').text(ObjTablaAtencion.page.info().recordsDisplay);

  });

  $('.data-filtro-atenciones').on('keyup', function(){
    
    ObjTablaAtencion.column(parseInt($(this).attr('data-filtro-atenciones'))).search($(this).val()).draw();
    $('#table_incidencia_atenciones_medicas-count-row').text(ObjTablaAtencion.page.info().recordsDisplay);

  });

  $('.data-filtro-date-atenciones').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaAtencion.column(parseInt($(this).attr('data-filtro-date-atenciones'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaAtencion.column(parseInt($(this).attr('data-filtro-date-atenciones'))).search("").draw();

    }
    
    $('#table_incidencia_atenciones_medicas-count-row').text(ObjTablaAtencion.page.info().recordsDisplay);

  });






  $('.data-filtro-select-inspecciones').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaInspeccion.column(parseInt($(this).attr('data-filtro-select-inspecciones'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_incidencia_inspeccion-count-row').text(ObjTablaInspeccion.page.info().recordsDisplay);

  });


  $('.data-filtro-inspecciones').on('keyup', function(){
    
    ObjTablaInspeccion.column(parseInt($(this).attr('data-filtro-inspecciones'))).search($(this).val()).draw();
    $('#table_incidencia_inspeccion-count-row').text(ObjTablaInspeccion.page.info().recordsDisplay);

  });


  $('.data-filtro-date-inspecciones').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaInspeccion.column(parseInt($(this).attr('data-filtro-date-inspecciones'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaInspeccion.column(parseInt($(this).attr('data-filtro-date-inspecciones'))).search("").draw();

    }
    
    $('#table_incidencia_inspeccion-count-row').text(ObjTablaInspeccion.page.info().recordsDisplay);

  });


  $('.nav-link-tablas').on('click',onTabsTablasClick);

  $('#dat_riesgo_atenciones').on('change',onCargarAgentesAtencionesChange);

  $('.nav-link-ho').on('click',onClickSeccion);

});

function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}

function onCargarAgentesAtencionesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente_atenciones');
  
  ValoresSelectAgentes = pluck_Incidencia["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  contenido.empty();

  if(parseInt(ValoresSelectAgentes.length) == 0){

    contenido.append(`<option value="" selected>Selecciona un riesgo</option>`);

  }
  else
  {

    contenido.append(`<option value="" selected></option>`);

    ValoresSelectAgentes.forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
    });

  }

  $('#dat_agente_atenciones').change();

}


function onTabsTablasClick(){

  $(".filter-div").addClass('d-none');
  $( ".filter-" + $(this).attr("data") ).removeClass('d-none');

}



function Sp5LimpiarCampos(){

  $('.data-filtro').val('').trigger("keyup");
  $('.data-filtro-date-ergovisor').val('').trigger("change");
  $('.data-filtro-date-atenciones').val('').trigger("change");
  $('.data-filtro-date-inspecciones').val('').trigger("change");
  $('.data-filtro-select').val('').trigger("change");

}

/*function onCargarAgentesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente');
  contenido.empty();
  contenido.append(`<option value="" selected></option>`);

  ValoresSelectAgentes = pluck_GES["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  ValoresSelectAgentes.forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
  });

  $('#dat_agente').change();

}*/



</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>