<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<link href="css/select2.min.css" rel="stylesheet" />

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select2-container .select2-selection--single .select2-selection__rendered{

  width: inherit !important;
  top: -10px !important;
  left: -15px !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow{

  top: -15px !important;
  left: 220px !important;

}

.select-small{

  font-size: 0.70rem !important;

}


.input-box-secondary select.select-ok{

  border: solid 2px #28a745 !important; 
  padding: 28px 8px 10px 8px !important;

}


.input-box-secondary select.select-error{

  border: solid 2px #dc3545 !important; 
  padding: 28px 8px 10px 8px !important;

}

.input-box-secondary span.span-incidencia
{

  left: 39.5% !important;

}




/*datatable*/

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}



table.dataTable.dataTable_width_auto {
  width: auto;
}


</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>
      <div class="row mb-5 align-items-center">
        <div class="col-md-4 col-sm-12">
          <span class="titulo">Datos de la inspección</span>
        </div>
      </div>




      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>ID inspección</span>
            <input type="text" id="dat_id_inspeccion" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Fecha de plan</span>
            <input type="date" id="dat_fecha_plan" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Fecha de ejecucción</span>
            <input type="date" id="dat_fecha_ejecucion" disabled> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Gerencia</span>
            <select  id="dat_gerencia" disabled>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Unidad operativa</span>
            <select name="" id="dat_sede" disabled>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Documento</span>
            <input type="text" id="dat_documento" disabled> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Nombres</span>
            <input type="text" id="dat_nombres" disabled> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Apellidos</span>
            <input type="text" id="dat_apellidos" disabled> 
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Tipo de equipo</span>
            <input type="text" id="dat_tipo_equipo" disabled> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Estado</span>
            <select name="" id="dat_estado" disabled>
            </select>
          </div>
        </div>
      </div>



    <div class="row mb-5 mt-2">
      <div class="col-md-12" style="height: 460px; width: 100%; border: solid 1px #c8c8c8; background-color: #fff; padding-left: 50px;">

        <img src="images/sho/img_inspeccion.png" style="width: 867px; height: 422px; margin-top: 25px; margin-left: auto; margin-right: auto; display: block;" />

      </div>
    </div>


      <div class="row mb-5 d-flex align-items-center">
        <div class="col-md-12">
          <span class="titulo">Items a inspeccionar</span>
        </div>
      </div>



 <div class="row mb-5 mt-5">
        <div class="col-md-6">

          <div class="table-responsive">
            <table class="table-box">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Freno de mano y aparcamiento, combinados</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Empuñadura</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Mando de válvulas: elevación, punto muerto, descenso.</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Barra de tracción</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Chásis</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Barra de empuje de elevación</td>
                </tr>
              </tbody>
            </table>
          </div> 



        </div>
        <div class="col-md-6">

          <div class="table-responsive">
            <table class="table-box">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>7</td>
                  <td>Muelle de retorno a vertical</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Conjunto hidraúlico</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Ruedas directrices</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Leva de mecanismo de elevación</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Rueda delantera, sencilla o doble</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Rodillos de entrada</td>
                </tr>
              </tbody>
            </table>
          </div> 



        </div>
      </div>



      <div class="row mb-5 mt-4">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_inspeccion-count-row">0</span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_inspeccion">
          <thead>
            <tr>
              <th style="width: 20px !important;">Nro</th>
              <th>Zona</th>
              <th>Nro de estoca</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
              <th>11</th>
              <th>12</th>
              <th>Documento operativo</th>
              <th>Nombres y apellidos operativos</th>
              <th>Documento supervisor</th>
              <th>Nombres y apellidos supervisor</th>
              <th>Comentarios</th>
            </tr>
          </thead>
          <tbody id="content_inspeccion"> 
          </tbody>
        </table>
      </div>
    </div> 




    
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}

/*function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}*/








/*function Sp5CRUDGES(CodAccion) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';


  if(CodAccion == 1){

    data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
    //data.accion = 0;
    data.CreadoPor = "User";
    data.ModificadoPor = "User";
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.Tarea = $("#dat_tarea").val();
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.Cantidad = $("#dat_cantidad").val();
    data.Frecuencia = $("#dat_frecuencia").val();
    data.Actividad_MA = $("#dat_actividad option:selected").val();
    data.EPP = $("#dat_epp option:selected").val();
    data.Control_Ingenieria = $("#dat_control_ing").val();
    data.Dosis = $("#dat_dosis").val();
    data.ValoracionDosis = $("#dat_valoracion_dosis").val();
    data.GES_ID = $("#dat_ges_id").val();
    data.BaseEXP = $("#dat_base_exp").val();
    data.LMP = $("#dat_lmp").val();
    data.TiempoExp = $("#dat_tiempo_exp").val();
    data.EfectoSalud = $("#dat_efecto_salud").val();
    data.BaseEFE = $("#dat_base_efe").val();
    data.CalculoRiesgo = $("#dat_calculo_riesgo").val();
    data.Incertidumbre = $("#dat_incertidumbre").val();
    data.ValoracionDosis_2 = 0;
    data.PrioridadRecopilaInf = $("#dat_prioridad_recopilacion").val();
    data.InformacionNecesaria = $("#dat_informacion_necesaria").val();
    data.AccionesTomar = $("#dat_acciones_tomar").val();
    data.ClasificacionRiesgo = $("#dat_clasificacion_riesgo").val();
    data.EstadoLogicoGestion = 1;
    data.accion = 0;
    data.FechaModificacion = new Date();

  }

  let url = apiUrlsho+`/api/hce_Post_051_gestion?code=FHYiaCYmTMeiKnBoEun8w4aCF7jHQCKOGYsv6bnE/iqc2y3sA8mNcg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    Swal.fire({
      title: "GES creado con éxito",
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

      Sp5volverIndexHigiene();

    });    

  });

}*/



/*function Sp5CargarPlucksGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
    pluck_GES["Agentes"] = response.lista_Agentes;
    pluck_GES["Riesgos"] = response.lista_Riesgos;
    pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}*/

/*function Sp5CargaSedesAreasGerenciasGES() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_GES["Areas"] = response.Area;
    pluck_GES["Gerencias"] = response.Gerencia;
    pluck_GES["Sedes"] = response.Sedes;

  });

}*/

/*function Sp5cargarSelectGES(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.append(`<option value=""></option>`);

  pluck_GES["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_actividad');
  contenido.append(`<option value=""></option>`);

  pluck_GES["ActividadMA"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.ActividadMA}</option>`)
  });

}
*/

var ObjTabla;

function Sp5CargarTablaIncidencia() {

  let html_tbody = '';

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  if(Object.keys(paObj_IndicenciasInspeccion["Incidencias"]).length > 0){

    $.each(paObj_IndicenciasInspeccion["Incidencias"], function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += (index+1);
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.ZonaName;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.NumEstocada) == 0 ? '' : accountObj.NumEstocada);
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat1) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat2) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat3) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat4) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat5) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat6) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat7) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat8) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat9) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat10) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat11) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.dat12) == 0 ? 'OK' : 'ERROR');
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.DocOperativo) == 0 ? '--' : accountObj.DocOperativo);
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreApellido;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (parseInt(accountObj.DocSupervisor) == 0 ? '--' : accountObj.DocSupervisor);
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreApellido2;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.Comentarios;
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_inspeccion tbody").append(html_tbody);

    });         

  }

  ObjTabla = $('#table_inspeccion').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "bAutoWidth": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_inspeccion-count-row').text(ObjTabla.rows().count());
    
    $('.scrollbar').removeClass('dataTables_scrollBody');

}

function Sp5CargaSedesAreasGerenciasInspeccion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Inspeccion["Areas"] = response.Area;
    pluck_Inspeccion["Gerencias"] = response.Gerencia;
    pluck_Inspeccion["Sedes"] = response.Sedes;
    pluck_Inspeccion["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectInspeccion(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["EstadosInspeccion"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Inspeccion["Estados"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });*/

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
    pluck_Monitoreo["Agentes"] = response.lista_Agentes;
    pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
    pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function Sp5CargarPlucksMonitoreo() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Monitoreo["Estados"] = response.lista_Estados;
    pluck_Monitoreo["Etapas"] = response.lista_Etapas;
    pluck_Monitoreo["TipoEvaluacion"] = response.Lista_EvaluacionGES;

  });
}

function Sp5BuscarIncidenciasInspeccion(IdInspeccion) {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=Lista_Hijos_Inspeccion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdInspeccion": IdInspeccion }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_IndicenciasInspeccion["Incidencias"] = response.lista_HijosInspeccion;

  });

}



/*function Sp5CargarMonitoreo(IdMonitoreo){

  $('#dat_fecha_registro').val(cargarFechaHoy());
  $('#dat_estado').val("Creado");
  $('#dat_id_tarea').val("COD000"+IdMonitoreo);

}*/

function Sp5CargarPlucksInspeccion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Inspeccion["EstadosInspeccion"] = response.lista_EstadosInsp;

  });
}

async function _init_Sp5Inspeccion(IdInspeccion) {

  //Se inicia el Cargando
  showLoading();

  //await Sp5CRUDMonitoreo(0,0);
  await Sp5CargaSedesAreasGerenciasInspeccion();
  await Sp5CargarPlucksInspeccion();
  //await Sp5CargarPlucksMonitoreoGES();
  //await Sp5CargarPlucksMonitoreo();
  //await Sp5BuscarTodosGES();
  await Sp5cargarSelectInspeccion();

  //await Sp5CargarMonitoreo(idTemporalMonitoreo);

  await Sp5BuscarInspeccion(IdInspeccion);
  await Sp5CargarInspeccion(IdInspeccion);
  await Sp5BuscarIncidenciasInspeccion(IdInspeccion)
  await Sp5CargarTablaIncidencia();

  //Se apaga el Cargando
  hideLoading();

}

function Sp5BuscarInspeccion(IdInspeccion){

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Inspeccion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdInspeccion": IdInspeccion }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Inspeccion["Inspecciones"] = response.lista_GestionDataInspecciones[0];

    console.log("Inspecciones",paObj_Inspeccion["Inspecciones"]);

  });


}

function Sp5CargarInspeccion(IdInspeccion){

  $("#dat_gerencia option[value='"+paObj_Inspeccion["Inspecciones"].IdGerencia+"']").prop("selected",true);
  $("#dat_sede option[value='"+paObj_Inspeccion["Inspecciones"].IdUnidadSede+"']").prop("selected",true);
  $("#dat_estado option[value='"+paObj_Inspeccion["Inspecciones"].Estado+"']").prop("selected",true);
  $('#dat_fecha_plan').val(paObj_Inspeccion["Inspecciones"].FechaPlan.substring(0,10));
  $('#dat_fecha_ejecucion').val(paObj_Inspeccion["Inspecciones"].FechaEjecucion.substring(0,10));

  $('#dat_id_inspeccion').val(paObj_Inspeccion["Inspecciones"].IdInspeccionInstalaciones);

  $('#dat_documento').val(paObj_Inspeccion["Inspecciones"].A_DniPaciente);
  $('#dat_nombres').val(paObj_Inspeccion["Inspecciones"].A_NombresPaciente);
  $('#dat_apellidos').val(paObj_Inspeccion["Inspecciones"].A_ApellidosPaciente);
  $('#dat_tipo_equipo').val(paObj_Inspeccion["Inspecciones"].TipoEquipo);




  /*$('#dat_tarea').val(paObj_detalle_GES[IdGES].Tarea);
  $('#dat_cantidad').val(paObj_detalle_GES[IdGES].Cantidad);
  $('#dat_frecuencia').val(paObj_detalle_GES[IdGES].Frecuencia);
  $("#dat_actividad option[value='"+paObj_detalle_GES[IdGES].Actividad_MA+"']").prop("selected",true);
  $("#dat_epp option[value='"+paObj_detalle_GES[IdGES].EPP+"']").prop("selected",true);
  $('#dat_control_ing').val(paObj_detalle_GES[IdGES].Control_Ingenieria);
  $('#dat_dosis').val(paObj_detalle_GES[IdGES].Dosis);
  $('#dat_valoracion_dosis').val(paObj_detalle_GES[IdGES].ValoracionDosis);
  $('#dat_ges_id').val(paObj_detalle_GES[IdGES].GES_ID);
  $('#dat_base_exp').val(paObj_detalle_GES[IdGES].BaseEXP);
  $('#dat_lmp').val(paObj_detalle_GES[IdGES].LMP);
  $('#dat_tiempo_exp').val(paObj_detalle_GES[IdGES].TiempoExp);
  $('#dat_efecto_salud').val(paObj_detalle_GES[IdGES].EfectoSalud);
  $('#dat_base_efe').val(paObj_detalle_GES[IdGES].BaseEFE);
  $('#dat_calculo_riesgo').val(paObj_detalle_GES[IdGES].CalculoRiesgo);
  $('#dat_clasificacion_riesgo').val(paObj_detalle_GES[IdGES].ClasificacionRiesgo);
  $('#dat_incertidumbre').val(paObj_detalle_GES[IdGES].Incertidumbre);
  $('#dat_prioridad_recopilacion').val(paObj_detalle_GES[IdGES].PrioridadRecopilaInf);
  $('#dat_informacion_necesaria').val(paObj_detalle_GES[IdGES].InformacionNecesaria);
  $('#dat_acciones_tomar').val(paObj_detalle_GES[IdGES].AccionesTomar);
  $("#dat_area option[value='"+paObj_detalle_GES[IdGES].IdArea+"']").prop("selected",true);
  $("#dat_sede option[value='"+paObj_detalle_GES[IdGES].IdUnidadSede+"']").prop("selected",true);
  $("#dat_gerencia option[value='"+paObj_detalle_GES[IdGES].IdGerencia+"']").prop("selected",true);
  $("#dat_riesgo option[value='"+paObj_detalle_GES[IdGES].idRiesgo+"']").prop("selected",true);
  $("#dat_agente option[value='"+paObj_detalle_GES[IdGES].idAgente+"']").prop("selected",true);
  $("#dat_puesto option[value='"+paObj_detalle_GES[IdGES].IdPuestoCargo+"']").prop("selected",true);*/

}


$(document).ready(function() {

  _init_Sp5Inspeccion(idDetalleInspeccion);

});




</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>