#regresar {
  position: absolute;
  top     : 27px;
  left    : 50px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background   : #254373;
  border-radius: 3px;
}

:root {
  --primary: background-color: #01719d !important;
}

hr {
  border-top: 2px solid #d6d6d6;
}

.input_hc_sp3 .is-valid {
  border: solid 1px #28a745 !important;
}

.input_hc_sp3 .is-invalid {
  border: solid 1px #dc3545 !important;
}

.main-content {
  padding: 40px 0px;
}

.main-content .card {
  border    : none !important;
  box-shadow: none !important;
}

.main-content .card-header {
  display        : flex;
  justify-content: space-between;
  box-shadow     : 0px 4px 8px #efefef !important;
  border         : 1px solid whitesmoke !important;
  border-radius  : 5px !important;
  padding        : 20px !important;
  margin-bottom  : 10px !important;
}

.main-content .card-header[aria-expanded="false"] {
  background-color: #fff;
  color           : #000;
}

.main-content .card-header[aria-expanded="false"] .card-header-icon {
  fill: #000;
}

.main-content .card-header[aria-expanded="false"] .card-header-icon-down {
  fill     : #000;
  transform: rotate(-90deg);
}

.main-content .card-header[aria-expanded="true"] {
  background-color: #4798c7;
  color           : #fff;
}

.main-content .card-header[aria-expanded="true"] .card-header-icon,
.main-content .card-header[aria-expanded="true"] .card-header-icon-down {
  fill: #fff;
}

.main-content .card-header[aria-expanded="false"] .badge {
  background-color: #254373;
  color           : #fff;
}

.main-content .card-header span {
  font-size: 15px;
}

.main-content .card-header .card-header-icon {
  height: 28px;
  width : auto;
}

.main-content .card-header .card-header-icon-down {
  width     : 12px;
  height    : auto;
  transition: all 0.1s linear;
}

.main-content .card-body {
  margin-top   : 10px;
  margin-bottom: 10px;
}

.main-content .border-content {
  border       : 1px solid #c8c8c8;
  border-radius: 5px;
}

.main-content .form-control {
  border: none;
}

.table-box {
  width          : 100%;
  overflow-x     : auto;
  border-collapse: separate;
  border-spacing : 0px 10px;
}

.table-box thead th {
  background-color: #254373;
}

.table-box th:first-child,
.table-box td:first-child {
  border-radius: 5px 0px 0px 5px;
}

.table-box th:last-child,
.table-box td:last-child {
  border-radius: 0px 5px 5px 0px;
}

.table-box th,
.table-box td {
  padding    : 15px;
  white-space: nowrap;
  margin     : 10px 0;
  font-size  : 14px;
}

.table-box tbody tr td {
  border-top   : 1px;
  border-bottom: 1px;
  border-right : 0px;
  border-left  : 0px;
  border-style : solid;
  border-color : #c8c8c8;
}

.table-box tbody tr td:first-child {
  border-left: 1px solid #c8c8c8;
}

.table-box tbody tr td:last-child {
  border-right: 1px solid #c8c8c8;
}

.table-box td img {
  width : 16px;
  cursor: pointer;
}

.table-responsive::-webkit-scrollbar {
  width : 10px;
  height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius   : 3px;
  background-color: #44b5ff;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius   : 3px;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border          : solid 1px #ededed;
  background-color: #f8f8f8;
}

.main-content .titulo {
  font-weight: 600;
  font-size  : 20px;
  color      : #254373;
}

.main-content .subtitulo {
  font-weight: 600;
  font-size  : 15px;
  color      : #01719d;
}

.form-control {
  height: calc(1.5em + .75rem + 6px);
}

.form-box {
  position     : relative;
  border-bottom: 1px solid #000;
}

.form-box span {
  font-size  : 15px;
  font-weight: 600;
}

.form-box select {
  appearance        : none;
  -webkit-appearance: none;
  -moz-appearance   : none;
}

.form-box select::-ms-expand {
  display: none;
}

.form-box select {
  display      : inline-block;
  border       : 1px solid rgb(253, 253, 253);
  width        : 100%;
  cursor       : pointer;
  height       : 42px;
  outline      : 0;
  border-bottom: 1px solid #ededed;
  position     : relative;
  transition   : all 0.25s ease;
}

.form-box svg {
  position: absolute;
  width   : 14px;
  right   : 0;
  top     : 50%;
}

.btn {
  font-size : 1em !important;
  position  : relative !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.btn-lg {
  padding: .8em 1em;
}

.btn-drop {
  width           : 55px;
  border-radius   : 5px;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #01719d;
  max-height      : initial;
  color           : #fff;
}

.more-info {
  position: relative;
  cursor  : pointer;
}

.btn-drop-content {
  display         : none;
  position        : absolute;
  background-color: #fff;
  color           : #000;
  min-width       : 255px;
  height          : 40px;
  padding         : 10.6px 84px 11px 17.8px;
  border-radius   : 5px;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border          : solid 1px #c8c8c8;
  z-index         : 1;
  right           : 0;
  top             : 120%;
  font-size       : 14px;
}

.more-info-content {
  display         : none;
  position        : absolute;
  background-color: #fff;
  color           : #000;
  min-width       : 255px;
  border-radius   : 5px;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border          : solid 1px #c8c8c8;
  right           : 20px;
  transform       : translate(-100%, 0);
}

.more-info-content svg {
  width   : 20px;
  position: absolute;
  left    : 16px;
  display : flex;
}

.more-info-content span {
  font-size  : 14px;
  margin-left: 20%;
}

.btn-drop-content li {
  list-style: none;
}

.more-info-content ul {
  margin: 0 !important;
}

.more-info-content li {
  list-style : none;
  position   : relative;
  padding    : 8px;
  display    : flex;
  align-items: center;
  cursor     : pointer;
}

.btn-link {
  color          : #254373;
  text-decoration: none !important;
}

.btn-success {
  background-color: #8fbb02;
  border          : none;
}

.btn-danger {
  background-color: #ff3636;
  border          : none;
}

.btn-link:hover {
  color          : #0056b3;
  text-decoration: none !important;
}

.more-info-content li:hover {
  background-color: #f5f5f5;
  border-radius   : 5px;
}

.btn-drop-content:hover {
  background-color: #f5f5f5;
  border-color    : rgba(153, 153, 153, 0.2);
}

.btn-registro-ex img {
  position: absolute;
  right   : 8%;
  bottom  : 37%;
}

.btn-drop img {
  display   : block;
  position  : absolute;
  top       : 35%;
  transition: linear all 0.2s;
}

.input-box-secondary {
  position     : relative;
  margin-bottom: 20px;
}

.input-box-secondary input,
.input-box-secondary select {
  width        : 100%;
  display      : block;
  outline      : none;
  border       : solid 1px #c8c8c8 !important;
  padding      : 28px 10px 10px 10px !important;
  border-radius: 5px;
  transition   : box-shadow 0.3s linear;
}

.input-box-secondary select {
  padding-top: 31px !important;
}

.input-box-secondary span {
  position   : absolute;
  top        : 8px;
  left       : 10px;
  color      : #000;
  font-size  : 14px;
  font-weight: 600;
}

.form-check {
  display: flex;
}

.item_ant {
  border-bottom: 1px solid #c8c8c8;
  margin       : 0.5em;
  padding      : 0.5em 0;
}

.item_ant:last-child {
  border: none;
}

.item_ant input {
  border-bottom: 1px solid #000;
}

.item_ant input:read-only {
  border: none;
}

.badge {
  display      : inline-block;
  padding      : .35em .4em;
  font-size    : 100%;
  line-height  : 145%;
  white-space  : nowrap;
  border-radius: 50%;
  height       : 28px !important;
  width        : 28px !important;
  font-size    : 14px !important;
}

.badge-light {
  color           : #4798c7;
  background-color: #f8f9fa;
}

.item_ant_oc input {
  border-bottom: 1px solid #000;
}

.item_ant_oc input:read-only {
  border: none;
}

.item-sig-vital {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.item-sig-vital svg {
  position    : absolute;
  margin-right: 8px;
  height      : 22px;
  width       : auto;
}

.item-sig-vital span {
  white-space: nowrap;
  font-weight: 600;
  font-size  : 14px;
  margin-left: 42px;
}

.item-sig-vital input {
  width        : 68px !important;
  border       : 1px solid #c8c8c8 !important;
  border-radius: 5px;
  text-align   : center;
}

/*SIDEBAR*/
#sidebar {
  position  : fixed;
  width     : 142px;
  height    : calc(100% - 77px);
  background: #ebebeb;
  left      : 0;
  transition: width 0.2s ease-in-out;
}

#sidebar.active {
  left : 0;
  width: 388px;
}

#sidebar.active .item-list {
  width: 100%;
}

#sidebar li {
  list-style: none;
  margin    : 15px 10px;
  cursor    : pointer;
}

#sidebar .titulo {
  display     : block;
  position    : relative;
  top         : 40px;
  font-size   : 20px;
  color       : #254373;
  font-weight : bold;
  text-align  : center;
  white-space : nowrap;
  margin-right: 20px;
}

/* items del menu del sidebar */
.item-list {
  display         : flex;
  background-color: #ebebeb;
  color           : #000;
  padding         : 1rem 1rem;
  border-radius   : 5px;
  text-decoration : none;
  position        : relative;
  font-weight     : bold;
  width           : fit-content;
}

.item-list.active {
  background-color: #01719d;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color           : #fff;
}

.item-list.active svg {
  fill: #fff;
}

.item-list svg {
  height: 28px;
  width : 28px;
  fill  : #000;
}

.item-list span {
  display    : flex;
  align-items: center;
  margin-left: 30px;
  white-space: nowrap;
}

/* boton toggle */
#toggle-btn {
  position        : absolute;
  right           : -17px;
  top             : 32px;
  width           : 34px;
  height          : 34px;
  cursor          : pointer;
  text-align      : center;
  vertical-align  : middle;
  background-color: #44b5ff;
  border-radius   : 50%;
  display         : flex;
  justify-content : center;
  box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition      : all 0.2s linear;
}

#toggle-btn svg.active {
  transform: rotate(90deg);
}

#toggle-btn svg {
  display  : block;
  width    : 12px;
  transform: rotate(-90deg);
  ;
  font-size: 12px;
}

/* contenido de la pagina */
#page-content-sidebar {
  padding   : 40px 40px 40px 180px;
  transition: padding 0.2s ease-in-out;
}

#page-content-sidebar.active {
  padding-left: 430px;
}

#page-content {
  padding   : 40px 80px;
  transition: padding 0.2s ease-in-out;
}

#page-content.active {
  padding-left: 430px;
}

#page-content-sidebar .titulo {
  font-weight: 600;
  font-size  : 20px;
  color      : #254373;
}

/* contenedor del menu */
#main-menu {
  position  : relative;
  top       : 70px;
  padding   : 0px 20px;
  overflow  : hidden;
  overflow-y: auto;
  height    : calc(100% - 100px);
  ;
}

#main-menu::-webkit-scrollbar {
  width : 10px;
  height: 12px;
}

#main-menu::-webkit-scrollbar-thumb {
  border-radius   : 3px;
  background-color: #254373;
}

#main-menu::-webkit-scrollbar-track {
  border-radius   : 3px;
  border          : solid 1px #ededed;
  background-color: #f8f8f8;
}

.input-icon {
  position: absolute;
  right   : 0;
  width   : 18px;
  bottom  : 16px;
}

.img-perfil {
  border       : 3px solid #01719d;
  border-radius: 50%;
  width        : 148px;
  height       : 148px;
  overflow     : hidden;
  box-shadow   : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.img-perfil img {
  width : 100%;
  height: 100%;
}

.card-border {
  border-left  : 15px solid #34a9ff;
  border-radius: 0.5em;
}

.card-body {
  padding: 0.9em;
}

.input_file_upload {
  padding        : 30px;
  display        : flex;
  justify-content: center;
}

.input_file_upload input {
  display: none;
}

.table-box span {
  white-space: break-spaces;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute !important;
  left    : -9999px !important;
}

input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
  position    : relative !important;
  padding-left: 28px !important;
  cursor      : pointer !important;
  line-height : 20px !important;
  display     : inline-block !important;
  color       : #666 !important;
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
  content      : "" !important;
  position     : absolute !important;
  left         : 0 !important;
  top          : 0 !important;
  width        : 20px !important;
  height       : 20px !important;
  border       : 1px solid #ddd !important;
  border-radius: 100% !important;
  background   : #fff !important;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
  content           : "" !important;
  width             : 20px !important;
  height            : 20px !important;
  background        : #8fbb02 !important;
  position          : absolute !important;
  top               : 0 !important;
  left              : 0 !important;
  border-radius     : 100% !important;
  -webkit-transition: all 0.2s ease !important;
  transition        : all 0.2s ease !important;
}

input[type="radio"]:checked:disabled+label:after,
input[type="radio"]:not(:checked):disabled+label:after {
  content           : "" !important;
  width             : 20px !important;
  height            : 20px !important;
  background        : #c8c8c8 !important;
  position          : absolute !important;
  top               : 0 !important;
  left              : 0 !important;
  border-radius     : 100% !important;
  -webkit-transition: all 0.2s ease !important;
  transition        : all 0.2s ease !important;
  cursor            : none;
}


input[type="radio"]:not(:checked)+label:after {
  opacity          : 0 !important;
  -webkit-transform: scale(0) !important;
  transform        : scale(0) !important;
}

input[type="radio"]:checked+label:after {
  opacity          : 1 !important;
  -webkit-transform: scale(1) !important;
  transform        : scale(1) !important;
}

select:disabled {
  opacity         : 1 !important;
  background-color: rgb(249 249 249) !important;
}

.alert-danger {
  color           : #ff4040 !important;
  background-color: #fff0f0 !important;
  border-color    : #ffa8a8 !important;
}

.alert {
  position     : relative !important;
  padding      : 1.5em 1.5em !important;
  margin-bottom: 1rem !important;
  border-radius: 5px !important;
  font-size    : 14px !important;
  text-align   : center !important;
}

.nav-link {
  background : transparent !important;
  font-weight: 600 !important;
  font-size  : 14px !important;
  color      : #a7a7a7;
  position   : relative;
  margin     : 0 30px 0 0 !important;
}

.nav-link.active {
  color: #44b5ff !important;
}

.nav-link.active:before {
  content      : "";
  width        : 100%;
  height       : 7px;
  background   : #44b5ff;
  position     : absolute;
  bottom       : -15px;
  border-radius: 2px;
}


/*Multiselect class personalizadas*/
.multiselect {
  width        : 100%;
  padding-top  : 20px;
  height       : 70px;
  position     : relative;
  margin-bottom: 20px;
}

.multiselect-container {
  width: 100%;
}

.multiselect_label {
  position   : absolute;
  top        : 5px;
  left       : 10px;
  position   : absolute;
  font-weight: 600;
  color      : #000;
}

.btn-group {
  width: 100%;
}

/*Colocar vertical el boton de opciones de tablas*/
.text-vertical {
  writing-mode: vertical-lr;
  transform   : rotate(180deg);
  font-weight : 600 !important;
  font-size   : 30px !important;
  cursor      : pointer;
}