<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="./view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/css/sho.css">
<!-- <link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/form.css" /> -->
<link rel="stylesheet"
    href="./view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/form-seguimiento/form-seguimiento.css" />


<!-- HTML -->
<div class="main-content">

    <div>
        <!-- Titulo y Botones -->
        <div class="row mb-5 align-items-center">

            <div class="col-md-2 col-sm-12">
                <span class="titulo">Datos del control</span>
            </div>

            <div class="col-md-8" id="divBtnInvisible"> </div>
            <div class="col-md-2" id="divBtnInvisible_2"> </div>
            <div class="col-md-2  col-sm-6" id="divBtnActivar">
                <button type="submit" class="btn btn-info btn-block btn-lg text-white" onclick="fnCRUDForm(4);">
                    Activar control
                    <img src="./images/sho/trazado1350.svg" alt="Activar control">
                </button>
            </div>

            <div class="col-md-2  col-sm-6" id="divBtnCerrar">
                <button type="submit" class="btn btn-info btn-block btn-lg text-white" onclick="fnCRUDForm(2);">
                    Cerrar
                    <img src="./images/sho/trazado1350.svg" alt="Cerrar">
                </button>
            </div>
            <div class="col-md-2  col-sm-6" id="divBtnAnular">
                <button type="button" class="btn clsBtnAnular btn-block btn-lg text-white" onclick="fnCRUDForm(3);">
                    Anular
                    <img src="./images/sho/anular.svg" alt="Anular">
                </button>
            </div>
            <div class="col-md-2 col-sm-6" id="divBtnCancelar">
                <button type="button" class="btn btn-danger btn-block btn-lg" onclick="fnVolverIndexSeguimiento();">
                    Cancelar
                    <img src="./images/sho/cancelar.svg" alt="Cancelar">
                </button>
            </div>

            <div class="col-md-2 col-sm-6" id="divBtnGuardar">
                <button type="button" class="btn btn-success btn-block btn-lg" id="btnGuardar" onclick="fnCRUDForm(4);">
                    Guardar
                    <img src="./images/sho/confirm.svg" alt="Guardar">
                </button>
            </div>

        </div>

        <form>
            <!-- Datos del Control -->
            <section>

                <fieldset id="fieldset1">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>ID control</span>
                                <input type="text" id="sCodigoControl" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de registro</span>
                                <input type="date" id="dFechaRegistro" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>ID reunión</span>
                                <input type="text" id="sCodigoReunion" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de programación</span>
                                <input type="date" id="dFechaProgramacion" required disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Origen de incidencia</span>
                                <select class="submit" name="" id="dat_origen" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>ID incidencia</span>
                                <select class="submit" name="" id="dat_id_incidencia" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de registro incidencia</span>
                                <input type="date" id="dFechaRegIncidencia" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Estado</span>
                                <select class="submit" name="" id="dat_estado" required disabled>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Control a implementar</span>
                                <select class="submit" name="" id="dat_control_implementar" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Lugar específico y actividad</span>
                                <input type="text" id="sLugarActividad" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Área responsable</span>
                                <select class="submit" name="" id="dat_area" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Responsable</span>
                                <input type="text" id="sResponsable" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha propuesta</span>
                                <input type="date" id="dFechaPropuesta" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha acordada</span>
                                <input type="date" id="dFechaAcuerdo" required disabled>
                            </div>
                        </div>

                    </div>

                </fieldset>

                <fieldset id="fieldset2">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="input-box-secondary">
                                <span>Descripción del control</span>
                                <input type="text" id="sDescripcionControl" class="submit">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de cierre</span>
                                <input type="date" id="dFechaCierre" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="input-box-secondary">
                                <span>Comentarios</span>
                                <input type="text" id="sComentario" class="submit">
                            </div>
                        </div>
                    </div>

                </fieldset>

            </section>

            <hr class="mb-5 mt-4" />

            <!-- Adjuntar archivos -->
            <section>

                <fieldset id="fieldset3">
                    <div id="secion_at_adjuntar_2">
                        <div class="row mb-3">
                            <div class="col-md-12 d-flex">
                                <h2 class="title-section">
                                    Adjuntar archivo
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="input_file_upload border-content">
                                    <label class="btn btn-success btn-lg" for="file_upload_at_adjunto2">
                                        <span> Subir archivo </span>
                                        <img src="./images/sho/upload.svg" style="width:14px !important">
                                    </label>
                                    <input type="file" id="file_upload_at_adjunto2"
                                        accept="application/pdf, .pdf, .doc, docx, .odf"
                                        onchange="fnSetFileAdj(this,IdControl)">

                                    <!-- <input type="file" id="file_upload_at_adjunto"
                                        accept="application/pdf, .pdf, .doc, docx, .odf"
                                        onchange="fnSetFileAdj(this,IdControl);" class="btn-accion"> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row mt-3" id="divArchivos">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <div id="cant_planes">
                                <img src="images/iconos/copia-1.svg" style="width: 20px" />
                            </div>
                            <span class="cantidad ml-3" style="font-size: 15px">
                                <span id="table_adjunto_Control-count-row">0</span> registros</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table-box table-container" id="table_adjunto_Control">
                                <thead>
                                    <tr>
                                        <th style="width: 300px">Nombre del archivo</th>
                                        <th>Fecha de carga</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="content_adjunto_Control">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>

        </form>
    </div>

</div>



<!-- Librerias JS -->
<script src="view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/js/commonSeguimiento.js"></script>
<script
    src="view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/form-seguimiento/form-seguimiento.js"></script>

<script src="js/select2.min.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>