<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="./view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/css/form.css">
<link rel="stylesheet"
    href="./view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/form/proteccion-respiratoria/form-proteccion-respiratoria.css" />


<!-- HTML -->
<div class="main-content">

    <div>
        <!-- Titulo y Botones -->
        <div class="row mb-5 align-items-center">

            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>

            <div class="col-md-4" id="divBtnInvisible"> </div>
            <div class="col-md-2" id="divBtnInvisible_2"> </div>
            <div class="col-md-2  col-sm-6" id="divBtnCerrar">
                <button type="submit" class="btn btn-info btn-block btn-lg text-white" onclick="fnCRUDForm(2);">
                    Cerrar control
                    <img src="./images/sho/trazado1350.svg" alt="Cerrar control">
                </button>
            </div>
            <div class="col-md-2 col-sm-6" id="divBtnCancelar">
                <button type="button" class="btn btn-danger btn-block btn-lg" onclick="fnBtnVolver();">
                    Cancelar
                    <img src="./images/sho/cancelar.svg" alt="Cancelar">
                </button>
            </div>

            <div class="col-md-2 col-sm-6" id="divBtnGuardar">
                <button type="button" class="btn btn-success btn-block btn-lg" id="btnGuardar" onclick="fnCRUDForm(1);">
                    Guardar
                    <img src="./images/sho/confirm.svg" alt="Guardar">
                </button>
            </div>

        </div>

        <form>
            <!-- Datos del Control -->
            <section>

                <fieldset id="fieldset1">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nro de Documento de Identidad</span>
                                <input type="number" id="sNumeroDoc"  required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nombres</span>
                                <input type="text" id="sNombres" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Apellidos</span>
                                <input type="text" id="sApellidos" required disabled>
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Gerencia</span>
                                <select class="submit" name="" id="dat_gerencia" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Unidad</span>
                                <select class="submit" name="" id="dat_sede" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Área</span>
                                <select class="submit" name="" id="dat_area" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Puesto de Trabajo</span>
                                <select class="submit" name="" id="dat_puesto" disabled>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>ID evaluación</span>
                                <input type="text" id="sCodEvaluacion" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de registro</span>
                                <input type="date" id="dFechaRegistro" disabled>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>

                </fieldset>

                <hr class="mb-5 mt-4" />

                <fieldset id="fieldset2">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de evaluación</span>
                                <input type="date" id="dFechaEvaluacion" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Fecha de vencimiento</span>
                                <input type="date" id="dFechaVencimiento" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Tipo de respirador</span>
                                <select class="submit" name="" id="dat_tipo_respirador" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Marca del respirador</span>
                                <input type="text" id="sMarcaProteccion" required>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Modelo de protección respiratorio</span>
                                <input type="text" id="sModeloProteccion" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Talla del respirador</span>
                                <select class="submit" name="" id="dat_talla_respirador" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Ovarall</span>
                                <input type="text" id="sOvarall" required>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <span style="font-size: 14px;">
                                <b>¿Alcanzó protección respiratoria?
                                </b>
                            </span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="px-4">
                            <input type="radio" name="radio_alcanzo_proteccion" id="dat_am_relacion_ocupacional_si"
                                value="1">
                            <label for="dat_am_relacion_ocupacional_si">Si</label>
                        </div>
                        <div class="px-4">
                            <input type="radio" name="radio_alcanzo_proteccion" id="dat_am_relacion_ocupacional_no"
                                value="0" checked="true">
                            <label for="dat_am_relacion_ocupacional_no">No</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-box-secondary">
                                <span>Comentarios</span>
                                <input type="text" id="sComentario" class="submit">
                            </div>
                        </div>
                    </div>

                </fieldset>

            </section>

            <hr class="mb-5 mt-4" />

            <!-- Adjuntar archivos -->
            <section>

                <fieldset id="fieldset3">
                    <div id="divAdjuntar">
                        <div class="row mb-3">
                            <div class="col-md-12 d-flex">
                                <h2 class="title-section">
                                    Adjuntar archivo
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="input_file_upload border-content">
                                    <label class="btn btn-success btn-lg" for="file_upload_at_adjunto2">
                                        <span> Subir archivo </span>
                                        <img src="./images/sho/upload.svg" style="width:14px !important">
                                    </label>
                                    <input type="file" id="file_upload_at_adjunto2"
                                        accept="application/pdf, .pdf, .doc, docx, .odf"
                                        onchange="fnSetFileAdj(this,IdProteccion)">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row mt-3" id="divArchivos">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <div id="cant_planes">
                                <img src="images/iconos/copia-1.svg" style="width: 20px" />
                            </div>
                            <span class="cantidad ml-3" style="font-size: 15px">
                                <span id="table_adjunto_Proteccion-count-row">0</span> registros</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table-box table-container" id="table_adjunto_Proteccion">
                                <thead>
                                    <tr>
                                        <th style="width: 300px">Nombre del archivo</th>
                                        <th>Fecha de carga</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="content_adjunto_Proteccion">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </section>

        </form>
    </div>

</div>




<!-- Librerias JS -->
<script src="view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/js/commonProteccion.js"></script>
<script
    src="view/sho-hce/higiene_ocupacional/controlar/proteccion_resp_aud/form/proteccion-respiratoria/form-proteccion-respiratoria.js"></script>

<script src="js/select2.min.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>