/* The container */
.container-checkbox {
    display            : block;
    position           : relative;
    padding-left       : 35px;
    margin-bottom      : 12px;
    cursor             : pointer;
    font-size          : 15px;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
    height  : 0;
    width   : 0;
}

/* Create a custom checkbox */
.checkmark {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 20px;
    width           : 20px;
    background-color: #eee;
    border-radius   : 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
    background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left             : 7px;
    top              : 5px;
    width            : 5px;
    height           : 10px;
    border           : solid white;
    border-width     : 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    transform        : rotate(45deg);
}

.select2-container .select2-selection--single .select2-selection__rendered {

    width: inherit !important;
    top  : -10px !important;
    left : -15px !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {

    top : -15px !important;
    left: 220px !important;

}

.clsBtnAnular {
    background-color: #d8801f;
    border-color    : #d8801f;
}

.clsDetalleAbierto {
    color: #8fbb02
}

.clsDetalleAnulado {
    color: #d8801f
}

.clsDetalleCerrado {
    color: #4798c7
}

