<!-- /****************************************************************************************
 * VISUAL SAT - [2021]
 * PROYECTO : SIGTASA
 * ESQUEMA : SSOMA
 * SPRINT  : 3
 * MODULO : HISTORIA CLINICA
 * OPERADORES_________________________________________________________________________
 * | # | PROGRAMADOR     |  |      FECHA   |  |   HORA   |           CORREO           |
 * | 1 | Carlos Rivas    |  |   26/08/2021 |  | 07:28:50 |       crivascyt@gmail.com  |
 * | 2 | Andy Vàsquez    |  |   06/09/2021 |  | 11:16:00 |     caracas1348@gmail.com  |
 * |___|_________________|__|______________|__|__________|____________________________|
 *
 * DESCRIPCION: ARCHIVO VISTA DE LAS OPCIONES DE DATOS GENERALES DE LA HISTORIA CLINICA
 * EN EL FRONT END ACCIDENTES- (LISTADO, FILTRADO, VER)
 *
 * ARCHIVOS DE SERVICIOS   _________________________________________
 * | # |     MODULO             |  |         NOMBRE                 |
 * | 1 |   SALUD OCUPACIONAL    |  |                                |
 * |________________________________________________________________|
 *
 *
 * VERSION: 0.1 Beta
 *********************************************************************************************************************************************************************************
 * NOTA IMPORTANTE:  EN FECHA  *** 06/09/2021 Andy  **** Vasquez: Procede a realizar un ajuste general  de funcionamiento y orden del modulo de historia clinica para optimizarlo
 *********************************************************************************************************************************************************************************

 *******************************************************************************************/ -->
<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">

<style>


.cls-1 {
          fill: #000 !important;
}


.item-list:hover svg .cls-1 {
    fill: #fff !important;
}

.item-list.active svg .cls-1 {
    fill: #fff !important;
}

</style>

<div id="HC_datos_generales">
  <div id="sidebar">
    <div id="toggle-btn">
      <img class="inject-svg" src="./images/sho/down.svg" alt="" fill="#fff">
    </div>
    <!--  <button class="btn btn-success btn-lg text-center" onclick="verVariablesTemp()">ver Variables</button> -->
    <span class="titulo">Higiene Ocupacional</span>
    <ul id="main-menu">
      <li class="item-list" id="menu_lateral101" onclick="sp3HoMenuGenaralIzquierdoEventos(101)">
        <img class="inject-svg" src="./images/sho/trazado42.svg" alt="" />
        <span>Gestión de agentes</span>
      </li>
      <li class="item-list" id="menu_lateral100" onclick="sp3HoMenuGenaralIzquierdoEventos(100)">
        <img class="inject-svg" src="./images/sho/trazado41.svg" alt="" />
        <span>Gestión de GES</span>
      </li>
      <li class="item-list" id="menu_lateral102" onclick="sp3HoMenuGenaralIzquierdoEventos(102)">
        <img class="inject-svg" src="./images/sho/trazado43.svg" alt="" />
        <span>Programación de monitoreo</span>
      </li>
      <li class="item-list" id="menu_lateral103" onclick="sp3HoMenuGenaralIzquierdoEventos(103)">
        <img class="inject-svg" src="./images/sho/trazado1460.svg" alt="" />
        <span>Ergovisor</span>
      </li>
    </ul>
  </div>
  <div id="page-content-sidebar" style="display:none">
  </div>
</div>
<script type="text/javascript">
// objetos del DOM


//$(document).ready(handlerUrlhtmlHC("page-content-sidebar", "view/sho-hce/historia_clinica/FormHC_DatosGenerales.html", " Historia Clínicaaa"));

//$(document).ready($('#page-content-sidebar').load('view/sho-hce/historia_clinica/FormHC_DatosGenerales.html'))

function sp3HoMenuGenaralIzquierdoEventos(idAccion) { //--------------------------------------------------- acciones y eventos de los menu lateral derecho ----------------------------------


  switch (idAccion) {

    case 100:
      console.log('Entrando a Datos Generales......................');
      $('#' + menuAnt).removeClass('active');
      $('#menu_lateral100').addClass('active');
      menuAnt = 'menu_lateral100';

      $('#page-content-sidebar').load('view/sho-hce/ges/indexGES.html');
      $('#page-content-sidebar').css('display', 'block');

      break;

    case 101:
      console.log('Entrando a Datos Generales......................');
      $('#' + menuAnt).removeClass('active');
      $('#menu_lateral101').addClass('active');
      menuAnt = 'menu_lateral101';

      $('#page-content-sidebar').load('view/sho-hce/ges/indexAgente.html');
      $('#page-content-sidebar').css('display', 'block');

      break;    

    case 102:
      console.log('Entrando a Datos Generales......................');
      $('#' + menuAnt).removeClass('active');
      $('#menu_lateral102').addClass('active');
      menuAnt = 'menu_lateral102';

      $('#page-content-sidebar').load('view/sho-hce/ges/indexMonitoreo.html');
      $('#page-content-sidebar').css('display', 'block');
      break;

    case 103:
      console.log('Entrando a Datos Generales......................');
      $('#' + menuAnt).removeClass('active');
      $('#menu_lateral103').addClass('active');
      menuAnt = 'menu_lateral103';

      $('#page-content-sidebar').load('view/sho-hce/ges/indexErgovisor.html');
      $('#page-content-sidebar').css('display', 'block');
      break;


  }


} //--------------------------------------------------- acciones y eventos de los menu lateral derecho ----------------------------------


$(document).ready(function() {

  sp3HoMenuGenaralIzquierdoEventos(ControlNavHigiene);

  ControlNavHigieneModal = true;

});



$('#ocultar_datos_dg').click(() => {
  $('#datos_hc_general_trabajador').children().hide();
  $('.img-perfil').css('height', '75px');
  $('.img-perfil').css('width', '75px');
  $('#content_img_datos_generales').removeClass('col-md-2');
  $('#botones_datos_generales').removeClass('col-md-3');
  $('#content_img_datos_generales').addClass('col-md-1');
  $('#botones_datos_generales').addClass('col-md-4');
  $('.btn_interacciones_datos_generales').removeClass('col-md-12');
  $('.btn_interacciones_datos_generales').addClass('col-md-6');
  $('#botones_datos_generales .row').addClass('flex-row-reverse')
  $('#ocultar_datos_dg').hide();
  $('#mostrar_datos_dg').show();
})
$('#mostrar_datos_dg').click(() => {
  $('#datos_hc_general_trabajador').children().show();
  $('.img-perfil').css('height', '148px');
  $('.img-perfil').css('width', '148px');
  $('#content_img_datos_generales').removeClass('col-md-1');
  $('#botones_datos_generales').removeClass('col-md-4');
  $('#content_img_datos_generales').addClass('col-md-2');
  $('#botones_datos_generales').addClass('col-md-3');
  $('.btn_interacciones_datos_generales').removeClass('col-md-6');
  $('.btn_interacciones_datos_generales').addClass('col-md-12');
  $('#botones_datos_generales .row').removeClass('flex-row-reverse')
  $('#ocultar_datos_dg').show();
  $('#mostrar_datos_dg').hide();
})
SVGInject($(".inject-svg"));

btnToggle = $("#sidebar");
sidebar = $("#sidebar");
tituloMenu = $("#sidebar .titulo").text();

// Acortando el titulo del menu
tituloMenuCorto = tituloMenu
  .split(" ")
  .map((e) => e[0])
  .join("");

setMenu();

// Escuchando el evento del click del toggle
btnToggle.on("mouseover mouseout", function() {
  sidebar.toggleClass("active");
  $("#toggle-btn svg").toggleClass("active");
  $("#page-content-sidebar").toggleClass("active");
  setMenu(); // Seteando el contenido del menu
});

// set menu



function setMenu() {
  if (!sidebar.attr("class")) {
    $("#sidebar .titulo").text(tituloMenuCorto);
    $(".item-list span").css("display", "none");
  } else {
    $("#sidebar .titulo").text(tituloMenu);
    $(".item-list span").css("display", "flex");
  }
}
</script>