<link rel="stylesheet" href="css/sho.css">


<link href="css/select2.min.css" rel="stylesheet" />

<style>
  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10%;
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked~.checkmark {
    background-color: #8fbb02 !important;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*.select2-container .select2-selection--single .select2-selection__rendered{

  width: inherit !important;
  top: -10px !important;
  left: -15px !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow{

  top: -15px !important;
  left: 220px !important;

}*/
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-4 col-sm-12">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info btn-block btn-lg"
          onclick="Sp5ConfirmarAprobarMonitoreo(2,idDetalleMonitoreo);"> Aprobar <img src="./images/sho/confirm.svg"
            alt="">
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary btn-block btn-lg"
          onclick="Sp5ConfirmarAnularMonitoreo(3,idDetalleMonitoreo);"> Anular <img src="./images/sho/anular.svg"
            alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button onclick="Sp5volverIndexHigiene();" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img
            src="./images/sho/cancelar.svg" alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg"
          onclick="Sp5ConfirmarCRUDMonitoreo(1,idDetalleMonitoreo);"> Guardar <img src="./images/sho/confirm.svg"
            alt="">
        </button>
      </div>
    </div>




    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>ID tarea de monitoreo</span>
          <input type="text" id="dat_id_tarea" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha Registro</span>
          <input type="date" id="dat_fecha_registro" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Estado</span>
          <input type="text" id="dat_estado" class="submit" disabled>
        </div>
      </div>



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Etapa</span>
          <select class="submit" name="" id="dat_etapa">
          </select>
        </div>
      </div>


    </div>


    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Código de GES</span>
          <select name="" id="dat_cod_ges">
          </select>
        </div>
      </div>



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select class="submit" name="" id="dat_gerencia">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Unid. Operativa/Embarcación</span>
          <select class="submit" name="" id="dat_sede">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select class="submit" name="" id="dat_area">
          </select>
        </div>
      </div>





    </div>


    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <select class="submit" name="" id="dat_puesto">
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Zona</span>
          <select class="submit" name="" id="dat_zona">
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Riesgo</span>
          <select class="submit" name="" id="dat_riesgo">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Agente</span>
          <select class="submit" name="" id="dat_agente">
            <option value="" selected>Selecciona un riesgo</option>
          </select>
        </div>
      </div>


    </div>


    <div class="row">


      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tipo de evaluación</span>
          <select class="submit" name="" id="dat_tipo_evaluacion">
            <option value="0" selected>No hay registros</option>
          </select>
        </div>
      </div>
      <div class="col-md-9 col-sm-6" id="div_n_cas">
        <div class="input-box-secondary">
          <span>Nº CAS</span>
          <input type="text" id="dat_n_cas">
        </div>
      </div>
    </div>
















    <hr class="mb-5 mt-4" />



    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Trazabilidad</span>
      </div>
    </div>





    <!-- Nav-tabs -->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-8">
            <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link active" id="monitoreo-tab" data-toggle="tab" href="#monitoreo" role="tab"
                  aria-controls="monitoreo" aria-selected="true">Monitoreo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="difusion-tab" data-toggle="tab" href="#difusion" role="tab"
                  aria-controls="difusion" aria-selected="false">Difusión de resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab"
                  aria-controls="seguimiento" aria-selected="false">Seguimiento de controles</a>
              </li>
            </ul>
          </div>


          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-info btn-lg" id=""> Cambiar Estado <img
                src="./images/sho/trazado1449.svg" alt="">
            </button>
          </div>


        </div>
        <div class="tab-content mt-5" id="myTabContent-trazabilidad">
          <!-- Calidad-vida -->
          <div class="tab-pane fade show active" id="monitoreo" role="tabpanel" aria-labelledby="monitoreo-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_monitoreo_trazabilidad-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_monitoreo_trazabilidad">
                <thead>
                  <tr>
                    <th>ID evaluación</th>
                    <th>F. de programación</th>
                    <th>Estado de evaluación</th>
                    <th>Fecha de ejecución</th>
                  </tr>
                </thead>
                <tbody id="content_monitoreo_trazabilidad">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Calidad-vida fin-->

          <!-- Conservación auditiva -->
          <div class="tab-pane fade" id="difusion" role="tabpanel" aria-labelledby="difusion-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_difusion-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_difusion">
                <thead>
                  <tr>
                    <th>ID reunión</th>
                    <th>ID evaluación</th>
                    <th>Estado comunicación</th>
                    <th>Cantidad de controles</th>
                    <th>F. de Comunicación</th>
                  </tr>
                </thead>
                <tbody id="content_difusion">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Conservación auditiva fin -->

          <!-- Transtorno-musculo -->
          <div class="tab-pane fade" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_seguimiento-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_seguimiento">
                <thead>
                  <tr>
                    <th>ID control</th>
                    <th>ID evaluación</th>
                    <th>ID reunión</th>
                    <th>Estado</th>
                    <th>F. de Cierre</th>
                  </tr>
                </thead>
                <tbody id="content_seguimiento">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Transtorno-musculo -->
        </div>

      </div>
    </div>
    <!-- Nav-tabs -->


  </div>

</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

  $(document).ready(() => {

    SVGInject($(".inject-svg"));

  });

  function cargarFechaHoy() {

    var fecha = new Date(); //Fecha actual
    var mes = fecha.getMonth() + 1; //obteniendo mes
    var dia = fecha.getDate(); //obteniendo dia
    var ano = fecha.getFullYear(); //obteniendo año

    if (dia < 10) {
      dia = '0' + dia; //agrega cero si el menor de 10
    }

    if (mes < 10) {
      mes = '0' + mes //agrega cero si el menor de 10
    }

    return (ano + "-" + mes + "-" + dia);

  }

  /*function validationForm(class_selector) {
    let error = [];
    let inputs = $('input.'+class_selector);
    let selects = $('select.'+class_selector);
  
    inputs.each((e) => {
      if (!inputs.eq(e).val()) {
        inputs.eq(e).addClass('is-invalid');
        inputs.eq(e).parent().find('.invalid-feedback').remove();
        inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(inputs.eq(e).val())
      }
      if (inputs.eq(e).val()) {
        inputs.eq(e).removeClass('is-invalid');
      }
    })
  
    selects.each((e) => {
      if (!selects.eq(e).val()) {
        selects.eq(e).addClass('is-invalid');
        selects.eq(e).parent().find('.invalid-feedback').remove();
        selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(selects.eq(e).val())
    }
      if (selects.eq(e).val()) {
        selects.eq(e).removeClass('is-invalid');
      }
    })
  
    return error;
  }*/

  function Sp5ConfirmarAnularMonitoreo(CodAccion, IdMonitoreo) {

    if (validationForm('submit').length > 0) {

      return;

    }

    Swal.fire({
      title: "Anular tarea de monitoreo",
      html: `
    <p>Está por anular la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDMonitoreo(CodAccion, 3, IdMonitoreo);

      }

    });

  }


  function Sp5ConfirmarAprobarMonitoreo(CodAccion, IdMonitoreo) {

    if (validationForm('submit').length > 0) {

      return;

    }

    if ($("#dat_tipo_evaluacion option:selected").val() == 0) {

      Swal.fire({
        title: "No se puede aprobar la tarea de monitoreo debido a que no tiene asociado un tipo de evaluación",
        showConfirmButton: true,
        confirmButtonText: `Ok`,
        padding: "3em 3em 3em 3em ",
      }).then(() => {


      });

      return;

    }

    Swal.fire({
      title: "Aprobar tarea de monitoreo",
      html: `
    <p>Está por aprobar la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDMonitoreo(CodAccion, 2, IdMonitoreo);

      }

    });

  }


  function Sp5ConfirmarCRUDMonitoreo(CodAccion, IdMonitoreo) {

    if (validationForm('submit').length > 0) {

      return;

    }

    Swal.fire({
      title: "Editar tarea de monitoreo",
      html: `
    <p>Está por editar la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDMonitoreo(CodAccion, 1, IdMonitoreo);

      }

    });

  }

  /*function Sp5CRUDGES(CodAccion) {
    
    let data = {};
    let EjecutarModal = false;
    let TituloModal = '';
    let Fecha = '';
  
  
    if(CodAccion == 1){
  
      data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
      //data.accion = 0;
      data.CreadoPor = "User";
      data.ModificadoPor = "User";
      data.IdArea = $("#dat_area option:selected").val();
      data.IdPuestoCargo = $("#dat_puesto option:selected").val();
      data.IdUnidadSede = $("#dat_sede option:selected").val();
      data.IdGerencia = $("#dat_gerencia option:selected").val();
      data.Tarea = $("#dat_tarea").val();
      data.idRiesgo = $("#dat_riesgo option:selected").val();
      data.idAgente = $("#dat_agente option:selected").val();
      data.Cantidad = $("#dat_cantidad").val();
      data.Frecuencia = $("#dat_frecuencia").val();
      data.Actividad_MA = $("#dat_actividad option:selected").val();
      data.EPP = $("#dat_epp option:selected").val();
      data.Control_Ingenieria = $("#dat_control_ing").val();
      data.Dosis = $("#dat_dosis").val();
      data.ValoracionDosis = $("#dat_valoracion_dosis").val();
      data.GES_ID = $("#dat_ges_id").val();
      data.BaseEXP = $("#dat_base_exp").val();
      data.LMP = $("#dat_lmp").val();
      data.TiempoExp = $("#dat_tiempo_exp").val();
      data.EfectoSalud = $("#dat_efecto_salud").val();
      data.BaseEFE = $("#dat_base_efe").val();
      data.CalculoRiesgo = $("#dat_calculo_riesgo").val();
      data.Incertidumbre = $("#dat_incertidumbre").val();
      data.ValoracionDosis_2 = 0;
      data.PrioridadRecopilaInf = $("#dat_prioridad_recopilacion").val();
      data.InformacionNecesaria = $("#dat_informacion_necesaria").val();
      data.AccionesTomar = $("#dat_acciones_tomar").val();
      data.ClasificacionRiesgo = $("#dat_clasificacion_riesgo").val();
      data.EstadoLogicoGestion = 1;
      data.accion = 0;
      data.FechaModificacion = new Date();
  
    }
  
    let url = apiUrlsho+`/api/hce_Post_051_gestion?code=FHYiaCYmTMeiKnBoEun8w4aCF7jHQCKOGYsv6bnE/iqc2y3sA8mNcg==&httpmethod=post`;
  
    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }
  
    let settings = {
      "url": url,
      "method": "post",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": JSON.stringify(data)
    };
  
    return $.ajax(settings).done((response) => {
  
      Swal.fire({
        title: "GES creado con éxito",
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {
  
        Sp5volverIndexHigiene();
  
      });    
  
    });
  
  }*/

  function validationForm(class_selector) {
    let error = [];
    let inputs = $('input.' + class_selector);
    let selects = $('select.' + class_selector);

    inputs.each((e) => {
      if (!inputs.eq(e).val()) {
        inputs.eq(e).addClass('is-invalid');
        inputs.eq(e).parent().find('.invalid-feedback').remove();
        inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(inputs.eq(e).val())
      }
      if (inputs.eq(e).val()) {
        inputs.eq(e).removeClass('is-invalid');
      }
    })

    selects.each((e) => {
      if (!selects.eq(e).val()) {
        selects.eq(e).addClass('is-invalid');
        selects.eq(e).parent().find('.invalid-feedback').remove();
        selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(selects.eq(e).val())
      }
      if (selects.eq(e).val()) {
        selects.eq(e).removeClass('is-invalid');
      }
    })

    return error;
  }

  function Sp5volverIndexHigiene() {


    handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/datosGenerales.html', 'Identificar');

  }

  /*function Sp5CargarPlucksGES() {
    
    let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;
  
    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }
  
    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers
    };
  
    return $.ajax(settings).done((response) => {
      
      pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
      pluck_GES["Agentes"] = response.lista_Agentes;
      pluck_GES["Riesgos"] = response.lista_Riesgos;
      pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;
  
    });
  }*/

  /*function Sp5CargaSedesAreasGerenciasGES() {
  
    //Se especifican los parametros para la consulta
    var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
    
    var headers = {
      "apikey": constantes.apiKey
    }
  
    var settings = {
      "url": url,
      "method": "GET",
      "timeout": 0,
      "crossDomain": true,
      "dataType": "json",
      "headers": headers,
    };
  
    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {
  
      pluck_GES["Areas"] = response.Area;
      pluck_GES["Gerencias"] = response.Gerencia;
      pluck_GES["Sedes"] = response.Sedes;
  
    });
  
  }*/

  /*function Sp5cargarSelectGES(){
  
    let contenido = '';
    let ControlOptionSelect = false;
  
    //Cargando Select de Áreas
    contenido = $('#dat_area');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["Areas"].forEach((Item) => {
  
      ControlOptionSelect = false;
  
      $('#dat_area option').each(function(){
  
        if( $.trim($(this).text()) == $.trim(Item.Description) ){
  
          ControlOptionSelect = true;
  
        }
  
      });
  
      if( !ControlOptionSelect ){
  
        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);
  
      } 
  
    });
  
    //Cargando Select de Gerencias
    contenido = $('#dat_gerencia');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["Gerencias"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });
  
    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });
  
    //Cargando Select de Sedes
    contenido = $('#dat_riesgo');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["Riesgos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
    });
  
    //Cargando Select de Sedes
    contenido = $('#dat_puesto');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["Puestos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
    });
  
    //Cargando Select de Sedes
    contenido = $('#dat_actividad');
    contenido.append(`<option value=""></option>`);
  
    pluck_GES["ActividadMA"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.ActividadMA}</option>`)
    });
  
  }
  */

  function Sp5CargarTablaTrazabilidad() {

    $('#dat_fecha_registro').val(cargarFechaHoy());

    $("#table_monitoreo_trazabilidad-count-row").text($("#table_monitoreo_trazabilidad tr.table-row").length);
    $("#table_difusion-count-row").text($("#table_difusion tr.table-row").length);
    $("#table_seguimiento-count-row").text($("#table_seguimiento tr.table-row").length);

    if ($("#table_monitoreo_trazabilidad tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='4' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_monitoreo_trazabilidad tbody").append(html_tbody);

    }

    if ($("#table_difusion tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='5' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_difusion tbody").append(html_tbody);

    }

    if ($("#table_seguimiento tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='5' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_seguimiento tbody").append(html_tbody);

    }

  }

  function Sp5CargaSedesAreasGerenciasMonitoreo() {

    //Se especifican los parametros para la consulta
    var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"

    var headers = {
      "apikey": constantes.apiKey
    }

    var settings = {
      "url": url,
      "method": "GET",
      "timeout": 0,
      "crossDomain": true,
      "dataType": "json",
      "headers": headers,
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      pluck_Monitoreo["Areas"] = response.Area;
      pluck_Monitoreo["Gerencias"] = response.Gerencia;
      pluck_Monitoreo["Sedes"] = response.Sedes;
      pluck_Monitoreo["Zonas"] = response.Zonas;

    });

  }

  function Sp5cargarSelectMonitoreo() {

    let contenido = '';
    let ControlOptionSelect = false;

    //Cargando Select de Áreas
    contenido = $('#dat_area');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Areas"].forEach((Item) => {

      ControlOptionSelect = false;

      $('#dat_area option').each(function () {

        if ($.trim($(this).text()) == $.trim(Item.Description)) {

          ControlOptionSelect = true;

        }

      });

      if (!ControlOptionSelect) {

        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

      }

    });

    //Cargando Select de Gerencias
    contenido = $('#dat_gerencia');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Gerencias"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_riesgo');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Riesgos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_zona');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Zonas"].forEach((Item) => {

      ControlOptionSelect = false;

      $('#dat_zona option').each(function () {

        if ($.trim($(this).text()) == $.trim(Item.Description)) {

          ControlOptionSelect = true;

        }

      });

      if (!ControlOptionSelect) {

        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

      }

    });

    /*pluck_Monitoreo["Zonas"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });*/

    //Cargando Select de Sedes
    contenido = $('#dat_puesto');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Puestos"].forEach((Item) => {

      ControlOptionSelect = false;

      $('#dat_puesto option').each(function () {

        if ($.trim($(this).text()) == $.trim(Item.PuestoTrabajo)) {

          ControlOptionSelect = true;

        }

      });

      if (!ControlOptionSelect) {

        contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

      }

    });

    /*pluck_Monitoreo["Puestos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
    });*/

    //Cargando Select de Sedes
    contenido = $('#dat_estado');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Estados"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_etapa');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Etapas"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
    });


    //Cargando Select de Sedes
    /*contenido = $('#dat_tipo_evaluacion');
    contenido.empty();
    contenido.append(`<option value=""></option>`);
  
    pluck_Monitoreo["TipoEvaluacion"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Nombre}</option>`)
    });*/


    //Cargando Select de Sedes
    contenido = $('#dat_cod_ges');
    contenido.empty();
    contenido.append(`<option value="0"></option>`);

    pluck_Monitoreo["GES"].forEach((Item) => {

      paObj_detalle_GES[Item.Id] = Item;
      contenido.append(`<option value="${Item.Id}">${Item.GES_ID}</option>`)

    });

  }

  function Sp5CargarPlucksMonitoreoGES() {

    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers
    };

    return $.ajax(settings).done((response) => {

      //console.log("Plucks",response);
      pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
      pluck_Monitoreo["Agentes"] = response.lista_Agentes;
      pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
      pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

    });
  }

  function Sp5CargarPlucksMonitoreo() {

    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers
    };

    return $.ajax(settings).done((response) => {

      pluck_Monitoreo["Estados"] = response.lista_Estados;
      pluck_Monitoreo["Etapas"] = response.lista_Etapas;
      pluck_Monitoreo["TipoEvaluacion"] = response.Lista_EvaluacionGES;

    });
  }

  function Sp5BuscarTodosGES() {

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdGestion": 0 }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      //Se asiga la respuesta de la Historia al Obj paObj_ec
      pluck_Monitoreo["GES"] = response.lista_GestionData;

    });

  }

  function Sp5CRUDMonitoreo(CodAccion, IdEstado, IdMonitoreo) {

    let data = {};
    let EjecutarModal = false;
    let TituloModal = '';
    let Fecha = '';

    if (CodAccion == 1) {

      data.Id1 = IdMonitoreo;
      data.Estado = IdEstado;
      data.CreadoPor = "User";
      data.ModificadoPor = "User";
      data.IdArea = $("#dat_area option:selected").val();
      data.IdPuestoCargo = $("#dat_puesto option:selected").val();
      data.IdUnidadSede = $("#dat_sede option:selected").val();
      data.IdGerencia = $("#dat_gerencia option:selected").val();
      data.IdZona = $("#dat_zona option:selected").val();
      data.idRiesgo = $("#dat_riesgo option:selected").val();
      data.idAgente = $("#dat_agente option:selected").val();
      data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
      data.IdEtapa = $("#dat_etapa option:selected").val();
      data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
      data.FueAprobado = 0;
      data.FechaAprobado = "1900-01-01";
      data.FueAnulado = 0;
      data.FechaAnulado = "1900-01-01";
      data.FueEvaluado = 0;
      data.FechaEvaluado = "1900-01-01";
      data.FueComunicado = 0;
      data.FechaComunicacion = "1900-01-01";
      data.fueCerrado = 0;
      data.FechaCierre = "1900-01-01";
      data.accion = 1;
      data.ncas = $('#dat_n_cas').val();

    }

    if (CodAccion == 2) {

      data.Id1 = IdMonitoreo;
      data.Estado = IdEstado;
      data.CreadoPor = "User";
      data.ModificadoPor = "User";
      data.IdArea = $("#dat_area option:selected").val();
      data.IdPuestoCargo = $("#dat_puesto option:selected").val();
      data.IdUnidadSede = $("#dat_sede option:selected").val();
      data.IdGerencia = $("#dat_gerencia option:selected").val();
      data.IdZona = $("#dat_zona option:selected").val();
      data.idRiesgo = $("#dat_riesgo option:selected").val();
      data.idAgente = $("#dat_agente option:selected").val();
      data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
      data.IdEtapa = $("#dat_etapa option:selected").val();
      data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
      data.FueAprobado = 1;
      data.FechaAprobado = cargarFechaHoy();
      data.FueAnulado = 0;
      data.FechaAnulado = "1900-01-01";
      data.FueEvaluado = 0;
      data.FechaEvaluado = "1900-01-01";
      data.FueComunicado = 0;
      data.FechaComunicacion = "1900-01-01";
      data.fueCerrado = 0;
      data.FechaCierre = "1900-01-01";
      data.accion = 1;
      data.ncas = $('#dat_n_cas').val();

    }

    if (CodAccion == 3) {

      data.Id1 = IdMonitoreo;
      data.Estado = IdEstado;
      data.CreadoPor = "User";
      data.ModificadoPor = "User";
      data.IdArea = $("#dat_area option:selected").val();
      data.IdPuestoCargo = $("#dat_puesto option:selected").val();
      data.IdUnidadSede = $("#dat_sede option:selected").val();
      data.IdGerencia = $("#dat_gerencia option:selected").val();
      data.IdZona = $("#dat_zona option:selected").val();
      data.idRiesgo = $("#dat_riesgo option:selected").val();
      data.idAgente = $("#dat_agente option:selected").val();
      data.IdCodigoGES = $("#dat_cod_ges option:selected").val();
      data.IdEtapa = $("#dat_etapa option:selected").val();
      data.IdTipoEvaluacion = $("#dat_tipo_evaluacion option:selected").val();
      data.FueAprobado = 0;
      data.FechaAprobado = "1900-01-01";
      data.FueAnulado = 1;
      data.FechaAnulado = cargarFechaHoy();
      data.FueEvaluado = 0;
      data.FechaEvaluado = "1900-01-01";
      data.FueComunicado = 0;
      data.FechaComunicacion = "1900-01-01";
      data.fueCerrado = 0;
      data.FechaCierre = "1900-01-01";
      data.accion = 1;
      data.ncas = $('#dat_n_cas').val();

    }

    let url = apiUrlsho + `/api/hce_Post_052_gestion_monitoreo?code=OzM1cf0JPrZx7mWxWzdvmgVzO0e2Mk5w0XhyOSySB2MDvyy83tUZ3A==&httpmethod=post`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "post",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": JSON.stringify(data)
    };

    return $.ajax(settings).done((response) => {

      idTemporalMonitoreo = response.Id;

      if (CodAccion == 1) {

        EjecutarModal = true;
        TituloModal = 'Se edito la tarea de monitoreo con éxito';

      }

      if (CodAccion == 2) {

        EjecutarModal = true;
        TituloModal = 'Se aprobó la tarea de monitoreo con éxito';

      }

      if (CodAccion == 3) {

        EjecutarModal = true;
        TituloModal = 'Se anuló la tarea de monitoreo con éxito';

      }

      if (EjecutarModal) {

        Swal.fire({
          title: TituloModal,
          iconColor: "#8fbb02",
          iconHtml: '<img src="./images/sho/check.svg" width="28px">',
          showConfirmButton: false,
          padding: "3em 3em 6em 3em ",
          timer: 1500,
        }).then(() => {

          Sp5volverIndexHigiene();

        });

      }

    });

  }

  /*function Sp5CargarMonitoreo(IdMonitoreo){
  
    $('#dat_fecha_registro').val(cargarFechaHoy());
    $('#dat_estado').val("Creado");
    $('#dat_id_tarea').val("COD000"+IdMonitoreo);
  
  }*/

  async function _init_Sp5Monitoreo(IdMonitoreo) {

    //Se inicia el Cargando
    showLoading();

    await Sp5CargaSedesAreasGerenciasMonitoreo();
    await Sp5CargarPlucksMonitoreoGES();
    await Sp5CargarPlucksMonitoreo();
    await Sp5BuscarTodosGES();
    await Sp5cargarSelectMonitoreo();

    //console.log('Editar')
    /* await Sp5BuscarTrazabilidadMonitoreo()
    await Sp5CargarTrazabilidad();
    await Sp5BuscarTrazabilidadControles()
    await Sp5CargarTrazabilidadControles(); */

    await Sp5CargarTablaTrazabilidad();
    await Sp5CargarMonitoreo(IdMonitoreo);

    //Se apaga el Cargando
    hideLoading();

  }

  function Sp5CargarMonitoreo(IdMonitoreo) {

    $('#dat_id_tarea').val(paObj_detalle_Monitoreo[IdMonitoreo].IdTareaMonitoreo);
    $('#dat_fecha_registro').val(paObj_detalle_Monitoreo[IdMonitoreo].CreadoFecha.substring(0, 10));
    $('#dat_estado').val(paObj_detalle_Monitoreo[IdMonitoreo].DescripcionEstado);
    //$("#dat_etapa option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa+"']").prop("selected",true);
    //$("#dat_zona option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdZona+"']").prop("selected",true);
    //$("#dat_tipo_evaluacion option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion+"']").prop("selected",true);
    //$("#dat_gerencia option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia+"']").prop("selected",true);
    //$("#dat_sede option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede+"']").prop("selected",true);
    //$("#dat_cod_ges option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES+"']").prop("selected",true);
    //$("#dat_area option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdArea+"']").prop("selected",true);

    $('#dat_gerencia').val(paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia).trigger("change");
    $('#dat_sede').val(paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede).trigger("change");
    $('#dat_area').val(paObj_detalle_Monitoreo[IdMonitoreo].IdArea).trigger("change");
    $('#dat_etapa').val(paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa).trigger("change");
    $('#dat_zona').val(paObj_detalle_Monitoreo[IdMonitoreo].IdZona).trigger("change");
    $('#dat_cod_ges').val(paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES).trigger("change");

    $('#dat_puesto').val(paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo).trigger("change");
    //$("#dat_puesto option[value='"+paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo+"']").prop("selected",true);

    $("#dat_riesgo option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo + "']").prop("selected", true);
    $('#dat_riesgo').change();
    $("#dat_agente option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].idAgente + "']").prop("selected", true);
    $('#dat_agente').change();
    $('#dat_tipo_evaluacion').val(paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion).trigger("change");

    $('#dat_n_cas').val(paObj_detalle_Monitoreo[IdMonitoreo].ncas);

  }


  $(document).ready(function () {

    _init_Sp5Monitoreo(idDetalleMonitoreo);

    $('#dat_puesto').select2();
    $('#dat_etapa').select2();
    $('#dat_cod_ges').select2();
    $('#dat_gerencia').select2();
    $('#dat_sede').select2();
    $('#dat_area').select2();
    $('#dat_zona').select2();
    $('#dat_riesgo').select2();
    $('#dat_agente').select2();
    $('#dat_tipo_evaluacion').select2();
    $('.select2-container').css('width', '100%');

    $("#dat_cod_ges").on('change', onChangeGESID);
    $('#dat_riesgo').on('change', onCargarAgentesChange);
    $('#dat_gerencia').on('change', onCargarSedeChange);

    $('#dat_agente').on('change', onCargarTipoEvaluacionChange);
    $('#dat_tipo_evaluacion').on('change', onTipoEvaluacionChange);

  });





  function onTipoEvaluacionChange() {

    let TextoSelectTipoEvaluacion;

    $('#div_n_cas').addClass("d-none");
    $('#dat_n_cas').removeClass("submit");
    $('#dat_n_cas').val("");

    TextoSelectTipoEvaluacion = pluck_Monitoreo["TipoEvaluacion"].filter(Item => Item.Id == $(this).val());

    if (parseInt(TextoSelectTipoEvaluacion.length) == 0) {



    }
    else {

      if (TextoSelectTipoEvaluacion[0].Nombre == "Agente Químico") {

        $('#div_n_cas').removeClass("d-none");
        $('#dat_n_cas').addClass("submit");

      }

    }

  }





  function onCargarTipoEvaluacionChange() {

    let ValoresSelectTipoEvaluacion;
    let contenido = '';

    contenido = $('#dat_tipo_evaluacion');

    ValoresSelectTipoEvaluacion = pluck_Monitoreo["TipoEvaluacion"].filter(Item => Item.idAgenteRiesgo == $(this).val());

    contenido.empty();

    if (parseInt(ValoresSelectTipoEvaluacion.length) == 0) {

      contenido.append(`<option value="0" selected>No hay registros</option>`);

    }
    else {

      contenido.append(`<option value="" selected></option>`);

      ValoresSelectTipoEvaluacion.forEach((Item) => {
        contenido.append(`<option value="${Item.Id}">${Item.Nombre}</option>`)
      });

    }

    $('#dat_tipo_evaluacion').change();

  }






  function onCargarSedeChange() {

    let TextoSelectGerencia;
    let contenido = '';
    let CargarTodos = false;

    TextoSelectGerencia = pluck_Monitoreo["Gerencias"].filter(Item => Item.Id == $(this).val());

    if (parseInt(TextoSelectGerencia.length) == 0) {

      CargarTodos = true;

    }
    else {

      if (TextoSelectGerencia[0].Description == "Gerencia de Operaciones Industriales") {


        /*$('#dat_sede option').forEach((ItemSelect) => {
          contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
        });*/
        $('#dat_sede option').each(function () {

          if ($.trim($(this).text()).includes("TASA ")) {

            $(this).remove();

          }

        });

      }
      else {

        CargarTodos = true;

      }

    }

    if (CargarTodos) {

      //Cargando Select de Sedes
      contenido = $('#dat_sede');
      contenido.empty();
      contenido.append(`<option value=""></option>`);

      pluck_Monitoreo["Sedes"].forEach((Item) => {
        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
      });

    }

    $("#dat_sede option[value='']").prop("selected", true);
    $('#dat_sede').change();

  }

  function onCargarAgentesChange() {

    let ValoresSelectAgentes;
    let contenido = '';

    contenido = $('#dat_agente');

    ValoresSelectAgentes = pluck_GES["Agentes"].filter(Item => Item.idRiesgoPuestoTrabajo == $(this).val());

    contenido.empty();

    if (parseInt(ValoresSelectAgentes.length) == 0) {

      contenido.append(`<option value="" selected>Selecciona un riesgo</option>`);

    }
    else {

      contenido.append(`<option value="" selected></option>`);

      ValoresSelectAgentes.forEach((Item) => {
        contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
      });

    }

    $('#dat_agente').change();

  }


  function onChangeGESID() {

    if ($(this).val() != 0) {

      //$("#dat_gerencia option[value='" + paObj_detalle_GES[$(this).val()].IdGerencia + "']").prop("selected", true);
      //$("#dat_sede option[value='" + paObj_detalle_GES[$(this).val()].IdUnidadSede + "']").prop("selected", true);
      //$("#dat_area option[value='" + paObj_detalle_GES[$(this).val()].IdArea + "']").prop("selected", true);

      $('#dat_gerencia').val(paObj_detalle_GES[$(this).val()].IdGerencia).trigger("change");
      $('#dat_sede').val(paObj_detalle_GES[$(this).val()].IdUnidadSede).trigger("change");
      $('#dat_area').val(paObj_detalle_GES[$(this).val()].IdArea).trigger("change");
      $('#dat_puesto').val(paObj_detalle_GES[$(this).val()].IdPuestoCargo).trigger("change");
      $("#dat_riesgo option[value='" + paObj_detalle_GES[$(this).val()].idRiesgo + "']").prop("selected", true);
      $('#dat_riesgo').change();
      $("#dat_agente option[value='" + paObj_detalle_GES[$(this).val()].idAgente + "']").prop("selected", true);
      $('#dat_agente').change();

    }

  }


  function Sp5CargarTrazabilidad() {

    let contenido = '';
    let datoVacio = '';
    let html_tbody = '';
    let ContadorFila = 0;

    contenido = $('#content_monitoreo_trazabilidad');
    contenido.empty();

    paObj_Monitoreo["Trazabilidad"].forEach((ItemMonitoreo) => {

      paObj_detalle_Monitoreo[ItemMonitoreo.Id] = ItemMonitoreo;

      html_tbody = "<tr>";
      html_tbody += "<td>" + ItemMonitoreo.CodigoEvaluacion + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.FechaProgramacion + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.Estado + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.FechaEjecucion + "</td>";
      html_tbody += "<td>";
      html_tbody += "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);
      ContadorFila++;

    });

    ObjTabla = $('#table_monitoreo_trazabilidad').DataTable({
      "pageLength": 10,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords": "Cargando registros...",
        "processing": "Procesando...",
        "infoPostFix": "",
        "zeroRecords": "No se encontraron registros"
      },
      "columnDefs": [
        {
          "targets": [14],
          "visible": false,
          "searchable": true
        },
        {
          "targets": [15],
          "visible": false,
          "searchable": true
        }
      ],
      initComplete: function () {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        /* "<'row btn-table'<B>>" + */
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row row-records'<'col-sm-12'tr>>" +
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('#table_monitoreo_trazabilidad-count-row').text(ObjTabla.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody');

    if ($.fn.DataTable.isDataTable('#table_monitoreo_trazabilidad')) {
      $('#table_monitoreo_trazabilidad').find('.nav-link').trigger('click');
    }

    /* Inicializa la tabla cuando se hace uso del filtro fecha */
    $.fn.dataTable.ext.search.push(
      function (settings, data, dataIndex) {

        /*  var iFini = document.getElementById('min').value;
         var iFfin = document.getElementById('max').value;
         var iStartDateCol = 7;
         var iEndDateCol = 7;
     
         iFini = iFini.replace(/-/g, "");
         iFfin = iFfin.replace(/-/g, "");
     
         var datofini = data[iStartDateCol].substring(6, 10) + data[iStartDateCol].substring(3, 5) + data[iStartDateCol].substring(0, 2);
         var datoffin = data[iEndDateCol].substring(6, 10) + data[iEndDateCol].substring(3, 5) + data[iEndDateCol].substring(0, 2);
     
         if (iFini === "" && iFfin === "") {
           return true;
         }
         else if (iFini <= datofini && iFfin === "") {
           return true;
         }
         else if (iFfin >= datoffin && iFini === "") {
           return true;
         }
         else if (iFini <= datofini && iFfin >= datoffin) {
           return true;
         }
         return false; */

      }
    );
  }

  //#region Buscar Datos de Monitoreo
  function Sp5BuscarTrazabilidadMonitoreo() {

    //console.log('Detalle Monitoreo')
    //console.log(idDetalleMonitoreo)

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaTrazabilidad`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdMonitoreo": idDetalleMonitoreo }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      //console.log('response')
      //console.log(response);
      //Se asiga la respuesta de la Historia al Obj paObj_ec
      paObj_Monitoreo["Trazabilidad"] = response.lista_Trazabilidad;

      paObj_Monitoreo["Monitoreos"].forEach((ItemMonitoreo) => {
        //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
        pluck_Monitoreo["Areas"].forEach((Item) => {

          if (Item.Id == ItemMonitoreo.IdArea) {
            ItemMonitoreo.AreaDescripcion = Item.Description;
          }

        });


      });

    })
  };

  //#endregion


  var ObjTablaTrazabilidadControles = '';


  //#region GET Cargar Datos de Trazabilidad Seguimiento de Controles
  function Sp5BuscarTrazabilidadControles() {

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaTrazabilidadControles`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdMonitoreo": idDetalleMonitoreo }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      paObj_Monitoreo["TrazabilidadControles"] = response.lista_Trazabilidad_Controles;

    })
  }

  //#endregion


  //#region SET Asignar Valores Tabla Trazabilidad Seguimiento de Controles
  function Sp5CargarTrazabilidadControles() {

    let contenido = '';
    let datoVacio = '';
    let html_tbody = '';
    let ContadorFila = 0;

    $.fn.dataTable.ext.search.pop();

    contenido = $('#content_seguimiento');
    contenido.empty();

    paObj_Monitoreo["TrazabilidadControles"].forEach((Item) => {

      paObj_detalle_Monitoreo[ItemMonitoreo.Id] = Item;

      html_tbody = "<tr>";
      html_tbody += "<td>" + Item.CodigoControl + "</td>";
      html_tbody += "<td>" + Item.CodigoEvaluacion + "</td>";
      html_tbody += "<td>" + Item.CodigoReunion + "</td>";
      html_tbody += "<td>" + Item.Estado + "</td>";
      html_tbody += "<td>" + Item.FechaCierre + "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);
      ContadorFila++;

    });

    //console.log('ObjTablaTrazabilidadControles')

    ObjTablaTrazabilidadControles = $('#table_seguimiento').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords": "Cargando registros...",
        "processing": "Procesando...",
        "infoPostFix": "",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function () {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      "columnDefs": [
        { targets: [0, 1, 2, 3, 4], visible: true, searchable: false },

      ],

      dom:
        /* "<'row btn-table'<B>>" + */
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row row-records'<'col-sm-12'tr>>" +
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('#table_seguimiento-count-row').text(ObjTablaTrazabilidadControles.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody');

    if ($.fn.DataTable.isDataTable('#table_seguimiento')) {
      $('#table_seguimiento').find('.nav-link').trigger('click');
    }

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  }
//#endregion



  /*function Sp5LimpiarCampos(){
  
    $('.submit').val('');
    $("select.submit option[value='']").prop("selected",true);
    $('#dat_puesto').val('').trigger("change");
  
  }*/

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>