<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link-ho.active{

  color: #8fbb02 !important;

}

.nav-link-ho.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}



</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-ho active" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->





    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Ergovisor</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>






    <!-- Fila 1 -->
    <div class="row mb-3 filter-atenciones_medicas">
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select-general data-filtro-select" id="dat_gerencia" data-filtro-select-incidencia='0' data-filtro-select-evaluacion='0'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Unidad</span>
          <select class="form-control data-filtro-select-general data-filtro-select" id="dat_unidad" data-filtro-select-incidencia='1' data-filtro-select-evaluacion='1'>
          </select> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select-general data-filtro-select" id="dat_area" data-filtro-select-incidencia='2' data-filtro-select-evaluacion='2'>
          </select> 
        </div>
      </div>   
      <div class="col-md-3">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <select class="form-control data-filtro-select-general data-filtro-select" id="dat_puesto" data-filtro-select-incidencia='3' data-filtro-select-evaluacion='3'>
          </select> 
        </div>
      </div>
    </div>

    <div class="row mb-3 filter-atenciones_medicas">
      <div class="col-md-3">
        <div class="form-box">
          <span>Documento</span>
          <input class="form-control data-filtro-general data-filtro" id="dat_documento" data-filtro-incidencia='4' data-filtro-evaluacion='4'> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Apellidos</span>
          <input class="form-control data-filtro-general data-filtro" id="dat_apellido" data-filtro-incidencia='6' data-filtro-evaluacion='6'> 
        </div>
      </div> 
      <div class="col-md-3">
        <div class="form-box">
          <span>ID de incidencias</span>
          <input class="form-control data-filtro-incidencia data-filtro" id="dat_id_incidencia" data-filtro-incidencia='7'> 
        </div>
      </div> 
      <div class="col-md-3">
        <div class="form-box">
          <span>ID evaluación</span>
          <input class="form-control data-filtro-general data-filtro" id="dat_id_evaluacion" data-filtro-incidencia='8' data-filtro-evaluacion='7'> 
        </div>
      </div>
    </div>

    <div class="row mb-3">     
      <div class="col-md-3">
        <div class="form-box">
          <span>F. Registro evaluación</span>
          <input type="date" class="form-control data-filtro-date-evaluacion data-filtro-date" id="dat_fecha_evaluacion" data-filtro-date-evaluacion='8'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>F. Registro incidencia</span>
          <input type="date" class="form-control data-filtro-date-incidencia data-filtro-date" id="dat_fecha_registro" data-filtro-date-incidencia='9'>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select-general data-filtro-select" id="dat_estado" data-filtro-select-incidencia='10' data-filtro-select-evaluacion='11'>
            <option value="" selected></option> 
            <option value="1">En Proceso</option> 
            <option value="2">Finalizada</option>  
          </select> 
        </div>
      </div>
    </div> 
                      
    <!-- Fila 1 fin -->




    <!-- Busqueda de registro  -->
    
   

     <!-- Nav-tabs -->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">
        
        <div class="row mt-4"> 
          <div class="col-md-12">           
            <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link nav-link-tablas active" data="incidencia" id="incidencia-tab" data-toggle="tab" href="#incidencia" role="tab" aria-controls="incidencia" aria-selected="true">Incidencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-tablas" data="evaluacion" id="evaluacion-tab" data-toggle="tab" href="#evaluacion" role="tab" aria-controls="evaluacion" aria-selected="false">Evaluaciones</a>
              </li>
            </ul>
          </div>      
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="incidencia" role="tabpanel" aria-labelledby="incidencia-tab">


            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_ergovisor_incidencia-count-row">0</span> registros</span>
                </div>
              </div>
            </div>

            <div class="table-responsive" style="overflow-y:hidden !important;">
              <table class="table-box table-container" id="table_ergovisor_incidencia" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>Gerencia</th>
                    <th>Unidad</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>ID de incidencias</th>
                    <th>ID evaluación</th>
                    <th>F. Registro</th>
                    <th>Estado</th>
                    <th>Nro de observaciones realizadas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_ergovisor_incidencia">
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="evaluacion" role="tabpanel" aria-labelledby="evaluacion-tab">

            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_ergovisor_evaluacion-count-row">0</span> registros</span>
                </div>
              </div>
            </div>          
            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box table-container" id="table_ergovisor_evaluacion" style="margin-top: 0px !important; width: 100% !important;">
                <thead>
                  <tr>
                    <th>Gerencia</th>
                    <th>Unidad</th>
                    <th>Área</th>
                    <th>Puesto de trabajo</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>ID evaluación</th>
                    <th>F. Evaluación</th>
                    <th>Nivel de riesgo</th>
                    <th>Porcentaje de cumplimiento</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_ergovisor_evaluacion"> 
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->




  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var valor = 0;
var ObjTablaErgovisor;
var ObjTablaSalva;
var ObjTablaAtencion;
var ObjTablaInspeccion;

function Sp5verDetalleIncidenciaAtencion(IdAtencionMedica,IdHistoria){

  idDetalleAtencionMedica = IdAtencionMedica;
  idDetalleAtencionMedicaHC = IdHistoria;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verIncidenciaAtencionMedica.html', 'Detalle de atención médica');

}

function Sp5verDetalleIncidenciaInspeccion(IdInspeccion){

  idDetalleInspeccion = IdInspeccion;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/verIncidenciaInspeccion.html', 'Detalle de inspección de instalaciones');

}

function Sp5CargarTablasIncidencias(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  ObjTablaErgovisor = $('#table_incidencia_ergovisor').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Ergovisor)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 /*, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_ergovisor-count-row').text(ObjTablaErgovisor.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_ergovisor') ) {

    $('#table_incidencia_ergovisor').find('.nav-link').trigger('click');

  }

  ObjTablaSalva = $('#table_incidencia_salva').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Salva)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 /*, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_salva-count-row').text(ObjTablaErgovisor.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_salva') ) {

    $('#table_incidencia_salva').find('.nav-link').trigger('click');

  }

  contenido = $('#content_incidencia_atenciones_medicas');
  contenido.empty();

  paObj_Incidencia["Atencion"].forEach((ItemIncidenciaAtencion) => {

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.CodigoAtencionMedica+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.SedeDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.AreaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.PuestoTrabajo_Empresa_H+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaAtencion.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.RiesgoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.AgenteRiesgoName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.A_DniPaciente+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.Nombres+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.Apellidos+"</td>";
    html_tbody += "<td>"+ItemIncidenciaAtencion.EstadoName+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleIncidenciaAtencion("+ItemIncidenciaAtencion.IdAtencionMedica+","+ItemIncidenciaAtencion.IdHC+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";  

    if( ItemIncidenciaAtencion.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaAtencion.EstadoName != "Anulado" && ItemIncidenciaAtencion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaAtencion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";     

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaAtencion = $('#table_incidencia_atenciones_medicas').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Atenciones Médicas)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10, 11/* 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_atenciones_medicas-count-row').text(ObjTablaAtencion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_atenciones_medicas') ) {

    $('#table_incidencia_atenciones_medicas').find('.nav-link').trigger('click');

  }


  contenido = $('#content_incidencia_inspeccion');
  contenido.empty();

  paObj_Incidencia["Inspeccion"].forEach((ItemIncidenciaInspeccion) => {

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.CodigoIncidencia+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.IdInspeccionCode+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.SedeDescripcion+"</td>";
    html_tbody += "<td>"+new Date(ItemIncidenciaInspeccion.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.ZonaInspeccion+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.ItemName+"</td>";
    html_tbody += "<td>"+ItemIncidenciaInspeccion.TipoIncidenciaName+"</td>"; 
    html_tbody += "<td>"+ItemIncidenciaInspeccion.EstadoName+"</td>";  
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(201);Sp5verDetalleIncidenciaInspeccion("+ItemIncidenciaInspeccion.IdInspeccion+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";    

    if( ItemIncidenciaInspeccion.EstadoName == "Creado"  ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarComunicarIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1489.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Comunicar";

    }  

    if( ItemIncidenciaInspeccion.EstadoName != "Anulado" && ItemIncidenciaInspeccion.EstadoName != "Cerrado" ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarCerrarIncidencia(3,"+ItemIncidenciaInspeccion.Id+",4);' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1490.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Cerrar";
      html_tbody += "</a>";      

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });


  ObjTablaInspeccion = $('#table_incidencia_inspeccion').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Incidencias (Inspecciones)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8/*, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_incidencia_inspeccion-count-row').text(ObjTablaInspeccion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_incidencia_inspeccion') ) {

    $('#table_incidencia_inspeccion').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  /*$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      

    }

  );*/


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}





function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}




function Sp5ConfirmarAnularIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Anular incidencia",
    html: `
    <p>Está por anular la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 4,IdIncidencia,TipoOrigen);      

    }

  });

}


function Sp5ConfirmarCerrarIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Cerrar incidencia",
    html: `
    <p>Está por cerrar la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 3,IdIncidencia,TipoOrigen);       

    }

  });

}


function Sp5ConfirmarComunicarIncidencia(CodAccion,IdIncidencia,TipoOrigen) {

  Swal.fire({
    title: "Comunicar incidencia",
    html: `
    <p>Está por comunicar la incidencia</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDIncidencia(CodAccion, 2,IdIncidencia,TipoOrigen);        

    }

  });

}


function Sp5CRUDIncidencia(CodAccion, IdEstado,IdIncidencia, TipoOrigen) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 3){

    data.Id1 = IdIncidencia;
    data.Estado = IdEstado;
    data.IdTipoOrigenInc = TipoOrigen;
    data.IdOrigenInc = 0;
    data.TipoIncidencia = 0;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.itemIncidenciaId = 0;
    data.accion = CodAccion;
 
  }
  
  let url = apiUrlsho+`/api/hce_Post_055_incidencia?code=EDCd6l2j1o7QidVsptCUxBdaI/sXzAxrQZPFqOI3yWw9SjdR2fRa6g==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    if( IdEstado == 4 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la incidencia con éxito';

    }

    if( IdEstado == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se cerro la incidencia con éxito';

    }

    if( IdEstado == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se comunico la incidencia con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5controlNavegacionHigiene(201);
        handlerUrlhtml('contentGlobal', 'view/sho-hce/higiene_evaluar/datosGenerales.html', 'Evaluar');

      });     

    }   

  });

}



function Sp5verDetalleErgovisorEvaluacion(IdEvaluacionErgovisor,IdHistoriaErgo,IdEstado){

  IdHCErgo = IdHistoriaErgo;
  idDetalleEvaluacionErgovisor = IdEvaluacionErgovisor;
  EstadoDetalleErgovisor = IdEstado;

  ControlNavHigieneTexto = 'Identificar';

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verErgovisorEvaluacion.html', 'Formulario de incidencias '+paObj_DetalleEvaluacionErgovisorTemporal[IdEvaluacionErgovisor].EvalCode);

}

function Sp5verDetalleErgovisorIncidencia(IdIncidenciaErgovisor,IdHistoriaErgo,IdEstado){

  IdHCErgo = IdHistoriaErgo;
  idDetalleIncidenciaErgovisor = IdIncidenciaErgovisor;
  EstadoDetalleErgovisor = IdEstado;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verErgovisorIncidencia.html', 'Formulario de incidencias '+paObj_DetalleIncidenciaErgovisorTemporal[IdIncidenciaErgovisor].IncidenciaCode);

}

function Sp5verDetalleErgovisorIncidenciaEvaluacion(IdIncidenciaErgovisor,IdHistoriaErgo,IdEstado,IdEvaluacionErgovisor){

  IdHCErgo = IdHistoriaErgo;
  idDetalleIncidenciaErgovisor = IdIncidenciaErgovisor;
  idDetalleEvaluacionErgovisor = IdEvaluacionErgovisor;
  EstadoDetalleErgovisor = IdEstado;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verErgovisorIncidenciaEvaluacion.html', 'Formulario de incidencias '+paObj_DetalleIncidenciaErgovisorTemporal[IdIncidenciaErgovisor].IncidenciaCode);

}

function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function Sp5CargaSedesAreasGerenciasIncidencia() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Incidencia["Areas"] = response.Area;
    pluck_Incidencia["Gerencias"] = response.Gerencia;
    pluck_Incidencia["Sedes"] = response.Sedes;
    pluck_Incidencia["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectIncidencia(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area_atenciones option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

   //Cargando Select de Gerencias
  contenido = $('#dat_gerencia_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_zona');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Zonas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_puesto_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto_atenciones option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_tipo_atenciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["TipoIncidencia"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.TipoIncidencia}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_tipo_inspecciones');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Incidencia["TipoIncidencia"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.TipoIncidencia}</option>`)
  });

  //Cargando Select de Sedes
  /*contenido = $('#dat_etapa');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Etapas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
  });*/

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    console.log("plucks",response);
    pluck_Incidencia["Agentes"] = response.lista_Agentes;
    pluck_Incidencia["Riesgos"] = response.lista_Riesgos;
    pluck_Incidencia["Puestos"] = response.lista_Cargos_Puestos_Trabajo;
    pluck_Incidencia["TipoIncidencia"] = response.lista_TipoIncidencia;

  });
}

function Sp5CargarPlucksInspeccion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Inspeccion["EstadosInspeccion"] = response.lista_EstadosInsp;
    console.log("plucks inspeccion",response);

  });
}






async function _init_Sp5Incidencia() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasIncidencia();
  await Sp5CargarPlucksMonitoreoGES();
  //await Sp5CargarPlucksInspeccion();
  await Sp5cargarSelectIncidencia();
  await Sp5BuscarIncidenciasAtencion();
  await Sp5BuscarIncidenciasInspeccion();
  await Sp5CargarTablasIncidencias();

  //Se apaga el Cargando
  hideLoading();

}
function Sp5BuscarIncidenciasInspeccion() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaIncidencia_Inspecciones`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdIncidencia": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Incidencia["Inspeccion"] = response.lista_incidencia_Inspeccion;

    console.log("Incidencias inspecciones",paObj_Incidencia["Inspeccion"]);

    paObj_Incidencia["Inspeccion"].forEach((ItemIncidenciaInspeccion) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.AreaId_Empresa_H) {
          ItemIncidenciaInspeccion.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.IdGerencia) {
          ItemIncidenciaInspeccion.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaInspeccion.UnidadOperativaId) {
          ItemIncidenciaInspeccion.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}

function Sp5BuscarIncidenciasAtencion() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaIncidencia_AtencionMedica`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdIncidencia": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Incidencia["Atencion"] = response.lista_incidencia_AM;

    console.log("Incidencias atencion",paObj_Incidencia["Atencion"]);

    paObj_Incidencia["Atencion"].forEach((ItemIncidenciaAtencion) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Incidencia["Areas"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.AreaId_Empresa_H) {
          ItemIncidenciaAtencion.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Incidencia["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.GerenciaId_Empresa_H) {
          ItemIncidenciaAtencion.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Incidencia["Sedes"].forEach((Item) => {

        if (Item.Id == ItemIncidenciaAtencion.PlantaId_Empresa_H) {
          ItemIncidenciaAtencion.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}

function Sp5CargaSedesAreasGerenciasErgovisor() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Ergovisor["Areas"] = response.Area;
    pluck_Ergovisor["Gerencias"] = response.Gerencia;
    pluck_Ergovisor["Sedes"] = response.Sedes;
    pluck_Ergovisor["Zonas"] = response.Zonas;

  });

}

function Sp5CargarPlucksErgovisor() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_Ergovisor["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });

}

function Sp5cargarSelectErgovisor(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

   //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

}


function Sp5BuscarErgovisorIncidenciaEvaluacion() {
  
  let url = apiUrlsho+`/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Bandeja_Web`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_Ergovisor["ErgovisorIncidencia"] = response.Lista_bandejaIncidencia;
    pluck_Ergovisor["ErgovisorEvaluacion"] = response.Lista_bandejaEvaluacion;


    console.log("Ergovisor bandejas",response);

  });

}


async function _init_Sp5Ergovisor() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasErgovisor();
  await Sp5CargarPlucksErgovisor();
  await Sp5cargarSelectErgovisor();
  await Sp5BuscarErgovisorIncidenciaEvaluacion();
  await Sp5CargarTablasErgovisor();  

  //Se apaga el Cargando
  hideLoading();

}

var ObjTablaIncidencia;
var ObjTablaEvaluacion

function Sp5CargarTablasErgovisor(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_ergovisor_incidencia');
  contenido.empty();

  pluck_Ergovisor["ErgovisorIncidencia"].forEach((ItemErgoIncidencia) => {

    paObj_DetalleIncidenciaErgovisorTemporal[ItemErgoIncidencia.IdIncidencia] = ItemErgoIncidencia;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+pluck_Ergovisor["Gerencias"].find( item => item.Id == ItemErgoIncidencia.B_GerenciaId ).Description+"</td>";
    html_tbody += "<td>"+pluck_Ergovisor["Sedes"].find( item => item.Id == ItemErgoIncidencia.B_SedeId ).Description+"</td>";
    html_tbody += "<td>"+pluck_Ergovisor["Areas"].find( item => item.Id == ItemErgoIncidencia.B_AreaId ).Description+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.B_PuestoTrabajo+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.A_DniPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.A_NombresPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.A_ApellidosPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.IncidenciaCode+"</td>";
    html_tbody += "<td>"+(ItemErgoIncidencia.IdEvaluacion == 0 ? '---' : ItemErgoIncidencia.EvaluacionCode)+"</td>";
    html_tbody += "<td>"+new Date(ItemErgoIncidencia.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.EstadoName+"</td>";
    html_tbody += "<td>"+ItemErgoIncidencia.numObservaciones+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";

    if( ItemErgoIncidencia.IdEvaluacion == 0 ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(103);Sp5verDetalleErgovisorIncidencia("+ItemErgoIncidencia.IdIncidencia+","+ItemErgoIncidencia.IdHC+","+ItemErgoIncidencia.Estado+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver detalle";
      html_tbody += "</a>";

    }
    else
    {

      html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(103);Sp5verDetalleErgovisorIncidenciaEvaluacion("+ItemErgoIncidencia.IdIncidencia+","+ItemErgoIncidencia.IdHC+","+ItemErgoIncidencia.Estado+","+ItemErgoIncidencia.IdEvaluacion+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver detalle";
      html_tbody += "</a>";

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaIncidencia = $('#table_ergovisor_incidencia').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Ergovisor (Incidencia)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10, 11/*, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_ergovisor_incidencia') ) {

    $('#table_ergovisor_incidencia').find('.nav-link').trigger('click');

  }

  contenido = $('#content_ergovisor_evaluacion');
  contenido.empty();

  pluck_Ergovisor["ErgovisorEvaluacion"].forEach((ItemErgoEvaluacion) => {

    paObj_DetalleEvaluacionErgovisorTemporal[ItemErgoEvaluacion.IdEvaluacion] = ItemErgoEvaluacion;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+pluck_Ergovisor["Gerencias"].find( item => item.Id == ItemErgoEvaluacion.B_GerenciaId ).Description+"</td>";
    html_tbody += "<td>"+pluck_Ergovisor["Sedes"].find( item => item.Id == ItemErgoEvaluacion.B_SedeId ).Description+"</td>";
    html_tbody += "<td>"+pluck_Ergovisor["Areas"].find( item => item.Id == ItemErgoEvaluacion.B_AreaId ).Description+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.B_PuestoTrabajo+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.A_DniPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.A_NombresPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.A_ApellidosPaciente+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.EvalCode+"</td>";
    html_tbody += "<td>"+new Date(ItemErgoEvaluacion.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.NivelRiesgo+"</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.PorcentajeCumplimiento+"%</td>";
    html_tbody += "<td>"+ItemErgoEvaluacion.EstadoName+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(103);Sp5verDetalleErgovisorEvaluacion("+ItemErgoEvaluacion.IdEvaluacion+","+ItemErgoEvaluacion.IdHC+","+ItemErgoEvaluacion.Estado+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";
    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

  ObjTablaEvaluacion = $('#table_ergovisor_evaluacion').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },/*
    "columnDefs": [
      {
          "targets": [ 14 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      }
    ],*/
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Ergovisor (Evaluación)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10, 11/*, 12, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_ergovisor_evaluacion') ) {

    $('#table_ergovisor_evaluacion').find('.nav-link').trigger('click');

  }

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}

$(document).ready(function() {

  $('#dat_gerencia').select2();
  $('#dat_unidad').select2();
  $('#dat_area').select2();
  $('#dat_puesto').select2();

  $('.select2-container').css('width', '100%');

  _init_Sp5Ergovisor();

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });


  $('.data-filtro-select-general').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-select-incidencia'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

    ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-select-evaluacion'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });


  $('.data-filtro-general').on('keyup', function(){
    
    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-incidencia'))).search($(this).val()).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

    ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-evaluacion'))).search($(this).val()).draw();
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });

  $('.data-filtro-incidencia').on('keyup', function(){
    
    ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-incidencia'))).search($(this).val()).draw();
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

  });


  $('.data-filtro-date-incidencia').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-date-incidencia'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaIncidencia.column(parseInt($(this).attr('data-filtro-date-incidencia'))).search("").draw();

    }
    
    $('#table_ergovisor_incidencia-count-row').text(ObjTablaIncidencia.page.info().recordsDisplay);

  });


  $('.data-filtro-date-evaluacion').on('change', function(){

    if( $(this).val() != "" ){

      ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-date-evaluacion'))).search(new Date($(this).val()+"T00:00:00").toLocaleDateString('en-GB').split('T')[0]).draw();

    }
    else
    {

      ObjTablaEvaluacion.column(parseInt($(this).attr('data-filtro-date-evaluacion'))).search("").draw();

    }
    
    $('#table_ergovisor_evaluacion-count-row').text(ObjTablaEvaluacion.page.info().recordsDisplay);

  });


  $('.nav-link-ho').on('click',onClickSeccion);


});


function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}


function Sp5LimpiarCampos(){

  $('.data-filtro').val('').trigger("keyup");
  $('.data-filtro-date').val('').trigger("change");
  $('.data-filtro-select').val('').trigger("change");

}


</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>