<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link.active{

  color: #8fbb02 !important;

}

.nav-link.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}

</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->




    <!-- Busqueda de registro  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Programación de monitoreo</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" id="dat_gerencia" data-filtro-select='0'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Un. Op./Embarcación</span>
          <select class="form-control data-filtro-select" id="dat_sede" data-filtro-select='1'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select" id="dat_area" data-filtro-select='2'>
          </select> 
        </div>
      </div>      
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <select class="form-control data-filtro-select" id="dat_puesto" data-filtro-select='3'>
          </select> 
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    
    <!-- Fila 2 -->
    <div class="row mb-5">          
      <div class="col-md-3">
        <div class="form-box">
          <span>Código GES</span>
          <select class="form-control data-filtro-select" id="dat_codigo_ges" data-filtro-select='15'>       
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Zona</span>
          <select class="form-control data-filtro-select" id="dat_zona" data-filtro-select='16'>       
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Estado</span>
          <select class="form-control data-filtro-select" id="dat_estado" data-filtro-select='7'>          
          </select> 
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-box">
          <span>Etapa</span>
          <select class="form-control data-filtro-select" id="dat_etapa" data-filtro-select='4'>          
          </select> 
        </div>
      </div>
    </div>
    <!-- Fila 2 fin -->


    <!-- Fila 2 -->
    <div class="row mb-5">          
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha inicio</span>
          <input type="date" class="form-control data-filtro-date" id="min"> 
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha fin</span>
          <input type="date" class="form-control data-filtro-date" id="max"> 
        </div>
      </div>
    </div>
    <!-- Fila 2 fin -->

    <!-- Busqueda de registro  -->
    
    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-6 p-2 mr-auto mt-4">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_monitoreo-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-6 p-2 mr-auto text-right">
      	<button onclick="Sp5controlNavegacionHigiene(102);Sp5registrarMonitoreo();" type="button" class="btn btn-success btn-lg" id=""> Crear tarea de monitoreo

           <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
         </button>
      </div>

    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_monitoreo" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>Gerencia</th>
              <th>Un. Op./Embarcación</th>
              <th>Área</th>
              <th>Puesto de trabajo</th>
              <th>Etapa</th>
              <th>ID tarea de monitoreo</th>
              <th>Tipo de evaluación</th>
              <th>Estado</th>
              <th>F. Registro</th>
              <th>F. Aprobación</th>
              <th>F. Evaluación</th>
              <th>F. Comunicación</th>
              <th>F. de Cierre</th>
              <th>F. de Anulación</th>              
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_monitoreo">
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var valor = 0;
var ObjTabla;

function Sp5CargarTablaMonitoreo(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_monitoreo');
  contenido.empty();

  paObj_Monitoreo["Monitoreos"].forEach((ItemMonitoreo) => {

    paObj_detalle_Monitoreo[ItemMonitoreo.Id] = ItemMonitoreo;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+ItemMonitoreo.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.SedeDescripcion+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.AreaDescripcion+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.PuestoCargoDescripcion+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.DescripcionEtapa+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.IdTareaMonitoreo+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.IdTipoEvaluacion == 0 ? '--' : pluck_Monitoreo["TipoEvaluacion"].find( item => item.Id == ItemMonitoreo.IdTipoEvaluacion ).Nombre)+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.DescripcionEstado+"</td>";
    html_tbody += "<td>"+new Date(ItemMonitoreo.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.FueAprobado == 0 ? '--' : new Date(ItemMonitoreo.FechaAprobado).toLocaleDateString('en-GB').split('T')[0])+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.FueEvaluado == 0 ? '--' : new Date(ItemMonitoreo.FechaEvaluado).toLocaleDateString('en-GB').split('T')[0])+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.FueComunicado == 0 ? '--' : new Date(ItemMonitoreo.FechaComunicacion).toLocaleDateString('en-GB').split('T')[0])+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.fueCerrado == 0 ? '--' : new Date(ItemMonitoreo.FechaCierre).toLocaleDateString('en-GB').split('T')[0])+"</td>";
    html_tbody += "<td>"+(ItemMonitoreo.FueAnulado == 0 ? '--' : new Date(ItemMonitoreo.FechaAnulado).toLocaleDateString('en-GB').split('T')[0])+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(102);Sp5verDetalleMonitoreo("+ItemMonitoreo.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver detalle";
    html_tbody += "</a>";

    if( ItemMonitoreo.Estado == 1 ){

      if( ItemMonitoreo.IdTipoEvaluacion != 0 ){

        html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAprobarMonitoreo(2,"+ItemMonitoreo.Id+");' style='cursor: pointer;'>";
        html_tbody += "<img src='./images/sho/confirm2.svg' alt='' fill='#8fbb02'>";
        html_tbody += "&nbsp;&nbsp; Aprobar";
        html_tbody += "</a>";

      }
      
      html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(102);Sp5editarMonitoreo("+ItemMonitoreo.Id+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
      html_tbody += "&nbsp;&nbsp; Editar";
      html_tbody += "</a>";

    }

    if( ItemMonitoreo.Estado != 3 && ItemMonitoreo.Estado != 7 ){

      html_tbody += "<a class='dropdown-item' onclick='Sp5ConfirmarAnularMonitoreo(3,"+ItemMonitoreo.Id+");' style='cursor: pointer;'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/trazado1383.svg' alt='' fill='#6c757d'>";
      html_tbody += "&nbsp;&nbsp; Anular";
      html_tbody += "</a>";

    }

    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "<td>"+ItemMonitoreo.GES_ID+"</td>";
    html_tbody += "<td>"+ItemMonitoreo.ZonaDescripcion+"</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);
    ContadorFila++;

  });

  ObjTabla = $('#table_monitoreo').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "destroy": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    "columnDefs": [
      {
          "targets": [ 15 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 16 ],
          "visible": false,
          "searchable": true
      }
    ],
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13/*, 13, 14, 15, 16, 17, 18, 19, 20*/ ]
      }}/*,
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de Tareas de Monitoreo', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*//*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_monitoreo-count-row').text(ObjTabla.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_monitoreo') ) {

    $('#table_monitoreo').find('.nav-link').trigger('click');

  }

  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      /*var FilterStart = $('#min').val();
        var FilterEnd = $('#max').val();
        var DataTableStart = data[7].trim();
        var DataTableEnd = data[12].trim();
        if (FilterStart == '' || FilterEnd == '') {
            return true;
        }
        if (DataTableStart >= FilterStart && DataTableEnd <= FilterEnd)
        {
            return true;
        }
        else {
            return false;
        }

   */

      if (settings.nTable.id === 'table_monitoreo') {

        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 8;
        var iEndDateCol = 8;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        var datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        var datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;

      }

    }
  );


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();


  /*$.fn.dataTable.ext.search.Push(

    function (settings, data, dataIndex) {

        var FilterStart = $('#min').val();
        var FilterEnd = $('#max').val();
        var DataTableStart = data[7].trim();
        var DataTableEnd = data[12].trim();
        if (FilterStart == '' || FilterEnd == '') {
            return true;
        }
        if (DataTableStart >= FilterStart && DataTableEnd <= FilterEnd)
        {
            return true;
        }
        else {
            return false;
        }
        
    });*/


}





function cargarFechaHoy() {

  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  
  if(dia<10){
    dia='0'+dia; //agrega cero si el menor de 10
  }
  
  if(mes<10){
    mes='0'+mes //agrega cero si el menor de 10
  }

  return (ano+"-"+mes+"-"+dia);

}




function Sp5ConfirmarAnularMonitoreo(CodAccion,IdMonitoreo) {

  Swal.fire({
    title: "Anular tarea de monitoreo",
    html: `
    <p>Está por anular la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDMonitoreo(CodAccion, 3,IdMonitoreo);      

    }

  });

}


function Sp5ConfirmarAprobarMonitoreo(CodAccion,IdMonitoreo) {

  Swal.fire({
    title: "Aprobar tarea de monitoreo",
    html: `
    <p>Está por aprobar la tarea de monitoreo</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDMonitoreo(CodAccion, 2,IdMonitoreo);     

    }

  });

}



function Sp5CRUDMonitoreo(CodAccion, IdEstado,IdMonitoreo) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  if(CodAccion == 2){

    data.Id1 = IdMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = paObj_detalle_Monitoreo[IdMonitoreo].IdArea;
    data.IdPuestoCargo = paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo;
    data.IdUnidadSede = paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede;
    data.IdGerencia = paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia;
    data.IdZona = paObj_detalle_Monitoreo[IdMonitoreo].IdZona;
    data.idRiesgo = paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo;
    data.idAgente = paObj_detalle_Monitoreo[IdMonitoreo].idAgente;
    data.IdCodigoGES = paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES;
    data.IdEtapa = paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa;
    data.IdTipoEvaluacion = paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion;
    data.FueAprobado = 1; 
    data.FechaAprobado = cargarFechaHoy();
    data.FueAnulado = 0; 
    data.FechaAnulado = "1900-01-01";
    data.FueEvaluado = 0; 
    data.FechaEvaluado = "1900-01-01";
    data.FueComunicado = 0; 
    data.FechaComunicacion = "1900-01-01";
    data.fueCerrado = 0; 
    data.FechaCierre = "1900-01-01";
    data.accion = 1;
    data.ncas = paObj_detalle_Monitoreo[IdMonitoreo].ncas;
 
  }

  if(CodAccion == 3){

    data.Id1 = IdMonitoreo;
    data.Estado = IdEstado;
    data.CreadoPor = "User";
    data.ModificadoPor ="User";
    data.IdArea = paObj_detalle_Monitoreo[IdMonitoreo].IdArea;
    data.IdPuestoCargo = paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo;
    data.IdUnidadSede = paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede;
    data.IdGerencia = paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia;
    data.IdZona = paObj_detalle_Monitoreo[IdMonitoreo].IdZona;
    data.idRiesgo = paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo;
    data.idAgente = paObj_detalle_Monitoreo[IdMonitoreo].idAgente;
    data.IdCodigoGES = paObj_detalle_Monitoreo[IdMonitoreo].IdCodigoGES;
    data.IdEtapa = paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa;
    data.IdTipoEvaluacion = paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion;
    data.FueAprobado = paObj_detalle_Monitoreo[IdMonitoreo].FueAprobado; 
    data.FechaAprobado = paObj_detalle_Monitoreo[IdMonitoreo].FechaAprobado.substring(0,10); 
    data.FueAnulado = 1; 
    data.FechaAnulado = cargarFechaHoy();
    data.FueEvaluado = paObj_detalle_Monitoreo[IdMonitoreo].FueEvaluado;  
    data.FechaEvaluado = paObj_detalle_Monitoreo[IdMonitoreo].FechaEvaluado.substring(0,10); 
    data.FueComunicado = paObj_detalle_Monitoreo[IdMonitoreo].FueComunicado; 
    data.FechaComunicacion = paObj_detalle_Monitoreo[IdMonitoreo].FechaComunicacion.substring(0,10); 
    data.fueCerrado = paObj_detalle_Monitoreo[IdMonitoreo].fueCerrado; 
    data.FechaCierre = paObj_detalle_Monitoreo[IdMonitoreo].FechaCierre.substring(0,10); 
    data.accion = 1;
    data.ncas = paObj_detalle_Monitoreo[IdMonitoreo].ncas;
 
  }
  
  let url = apiUrlsho+`/api/hce_Post_052_gestion_monitoreo?code=OzM1cf0JPrZx7mWxWzdvmgVzO0e2Mk5w0XhyOSySB2MDvyy83tUZ3A==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'Se aprobó la tarea de monitoreo con éxito';

    }

    if( CodAccion == 3 ){

      EjecutarModal = true;
      TituloModal = 'Se anuló la tarea de monitoreo con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5controlNavegacionHigiene(102);
        handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/datosGenerales.html', 'Identificar');

      });     

    }   

  });

}













function Sp5registrarMonitoreo(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/registrarMonitoreo.html', 'Nueva tarea de monitoreo');

}

function Sp5verDetalleMonitoreo(IdMonitoreo){

  idDetalleMonitoreo = IdMonitoreo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verMonitoreo.html', 'Detalle de la tarea de monitoreo');

}

function Sp5editarMonitoreo(IdMonitoreo){

  idDetalleMonitoreo = IdMonitoreo;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/editarMonitoreo.html', 'Editar tarea de monitoreo');

}

function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

function Sp5BuscarTodosGES() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdGestion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    pluck_Monitoreo["GES"] = response.lista_GestionData;

  });

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function Sp5CargaSedesAreasGerenciasMonitoreo() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    console.log('Response')
    console.log(response)
    console.log('........')

    pluck_Monitoreo["Areas"] = response.Area;
    pluck_Monitoreo["Gerencias"] = response.Gerencia;
    pluck_Monitoreo["Sedes"] = response.Sedes;
    pluck_Monitoreo["Zonas"] = response.Zonas;

  });

}

function Sp5cargarSelectMonitoreo(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_zona');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Zonas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_zona option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  /*pluck_Monitoreo["Zonas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  /*pluck_Monitoreo["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_estado');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Estados"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_etapa');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["Etapas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
  });


  //Cargando Select de Sedes
  contenido = $('#dat_codigo_ges');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Monitoreo["GES"].forEach((Item) => {

    //paObj_detalle_GES[Item.Id] = Item;
    contenido.append(`<option value="${Item.Id}">${Item.GES_ID}</option>`)

  });

}

function Sp5CargarPlucksMonitoreoGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
    pluck_Monitoreo["Agentes"] = response.lista_Agentes;
    pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
    pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function Sp5CargarPlucksMonitoreo() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Monitoreo["Estados"] = response.lista_Estados;
    pluck_Monitoreo["Etapas"] = response.lista_Etapas;
    pluck_Monitoreo["TipoEvaluacion"] = response.Lista_EvaluacionGES;

  });
}

function Sp5BuscarTodosMonitoreo() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_GestionMonitoreo`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdGestion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_Monitoreo["Monitoreos"] = response.lista_GestionData;

    console.log("Monitoreos",paObj_Monitoreo["Monitoreos"]);

    paObj_Monitoreo["Monitoreos"].forEach((ItemMonitoreo) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_Monitoreo["Areas"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdArea) {
          ItemMonitoreo.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_Monitoreo["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdGerencia) {
          ItemMonitoreo.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Monitoreo["Sedes"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdUnidadSede) {
          ItemMonitoreo.SedeDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_Monitoreo["Zonas"].forEach((Item) => {

        if (Item.Id == ItemMonitoreo.IdZona) {
          ItemMonitoreo.ZonaDescripcion = Item.Description;
        }

      });

    });


  });

}

async function _init_Sp5Monitoreo() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasMonitoreo();
  await Sp5CargarPlucksMonitoreoGES();
  await Sp5CargarPlucksMonitoreo();
  await Sp5BuscarTodosGES();
  await Sp5cargarSelectMonitoreo();
  await Sp5BuscarTodosMonitoreo();
  await Sp5CargarTablaMonitoreo();

  //Se apaga el Cargando
  hideLoading();

}

async function _rest_Sp5Monitoreo() {

  //Se inicia el Cargando
  showLoading();

  await Sp5BuscarTodosMonitoreo();
  await Sp5CargarTablaMonitoreo();

  //Se apaga el Cargando
  hideLoading();

}


$(document).ready(function() {

 	_init_Sp5Monitoreo();

  $('#dat_puesto').select2();
  $('#dat_zona').select2();
  $('#dat_codigo_ges').select2();
  $('#dat_gerencia').select2();
  $('#dat_sede').select2();
  $('#dat_area').select2();
  $('#dat_estado').select2();
  $('#dat_etapa').select2();
  $('.select2-container').css('width', '100%');

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTabla.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_monitoreo-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('.data-filtro').on('keyup', function(){
    
    ObjTabla.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_monitoreo-count-row').text(ObjTabla.page.info().recordsDisplay);

  });


  $('#min').on('keyup change', function(){

    $('#max').attr("min", $('#min').val());
    ObjTabla.draw();
    $('#table_monitoreo-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#max').on('keyup change', function(){

    $('#min').attr("max", $('#max').val());
    ObjTabla.draw();
    $('#table_monitoreo-count-row').text(ObjTabla.page.info().recordsDisplay);
    
  });


  $('#dat_gerencia').on('change',onCargarSedeChange);


  $('.nav-link-ho').on('click',onClickSeccion);


});



function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}






function onCargarSedeChange(){

  let TextoSelectGerencia;
  let contenido = '';
  let CargarTodos = false;

  TextoSelectGerencia = pluck_Monitoreo["Gerencias"].filter( Item => Item.Id == $(this).val() );

  if(parseInt(TextoSelectGerencia.length) == 0){

    CargarTodos = true;

  }
  else
  {

    if( TextoSelectGerencia[0].Description == "Gerencia de Operaciones Industriales" ){

      
      /*$('#dat_sede option').forEach((ItemSelect) => {
        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
      });*/
      $('#dat_sede option').each(function(){

        if( $.trim($(this).text()).includes("TASA ") ){

          $(this).remove();

        }
        
      }); 

    }
    else
    {

      CargarTodos = true;

    }

  }

  if( CargarTodos )
  {

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

  }

  $("#dat_sede option[value='']").prop("selected", true);
  $('#dat_sede').change();

}



function Sp5LimpiarCampos(){

  $('.data-filtro-date').val('');
  $('.data-filtro-select').val('').trigger("change");

}



</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>