<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link.active{

  color: #8fbb02 !important;

}

.nav-link.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}





.main-content-ec .card {
  border: none !important;
  box-shadow: none !important;
}

.main-content-ec .card-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px #efefef !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 5px !important;
  padding: 20px !important;
  margin-bottom: 10px !important;

}

.main-content-ec .card-header[aria-expanded="false"] {
  background-color: #fff;
  color: #000;
}

.main-content-ec .card-header[aria-expanded="false"] .card-header-icon {
  fill: #000;
}

.main-content-ec .card-header[aria-expanded="false"] .card-header-icon-down {
  fill: #000;
  transform: rotate(-90deg);
}

.main-content-ec .card-header[aria-expanded="true"] {
  background-color: #4798c7;
  color: #fff;
}

.main-content-ec .card-header[aria-expanded="true"] .card-header-icon,
.main-content-ec .card-header[aria-expanded="true"] .card-header-icon-down {
  fill: #fff;
}

.main-content-ec .card-header[aria-expanded="false"] .badge {
  background-color: #254373;
  color: #fff;
}

.main-content-ec .card-header span {
  font-size: 15px;
  font-weight: 900 !important;
}

.main-content-ec .card-header .card-header-icon {
  height: 28px;
  width: auto;
}

.main-content-ec .card-header .card-header-icon-down {
  width: 12px;
  height: auto;
  transition: all 0.1s linear;
}

.main-content-ec .card-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-content-ec .border-content {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.table-datos tr td {

  font-size: 15px;
  font-weight: 900 !important;
  color: #000000 !important;

  padding: 15px 5px 15px 5px !important;

}

.table-datos tr td span.titulo-span {

  color: #254373 !important;

}

.table-datos tr.border-top-agente{

  border-top: 1px solid #c8c8c8;

}




.div-active img{

   content:url("./images/sho/switch.svg");
   margin-right: 10px !important;

}

.div-inactive img{

   content:url("./images/sho/switchno.svg");
   margin-right: 10px !important;

}



td.td-editar{

  width: 20px !important;
  cursor: pointer;

}


td.td-switch{

  width: 160px !important;
  cursor: pointer;
  text-align: right !important;

}


td.td-switch span{

  font-weight: normal !important;
  margin-right: 10px !important;
  font-size: 15px;
  color: #000000 !important;

}


.swal2-html-container{

  overflow: inherit !important;

}



</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->




    <!-- Busqueda de registro  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-12">
        <div class="p-2 mr-auto">
          <span class="titulo">Gestión de agentes</span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        




<div class="accordion" id="sho_antecedente">
        <!-- Biológicos -->
        <div class="card">
          <div class="card-header" id="agente_biologicos" data-toggle="collapse" data-target="#data_agente_biologicos" aria-expanded="false" aria-controls="data_agente_biologicos">
            <div class="d-flex align-items-center">
              <img class="inject-svg card-header-icon" src="./images/sho/virus.svg" alt="" />
              <span class="ml-4">Biológicos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3 cantidad-agente" id="cant_biologicos_header" data-info="Biológicos">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="data_agente_biologicos" class="collapse" aria-labelledby="agente_biologicos" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_agente_biologicos">

                <div class="row">
                  <div class="col-md-4">
                    <div class="input-box-secondary">
                      <span>Código del agente</span>
                      <input type="text" data-info="Biológicos" class="submit-biologico codigo-agente" disabled>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-box-secondary">
                      <span>Nombre del agente</span>
                      <input type="text" data-info="Biológicos" class="submit-biologico nombre-agente">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button onclick="Sp5ConfirmarCRUDAgente(0,3,'submit-biologico','Biológicos');" data-info="Biológicos" type="button" class="btn btn-block btn-success btn-lg mt-1" id="">   Agregar
                      <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff">
                    </button>
                  </div>
                </div>

                <div class="row div-datos mt-3" data-info="Biológicos">
                  <div class="col-md-12">
                    <table class="table-datos" width="100%">          
                      <tbody id="content_table_biologicos" class="content_table">
                        <tr>
                          <td><span class="titulo-span">Cód:&nbsp;W</span> BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span> VIR</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Virus</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span>BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>                     
                      </tbody>
                    </table>                    
                  </div>                  
                </div>

                <div class="row div-empty-agente d-none" data-info="Biológicos">
                  <div class="col-md-12">

                    <div class="alert alert-danger mt-1" role="alert">
                      No Existen registros
                      <span>
                        <img src="./images/sho/advertencia.svg" alt="" width="18px">
                      </span>
                    </div>

                  </div>             
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- FIN Biológicos -->
        <!-- Ergonómicos -->
        <div class="card">
          <div class="card-header collapsed" id="agente_ergonomicos" data-toggle="collapse" data-target="#data_agente_ergonomicos" aria-expanded="false" aria-controls="data_agente_ergonomicos">
            <div class="d-flex align-items-center">
              <img class="inject-svg card-header-icon" src="./images/sho/human-location.svg" alt="" />
              <span class="ml-4">Ergonómicos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3 cantidad-agente" id="cant_ergonomicos_header" data-info="Ergonómicos">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="data_agente_ergonomicos" class="collapse" aria-labelledby="agente_ergonomicos" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_agente_ergonomicos">



                <div class="row">
                  <div class="col-md-4">
                    <div class="input-box-secondary">
                      <span>Código del agente</span>
                      <input type="text" data-info="Ergonómicos" class="submit-ergonomico codigo-agente" disabled>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-box-secondary">
                      <span>Nombre del agente</span>
                      <input type="text" data-info="Ergonómicos" class="submit-ergonomico nombre-agente">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button onclick="Sp5ConfirmarCRUDAgente(0,4,'submit-ergonomico','Ergonómicos');" data-info="Ergonómicos" type="button" class="btn btn-block btn-success btn-lg mt-1" id="">   Agregar
                      <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff">
                    </button>
                  </div>
                </div>

                <div class="row div-datos mt-3" data-info="Ergonómicos">
                  <div class="col-md-12">
                    <table class="table-datos" width="100%">          
                      <tbody id="content_table_ergonomicos" class="content_table">
                        <tr>
                          <td><span class="titulo-span">Cód:&nbsp;W</span> BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span> VIR</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Virus</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span>BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>                     
                      </tbody>
                    </table>                    
                  </div>                  
                </div>



                <div class="row div-empty-agente d-none" data-info="Ergonómicos">
                  <div class="col-md-12">

                    <div class="alert alert-danger mt-3" role="alert">
                      No Existen registros
                      <span>
                        <img src="./images/sho/advertencia.svg" alt="" width="18px">
                      </span>
                    </div>

                  </div>             
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- FIN Ergonómicos -->
        <!-- Ergonómicos -->
        <div class="card">
          <div class="card-header collapsed" id="agente_fisicos" data-toggle="collapse" data-target="#data_agente_fisicos" aria-expanded="false" aria-controls="data_agente_fisicos">
            <div class="d-flex align-items-center">
              <img class="inject-svg card-header-icon" src="./images/sho/radio-waves.svg" alt="" />
              <span class="ml-4">Físicos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3 cantidad-agente" id="cant_fisicos_header" data-info="Físicos">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="data_agente_fisicos" class="collapse" aria-labelledby="agente_fisicos" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_agente_fisicos">



                <div class="row">
                  <div class="col-md-4">
                    <div class="input-box-secondary">
                      <span>Código del agente</span>
                      <input type="text" data-info="Físicos" class="submit-fisico codigo-agente" disabled>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-box-secondary">
                      <span>Nombre del agente</span>
                      <input type="text" data-info="Físicos" class="submit-fisico nombre-agente">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button onclick="Sp5ConfirmarCRUDAgente(0,1,'submit-fisico','Físicos');" data-info="Físicos" type="button" class="btn btn-block btn-success btn-lg mt-1" id="">   Agregar
                      <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff">
                    </button>
                  </div>
                </div>

                <div class="row div-datos mt-3" data-info="Físicos">
                  <div class="col-md-12">
                    <table class="table-datos" width="100%">          
                      <tbody id="content_table_fisicos" class="content_table">
                        <tr>
                          <td><span class="titulo-span">Cód:&nbsp;W</span> BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span> VIR</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Virus</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span>BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>                     
                      </tbody>
                    </table>                    
                  </div>                  
                </div>





                <div class="row div-empty-agente d-none" data-info="Físicos">
                  <div class="col-md-12">

                    <div class="alert alert-danger mt-3" role="alert">
                      No Existen registros
                      <span>
                        <img src="./images/sho/advertencia.svg" alt="" width="18px">
                      </span>
                    </div>

                  </div>             
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- FIN Ergonómicos -->
        <!-- Ergonómicos -->
        <div class="card">
          <div class="card-header collapsed" id="agente_psicosocial" data-toggle="collapse" data-target="#data_agente_psicosocial" aria-expanded="false" aria-controls="data_agente_psicosocial">
            <div class="d-flex align-items-center">
              <img class="inject-svg card-header-icon" src="./images/sho/heads.svg" alt="" />
              <span class="ml-4">Psicosocial</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3 cantidad-agente" id="cant_psicosocial_header" data-info="Psicosocial">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="data_agente_psicosocial" class="collapse" aria-labelledby="agente_psicosocial" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_agente_psicosocial">





                <div class="row">
                  <div class="col-md-4">
                    <div class="input-box-secondary">
                      <span>Código del agente</span>
                      <input type="text" data-info="Psicosocial" class="submit-psicosocial codigo-agente" disabled>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-box-secondary">
                      <span>Nombre del agente</span>
                      <input type="text" data-info="Psicosocial" class="submit-psicosocial nombre-agente">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button onclick="Sp5ConfirmarCRUDAgente(0,5,'submit-psicosocial','Psicosocial');" data-info="Psicosocial" type="button" class="btn btn-block btn-success btn-lg mt-1" id="">   Agregar
                      <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff">
                    </button>
                  </div>
                </div>

                <div class="row div-datos mt-3" data-info="Psicosocial">
                  <div class="col-md-12">
                    <table class="table-datos" width="100%">          
                      <tbody id="content_table_psicosocial" class="content_table">
                        <tr>
                          <td><span class="titulo-span">Cód:&nbsp;W</span> BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span> VIR</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Virus</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span>BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>                     
                      </tbody>
                    </table>                    
                  </div>                  
                </div>



                <div class="row div-empty-agente d-none" data-info="Psicosocial">
                  <div class="col-md-12">

                    <div class="alert alert-danger mt-3" role="alert">
                      No Existen registros
                      <span>
                        <img src="./images/sho/advertencia.svg" alt="" width="18px">
                      </span>
                    </div>

                  </div>             
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- FIN Ergonómicos -->
        <!-- Ergonómicos -->
        <div class="card">
          <div class="card-header collapsed" id="agente_quimicos" data-toggle="collapse" data-target="#data_agente_quimicos" aria-expanded="false" aria-controls="data_agente_quimicos">
            <div class="d-flex align-items-center">
              <img class="inject-svg card-header-icon" src="./images/sho/experiment.svg" alt="" />
              <span class="ml-4">Químicos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3 cantidad-agente" id="cant_quimicos_header" data-info="Químicos">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="data_agente_quimicos" class="collapse" aria-labelledby="agente_quimicos" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_agente_quimicos">



                <div class="row">
                  <div class="col-md-4">
                    <div class="input-box-secondary">
                      <span>Código del agente</span>
                      <input type="text" data-info="Químicos" class="submit-quimico codigo-agente" disabled>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-box-secondary">
                      <span>Nombre del agente</span>
                      <input type="text" data-info="Químicos" class="submit-quimico nombre-agente">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button onclick="Sp5ConfirmarCRUDAgente(0,2,'submit-quimico','Químicos');" data-info="Químicos" type="button" class="btn btn-block btn-success btn-lg mt-1" id="">   Agregar
                      <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff">
                    </button>
                  </div>
                </div>

                <div class="row div-datos mt-3" data-info="Químicos">
                  <div class="col-md-12">
                    <table class="table-datos" width="100%">          
                      <tbody id="content_table_quimicos" class="content_table">
                        <tr>
                          <td><span class="titulo-span">Cód:&nbsp;W</span> BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span> VIR</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Virus</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="border-top-agente">
                          <td><span class="titulo-span">Cód:&nbsp;</span>BAC</td>
                          <td><span class="titulo-span">Nombre del agente:&nbsp;</span> Bacteria</td>
                          <td><span class="titulo-span">Creación:&nbsp;</span> 21/10/2021</td>
                          <td></td>
                          <td></td>
                        </tr>                     
                      </tbody>
                    </table>                    
                  </div>                  
                </div>



                <div class="row div-empty-agente d-none" data-info="Químicos">
                  <div class="col-md-12">

                    <div class="alert alert-danger mt-3" role="alert">
                      No Existen registros
                      <span>
                        <img src="./images/sho/advertencia.svg" alt="" width="18px">
                      </span>
                    </div>

                  </div>             
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- FIN Ergonómicos -->
      </div>





      </div>
    </div>




    <!-- Table fin -->
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});


function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

function validationForm(class_selector) {
    let error = [];
    let inputs = $('input.' + class_selector);
    let selects = $('select.' + class_selector);

    inputs.each((e) => {
      if (!inputs.eq(e).val()) {
        inputs.eq(e).addClass('is-invalid');
        inputs.eq(e).parent().find('.invalid-feedback').remove();
        inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(inputs.eq(e).val())
      }
      if (inputs.eq(e).val()) {
        inputs.eq(e).removeClass('is-invalid');
      }
    })

    selects.each((e) => {
      if (!selects.eq(e).val()) {
        selects.eq(e).addClass('is-invalid');
        selects.eq(e).parent().find('.invalid-feedback').remove();
        selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
        error.push(selects.eq(e).val())
      }
      if (selects.eq(e).val()) {
        selects.eq(e).removeClass('is-invalid');
      }
    })

    return error;
  }

function Sp5ConfirmarCRUDAgente(CodAccion,IdRiesgo,TypeSubmit,TipoRiesgo) {

    if (validationForm(TypeSubmit).length > 0) {

      return;

    }

    Swal.fire({
      title: "Guardar formulario",
      html: `
    <p>Está por guardar un agente para el factor de riesgo: <strong>${TipoRiesgo}</strong></p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
      icon: "info",
      showCancelButton: true,
      reverseButtons: true,
      cancelButtonColor: "#ff3636",
      confirmButtonColor: "#8fbb02",
      confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
      cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    }).then((result) => {

      if (result.isConfirmed) {

        Sp5CRUDAgente(CodAccion, IdRiesgo, TipoRiesgo);

      }

    });

  }

function Sp5BuscarAgentes() {

  //Se especifican los parametros para la consulta
  var url = apiUrlsho + "/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaAgenteRiesgo"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    paObj_Agente["Agentes"] = response.Agentess;

    console.log("paObj_Agente[Agentes]",paObj_Agente["Agentes"]);

  });

}

function Sp5CargarAgentes(){

  let contenido = '';
  let html_tbody = '';
  let TablaControl = '';
  let CantAgentes = 0;

  $('.nombre-agente').val('');
  $('.codigo-agente').val('');

  contenido = $('.content_table');
  contenido.empty();

  $("div.div-datos").removeClass("d-none");

  if( !$("div.div-empty-agente").hasClass("d-none") ){

    $("div.div-empty-agente").addClass("d-none"); 

  }
  

  paObj_Agente["Agentes"].forEach((ItemAgente) => {

    contenido = $("div.div-datos[data-info='"+ItemAgente.RiesgoName+"']").find("tbody.content_table");

    if( $("div.div-datos[data-info='"+ItemAgente.RiesgoName+"']").find("tbody.content_table tr").length > 0 ){

      html_tbody =  "<tr class='border-top-agente'>";

    }
    else{

      html_tbody =  "<tr>";

    }

    html_tbody += "<td><span class='titulo-span'>Cód:&nbsp;</span>"+ItemAgente.Codigo+"</td>";
    html_tbody += "<td><span class='titulo-span'>Nombre del agente:&nbsp;</span>"+ItemAgente.Agente+"</td>";
    html_tbody += "<td><span class='titulo-span'>Creación:&nbsp;</span>"+new Date(ItemAgente.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";

    if( ItemAgente.Activo == 0 ){

      html_tbody += "<td class='td-switch' data-details='"+ItemAgente.idAgente+"'><div class='div-inactive'><span>Desactivado</span><img alt=''></div></td>";

    }
    else{

      html_tbody += "<td class='td-switch' data-details='"+ItemAgente.idAgente+"'><div class='div-active'><span>Activado</span><img alt=''></div></td>";

    }  

    html_tbody += "<td class='td-editar' onclick='modalEditarAgente("+ItemAgente.idAgente+");'><img src='./images/sho/trazado174.svg' alt=''></td>";
    html_tbody += "</tr>";

    $("div.div-datos[data-info='"+ItemAgente.RiesgoName+"']").find("tbody.content_table").append(html_tbody);

  });

  $("span.cantidad-agente").each(function(){

    $(this).text($("div.div-datos[data-info='"+$(this).attr("data-info")+"']").find("tbody.content_table tr").length);

    if( $("div.div-datos[data-info='"+$(this).attr("data-info")+"']").find("tbody.content_table tr").length == 0){

      $("div.div-datos[data-info='"+$(this).attr("data-info")+"']").addClass("d-none");
      $("div.div-empty-agente[data-info='"+$(this).attr("data-info")+"']").removeClass("d-none");

    }

  });

  CantAgentes = paObj_Agente["Agentes"].length;

  CantAgentes++;

  if( CantAgentes < 10 ){

    $('.codigo-agente').val("AG000" + CantAgentes);

  }

  if( CantAgentes >= 10 && CantAgentes < 100 ){

    $('.codigo-agente').val("AG00" + CantAgentes);

  }

  if( CantAgentes >= 100 && CantAgentes < 1000 ){

    $('.codigo-agente').val("AG0" + CantAgentes);

  }

  if( CantAgentes >= 1000 ){

    $('.codigo-agente').val("AG" + CantAgentes);

  }

}

function modalEditarAgente(IdAgente) {

  paObj_DetalleAgente["DetalleAgente"] = paObj_Agente["Agentes"].find( Item => Item.idAgente == parseInt(IdAgente) );

  Swal.fire({
    title: "EDITAR AGENTE",
    html: `
   
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="input-box-secondary">
            <span>Código del agente</span>
            <input type="text" id="dat_codigo_agente_editar" class="submit-editar" disabled>
          </div>
        </div>
        <div class="col-md-8">
          <div class="input-box-secondary">
            <span>Nombre del agente</span>
            <input type="text" id="dat_nombre_agente_editar" class="submit-editar">
          </div>
        </div>
      </div>  
              
    `,
    icon: "info",
    width: 800,
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
    showLoaderOnConfirm: true,
    preConfirm: function() {
      
      if (validationForm("submit-editar").length > 0) {

        return false;

      }

      return true;

    }
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDAgente(2, 0,'');

    }

  });

  $('#dat_codigo_agente_editar').val(paObj_DetalleAgente["DetalleAgente"].Codigo);
  $('#dat_nombre_agente_editar').val(paObj_DetalleAgente["DetalleAgente"].Agente);

}

function Sp5CRUDAgente(CodAccion, IdRiesgo, TipoRiesgo) {
    
    let data = {};
    let EjecutarModal = false;
    let TituloModal = '';
    let Fecha = '';

    /* 
    Los codigos de accion seran:
      0 Para inicializar
      1 Para confirmar o modificar
      2 Para eliminar
    */

    if(CodAccion == 0){

      data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
      data.CreadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
      data.ModificadoPor = "";
      data.DescripcionAgente = $(".nombre-agente[data-info='"+TipoRiesgo+"']").val();
      data.idRiesgoPuestoTrabajo = IdRiesgo;
      data.Activo = 0;
      data.accion = 0;

    }

    if(CodAccion == 1){

      data.Id1 = paObj_DetalleAgente["DetalleAgente"].idAgente; //si es cero se crea el registro  diferente se modifica el registro
      data.CreadoPor = paObj_DetalleAgente["DetalleAgente"].CreadoPor;
      data.ModificadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
      data.DescripcionAgente = paObj_DetalleAgente["DetalleAgente"].Agente;
      data.idRiesgoPuestoTrabajo = paObj_DetalleAgente["DetalleAgente"].IdRiesgo;
      data.Activo = paObj_DetalleAgente["DetalleAgente"].Activo;
      data.accion = 1;

    }

    if(CodAccion == 2){

      data.Id1 = paObj_DetalleAgente["DetalleAgente"].idAgente; //si es cero se crea el registro  diferente se modifica el registro
      data.CreadoPor = paObj_DetalleAgente["DetalleAgente"].CreadoPor;
      data.ModificadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
      data.DescripcionAgente = $("#dat_nombre_agente_editar").val();
      data.idRiesgoPuestoTrabajo = paObj_DetalleAgente["DetalleAgente"].IdRiesgo;
      data.Activo = paObj_DetalleAgente["DetalleAgente"].Activo;
      data.accion = 1;

    }

    let url = apiUrlsho+`/api/hce_Post_066_agente?code=GG2lhJc/BE8I3LBBwx7YIfivU7Env1FXahBn7gmAetDl3PVyNgBDEw==&httpmethod=post`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "post",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": JSON.stringify(data)
    };

    return $.ajax(settings).done((response) => {

      idTemporalDifusion = response.Id;

      if (CodAccion == 0) {

        EjecutarModal = true;
        TituloModal = 'Se guardó el agente con éxito';

      }

      if (CodAccion == 2) {

        EjecutarModal = true;
        TituloModal = 'Se edito el agente con éxito';

      }

      if (EjecutarModal) {

        Swal.fire({
          title: TituloModal,
          iconColor: "#8fbb02",
          iconHtml: '<img src="./images/sho/check.svg" width="28px">',
          showConfirmButton: false,
          padding: "3em 3em 6em 3em ",
          timer: 1500,
        }).then(() => {

          _init_Sp5Agente();

        });

      }   

    });

  }


async function _init_Sp5Agente() {

  //Se inicia el Cargando
  showLoading();

  await Sp5BuscarAgentes();
  await Sp5CargarAgentes();

  //Se apaga el Cargando
  hideLoading();

}


$(document).ready(function() {

 	_init_Sp5Agente();

  $('.table-datos').on('click',".td-switch",onSwitchClick);

  $('.nav-link-ho').on('click',onClickSeccion);

});

function onSwitchClick(){

  paObj_DetalleAgente["DetalleAgente"] = paObj_Agente["Agentes"].find( Item => Item.idAgente == parseInt($(this).attr("data-details")) );

  if( $(this).find("div").hasClass("div-inactive") ){

    $(this).find("div").removeClass("div-inactive");
    $(this).find("div").addClass("div-active");
    $(this).find("span").text("Activado");

    paObj_DetalleAgente["DetalleAgente"].Activo = 1;

  }
  else{

    $(this).find("div").removeClass("div-active");
    $(this).find("div").addClass("div-inactive");
    $(this).find("span").text("Desactivado");

    paObj_DetalleAgente["DetalleAgente"].Activo = 0;

  }

  Sp5CRUDAgente(1, 0,'');

}

function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}


</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>