<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<link href="css/select2.min.css" rel="stylesheet" />

<style>

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.select2-container{

  height: 42px !important;
  border: 0px !important;

}

.select2-container .select2-selection--single .select2-selection__rendered{

  top: 10px !important;

}

.nav-link-ho{

  font-size: 20px !important;

}

.nav-link.active{

  color: #8fbb02 !important;

}

.nav-link.active:before
{

  background-color: #8fbb02 !important;

}

.dropdown-menu
{

  padding: 0.5rem 0 !important;
  min-width: auto !important;

}


.dropdown-item
{

  padding: 0.25rem 1.5rem !important;

}

.bg-negro{

  color: #000000 !important;
  font-weight: 900 !important;

}

.bg-verde{

  color: #64D122 !important;
  font-weight: 900 !important;

}

.bg-naranja{

  color: #FF9933 !important;
  font-weight: 900 !important;

}

.bg-rojo{

  color: #FF3333 !important;
  font-weight: 900 !important;

}

.bg-magenta{

  color: #EE369A !important;
  font-weight: 900 !important;

}

</style>

<div class="main-content-ec">

<div>




  <!-- Nav-tabs -->
    <div class="row mb-5 mt-1" style="">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active nav-link-ho" data-seccion="Identificar" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Identificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Evaluar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho" data-seccion="Controlar" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Controlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ho disabled" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Indicadores</a>
          </li>
        </ul>           
      </div>
    </div>
    <!-- Nav-tabs -->




    <!-- Busqueda de registro  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <div class="p-2 mr-auto">
          <span class="titulo">Gestión de GES</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" id="dat_gerencia" data-filtro-select='22'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Unidad</span>
          <select class="form-control data-filtro-select" id="dat_sede" data-filtro-select='3'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select" id="dat_area" data-filtro-select='1'>
          </select> 
        </div>
      </div>      
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Puesto</span>
          <select class="form-control data-filtro-select" id="dat_puesto" data-filtro-select='2'>
          </select> 
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    
    <!-- Fila 2 -->
    <div class="row mb-5"> 
      <div class="col-md-3">
        <div class="form-box">
          <span>Código GES</span>
          <select class="form-control data-filtro-select" id="dat_codigo_ges" data-filtro-select='0'>            
          </select> 
        </div>
      </div>         
      <div class="col-md-3">
        <div class="form-box">
          <span>Riesgo</span>
          <select class="form-control data-filtro-select" id="dat_riesgo" data-filtro-select='16'>            
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Agente</span>
          <select class="form-control data-filtro-select" id="dat_agente" data-filtro-select='5'>     
            <option value="" selected>Selecciona un riesgo</option>       
          </select> 
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-box">
          <span>Buscar</span>
          <input class="form-control data-filtro-general" type="" id="sp5ges_busq_reg_general"> 
        </div>
      </div>
    </div>
    <!-- Fila 2 fin -->
    <!-- Busqueda de registro  -->
    
    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-6 p-2 mr-auto mt-4">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_ges-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-6 p-2 mr-auto text-right">
      	<button onclick="Sp5controlNavegacionHigiene(100);Sp5registrarGES();" type="button" class="btn btn-success btn-lg" id=""> Nuevo GES <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
         </button>
      </div>

    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_ges" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>GES ID</th>
              <th>Área</th>
              <th>Puesto</th>
              <th>Unidad</th>
              <th>Tarea</th>
              <th>Agente</th>
              <th>Cantidad</th>
              <th>Actividad M/A</th>
              <th>EPP</th>
              <th>Control ingeniería</th>
              <th>Dosis</th>
              <th>Base EXP</th>
              <th>LMP</th>
              <th>Tiempo de exposición</th>
              <th>Efecto salud</th>
              <th>Base EFE</th>
              <th>Clasificación Riesgo</th>
              <th>Incertidumbre</th>
              <th>Prioridad recopilación de información</th>
              <th>Información necesaria</th>
              <th>Acciones a tomar</th>
              <th></th>
              <th class="d-none"></th>
            </tr>
          </thead>
          <tbody id="content_ges">
               
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->
  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var valor = 0;
var ObjTabla;

function Sp5CargarTablaGES(){

  let contenido = '';
  let html_tbody = '';
  let ContadorFila = 0;

  let ClassClasificacionRiesgo='';

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_ges');
  contenido.empty();
  console.log(paObj_GES["GES"]);
  paObj_GES["GES"].forEach((ItemGes) => {

    paObj_detalle_GES[ItemGes.Id] = ItemGes;


    switch(ItemGes.ClasificacionRiesgo) {
      case "Trivial":
        ClassClasificacionRiesgo='bg-negro';
        break;
      case "Bajo":
        ClassClasificacionRiesgo='bg-verde';
        break;
      case "Medio":
        ClassClasificacionRiesgo='bg-naranja';
        break;
      case "Alto":
        ClassClasificacionRiesgo='bg-rojo';
        break;
      case "Grave":
        ClassClasificacionRiesgo='bg-magenta';
        break;
      default:
        // code block
    }


    html_tbody =  "<tr>";
    html_tbody += "<td class='filter-general'>"+ItemGes.GES_ID+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.AreaDescripcion+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.PuestoCargoDescripcion+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.SedeDescripcion+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.Tarea+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.AgenteDescripcion+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.Cantidad+"</td>";
    html_tbody += "<td class='filter-general'>"+(parseInt(ItemGes.Actividad_MA) == 1 ? 'Mecánico' : 'Automático')+"</td>";
    html_tbody += "<td class='filter-general'>"+(parseInt(ItemGes.EPP) == 0 ? 'Si' : 'No')+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.Control_Ingenieria+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.Dosis+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.BaseEXP+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.LMP+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.TiempoExp+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.EfectoSalud+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.BaseEFE+"</td>";
    html_tbody += "<td class='filter-general "+ClassClasificacionRiesgo+"'>"+ItemGes.ClasificacionRiesgo+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.Incertidumbre+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.PrioridadRecopilaInf+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.InformacionNecesaria+"</td>";
    html_tbody += "<td class='filter-general'>"+ItemGes.AccionesTomar+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(100);Sp5editarGES("+ItemGes.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#5daf57'>";
    html_tbody += "&nbsp;&nbsp; Editar";
    html_tbody += "</a>";
    html_tbody += "<a class='dropdown-item' onclick='Sp5controlNavegacionHigiene(100);Sp5verDetalleGES("+ItemGes.Id+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver historial";
    html_tbody += "</a>";
    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "<td class='d-none'>"+ItemGes.GerenciaDescripcion+"</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);
    ContadorFila++;

  });

  ObjTabla = $('#table_ges').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    "columnDefs": [
      {
          "targets": [ 22 ],
          "visible": false,
          "searchable": true
      }

    ],
    buttons:[
      {extend:"excel", titleAttr: 'Generar Excel',title:'Listado de registros de GES', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"csv", titleAttr: 'Generar CSV', title:'Listado de registros de GES', className:"btn btn-info btn-lg", text:'<i class="fas fa-file-csv"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}/*,
      {extend:"print",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de GES', title:'Listado de registros de GES',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>', orientation: 'landscape',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
      }}*/
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_ges-count-row').text(ObjTabla.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody'); 

  if ( $.fn.DataTable.isDataTable('#table_ges') ) {

    $('#table_ges').find('.nav-link').trigger('click');

  }

  $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {

    if (settings.nTable.id === 'table_ges') {

      var searchTerm = $("#sp5ges_busq_reg_general").val().toLowerCase();

      //search desde la columna 0 a la 20
      if (~data[0].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[1].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[2].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[3].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[4].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[5].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[6].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[7].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[8].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[9].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[10].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[11].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[12].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[13].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[14].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[15].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[16].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[17].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[18].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[19].toLowerCase().indexOf(searchTerm)) return true;
      if (~data[20].toLowerCase().indexOf(searchTerm)) return true;
      
      return false;

    }

  })

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}

function Sp5registrarGES(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/registrarGES.html', 'Crear nuevo GES');

}

function Sp5verDetalleGES(IdGES){

  idDetalleGES = IdGES;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/verGES.html', 'Historial de GES');

}

function Sp5editarGES(IdGES){

  idDetalleGES = IdGES;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/editarGES.html', 'Editar GES');

}

function Sp5controlNavegacionHigiene(CodControl){


  ControlNavHigiene = CodControl;

}

function Sp5BuscarTodosGES() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdGestion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_GES["GES"] = response.lista_GestionData;
    console.log("GES",paObj_GES["GES"]);

    paObj_GES["GES"].forEach((ItemGES) => {
     //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
      pluck_GES["Areas"].forEach((Item) => {

        if (Item.Id == ItemGES.IdArea) {
          ItemGES.AreaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
      pluck_GES["Gerencias"].forEach((Item) => {

        if (Item.Id == ItemGES.IdGerencia) {
          ItemGES.GerenciaDescripcion = Item.Description;
        }

      });

      //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
      pluck_GES["Sedes"].forEach((Item) => {

        if (Item.Id == ItemGES.IdUnidadSede) {
          ItemGES.SedeDescripcion = Item.Description;
        }

      });

    });

  });

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function Sp5CargaSedesAreasGerenciasGES() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_GES["Areas"] = response.Area;
    pluck_GES["Gerencias"] = response.Gerencia;
    pluck_GES["Sedes"] = response.Sedes;

  });

}

function Sp5cargarSelectGES(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });


  //Cargando Select de Sedes
  /*contenido = $('#dat_riesgo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  paObj_GES["GES"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });*/


  //Cargando Select de Sedes
  contenido = $('#dat_codigo_ges');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  paObj_GES["GES"].forEach((Item) => {

    //paObj_detalle_GES[Item.Id] = Item;
    contenido.append(`<option value="${Item.Id}">${Item.GES_ID}</option>`)

  });



  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  /*pluck_GES["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });*/

}

function Sp5CargarPlucksGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
    pluck_GES["Agentes"] = response.lista_Agentes;
    pluck_GES["Riesgos"] = response.lista_Riesgos;
    pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

async function _init_Sp5GES() {

  //Se inicia el Cargando
  showLoading();
  
  await Sp5CargaSedesAreasGerenciasGES();
  await Sp5BuscarTodosGES();
  await Sp5CargarTablaGES();  
  await Sp5CargarPlucksGES();
  await Sp5cargarSelectGES();  

  //Se apaga el Cargando
  hideLoading();

}


$(document).ready(function() {

 	_init_Sp5GES();

  $('#dat_puesto').select2();
  $('#dat_gerencia').select2();
  $('#dat_sede').select2();
  $('#dat_area').select2();
  $('#dat_riesgo').select2();
  $('#dat_agente').select2();
  $('#dat_zona').select2();
  $('#dat_codigo_ges').select2();
  $('.select2-container').css('width', '100%');

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    if( valor == "Selecciona un riesgo" ){

      valor = "";

    }

    ObjTabla.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_ges-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#sp5ges_busq_reg_general').on('keyup', function(){

    //ObjTabla.search($(this).val()).draw();     
    ObjTabla.draw();
    $('#table_ges-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#dat_riesgo').on('change',onCargarAgentesChange);
  $('#dat_gerencia').on('change',onCargarSedeChange);

  $('.nav-link-ho').on('click',onClickSeccion);

});

function onClickSeccion(){

  if( !$(this).hasClass("active") ){

    switch ($(this).attr("data-seccion")) {

      case "Identificar":

        Sp5controlNavegacionHigiene(100);
        handlerUrlhtml('contentGlobal','view/sho-hce/ges/datosGenerales.html','Identificar');
        break;

      case "Evaluar":

        Sp5controlNavegacionHigiene(200);
        handlerUrlhtml('contentGlobal','view/sho-hce/higiene_evaluar/datosGenerales.html','Evaluar');
        break;

      case "Controlar":

        Sp5controlNavegacionHigiene(300);
        handlerUrlhtml('contentGlobal','view/sho-hce/controlar/datosGenerales.html','Controlar');
        break;     

    }

  }

}

function onCargarSedeChange(){

  let TextoSelectGerencia;
  let contenido = '';
  let CargarTodos = false;

  TextoSelectGerencia = pluck_GES["Gerencias"].filter( Item => Item.Id == $(this).val() );

  if(parseInt(TextoSelectGerencia.length) == 0){

    CargarTodos = true;

  }
  else
  {

    if( TextoSelectGerencia[0].Description == "Gerencia de Operaciones Industriales" ){

      
      /*$('#dat_sede option').forEach((ItemSelect) => {
        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
      });*/
      $('#dat_sede option').each(function(){

        if( $.trim($(this).text()).includes("TASA ") ){

          $(this).remove();

        }
        
      }); 

    }
    else
    {

      CargarTodos = true;

    }

  }

  if( CargarTodos )
  {

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_GES["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

  }

  $("#dat_sede option[value='']").prop("selected", true);
  $('#dat_sede').change();

}



/*

function onCargarSedeChange(){

  let TextoSelectGerencia;
  let contenido = '';
  let CargarTodos = false;

  TextoSelectGerencia = pluck_GES["Gerencias"].filter( Item => Item.Id == $(this).val() )[0];

  if(parseInt(ValoresSelectAgentes.length) == 0){

    CargarTodos = true;

  }
  else{

    if( TextoSelectGerencia.Description == "Gerencia de Operaciones Industriales" ){

      $('#dat_sede option').each(function(){

        if( $.trim($(this).text()).includes("TASA ") ){

          $(this).remove();

        }
        
      }); 

    }
    else
    {

      CargarTodos = true;

    }  


  }

  if( CargarTodos )
  {

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_GES["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

  }

  $("#dat_sede option[value='']").prop("selected", true);
  $('#dat_sede').change();

}


*/


function onCargarAgentesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente');
  
  ValoresSelectAgentes = pluck_GES["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  contenido.empty();

  if(parseInt(ValoresSelectAgentes.length) == 0){

    contenido.append(`<option value="" selected>Selecciona un riesgo</option>`);

  }
  else
  {

    contenido.append(`<option value="" selected></option>`);

    ValoresSelectAgentes.forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
    });

  }

  $('#dat_agente').change();

}



function Sp5LimpiarCampos(){

  $('.data-filtro-general').val('');
  $('.data-filtro-select').val('').trigger("change");

}



</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>