
<link rel="stylesheet" href="css/sho.css">


<link href="css/select2.min.css" rel="stylesheet" />

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.select2-container .select2-selection--single .select2-selection__rendered{
  width: inherit !important;
  top: -10px !important;
  left: -15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: -15px !important;
  left: 220px !important;
}*/
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


<div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Gestión de GES</span>
      </div>
      <div class="col-md-2">
        <button type="button" onclick="Sp5LimpiarCampos();" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Limpiar datos</button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button onclick="Sp5volverIndexHigiene();" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="Sp5ConfirmarCRUDGES(1);"> Finalizar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select class="submit submit-limpiar" name="" id="dat_area">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto</span>
          <select class="submit submit-limpiar" name="" id="dat_puesto">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select class="submit submit-limpiar" name="" id="dat_gerencia">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Unidad operativa</span>
          <select class="submit submit-limpiar" name="" id="dat_sede">
          </select>
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Tarea</span>
          <input type="text" id="dat_tarea" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Riesgo</span>
          <select class="submit submit-limpiar" name="" id="dat_riesgo">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Agente</span>
          <select class="submit submit-limpiar" name="" id="dat_agente">
            <option value="" selected>Selecciona un riesgo</option>   
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Cantidad</span>
          <input type="number" id="dat_cantidad" class="submit submit-limpiar change-dosis" min="0">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Frecuencia</span>
          <input type="number" id="dat_frecuencia" class="submit submit-limpiar change-dosis" min="0">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Actividad M/A</span>
          <select class="submit submit-limpiar" name="" id="dat_actividad">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>EPP</span>
          <select class="submit submit-limpiar" name="" id="dat_epp">
            <option value="" selected></option>
            <option value="0">Si</option>
            <option value="1">No</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Control ingeniería</span>
          <input type="text" id="dat_control_ing" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Dosis</span>
          <input type="text" id="dat_dosis" class="submit submit-limpiar" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Valoración dosis</span>
          <input type="text" id="dat_valoracion_dosis" class="submit submit-limpiar change-calculo-riesgo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>GES ID</span>
          <input type="text" id="dat_ges_id" class="submit" disabled>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Base EXP</span>
          <input type="text" id="dat_base_exp" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>LMP</span>
          <input type="text" id="dat_lmp" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tiempo de exposición</span>
          <input type="number" id="dat_tiempo_exp" class="submit submit-limpiar" min="0">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Efecto a la salud</span>
          <input type="number" id="dat_efecto_salud" class="submit submit-limpiar change-calculo-riesgo" min="0">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Base EFE</span>
          <input type="text" id="dat_base_efe" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Calculo de riesgo</span>
          <input type="text" id="dat_calculo_riesgo" class="submit submit-limpiar" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Clasificación riesgo</span>
          <input type="text" id="dat_clasificacion_riesgo" class="submit submit-limpiar" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Incertidumbre</span>
          <input type="text" id="dat_incertidumbre" class="submit submit-limpiar">
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Prioridad recopilación de información</span>
          <input type="text" id="dat_prioridad_recopilacion" class="submit submit-limpiar">
        </div>
      </div>
      <div class="col-md-9 col-sm-6">
        <div class="input-box-secondary">
          <span>Información necesaria</span>
          <input type="text" id="dat_informacion_necesaria" class="submit submit-limpiar">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Acciones a tomar</span>
          <input type="text" id="dat_acciones_tomar" class="submit submit-limpiar">
        </div>
      </div>
    </div>


  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});


var CantGES=0;

function Sp5BuscarTodosGES() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdGestion": 0 }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    paObj_GES["GESTotal"] = response.lista_GestionData;

    CantGES = Object.keys(paObj_GES["GESTotal"]).length;

  });

}






function validationForm(class_selector) {
  let error = [];
  let inputs = $('input.'+class_selector);
  let selects = $('select.'+class_selector);

  inputs.each((e) => {
    if (!inputs.eq(e).val()) {
      inputs.eq(e).addClass('is-invalid');
      inputs.eq(e).parent().find('.invalid-feedback').remove();
      inputs.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(inputs.eq(e).val())
    }
    if (inputs.eq(e).val()) {
      inputs.eq(e).removeClass('is-invalid');
    }
  })

  selects.each((e) => {
    if (!selects.eq(e).val()) {
      selects.eq(e).addClass('is-invalid');
      selects.eq(e).parent().find('.invalid-feedback').remove();
      selects.eq(e).parent().append(`<div class="invalid-feedback">Requerido!</div>`)
      error.push(selects.eq(e).val())
  }
    if (selects.eq(e).val()) {
      selects.eq(e).removeClass('is-invalid');
    }
  })

  return error;
}

function Sp5ConfirmarCRUDGES(CodAccion) {

  if (validationForm('submit').length > 0) {
      
    return;

  }

  Swal.fire({
    title: "Finalizar creación de GES",
    html: `
    <p>Está por finalizar la creación del GES</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {

      Sp5CRUDGES(CodAccion,1);      

    }

  });

}

function Sp5CRUDGES(CodAccion, IdEstado) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  /* 
  Los codigos de accion seran:
    0 Para inicializar
    1 Para confirmar o modificar
    2 Para eliminar
  */

  if(CodAccion == 0){

    data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
    data.Estado = IdEstado;
    data.CreadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.ModificadoPor = "";
    data.IdArea = 0;
    data.IdPuestoCargo = 0;
    data.IdUnidadSede = 0;
    data.IdGerencia = 0;
    data.Tarea = "";
    data.idRiesgo = 0;
    data.idAgente = 0;
    data.Cantidad = 0;
    data.Frecuencia = 0;
    data.Actividad_MA = 0;
    data.EPP = 0;
    data.Control_Ingenieria = "";
    data.Dosis = 0;
    data.ValoracionDosis = 0;
    data.GES_ID = "";
    data.BaseEXP = "";
    data.LMP = "";
    data.TiempoExp = 0;
    data.EfectoSalud = 0;
    data.BaseEFE = "";
    data.CalculoRiesgo = 0;
    data.Incertidumbre = "";
    data.ValoracionDosis_2 = 0;
    data.PrioridadRecopilaInf = "";
    data.InformacionNecesaria = "";
    data.AccionesTomar = "";
    data.ClasificacionRiesgo = "";
    data.EstadoLogicoGestion = 1;
    data.accion = 0;
    data.FechaModificacion = new Date();

  }

  if(CodAccion == 1){

    data.Id1 = idTemporalGES; //si es cero se crea el registro  diferente se modifica el registro
    data.Estado = IdEstado;
    data.CreadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.ModificadoPor = toCapitalize(getCookie("vtas_fullname" + sessionStorage.tabVisitasa));
    data.IdArea = $("#dat_area option:selected").val();
    data.IdPuestoCargo = $("#dat_puesto option:selected").val();
    data.IdUnidadSede = $("#dat_sede option:selected").val();
    data.IdGerencia = $("#dat_gerencia option:selected").val();
    data.Tarea = $("#dat_tarea").val();
    data.idRiesgo = $("#dat_riesgo option:selected").val();
    data.idAgente = $("#dat_agente option:selected").val();
    data.Cantidad = $("#dat_cantidad").val();
    data.Frecuencia = $("#dat_frecuencia").val();
    data.Actividad_MA = $("#dat_actividad option:selected").val();
    data.EPP = $("#dat_epp option:selected").val();
    data.Control_Ingenieria = $("#dat_control_ing").val();
    data.Dosis = $("#dat_dosis").val();
    data.ValoracionDosis = $("#dat_valoracion_dosis").val();
    data.GES_ID = $("#dat_ges_id").val();
    data.BaseEXP = $("#dat_base_exp").val();
    data.LMP = $("#dat_lmp").val();
    data.TiempoExp = $("#dat_tiempo_exp").val();
    data.EfectoSalud = $("#dat_efecto_salud").val();
    data.BaseEFE = $("#dat_base_efe").val();
    data.CalculoRiesgo = $("#dat_calculo_riesgo").val();
    data.Incertidumbre = $("#dat_incertidumbre").val();
    data.ValoracionDosis_2 = 0;
      data.PrioridadRecopilaInf = $("#dat_prioridad_recopilacion").val();
    data.InformacionNecesaria = $("#dat_informacion_necesaria").val();
    data.AccionesTomar = $("#dat_acciones_tomar").val();
    data.ClasificacionRiesgo = $("#dat_clasificacion_riesgo").val();
    data.EstadoLogicoGestion = 1;
    data.accion = 1;
    data.FechaModificacion = new Date();

  }

  let url = apiUrlsho+`/api/hce_Post_051_gestion?code=FHYiaCYmTMeiKnBoEun8w4aCF7jHQCKOGYsv6bnE/iqc2y3sA8mNcg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    idTemporalGES = response.Id;

    if (CodAccion == 1) {

      EjecutarModal = true;
      TituloModal = 'GES creado con éxito';

    }

    if (EjecutarModal) {

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        Sp5volverIndexHigiene();

      });

    }   

  });

}

function Sp5volverIndexHigiene(){


  handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/datosGenerales.html', 'Identificar');

}

function Sp5CargarPlucksGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
    pluck_GES["Agentes"] = response.lista_Agentes;
    pluck_GES["Riesgos"] = response.lista_Riesgos;
    pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function Sp5CargaSedesAreasGerenciasGES() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_GES["Areas"] = response.Area;
    pluck_GES["Gerencias"] = response.Gerencia;
    pluck_GES["Sedes"] = response.Sedes;

  });

}

function Sp5cargarSelectGES(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Puestos"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_puesto option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.PuestoTrabajo) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`);

    } 

  });

  /*pluck_GES["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });*/

  //Cargando Select de Sedes
  contenido = $('#dat_actividad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["ActividadMA"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.ActividadMA}</option>`)
  });

}

async function _init_Sp5GES() {

  //Se inicia el Cargando
  showLoading();

  await Sp5CRUDGES(0,0); 
  await Sp5CargaSedesAreasGerenciasGES();
  await Sp5CargarPlucksGES();
  await Sp5cargarSelectGES();
  await Sp5BuscarTodosGES();
  await Sp5CargarDatosGES();

  //Se apaga el Cargando
  hideLoading();

}

function Sp5CargarDatosGES() {

  CantGES++;
  
  if( CantGES < 10 ){

    $('#dat_ges_id').val("GESID000" + CantGES);

  }

  if( CantGES >= 10 && CantGES < 100 ){

    $('#dat_ges_id').val("GESID00" + CantGES);

  }

  if( CantGES >= 100 && CantGES < 1000 ){

    $('#dat_ges_id').val("GESID0" + CantGES);

  }

  if( CantGES >= 1000 ){

    $('#dat_ges_id').val("GESID" + CantGES);

  }
  
}


$(document).ready(function() {

  _init_Sp5GES();

  $('#dat_puesto').select2();
  $('#dat_area').select2();
  $('#dat_sede').select2();
  $('#dat_gerencia').select2();
  $('#dat_riesgo').select2();
  $('#dat_agente').select2();
  $('#dat_actividad').select2();
  $('#dat_epp').select2();
  $('.select2-container').css('width', '100%');

  $('.change-dosis').on('change',onCalcularDosisChange);
  $('.change-calculo-riesgo').on('change',onCalcularCalculoRiesgoChange);

  $('#dat_riesgo').on('change',onCargarAgentesChange);
  $('#dat_gerencia').on('change',onCargarSedeChange);

});

function onCargarSedeChange(){

  let TextoSelectGerencia;
  let contenido = '';
  let CargarTodos = false;

  TextoSelectGerencia = pluck_GES["Gerencias"].filter( Item => Item.Id == $(this).val() );

  if(parseInt(TextoSelectGerencia.length) == 0){

    CargarTodos = true;

  }
  else
  {

    if( TextoSelectGerencia[0].Description == "Gerencia de Operaciones Industriales" ){

      
      /*$('#dat_sede option').forEach((ItemSelect) => {
        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
      });*/
      $('#dat_sede option').each(function(){

        if( $.trim($(this).text()).includes("TASA ") ){

          $(this).remove();

        }
        
      }); 

    }
    else
    {

      CargarTodos = true;

    }

  }

  if( CargarTodos )
  {

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_GES["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

  }

  $("#dat_sede option[value='']").prop("selected", true);
  $('#dat_sede').change();

}

function onCargarAgentesChange(){

  let ValoresSelectAgentes;
  let contenido = '';

  contenido = $('#dat_agente');
  
  ValoresSelectAgentes = pluck_GES["Agentes"].filter( Item => Item.idRiesgoPuestoTrabajo == $(this).val() );

  contenido.empty();

  if(parseInt(ValoresSelectAgentes.length) == 0){

    contenido.append(`<option value="" selected>Selecciona un riesgo</option>`);

  }
  else
  {

    contenido.append(`<option value="" selected></option>`);

    ValoresSelectAgentes.forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
    });

  }

  $('#dat_agente').change();

}

function onCalcularCalculoRiesgoChange(){

  let valorCalculoRiesgo = parseInt($('#dat_valoracion_dosis').val()) * parseInt($('#dat_efecto_salud').val());

  if( !isNaN(valorCalculoRiesgo) && valorCalculoRiesgo != 0 ){

    $('#dat_calculo_riesgo').val(valorCalculoRiesgo);

  }
  else
  {
    
    $('#dat_calculo_riesgo').val('');

  }
  
}

function onCalcularDosisChange(){

  let valorDosis = parseInt($('#dat_cantidad').val()) * parseInt($('#dat_frecuencia').val());

  if( !isNaN(valorDosis) && valorDosis != 0 ){

    $('#dat_dosis').val(valorDosis);

    if( valorDosis > 0 && valorDosis <= 3 ){

      $('#dat_valoracion_dosis').val(1);
      $('#dat_clasificacion_riesgo').val("Trivial");

    }

    if( valorDosis >= 4 && valorDosis <= 7 ){

      $('#dat_valoracion_dosis').val(2);
      $('#dat_clasificacion_riesgo').val("Bajo");

    }

    if( valorDosis >= 8 && valorDosis <= 11 ){

      $('#dat_valoracion_dosis').val(3);
      $('#dat_clasificacion_riesgo').val("Medio");

    }

    if( valorDosis >= 12 && valorDosis <= 16 ){

      $('#dat_valoracion_dosis').val(4);
      $('#dat_clasificacion_riesgo').val("Alto");

    }

    if( valorDosis >= 17 ){

      $('#dat_valoracion_dosis').val(5);
      $('#dat_clasificacion_riesgo').val("Grave");

    }

    $('#dat_valoracion_dosis').change();

  }
  else
  {
    
    $('#dat_dosis').val('');
    $('#dat_valoracion_dosis').val('');
    $('#dat_clasificacion_riesgo').val('');
    $('#dat_calculo_riesgo').val('');

  }

}

function Sp5LimpiarCampos(){

  $('.submit-limpiar').val('');
  $("select.submit option[value='']").prop("selected",true);
  //$('#dat_puesto').val('').trigger("change");
  $('select.submit-limpiar').val('').trigger("change");
  $('#dat_riesgo').change();
  $('#dat_gerencia').change();

}

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>