<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">



<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*ESTILOS DE TABLAS*/

#table-datos thead{

  background-color: #ffffff !important;
  color: #254373 !important;
  border-bottom: 2px solid #d6d6d6 !important;
  font-size: 15px !important;
  line-height: 25px !important;
  font-weight: 900 !important;

}

#table-datos thead th{

  padding-bottom: 15px !important;

}

#table-datos tbody tr{

  font-size: 15px !important;
  color: #000000 !important;
  line-height: 20px !important;
  font-weight: 900 !important;

}

#table-datos tbody tr.tr-titulo, #table-datos tbody tr.tr-titulo-general{

  font-size: 20px !important;
  color: #254373 !important;
  line-height: 25px !important;
  font-weight: 900 !important;

}

#table-datos tbody tr.tr-titulo td, #table-datos tbody tr.tr-titulo-general td{

  padding-top: 25px !important;

}

#table-datos tbody tr td{

  padding: 15px 0px 30px 0px !important;

}

#table-datos tbody tr.tr-titulo-general, #table-datos tbody tr.tr-titulo-general td{

  border-top: 1px solid #d6d6d6 !important;

}

#table-datos tbody tr.tr-titulo td{

  border-top: 1px solid #d6d6d6 !important;
  padding: 30px 0px 15px 0px !important;

}

#table-datos td.primer-registro{

  padding: 30px 0px 30px 0px !important;

}



.circle-in {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 10px;
  background: #8fbb02;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  text-align: center;
  font-size: 32px !important;
  margin: auto !important;
}

.circle-out {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 10px;
  background: #01719d;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  text-align: center;
  font-size: 32px !important;
  margin: auto !important;
}

.circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  text-align: center;
  font-size: 32px !important;
  margin: auto !important;
}



.circle img, .circle-in img, .circle-out img{

  margin-top: 4px !important;

}



.span-detalle-evaluacion{

  font-size: 18px !important;
  color: #254373 !important;
  line-height: 25px !important;
  font-weight: 900 !important;

}

.span-valor-evaluacion{

  font-size: 51px !important;
  color: #8fbb02 !important;
  line-height: 64px !important;
  font-weight: 900 !important;

}


</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>



    <!-- Titulos  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Datos del trabajador</span>
      </div>
    </div>
    <!-- Titulos  -->



    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_dni" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" id="dat_nombres" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="input-box-secondary">
          <span>Apellido</span>
          <input type="text" id="dat_apellidos" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Estado</span>
          <select name="" id="dat_estado" disabled>
            <option value="" selected></option> 
            <option value="1">En Proceso</option> 
            <option value="2">Finalizada</option> 
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_gerencia" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Unidad</span>
          <select name="" id="dat_unidad" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_area" disabled>
          </select>
        </div>
      </div>

      <!-- Puesto de trabajo para cuando venga el ID del puesto 
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <select name="" id="dat_puesto" disabled>
          </select>
        </div>
      </div> 
      -->

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="text" id="dat_puesto" disabled>
        </div>
      </div> 

    </div>

    <hr class="mb-5 mt-4" />




     <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        
        <div class="row mb-5"> 
          <div class="col-md-12">           
            <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link" data="datos" id="datos-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="datos" aria-selected="true">Datos de la evaluación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data="indicadores" id="indicadores-tab" data-toggle="tab" href="#indicadores" role="tab" aria-controls="indicadores" aria-selected="false">Indicadores</a>
              </li>
            </ul>
          </div>      
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade" id="datos" role="tabpanel" aria-labelledby="datos-tab">

            <table id="table-datos">
              <thead>
                <tr>
                  <th>Factor de riesgo</th>
                  <th>Cantidad de factores</th>
                  <th style="width: 100px !important; text-align: center !important;">Cumple</th>
                  <th style="width: 100px !important; text-align: center !important;">No cumple</th>
                </tr>
              </thead>
              <tbody id="content_table_datos">
              </tbody>
            </table>

                
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade show active" id="indicadores" role="tabpanel" aria-labelledby="indicadores-tab">


            <div class="row" id="div-detalle">
              <div class="col-sm-3" style="text-align: left !important;">
                <span class="span-detalle-evaluacion">Cumplimiento de factores al <span id="dia-cumplimiento"></span> de <span id="mes-cumplimiento"></span></span>
              </div>
              <div class="col-sm-3" style="text-align: right !important; padding-right: 40px !important;">
                <span class="span-valor-evaluacion" id="valor-evaluacion-cumplimiento"></span>
              </div>
              <div class="col-sm-3" style="text-align: left !important; padding-left: 40px !important;">
                <span class="span-detalle-evaluacion">Nivel de riesgo al <span id="dia-riesgo"></span> de <span id="mes-riesgo"></span>
              </div>
              <div class="col-sm-3" style="text-align: right !important;">
                <span class="span-valor-evaluacion" id="valor-evaluacion-nivel"></span>
              </div>
            </div>

            <div class="row" id="div-graficas">
              <div class="col-sm-6">
                

                <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>



              </div>
              <div class="col-sm-6">
                
                
                <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>



              </div>
            </div>

          
          </div>
          <!-- Transferencias fin -->

        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->



  </div>
  
</div>


<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script type="text/javascript">

var LabelBars = [];
var DataBars = [];

var LabelLines = [];
var DataLines = [];
var IndexDataLines = 0;

DataLines = [10,50,80];

// 1.- Bajo
// 2.- Medio
// 3.- Alto

function Sp5GenerarGrafica() {

  var chartData2 = {
    labels: ["Enero", "Febrero", "Marzo"],
    datasets: [
        {
            fillColor: "rgba(0, 0, 0, 0.1)",
            strokeColor: "#3e95cd",
            data: [3, 2, 1],

        }
    ]
  };

  var chartData1 = {
      labels: LabelBars,
      datasets: [
          {
              //fillColor: "rgba(0, 0, 0, 0.1)",
              fillColor: "#3e95cd",
              strokeColor: "#3e95cd",
              data: DataBars,
          }
      ]
  };

  var ctx = document.getElementById("myChart2").getContext("2d");
  var myLine = new Chart(ctx).Line(chartData2, {
      showTooltips: false,
      scaleShowLabels: false,
      pointDotRadius: 10,
      bezierCurveTension: 0,
      onAnimationComplete: function () {

          var ctx = this.chart.ctx;
          //ctx.font = this.scale.font;
          ctx.font = "bold 13px 'Helvetica Neue', Helvetica, Arial, sans-serif";
          ctx.fillStyle = this.scale.textColor
          ctx.textAlign = "center";
          ctx.textBaseline = "bottom";

          this.datasets.forEach(function (dataset) {
              dataset.points.forEach(function (points) {

                if( DataLines[IndexDataLines] > 70){

                  ctx.fillText(/*points.value*/"Bajo", points.x, points.y - 10);

                }

                if( DataLines[IndexDataLines] >= 40 && DataLines[IndexDataLines] <= 70 ){

                  ctx.fillText(/*points.value*/"Medio", points.x, points.y - 10);

                }

                if( DataLines[IndexDataLines] < 40){

                  ctx.fillText(/*points.value*/"Alto", points.x, points.y - 10);

                }

                IndexDataLines++;

              });
          })
      }
  });

  console.log("myLine",myLine);

  var ctx = document.getElementById("myChart1").getContext("2d");
  var myBar = new Chart(ctx).Bar(chartData1, {
      showTooltips: false,
      scaleFontSize:10,
      onAnimationComplete: function () {

          var ctx = this.chart.ctx;
          ctx.font = "bold 13px 'Helvetica Neue', Helvetica, Arial, sans-serif";
          ctx.fillStyle = "#000000";
          ctx.textAlign = "center";
          ctx.textBaseline = "bottom";

          this.datasets.forEach(function (dataset) {
              dataset.bars.forEach(function (bar) {

                if( parseInt(bar.value) == 0){

                  ctx.fillStyle = "#000000";
                  ctx.fillText(bar.value+"%", bar.x, bar.y - 5);

                }
                else{

                  ctx.fillStyle = "#ffffff";
                  ctx.fillText(bar.value+"%", bar.x, bar.y + 25);

                }

              });
          })
      }
  });

  console.log("myBar",myBar);
  console.log("myBar.scale",myBar.scale);

}








$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function Sp5CargaSedesAreasGerenciasErgoviorEvaluacion() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_Ergovisor["Areas"] = response.Area;
    pluck_Ergovisor["Gerencias"] = response.Gerencia;
    pluck_Ergovisor["Sedes"] = response.Sedes;

  });

}

function Sp5cargarSelectErgoviorEvaluacion(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Areas"].forEach((Item) => {

    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_unidad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_Ergovisor["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });

}

function Sp5CargarPlucksErgoviorEvaluacion() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_Ergovisor["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}

function ecSp4BuscarHistoria(Id_HC) {
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": Id_HC }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    pluck_Ergovisor["Historia"] = response.HistoriaClin[0];


  });

}

function ecSp4BuscarErgoviorEvaluacion(IdErgovisorEvaluacion) {


  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Detalle_investigacion_WEB`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EvaluacionId": IdErgovisorEvaluacion }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {
    console.log("evaluacion",response);
    //Se asiga la respuesta de la Historia al Obj paObj_ec
    pluck_Ergovisor["ErgoviorEvaluacion"] = response.lista_preguntasEvaluacion;


  });


}


async function _init_Sp5VerErgoviorEvaluacion(IdErgovisorEvaluacion) {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasErgoviorEvaluacion();
  await Sp5CargarPlucksErgoviorEvaluacion();
  await Sp5cargarSelectErgoviorEvaluacion();
  await ecSp4BuscarHistoria(IdHCErgo);
  await ecSp4BuscarErgoviorEvaluacion(IdErgovisorEvaluacion);
  await Sp5CargarDatosErgoviorEvaluacion();
  await Sp5GenerarGrafica();
  await Sp5MostrarTabsInicial();
  //await Sp5CargarGES(IdGES);

  //Se apaga el Cargando
  hideLoading();

}

function Sp5MostrarTabsInicial(){

  $( "a.nav-link:first" ).trigger('click');

}

function Sp5CargarDatosErgoviorEvaluacion(){

  $('#dat_dni').val(pluck_Ergovisor["Historia"].NroDocumento_Trabajador_H);
  $('#dat_nombres').val(pluck_Ergovisor["Historia"].Nombres_Trabajador_H);
  $('#dat_apellidos').val(pluck_Ergovisor["Historia"].Apellidos_Trabajador_H);
  $("#dat_gerencia option[value='"+pluck_Ergovisor["Historia"].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#dat_unidad option[value='"+pluck_Ergovisor["Historia"].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#dat_area option[value='"+pluck_Ergovisor["Historia"].AreaId_Empresa_H+"']").prop("selected",true);
  $("#dat_estado option[value='"+EstadoDetalleErgovisor+"']").prop("selected",true);
  $('#dat_puesto').val(pluck_Ergovisor["Historia"].PuestoTrabajo_Empresa_H);

  let html_tbody = '';
  let FactorControl= '';
  let CantidadFilasFactor = 0;
  let CumpleControl = '';
  let NoCumpleControl = '';
  let LabelControl = '';
  let CantidadFilasLabel = 0;
  let ControlFilasFactor = '';
  let ControlFilasLabel = '';
  let CuentaControl = 0;
  let IndexControl = 0;
  let ArregloControl = [];

  let ObjPreguntasFactor = 0;
  let ObjCumplePreguntasFactor = 0;
  let PorcentajeCumplePreguntasFactor = 0;

  $("#table-datos tbody").empty();

  LabelBars = [];
  DataBars = [];

  if(Object.keys(pluck_Ergovisor["ErgoviorEvaluacion"]).length > 0){

    $.each(pluck_Ergovisor["ErgoviorEvaluacion"], function(index,ErgoviorEvaluacionObj){

      html_tbody = '';
      ArregloControl = [];

      if ( index == 0 || FactorControl != ErgoviorEvaluacionObj.Descripcion){

        ControlFilasFactor = pluck_Ergovisor["ErgoviorEvaluacion"].filter( Item => Item.IdFactorRiesgo == ErgoviorEvaluacionObj.IdFactorRiesgo );

        ControlFilasLabel = ControlFilasFactor.filter( Item => Item.Label != "" );

        //ControlFilasLabel = ControlFilasFactor.filter( Item => Item.Label != null );
        //console.log("ControlFilasLabel item: "+index,ControlFilasLabel);
        $.each(ControlFilasLabel, function(indexControlFilasLabel,ControlFilasLabelObj){

          if( !ArregloControl.includes(ControlFilasLabelObj.Label) ){

            ArregloControl.push(ControlFilasLabelObj.Label);

          }

        });

        CantidadFilasLabel = ArregloControl.length;

        CantidadFilasFactor = CantidadFilasLabel + ControlFilasFactor.length + 1;

        FactorControl = ErgoviorEvaluacionObj.Descripcion;

        html_tbody +="<tr class='tr-titulo-general'>";
        html_tbody += "<td rowspan='"+CantidadFilasFactor+"'>";
        html_tbody += ErgoviorEvaluacionObj.Descripcion;
        html_tbody += "</td>";
        html_tbody += "</tr>";

        ObjPreguntasFactor = pluck_Ergovisor["ErgoviorEvaluacion"].filter( Item => Item.IdFactorRiesgo == ErgoviorEvaluacionObj.IdFactorRiesgo );
        ObjCumplePreguntasFactor = ObjPreguntasFactor.filter( Item => Item.Cumple == 1 );

        PorcentajeCumplePreguntasFactor = ((ObjCumplePreguntasFactor.length/ObjPreguntasFactor.length)*100).toFixed(0);

        LabelBars.push(ErgoviorEvaluacionObj.Descripcion);
        DataBars.push(PorcentajeCumplePreguntasFactor);

      }

      if( CantidadFilasLabel != 0 && LabelControl != ErgoviorEvaluacionObj.Label){

        LabelControl = ErgoviorEvaluacionObj.Label;

        html_tbody +="<tr class='tr-titulo'>";
        html_tbody += "<td>";
        html_tbody += ErgoviorEvaluacionObj.Label;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "</td>";
        html_tbody += "</tr>";  

      }

      if( parseInt(ErgoviorEvaluacionObj.Cumple) == 1 ){

        CumpleControl = "circle-in";
        NoCumpleControl = "circle";

      }
      else
      {

        CumpleControl = "circle";
        NoCumpleControl = "circle-out";

      }

        html_tbody += "<tr class='tr-pregunta'>";        
        html_tbody += "<td>";
        html_tbody += ErgoviorEvaluacionObj.Pregunta;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<div class='"+CumpleControl+"'><img src='./images/sho/trazado195.svg' alt=''></div>";
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<div class='"+NoCumpleControl+"'><img src='./images/sho/trazado195.svg' alt=''></div>";
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table-datos tbody").append(html_tbody);

    });         

  }

  let ValorCumplimiento = 0;
  let CantidadPreguntas = 0;
  let CantidadCumple = 0;

  CantidadPreguntas = $("#table-datos").find("tr.tr-pregunta").length;
  CantidadCumple = $("#table-datos").find("div.circle-in").length;
  ValorCumplimiento = (CantidadCumple/CantidadPreguntas)*100;

  $('#valor-evaluacion-cumplimiento').text(ValorCumplimiento.toFixed(0)+"%");

  if( ValorCumplimiento > 70 )
  {

    $('#valor-evaluacion-nivel').text("Bajo");

  }

  if( ValorCumplimiento >= 40 && ValorCumplimiento <= 70 )
  {

    $('#valor-evaluacion-nivel').text("Medio");

  }

  if( ValorCumplimiento < 40 )
  {

    $('#valor-evaluacion-nivel').text("Alto");

  }

  moment.locale('es');
  let fecha_actual = moment(new Date(paObj_DetalleEvaluacionErgovisorTemporal[idDetalleEvaluacionErgovisor].CreadoFecha));
  let dia_c = moment(fecha_actual).format('DD');
  let mes_c_text = moment(fecha_actual).format('MMMM');
  let ano_c = moment(fecha_actual).format('YYYY');

  $('#dia-cumplimiento').text(dia_c);
  $('#dia-riesgo').text(dia_c);
  $('#mes-cumplimiento').text(mes_c_text);
  $('#mes-riesgo').text(mes_c_text);

}

function Sp5CargarGES(IdGES){

  $('#dat_tarea').val(paObj_detalle_GES[IdGES].Tarea);
  $('#dat_cantidad').val(paObj_detalle_GES[IdGES].Cantidad);
  $('#dat_frecuencia').val(paObj_detalle_GES[IdGES].Frecuencia);
  $("#dat_actividad option[value='"+paObj_detalle_GES[IdGES].Actividad_MA+"']").prop("selected",true);
  $("#dat_epp option[value='"+paObj_detalle_GES[IdGES].EPP+"']").prop("selected",true);
  $('#dat_control_ing').val(paObj_detalle_GES[IdGES].Control_Ingenieria);
  $('#dat_dosis').val(paObj_detalle_GES[IdGES].Dosis);
  $('#dat_valoracion_dosis').val(paObj_detalle_GES[IdGES].ValoracionDosis);
  $('#dat_ges_id').val(paObj_detalle_GES[IdGES].GES_ID);
  $('#dat_base_exp').val(paObj_detalle_GES[IdGES].BaseEXP);
  $('#dat_lmp').val(paObj_detalle_GES[IdGES].LMP);
  $('#dat_tiempo_exp').val(paObj_detalle_GES[IdGES].TiempoExp);
  $('#dat_efecto_salud').val(paObj_detalle_GES[IdGES].EfectoSalud);
  $('#dat_base_efe').val(paObj_detalle_GES[IdGES].BaseEFE);
  $('#dat_calculo_riesgo').val(paObj_detalle_GES[IdGES].CalculoRiesgo);
  $('#dat_clasificacion_riesgo').val(paObj_detalle_GES[IdGES].ClasificacionRiesgo);
  $('#dat_incertidumbre').val(paObj_detalle_GES[IdGES].Incertidumbre);
  $('#dat_prioridad_recopilacion').val(paObj_detalle_GES[IdGES].PrioridadRecopilaInf);
  $('#dat_informacion_necesaria').val(paObj_detalle_GES[IdGES].InformacionNecesaria);
  $('#dat_acciones_tomar').val(paObj_detalle_GES[IdGES].AccionesTomar);
  $("#dat_area option[value='"+paObj_detalle_GES[IdGES].IdArea+"']").prop("selected",true);
  $("#dat_sede option[value='"+paObj_detalle_GES[IdGES].IdUnidadSede+"']").prop("selected",true);
  $("#dat_gerencia option[value='"+paObj_detalle_GES[IdGES].IdGerencia+"']").prop("selected",true);
  $("#dat_riesgo option[value='"+paObj_detalle_GES[IdGES].idRiesgo+"']").prop("selected",true);
  $("#dat_agente option[value='"+paObj_detalle_GES[IdGES].idAgente+"']").prop("selected",true);
  $("#dat_puesto option[value='"+paObj_detalle_GES[IdGES].IdPuestoCargo+"']").prop("selected",true);

}

$(document).ready(function() {

  _init_Sp5VerErgoviorEvaluacion(idDetalleEvaluacionErgovisor);

  $('#table-datos .tr-titulo-general').each(function(i){

    if( !$(this).next("tr").hasClass("tr-titulo") ){

      $(this).next("tr").find("td:first").addClass("primer-registro");

    }

  });

  //$('.nav-link').on('click',Sp5GenerarGrafica);

});

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>

