<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}








</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


<div>



  <div class="row mb-5 align-items-center">
      <div class="col-md-9">
        <span class="titulo">Datos del GES</span>
      </div>
      <div class="col-md-3 text-right">
        <button id="btn-datos" type="button" onclick="Sp5OcultarDatos();" class="btn btn-link shadow-none" style="font-weight: bold; color: #01719d;" onclick="">Ocultar datos</button>
      </div>
    </div>




    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_area" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto</span>
          <select name="" id="dat_puesto" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_gerencia" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Unidad operativa</span>
          <select name="" id="dat_sede" disabled>
          </select>
        </div>
      </div>      
    </div>

    <div class="row div-datos">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Tarea</span>
          <input type="text" id="dat_tarea" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Riesgo</span>
          <select name="" id="dat_riesgo" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Agente</span>
          <select name="" id="dat_agente" disabled>
          </select>
        </div>
      </div>
    </div>


    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Cantidad</span>
          <input type="text" id="dat_cantidad" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Frecuencia</span>
          <input type="text" id="dat_frecuencia" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Actividad M/A</span>
          <select name="" id="dat_actividad" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>EPP</span>
          <select name="" id="dat_epp" disabled>
            <option value="" selected></option>
            <option value="0">Si</option>
            <option value="1">No</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Control ingeniería</span>
          <input type="text" id="dat_control_ing" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Dosis</span>
          <input type="text" id="dat_dosis" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Valoración dosis</span>
          <input type="text" id="dat_valoracion_dosis" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>GES ID</span>
          <input type="text" id="dat_ges_id" disabled>
        </div>
      </div>
    </div>



    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Base EXP</span>
          <input type="text" id="dat_base_exp" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>LMP</span>
          <input type="text" id="dat_lmp" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tiempo de exposición</span>
          <input type="text" id="dat_tiempo_exp" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Efecto a la salud</span>
          <input type="text" id="dat_efecto_salud" disabled>
        </div>
      </div>
    </div>


    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Base EFE</span>
          <input type="text" id="dat_base_efe" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Calculo de riesgo</span>
          <input type="text" id="dat_calculo_riesgo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Clasificación riesgo</span>
          <input type="text" id="dat_clasificacion_riesgo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Incertidumbre</span>
          <input type="text" id="dat_incertidumbre" disabled>
        </div>
      </div>
    </div>



    <div class="row div-datos">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Prioridad recopilación de información</span>
          <input type="text" id="dat_prioridad_recopilacion" disabled>
        </div>
      </div>
      <div class="col-md-9 col-sm-6">
        <div class="input-box-secondary">
          <span>Información necesaria</span>
          <input type="text" id="dat_informacion_necesaria" disabled>
        </div>
      </div>
    </div>

    <div class="row div-datos">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Acciones a tomar</span>
          <input type="text" id="dat_acciones_tomar" disabled>
        </div>
      </div>
    </div>



    <div class="row mb-3 mt-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Historial de GES</span>
      </div>
    </div>



    <!-- Table -->
    <div class="row justify-content-between">
      <!-- Nro de registros -->
      <div class="col-md-12 p-2 mr-auto mt-1">
        <div class="d-flex align-items-right" style="justify-content: flex-end !important;">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_bitacora_ges-count-row"></span> registros</span>
        </div>
      </div>
    </div>  

    <div class="row mb-2">
      <div class="table-responsive" style="overflow-y:hidden!important;">
        <table class="table-box" id="table_bitacora_ges" style="margin-top: 0px !important;">
          <thead>
            <tr>
              <th>Fecha de Registro/modificación</th>
              <th>Modificado por</th>
              <th>Área</th>
              <th>Puesto</th>
              <th>Unidad</th>
              <th>Tarea</th>
              <th>Agente</th>
              <th>Cantidad</th>
              <th>Actividad M/A</th>
              <th>EPP</th>
              <th>Control ingeniería</th>
              <th>Exposición</th>
              <th>Base EXP</th>
              <th>LMP</th>
              <th>Juicio de exposición</th>
              <th>Efecto salud</th>
              <th>Base EFE</th>
              <th>Riesgo salud</th>
              <th>Incertidumbre</th>
              <th>Prioridad recopilación de información</th>
              <th>Información necesaria</th>
              <th>Acciones a tomar</th>
            </tr>
          </thead>
          <tbody id="content_bitacora_ges">
               
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Table fin -->


  </div>
  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script type="text/javascript">

function Sp5OcultarDatos() {

  if( $("div.div-datos").hasClass("d-none") ){

    $("div.div-datos").removeClass("d-none");
    $("#btn-datos").text("Ocultar datos");

  }
  else
  {

    $("div.div-datos").addClass("d-none");
    $("#btn-datos").text("Mostrar datos");

  }

}

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function Sp5CargaSedesAreasGerenciasGES() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_GES["Areas"] = response.Area;
    pluck_GES["Gerencias"] = response.Gerencia;
    pluck_GES["Sedes"] = response.Sedes;

  });

}

function Sp5cargarSelectGES(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Areas"].forEach((Item) => {

    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_sede');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_actividad');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["ActividadMA"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.ActividadMA}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_agente');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Agentes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_riesgo');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Riesgos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_puesto');
  contenido.empty();
  contenido.append(`<option value=""></option>`);

  pluck_GES["Puestos"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
  });

}

function Sp5CargarPlucksGES() {
  
  let url = apiUrlsho+`/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    console.log("Plucks",response);
    pluck_GES["ActividadMA"] = response.lista_Actividad_MA;
    pluck_GES["Agentes"] = response.lista_Agentes;
    pluck_GES["Riesgos"] = response.lista_Riesgos;
    pluck_GES["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

  });
}


async function _init_Sp5VerGES(IdGES) {

  //Se inicia el Cargando
  showLoading();

  await Sp5CargaSedesAreasGerenciasGES();
  await Sp5CargarPlucksGES();
  await Sp5cargarSelectGES();
  await Sp5CargarGES(IdGES);
  await Sp5BuscarBitacoraGES(IdGES);
  await Sp5CargarTablaBitacora();

  //Se apaga el Cargando
  hideLoading();

}

var ObjTablaBitacora = '';

function Sp5CargarTablaBitacora() {

  let contenido = '';
  let html_tbody = '';

  //ESTO ELIMINA CUALQUIER FILTRO DATATABLE ACTIVO DESDE CUALQUIER OTRA VISTA
  $.fn.dataTable.ext.search.pop();
  ///////////////////////////////////////////////////////////////////////////

  contenido = $('#content_bitacora_ges');
  contenido.empty();

  pluck_GES["Bitacora"].forEach((ItemBitacora) => {

      html_tbody =  "<tr>";
      html_tbody += "<td>"+new Date(ItemBitacora.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+ItemBitacora.ModificadoPor+"</td>";
      html_tbody += "<td>"+pluck_GES["Areas"].find( Item => Item.Id == ItemBitacora.IdArea ).Description+"</td>";
      html_tbody += "<td>"+pluck_GES["Puestos"].find( Item => Item.Id == ItemBitacora.IdPuestoCargo ).PuestoTrabajo+"</td>";
      html_tbody += "<td>"+pluck_GES["Sedes"].find( Item => Item.Id == ItemBitacora.IdUnidadSede ).Description+"</td>";
      html_tbody += "<td>"+ItemBitacora.Tarea+"</td>";
      html_tbody += "<td>"+ItemBitacora.AgenteDescripcion+"</td>";
      html_tbody += "<td>"+ItemBitacora.Cantidad+"</td>";
      html_tbody += "<td>"+ItemBitacora.DesActividad_MA+"</td>";
      html_tbody += "<td>"+(parseInt(ItemBitacora.EPP) == 0 ? 'Si' : 'No')+"</td>";
      html_tbody += "<td>"+ItemBitacora.Control_Ingenieria+"</td>";
      html_tbody += "<td>"+ItemBitacora.TiempoExp+"</td>";
      html_tbody += "<td>"+ItemBitacora.BaseEXP+"</td>";
      html_tbody += "<td>"+ItemBitacora.LMP+"</td>";
      html_tbody += "<td>"+ItemBitacora.ValoracionDosis+"</td>";
      html_tbody += "<td>"+ItemBitacora.EfectoSalud+"</td>";
      html_tbody += "<td>"+ItemBitacora.BaseEFE+"</td>";
      html_tbody += "<td>"+ItemBitacora.ClasificacionRiesgo+"</td>";
      html_tbody += "<td>"+ItemBitacora.Incertidumbre+"</td>";
      html_tbody += "<td>"+ItemBitacora.PrioridadRecopilaInf+"</td>";
      html_tbody += "<td>"+ItemBitacora.InformacionNecesaria+"</td>";
      html_tbody += "<td>"+ItemBitacora.AccionesTomar+"</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaBitacora = $('#table_bitacora_ges').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function() {
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#table_bitacora_ges-count-row').text(ObjTablaBitacora.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody'); 

    if ( $.fn.DataTable.isDataTable('#table_bitacora_ges') ) {

      $('#table_bitacora_ges').find('.nav-link').trigger('click');

    }

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}

function Sp5BuscarBitacoraGES(IdGES) {

    //Se especifican los parametros para la consulta
    var url = apiUrlsho + "/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaDetalle_Gestion_Bitacora";

    var headers = {
      "apikey": constantes.apiKey
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdGestion": IdGES }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      pluck_GES["Bitacora"] = response.lista_GestionData3_1;

    });

  }

function Sp5CargarGES(IdGES){

  $('#dat_tarea').val(paObj_detalle_GES[IdGES].Tarea);
  $('#dat_cantidad').val(paObj_detalle_GES[IdGES].Cantidad);
  $('#dat_frecuencia').val(paObj_detalle_GES[IdGES].Frecuencia);
  $("#dat_actividad option[value='"+paObj_detalle_GES[IdGES].Actividad_MA+"']").prop("selected",true);
  $("#dat_epp option[value='"+paObj_detalle_GES[IdGES].EPP+"']").prop("selected",true);
  $('#dat_control_ing').val(paObj_detalle_GES[IdGES].Control_Ingenieria);
  $('#dat_dosis').val(paObj_detalle_GES[IdGES].Dosis);
  $('#dat_valoracion_dosis').val(paObj_detalle_GES[IdGES].ValoracionDosis);
  $('#dat_ges_id').val(paObj_detalle_GES[IdGES].GES_ID);
  $('#dat_base_exp').val(paObj_detalle_GES[IdGES].BaseEXP);
  $('#dat_lmp').val(paObj_detalle_GES[IdGES].LMP);
  $('#dat_tiempo_exp').val(paObj_detalle_GES[IdGES].TiempoExp);
  $('#dat_efecto_salud').val(paObj_detalle_GES[IdGES].EfectoSalud);
  $('#dat_base_efe').val(paObj_detalle_GES[IdGES].BaseEFE);
  $('#dat_calculo_riesgo').val(paObj_detalle_GES[IdGES].CalculoRiesgo);
  $('#dat_clasificacion_riesgo').val(paObj_detalle_GES[IdGES].ClasificacionRiesgo);
  $('#dat_incertidumbre').val(paObj_detalle_GES[IdGES].Incertidumbre);
  $('#dat_prioridad_recopilacion').val(paObj_detalle_GES[IdGES].PrioridadRecopilaInf);
  $('#dat_informacion_necesaria').val(paObj_detalle_GES[IdGES].InformacionNecesaria);
  $('#dat_acciones_tomar').val(paObj_detalle_GES[IdGES].AccionesTomar);
  $("#dat_area option[value='"+paObj_detalle_GES[IdGES].IdArea+"']").prop("selected",true);
  $("#dat_sede option[value='"+paObj_detalle_GES[IdGES].IdUnidadSede+"']").prop("selected",true);
  $("#dat_gerencia option[value='"+paObj_detalle_GES[IdGES].IdGerencia+"']").prop("selected",true);
  $("#dat_riesgo option[value='"+paObj_detalle_GES[IdGES].idRiesgo+"']").prop("selected",true);
  $("#dat_agente option[value='"+paObj_detalle_GES[IdGES].idAgente+"']").prop("selected",true);
  $("#dat_puesto option[value='"+paObj_detalle_GES[IdGES].IdPuestoCargo+"']").prop("selected",true);

}

$(document).ready(function() {

  _init_Sp5VerGES(idDetalleGES);

});

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>