<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<link href="css/select2.min.css" rel="stylesheet" />

<style>
  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10%;
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked~.checkmark {
    background-color: #8fbb02 !important;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .select2-container .select2-selection--single .select2-selection__rendered {

    width: inherit !important;
    top: -10px !important;
    left: -15px !important;

  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {

    top: -15px !important;
    left: 220px !important;

  }



  .btn-table {
    justify-content: flex-end;
    padding-right: 5px;
  }

  .dataTables_wrapper {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar {
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: #44b5ff !important;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 3px !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
    border: solid 1px #ededed !important;
    background-color: #f8f8f8 !important;

  }

  .dataTables_wrapper.no-footer .dataTables_scrollBody {

    border-bottom: 0px !important;
  }

  table.dataTable {

    border-spacing: 0px 5px !important;

  }
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->


  <div>

    <!-- Fila 2 -->
    <div class="row mb-5" style="display:none;">
      <div class="col-md-3">
        <div class="form-box">
          <span>Fecha inicio</span>
          <input type="date" class="form-control" id="min">
        </div>
      </div>

      <div class="col-md-3" style="display:none;">
        <div class="form-box">
          <span>Fecha fin</span>
          <input type="date" class="form-control" id="max">
        </div>
      </div>
    </div>







    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>ID tarea de monitoreo</span>
          <input type="text" id="dat_id_tarea" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha Registro</span>
          <input type="date" id="dat_fecha_registro" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Estado</span>
          <input type="text" id="dat_estado" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Etapa</span>
          <select name="" id="dat_etapa" disabled>
          </select>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Código de GES</span>
          <input type="text" id="dat_cod_ges" disabled>
        </div>
      </div>


      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_gerencia" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Unid. Operativa/Embarcación</span>
          <select name="" id="dat_sede" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_area" disabled>
          </select>
        </div>
      </div>






    </div>


    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <select name="" id="dat_puesto" disabled>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Zona</span>
          <select name="" id="dat_zona" disabled>
          </select>
        </div>
      </div>


      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Riesgo</span>
          <select name="" id="dat_riesgo" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Agente</span>
          <select name="" id="dat_agente" disabled>
          </select>
        </div>
      </div>


    </div>


    <div class="row">


      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tipo de evaluación</span>
          <select name="" id="dat_tipo_evaluacion" disabled>
          </select>
        </div>
      </div>

      <div class="col-md-9 col-sm-6" id="div_n_cas">
        <div class="input-box-secondary">
          <span>Nº CAS</span>
          <input type="text" id="dat_n_cas" disabled>
        </div>
      </div>


    </div>






    <hr class="mb-5 mt-4" />



    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Trazabilidad</span>
      </div>
    </div>





    <!-- Nav-tabs -->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-8">
            <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link active" id="monitoreo-tab" data-toggle="tab" href="#monitoreo" role="tab"
                  aria-controls="monitoreo" aria-selected="true">Monitoreo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="difusion-tab" data-toggle="tab" href="#difusion" role="tab"
                  aria-controls="difusion" aria-selected="false">Difusión de resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab"
                  aria-controls="seguimiento" aria-selected="false">Seguimiento de controles</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-6 d-none">
            <div class="input-box-secondary">
              <span>Agente</span>
              <select name="" id="dat_agente_trazabilidad">
              </select>
            </div>
          </div>

          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-info btn-lg" id=""> Cambiar Estado <img
                src="./images/sho/trazado1449.svg" alt="">
            </button>
          </div>


        </div>
        <div class="tab-content mt-5" id="myTabContent-trazabilidad">
          <!-- Calidad-vida -->
          <div class="tab-pane fade show active" id="monitoreo" role="tabpanel" aria-labelledby="monitoreo-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_monitoreo_trazabilidad-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_monitoreo_trazabilidad">
                <thead>
                  <tr>
                    <th>ID evaluación</th>
                    <th>F. de programación</th>
                    <th>Estado de evaluación</th>
                    <th>Fecha de ejecución</th>
                  </tr>
                </thead>
                <tbody id="content_monitoreo_trazabilidad">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Calidad-vida fin-->

          <!-- Conservación auditiva -->
          <div class="tab-pane fade" id="difusion" role="tabpanel" aria-labelledby="difusion-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_difusion-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_difusion" width="100%">
                <thead>
                  <tr>
                    <th>ID reunión</th>
                    <th>ID evaluación</th>
                    <th>Estado comunicación</th>
                    <th>Cantidad de controles</th>
                    <th>F. de Comunicación</th>
                  </tr>
                </thead>
                <tbody id="content_difusion">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Conservación auditiva fin -->

          <!-- Transtorno-musculo -->
          <div class="tab-pane fade" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
            <!-- Nro de registros -->
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                  <span id="table_seguimiento-count-row">0</span> registros</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table-box" id="table_seguimiento">
                <thead>
                  <tr>
                    <th>ID control</th>
                    <th>ID evaluación</th>
                    <th>ID reunión</th>
                    <th>Estado</th>
                    <th>F. de Cierre</th>
                  </tr>
                </thead>
                <tbody id="content_seguimiento">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Transtorno-musculo -->
        </div>

      </div>
    </div>
    <!-- Nav-tabs -->


  </div>

</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

  $(document).ready(() => {

    SVGInject($(".inject-svg"));

  });


  function Sp5volverIndexHigiene() {


    handlerUrlhtml('contentGlobal', 'view/sho-hce/ges/datosGenerales.html', 'Identificar');

  }


  function Sp5CargarTablaTrazabilidad() {

    $("#table_monitoreo_trazabilidad-count-row").text($("#table_monitoreo_trazabilidad tr.table-row").length);
    $("#table_difusion-count-row").text($("#table_difusion tr.table-row").length);
    $("#table_seguimiento-count-row").text($("#table_seguimiento tr.table-row").length);

    if ($("#table_monitoreo_trazabilidad tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='4' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_monitoreo_trazabilidad tbody").append(html_tbody);

    }

    if ($("#table_difusion tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='5' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_difusion tbody").append(html_tbody);

    }

    if ($("#table_seguimiento tr.table-row").length == 0) {

      html_tbody =
        "<tr class='table-empty'>" +
        "<td colspan='5' class='text-center text-uppercase'>" +
        "No hay informacion registrada" +
        "</td>" +
        "</tr> ";

      $("#table_seguimiento tbody").append(html_tbody);

    }

  }

  function Sp5CargaSedesAreasGerenciasMonitoreo() {

    //Se especifican los parametros para la consulta
    var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"

    var headers = {
      "apikey": constantes.apiKey
    }

    var settings = {
      "url": url,
      "method": "GET",
      "timeout": 0,
      "crossDomain": true,
      "dataType": "json",
      "headers": headers,
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      pluck_Monitoreo["Areas"] = response.Area;
      pluck_Monitoreo["Gerencias"] = response.Gerencia;
      pluck_Monitoreo["Sedes"] = response.Sedes;
      pluck_Monitoreo["Zonas"] = response.Zonas;

    });

  }

  function Sp5cargarSelectMonitoreo() {

    let contenido = '';
    let ControlOptionSelect = false;

    //Cargando Select de Áreas
    contenido = $('#dat_area');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Areas"].forEach((Item) => {

      ControlOptionSelect = false;

      $('#dat_area option').each(function () {

        if ($.trim($(this).text()) == $.trim(Item.Description)) {

          ControlOptionSelect = true;

        }

      });

      if (!ControlOptionSelect) {

        contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

      }

    });

    //Cargando Select de Gerencias
    contenido = $('#dat_gerencia');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Gerencias"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_sede');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Sedes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_riesgo');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Riesgos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Riesgo}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_zona');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Zonas"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_puesto');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Puestos"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.PuestoTrabajo}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_estado');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Estados"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Estado}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_etapa');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Etapas"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Etapa}</option>`)
    });


    //Cargando Select de Sedes
    contenido = $('#dat_tipo_evaluacion');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["TipoEvaluacion"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Nombre}</option>`)
    });

    //Cargando Select de Sedes
    contenido = $('#dat_agente');
    contenido.empty();
    contenido.append(`<option value=""></option>`);

    pluck_Monitoreo["Agentes"].forEach((Item) => {
      contenido.append(`<option value="${Item.Id}">${Item.Agentes}</option>`)
    });

  }

  function Sp5CargarPlucksMonitoreoGES() {

    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestion_All`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers
    };

    return $.ajax(settings).done((response) => {

      //console.log("Plucks",response);
      pluck_Monitoreo["ActividadMA"] = response.lista_Actividad_MA;
      pluck_Monitoreo["Agentes"] = response.lista_Agentes;
      pluck_Monitoreo["Riesgos"] = response.lista_Riesgos;
      pluck_Monitoreo["Puestos"] = response.lista_Cargos_Puestos_Trabajo;

    });
  }

  function Sp5CargarPlucksMonitoreo() {

    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=ListaCombosGestionMonitoreo_All`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers
    };

    return $.ajax(settings).done((response) => {

      pluck_Monitoreo["Estados"] = response.lista_Estados;
      pluck_Monitoreo["Etapas"] = response.lista_Etapas;
      pluck_Monitoreo["TipoEvaluacion"] = response.Lista_EvaluacionGES;

    });
  }

  async function _init_Sp5Monitoreo(IdMonitoreo) {

    //Se inicia el Cargando
    showLoading();
    //console.log('Ver Detalle');
    await Sp5CargaSedesAreasGerenciasMonitoreo();
    await Sp5CargarPlucksMonitoreoGES();
    await Sp5CargarPlucksMonitoreo();
    await Sp5cargarSelectMonitoreo();

    await Sp5CargarMonitoreo(IdMonitoreo);

    await Sp5BuscarTrazabilidadMonitoreo()
    await Sp5CargarTrazabilidadMonitoreo();

    await Sp5BuscarTrazabilidadDifusion(IdMonitoreo);
    await Sp5CargarTrazabilidadDifusion();

    await Sp5BuscarTrazabilidadControles()
    await Sp5CargarTrazabilidadControles();

    //await Sp5CargarTablaTrazabilidad();


    //Se apaga el Cargando
    hideLoading();

  }

  function Sp5CargarMonitoreo(IdMonitoreo) {

    $('#dat_id_tarea').val(paObj_detalle_Monitoreo[IdMonitoreo].IdTareaMonitoreo);
    $('#dat_cod_ges').val(paObj_detalle_Monitoreo[IdMonitoreo].GES_ID);
    $('#dat_fecha_registro').val(paObj_detalle_Monitoreo[IdMonitoreo].CreadoFecha.substring(0, 10));
    $('#dat_estado').val(paObj_detalle_Monitoreo[IdMonitoreo].DescripcionEstado);
    $("#dat_etapa option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdEtapa + "']").prop("selected", true);
    $("#dat_zona option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdZona + "']").prop("selected", true);
    $("#dat_tipo_evaluacion option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdTipoEvaluacion + "']").prop("selected", true);
    $("#dat_gerencia option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdGerencia + "']").prop("selected", true);
    $("#dat_sede option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdUnidadSede + "']").prop("selected", true);
    $("#dat_area option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdArea + "']").prop("selected", true);
    $("#dat_puesto option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].IdPuestoCargo + "']").prop("selected", true);
    $("#dat_riesgo option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].idRiesgo + "']").prop("selected", true);
    $("#dat_agente option[value='" + paObj_detalle_Monitoreo[IdMonitoreo].idAgente + "']").prop("selected", true);
    $('#dat_n_cas').val(paObj_detalle_Monitoreo[IdMonitoreo].ncas);

    if ($('#dat_n_cas').val() == "") {

      $('#div_n_cas').addClass("d-none");

    }

  }


  $(document).ready(function () {

    _init_Sp5Monitoreo(idDetalleMonitoreo);

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    //ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
    });

  });

  var ObjTablaTrazabilidadMonitoreo = '';
  var ObjTablaTrazabilidadControles = '';

  //#region GET Cargar Datos de Trazabilidad Monitoreo
  function Sp5BuscarTrazabilidadMonitoreo() {

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaTrazabilidad`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdMonitoreo": idDetalleMonitoreo }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      paObj_Monitoreo["TrazabilidadMonitoreo"] = response.lista_Trazabilidad;

    })
  }

  //#endregion


  //#region SET Asignar Valores Tabla Trazabilidad Monitoreo
  function Sp5CargarTrazabilidadMonitoreo() {

    let contenido = '';
    let datoVacio = '';
    let html_tbody = '';
    let ContadorFila = 0;

    $.fn.dataTable.ext.search.pop();

    contenido = $('#content_monitoreo_trazabilidad');
    contenido.empty();

    paObj_Monitoreo["TrazabilidadMonitoreo"].forEach((ItemMonitoreo) => {

      paObj_detalle_Monitoreo[ItemMonitoreo.Id] = ItemMonitoreo;

      html_tbody = "<tr>";
      html_tbody += "<td>" + ItemMonitoreo.CodigoEvaluacion + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.FechaProgramacion + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.Estado + "</td>";
      html_tbody += "<td>" + ItemMonitoreo.FechaEjecucion + "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);
      ContadorFila++;

    });


    ObjTablaTrazabilidadMonitoreo = $('#table_monitoreo_trazabilidad').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords": "Cargando registros...",
        "processing": "Procesando...",
        "infoPostFix": "",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function () {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      "columnDefs": [
        { targets: [0, 1, 2, 3], visible: true, searchable: false },

      ],

      dom:
        /* "<'row btn-table'<B>>" + */
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row row-records'<'col-sm-12'tr>>" +
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    //console.log('text 1 ***')
    $('#table_monitoreo_trazabilidad-count-row').text(ObjTablaTrazabilidadMonitoreo.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody');

    //console.log('Tabla 1 ***')
    if ($.fn.DataTable.isDataTable('#table_monitoreo_trazabilidad')) {
      $('#table_monitoreo_trazabilidad').find('.nav-link').trigger('click');
    }

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();


  }
  //#endregion


  //#region GET Cargar Datos de Trazabilidad Seguimiento de Controles
  function Sp5BuscarTrazabilidadControles() {

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_gestion?code=eNaD99TYDYZh45n9DLfBSdy/8UGDAGoZzUUoNRz38haoLyomuVTqoA==&AccionBackend=BandejaTrazabilidadControles`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdMonitoreo": idDetalleMonitoreo }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      paObj_Monitoreo["TrazabilidadControles"] = response.lista_Trazabilidad_Controles;

    })
  }

  //#endregion


  //#region SET Asignar Valores Tabla Trazabilidad Seguimiento de Controles
  function Sp5CargarTrazabilidadControles() {

    let contenido = '';
    let datoVacio = '';
    let html_tbody = '';
    let ContadorFila = 0;

    $.fn.dataTable.ext.search.pop();

    contenido = $('#content_seguimiento');
    contenido.empty();

    paObj_Monitoreo["TrazabilidadControles"].forEach((Item) => {

      paObj_detalle_Monitoreo[ItemMonitoreo.Id] = Item;

      html_tbody = "<tr>";
      html_tbody += "<td>" + Item.CodigoControl + "</td>";
      html_tbody += "<td>" + Item.CodigoEvaluacion + "</td>";
      html_tbody += "<td>" + Item.CodigoReunion + "</td>";
      html_tbody += "<td>" + Item.Estado + "</td>";
      html_tbody += "<td>" + Item.FechaCierre + "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);
      ContadorFila++;

    });

    //console.log('ObjTablaTrazabilidadControles')

    ObjTablaTrazabilidadControles = $('#table_seguimiento').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": false,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords": "Cargando registros...",
        "processing": "Procesando...",
        "infoPostFix": "",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function () {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      "columnDefs": [
        { targets: [0, 1, 2, 3, 4], visible: true, searchable: false },

      ],

      dom:
        /* "<'row btn-table'<B>>" + */
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row row-records'<'col-sm-12'tr>>" +
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('#table_seguimiento-count-row').text(ObjTablaTrazabilidadControles.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody');

    if ($.fn.DataTable.isDataTable('#table_seguimiento')) {
      $('#table_seguimiento').find('.nav-link').trigger('click');
    }

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  }
  //#endregion


  function Sp5BuscarTrazabilidadDifusion(IdMonitoreo) {

    //Se especifican los parametros para la consulta
    let url = apiUrlsho + `/api/ho_ergo?code=V2asJPyv8pzLX2o5wkWcwFFD386Y3Rmhrea9oa5CEFdvDJ2sPtaMzg==&AccionBackend=Difusion_Resultados_Programa_Monitoreo`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "timeout": 0,
      "crossDomain": true,
      "dataType": 'json',
      "headers": headers,
      "data": { "IdTareaMonitoreo": IdMonitoreo }
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      paObj_Monitoreo["TrazabilidadDifusion"] = response.lista_Difusion_Resultados_Programa_Monitoreo;

      console.log("Sp5BuscarTrazabilidadDifusion", response);

    })
  }

  var ObjTablaTrazabilidadDifusion = '';

  function Sp5CargarTrazabilidadDifusion() {

    let contenido = '';
    let html_tbody = '';
    let ContadorFila = 0;

    contenido = $('#content_difusion');
    contenido.empty();

    paObj_Monitoreo["TrazabilidadDifusion"].forEach((ItemTrazabilidadDifusion) => {

      html_tbody = "<tr>";
      html_tbody += "<td>" + ItemTrazabilidadDifusion.ReunionCode + "</td>";
      html_tbody += "<td>" + ItemTrazabilidadDifusion.CodigoEvaluacion + "</td>";
      html_tbody += "<td>" + ItemTrazabilidadDifusion.EstadoName + "</td>";
      html_tbody += "<td>" + ItemTrazabilidadDifusion.CantidadControles + "</td>";
      html_tbody += "<td>" + new Date(ItemTrazabilidadDifusion.FechaComunicacion).toLocaleDateString('en-GB').split('T')[0] + "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

    ObjTablaTrazabilidadDifusion = $('#table_difusion').DataTable({
      "pageLength": 5,
      "ordering": false,
      "scrollX": true,
      "destroy": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords": "Cargando registros...",
        "processing": "Procesando...",
        "infoPostFix": "",
        "zeroRecords": "No se encontraron registros"
      },
      initComplete: function () {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },
      dom:
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row row-records'<'col-sm-12'tr>>" +
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });

    $('#table_difusion-count-row').text(ObjTablaTrazabilidadDifusion.rows().count());
    $('.scrollbar').removeClass('dataTables_scrollBody');

    if ($.fn.DataTable.isDataTable('#table_difusion')) {

      $('#table_difusion').find('.nav-link').trigger('click');

    }

    //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

  }



</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>