<script>
  $("#IdDivMenuSsoma").html("    limpiando ...");
</script>
<link rel="stylesheet" href="./view/sho-hce/sho.css" />
<div id="IdDivMenuSsoma" name="IdDivMenuSsoma"></div>
<!-- <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
    <div>
        <div id="secWelcomeAuditoria">
            <div id="msgWelcomeAuditoria" >
                <b>Menú</b>
                <div class="mt-3">
                    <div><img src="images/barra_ini.svg" ></div>
                </div>
            </div>
        </div>

        <div class="modulosTasa mt-5" >
            <div class="modulosTasaInt">
                <div id="divModuloAuditoria" class="moduloTasa mx-5"  title="Inspecciones" >

                    <div class="content-menu-modulo" onclick="openModalMenu('Inspecciones', 'Inspecciones')" >
                        <img src="./images/newsistema/iconos/search2.svg" alt="" class="img-menu-modulo">
                        <img src="./images/newsistema/iconos/search1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                    </div>

                    <div class="labelModulo" >Inspecciones</div>
                </div>

                <div id="observacionesPReventivas" class="moduloTasa mx-5" title="Observaciones Preventivas" >

                    <div class="content-menu-modulo" onclick="openModalMenu('ObservacionesPreventivas', 'Observaciones Preventivas')" >
                        <img src="./images/newsistema/iconos/ObservacionesPreventivas-0.svg" alt="" class="img-menu-modulo">
                        <img src="./images/newsistema/iconos/ObservacionesPreventivas-1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                    </div>

                    <div class="labelModulo" >Observaciones Preventivas</div>
                </div>


            </div>
        </div>




        </div>
    </div>
</div> -->
<div class="modal-menu">
  <div class="body-modal-menu container">
    <div class="row justify-content-center">
      <div class="col-md-12 title-modal-menu">
        <h3 class="text-center" id="tituloSubMenu"></h3>
        <div class="mt-3 w-100 text-center">
          <img src="images/barra_ini.svg" />
        </div>
        <div class="cerrar-modal-menu" onclick="closeModalMenu()">
          <span class="mr-3">Cerrar</span>
          <img src="./images/newsistema/iconos/close-modal.svg" alt="" />
        </div>
      </div>
      <div class="col-md-2 d-none" id="CrearInspeccion">
        <div class="card-menu">
          <div class="imagen-card-menu" onclick="ConfiguracionDeInspecciones()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="126"
              height="126"
              fill="none"
              viewBox="0 0 126 126"
            >
              <g fill="#C2C2C2" clip-path="url(#clip0)">
                <path
                  d="M73.582 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM100.797 71.257L73.776 98.22c-.574.573-.998 1.279-1.233 2.054l-5.885 19.374c-.522 1.717-.067 3.583 1.186 4.867.94.963 2.215 1.485 3.524 1.485.438 0 .88-.058 1.313-.179l19.866-5.503c.818-.226 1.563-.66 2.163-1.259l26.966-26.915c5.757-5.757 5.757-15.124 0-20.882-5.757-5.756-15.125-5.756-20.879-.004zm-12.124 39.919l-9.995 2.769 2.925-9.629 18.233-18.193 6.962 6.962-18.125 18.091zm26.046-25.997l-.954.952-6.961-6.96.951-.949c1.919-1.92 5.041-1.92 6.96 0 1.919 1.92 1.919 5.041.004 6.957zM52.172 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM30.762 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM30.762 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM30.762 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.719 0-4.922 2.203-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM94.992 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922z"
                />
                <path
                  d="M106.312 9.844h-6.398V4.922C99.914 2.204 97.71 0 94.992 0c-2.718 0-4.922 2.204-4.922 4.922v4.922H67.676V4.922C67.676 2.204 65.472 0 62.754 0c-2.719 0-4.922 2.204-4.922 4.922v4.922H35.684V4.922C35.684 2.204 33.48 0 30.762 0c-2.719 0-4.922 2.204-4.922 4.922v4.922h-6.152C8.832 9.844 0 18.676 0 29.53v76.781C0 117.168 8.832 126 19.688 126H49.71c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922H19.688c-5.428 0-9.844-4.416-9.844-9.844v-76.78c0-5.429 4.416-9.845 9.844-9.845h6.152v4.922c0 2.719 2.203 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h22.148v4.922c0 2.719 2.203 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922H90.07v4.922c0 2.719 2.204 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h6.398c5.428 0 9.844 4.416 9.844 9.844V51.68c0 2.718 2.204 4.922 4.922 4.922 2.718 0 4.922-2.204 4.922-4.922V29.53c0-10.855-8.832-19.687-19.688-19.687z"
                />
                <path
                  d="M73.582 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922z"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <path fill="#fff" d="M0 0H126V126H0z" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <h4>Crear Inspecci&oacute;n</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="programarInspeccion">
        <div class="card-menu">
          <div class="imagen-card-menu" onclick="ProgramarInspeccion()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="126"
              height="126"
              fill="none"
              viewBox="0 0 126 126"
            >
              <path
                fill="#C2C2C2"
                d="M68.66 89.578c0 5.428 4.416 9.844 9.844 9.844H90.07c5.428 0 9.844-4.416 9.844-9.844V78.012c0-5.428-4.416-9.844-9.844-9.844H78.504c-5.428 0-9.844 4.416-9.844 9.844v11.566zm9.844-11.566H90.07l.007 11.566H78.504V78.012zM94.992 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM73.582 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922z"
              />
              <path
                fill="#C2C2C2"
                d="M121.078 86.625c2.718 0 4.922-2.204 4.922-4.922V29.531c0-10.855-8.832-19.687-19.688-19.687h-6.398V4.922C99.914 2.204 97.71 0 94.992 0c-2.718 0-4.922 2.204-4.922 4.922v4.922H67.676V4.922C67.676 2.204 65.472 0 62.754 0c-2.718 0-4.922 2.204-4.922 4.922v4.922H35.684V4.922C35.684 2.204 33.48 0 30.762 0c-2.719 0-4.922 2.204-4.922 4.922v4.922h-6.152C8.832 9.844 0 18.676 0 29.53v76.781C0 117.168 8.832 126 19.688 126h86.624c10.856 0 19.688-8.832 19.688-19.688 0-2.718-2.204-4.921-4.922-4.921-2.718 0-4.922 2.203-4.922 4.921 0 5.428-4.416 9.844-9.844 9.844H19.688c-5.428 0-9.844-4.416-9.844-9.844v-76.78c0-5.429 4.416-9.845 9.844-9.845h6.152v4.922c0 2.719 2.203 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h22.148v4.922c0 2.719 2.204 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922H90.07v4.922c0 2.719 2.204 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h6.398c5.428 0 9.844 4.416 9.844 9.844v52.172c0 2.718 2.204 4.922 4.922 4.922z"
              />
              <path
                fill="#C2C2C2"
                d="M30.762 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM30.762 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.719 0-4.922 2.203-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM30.762 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM52.172 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922z"
              />
            </svg>
          </div>
          <h4>Programar Inspecci&oacute;n</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="asignarInspeccion">
        <div class="card-menu">
          <div
            class="imagen-card-menu"
            onclick="ConfiguracionDeInspeccionesInterno()"
          >
            <svg
              width="128"
              height="128"
              viewBox="0 0 128 128"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0)">
                <path
                  d="M74.1159 84.1494C70.986 81.9658 67.6413 80.1866 64.1432 78.8272C68.7966 74.5977 71.8835 68.6729 72.4206 62.0401C79.4772 55.1641 88.7272 51.3945 98.6433 51.3945C106.384 51.3945 113.817 53.7256 120.139 58.1348C122.405 59.7149 125.52 59.1602 127.1 56.8946C128.679 54.6299 128.125 51.5137 125.86 49.9346C122.73 47.751 119.384 45.9727 115.886 44.6123C121.021 39.9453 124.25 33.2158 124.25 25.7471C124.25 11.6875 112.812 0.25 98.7526 0.25C84.694 0.25 73.2565 11.6875 73.2565 25.7471C73.2565 33.1856 76.4587 39.8906 81.5583 44.5557C80.86 44.8242 80.1657 45.1084 79.4782 45.4111C76.3493 46.7881 73.4079 48.4815 70.6725 50.4697C66.9001 41.0977 57.7155 34.4649 47.0094 34.4649C32.9508 34.4649 21.5124 45.9024 21.5124 59.961C21.5124 67.3789 24.6969 74.0655 29.7692 78.7285C16.2077 83.8096 5.21157 94.7227 0.735007 108.641C-0.749369 113.256 0.0367642 118.15 2.89223 122.069C5.7477 125.987 10.1657 128.234 15.0133 128.234H58.5085C61.2692 128.234 63.5075 125.996 63.5075 123.234C63.5075 120.474 61.2692 118.235 58.5085 118.235H15.0133C13.3971 118.235 11.9245 117.486 10.9723 116.18C10.0202 114.873 9.75845 113.241 10.2526 111.702C15.194 96.3389 30.2643 85.6094 46.9001 85.6094C54.6403 85.6094 62.0739 87.9405 68.3962 92.3496C70.6608 93.9297 73.777 93.3741 75.3571 91.1094C76.9362 88.8448 76.3815 85.7285 74.1159 84.1494V84.1494ZM98.7526 10.249C107.299 10.249 114.251 17.2012 114.251 25.7471C114.251 34.292 107.299 41.2451 98.7526 41.2451C90.2077 41.2451 83.2546 34.292 83.2546 25.7471C83.2546 17.2012 90.2077 10.249 98.7526 10.249ZM47.0094 44.4629C55.5553 44.4629 62.5075 51.416 62.5075 59.961C62.5075 68.5069 55.5553 75.459 47.0094 75.459C38.4635 75.459 31.5114 68.5069 31.5114 59.961C31.5114 51.416 38.4635 44.4629 47.0094 44.4629V44.4629ZM128 104.487C128 107.248 125.761 109.486 123 109.486H109.252V123.234C109.252 125.996 107.013 128.234 104.253 128.234C101.491 128.234 99.2526 125.996 99.2526 123.234V109.486H85.5046C82.7438 109.486 80.5056 107.248 80.5056 104.487C80.5056 101.726 82.7438 99.4873 85.5046 99.4873H99.2526V85.7393C99.2526 82.9785 101.491 80.7403 104.253 80.7403C107.013 80.7403 109.252 82.9785 109.252 85.7393V99.4873H123C125.761 99.4873 128 101.726 128 104.487V104.487Z"
                  fill="#C2C2C2"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="128" height="128" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <h4>Asignar Inspecci&oacute;n</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="seguimientoInspecciones">
        <div class="card-menu">
          <div class="imagen-card-menu" onclick="SeguimientoDeInspeccion()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="126"
              height="126"
              fill="none"
              viewBox="0 0 126 126"
            >
              <g fill="#CCC" clip-path="url(#clip0)">
                <path
                  d="M73.582 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM73.582 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM52.172 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.718 0-4.922 2.204-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM94.992 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.718 0-4.922 2.203-4.922 4.922 0 2.718 2.204 4.922 4.922 4.922zM30.762 56.602c2.718 0 4.922-2.204 4.922-4.922 0-2.719-2.204-4.922-4.922-4.922-2.719 0-4.922 2.203-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922zM103.852 72.352c-12.213 0-22.149 9.935-22.149 22.148 0 4.136 1.141 8.01 3.123 11.327l-11.771 11.771c-1.922 1.922-1.922 5.038 0 6.96.961.961 2.22 1.442 3.48 1.442 1.26 0 2.52-.481 3.48-1.442l11.604-11.603c3.508 2.332 7.714 3.693 12.233 3.693 12.212 0 22.148-9.935 22.148-22.148s-9.936-22.148-22.148-22.148zm0 34.453c-6.785 0-12.305-5.52-12.305-12.305s5.52-12.305 12.305-12.305 12.304 5.52 12.304 12.305-5.519 12.305-12.304 12.305zM30.762 99.422c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922z"
                />
                <path
                  d="M106.312 9.844h-6.398V4.922C99.914 2.204 97.71 0 94.992 0c-2.718 0-4.922 2.204-4.922 4.922v4.922H67.676V4.922C67.676 2.204 65.472 0 62.754 0c-2.718 0-4.922 2.204-4.922 4.922v4.922H35.684V4.922C35.684 2.204 33.48 0 30.762 0c-2.719 0-4.922 2.204-4.922 4.922v4.922h-6.152C8.832 9.844 0 18.676 0 29.53v76.781C0 117.168 8.832 126 19.688 126h32.238c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922H19.687c-5.427 0-9.843-4.416-9.843-9.844v-76.78c0-5.429 4.416-9.845 9.844-9.845h6.152v4.922c0 2.719 2.203 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h22.148v4.922c0 2.719 2.204 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922H90.07v4.922c0 2.719 2.204 4.922 4.922 4.922 2.718 0 4.922-2.203 4.922-4.922v-4.922h6.398c5.428 0 9.844 4.416 9.844 9.844v29.532c0 2.718 2.204 4.921 4.922 4.921 2.718 0 4.922-2.203 4.922-4.922v-29.53c0-10.856-8.832-19.688-19.688-19.688z"
                />
                <path
                  d="M30.762 78.012c2.718 0 4.922-2.204 4.922-4.922 0-2.718-2.204-4.922-4.922-4.922-2.719 0-4.922 2.204-4.922 4.922 0 2.718 2.203 4.922 4.922 4.922z"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <path fill="#CCC" d="M0 0H126V126H0z" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <h4>Seguimiento de Inspecciones</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="Inspectores">
        <div class="card-menu">
          <div class="imagen-card-menu" onclick="Inspectores()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="126"
              height="126"
              fill="none"
              viewBox="0 0 126 126"
            >
              <g clip-path="url(#clip0)">
                <path
                  fill="#C1C1C1"
                  d="M86.406 79.568c3.238-4.629 5.14-10.257 5.14-16.322C91.547 47.506 78.74 34.7 63 34.7S34.453 47.506 34.453 63.246c0 15.741 12.807 28.547 28.547 28.547 6.128 0 11.811-1.942 16.468-5.241l18.627 18.627c.96.96 2.221 1.441 3.48 1.441 1.26 0 2.52-.481 3.48-1.441 1.923-1.922 1.923-5.039 0-6.96l-18.65-18.65zm-42.11-16.322c0-10.313 8.391-18.703 18.704-18.703s18.703 8.39 18.703 18.703c0 10.313-8.39 18.703-18.703 18.703-10.313 0-18.703-8.39-18.703-18.703zM126 60.54v4.922c0 8.142-6.623 14.766-14.766 14.766h-2.479c-.4 0-.704.15-.889.277-2.242 1.538-5.305.968-6.843-1.275-1.538-2.241-.967-5.306 1.275-6.843 1.912-1.31 4.144-2.003 6.457-2.003h2.479c2.714 0 4.922-2.208 4.922-4.922v-4.922c0-2.714-2.208-4.922-4.922-4.922h-2.479c-4.653 0-8.814-2.8-10.604-7.133l-.03-.072c-1.798-4.331-.836-9.256 2.453-12.546l1.754-1.752c1.919-1.92 1.919-5.042 0-6.961l-3.481-3.48c-.93-.93-2.166-1.442-3.48-1.442-1.315 0-2.551.511-3.48 1.442l-1.753 1.753c-3.29 3.29-8.215 4.252-12.546 2.452l-.073-.03c-4.332-1.789-7.132-5.95-7.132-10.603v-2.48c0-2.713-2.208-4.921-4.922-4.921h-4.922c-2.714 0-4.922 2.208-4.922 4.922v2.479c0 4.652-2.8 8.814-7.133 10.603l-.062.026c-4.342 1.803-9.266.841-12.556-2.448l-1.753-1.754c-.929-.93-2.165-1.44-3.48-1.44-1.314 0-2.55.51-3.48 1.44l-3.48 3.481c-1.92 1.919-1.92 5.041 0 6.96l1.753 1.753c3.29 3.29 4.251 8.215 2.452 12.547l-.03.073c-1.789 4.33-5.95 7.131-10.603 7.131h-2.48c-2.713 0-4.921 2.208-4.921 4.922v4.922c0 2.714 2.208 4.922 4.922 4.922h2.479c4.652 0 8.814 2.8 10.603 7.133l.037.086c1.792 4.317.83 9.242-2.46 12.532l-1.753 1.752c-.93.93-1.44 2.166-1.44 3.481 0 1.314.51 2.55 1.44 3.48l3.481 3.481c1.919 1.919 5.041 1.92 6.96 0l1.753-1.754c3.288-3.286 8.209-4.25 12.54-2.455l.063.026c4.349 1.796 7.148 5.958 7.148 10.61v2.479c0 2.714 2.208 4.922 4.922 4.922h4.922c2.714 0 4.922-2.208 4.922-4.922v-2.479c0-2.313.693-4.546 2.004-6.457 1.537-2.242 4.6-2.813 6.843-1.275 2.242 1.538 2.813 4.601 1.274 6.843-.127.185-.277.489-.277.889v2.479c0 8.143-6.624 14.766-14.766 14.766h-4.922c-8.142 0-14.766-6.623-14.766-14.766v-2.479c0-.652-.41-1.243-1.046-1.505l-.09-.038c-.64-.265-1.35-.138-1.81.323l-1.753 1.754c-5.757 5.756-15.125 5.756-20.882 0l-3.48-3.481c-2.79-2.789-4.325-6.497-4.325-10.44 0-3.945 1.536-7.653 4.325-10.442l1.753-1.753c.46-.46.587-1.17.323-1.81l-.04-.095c-.26-.631-.851-1.041-1.503-1.041h-2.48C6.624 80.227 0 73.603 0 65.46v-4.922c0-8.142 6.623-14.766 14.766-14.766h2.479c.652 0 1.243-.41 1.505-1.046l.037-.089c.266-.64.14-1.35-.322-1.811l-1.753-1.752c-5.757-5.758-5.757-15.126 0-20.883l3.48-3.48c2.79-2.788 6.498-4.325 10.44-4.325 3.945 0 7.653 1.537 10.443 4.325l1.752 1.753c.462.461 1.172.588 1.81.323l.089-.038c.637-.262 1.047-.853 1.047-1.505v-2.48C45.773 6.624 52.398 0 60.54 0h4.922c8.142 0 14.766 6.623 14.766 14.766v2.479c0 .652.41 1.243 1.045 1.505l.1.042c.63.261 1.34.134 1.801-.327l1.753-1.753c2.79-2.79 6.497-4.325 10.441-4.325 3.943 0 7.652 1.536 10.441 4.325l3.48 3.48c5.757 5.757 5.757 15.125 0 20.882l-1.753 1.753c-.461.46-.588 1.17-.323 1.81l.037.089c.263.636.854 1.047 1.506 1.047h2.479c8.143 0 14.766 6.624 14.766 14.766z"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <path fill="#fff" d="M0 0H126V126H0z" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <h4>Inspectores</h4>
        </div>
      </div>
      <div class="col-md-4 d-none" id="SeguimientoObservacionesPreventivas">
        <div class="card-menu">
          <div
            class="imagen-card-menu"
            onclick="SeguimientoObservacionesPreventivas()"
          >
            <!--div class="content-menu-modulo-blanco" onclick="openModalMenu('ObservacionesPreventivas', 'Observaciones Preventivas')">
                            <div id="salva-OP" class="" onclick="openModalMenu('ObservacionesPreventivas', 'Observaciones Preventivas')" ></div>
                            <img src="./images/Salva.svg" alt="" class="img-menu-modulo">
                            <img src="./images/newsistema/iconos/ObservacionesPreventivas-0.svg" alt="" class="img-menu-modulo">
                            <img src="./images/newsistema/iconos/ObservacionesPreventivas-1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                        </div-->
            <img
              src="./images/Salva.svg"
              alt=""
              class="img-menu-modulo"
              style="top: 0% !important"
            />
          </div>
          <h4 style="margin-top: 30% !important">
            Seguimiento de observaciones Preventivas
          </h4>
        </div>
      </div>
      <div class="col-md-4 d-none" id="IndicadoresObservacionesPreventivas">
        <div class="card-menu">
          <div
            class="imagen-card-menu"
            onclick="openIndicadores(urlIndicadoresOP);closeModalMenu();"
          >
            <img
              src="./images/Salva_Estadisticas.svg"
              alt=""
              class="img-menu-modulo"
              style="top: 0% !important"
            />
          </div>
          <h4 style="margin-top: 30% !important">Estad&iacute;sticas</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="IndicadoresInspeccioness">
        <div class="card-menu">
          <div
            class="imagen-card-menu"
            onclick="openIndicadores(urlIndicadoresInspecciones);closeModalMenu();"
          >
            <img
              src="./images/Salva_Estadisticas.svg"
              alt=""
              class="img-menu-modulo"
              style="top: 0% !important"
            />
          </div>
          <h4 style="margin-top: 30% !important">Estad&iacute;sticas</h4>
        </div>
      </div>
      <div class="col-md-2 d-none" id="IndicadoresInspecciones">
        <div class="card-menu">
          <div
            class="imagen-card-menu"
            onclick="openIndicadores(urlIndicadoresInspecciones);closeModalMenu();"
          >
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="126" height="126" fill="none" viewBox="0 0 126 126">
                            <g clip-path="url(#clip0)">
                                <path fill="#C1C1C1" d="M86.406 79.568c3.238-4.629 5.14-10.257 5.14-16.322C91.547 47.506 78.74 34.7 63 34.7S34.453 47.506 34.453 63.246c0 15.741 12.807 28.547 28.547 28.547 6.128 0 11.811-1.942 16.468-5.241l18.627 18.627c.96.96 2.221 1.441 3.48 1.441 1.26 0 2.52-.481 3.48-1.441 1.923-1.922 1.923-5.039 0-6.96l-18.65-18.65zm-42.11-16.322c0-10.313 8.391-18.703 18.704-18.703s18.703 8.39 18.703 18.703c0 10.313-8.39 18.703-18.703 18.703-10.313 0-18.703-8.39-18.703-18.703zM126 60.54v4.922c0 8.142-6.623 14.766-14.766 14.766h-2.479c-.4 0-.704.15-.889.277-2.242 1.538-5.305.968-6.843-1.275-1.538-2.241-.967-5.306 1.275-6.843 1.912-1.31 4.144-2.003 6.457-2.003h2.479c2.714 0 4.922-2.208 4.922-4.922v-4.922c0-2.714-2.208-4.922-4.922-4.922h-2.479c-4.653 0-8.814-2.8-10.604-7.133l-.03-.072c-1.798-4.331-.836-9.256 2.453-12.546l1.754-1.752c1.919-1.92 1.919-5.042 0-6.961l-3.481-3.48c-.93-.93-2.166-1.442-3.48-1.442-1.315 0-2.551.511-3.48 1.442l-1.753 1.753c-3.29 3.29-8.215 4.252-12.546 2.452l-.073-.03c-4.332-1.789-7.132-5.95-7.132-10.603v-2.48c0-2.713-2.208-4.921-4.922-4.921h-4.922c-2.714 0-4.922 2.208-4.922 4.922v2.479c0 4.652-2.8 8.814-7.133 10.603l-.062.026c-4.342 1.803-9.266.841-12.556-2.448l-1.753-1.754c-.929-.93-2.165-1.44-3.48-1.44-1.314 0-2.55.51-3.48 1.44l-3.48 3.481c-1.92 1.919-1.92 5.041 0 6.96l1.753 1.753c3.29 3.29 4.251 8.215 2.452 12.547l-.03.073c-1.789 4.33-5.95 7.131-10.603 7.131h-2.48c-2.713 0-4.921 2.208-4.921 4.922v4.922c0 2.714 2.208 4.922 4.922 4.922h2.479c4.652 0 8.814 2.8 10.603 7.133l.037.086c1.792 4.317.83 9.242-2.46 12.532l-1.753 1.752c-.93.93-1.44 2.166-1.44 3.481 0 1.314.51 2.55 1.44 3.48l3.481 3.481c1.919 1.919 5.041 1.92 6.96 0l1.753-1.754c3.288-3.286 8.209-4.25 12.54-2.455l.063.026c4.349 1.796 7.148 5.958 7.148 10.61v2.479c0 2.714 2.208 4.922 4.922 4.922h4.922c2.714 0 4.922-2.208 4.922-4.922v-2.479c0-2.313.693-4.546 2.004-6.457 1.537-2.242 4.6-2.813 6.843-1.275 2.242 1.538 2.813 4.601 1.274 6.843-.127.185-.277.489-.277.889v2.479c0 8.143-6.624 14.766-14.766 14.766h-4.922c-8.142 0-14.766-6.623-14.766-14.766v-2.479c0-.652-.41-1.243-1.046-1.505l-.09-.038c-.64-.265-1.35-.138-1.81.323l-1.753 1.754c-5.757 5.756-15.125 5.756-20.882 0l-3.48-3.481c-2.79-2.789-4.325-6.497-4.325-10.44 0-3.945 1.536-7.653 4.325-10.442l1.753-1.753c.46-.46.587-1.17.323-1.81l-.04-.095c-.26-.631-.851-1.041-1.503-1.041h-2.48C6.624 80.227 0 73.603 0 65.46v-4.922c0-8.142 6.623-14.766 14.766-14.766h2.479c.652 0 1.243-.41 1.505-1.046l.037-.089c.266-.64.14-1.35-.322-1.811l-1.753-1.752c-5.757-5.758-5.757-15.126 0-20.883l3.48-3.48c2.79-2.788 6.498-4.325 10.44-4.325 3.945 0 7.653 1.537 10.443 4.325l1.752 1.753c.462.461 1.172.588 1.81.323l.089-.038c.637-.262 1.047-.853 1.047-1.505v-2.48C45.773 6.624 52.398 0 60.54 0h4.922c8.142 0 14.766 6.623 14.766 14.766v2.479c0 .652.41 1.243 1.045 1.505l.1.042c.63.261 1.34.134 1.801-.327l1.753-1.753c2.79-2.79 6.497-4.325 10.441-4.325 3.943 0 7.652 1.536 10.441 4.325l3.48 3.48c5.757 5.757 5.757 15.125 0 20.882l-1.753 1.753c-.461.46-.588 1.17-.323 1.81l.037.089c.263.636.854 1.047 1.506 1.047h2.479c8.143 0 14.766 6.624 14.766 14.766z"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <path fill="#fff" d="M0 0H126V126H0z"/>
                                </clipPath>
                            </defs>
                        </svg> -->
            <svg
              width="126"
              height="126"
              viewBox="0 0 126 126"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0)">
                <path
                  d="M18.2109 126C8.16933 126 0 117.831 0 107.789V61.0312C0 50.9896 8.16933 42.8203 18.2109 42.8203C28.2525 42.8203 36.4219 50.9896 36.4219 61.0312V107.789C36.4219 117.831 28.2525 126 18.2109 126ZM18.2109 52.6641C13.5972 52.6641 9.84375 56.4175 9.84375 61.0312V107.789C9.84375 112.403 13.5972 116.156 18.2109 116.156C22.8247 116.156 26.5781 112.403 26.5781 107.789V61.0312C26.5781 56.4177 22.8247 52.6641 18.2109 52.6641ZM63 126C52.9584 126 44.7891 117.831 44.7891 107.789V87.6094C44.7891 77.5678 52.9584 69.3984 63 69.3984C73.0416 69.3984 81.2109 77.5678 81.2109 87.6094V107.789C81.2109 117.831 73.0416 126 63 126ZM63 79.2422C58.3862 79.2422 54.6328 82.9956 54.6328 87.6094V107.789C54.6328 112.403 58.3862 116.156 63 116.156C67.6138 116.156 71.3672 112.403 71.3672 107.789V87.6094C71.3672 82.9959 67.6138 79.2422 63 79.2422ZM107.789 126C97.7475 126 89.5781 117.831 89.5781 107.789V64.7227C89.5781 54.681 97.7475 46.5117 107.789 46.5117C117.831 46.5117 126 54.681 126 64.7227V107.789C126 117.831 117.831 126 107.789 126ZM107.789 56.3555C103.175 56.3555 99.4219 60.1089 99.4219 64.7227V107.789C99.4219 112.403 103.175 116.156 107.789 116.156C112.403 116.156 116.156 112.403 116.156 107.789V64.7227C116.156 60.1091 112.403 56.3555 107.789 56.3555ZM80.4247 54.399L107.663 25.7882C109.537 23.8194 109.46 20.7039 107.492 18.8296C105.523 16.9551 102.407 17.0319 100.533 19.0007L73.251 47.6578C73.2193 47.691 73.188 47.7247 73.1573 47.7589C70.5917 50.6099 66.2484 51.0106 63.206 48.7007L31.9572 20.3136C31.8741 20.2383 31.7887 20.1657 31.7008 20.096C25.0954 14.8724 15.7569 15.1682 9.49553 20.7994C9.4377 20.8515 9.38085 20.9049 9.32572 20.9596L1.46081 28.7391C-0.472008 30.6507 -0.488988 33.767 1.42291 35.6996C3.33408 37.6319 6.45036 37.6491 8.38318 35.7375L16.1543 28.0508C18.8003 25.7353 22.682 25.6029 25.4783 27.7271L56.7276 56.1145C56.8105 56.1898 56.8961 56.2624 56.984 56.3318C60.1283 58.8186 63.9002 60.0348 67.6544 60.0346C72.3646 60.0343 77.0468 58.1197 80.4247 54.399V54.399ZM126 28.0547V14.7656C126 6.62386 119.376 0 111.234 0H97.9453C95.227 0 93.0234 2.20352 93.0234 4.92188C93.0234 7.64023 95.227 9.84375 97.9453 9.84375H111.234C113.948 9.84375 116.156 12.0517 116.156 14.7656V28.0547C116.156 30.773 118.36 32.9766 121.078 32.9766C123.796 32.9766 126 30.773 126 28.0547V28.0547Z"
                  fill="#C2C2C2"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="126" height="126" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <h4>Estad&iacute;sticas</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./view/sho-hce/sho.js"></script>
<script>
  var menuc; //variable que lmacena el contenido del menu segun el rol
  // $('#regresar').css('display', 'none')
  //$('.logoCompany').html('<img id="logoCompany" src="images/sigtasaLogo.svg" width="249" height="28">')

  console.log(getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa));

  //alert(getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa));
  //if(getCookie("vtas_rolexternalrol"+sessionStorage.tabVisitasa)==="ROL_REPORTANTE")
  if (
    //(getCookie("vtas_rolexternalrol"+sessionStorage.tabVisitasa)==="ROL_REPORTANTE" ) ||
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_REPORTANTELIDER" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_REPORTANTE" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_RESPONSABLEPROGSSOMA" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_RESPONSABLEINSPSSOMA" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_VISUALIZADORIPERC" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_RESPONSABLEIPERC" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_VALIDADORIPERC" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_OBSERVADORPLANANUAL" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_EJECUTANTEASIGNADO" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_REPSONSABLEPLANANUAL" &&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_GESTORINCIDENTE"&&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_ADMIN_SALUD"&&
    // getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !== "ROL_CONSULTOR_SALUD"
    getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !==
      "ROL_ADMIN_SALUD" &&
    getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !==
      "ROL_ADMIN_HIGIENE" &&
    getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa) !==
      "ROL_CONSULTOR_SALUD"
  ) {
    logoutSystem();
  }

  var menuInspecciones = `
                <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                    <div>
                                <div id="secWelcomeAuditoria">
                                    <div id="msgWelcomeAuditoria" >
                                        <b>Menú</b>
                                        <div class="mt-3">
                                            <div><img src="images/barra_ini.svg" ></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modulosTasa mt-5" >
                                    <div class="modulosTasaInt">
                                        <div id="divModuloAuditoria" class="moduloTasa mx-5"  title="Inspecciones" >

                                            <div class="content-menu-modulo" onclick="openModalMenu('Inspecciones', 'Inspecciones')" >
                                                <img src="./images/newsistema/iconos/search2.svg" alt="" class="img-menu-modulo">
                                                <img src="./images/newsistema/iconos/search1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                                            </div>

                                            <div class="labelModulo" >Inspecciones</div>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                                `;

  var menuObsPreventivas = `
        <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
            <div>
                <div id="secWelcomeAuditoria">
                    <div id="msgWelcomeAuditoria" >
                        <b>Menú</b>
                        <div class="mt-3">
                            <div><img src="images/barra_ini.svg" ></div>
                        </div>
                    </div>
                </div>

                <div class="modulosTasa mt-5" >
                    <div class="modulosTasaInt">
                        <div id="observacionesPReventivas" class="moduloTasa mx-5" title="Observaciones Preventivas" >

                            <div class="content-menu-modulo-blanco" onclick="openModalMenu('ObservacionesPreventivas', 'Observaciones Preventivas')">
                                <div id="salva-OP" class="" onclick="openModalMenu('ObservacionesPreventivas', 'Observaciones Preventivas')" ></div>
                                <!--img src="./images/Salva.svg" alt="" class="img-menu-modulo"-->
                                <!--img src="./images/newsistema/iconos/ObservacionesPreventivas-0.svg" alt="" class="img-menu-modulo">
                                <img src="./images/newsistema/iconos/ObservacionesPreventivas-1.svg" alt="" class="img-menu-modulo img-modulo-hover"-->
                            </div>

                            <div class="labelModulo" >Observaciones<br>Preventivas
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
                                    `;

  var menuGestorIPERC = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                        <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorIPERC"  class="moduloTasa mx-5" title="Gestor IPERC" >

                                                    <div class="content-menu-modulo" onclick="GestorIPERC()" >
                                                        <img src="./images/newsistema/iconos/customer1.svg" alt="" class="img-menu-modulo-o">
                                                        <img src="./images/newsistema/iconos/customer2.svg" alt="" class="img-menu-modulo-o img-modulo-hover">
                                                    </div>

                                                    <div class="labelModulo" >Gestor IPERC</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  var menuGestorIPERCValidador = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                        <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorIPERC"  class="moduloTasa mx-5" title="Gestor IPERC" >

                                                    <div class="content-menu-modulo" onclick="showMenuValidateIperc()" >
                                                        <img src="./images/newsistema/iconos/customer1.svg" alt="" class="img-menu-modulo-o">
                                                        <img src="./images/newsistema/iconos/customer2.svg" alt="" class="img-menu-modulo-o img-modulo-hover">
                                                    </div>

                                                    <div class="labelModulo" >Gestor IPERC</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  var menuGestorIPERCVisualizador = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                        <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorIPERC"  class="moduloTasa mx-5" title="Matrices IPERC" >

                                                    <div class="content-menu-modulo" onclick="GestorIPERC()" >
                                                        <img src="./images/newsistema/iconos/customer1.svg" alt="" class="img-menu-modulo-o">
                                                        <img src="./images/newsistema/iconos/customer2.svg" alt="" class="img-menu-modulo-o img-modulo-hover">
                                                    </div>

                                                    <div class="labelModulo" >Matrices IPERC</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  var menuGestorPlanAnual = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                         <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorPlan"  class="moduloTasa mx-5"  title="Gestor Plan Anual" >

                                            <div class="content-menu-modulo" onclick="handlerUrlhtml('contentGlobal','view/ssoma/plan-anual/gestionPlanAnual.html','aaaaaaaaaaaaa');" >
                                                <img src="./images/newsistema/iconos/planning2.svg" alt="" class="img-menu-modulo">
                                                <img src="./images/newsistema/iconos/planning1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                                            </div>

                                            <div class="labelModulo" >Gestor Plan Anual</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  var menuAccidenteIncidente = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                         <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorPlan"  class="moduloTasa mx-5"  title="Incidentes/Accidentes" >

                                            <div class="content-menu-modulo" onclick="handlerUrlhtml('contentGlobal','view/ssoma/incidente-accidente/gestionAccidenteIncidente.html','IncidentesMenu');" >
                                                <img src="./images/newsistema/iconos/smartWatch2.svg" alt="" class="img-menu-modulo">
                                                <img src="./images/newsistema/iconos/smartWatch1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                                            </div>

                                            <div class="labelModulo" >Incidentes/Accidentes</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  var menuEjecutantePlanAnual = `
                    <div class="d-flex justify-content-center align-items-center " style="    height: calc(100vh - 77px);">
                         <div>
                                    <div id="secWelcomeAuditoria">
                                        <div id="msgWelcomeAuditoria" >
                                            <b>Menú</b>
                                            <div class="mt-3">
                                                <div><img src="images/barra_ini.svg" ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modulosTasa mt-5" >
                                        <div class="modulosTasaInt">
                                            <div id="divGestorPlan"  class="moduloTasa mx-5"  title="Gestor Plan Anual" >

                                            <div class="content-menu-modulo" onclick="handlerUrlhtml('contentGlobal','view/ssoma/plan-anual/EjecucionPlanAnual.html','aaaaaaaaaaaaa');" >
                                                <img src="./images/newsistema/iconos/planning2.svg" alt="" class="img-menu-modulo">
                                                <img src="./images/newsistema/iconos/planning1.svg" alt="" class="img-menu-modulo img-modulo-hover">
                                            </div>

                                            <div class="labelModulo" >Gestor Plan Anual</div>
                                            </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                                    `;

  //<!-- <div id="moduloGestionarAuditoria" onclick="handlerUrlhtml('contentGlobal','view/sho-hce/salud_ocupacional/gestionSaludOcupacional.html','IncidentesMenu');">  </div> -->

  var menuSaludOcupacional = `
            <div id="IdDivMenuAuditoria" name="IdDivMenuAuditoria" class="d-flex justify-content-center align-items-center" style="        height: calc(100vh - 80px);">
                <div>
                    <div id="secWelcomeAuditoria">
                        <div id="msgWelcomeAuditoria"><b>Menú</div>
                    </div>
                    <div id="barraImg">
                        <div class="mt-4 mb-5"><img src="images/barra_ini.svg"></div>
                    </div>
                    <!-- Contenedores de Mensaje de Bienvenida }-->

                    <div class="modulosTasa">
                        <div class="modulosTasaInt text-center">

                            <div id="divModuloGestionarAuditoria" class="moduloTasa" title="Salud ocupacional">
                                <div>
                                    <div id="moduloSaludOcupacional" onclick="showxMenuSaludOcupacional();">
                                    </div>
                                </div>

                                <div class="labelModulo">Salud ocupacional
                                </div>
                            </div>

                            <div class="moduloSeparador">
                            </div>

                            <div id="divModuloAccionesCorrectivas" class="moduloTasa" title="Higiene ocupacional" style="">
                                <div>
                                    <!--div id="moduloAccionesCorrectivas" onclick="alert('Acciones Correctivas');vistaAuditor ();" >
                                    </div-->
                                    <div id="moduloHigieneOcupacional" onclick="showxMenuHigieneOcupacional();">
                                    </div>
                                </div>

                                <div class="labelModulo">Higiene ocupacional
                                </div>
                            </div>

                            <div class="moduloSeparador">
                            </div>

                            <div id="divModuloConfiguraciones" class="moduloTasa" title="Configuraciones" style="">
                                <div>
                                    <div id="moduloIndicadoresReportes" onclick="showxMenuSaludOcupacional();"></div>
                                </div>

                                <div class="labelModulo">Indicadores y reportes
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
                                    `;

  switch (getCookie("vtas_rolexternalrol" + sessionStorage.tabVisitasa)) {
    case "ROL_RESPONSABLEINSPSSOMA":
      menuc = menuInspecciones;
      break;

    case "ROL_RESPONSABLEPROGSSOMA":
      menuc = menuInspecciones;
      break;

    case "ROL_REPORTANTE":
      menuc = menuObsPreventivas;
      break;

    case "ROL_REPORTANTELIDER":
      menuc = menuObsPreventivas;
      break;

    case "ROL_VISUALIZADORIPERC":
      menuc = menuGestorIPERCVisualizador;
      // menuc = menuGestorPlanAnual
      break;

    case "ROL_RESPONSABLEIPERC":
      // menuc = menuGestorIPERC;
      menuc = menuGestorIPERCValidador; //andy jira ss-412 0-6-2021
      //alert('hay que habilitarle pericon');

      break;

    case "ROL_VALIDADORIPERC":
      menuc = menuGestorIPERCValidador;
      break;

    case "ROL_OBSERVADORPLANANUAL": //@caracas1348 andy 2021 sp3 ssoma
      menuc = menuGestorPlanAnual;
      break;

    case "ROL_EJECUTANTEASIGNADO": //@caracas1348 andy 2021 sp3 ssoma
      menuc = menuEjecutantePlanAnual;
      break;

    case "ROL_REPSONSABLEPLANANUAL": //@caracas1348 andy 2021 sp3 ssoma
      menuc = menuGestorPlanAnual;
      break;

    case "ROL_GESTORINCIDENTE": //@caracas1348 andy 2021 sp4 ssoma
      //menuc = menuAccidenteIncidente
      menuc = menuSaludOcupacional;
      break;

    case "ROL_ADMIN_SALUD": //@caracas1348 andy 2021 sp4 ssoma
      //menuc = menuAccidenteIncidente
      menuc = menuSaludOcupacional;
      break;

    case "ROL_CONSULTOR_SALUD": //@caracas1348 andy 2021 sp4 ssoma
      //menuc = menuAccidenteIncidente
      menuc = menuSaludOcupacional;
      break;

    // default :
    // alert('en el default');
    //     menuc = menuGestorPlanAnual
    // break;

}

$("#IdDivMenuSsoma").html(menuc);


$(document).ready(function() { //-------------------------('document').ready-------------------------------
 
  if( ControlNavHigieneModal ){

    showxMenuHigieneOcupacional();

  }

}); //-------------------------('document').ready-------------------------------



</script>
<!-- Contenedor  Modulos de Sistemas {-->
