
<link rel="stylesheet" href="css/sweetalert2.css">
<!--  ================================================ fin de estilo ===============================================-->

<link rel="stylesheet" href="view/sho-hce/ssoma.css">
<link rel="stylesheet" href="view/sho-hce/interconsultas_transferencias/sho.css">
<link rel="stylesheet" href="css/pagination.css">
<link rel="stylesheet" href="css/auditorLiderList.css">
<link rel="stylesheet" href="css/sass/customize.css?v=3">
<link href="css/crearAuditorias.css" rel="stylesheet" >
<Link href="css/crearAuditorias.css" rel="stylesheet">
<Link href="css/crearProgramas.css" rel="stylesheet">
<link rel="stylesheet" href="js/daterangepicker-master/daterangepicker.css">

<style>

.dropdown-contentX {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentX a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentX a:hover {
  background-color: #ddd;
}

.itemBD
{

 background-color: white !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: black;
}

.itemBD:hover
{

 background-color: #c1c1c1 !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: red;
}








</style>




<div class="container main-content">
  <!-- DATOS DEL TRABAJADOR -->
  <div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-info btn-block btn-lg hide-at"  onclick="fnSp3mostrarAdjuntoSHO(5,0)"  > Imprimir <img class="inject-svg" src="./images/sho/print.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button"  onclick="hcSp3ConfirmCancelarTransferencia();" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="intSp3ConfirmGuardarTrnasferencia()" > Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_int_tran_codigo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" id="dat_int_tran_nombre" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="text" id="dat_int_tran_apellido" disabled>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="input-box-secondary">
          <span>Edad</span>
          <input type="text" id="dat_int_tran_edad" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_int_tran_gerencia" disabled>
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Planta</span>
          <select name="" id="dat_int_tran_planta" disabled>
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_int_tran_area" disabled>
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="text" id="dat_int_tran_puesto" disabled>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DATOS DEL TRABAJADOR -->
  <hr class="mb-5 mt-4" />
  <!-- TRANSFERENCIA -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Transferencia</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary input_hc_sp3">
          <span>Empresa</span>
          <input type="text" id="dat_int_tran_empresa">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary input_hc_sp3">
          <span>Fecha de transferencia</span>
          <input type="date" id="dat_int_tran_fe_transferencia" disabled>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary input_hc_sp3">
          <span>Direccion del trabajador</span>
          <input type="text" id="dat_int_tran_direcciont">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary input_hc_sp3">
          <span>Telefono</span>
          <input type="text" id="dat_int_tran_telefono">
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="input-box-secondary input_hc_sp3">
          <span>Anamnesis</span>
          <input type="text" id="dat_int_tran_anamesis">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN TRANSFERENCIA -->
  <hr class="mb-5 mt-4" />
  <!-- FUNCIONES VITALES -->
  <div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span class="titulo">Funciones vitales</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-1">
        <div class="d-flex">
          <img class=" " src="./images/sho/arterial.svg" alt="" fill="#ff2e2e">
           <span>Presión arterial (mmHg)</span>
        </div>
        <div class="d-flex">
          <div class="input_hc_sp3">
            <label style="position: absolute;top: -20px;"><b>S&iacute;stole</b></label>
            <input class="form-control" type="number" value="0"  min="0" id="dat_int_tran_sv1">
          </div>
          <div class="input_hc_sp3">
            <label style="position: absolute;top: -20px;"><b>Di&aacute;stole</b></label>
            <input class="form-control" type="number" value="0"  min="0" id="dat_int_tran_sv1B">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/cardiaca.svg" alt="" fill="#ff2626">
           <span>Frecuencia cardiaca  (LPM)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv2">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/respiratoria.svg" alt="" fill="#00baff">
          <span>Frecuencia respiratoria (RPM)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv3">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-1">
        <div class="d-flex">
          <img class=" " src="./images/sho/temperatura.svg" alt="" fill="#34a9ff">
          <span>Temperatura (°C)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv4">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/peso.svg" alt="" fill="#004eff">
          <span>Peso (Kg)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0"  value="0" id="dat_int_tran_sv5"  onchange="imc('dat_int_tran_sv5', 'dat_int_tran_sv6', 'dat_int_tran_sv8')" >
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/talla.svg" alt="" fill="#715fff" style="left: 30px">
         <span>Talla (m)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv6"  onchange="imc('dat_int_tran_sv5', 'dat_int_tran_sv6', 'dat_int_tran_sv8')">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-1">
        <div class="d-flex">
          <img class=" " src="./images/sho/saturacion.svg" alt="" fill="#fc2a5a">
          <span>Saturación (%)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv7">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/corporal.svg" alt="" fill="#ffc400">
          <span>Índice de masa corporal <br/> (Peso/Talla&#178;)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="text"  min="0"  value="0" id="dat_int_tran_sv8" disabled>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img class=" " src="./images/sho/abdominal.svg" alt="" fill="#ff8b43">
          <span>Perímetro abdominal (cm)</span>
        </div>
        <div class="input_hc_sp3 ">
          <input class="form-control" type="number"  min="0" value="0" id="dat_int_tran_sv9">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN FUNCIONES VITALES -->
  <hr class="mb-5 mt-4">
  <!-- DIAGNOSTICO CIE 10 -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Diagnóstico CIE 10</span>
      </div>
    </div>
    <div class="row">


      

      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>Diagnóstico</span>
          <!-- <input type="text" id="dat_int_tran_diagn"> -->
            <div class="dropdown" id='listaResultado_INT'>
                  <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn sp3CheckDiagnostico1" placeholder="Diagnóstico" type="text" id="dat_int_tran_diagn"
                   onkeyup="_newDiagnosticoCIE10('dat_int_tran_diagn', 'listaResultadoHijos_TRAN', 'dat_int_tran_cie10', 'dat_amT_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  
                  <div class="dropdown-menu show" id='listaResultadoHijos_TRAN' style="display:none; ">
                    
                  </div>
                </div> 
        </div>
      </div>



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>CIE 10</span>
          <!-- <select name="" id="dat_int_tran_cie10">
            <option value="" selected disabled></option>
          </select> -->

           <!-- select id="dat_int_tran_cie10" ></select>  -->
          <div class="dropdown" id='listaResultado_ii_INT'>
                  <input autocomplete="off" class="dropbtn sp3CheckDiagnostico1" placeholder="CIE 10" style=" font-size: 13px;" type="text" id="dat_int_tran_cie10"
                   onkeyup="_newDiagnosticoCIE102('dat_int_tran_cie10', 'listaResultadoHijos2_TRAN', 'dat_int_tran_diagn', 'dat_amT_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">
                    
                  </div>
                </div> 
          <!-- <input class="input_am_diagnostico" name="" id="dat_int_tran_cie10"> -->
          <input class="" type="hidden" id="dat_amT_cie_diagnostico1">


        </div>




      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_int_tran_sis_af">
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 h">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_int_tran_seccion_af">
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 offset-md-9 col-sm-4">
        <button class="btn btn-success btn-block btn-lg float-right" id="btn_int_diagnostico_agregar" onclick="agregarDignosticoCIE10_Transferencia()" style="width:200px"><a id="lb_bt1">Agregar a lista</a>  <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mt-3 ">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px" id="lb_diag_1_int_t">0 registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table-box table-responsive" id="">
          <thead>
            <tr>
              <th style="width:20%">Diagnóstico</th>
              <th style="width:15%">CIE 10</th>
              <th style="width:15%">Fecha de registro</th>
              <th style="width:20%">Especialidad</th>
              <th style="width:20%">Sistema afectado</th>
              <th style="width:20%">Sección afectada</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table_diagn_cie110_1">
           <!--  <tr>
              <td>Diagnóstico 1</td>
              <td>Tipo 1</td>
              <td>27/08/2021</td>
              <td>Especialidad 1</td>
              <td>Sistema 1</td>
              <td>Sección 1</td>
              <td>
                <button type="button" class="btn btn-link shadow-none float-right">
                  <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="16px">
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="input-box-secondary input_hc_sp3">
          <span>Tratamiento</span>
          <input type="text" id="dat_int_tran_trata" placeholder="Escribir...">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary input_hc_sp3">
          <span>Motivo de transferencia</span>
          <input type="text" id="dat_int_tran_motivo_trans">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary input_hc_sp3">
          <span>Hora de atencion del D.S.O</span>
          <input type="time" id="dat_int_tran_h_dso">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary input_hc_sp3">
          <span>Hora de evaluación</span>
          <input type="time" id="dat_int_tran_h_evol">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DIAGNOSTICO CIE 10 -->
  <hr class="mb-5 mt-4">
  <!-- DIAGNOSTICO CIE 10 -->
  <div>
    <div class="">
      <div class="row mb-5">
        <div class="col-md-12">
          <span class="titulo">Diagnóstico CIE 10</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Diagnóstico</span>
            <!-- <input type="text" id="dat_int_tran_diagn2"> -->
               <!-- <input type="text" id="dat_int_tran_diagn2"> -->
              <div class="dropdown" id='listaResultado_INT2'>
                    <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn sp3CheckDiagnostico2" placeholder="Diagnóstico" type="text" id="dat_int_tran_diagn2"
                     onkeyup="_newDiagnosticoCIE10('dat_int_tran_diagn2', 'listaResultadoHijos_TRAN2', 'dat_int_tran_cie10_2', 'dat_amT2_cie_diagnostico1');" 
                     style='background:white; border:1px solid; color:black;'>
                    
                    <div class="dropdown-menu show" id='listaResultadoHijos_TRAN2' style="display:none; ">
                      
                    </div>
                  </div> 

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>CIE 10</span>
            <!-- <select name="" id="dat_int_tran_cie10_2_2">
              <option value="" selected disabled></option>
            </select> -->

            <!-- select id="dat_int_tran_cie10_2" ></select>  -->
            <div class="dropdown" id='listaResultado_ii_INT2'>
                    <input autocomplete="off" class="dropbtn sp3CheckDiagnostico2" placeholder="CIE 10" style=" font-size: 13px;" type="text" id="dat_int_tran_cie10_2"
                     onkeyup="_newDiagnosticoCIE102('dat_int_tran_cie10_2', 'listaResultadoHijos2_TRAN2', 'dat_int_tran_diagn2', 'dat_amT2_cie_diagnostico1');" 
                     style='background:white; border:1px solid; color:black;'>
                    <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN2' style="display:none; ">
                      
                    </div>
                  </div> 
            <!-- <input class="input_am_diagnostico" name="" id="dat_int_tran_cie10_2"> -->
            <input class="input_am_diagnostico" type="hidden" id="dat_amT2_cie_diagnostico1">


          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary">
            <span>Sistema afectado </span>
            <select name="" id="dat_int_tran_sist_af_2">
              <option value="" selected disabled></option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary ">
            <span>Sección afectada</span>
            <select name="" id="dat_int_tran_seccion_af_2">
              <option value="" selected disabled></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3 offset-md-9 col-sm-4">
          <button class="btn btn-success btn-block btn-lg float-right" id="btn_int_diagnostico_agregar2" onclick="agregarDignosticoCIE10_Transferencia2()" style="width:200px"><a id='lb_bt2'> Agregar a lista </a> <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="d-flex align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id='lb_diag_2_int_t' style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table-box table-responsive" id="">
            <thead>
              <tr>
                <th style="width:20%">Diagnóstico</th>
                <th style="width:15%">CIE 10</th>
                <th style="width:15%">Fecha de registro</th>
                <th style="width:20%">Especialidad</th>
                <th style="width:20%">Sistema afectado</th>
                <th style="width:20%">Sección afectada</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="table_diagn_cie110_2">
             <!--  <tr>
                <td>Diagnóstico 1</td>
                <td>Tipo 1</td>
                <td>27/08/2021</td>
                <td>Especialidad 1</td>
                <td>Sistema 1</td>
                <td>Sección 1</td>
                <td>
                  <button type="button" class="btn btn-link shadow-none float-right">
                    <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="16px">
                  </button>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="input-box-secondary input_hc_sp3">
            <span>Tratamiento</span>
            <input type="text" id="dat_int_tran_trata2" placeholder="Escribir...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="input-box-secondary input_hc_sp3">
            <span>Recibido por:</span>
            <input type="text" id="dat_int_tran_h_dso2">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="input-box-secondary input_hc_sp3">
            <span>Lugar de destino</span>
            <input type="text" id="dat_int_tran_lugard2">
          </div>
        </div>
        <div class="col-md-3 col-sm-6 input_hc_sp3">
          <div class="input-box-secondary">
            <span>Fecha</span>
            <input type="date" id="dat_int_fecha2">
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 d-flex align-items-center">
          <span class="titulo"> Adjuntar archivo </span>
        </div>
      </div>
      <div class="row mt-4">
        <!-- <div class="col-md-12">
          <div class="input_file_upload border-content">
            <label class="btn btn-success btn-lg" for="file_upload_transferencia">
              Subir archivo
              <img class="inject-svg" src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
            </label>
            <input type="file" id="file_upload_transferencia  " accept="application/pdf, .pdf, .doc, docx, .odf" onchange="encodeFiletoBase64(this)">
          </div>
        </div> -->
      </div>
    </div>


    <div class="row mt-4">


      <div class="col-md-3 offset-md-9 col-sm-4">
            <div class="spinner-border spinner-border-sm" id="int_spin_guardar_adjunto_0" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
        <label class="btn btn-success btn-lg float-right" for="file_upload_transferencia_0" id="lb_bt_adjuntarEditar">
          Subir archivo
          <img class="inject-svg" src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
        </label>
        <input type="file" id="file_upload_transferencia_0"  onchange="interSp3GuardarAdjuntoTransferencia(this, 0)" style="display: none;">
      </div>



    </div>


    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <!-- <img src="images/iconos/copia-1.svg" style="width: 20px" /> -->
            <img src="images/iconos/copia-1.svg" id='iconAdjT' style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px"  id='lb_diag_3_int'>0 archivos</span>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table-box" id="table_trans_adjunto_cie">
          <thead>
            <tr>
              <th>Nombre del archivo</th>
              <th>Fecha de carga</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="lb_diag_3_tabla"   >
           <!--  <tr>
              <td>Archivo 1</td>
              <td>27/08/2021</td>
              <td>
                <button type="button" class="btn btn-link shadow-none float-right">
                  <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="16px">
                </button>
                <button type="button" class="btn btn-link shadow-none float-right">
                  <img class="inject-svg" src="./images/sho/download.svg" alt="" fill="#8fbb02" width="16px">
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- FIN DIAGNOSTICO CIE 10 -->
</div>


<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
<script src="js/jsPDF/dist/jspdf.debug.js"></script>
<script src="js/jsPDF/libs/html2pdf.js"></script>
<script src="./js/jsPDF/jspdf_1.5.3.js"></script>
<script src="./js/jsPDF/jspdf_autotable.js"></script>
<script src="view/sho-hce/interconsultas_transferencias/gestionTransferencia.js"></script>
<script type="text/javascript">


$(document).ready(() => {
  SVGInject($(".inject-svg"));
 
});

//alert('que estamos haciendo aqui editando transferencia ')
//vamoa a ver si es insertar o modificar
var a = $('#logoCompany1').html();

console.log(" ·················rrr································",a,"····························································", istAud);

//istAud2 = idHC

console.warn("navTransferenciaAT -> ",navTransferenciaAT)
console.warn("istAud -> ",istAud)

//alert('istAud2 = '+istAud2);
//alert('idHC = '+idHC);
if(navTransferenciaAT){
  istAud = 0
}

if(istAud == 0)
{
  if(navTransferenciaAT){

  }else{
    //alert('que estamos haciendo aqui creando nueva trasnferencia desde hc')
    console.warn("ACCION_TRANSFERENCIA_EO -> ",ACCION_TRANSFERENCIA_EO)
    if( ACCION_TRANSFERENCIA_EO == '' )
    {
        console.warn("1")
        ObjSV_AM.MostrarDataTransferencia();
        fnSp3CargaListadosTrnasferencia3();
        fnSp3CrearNuevaTransferencia();
    }
    else
    {
        console.warn("crear una transferencia desde EO")
        console.warn("OBJ_I ", OBJ_I)
        console.warn("ObjSV_AM ", ObjSV_AM)

        EOSp5CargarDataTransferencias()

        //fnSp3CargaListadosTrnasferencia3()
    }
  }
}
else
{
  
  fnSp3CargaListaFormTransferencia4();
  
}

</script>