<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">
<link href="css/select2.min.css" rel="stylesheet" />

<style>

.dropdown-contentX {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentX a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentX a:hover {
  background-color: #ddd;
}

.itemBD
{

 background-color: white !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: black;
}

.itemBD:hover
{

 background-color: #c1c1c1 !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: red;
}








</style>

<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
<div class="container main-content">
  <!-- DATOS DEL TRABAJADOR -->
  <div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#" class="btn btn-info btn-block btn-lg" onclick="interSp3ImprimirInterconsulta()" id="btn_imprimir_interconsulta" style="display: none;"> Imprimir <img src="./images/sho/print.svg">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <button onclick="hcSp3ConfirmCancelarInterConsulta()" type="button" class="btn btn-danger btn-block btn-lg" id="fn_hc_cancelar"> Cancelar <img src="./images/sho/cancelar.svg">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="intSp3ConfirmGuardarInterConsulta()"> Guardar <img src="./images/sho/confirm.svg">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" class="input_int_sp3" id="dat_int_dni_trabajador_editar" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" class="input_int_sp3" id="dat_int_nombres_trabajador_editar" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="text" class="input_int_sp3" id="dat_int_apellidos_trabajador_editar" disabled>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="input-box-secondary">
          <span>Edad</span>
          <input type="text" class="input_int_sp3" id="dat_int_edad_trabajador_editar" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_int_area_trabajador_editar" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Planta</span>
          <select name="" id="dat_int_planta_trabajador_editar" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_int_gerencia_trabajador_editar" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="text" class="input_int_sp3" id="dat_int_puesto_trabajo_trabajador_editar" disabled>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DATOS DEL TRABAJADOR -->
  <hr class="mb-5 mt-4" />
  <!-- INTERCONSULTA -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Interconsulta</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="text" class="input_int_sp3" id="dat_int_empresa_interconsulta">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de interconsulta</span>
          <input type="date" id="dat_int_fecha_interconsulta" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Interconsulta a la especialidad de</span>
          <select name="" id="dat_int_especialidad_interconsulta" class="input_int_sp3">
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Motivo de interconsulta</span>
          <input type="text" class="input_int_sp3" id="dat_int_motivo_interconsulta">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary">
          <span>Se solicita</span>
          <input type="text" class="input_int_sp3" id="dat_int_solicita_interconsulta">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary">
          <span>Otros</span>
          <input type="text" class="input_int_sp3" id="dat_int_otros_interconsulta">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico a cargo</span>
          <input type="text" class="input_int_sp3" id="dat_int_medico_cargo_interconsulta">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P</span>
          <input type="text" class="input_int_sp3" id="dat_int_cmp_interconsulta">
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 d-flex align-items-center">
        <span class="titulo"> Adjuntar archivo </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="input_file_upload border-content">
          <label class="btn btn-success btn-lg" for="file_upload_interconsulta_0">
            <div class="spinner-border spinner-border-sm" id="int_spin_guardar_adjunto_0" role="status" style="display: none">
              <span class="sr-only">Loading...</span>
            </div>
            <span> Subir archivo </span>
            <img src="./images/sho/upload.svg" />
          </label>
          <input type="file" id="file_upload_interconsulta_0" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="interSp3GuardarAdjuntoInterconsulta(this, 0)">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_int_cantidad_adjunto_0" style="font-size: 15px">0 archivos</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_int_adjunto_interconsulta_0">
            <thead>
              <tr>
                <th style="width: 300px">Nombre del archivo</th>
                <th>Fecha de carga</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_int_adjunto_interconsulta_0">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN INTERCONSULTA -->
  <hr class="mb-5 mt-4" />
  <!-- RESPUESTA A INTERCONSULTA -->
  <div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span class="titulo">Respuesta a interconsulta</span>
      </div>
      <div class="col-md-2 offset-md-7 offset-sm-0 col-sm-6">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>¿Recibió respuesta?</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="recibio_respuesta_int" id="dat_int_recibio_respuesta_si" value="1">
            <label for="dat_int_recibio_respuesta_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="recibio_respuesta_int" id="dat_int_recibio_respuesta_no" value="0">
            <label for="dat_int_recibio_respuesta_no">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Institución de salud</span>
          <input type="text" class="input_int_sp3" id="dat_int_institucion_respuesta">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de respuesta</span>
          <input type="date" class="input_int_sp3" id="dat_int_fecha_respuesta">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Hallazgos de evaluación</span>
          <input type="text" class="input_int_sp3" id="dat_int_hallazgos_respuesta">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Examenes auxiliares</span>
          <input type="text" class="input_int_sp3" id="dat_int_examenes_respuesta">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN RESPUESTA A INTERCONSULTA -->
  <hr class="mb-5 mt-4">
  <!-- DIAGNOSTICO CIE 10 -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Diagnóstico CIE 10</span>
      </div>
    </div>
    <div class="row">



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Diagnóstico</span>
          <!-- <input type="text" class="input_int_sp3_diagnostico" id="dat_int_diagnostico_diagnostico"> dat_int_diagnostico_diagnostico -->
            <div class="dropdown" id='listaResultado_INT'>
                  <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn" class="input_am_diagnostico" placeholder="Diagnóstico" type="text" id="dat_int_diagnostico_diagnostico"
                   onkeyup="_newDiagnosticoCIE10('dat_int_diagnostico_diagnostico', 'listaResultadoHijos_INT', 'dat_int_cie_diagnostico', 'dat_am_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  
                  <div class="dropdown-menu show" id='listaResultadoHijos_INT' style="display:none; ">
                    
                  </div>
                </div> 
        </div>
      </div>



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>CIE 10</span>
         <!--  <select name="" id="dat_int_cie_diagnostico" class="input_int_sp3_diagnostico">
            <option value="" selected disabled></option>
          </select> -->

           <!-- select id="dat_int_cie_diagnostico" ></select>  -->
          <div class="dropdown" id='listaResultado_ii_INT'>
                  <input autocomplete="off" class="dropbtn" placeholder="CIE 10" class="input_am_diagnostico" style=" font-size: 13px;" type="text" id="dat_int_cie_diagnostico"
                   onkeyup="_newDiagnosticoCIE102('dat_int_cie_diagnostico', 'listaResultadoHijos2_INT', 'dat_int_diagnostico_diagnostico', 'dat_am_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  <div class="dropdown-menu show" id='listaResultadoHijos2_INT' style="display:none; ">
                    
                  </div>
                </div> 
          <!-- <input class="input_am_diagnostico" name="" id="dat_int_cie_diagnostico"> -->
          <input class="input_am_diagnostico" type="hidden" id="dat_am_cie_diagnostico1">



        </div>
      </div>



      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_int_sistema_diagnostico" class="input_int_sp3_diagnostico" style=" font-size: 13px;">
          
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_int_seccion_diagnostico" class="input_int_sp3_diagnostico" style=" font-size: 13px;">
          
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 offset-md-9 col-sm-4">
        <button class="btn btn-success btn-block btn-lg float-right" onclick="interSp3GuardarDiagnosticoEditarInterconsulta()" id="btn_int_diagnostico_agregar" style="width:200px"> Agregar a lista
          <img src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_int_cantidad_diagnostico" style="font-size: 15px">0 registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_int_diagnostico">
            <thead>
              <tr>
                <th>Diagnóstico</th>
                <th>CIE 10</th>
                <th>Fecha de registro</th>
                <th>Especialidad</th>
                <th>Sistema afectado</th>
                <th>Sección afectada</th>
                <th>
                  <div class="spinner-border spinner-border-sm float-right" id="int_spin_diagnostico" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody id="content_int_diagnostico">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="text" class="input_int_sp3" id="dat_int_tratamiento_diagnostico" placeholder="Escribir...">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DIAGNOSTICO CIE 10 -->
  <hr class="mb-5 mt-4">
  <!-- RECOMENDACIONES -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Recomendaciones</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-box-secondary">
          <span>Recomendaciones</span>
          <input type="text" class="input_int_sp3" id="dat_int_recomendaciones_recomendaciones" placeholder="Escribir...">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>¿Requiere de controles posteriores?</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="posteriores_int" value="1" id="dat_int_controles_recomendaciones_si">
            <label for="dat_int_controles_recomendaciones_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="posteriores_int" value="0" id="dat_int_controles_recomendaciones_no">
            <label for="dat_int_controles_recomendaciones_no">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>Aptitud para laborar en ocupación y aptitud indicada (Sólo para Médicos)</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="aptitud_int" value="1" id="dat_int_aptitud_recomendaciones_si">
            <label for="dat_int_aptitud_recomendaciones_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="aptitud_int" value="0" id="dat_int_aptitud_recomendaciones_no">
            <label for="dat_int_aptitud_recomendaciones_no">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de proximo control</span>
          <input type="date" class="input_int_sp3" id="dat_int_fecha_proximo_recomendaciones">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico/ Evaluador</span>
          <input type="text" class="input_int_sp3" id="dat_int_medico_evaluador_recomendaciones">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input type="text" class="input_int_sp3" id="dat_int_cmp_recomendaciones">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>R.N.E.</span>
          <input type="text" class="input_int_sp3" id="dat_int_rne_recomendaciones">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Otro</span>
          <input type="text" class="input_int_sp3" id="dat_int_otros_recomendaciones">
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 d-flex align-items-center">
        <span class="titulo"> Adjuntar archivo </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="input_file_upload border-content">
          <label class="btn btn-success btn-lg" for="file_upload_interconsulta_1">
            <div class="spinner-border spinner-border-sm" id="int_spin_guardar_adjunto_1" role="status" style="display: none">
              <span class="sr-only">Loading...</span>
            </div>
            <span> Subir archivo </span>
            <img src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
          </label>
          <input type="file" id="file_upload_interconsulta_1" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="interSp3GuardarAdjuntoInterconsulta(this, 1)">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_int_cantidad_adjunto_1" style="font-size: 15px">0 archivos</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_int_adjunto_interconsulta_1">
            <thead>
              <tr>
                <th style="width: 300px">Nombre del archivo</th>
                <th>Fecha de carga</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_int_adjunto_interconsulta_1">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN RECOMENDACIONES -->
</div>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(() => {
    SVGInject($(".inject-svg"));
    //$('#dat_int_cie_diagnostico').select2();
    //$('.select2-container').css('width', '100%');
    // $('#dat_int_cie_diagnostico').select2();
  });




  //alert('que pasa aquiiiiiiiiiiiiiiiiiiiii');

  console.log("maximo z-index a partir de body", maximoZindex($("body")));

    //// PARA EL MODULO DE ENFERMEDADES OCUPACIONALES
    if(ID_TIPO_ORIGEN===3)
    {
        console.warn("venimos de enfermedades ocupacionales")
        fnEOCargaDataInterconsulta()
    }


</script>