.null-program{
    padding: 21px 0px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #ffa8a8;
    background-color: #fff0f0;
    color: #ff4040;
}

.lista-buscador{
    list-style: none;
    border: 1px solid #c8c8c8;
    border-bottom: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    max-height: 200px;
    overflow: auto;
}

.item-buscador{
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #c8c8c8;
    font-size: 13px;
    cursor: pointer;
}

.swal2-icon.swal2-warning {
    border-color: #44b5ff;
    color: #44b5ff;
}