<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/sho.css"
/>
<link rel="stylesheet" href="./css//css/sho.css" />
<link rel="stylesheet" href="view/sho-hce/sho.css" />
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link
  rel="stylesheet"
  href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css"
/>
<link rel="stylesheet" href="css/sho.css" />
<link rel="stylesheet" href="css/sweetalert2.css" />
<link href="css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/pagination.css" />
<link
  rel="stylesheet"
  href="./view/sho-hce/interconsultas_transferencias/sho.css"
/>
<link rel="stylesheet" href="css/sweetalert2.css" />
<link
  rel="stylesheet"
  href="./view/sho-hce/interconsultas_transferencias/sho.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css"
/>

<!-- Page JS Plugins BOTONES -->
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"
></script>
<!-- FIN Page JS Plugins BOTONES -->

<script
  type="text/javascript"
  src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"
></script>

<style type="text/css">
  .btn-table {
    justify-content: flex-end;
    padding-right: 5px;
  }

  .dataTables_wrapper {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar {
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: #44b5ff !important;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 3px !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
    border: solid 1px #ededed !important;
    background-color: #f8f8f8 !important;
  }

  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px !important;
  }

  table.dataTable {
    border-spacing: 0px 5px !important;
  }

  .circulo {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #707070;
  }

  .Rectngulo-16 {
    width: 55px;
    height: 55px;
    margin: 32px 80px 28px 11px;
    padding: 24.2px 20.1px 22.2px 20.1px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #01719d;
  }

  .marginrl {
    margin-left: 10px;
    margin-right: 10px;
    width: 14%;
  }
</style>

<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-6 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="" type="button" class="btn btn-primary btn-block btn-lg" id="fn_hc_cancelar">
                    Emitir formato <img src="./images/sho/print.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="" type="button" class="btn btn-danger btn-block btn-lg" id="fn_hc_cancelar">
                    Cerrar registro <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" id="fn_hc_guardar" onclick="">
                    Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary box-backg-white">
                    <span>Tipo de registro E.O.</span>
                    <select name="" id="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary box-backg-white">
                    <span>Seleccionar Planta</span>
                    <select name="" id="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary ox-backg-white">
                    <span>Mes de emisión</span>
                    <select name="" id="">
                        <option value="">Mes 1</option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Estado</span>
                    <select name="" id="">
                    </select>
                </div>
            </div>
        </div>
        <!-- titulo de adjuntar -->
        <div class="row mt-4">
            <div class="col-md-12 d-flex align-items-center">
                <span class="titulo"> Adjuntar archivos </span>
            </div>
        </div>
        <!-- aquí se sube los archivos -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="input_file_upload border-content">
                    <div style="margin-top:50px; margin-bottom: 40px;">

                        <label class="btn btn-success btn-lg float-center" for="file_upload_transferencia_0"
                            id="lb_bt_adjuntarEditar">
                            Subir archivo
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.689" height="15.524"
                                data-inject-url="http://localhost/showebTasa/images/sho/upload.svg"
                                class="inject-svg" fill="#fff" style="width:14px !important">
                                <path data-name="Trazado 1151"
                                    d="M10.6 12.548V4.5L13.1 7l1.075-1.075-4.34-4.34L5.5 5.926 6.58 7l2.5-2.5v8.05zm6.084 3.042V8.745h-1.516v6.844H4.521V8.745H3v6.844a1.521 1.521 0 0 0 1.521 1.521h10.647a1.521 1.521 0 0 0 1.521-1.521z"
                                    transform="translate(-3 -1.586)" style="fill:#fff;fill-rule:evenodd"></path>
                            </svg>
                        </label>
                        <input type="file" id="file_upload_transferencia_0"
                            onchange="agregarAdjunto_1_dm(this, 0)" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <!-- sección tabla -->
        <div class="w-100">
            <table class="table-box" id="EA-table">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha de salida</th>
                        <th>
                            <div class="spinner-border spinner-border-sm float-right" id="hc_spin_examen"
                                role="status" style="display: none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                </td>
                </tr>
                <!-- cuerpo de tabla -->
                <tr class="item_ant_oc item_ant_3" data-idexamen="37">
                    <td><span>Documento 1.PDF</span></td>
                    <td><span>21/10/2021</span></td>
                    <td>
                        <!-- Botones de opciones-->
                        <div class="dropdown float-right dropleft">
                            <div class="more-info" id="item_am_diagnostico_1" data-toggle="dropdown">
                                <img src="images/iconos/menu_responsive.svg" alt="">
                            </div>
                            <div class="dropdown-menu" aria-labelledby="item_am_diagnostico_1">
                                <ul>
                                    <li onclick="dgSp3EditarExamen(37)" id="btn_examen_editar">
                                        <img src="./images/iconos/delete_list.svg">
                                        <span>Eliminar</span>
                                    </li>
                                    <li onclick="dgSp3EliminarExamen(37)">
                                        <img src="./images/iconos/download3.svg">
                                        <span>Descargar documento</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Efermedad ocupacional 6.3 -->
<style>
    .filaBandeja {
        margin-left: -8px !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        border: solid 1px #C8C8C8 !important;
        background-color: #f2f2f2 !important;
        color: #1C1C1C !important;
    }

    .filaBandejaAm {
        margin-left: -8px !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        border: solid 1px #C8C8C8 !important;
        background-color: #f2f2f2 !important;
        color: #1C1C1C !important;
    }

    .dropdown-contentX {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-contentX a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-contentX a:hover {
        background-color: #ddd;
    }

    .itemBD {
        background-color: white !important;
        width: 800px !important;
        border-right: 1px solid;
        cursor: pointer;
        color: black;
    }

    .itemBD:hover {
        background-color: #c1c1c1 !important;
        width: 800px !important;
        border-right: 1px solid;
        cursor: pointer;
        color: red;
    }

</style>