<!-- DATOS GENERALES -->
<link rel="stylesheet" href="css/pagination.css" />

<!-- scripts -->
<script
  src="./view/sho-hce/salud_ocupacional/js/index.js"
  type="text/javascript"
></script>
<script
  src="./view/sho-hce/salud_ocupacional/js/list.js"
  type="text/javascript"
></script>
<script
  src="./view/sho-hce/salud_ocupacional/js/routes.js"
  type="text/javascript"
></script>
<script
  src="./view/sho-hce/salud_ocupacional/js/create.js"
  type="text/javascript"
></script>
<!-- 
<div class="row">
  <div class="col-md-6 d-flex align-items-center">
    <span class="titulo"> Enfermedad ocupacional </span>
  </div>
  <div class="col-md-6 d-flex justify-content-end align-items-center">
    <span
      style="font-weight: 600; color: #01719d; cursor: pointer"
      id="ocultar_datos_dg"
    >
      Ocultar datos
    </span>
    <span
      style="font-weight: 600; color: #01719d; cursor: pointer; display: none"
      id="mostrar_datos_dg"
    >
      Mostrar datos
    </span>
  </div>
</div>
<div class="row mt-5 d-flex align-items-center" id="datos_generales_content">
  <div class="col-md-2" id="content_img_datos_generales">
    <div
      class="img-perfil"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        class="spinner-border text-light"
        id="hc_spin_adjuntar_imagen"
        role="status"
        style="position: absolute; display: none"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <label for="img_input_file_perfil" style="cursor: pointer; margin: 0">
        <img id="img_file_perfil" alt="" style="display: block" />
      </label>
      <input
        id="img_input_file_perfil"
        type="file"
        onchange="encodeImgtoBase64(this)"
        style="display: none"
      />
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-12">
        <span
          style="font-size: 20px; font-weight: 600; color: #254373"
          id="dat_dg_nombres"
        ></span>
        <span
          style="font-size: 20px; font-weight: 600; color: #254373"
          id="dat_dg_apellidos"
        ></span>
      </div>
    </div>
    <div class="row mt-3" id="datos_hc_general_trabajador">
      <div class="col-4 my-1">
        <b>DNI:</b> <span id="dat_dg_dni_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Sexo:</b> <span id="dat_dg_sexo_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Edad:</b> <span id="dat_dg_edad_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Puesto:</b> <span id="dat_dg_puesto_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Área:</b> <span id="dat_dg_area_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Gerencia:</b> <span id="dat_dg_gerencia_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Planta:</b> <span id="dat_dg_planta_trabajador"></span>
      </div>
    </div>
  </div>
  <div class="col-md-3" id="botones_datos_generales">
    <div class="row">
      <div class="col-12 btn_interacciones_datos_generales">
        <button
          onclick="onAtrasHistoriaClick(13);amSp3NuevaAtencionMedica(idHC,2)"
          class="btn btn-success btn-block btn-lg"
          style="width: 200px; float: right"
        >
          Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
      </div>
      <div class="col-12 btn_interacciones_datos_generales">
        <button
          onclick="atSp4VerDatosCompletoTrabajador()"
          class="btn btn-link shadow-none btn-block btn-lg"
          style="width: 200px; float: right"
        >
          Ver datos completos
        </button>
      </div>
    </div>
  </div>
</div>-->
<!-- fin section de datos trabajador -->

<div class="row mb-5">
    <div class="col-md-12 d-flex justify-content-between align-content-center">
        <h2 class="title-section d-flex"><span class="m-auto titulo">Enfermedad ocupacional</span></h2>
        <span class="subtitulo" id="MostrarDatos" style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
        <span class="subtitulo" id="OcultarDatos" style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-2 show-more">
      <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
        <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
          <img id="img_file_perfil" name="img_file_perfil">
        </label>
        <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
      </div>
    </div>
    <div class="col-md-9 show-less" style="display:none">
      <div class="row">
        <div class="col-md-2 mr-2">
          <div class="img-perfil" 
            style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
              <img name="img_file_perfil">
            </label>
            <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
    </div>
    <div class="col-md-7 show-more">
      <div class="row">
        <div class="col-12">
          <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
      <div class="row mt-3 show-more">
        <div class="col-4 my-1">
          <b>DNI:</b> <span id="dni_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Sexo:</b> <span id="sexo_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Edad:</b> <span id="edad_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Puesto:</b> <span id="puesto_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Área:</b> <span id="area_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Gerencia:</b> <span id="gerencia_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Planta:</b> <span id="planta_trabajador"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">    
      <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
      onclick="onAtrasHistoriaClick(13); amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
      </button>
      <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
       onclick="VerDatosCompletoTrabajador(idHC)">Ver datos completos</span>
    </div>
  </div>

  <hr class="mt-4">




<!--<hr class="mt-4 p-2" />-->
<!-- incio sección investigaciones -->
<!-- titulo y  boton de nueva investigación-->
<div class="row mb-5 d-flex align-items-center">
  <div class="col-md-6 col-sm-6 mr-auto p-2">
    <span class="titulo"> Lista de investigaciones E.O. </span>
  </div>
  <div class="col-md-2 col-sm-6 p-2">
    <button
      type="button"
      class="btn btn-success btn-block btn-lg"
      onclick="onAtrasHistoriaClick(13); sp5ViewFormInvestigacion(); initNewInvestigacion();"
      style="width: 200px; float: right"
    >
      Nueva investigación
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18px"
        height="15"
        fill="#fff"
        viewBox="0 0 15 15"
        data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
        class="inject-svg"
      >
        <path
          fill="#fff"
          d="M9.107 8.84c-.148 0-.268.12-.268.267V15H6.161V9.107c0-.148-.12-.268-.268-.268H0V6.161h5.893c.148 0 .268-.12.268-.268V0h2.678v5.893c0 .148.12.268.268.268H15v2.678H9.107z"
        ></path>
      </svg>
    </button>
  </div>
  <div
    class="col-md-6 col-sm-6 mr-auto p-2 d-none"
    id="enfermedades-cronicas-empty"
  >
    <span class="titulo" style="font-size: 17px !important">
      No se han registrado enfermedades crónicas
    </span>
  </div>
</div>

<!-- tabla lista de investigaciones-->
<script>
  listInvestigacionesEO(IdHC);
</script>
<!-- Encabezado de tabla 3-->
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table-box" id="EA-table">
      <thead>
        <tr>
          <th>Nro de caso</th>
          <th>F. registro de identificación</th>
          <th>F. registro de Investigación</th>
          <th>F. final de investigación</th>
          <th>Diagnósticos iniciales</th>
          <th>Diagnósticos finales</th>
          <th>Estado</th>
          <th>
            <div
              class="spinner-border spinner-border-sm float-right"
              id="hc_spin_examen"
              role="status"
              style="display: none"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </th>
        </tr>
      </thead>
      <!-- cuerpo de tabla -->
      <tbody id="list-investigaciones-EO">
        <!-- aquí se carga los datos -->
      </tbody>
    </table>
  </div>
</div>

<!-- section oculta -->
<div class="collapse" id="EnfermedadesOcupacionalesConfirmada">
  <!--  -->
  <hr class="mt-4 p-3" />
  <!-- título -->
  <span class="titulo"> Enfermedades ocupacionales confirmadas </span>
  <!-- nro casos -->
  <div class="">
    Nro de caso: <b><span id="NroCasoEO">21102021001</span></b>
  </div>
  <div class="p-4"></div>
  <div class="d-flex align-items-center">
    <div id="cant_planes">
      <img src="images/iconos/copia-1.svg" style="width: 20px" />
    </div>
    <span class="cantidad ml-3" id="cant_ieo_confimadas" style="font-size: 15px"
      >1 registros</span
    >
  </div>
  <!-- tabla 2 -->
  <!-- Encabezado de tabla 2 -->
  <div class="col-md-12">
    <table class="table-box" id="EA-table">
      <thead>
        <tr>
          <th>Nombre de la enfermedad</th>
          <th>F. Registro de identificaci&oacute;n</th>
          <th>Cantidad de descansos m&eacute;dicos</th>
          <th>
            <div
              class="spinner-border spinner-border-sm float-right"
              id="hc_spin_examen"
              role="status"
              style="display: none"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </th>
        </tr>
      </thead>

      <!-- cuerpo de tabla -->
      <tbody id="ListConfirmadas">
        <tr class="item_ant_oc item_ant_3" data-idexamen="37">
          <td><span>Nombre 1</span></td>
          <td><span>21/10/2021</span></td>
          <td><span>10</span></td>
          <td>
            <!-- Botones de opciones-->
            <div class="dropdown float-right dropleft">
              <div
                class="more-info"
                id="item_am_diagnostico_1"
                data-toggle="dropdown"
              >
                <img src="images/iconos/menu_responsive.svg" alt="" />
              </div>
              <div
                class="dropdown-menu"
                aria-labelledby="item_am_diagnostico_1"
              >
                <ul>
                  <li onclick="dgSp3EliminarExamen(37)">
                    <img src="./images/sho/ojo.svg" />
                    <span>Ver detalle</span>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-3"></div>
</div>

<!-- section oculta -->
<div class="collapse" id="ListadosMedicosEnfermedadesOcupacionalesConfirmada">
  <!-- sección con pestañas -->

  <div class="row mb-5 row-enfermedad-cronica">
    <div class="col-md-12">
      <div class="d-flex" id="menuTags" style="justify-content: space-between">
        <ul class="nav nav-pills mb-5" id="myTab-2" role="tablist">
          <li class="nav-item mb-3">
            <a
              class="nav-link active show"
              id="des_med-tab-2"
              data-toggle="tab"
              href="#des_med-2"
              role="tab"
              aria-controls="des_med-2"
              aria-selected="true"
              >Descanso médico</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="transf-tab-2"
              data-toggle="tab"
              href="#transf-2"
              role="tab"
              aria-controls="transf-2"
              aria-selected="false"
              >Transferencias</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="inter_consul-tab-2"
              data-toggle="tab"
              href="#inter_consul-2"
              role="tab"
              aria-controls="inter_consul-2"
              aria-selected="false"
              >Interconsulta</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="hist_coment-tab-2"
              data-toggle="tab"
              href="#hist_coment-2"
              role="tab"
              aria-controls="hist_coment-2"
              aria-selected="false"
              >Historial de comentarios</a
            >
          </li>
        </ul>

        <div class="col-md-2 col-sm-6">
          <button
            type="button"
            class="btn btn-success btn-block btn-lg"
            onclick="sp5ViewDescansosTransferenciasInterconsultas();"
          >
            Nuevo registro
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18px"
              height="15"
              fill="#fff"
              viewBox="0 0 15 15"
              data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
              class="inject-svg"
            >
              <path
                fill="#fff"
                d="M9.107 8.84c-.148 0-.268.12-.268.267V15H6.161V9.107c0-.148-.12-.268-.268-.268H0V6.161h5.893c.148 0 .268-.12.268-.268V0h2.678v5.893c0 .148.12.268.268.268H15v2.678H9.107z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="tab-content mt-5" id="myTabContent-2">
        <div
          class="tab-pane fade active show"
          id="des_med-2"
          role="tabpanel"
          aria-labelledby="des_med-tab-2"
        >
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <div id="cant_planes-2">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px"
                ><span id="IEO_DesMedCount">0</span> registros</span
              >
            </div>
          </div>

          <div class="table-responsive">
            <table class="table-box" id="IEO_TitlesDescansosMedicos">
              <thead>
                <tr>
                  <th>F. Inicio</th>
                  <th>F. Fin</th>
                  <th>Días</th>
                  <th>Días acumulados</th>
                  <th>Días restantes</th>
                  <th>Diagnóstico</th>
                  <th>Tipo de contingencia</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="IEO_ListadoDescansosMedicos">
                <tr class="table-empty">
                  <td colspan="9" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                  <!--  <td>        <div class="dropdown float-right dropleft">
                    <div class="more-info" id="item_am_diagnostico_1" data-toggle="dropdown">
                      <img src="images/iconos/menu_responsive.svg" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="item_am_diagnostico_1">
                      <ul>
                        <li onclick="dgSp3EliminarExamen(37)">
                          <img src="./images/sho/ojo.svg">
                          <span>Ver detalle</span>
                        </li>
                      </ul>
                    </div>
                  </div></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="transf-2"
          role="tabpanel"
          aria-labelledby="transf-tab-2"
        >
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <div id="cant_planes-2">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px"
                ><span id="IEO_TransfCount">0</span> registros</span
              >
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_sp4EnferCron_transf-2">
              <thead>
                <tr>
                  <th>Código de transferencia</th>
                  <th>Establecimiento</th>
                  <th>Fecha de transferencia</th>
                  <th>Recepción de constancia</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="IEO_ListadoTransferencias">
                <tr class="table-empty">
                  <td colspan="5" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                  <!--  <td>        <div class="dropdown float-right dropleft">
                    <div class="more-info" id="item_am_diagnostico_1" data-toggle="dropdown">
                      <img src="images/iconos/menu_responsive.svg" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="item_am_diagnostico_1">
                      <ul>
                        <li onclick="dgSp3EliminarExamen(37)">
                          <img src="./images/sho/ojo.svg">
                          <span>Ver detalle</span>
                        </li>
                      </ul>
                    </div>
                  </div></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="inter_consul-2"
          role="tabpanel"
          aria-labelledby="inter_consul-tab-2"
        >
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px"
                ><span id="IEO_InterCount">0</span> registros</span
              >
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_sp4EnferCron_inter_consul-2">
              <thead>
                <tr>
                  <th>Código de interconsulta</th>
                  <th>F. Emisión</th>
                  <th>Especialidad</th>
                  <th>Recepcion de respuesta</th>
                  <th>Aptitud</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="IEO_ListadoInterconsulta">
                <tr class="table-empty">
                  <td colspan="7" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                  <!-- <td>        <div class="dropdown float-right dropleft">
                    <div class="more-info" id="item_am_diagnostico_1" data-toggle="dropdown">
                      <img src="images/iconos/menu_responsive.svg" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="item_am_diagnostico_1">
                      <ul>
                        <li onclick="dgSp3EliminarExamen(37)">
                          <img src="./images/sho/ojo.svg">
                          <span>Ver detalle</span>
                        </li>
                      </ul>
                    </div>
                  </div></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="hist_coment-2"
          role="tabpanel"
          aria-labelledby="hist_coment-tab-2"
        >
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <div id="cant_planes-2">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px"
                ><span id="IEO_SeguimCount">0</span> registros</span
              >
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_sp4EnferCron_hist_coment-2">
              <thead>
                <tr>
                  <th>Fecha de registro</th>
                  <th width="700px">Comentarios</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="IEO_ListadoSeguimientos">
                <tr class="table-empty">
                  <td colspan="3" class="text-center text-uppercase">
                    No hay informacion registrada
                  </td>
                  <!-- <td>        <div class="dropdown float-right dropleft">
                    <div class="more-info" id="item_am_diagnostico_1" data-toggle="dropdown">
                      <img src="images/iconos/menu_responsive.svg" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="item_am_diagnostico_1">
                      <ul>
                        <li onclick="dgSp3EliminarExamen(37)">
                          <img src="./images/sho/ojo.svg">
                          <span>Ver detalle</span>
                        </li>
                      </ul>
                    </div>
                  </div></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./view/sho-hce/descansos_medicos/gestionDescansoMedico.js"></script>
<script src="./view/sho-hce/atenciones_medicas/gestionAtencionesMedicaBandeja.js"></script>

<!-- view\sho-hce\descansos_medicos\gestionDescansoMedico.js -->
<script>
  window.paginaBack.enfermedadOcupacional = false;

  $(document).ready(function() {

  _init_DatosGeneralesHistoria(idHC);

  $('#MostrarDatos').on('click',onClickMostrarDatosGeneral);
  $('#OcultarDatos').on('click',onClickOcultarDatosGeneral);
      loadCIEdataGlobal();
});

</script>
