<link rel="stylesheet" href="css/sweetalert2.css" />
<link rel="stylesheet" href="css/sho.css" />
<!--  ================================================ fin de estilo ===============================================-->
<link rel="stylesheet" href="view/sho-hce/ssoma.css" />
<link rel="stylesheet" href="css/pagination.css" />
<link rel="stylesheet" href="css/auditorLiderList.css" />
<link rel="stylesheet" href="css/sass/customize.css?v=3" />
<link href="css/crearAuditorias.css" rel="stylesheet" />
<link href="css/crearAuditorias.css" rel="stylesheet" />
<link href="css/crearProgramas.css" rel="stylesheet" />
<link rel="stylesheet" href="js/daterangepicker-master/daterangepicker.css" />

<link
  rel="stylesheet"
  href="./view/sho-hce/historia_clinica/css/dataTable.css"
/>

<!-- Page JS Plugins BOTONES -->
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"
></script>
<!-- dinamismo del form -->
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/index.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/create.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/formInvestigaciones.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/adjuntos.js"
></script>
<!-- exportables -->
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/reports/reportIEOADSO.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/reports/reportIEOC.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/reports/reportIEODT.js"
></script>
<script
  type="text/javascript"
  src="./view/sho-hce/salud_ocupacional/js/reports/reportIEOMP.js"
></script>
<!-- FIN Page JS Plugins BOTONES -->

<div class="container main-content form-investigacion-emp">
  <div class="row mb-2 justify-content-center">
    <div class="col-md-6 col-sm-12">
      <span class="titulo">Nro de caso: <span id="numero-caso-investigacion">21102021001</span> </span>
    </div>
    <div class="col-md-6 col-sm-12 justify-content-end row">
      <div class="col-md-5">
        <button type="button" onclick="cancelarFormInvestigacion()" class="btn btn-danger btn-block btn-lg">
          Cancelar <img src="./images/sho/cancelar.svg" alt="" />
        </button>
      </div>
      <div class="col-md-5">
        <button type="button" id="botton_form_invest_save" onclick="sendInvestigacionToServer()" class="btn btn-success btn-block btn-lg">
          Guardar <img src="./images/sho/confirm.svg" alt="" />
          <div
            class="spinner-border spinner-border-sm"
            id="am_spin_guardar_investigacion_boton"
            role="status"
            style="display: none"
                >
                  <span class="sr-only">Loading...</span>
                </div>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="form-input form-input--select">
        <span>Estado</span>
        <select class="type-select" id="codigo_estado_enfermedadOcupacional"  name="codigo_estado_enfermedadOcupacional">
          <option value="1" selected>Abierto</option>
          <option value="2">Cerrado</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-2 mb-3 justify-content-end">
    <div class="col-md-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Declaración del trabajador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Evaluación DSO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-especialistas-tab" data-toggle="pill" href="#pills-especialistas" role="tab" aria-controls="pills-contact" aria-selected="false">Evaluación higiene</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-evaluaciones-esp" data-toggle="pill" href="#pills-evaluacion-esp" role="tab" aria-controls="pills-evaluacion-esp" aria-selected="false">Evaluación especialistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-conclusinones-tab" data-toggle="pill" href="#pills-conclusiones" role="tab" aria-controls="pills-conclusiones" aria-selected="false">Conclusiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-medidas-tab" data-toggle="pill" href="#pills-medidas" role="tab" aria-controls="pills-medidas" aria-selected="false">Medidas preventivas</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- main section tab -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <!-- boton descargar --->
      <div class="row mt-2 mb-3 justify-content-end">
        <div class="col-md-3">
          <button class="btn btn-info btn-lg text-center btn-block" onclick="pdfIEODT()">
            <span class="ml-3">Emitir formulario de IEO</span>
          </button>
        </div>
      </div>
      <!-- seccion cabecera --->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span>Nro de documento</span>
            <input class="type-text" type="text" id="NroDocumento_Trabajador_H" disabled />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span>Nombres</span>
            <input class="type-text" type="text" id="iNombres_Trabajador_H" disabled />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span>Apellidos</span>
            <input class="type-text" type="text" id="Apellidos_Trabajador_H" disabled />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span>Edad</span>
            <input class="type-text" type="text" id="Edad_Trabajador_H" disabled />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span>Gerencia</span>
            <input class="type-text" name="" id="gerencia_work_empleado" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span>Planta</span>
            <input class="type-text" name="" id="planta_work_empleado" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span>Área</span>
            <input class="type-text" name="" id="area_work_empleado" disabled>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span>Puesto de trabajo</span>
            <select class="type-select" name="" id="CargoJefe_Empresa_H" disabled>
              <option value="1" selected></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span>Turno</span>
            <select class="type-select" name="turno_trabajo" id="turno_trabajo">

              <option value="1" selected>Mañana</option>
              <option value="2" selected>Tarde</option>

            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span class="span-litle">F. De Inicio de labores en el puesto</span>
            <input class="type-text" type="date" id="inicio_laborares"/>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--select">
            <span class="span-litle">Día del turno en que se encuentra</span>
            <input type="number" id="turno_encuentra">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-input form-input--text">
            <span class="span-litle">F. De Inicio de labores en la empresa</span>
            <input class="type-text" type="text" id="A_FechaIngresoTasa" disabled />
          </div>
        </div>
      </div>
      <!--  Adjuntar archivos en investigacion -->
      <div>
        <div class="row mt-4">
          <div class="col-md-8 d-flex align-items-center">
            <span class="titulo"> Adjuntar archivos </span>
          </div>
          <div class="col-md-4 col-12 d-flex justify-content-end hidden" id="seccion-boton-subir-adjunto-investigacion-top">
            <label class="btn btn-success btn-lg" for="file_adjunto_investigacion_evaluacion">
              <span id="text_adjuntar_inv_file"> Subir archivo </span>
              <div
                  class="spinner-border spinner-border-sm"
                  id="am_spin_guardar_adjunto_descanso"
                  role="status"
                  style="display: none"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              <img src="./images/sho/upload.svg" id="icon-guardar-investigacion-form" style="width: 14px !important" />
            </label>
          </div>
        </div>
        <!-- box principal adjuntar -->
        <div class="row mt-4" id="box-btn-subir-adjunto-investigacion-center">
          <div class="col-md-12">
            <div class="input_file_upload border-content">
              <label class="btn btn-success btn-lg" for="file_adjunto_investigacion_evaluacion">
                <div
                  class="spinner-border spinner-border-sm"
                  id="am_spin_guardar_adjunto_descanso"
                  role="status"
                  style="display: none"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <span id="text_adjuntar_inv_file"> Subir archivo </span>
                <img src="./images/sho/upload.svg" style="width: 14px !important" />
              </label>
              <input
                type="file"
                id="file_adjunto_investigacion_evaluacion"
                accept="application/pdf, .pdf, .doc, docx, .odf"
                onchange="adjuntoLoadInHtml(this)"
              />
            </div>
          </div>
        </div>
        <!-- tabla de archivos -->
        <div class="d-flex mb-3 mt-3 hidden" id="table_adjuntar_files_investigacion">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>fecha de subida</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_adjunto_investigaciones_enfermedadOcupacional">
                <!-- cargaran los adjuntos -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end section 1 -->
      <hr />
      <div>
        <div class="row mt-4">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Lista de puestos de trabajo </span>
          </div>
        </div>
        <!-- end and start -->
        <div class="d-flex mb-3 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Nombre del puesto</th>
                  <th>Área</th>
                  <th>Gerencia</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_puestos_trabajo_list_sp5">
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-6">
            <div class="form-input form-input--text">
              <span>Domicilio</span>
              <input class="type-text" type="text" id="domicio_puesto" disabled="true" />
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-input form-input--text">
              <span>Celular</span>
              <input class="type-text" type="text" id="celular_puesto" disabled="true" />
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-input form-input--text">
              <span class="span-litle">Número de trabajadores en el puesto</span>
              <input class="type-text" type="text" id="numero_traba_puesto" disabled="true" />
            </div>
          </div>
        </div>
      </div>
      <!-- end section 2 -->
      <hr />
      <div class="mt-3 mb-3">
        <div class="row mt-4 mb-2">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Datos de la empresa </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 col-sm-6">
            <div class="form-input form-input--text">
              <span>Nombre de empresa</span>
              <input class="type-text" type="text" id="nombre_empresa_trabajo" disabled="true" />
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-input form-input--text">
              <span>Dirección</span>
              <input class="type-text" type="text" id="direction_empresa_trabajo" disabled="true" />
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-input form-input--text">
              <span class="span-litle">Tipo de actividad de la empresa</span>
              <input class="type-text" type="text" id="tipo_actividad_empresa" disabled="true" />
            </div>
          </div>
        </div>
      </div>

      <!-- end section 2 -->

      <hr />
      <div class="mt-2 mb-2">
        <div class="row mt-4 mb-3">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Datos de la enfermedad </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 col-sm-6">
            <div class="form-input form-input--text">
              <span>Fecha de registro</span>
              <input disabled="" class="type-text" type="text" id="fecha_registro_enfermedad" />
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-input form-input--text">
              <span>Hora de registro</span>
              <input disabled="" class="type-text" type="text" id="hora_registro_enfermedad" />
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-input form-input--text">
              <span class="span-litle">Actividad rutinaria del puesto</span>
              <input class="type-text" type="text" id="activida_rutinaria_enfermedad" />
            </div>
          </div>
        </div>
      </div>

      <!-- end section 3 -->

      <hr />
      <div class="mt-2 mb-2">
        <div class="row mt-4 mb-2">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Motivo de consulta </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-input form-input--text">
              <span class="opaco">Relato de las molestias o síntomas</span>
              <input class="type-text" type="text" id="relato_molestia_consulta" />
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo">
              Insumo, materiales o equipos empleados en su puesto actual
            </span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 col-sm-12">
            <div class="form-input form-input--text">
              <span class="opaco">Insumo, material, equipo</span>
              <input class="type-text" type="text" id="insumos_materiales" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 row justify-content-end">
            <div class="col-md-6">
              <button type="button" id="insumos_materiales__button" onclick="addInsumoToInvestigacion()" class="btn btn-success btn-block btn-lg">
                Agregar a lista
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18px"
                  height="15"
                  fill="#fff"
                  viewBox="0 0 15 15"
                  data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
                  class="inject-svg"
                >
                  <button type="button" class="btn btn-success btn-block btn-lg">
                    <img src="./images/sho/confirm.svg" alt="">
                  </button>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="total-insumos">0</span> registros</span>
        </div>
        <div class="d-flex mb-4 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Fecha de registro</th>
                  <th>Insumo, material, equipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="content_insumos_list">
                <tr>
                  <td colspan="3" class="text-center">Sin insumos agregados todavía</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- texto para seleccionar 'si' o 'no' -->
        <div class="row mt-2 mb-2">
          <div class="col-md-8 col-sm-12">
            <p>¿En el trabajo se ha presentado algún evento no habitual durante su labor que haya generado la lesión?</p>
          </div>
          <div class="col-md-4 col-sm-12 d-flex justify-content-end">
            <div class="d-flex">
              <div class="radio-select">
                <label for="eventoNoHabitualLesion_1" valor="1" class="c-btn btn c-btn--outline radio-evento-no-habitual-lesion">Si</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="eventoNoHabitualLesion_1" value="1">
              </div>
              <div class="radio-select">
                <label for="eventoNoHabitualLesion_2" valor="0" class="c-btn btn c-btn--outline radio-evento-no-habitual-lesion">No</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="eventoNoHabitualLesion_2" value="0">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 hidden" id="box-evento-genero-lesion">
          <div class="form-input form-input--text w-100">
            <span>Detallar</span>
            <input class="type-text" type="text" id="DetalleSintomatologia_id" />
          </div>
        </div>
      </div>
      <!-- end section 5  ANTECENDENTES -->
      <hr>
      <div class="mt-4 mb-2">
        <div class="col-md-12 d-flex align-items-center">
          <span class="titulo"> Antecedentes </span>
        </div>
        <div class="card mt-3">
          <div class="card-header" id="sho_3_hc_ocu" data-toggle="collapse" data-target="#collapseAntOcupacionales" aria-expanded="false" aria-controls="collapseAntOcupacionales">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.779 22.268" data-inject-url="http://localhost/showebTasa/images/sho/occupational.svg" class="inject-svg card-header-icon">
                <path d="M14.8 11.922a6.444 6.444 0 0 0 2.229-4.872 6.55 6.55 0 0 0-13.1 0 6.445 6.445 0 0 0 2.227 4.873A10.479 10.479 0 0 0 0 21.459a1.31 1.31 0 0 0 2.62 0 7.859 7.859 0 0 1 15.719 0 1.31 1.31 0 0 0 2.62 0 10.479 10.479 0 0 0-6.159-9.537zm-4.323-.943a3.93 3.93 0 1 1 2.779-1.151 3.93 3.93 0 0 1-2.777 1.151zm12.758.419A6.55 6.55 0 0 0 18.339.5a1.31 1.31 0 0 0 0 2.62 3.924 3.924 0 0 1 1.961 7.322 1.309 1.309 0 0 0-.065 2.227l.511.341.17.092a9.169 9.169 0 0 1 5.24 8.357 1.31 1.31 0 0 0 2.62 0A11.789 11.789 0 0 0 23.238 11.4z" transform="translate(0 -0.5)"></path>
              </svg>
              <span class="ml-4">Antecedentes ocupacionales</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_antocupacionales_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>

          <div id="collapseAntOcupacionales" class="collapse show" aria-labelledby="headingThree" data-parent="#sho_3_hc_ant">
            <div class="card-body border-content">
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="d-flex align-items-center">
                    <div id="cant_planes">
                      <img src="images/iconos/copia-1.svg" style="width: 20px">
                    </div>
                    <span class="cantidad ml-3" id="cant_ant_3_table" style="font-size: 15px"><span id="cant_enfe_ocupacionales_collapse">0</span> registros</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <table class="table-box table-responsive">
                    <thead>
                      <tr>
                        <th>F.Inicio</th>
                        <th>F.Fin</th>
                        <th>Empresa</th>
                        <th>Actividad de la empresa</th>
                        <th>Área de trabajo</th>
                        <th>Ocupación</th>
                        <th>Peligro/agentes ocupacionales</th>
                        <th>Uso de EPP/típo de EPP</th>
                        <th>Actividades</th>
                      </tr>
                    </thead>
                    <tbody id="content_ant_ocupacionales_table">
                      <tr>
                        <td colspan="9" class="text-center"> No existen registros </td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="info_content_table_ant_oc">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN OCUAPCIONALES -->
        </div>
        <!-- tabla de antecedentes -->
        <div class="d-flex align-items-center mt-3 mb-2">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px">1 registros</span>
        </div>
        <div class="row mt-4 mb-3">
          <div class="col-md-8 col-sm-12">
            <p>Descansos médicos relacionados a la lesión</p>
          </div>
          <div class="col-md-4 col-sm-12 d-flex justify-content-end">
            <div class="d-flex">
              <div class="radio-select">
                <label for="descansolesion_1" valor="1" class="c-btn btn c-btn--outline radio-lesion-descanso">Si</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="descansolesion_1" value="1">
              </div>
              <div class="radio-select">
                <label for="descansolesion_2" valor="0" class="c-btn btn c-btn--outline radio-lesion-descanso">No</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="descansolesion_2" value="0">
              </div>
            </div>
          </div>
        </div>
        <!-- tabla de antecedentes -->
        <div class="box hidden" id="box-descansos-medicos-tabla-tab-1">
          <div class="d-flex align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px">
            </div>
            <span class="cantidad ml-3" style="font-size: 15px"><span id="cant_descan_medicos"></span> registros</span>
          </div>
          <div class="row mb-2 mt-3">
            <div class="table-responsive" style="overflow-y: hidden !important">
              <table
                class="table-box"
                id="table_historias_medicas"
                style="margin-top: 0px !important"
              >
                <thead>
                  <tr>
                    <th>ID descanso</th>
                    <th>Documento</th>
                    <th>Fecha registro</th>
                    <th>Origen descanso</th>
                    <th>ID Origen</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Días descanso</th>
                    <th>Días acumulados</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_descansos_medicos">
                  <tr>
                    <td colspan="11">Sin descansos medicos registrados</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 col-md-12 d-flex justify-content-end mt-3">
              <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination" id="pagination_descansos_medicos_tab1" pagina="0"></ul>
              </div>
            </div>
          </div>
        </div>
        <!-- decision -->
        <div class="row mt-5 mb-3">
          <div class="col-md-8 col-sm-12">
            <p>¿El Trabajador ha presentado sintomatología relacionado en ocasiones anteriores, dentro o fuera del trabajo? </p>
          </div>
          <div class="col-md-4 col-sm-12 d-flex justify-content-end">
            <div class="d-flex">
              <div class="radio-select">
                <label for="descansolesion2_1" valor="1" class="c-btn btn c-btn--outline radio-sintomatologia-sp">Si</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="descansolesion2_1" value="1">
              </div>
              <div class="radio-select">
                <label for="descansolesion2_2" valor="0" class="c-btn btn c-btn--outline radio-sintomatologia-sp">No</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="descansolesion2_2" value="0">
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2 hidden" id="box-sintomatologia-lesion-tab-1">
          <div class="w-100">
            <div class="form-input form-input--text">
              <span>Detallar</span>
              <input class="type-text" type="text" id="detalleDescansoMedico" />
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-2">
      <div class="col-md-12 align-items-center mb-3">
        <span class="titulo"> Lista de accidentes de trabajo </span>
      </div>
        <!-- tabla de antecedentes -->
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" style="font-size: 15px"><span id="cant_accidente_trabajo">0</span> registros</span>
        </div>
        <div class="row mb-2 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Fecha de accidente</th>
                  <th>Hora de accidente</th>
                  <th>Tipo de accidente</th>
                  <th>Estado</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_Accidentes_medicos">
                <tr>
                  <td colspan="9">Sin accidentes medicos</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- paginacion -->
          <div class="col-sm-12 col-md-12 d-flex justify-content-end mt-3">
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination" id="paginacion_lista_accidentes_trabajo_tab1" pagina="0"></ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end antecedente -->
      <div class="row mt-4 mb-2">
        <div class="col-md-12 d-flex align-items-center">
          <span class="titulo"> Lista de antecedentes de HCE </span>
        </div>
      </div>
      <div class="accordion" id="sho_antecedente">
        <!-- ALERGIAS -->
        <div class="card">
          <div class="card-header" id="sho_3_hc_alerg" data-toggle="collapse" data-target="#sho_3_hc_alergias_content" aria-expanded="true" aria-controls="sho_3_hc_alerg">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.078 27.319" data-inject-url="http://localhost/showebTasa/images/sho/allergies.svg" class="inject-svg card-header-icon">
                <g transform="translate(0 -50.774)">
                  <path d="M438.861 211.733a9.817 9.817 0 0 1 0 13.876l1.412 1.412a11.814 11.814 0 0 0 0-16.7z" transform="translate(-409.651 -148.928)"></path>
                  <path d="M397.849 263.8a7.822 7.822 0 0 0 0-11.053l-1.412 1.412a5.825 5.825 0 0 1 0 8.229z" transform="translate(-370.051 -188.527)"></path>
                  <path d="M4.868 225.609a9.817 9.817 0 0 1 0-13.875l-1.412-1.412a11.814 11.814 0 0 0 0 16.7z" transform="translate(0 -148.928)"></path>
                  <path d="M62.286 252.745a7.822 7.822 0 0 0 0 11.053l1.412-1.412a5.825 5.825 0 0 1 0-8.229z" transform="translate(-56.006 -188.528)"></path>
                  <path d="M136.487 66.017a5.443 5.443 0 0 1-1.794-2.781l-2.163-9.731a3.488 3.488 0 0 0-6.809 0l-2.162 9.731a5.252 5.252 0 0 1-1.728 2.781 4.978 4.978 0 0 0-1.669 4.673 5.083 5.083 0 0 0 4.97 4.045 4.986 4.986 0 0 0 7.982 0 5.083 5.083 0 0 0 4.973-4.045 4.955 4.955 0 0 0-1.6-4.673zm-.36 4.308a3.088 3.088 0 0 1-2.084 2.274 5 5 0 0 0 .076-.859v-1h-2v1a3 3 0 1 1-5.99 0v-1h-2v1a4.994 4.994 0 0 0 .076.859 3.088 3.088 0 0 1-2.084-2.274 3 3 0 0 1 1.023-2.808 7.231 7.231 0 0 0 2.36-3.848l2.163-9.731a1.491 1.491 0 0 1 2.91 0l2.162 9.731a7.317 7.317 0 0 0 2.426 3.848 2.975 2.975 0 0 1 .957 2.808z" transform="translate(-112.087 0)"></path>
                </g>
              </svg>
              <span class="ml-4">Alergias</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_ant_alergias_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="sho_3_hc_alergias_content" class="collapse show" aria-labelledby="sho_3_hc_alerg" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_ant_alergias">
                <!-- aquí va las alergias -->
              </div>
            </div>
          </div>
        </div>
        <!-- FIN ALERGIAS -->
        <!-- PATOLOGICOS -->
        <div class="card">
          <div class="card-header collapsed" id="sho_3_hc_pato" data-toggle="collapse" data-target="#sho_3_hc_pato_content" aria-expanded="false" aria-controls="sho_3_hc_pato_content">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.286 30.763" data-inject-url="http://localhost/showebTasa/images/sho/pathological.svg" class="inject-svg card-header-icon">
                <g transform="translate(-27.757 -17.773)">
                  <g transform="translate(34.546 28.64)">
                    <path d="M121.205 107.869a4.276 4.276 0 1 1-2.8 2.024 4.3 4.3 0 0 1 2.8-2.024z" transform="translate(-113.743 -107.767)"></path>
                    <path d="M85.695 197.894a8.392 8.392 0 0 1 10.2-1.349 8.444 8.444 0 0 1 4.124 6.355q-8.354.011-16.706 0a8.415 8.415 0 0 1 2.382-5.006z" transform="translate(-83.31 -185.044)"></path>
                  </g>
                  <g transform="translate(28.012 18.037)">
                    <path d="M41.19 18.132a14.975 14.975 0 0 1 10.639 2.889c.32.222.707.482.716.918a.9.9 0 0 1-1.2.9c-.529-.278-.956-.715-1.479-1.006a13.1 13.1 0 0 0-18.203 17.824 1.009 1.009 0 0 1 .095 1.132.9.9 0 0 1-1.477.034A14.889 14.889 0 0 1 41.19 18.132z" transform="translate(-28.012 -18.037)"></path>
                    <path d="M89.544 54.866A10.556 10.556 0 0 1 100.355 70.6a.894.894 0 0 1-1.424.116.917.917 0 0 1-.061-1.1 8.764 8.764 0 0 0-14.162-10.16c-.266.308-.568.694-1.027.65A.892.892 0 0 1 83 58.7a10.486 10.486 0 0 1 6.544-3.834z" transform="translate(-76.355 -50.396)"></path>
                    <path d="M241.681 65.2a.877.877 0 0 1 .928.269 14.711 14.711 0 0 1 2.947 7.374 14.883 14.883 0 0 1-1.908 9.093c-.17.288-.326.635-.664.757a.9.9 0 0 1-1.2-.638 1.091 1.091 0 0 1 .212-.838 13.081 13.081 0 0 0 1.726-8.636 12.921 12.921 0 0 0-2-5.287 9.587 9.587 0 0 1-.6-.9.891.891 0 0 1 .559-1.194z" transform="translate(-215.875 -59.589)"></path>
                    <path d="M73.639 94.619a6.059 6.059 0 1 1 7.947 9.078 10.265 10.265 0 0 1 5.092 4.163 10.066 10.066 0 0 1 1.542 5.453.9.9 0 0 1-.962.825H68.822a.893.893 0 0 1-.958-.821 10.17 10.17 0 0 1 6.63-9.614A6.153 6.153 0 0 1 72 99.245a6.04 6.04 0 0 1 1.639-4.626m3.511-.019a4.272 4.272 0 1 0 4.755 2.347A4.284 4.284 0 0 0 77.15 94.6m-5.078 12.748a8.415 8.415 0 0 0-2.385 5.006q8.354.007 16.706 0A8.444 8.444 0 0 0 82.27 106a8.392 8.392 0 0 0-10.2 1.349z" transform="translate(-63.153 -83.892)"></path>
                    <path d="M65.488 115.441a.894.894 0 0 1 1.253.445 1.526 1.526 0 0 1-.05.956 8.769 8.769 0 0 0 .931 6.2.911.911 0 0 1-.239 1.263.9.9 0 0 1-1.282-.334 10.575 10.575 0 0 1-1.158-7.515c.079-.375.162-.826.545-1.015z" transform="translate(-60.365 -103.833)"></path>
                  </g>
                </g>
              </svg>
              <span class="ml-4">Antecedentes patológicos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_ant_patologicos_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="sho_3_hc_pato_content" class="collapse" aria-labelledby="sho_3_hc_pato" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_ant_patologicos">
              </div>
            </div>
          </div>
        </div>
        <!-- FIN PATOLOGICOS -->
        <!-- FAMILIARES -->
        <div class="card">
          <div class="card-header collapsed" id="sho_3_hc_fami" data-toggle="collapse" data-target="#sho_3_hc_fami_content" aria-expanded="false" aria-controls="sho_3_hc_fami_content">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.748 25.731" data-inject-url="http://localhost/showebTasa/images/sho/relatives.svg" class="inject-svg card-header-icon">
                <g>
                  <g>
                    <path d="M32.321 72.213l.079-.158a7.192 7.192 0 0 0 .01-6.235l-.035-.061a9.9 9.9 0 0 0-10-4.847 9.442 9.442 0 0 0-1.546.353 10.024 10.024 0 0 0-4.392-.353 9.4 9.4 0 0 0-2.526.726A9.828 9.828 0 0 0 .835 66.961a10.586 10.586 0 0 0 1.127 10.247v9.337h25.8v-4.488q.452.033.909.034a2.471 2.471 0 0 0 2.346-1.691l1.08-3.24 1.651-1.812zm-15.613-9.34a7.932 7.932 0 0 1 7.98 3.819 5.14 5.14 0 0 1 0 4.479l-.511 1.023 1.387 2.774-1.145 1.145-1.22 3.66a.494.494 0 0 1-.469.338 10.149 10.149 0 0 1-5.031-1.33l.533-1.6 1.824-1.824-1.582-3.165.069-.138a7.192 7.192 0 0 0 .01-6.235 9.925 9.925 0 0 0-2.425-2.843q.288-.062.58-.103zm-4.783 21.692H3.941v-7.994l-.189-.26a8.6 8.6 0 0 1-1.095-8.577 7.874 7.874 0 0 1 14.113-1.043 5.14 5.14 0 0 1 0 4.479l-.511 1.023 1.387 2.774-1.146 1.146-1.22 3.66a.494.494 0 0 1-.469.338A10.154 10.154 0 0 1 9.164 78.4l-1.639-1.092-1.1 1.647 1.638 1.092a12.141 12.141 0 0 0 3.859 1.7v2.821zm7.918 0H13.9v-2.508q.452.034.909.034a2.471 2.471 0 0 0 2.234-1.41 12.1 12.1 0 0 0 2.8 1.063v2.821zm5.938 0h-3.959v-2.508q.452.034.909.034a2.47 2.47 0 0 0 1.764-.739 12.1 12.1 0 0 0 1.285.392v2.821zm4.571-8.429l-1.212 3.637a.494.494 0 0 1-.469.338 10.114 10.114 0 0 1-3.311-.553l.792-2.376 1.824-1.824-1.582-3.165.069-.138a7.192 7.192 0 0 0 .01-6.235l-.035-.061a9.9 9.9 0 0 0-2.629-2.966 7.914 7.914 0 0 1 6.819 3.9 5.14 5.14 0 0 1 0 4.479l-.5 1 1.278 2.805z" transform="translate(0 -60.813) translate(0 60.813) translate(0 -60.813)"></path>
                  </g>
                </g>
              </svg>
              <span class="ml-4">Antecedentes patológicos familiares</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_ant_patologicos_familiares_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="sho_3_hc_fami_content" class="collapse" aria-labelledby="sho_3_hc_fami" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_ant_patologicos_familiares">
              </div>
            </div>
          </div>
        </div>
        <!-- FIN FAMILIARES -->
        <!-- FARMACOS -->
        <div class="card">
          <div class="card-header collapsed" id="sho_3_hc_farm" data-toggle="collapse" data-target="#sho_3_hc_farm_content" aria-expanded="false" aria-controls="sho_3_hc_farm_content">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.339 29.34" data-inject-url="http://localhost/showebTasa/images/sho/drugs.svg" class="inject-svg card-header-icon">
                <path d="M28.347,1.007a3.438,3.438,0,0,0-4.863,0L20.915,3.576A3.445,3.445,0,0,0,17,4.249L15.38,5.87a1.146,1.146,0,0,0,0,1.621l.81.81L3.919,20.572a3.444,3.444,0,0,0-.671,3.913l-2.9,2.9A1.146,1.146,0,1,0,1.97,29l2.9-2.9a3.444,3.444,0,0,0,3.913-.671L21.053,13.164l.81.81a1.146,1.146,0,0,0,1.621,0l1.621-1.621a3.444,3.444,0,0,0,.672-3.913l2.57-2.57a3.443,3.443,0,0,0,0-4.863ZM7.161,23.814A1.146,1.146,0,0,1,5.54,22.193L17.811,9.922l1.621,1.621ZM26.726,4.249,23.484,7.49a1.146,1.146,0,0,0,0,1.621,1.148,1.148,0,0,1,0,1.621l-.811.81-.81-.81h0L18.622,7.491h0l-.81-.81.81-.81a1.146,1.146,0,0,1,1.621,0,1.146,1.146,0,0,0,1.621,0l3.242-3.242a1.146,1.146,0,0,1,1.621,1.621Z" transform="translate(-0.014)"></path>
              </svg>
              <span class="ml-4">Uso de fármacos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_ant_farmacos_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="sho_3_hc_farm_content" class="collapse" aria-labelledby="sho_3_hc_farm" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_ant_farmacos">
              </div>
            </div>
          </div>
        </div>
        <!-- FIN FARMACOS -->
        <!-- NOCIVOS -->
        <div class="card">
          <div class="card-header collapsed" id="sho_3_hc_noc" data-toggle="collapse" data-target="#sho_3_hc_noc_content" aria-expanded="false" aria-controls="sho_3_hc_noc_content">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.63 29.34" data-inject-url="http://localhost/showebTasa/images/sho/harmful.svg" class="inject-svg card-header-icon">
                <g transform="translate(-76)">
                  <path d="M95.484,2.292H92.045V1.146A1.146,1.146,0,0,0,90.9,0H81.73a1.146,1.146,0,0,0-1.146,1.146V2.292H77.146A1.146,1.146,0,0,0,76,3.438V28.194a1.146,1.146,0,0,0,1.146,1.146H95.484a1.146,1.146,0,0,0,1.146-1.146V3.438A1.146,1.146,0,0,0,95.484,2.292Zm-12.607,0h6.877V4.584H82.877ZM94.338,27.048H78.292V4.584h2.292V5.73A1.146,1.146,0,0,0,81.73,6.877H90.9A1.146,1.146,0,0,0,92.045,5.73V4.584h2.292Z"></path>
                  <path d="M197.146,160.584h1.146v1.146a1.146,1.146,0,1,0,2.292,0v-1.146h1.146a1.146,1.146,0,1,0,0-2.292h-1.146v-1.146a1.146,1.146,0,1,0-2.292,0v1.146h-1.146a1.146,1.146,0,1,0,0,2.292Z" transform="translate(-113.123 -147.06)"></path>
                  <path d="M166.315,316h-9.169a1.146,1.146,0,1,0,0,2.292h9.169a1.146,1.146,0,1,0,0-2.292Z" transform="translate(-75.416 -297.892)"></path>
                  <path d="M166.315,396h-9.169a1.146,1.146,0,1,0,0,2.292h9.169a1.146,1.146,0,1,0,0-2.292Z" transform="translate(-75.416 -373.307)"></path>
                </g>
              </svg>
              <span class="ml-4">Hábitos nocivos</span>
            </div>
            <div>
              <span>Registros</span>
              <span class="badge badge-light mx-3" id="cant_ant_malos_habitos_header">00</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.723 6.233" data-inject-url="http://localhost/showebTasa/images/sho/down.svg" class="inject-svg card-header-icon-down">
                  <path fill-rule="evenodd" d="M7.779 8.38l4.491 4.491-.871.871L6.037 8.38 11.4 3.018l.871.871z" transform="translate(-3.018 12.27) rotate(-90)"></path>
              </svg>
            </div>
          </div>
          <div id="sho_3_hc_noc_content" class="collapse" aria-labelledby="sho_3_hc_noc" data-parent="#sho_3_hc_ant" style="">
            <div class="card-body border-content">
              <div id="content_ant_malos_habitos">
              </div>
            </div>
          </div>
        </div>
        <!-- FIN NOCIVOS -->
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <!-- boton formulario de IEO -->
      <div class="row mt-2 mb-3 justify-content-end">
        <div class="col-md-3">
          <button class="btn btn-info btn-lg text-center btn-block" onclick="pdfIEOADSO()">
            <span class="ml-3">Emitir formulario de IEO</span>
          </button>
        </div>
      </div>
      <!-- comienzo de la parte principal -->
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <span class="titulo"> Signos vitales </span>
        </div>
      </div>  
      <div class="row mt-4">
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/arterial.svg" alt="" fill="#ff2e2e">
            <span>Presión arterial</span>
          </div>
          <div>
            <div class="distole-flex">
              <div class="col-6">
                <label for="">sístole</label>
                <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_presion_arterial_sv')" min="0" id="dat_dg_presion_arterial_sv">
              </div>
              <div class="col-6">
                <label for="">diástole</label>
                <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_diastole_estado')" id="dat_dg_diastole_estado">
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/cardiaca.svg" alt="" fill="#ff2626">
            <span>Frecuencia cardiaca</span>
          </div>
          <div>
            <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_frecuencia_cardiaca_sv')" id="dat_dg_frecuencia_cardiaca_sv">
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/respiratoria.svg" alt="" fill="#00baff">
            <span>Frecuencia respiratoria</span>
          </div>
          <div>
            <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_frecuencia_respiratoria_sv')" id="dat_dg_frecuencia_respiratoria_sv">
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/temperatura.svg" alt="" fill="#34a9ff" style="left: 30px">
            <span>Temperatura</span>
          </div>
          <div>
            <div class="distole-flex">
              <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_temperatura_sv')" id="dat_dg_temperatura_sv">
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/peso.svg" alt="" fill="#004eff">
            <span>Peso</span>
          </div>
          <div>
            <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_peso_sv')" id="dat_dg_peso_sv">
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/talla.svg" alt="" fill="#715fff" style="left: 30px">
            <span>Talla (m)</span>
          </div>
          <div>
            <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_talla_sv')" id="dat_dg_talla_sv">
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/saturacion.svg" alt="" fill="#fc2a5a">
            <span>Saturación</span>
          </div>
          <div>
            <div class="distole-flex">
              <input class="form-control" type="text" onkeyup="itsNumber('dat_dg_saturacion_sv')" id="dat_dg_saturacion_sv">
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/corporal.svg" alt="" fill="#ffc400">
            <span>Índice de masa corporal<br> (Peso/Talla)</span>
          </div>
          <div>
            <input class="form-control" type="text" id="dat_dg_masa_corporal_sv" disabled="">
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 item-sig-vital mb-3 px-4">
          <div class="d-flex">
            <img src="./images/sho/abdominal.svg" alt="" fill="#ff8b43">
            <span>Perímetro abdominal</span>
          </div>
          <div>
            <input class="form-control" type="number" onkeyup="itsNumber('dat_dg_perimetro_abdominal_sv')" id="dat_dg_perimetro_abdominal_sv">
          </div>
        </div>
  
      </div>
  
      <hr class="mt-4 p-2" />
  
      <!-- Exámen físico Estado General -->
  
      <div class="mt-5 col-md-6 d-flex align-items-center">
        <span class="titulo">Exámen físico - Estado General</span>
      </div>
  
      <div class=" row mt-5 justify-content-between">
        <div class="col-md-3 col-sm-12">
          <div class="form-input form-input--select">
            <span>Estado de conciencia</span>
            <input type="text" class="submit" id="dat_dg_estado_conciencia" maxlength="50" onkeyup="LenghtRestanteInput('dat_dg_estado_conciencia',50)">
          </div>
        </div>
  
        <div class="col-md-3 col-sm-12">
          <div class="form-input form-input--select">
            <span>Estado de nutrición</span>
            <select class="type-select" name="" id="dat_dg_estado_nutricion">
              <option value="0" selected></option>
              <option value="1">Bueno</option>
              <option value="2">Regular</option>
              <option value="3">Malo</option>
            </select>
          </div>
        </div>
  
        <div class="col-md-3 col-sm-12">
          <div class="form-input form-input--select">
            <span>Estado general</span>
            <select class="type-select" name="" id="dat_dg_estado_general">
              <option value="0" selected></option>
              <option value="1">Bueno</option>
              <option value="2">Regular</option>
              <option value="3">Malo</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="form-input form-input--select">
            <span>Estado de Hidratación</span>
            <select class="type-select" name="" id="dat_dg_estado_Hidratacion">
              <option value="0" selected></option>
              <option value="1">Bueno</option>
              <option value="2">Regular</option>
              <option value="3">Malo</option>
            </select>
          </div>
        </div>
      </div>
  
      <div>
        <div class="form-input">
          <span>Orofaringe</span>
          <input type="text" id="data_dg_orofaringe_estado" class="form-control" maxlength="150" onkeyup="LenghtRestanteInput('data_dg_orofaringe_estado',150)" onkeypress="LenghtRestanteInput('data_dg_orofaringe_estado',150)">
        </div>
      </div>
  
      <div>
        <div class="form-input">
          <span>Tórax y pulmones</span>
          <input type="text" id="data_dg_torax_pulmones_estado" class="form-control" maxlength="150" onkeyup="LenghtRestanteInput('data_dg_torax_pulmones_estado',150)" onkeypress="LenghtRestanteInput('data_dg_torax_pulmones_estado',150)">
        </div>
      </div>
  
      <div>
        <div class="form-input">
          <span>Cardiovascular</span>
          <input type="text" id="data_dg_cardio_vascular_estado" class="form-control" maxlength="150" onkeyup="LenghtRestanteInput('data_dg_cardio_vascular_estado',150)" onkeypress="LenghtRestanteInput('data_dg_cardio_vascular_estado',150)">
  
        </div>
      </div>
  
      <div>
        <div class="form-input">
          <span>SSOMA</span>
          <input type="text" id="data_dg_soma_estado" class="form-control" maxlength="150" onkeyup="LenghtRestanteInput('data_dg_soma_estado',150)" onkeypress="LenghtRestanteInput('data_dg_soma_estado',150)">
  
        </div>
      </div>
  
      <hr class="mt-5" />
  
      <!-- Otros -->
  
      <div class="mt-5 col-md-6 d-flex align-items-center">
        <span class="titulo">Otros </span>
      </div>
  
      <form class="mt-5 d-flex justify-content-between" onsubmit="return createOtraInvestigacion()">
  
        <div class="col-md-3 col-sm-12">
          <div class="form-input form-input--select">
            <span>Tipo de Evaluación</span>
            <select class="type-select" name="" id="dat_dg_tipo_investigacion_otro" required>
              <option value="1" selected></option>
            </select>
          </div>
        </div>
  
        <div class="col-md-6 col-sm-12">
          <div class="form-input">
            <span>Escribir detalle</span>
            <input type="text" id="dat_dg_estado_otra_investigacion" class="text-input" onkeyup="LenghtRestanteInput('dat_dg_estado_otra_investigacion',100)" onkeypress="LenghtRestanteInput('dat_dg_estado_otra_investigacion',100)" required>
          </div>
        </div>
  
        <div class="col-md-2 col-sm-6">
          <button type="submit" class="btn btn-success btn-block btn-lg" id="fn_hc_guardar">
            agregar a lista +
          </button>
        </div>
      </form>
      <div>
        <div class="d-flex align-items-center col-12 mt-2">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="cant_investigaciones_otras">0</span> registros</span>
        </div>
        <!-- table otros tipo de investigaciones -->
        <div class="col-12 mb-4 mt-3">

          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Tipo de evaluación</th>
                  <th>Detalle</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="content_otras_investigaciones_estado_general">
                <tr>
                  <td colspan="3" class="text-center">Sin otros tipos de investigacion</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- factores de riesgo asociados (mala condicion física, obesidad,etc)  -->
      <hr />
      <div class="mt-4 mb-2">
        <div class="row mt-4 mb-2">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Factores de riesgo asociado (Mala condición física, obesidad, etc) </span>
          </div>
        </div>
        <div class="d-flex mb-4 justify-content-between">
          <div class="col-md-6 col-sm-12">
            <div class="form-input form-input--text">
              <span>Detalle del factor</span>
              <input class="type-text" type="text" id="dat_gd_detalle_factor_riesgo" />
            </div>
          </div>
          <div class="col-md-4 col-sm-12 row justify-content-end">
            
          </div>
          <div class="col-md-2">
            <button type="button" id="dat_gd_detalle_factor_riesgo__button" onclick="addFactoresRiesgos()" class="btn btn-success btn-block btn-lg">
              Agregar a lista +
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="cant_factor_riesgo">0</span> registros</span>
        </div>
        <div class="d-flex mb-5 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Detalle del factor</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="content_factores_de_riesgo_asociado_table">
                <tr>
                  <td colspan="3" class="text-center">Sin factores de riesgos asociados</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- texto para seleccionar 'si' o 'no' -->
        <div class="d-flex mt-4 mb-2">
          <div class="col-md-8 col-sm-12">
            <p>¿Requiere exámenes auxiliares?</p>
          </div>
          <div class="col-md-4 col-sm-12 d-flex justify-content-end">
            <div class="d-flex">
              <div class="radio-select">
                <label for="sistomatologiaSelect_1" valor="1" class="c-btn btn c-btn--outline radio-examen-auxiliar">Si</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="sistomatologiaSelect_1" value="1">
              </div>
              <div class="radio-select">
                <label for="sistomatologiaSelect_2" valor="0" class="c-btn btn c-btn--outline radio-examen-auxiliar">No</label>
                <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="sistomatologiaSelect_2" value="0">
              </div>
            </div>
          </div>
        </div>
        <!-- formulario para añadir examen auxiliares -->
        <div class="row mb-4 hidden" id="box-examen-auxiliares-tab-2">
          <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-12 col-12">
              <div class="form-input form-input--select">
                <span>Tipo de examen</span>
                <select class="type-select" id="dat_dg_tipoexamen_euxiliares"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 row justify-content-end">
            <div class="col-md-6">

              <button type="button" onclick="addExamenesAuxiliares()" class="btn btn-success btn-block btn-lg">

                Agregar a lista
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18px"
                  height="15"
                  fill="#fff"
                  viewBox="0 0 15 15"
                  data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
                  class="inject-svg"
                >
                  <button type="button" class="btn btn-success btn-block btn-lg">
                    <img src="./images/sho/confirm.svg" alt="">
                  </button>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="cant-tipo-examen-auxiliar">0</span> registros</span>
        </div>
        <div class="d-flex mb-5 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Tipo de examen auxiliar</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="content_tipo_examen_table">
                <tr>
                  <td colspan="3" class="text-center">Sin examenes auxiliares</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Diagnostico CIE 10  -->
      <hr />
      <div class="mt-4 mb-2">
        <div class="row mt-4 mb-2">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo"> Diagnóstico CIE 10 </span>
          </div>
        </div>
        <!-- form diagnostico CIE  -->
        <div class="row mb-2">
          <div class="col-md-3 col-sm-6">
            <div class="input-box-secondary">
              <span>Diagnóstico</span>
              <div class="dropdown" id="listaResultado">
                <input autocomplete="off" class="dropbtn input_am_diagnostico" placeholder="Diagnóstico" type="text" id="dat_am_diagnostico_diagnostico" onkeyup="_newDiagnosticoCIE10('dat_am_diagnostico_diagnostico', 'listaResultadoHijos', 'dat_am_cie_diagnostico2', 'dat_am_cie_diagnostico1');" title="PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CORPORIS">
                <div class="dropdown-menu show overflowidth" id="listaResultadoHijos" style="display: none; z-index: 3000;"> <a class="dropdown-item itemBD" onclick="  $('#dat_am_diagnostico_diagnostico').val('PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CAPITIS');  $('#dat_am_diagnostico_diagnostico').prop('title','PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CAPITIS');  agregaCIE10('dat_am_cie_diagnostico2', 'dat_am_cie_diagnostico1', 'B850','729');  $('#listaResultadoHijos').css('display','none');  ">PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CAPITIS</a> <a class="dropdown-item itemBD" onclick="  $('#dat_am_diagnostico_diagnostico').val('PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CORPORIS');  $('#dat_am_diagnostico_diagnostico').prop('title','PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CORPORIS');  agregaCIE10('dat_am_cie_diagnostico2', 'dat_am_cie_diagnostico1', 'B851','730');  $('#listaResultadoHijos').css('display','none');  ">PEDICULOSIS DEBIDA A PEDICULUS HUMANUS CORPORIS</a> <a class="dropdown-item itemBD" onclick="  $('#dat_am_diagnostico_diagnostico').val('PEDICULOSIS');  $('#dat_am_diagnostico_diagnostico').prop('title','PEDICULOSIS');  agregaCIE10('dat_am_cie_diagnostico2', 'dat_am_cie_diagnostico1', 'B852','731');  $('#listaResultadoHijos').css('display','none');  ">PEDICULOSIS</a> <a class="dropdown-item itemBD" onclick="  $('#dat_am_diagnostico_diagnostico').val('PEDICULOSIS Y PHTHIRIASIS MIXTAS');  $('#dat_am_diagnostico_diagnostico').prop('title','PEDICULOSIS Y PHTHIRIASIS MIXTAS');  agregaCIE10('dat_am_cie_diagnostico2', 'dat_am_cie_diagnostico1', 'B854','733');  $('#listaResultadoHijos').css('display','none');  ">PEDICULOSIS Y PHTHIRIASIS MIXTAS</a> <a class="dropdown-item itemBD" style="border-bottom: 1px solid;" onclick="  $('#dat_am_diagnostico_diagnostico').val('PEDOFILIA');  $('#dat_am_diagnostico_diagnostico').prop('title','PEDOFILIA');  agregaCIE10('dat_am_cie_diagnostico2','F654','2396');  $('#listaResultadoHijos').css('display','none');  ">PEDOFILIA</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="input-box-secondary">
              <span>CIE 10</span>
              <div class="dropdown" id="listaResultado_ii">
                <input autocomplete="off" class="dropbtn input_am_diagnostico" placeholder="CIE 10" type="text" id="dat_am_cie_diagnostico2" onkeyup="_newDiagnosticoCIE102('dat_am_cie_diagnostico2', 'listaResultadoHijos2', 'dat_am_diagnostico_diagnostico', 'dat_am_cie_diagnostico1');">
                <div class="dropdown-menu show overflowidth " id="listaResultadoHijos2" style="display: none"></div>
              </div>
              <!-- <input class="input_am_diagnostico" name="" id="dat_am_cie_diagnostico2"> -->
              <input class="input_am_diagnostico" type="hidden" id="dat_am_cie_diagnostico1" value="730">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="input-box-secondary">
              <span>Sistema afectado</span>
              <select class="" name="" id="dat_am_sistema_diagnostico">
                <option value="15" selected="" disabled=""></option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="input-box-secondary">
              <span>Sección afectada</span>
              <select class="" name="" id="dat_am_seccion_diagnostico">
                <option value="11" selected="" disabled=""></option>
              </select>
            </div>
          </div>
        </div>
        <!-- end form diagnostico CIE -->
        <div class="row mb-2 justify-content-end">
          <div class="col-md-2">
            <button type="button" id="diagnostico_cie10__button" onclick="addDiagnosticoCIE()" class="btn btn-success btn-block btn-lg">
              Agregar a lista +
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px">
          </div>
          <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="total-diagnosticos-table-tab2">0</span> registros</span>
        </div>
        <div class="d-flex mb-5 mt-3">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Diagnóstico</th>
                  <th>CIE 10</th>
                  <th>Fecha de registro</th>
                  <th>Especialidad</th>
                  <th>Sistema afectado</th>
                  <th>Sección afectada</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="content_table_diagnosticos_cie">
                <tr>
                  <td colspan="7" class="text-center">Sin factores de riesgos asociados</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-input">
            <span>Tratamiento inicial</span>
            <input type="text" id="dat_dg_tratamiento_inicial" class="text-input">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-especialistas" role="tabpanel" aria-labelledby="pills-especialistas-tab">
        <div>
          <div class="row mt-4">
            <div class="col-md-12 d-flex align-items-center">
              <span class="titulo">Investigación de puesto de campo</span>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px">
              </div>
              <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="cant_tab3_evaluacion_puesto_trabajo">0</span> registros</span>
            </div>
          </div>
          <!-- tabla de investigaciones --->
          <div class="mb-2 mt-3 w-100 d-flex">
            <div class="table-responsive" style="overflow-y: hidden !important">
              <table
                class="table-box"
                id="table_historias_medicas"
                style="margin-top: 0px !important"
              >
                <thead>
                  <tr>
                    <th>ID evaluación</th>
                    <th>ID tarea de monitoreo</th>
                    <th>F. Registro</th>
                    <th>Riesgo</th>
                    <th>Agente</th>
                    <th>Tipo evaluación</th>
                    <th>Intensidad del agente</th>
                    <th>Nivel de riesgo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="box_tab3_evaluacion_puestos_trabajo_table">
                  <tr>
                    <td colspan="9" class="text-center">Sin evaluación de higiene</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- paginacion -->
          <div class="w-100 d-flex wrap justify-content-end hidden" id="box_paginacion_investigacion_puesto_table">
            <nav aria-label="Page navigation example">
              <ul class="pagination" id="paginacion_investigacion_puesto_table">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-evaluacion-esp" role="tabpanel" aria-labelledby="pills-evaluaciones-esp">
      <div>
        <div class="row mt-4">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo">Examenes auxiliares</span>
          </div>
        </div>
        <form class="row mt-3" onsubmit="return prevenirEnvio(addEvaluacionEspecialista);">
          <div class="col-md-9 col-12 d-flex">
            <div class="col-md-4 col-sm-6 col-12">
              <input type="hidden" value="" id="index_array_examen_especialista">
              <div class="form-input form-input--text">
                <span>Fecha de exámenes</span>
                <input class="type-text" type="date" id="date_examen_eval_id" required/>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="form-input form-input--select">
                <span>Tipo de examen</span>
                <select class="type-select" id="tipo_examen_eval_id" required>
                  <!-- aqui se pinta los options --> 
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-input form-input--text">
                <span>Conclusión</span>
                <input class="type-text" type="text" onkeyup="LenghtRestanteInput('conclusion_examen_eval_id',50)" id="conclusion_examen_eval_id" required />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <button
              type="submit"
              class="btn btn-success btn-block btn-lg"
              style="width: 200px; float: right"
              id="especialistas_examen_eval_id__button"
            >
              Agregar a lista
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18px"
                height="15"
                fill="#fff"
                viewBox="0 0 15 15"
                data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
                class="inject-svg"
              >
                <path
                  fill="#fff"
                  d="M9.107 8.84c-.148 0-.268.12-.268.267V15H6.161V9.107c0-.148-.12-.268-.268-.268H0V6.161h5.893c.148 0 .268-.12.268-.268V0h2.678v5.893c0 .148.12.268.268.268H15v2.678H9.107z"
                ></path>
              </svg>
            </button>
          </div>
        </form>
        <div class="d-flex justify-content-start mt-4">
          <div class="d-flex align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px">
            </div>
            <span class="cantidad ml-2" id="cant_hist_cli" style="font-size: 15px"><span id="cant_examen_evaluea_especialista_head"></span> registros</span>
          </div>
        </div>
        <!-- Tabla de examenes -->
        <div class="row mb-2 mt-3 col-12">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Fecha del exámen</th>
                  <th>Tipo de exámen</th>
                  <th>Fecha de registro</th>
                  <th>Conclusión</th>
                  <th>Documento</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_table_evaluacion_especialistas">
                <tr>
                  <td colspan="8" class="text-center">Sin examenes auxiliares</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-conclusiones" role="tabpanel" aria-labelledby="pills-conclusinones-tab">
      <!-- boton descargar --->
      <div class="row mt-2 mb-3 justify-content-end">
        <div class="col-md-3">
          <button class="btn btn-info btn-lg text-center btn-block" onclick="pdfIEOC()">
            <span class="ml-3">Emitir formulario de IEO</span>
          </button>
        </div>
      </div>
      <!-- content main -->
      <div>
        <div class="row mt-4">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo">Diagnósticos</span>
          </div>
        </div>
        <div class="d-flex justify-content-start mt-4">
          <div class="d-flex align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px">
            </div>
            <span class="cantidad ml-2" style="font-size: 15px"><span id="cant_diagnostico_confirmar_tab5">0</span> registros</span>
          </div>
        </div>
        <!-- Tabla de examenes -->
        <div class="row mb-2 mt-3 col-12">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>Código CIE 10</th>
                  <th>Diagnóstico</th>
                  <th>Sistema afectado</th>
                  <th>Sección afectada</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_diagnosticos_table_confirmar_tab5">
                <tr>
                  <td class="text-center" colspan="7">Sin diagnosticos registrados</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- comienzo establecimiento de enfermedad ocupacional-->
        <hr />
        <div>
          <div class="row mt-4">
            <div class="col-md-10 d-flex align-items-center">
              <span class="titulo"> ¿Establecimiento de enfermedad ocupacional? </span>
            </div>
            <div class="col-md-2 col-12 d-flex justify-content-end">
              <div class="d-flex">
                <div class="radio-select">
                  <label for="eventoNoHabitualLesion_1" valor="1" class="c-btn btn c-btn--outline radio-evento-establecimiento-justificacion">Si</label>
                  <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="eventoNoHabitualLesion_1" value="1">
                </div>
                <div class="radio-select">
                  <label for="eventoNoHabitualLesion_2" valor="0" class="c-btn btn c-btn--outline radio-evento-establecimiento-justificacion">No</label>
                  <input type="radio" name="sistomatologiaSelect" class="visibility-hidden" id="eventoNoHabitualLesion_2" value="0">
                </div>
              </div>
            </div>
          </div>
          <!-- end and start -->
          <div class="row mt-3 hidden" id="tab5_conclusion_justificacion_enfermedad">
            <div class="col-12">
              <div class="form-input form-input--text">
                <span>Justificación</span>
                <input class="type-text" type="text" id="tab5_conclusiones_justificacion_enf" />
              </div>
            </div>
          </div>
        </div>
        <!-- comienzo establecimiento de enfermedad ocupacional-->
        <hr />
        <div>
          <div class="d-flex mt-4">
            <div class="col-12 d-flex align-items-center">
              <span class="titulo"> Otros </span>
            </div>
          </div>
          <form class="mt-5 row d-flex justify-content-between" onsubmit="return createOtraInvestigacion2()">
            <div class="col-md-3 col-sm-12">
              <div class="form-input form-input--select">
                <span>Tipo de Evaluación</span>
                <select class="type-select" name="" id="dat_dg_tipo_investigacion_otro2" required>
                  <option value="1" selected></option>
                </select>
              </div>
            </div>
        
            <div class="col-md-6 col-sm-12">
              <div class="form-input">
                <span>Escribir detalle</span>
                <input type="text" id="dat_dg_estado_otra_investigacion2" class="text-input" onkeyup="LenghtRestanteInput('dat_dg_estado_otra_investigacion',100)" onkeypress="LenghtRestanteInput('dat_dg_estado_otra_investigacion',100)" required>
              </div>
            </div>
        
            <div class="col-md-2 col-sm-6">
              <button type="submit" class="btn btn-success btn-block btn-lg" id="fn_hc_guardar">
                agregar a la lista <img src="./images/sho/confirm.svg" alt="">
              </button>
            </div>
          </form>
          <!-- end and start -->
          <div class="row mb-2 mt-3 col-12">
            <div class="d-flex align-items-center col-12 mt-2">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px">
              </div>
              <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px"><span id="cant_investigaciones_otras2">0</span> registros</span>
            </div>
            <div class="table-responsive" style="overflow-y: hidden !important">
              <table
                class="table-box"
                id="table_historias_medicas"
                style="margin-top: 0px !important"
              >
                <thead>
                  <tr>
                    <th>Tipo de evaluación</th>
                    <th>Detalle</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_table_otras_evaluaciones_tabConclusion">
                  <tr>
                    <td colspan="3">Sin registro de otras evaluaciones</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- comienzo establecimiento de enfermedad ocupacional-->
        <hr />
        <div>
          <div class="row mt-4">
            <div class="col-12 d-flex align-items-center">
              <span class="titulo"> Conclusiones </span>
            </div>
          </div>
          <!-- end and start -->
          <div class="row mt-3">
            <div class="col-md-3 col-12">
              <div class="form-input form-input--select">
                <span>Aptitud</span>
                <select class="type-select" id="conclu_inp_aptitu_con">
                  <option value="1" selected>Apto</option>
                  <option value="2" selected>No Apto</option>    
                  <option value="3" selected>Apto con restricciones</option>    
                  <option value="4" selected>Observando</option>    
                </select>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-input form-input--text">
                <span>Fecha inicio de restricción</span>
                <input class="type-text" type="date" id="conclu_inp_fecha_inicio_rest_con" />
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-input form-input--text">
                <span>Fecha fin de restricción</span>
                <input class="type-text" type="date" id="conclu_inp_fecha_fin_rest_con" />
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-input form-input--text">
                <span>Tipo de restricción</span>
                <input class="type-text" type="text" id="conclu_inp_tipo_rest_con" />
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-input form-input--text">
                <span>Personal de salud</span>
                <input class="type-text" type="text" id="conclu_inp_personal_salud_con" />
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-input form-input--text">
                <span class="span-litle">Fecha de reevaluación por DSO</span>
                <input class="type-text" type="date" id="conclu_inp_fecha_reevaluacion_dso_con" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-input form-input--text">
                <span>Observaciones</span>
                <input class="type-text" type="text" id="conclu_inp_observaciones_con" />
              </div>
            </div>
          </div>
        </div>
        <!-- comienzo establecimiento de enfermedad ocupacional-->
        <hr />
        <div>
          <div class="row mt-4">
            <div class="col-md-8 col-12 d-flex align-items-center">
              <span class="titulo"> Medicamento / Insumo </span>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center">
              <button class="btn btn-info btn-lg text-center btn-block" onclick="">
                <span class="ml-3">Emitir receta <i class="far fa-file-alt"></i></span>
              </button>
            </div>
          </div>
          <!-- end and start -->
          <div class="row mt-3 justify-content-between mt-4">
            <div class="col-md-8 col-12 d-flex wrap">
              <div class="col-md-4 col-12">
                <div class="form-input form-input--select">
                  <span>Cobertura</span>
                  <select class="type-select" id="inpu_tab5_cobertura" onchange="activarDosisAdminDSO()">
                    <option value="0">Seleccione una cobertura</option>  
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--text">
                  <span>Buscar medicamento</span>
                  <input class="type-text" type="text" id="inpu_tab5_busca_medicamento" onkeyup="drawResultadosMedicamentos()" onblur="activarDosisAdminDSO()"/>
                  <input type="hidden" id="inpu_tab5_medicamento_seleccionado_id">
                  <div class="dropdown-result hidden" id="dropdown_resultados_medicamentos">
                    <span class="litle-text"><span id="cant_dropdown_resultados_medicamentos"></span> Resultados</span>
                    <ul id="list_resultados_medicamentos">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--select">
                  <span>Presentación</span>
                  <select class="type-select" id="inpu_tab5_presentación">
                    <option value="0">Seleccione presentación</option>  
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--text" id="div__inpu_tab5_dosis">
                  <span>Dosis requerida</span>
                  <input class="type-text" type="text" id="inpu_tab5_dosis" />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--text">
                  <span class="span-litle">Dosis administrada por el DSO</span>
                  <input class="type-text" type="text" id="inpu_tab5_dosis_DSO" disabled />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--text">
                  <span>Frecuencia</span>
                  <input class="type-text" type="text"  id="inpu_tab5_frecuencia" />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input form-input--text">
                  <span>Tiempo de uso</span>
                  <input class="type-text" type="text" id="inpu_tab5_tiempo_uso" />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-input--text">
                  <span>Se requiere emitir receta</span>
                  <div class="d-flex">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="emitir-receta" id="emiv_receta_requi_si" value="si">
                      <label class="form-check-label" for="emiv_receta_requi_si"> Si </label>
                    </div>                                  
                    <div class="form-check ml-2">
                      <input class="form-check-input" type="radio" name="emitir-receta" id="emiv_receta_requi_no" value="No">
                      <label class="form-check-label" for="emiv_receta_requi_no"> No </label>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-3 col-12">
              <button
                type="button"
                class="btn btn-success btn-lg"
                style="width: 200px; float: right"
                id="medicamento_section_button_add"
                onclick="addMedicamentoInsumoConclusion()"
              >
                Agregar a lista
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18px"
                  height="15"
                  fill="#fff"
                  viewBox="0 0 15 15"
                  data-inject-url="http://localhost/showebTasa/images/sho/plus.svg"
                  class="inject-svg"
                >
                  <path
                    fill="#fff"
                    d="M9.107 8.84c-.148 0-.268.12-.268.267V15H6.161V9.107c0-.148-.12-.268-.268-.268H0V6.161h5.893c.148 0 .268-.12.268-.268V0h2.678v5.893c0 .148.12.268.268.268H15v2.678H9.107z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!-- tabla de medicamentos CANTIDAD -->
        <div class="d-flex justify-content-start mt-2">
          <div class="d-flex align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px">
            </div>
            <span class="cantidad ml-2" style="font-size: 15px"><span id="cant_medicamentos_conclusion">0</span> registros</span>
          </div>
        </div>
        <!-- tabla de medicamentos -->
        <div class="table-responsive" style="overflow-y: hidden !important">
          <table
            class="table-box"
            id="table_historias_medicas"
            style="margin-top: 0px !important"
          >
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Medicamento</th>
                <th>Presentación</th>
                <th>Dosis requerida</th>
                <th>Dosis administrada por DSO</th>
                <th>Frecuencia</th>
                <th>Tipo de uso</th>
                <th>Emitir receta</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_table_medicamentos_conclusion">
              <tr>
                <td class="text-center" colspan="10">Sin registro de medicamentos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-medidas" role="tabpanel" aria-labelledby="pills-medidas-tab">
        <div class="row mt-2 mb-3 justify-content-end">
            <div class="col-md-3">
              <button class="btn btn-info btn-lg text-center btn-block" onclick="pdfIEOMP()">
                <span class="ml-3">Emitir formulario de IEO</span>
              </button>
            </div>
          </div>
      <div>
        <div class="row mt-4">
          <div class="col-md-12 d-flex align-items-center">
            <span class="titulo">Medidas preventivas para eliminar o reducir el riesgo</span>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="row align-items-center">
            <div id="cant_planes">
              <img src="images/iconos/copia-1.svg" style="width: 20px">
            </div>
            <span class="cantidad ml-3" style="font-size: 15px"><span id="cant_medidas_preventivas_it">0</span> registros</span>
          </div>
        </div>
        <!-- tabla de investigaciones --->
        <div class="row mb-2 mt-3 col-12">
          <div class="table-responsive" style="overflow-y: hidden !important">
            <table
              class="table-box"
              id="table_historias_medicas"
              style="margin-top: 0px !important"
            >
              <thead>
                <tr>
                  <th>ID control</th>
                  <th>ID evaluación</th>
                  <th>ID tarea de monitoreo</th>
                  <th>Responsable</th>
                  <th>F. Acuerdo</th>
                  <th>Estado</th>
                  <th>F. Cierre</th>
                  <th>Tipo de medida</th>
                  <th>comentario</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="content_medidas_preventivas_table">
                <tr>
                  <td colspan="11" class="text-center">Sin registro de medidas preventibas</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end w-100 mt-3">
            <ul class="pagination" id="pagination_medidas_preventivas_un" pagina="0">
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
</div>
<script>
  $("#regresar").show();
  $("#logoCompany1 b").text("Formulario de investigaciones");
</script>