<link rel="stylesheet" href="./view/sho-hce/mujer_edad_fertil_gestante/css/mefg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
<div class="row">
  <div class="col-md-6 d-flex align-items-center">
    <span class="titulo"> Mujeres en edad fértil gestante </span>
  </div>
  <div class="col-md-6 d-flex justify-content-end align-items-center">
    <span style="font-weight: 600; color: #01719d; cursor: pointer;display: none" id="ocultar_datos_dg"> Ocultar datos </span>
    <span style="font-weight: 600; color: #01719d; cursor: pointer;" id="mostrar_datos_dg"> Mostrar datos </span>
  </div>
</div>

<div class="row mt-5 d-flex" id="datos_generales_content">
  <div class="col-md-2" id="content_img_datos_generales">
    <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
      <div class="spinner-border text-light" id="hc_spin_adjuntar_imagen" role="status" style="position: absolute; display:none">
        <span class="sr-only">Loading...</span>
      </div>
      <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
        <img id="img_file_perfil" alt="" style="display: block;">
      </label>
      <input id="img_input_file_perfil" type="file" onchange="encodeImgtoBase64(this)" style="display: none">
    </div>
  </div>
  <div class="col-md-7">
    <div class="row align-items-center">
      <div class="col-6">
        <span style="font-size: 20px; font-weight: 600; color: #254373;" id="dat_dg_nombres"></span>
        <span style="font-size: 20px; font-weight: 600; color: #254373;" id="dat_dg_apellidos"></span>
      </div>
    </div>
    <div class="row mt-3" id="datos_hc_general_trabajador">
      <div class="col-4 my-1">
        <b>DNI:</b> <span id="dat_dg_dni_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Sexo:</b> <span id="dat_dg_sexo_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Edad:</b> <span id="dat_dg_edad_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Puesto:</b> <span id="dat_dg_puesto_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Área:</b> <span id="dat_dg_area_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Gerencia:</b> <span id="dat_dg_gerencia_trabajador"></span>
      </div>
      <div class="col-4 my-1">
        <b>Planta:</b> <span id="dat_dg_planta_trabajador"></span>
      </div>
    </div>
  </div>
  <div class="col-md-3" id="botones_datos_generales">
    <button onclick="amSp3NuevaAtencionMedica(idHC,2)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
    </button>
    <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;" onclick="ecSp4VerDatosCompletoTrabajador()">Ver datos completos</span>
  </div>
<!--  <div class="col-md-3" id="botones_datos_generales">-->
<!--    <div class="row">-->
<!--      <div class="col-12 btn_interacciones_datos_generales">-->
<!--        <button onclick="amSp3NuevaAtencionMedica(idHC,2)" class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<hr class="mt-4">

<div class="row mt-4">
  <div class="col-md-6 d-flex align-items-center">
    <span class="titulo"> Registro </span>
  </div>
  <div class="col-md-6">
    <button  class="btn btn-success btn-block btn-lg d-none" onclick="nuevoRegistroMadreGestante()" id="btn-registro" style="width: 200px; float: right;">Nueva registro <img src="./images/sho/plus.svg" fill="#fff">
    </button>
  </div>
</div>

<div class="row mb-5 mt-4">
  <div class="col-md-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" onclick="madreGestante()" href="#Calidad-de-vida" role="tab" aria-controls="pills-home" aria-selected="true">Edad fértil</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" onclick="madreGestante()" href="#Conservacion-auditiva" role="tab" aria-controls="pills-profile" aria-selected="false">Madre gestante</a>
      </li>
    </ul>
  </div>
  <div class="col-md-12 mt-3">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Calidad-de-vida" role="tabpanel" aria-labelledby="home-tab">
        <div class="table-responsive">
          <table class="table-box" id="table_edad_fertil">
            <thead>
              <tr>
                <th width="200">Fecha de registro</th>
                <th width="200">Fecha de nacimiento</th>
                <th width="140">Edad</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="content_edad_fertil">
            </tbody>
          </table>
        </div>
        <div id="pagination-container" class="mt-3"></div>
      </div>
      <div class="tab-pane fade" id="Conservacion-auditiva" role="tabpanel" aria-labelledby="profile-tab">
        <div class="table-responsive">
          <table class="table-box d-none" id="table_madre_gestante">
            <thead>
            <tr>
              <th></th>
            </tr>
            </thead>
            <tbody id="content_madre_gestante">
            </tbody>
          </table>
          <div class="null-program" id="null-madre-gestante">
            No cuenta con resgitro <img src="./images/exclamation-circle.svg" width="25px" height="25px" class="ml-2"/>
          </div>
        </div>
        <div id="pagination-container2" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
<script src="./view/sho-hce/mujer_edad_fertil_gestante/js/index.js"></script>
<script>
  _init()
</script>