<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/mujer_edad_fertil_gestante/css/mefg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">

<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="atrasBack()" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="guardarMujerFertil()"> Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de registro</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_registro" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Adjuntar archivos</span>
            </div>
            <div class="col-md-12 mt-3">
                <div class="input_file_upload border-content">
                    <label class="btn btn-success btn-lg mb-0" for="adjuntoArchivo">
                        <div class="spinner-border spinner-border-sm" id="archivo_adjunto" role="status" style="display: none">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span> Subir archivo </span>
                        <img src="./images/sho/upload.svg" style="width:14px !important">
                    </label>
                    <input
                            type="file"
                            id="adjuntoArchivo"
                            accept="application/pdf, .pdf, .doc, docx, .odf"
                            onchange="AdjuntarArchivo('adjuntoArchivo',1)">
                </div>
            </div>
        </div>
        <div class="row d-none" id="content_table_adjuntos">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <div id="cant_adjuntos">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjuntos-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_adjuntos">
                        <thead>
                        <tr>
                            <th>Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="content_adjuntos">
                        <tr>
                            <td colspan="9" class="text-center">No se ha encontrado registro</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination_table_adjuntos" class="mt-3"></div>
            </div>
            <hr class="mb-5 mt-5">
        </div>
        <hr class="mb-5 mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <strong><span class="titulo">Elegir riesgo y agentes</span></strong>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <button type="button" class="btn btn-success btn-lg" onclick="guardarTranstornoMusculoEsqueletico()"> Agregar a lista <img src="./images/sho/plus.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Buscar por riesgo</span>
                    <select class="input_am_datos_trabajador" name="" id="riesgo_lista" onchange="buscarAgente()">
                        <option disabled selected>seleccionar una opción</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Buscar por agente</span>
                    <select class="input_am_datos_trabajador" name="" id="agente_lista" onchange="buscarRegistro()">
                        <option disabled selected>seleccionar una opción</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Buscar por código GES</span>
                    <input class="input_am_datos_trabajador" id="codigo_ges" onkeyup="buscarCodigoGes()">
                    <ul class="lista-buscador" id="lista-buscador"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex align-items-center">
                    <div id="cant_diagnostico">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_diagnostico-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_riesgo_agente">
                        <thead>
                            <tr>
                                <th>Riesgo</th>
                                <th>Agente</th>
                                <th>Código GES</th>
                                <th>Tiempo de exposición</th>
                                <th>Dosis</th>
                                <th>Valoración de dosis</th>
                                <th>Efecto a la salud</th>
                                <th>Cálculo de riesgo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="content_riesgo_agente">
                            <tr>
                                <td colspan="9" class="text-center">No se ha encontrado registro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination_table_elegir_riesgo_agente" class="mt-3"></div>
            </div>
            <hr class="mb-5 mt-5">
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6">
                <strong><span class="titulo">Riesgo y agentes no monitoreados</span></strong>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <button type="button" class="btn btn-success btn-lg" onclick="guardarTranstornoMusculoEsqueletico()"> Agregar a lista <img src="./images/sho/plus.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Buscar por riesgo</span>
                    <select class="input_am_datos_trabajador" name="" id="riesgo_lista_no_monitoreados"  onchange="buscarAgenteNoMonitoreados()">
                        <option disabled selected>seleccionar una opción</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Buscar por agente</span>
                    <select class="input_am_datos_trabajador" name="" id="agente_lista_no_monitoreados">
                        <option disabled selected>seleccionar una opción</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 col-sm-6">
                <strong><span class="titulo">Lista confirmada</span></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex align-items-center">
                    <div id="cant_lista_confirmada">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_lista_confirmada-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_riesgo_agente_confirmada">
                        <thead>
                            <tr>
                                <th style="width: 120px">Efecto a la salud</th>
                                <th style="width: 120px">Cálculo de riesgo</th>
                                <th style="width: 120px">Clasificación de riesgo</th>
                                <th style="width: 120px">Nivel de exposición</th>
                                <th style="width: 50%">Observaciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="content_riesgo_agentecon_firmada">
                            <tr>
                                <td colspan="6" class="text-center">No se ha encontrado registro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination_table_riesgo_agente_confirmada" class="mt-3"></div>
            </div>
            <hr class="mb-5 mt-5">
        </div>
    </div>
</div>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
<script src="./view/sho-hce/mujer_edad_fertil_gestante/js/index.js"></script>
<script src="./view/sho-hce/mujer_edad_fertil_gestante/js/registroMujerFertil.js"></script>
<script>
    _init()
</script>