<link rel="stylesheet" href="css/sho.css">

<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="amSp3CancelarAtencion()" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="guardarTranstornoMusculoEsqueletico()"> Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de registro</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_registro" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Adjuntar archivos</span>
            </div>
            <div class="col-md-12 mt-3">
                <div class="input_file_upload border-content">
                    <label class="btn btn-success btn-lg mb-0" for="adjuntoArchivo">
                        <div class="spinner-border spinner-border-sm" id="archivo_adjunto" role="status" style="display: none">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span> Subir archivo </span>
                        <img src="./images/sho/upload.svg" style="width:14px !important">
                    </label>
                    <input
                            type="file"
                            id="adjuntoArchivo"
                            accept="application/pdf, .pdf, .doc, docx, .odf"
                            onchange="AdjuntarArchivoME('adjuntoArchivo',1)">
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="col-md-4 col-sm-12">
            <span class="titulo">Datos de gestación</span>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Lugar de diagnóstico de gestación</span>
                    <select class="input_am_datos_trabajador" name="" id="lugar_diagnostico_gestacion">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Edad gestacional</span>
                    <select class="input_am_datos_trabajador" name="" id="edad_gestacional">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Última regla</span>
                    <input type="text" id="ultima_regla" class="input_am_datos_trabajador">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha probable de parto</span>
                    <input type="text" id="fecha_probable_parto" class="input_am_datos_trabajador">
                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <div class="input-box-secondary">
                    <span>Descripción de la labor que realiza</span>
                    <input type="text" id="descripcion_labor_realiza" class="input_am_datos_trabajador">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <span style="font-size: 14px">
                          <b>¿Usa EPP?</b>
                        </span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="px-4">
                        <input type="radio" name="emitir_receta_am" id="usar_epp_si" value="1" >
                        <label for="usar_epp_si">Si</label>
                    </div>
                    <div class="px-4">
                        <input type="radio" name="emitir_receta_am" id="usar_epp_no" value="0" checked="">
                        <label for="usar_epp_no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="col-md-4 col-sm-12">
            <span class="titulo">Exposición a tóxicos</span>
        </div>
        <div class="mt-5">
            <div class="row item-sig-vital">
                <div class="col-md-6">
                    <strong>¿Se expone a ruido por encima del 80dB en 8 horas?</strong>
                </div>
                <div class="col-md-2 row">
                    <div class="d-flex">
                        <div class="">
                            <div class="">
                                <label
                                        for="reg_cali_vida_datos_HTA_si"
                                        class="label-radio select_reg_cali_vida_datos_HTA"
                                        id="select_reg_cali_vida_datos_HTA_si"
                                        onclick="selectClick('HTA','reg_cali_vida_datos_HTA_si','select_reg_cali_vida_datos_HTA')">Si</label>
                                <input class="d-none" type="radio" name="hta" value="Si" id="reg_cali_vida_datos_HTA_si">
                            </div>
                        </div>
                        <div class="ml-3">
                            <div class="input_hc_sp3">
                                <label
                                        for="reg_cali_vida_datos_HTA_no"
                                        class="label-radio select_reg_cali_vida_datos_HTA select-active"
                                        id="select_reg_cali_vida_datos_HTA_no"
                                        onclick="selectClick('HTA','reg_cali_vida_datos_HTA_no','select_reg_cali_vida_datos_HTA')">No</label>
                                <input class="d-none" type="radio" name="hta" value="No" id="reg_cali_vida_datos_HTA_no">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control w-100" placeholder="Detalle de hallazgo positivo" style="width: 100% !important;text-align: left;">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./view/sho-hce/mujer_edad_fertil_gestante/js/index.js"></script>
<script src="./view/sho-hce/mujer_edad_fertil_gestante/js/registroMujerGestante.js"></script>
<script>
    _init()
</script>