<!-- /****************************************************************************************
 * VISUAL SAT - [2021]
 * PROYECTO : SHO
 * ESQUEMA : SSOMA
 * SPRINT  : 5
 * MODULO : FORMULARIOS DE MONITOREO OCUPACIONAL
 * OPERADORES_________________________________________________________________________
 * | # | PROGRAMADOR     |  |      FECHA   |  |   HORA   |           CORREO           |
 * | 1 | Jose Murga      |  |   17/11/2021 |  | 09:00:00 |    murga.jose16@gmail.com  | 
 * |___|_________________|__|______________|__|__________|____________________________|
 *
 * DESCRIPCION: ARCHIVO MENU LATERAL
 *
 * ARCHIVOS DE SERVICIOS   _________________________________________
 * | # |     MODULO             |  |         NOMBRE                 |
 * | 1 |                        |  |                                |
 * |________________________________________________________________|
 *
 *
 * VERSION: 1
 *********************************************************************************************************************************************************************************
  

 *******************************************************************************************/ -->
<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">
<link rel="stylesheet" href="view/sho-hce/monitoreo/evaluar/menu-evaluaciones/menu-evaluaciones.css">

<script src="view/sho-hce/monitoreo/evaluar/menu-evaluaciones/menu-evaluaciones.js"></script>



<div id="HC_datos_generales">
  <div id="sidebar">
    <div id="toggle-btn">
      <img class="inject-svg" src="./images/sho/down.svg" alt="" fill="#fff">
    </div>
    <span class="titulo">Higiene Ocupacional</span>
    <ul id="main-menu">
      <li class="item-list" id="menu_lateral200" onclick="sp3HoMenuGenaralIzquierdoEventos(200)">
        <img class="inject-svg" src="./images/sho/trazado1432.svg" alt="Inspección de Instalaciones" />
        <span>Inspección de Instalaciones</span>
      </li>
      <li class="item-list" id="menu_lateral201" onclick="sp3HoMenuGenaralIzquierdoEventos(201)">
        <img class="inject-svg" src="./images/sho/trazado1442.svg" alt="Incidencias" />
        <span>Incidencias</span>
      </li>
      <li class="item-list" id="menu_lateral202" onclick="sp3HoMenuGenaralIzquierdoEventos(202)">
        <img class="inject-svg" src="./images/sho/trazado1460.svg" alt="Monitoreo Ocupacional" />
        <span>Monitoreo Ocupacional</span>
      </li>
      <li class="item-list" id="menu_lateral203" onclick="sp3HoMenuGenaralIzquierdoEventos(203)">
        <img class="inject-svg" src="./images/medical-mask.svg" alt="" />
        <span>Protección respiratoria y auditiva</span>
      </li>
    </ul>
  </div>
  <div id="page-content-sidebar" style="display:none">
  </div>
</div>