.clsNoCalibrado {
    border     : solid 1px #ffa8a8 !important;
    color      : #ff4040;
    background : #fff0f0;
    font-weight: bold;

}

.clsCalibracionCorrecta {
    border     : solid 1px #22a14b !important;
    color      : #0d7e38;
    background : #c3e9c4;
    font-weight: bold;

}