<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/sho.css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/form.css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/form/DOSI/form-dosimetria.css" />


<!-- HTML -->
<div class="main-content">

  <div>
    <!-- Titulo y Botones -->
    <div class="row mb-5 align-items-center">

      <div class="col-md-4 col-sm-12">
        <span class="titulo">Datos del área</span>
      </div>

      <div class="col-md-6" id="divBtnInvisible"> </div>
      <div class="col-md-2  col-sm-6" id="divBtnCerrar">
        <button type="submit" class="btn btn-info btn-block btn-lg text-white" onclick="fnCerrarEvaluacion(2);">
          Cerrar
          <img src="./images/sho/trazado1350.svg" alt="Cerrar">
        </button>
      </div>
      <div class="col-md-2  col-sm-6" id="divBtnAnular">
        <button type="button" class="btn clsBtnAnular btn-block btn-lg text-white" onclick="fnAnularEvaluacion(3);">
          Anular
          <img src="./images/sho/anular.svg" alt="Anular">
        </button>
      </div>
      <div class="col-md-2 col-sm-6" id="divBtnCancelar">
        <button type="button" class="btn btn-danger btn-block btn-lg" onclick="fnVolverIndexMonitoreoEva();"> Cancelar
          <img src="./images/sho/cancelar.svg" alt="Cancelar">
        </button>
      </div>
      <div class="col-md-2 col-sm-6" id="divBtnProgramar">
        <button type="button" class="btn btn-success btn-block btn-lg" id="btnProgramar"
          onclick="fnProgramarEvaluacion(4);"> Programar
          <img src="./images/sho/confirm.svg" alt="Programar">
        </button>
      </div>
      <div class="col-md-2 col-sm-6" id="divBtnGuardar">
        <button type="button" class="btn btn-success btn-block btn-lg" id="btnGuardar" onclick="fnGuardarEvaluacion();">
          Guardar
          <img src="./images/sho/confirm.svg" alt="Guardar">
        </button>
      </div>

    </div>

    <form>

      <fieldset id="fieldset1">
        <!-- Datos del Área -->
        <section>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Nro de documento</span>
                <input type="text" id="sNumeroDoc" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Nombres</span>
                <input type="text" id="sNombres" required disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Apellidos</span>
                <input type="text" id="sApellidos" required disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Fecha de nacimiento</span>
                <input type="date" id="dFechaNac" required disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Gerencia</span>
                <select class="submit" name="" id="dat_gerencia" required disabled>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Unidad</span>
                <select class="submit" name="" id="dat_sede" required disabled>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Área</span>
                <select class="submit" name="" id="dat_area" required disabled>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Puesto de Trabajo</span>
                <select class="submit" name="" id="dat_puesto" required disabled>
                </select>
              </div>
            </div>
          </div>

      </fieldset>

      <fieldset id="fieldset2">
        <div class="row">
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Fecha programada</span>
              <input type="date" id="dFechaProgramacion" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Fecha de registro</span>
              <input type="date" id="dFechaRegistro" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Código de evaluación</span>
              <input type="text" id="sCodEvaluacion" required disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Código de tarea de monitoreo</span>
              <input type="text" id="sCodTareaMonitoreo" required disabled>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset id="fieldset3">
        <div class="row">
          <div class="col-md-12">
            <div class="input-box-secondary">
              <span>Descripción de fuente de ruido</span>
              <input type="text" id="sFuente" class="submit">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Edad</span>
              <input type="text" id="nEdad" required disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Talla</span>
              <input type="text" id="nTalla" required disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Peso</span>
              <input type="text" id="nPeso" required disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Actividades generales</span>
              <input type="text" id="sActivGeneral" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Regimen</span>
              <input type="number" id="nRegimen" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-box-secondary">
              <span>Tiempo de almuerzo</span>
              <input type="number" id="nTiempoAlmuerzo" required>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="input-box-secondary">
              <span>Etapa</span>
              <select class="submit" name="" id="dat_etapa" required disabled>
              </select>
            </div>
          </div>
        </div>


        </section>

        <hr class="mb-5 mt-4" />

        <!-- Controles Existentes -->
        <section>

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Controles existentes</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Ingeniería</span>
                <select class="submit" name="" id="dat_Ingenieria" required>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-box-secondary">
                <span>Detallar</span>
                <input type="text" id="sDetallar" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Administrativo</span>
                <input type="text" id="sAdministrativo" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>EPP</span>
                <select class="submit" name="" id="dat_EPP" required>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Marca</span>
                <input type="text" id="sMarcaControl" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Modelo</span>
                <input type="text" id="sModeloControl" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>NRR del Equipo</span>
                <input type="text" id="sNRREquipo" required>
              </div>
            </div>

          </div>

          <div class="row" id="divDobleProteccion">

            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Marca 2</span>
                <input type="text" id="sMarcaControl_2">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Modelo 2</span>
                <input type="text" id="sModeloControl_2">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>NRR del Equipo 2</span>
                <input type="text" id="sNRREquipo_2">
              </div>
            </div>

          </div>

        </section>

        <hr class="mb-5 mt-4" />

        <!-- Equipo de Medición -->
        <section>

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Equipo de medición</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Marca</span>
                <input type="text" id="sMarcaMedicion" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Modelo</span>
                <input type="text" id="sModeloMedicion" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Nro de serie</span>
                <input type="text" id="sNumSerie" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Calibración Inicial</span>
                <input type="number" id="nCalibracionInicial" step="0.01" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Calibración Final</span>
                <input type="number" id="nCalibracionFinal" step="0.01" required>
              </div>
            </div>

          </div>

          <div class="input-box-secondary" id="divNoCalibrado">
            <input type="text" id="bNoCalibrado" class="text-center clsNoCalibrado"
              style="border:solid 1px #ffa8a8 !important;" value="El equipo no se encuentra calibrado">
          </div>

          <div class="input-box-secondary" id="divCalibracionCorrecta">
            <input type="text" id="bCalibracionCorrecta" class="text-center clsCalibracionCorrecta"
              style="border:solid 1px #22a14b !important;" value="El equipo se encuentra calibrado correctamente">
          </div>

        </section>

        <hr class="mb-5 mt-4" />

        <!-- Datos de campo sin EPP -->
        <section>

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Datos de campo sin EPP</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Tiempo de Medición (hr)</span>
                <input type="number" id="nTiempoMedicion" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Nivel de ruido equivalente</span>
                <input type="number" id="nNivelRuido" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Tiempo permitido de exposición (hr)</span>
                <input type="number" id="nTiempoPermitido" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Dosis proyectada (%) 12 horas</span>
                <input type="number" id="nDosisProyectada" step="0.01" required>
              </div>
            </div>
          </div>

        </section>

        <hr class="mb-5 mt-4" />

        <!-- Comparacion con normativa sin EPP -->
        <section>

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Comparación con normativa sin EPP</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Dosis Límite (%)</span>
                <input type="number" id="nDosisLimite" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Intensidad de agente global</span>
                <input type="number" id="nIntensidadAgenteGlobal" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Nivel de Riesgo</span>
                <select class="submit" name="" id="dat_NivelRiesgo" required>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Cumplimiento de Normativa</span>
                <select class="submit" name="" id="dat_CumplimientoNormativa" required>
                </select>
              </div>
            </div>
          </div>

        </section>

        <hr class="mb-5 mt-4" />

        <!-- Calculos con EPP -->
        <section>

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Calculos con EPP</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Leq (dBA) Atenuado con EPP</span>
                <input type="number" id="nLeq" step="0.01" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-box-secondary">
                <span>Tref (horas)</span>
                <input type="number" id="nTref" step="0.01" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-box-secondary">
                <span>Dosis (%) Calculada Tiempo de medición</span>
                <input type="number" id="nDosisCalculada" step="0.01" required>
              </div>
            </div>

          </div>

        </section>

        <hr class="mb-5 mt-4" />

        <!-- Anulación de Evaluación -->
        <section id="divMotivoAnulacion">

          <div class="row mb-5 d-flex align-items-center">
            <div class="col-md-12">
              <span class="titulo">Anulación de evaluación</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="input-box-secondary">
                <span>Motivo</span>
                <select class="submit" name="" id="dat_motivo_select" disabled>
                </select>
              </div>
            </div>
            <div class="col-md-9 col-sm-6">
              <div class="input-box-secondary">
                <span>Detalle de anulación</span>
                <input type="text" id="sMotivoAnulacion" class="submit submit-anular" disabled>
              </div>
            </div>
          </div>

        </section>

      </fieldset>

    </form>
  </div>

</div>



<!-- Librerias JS -->
<script src="view/sho-hce/monitoreo/evaluar/js/commonMonitoreo.js"></script>
<script src="./view/sho-hce/monitoreo/evaluar/form/DOSI/form-dosimetria.js"></script>

<script src="js/select2.min.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>