<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">

<div class="container main-content">
    <div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_ingreso" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                        <option value="">Calidad de Vida</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Archivos adjuntos</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_archivo-adjunto-count-row">0</span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_archivo-adjunto">
                    <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha de subida</th>
                        <th>Nombre de archivo</th>
                    </tr>
                    </thead>
                    <tbody id="content_archivo-adjunto">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-4">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Datos del VMO</span>
            </div>
        </div>

        <div class="row mb-5 mt-3">
            <div class="col-md-6 item-sig-vital d-block flex-wrap">
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span style="font-size: 13px !important;">Frecuencia respiratoria (rpm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <span class="m-0">Sístole</span>
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            type="number"
                                            value="0"
                                            min="0"
                                            id="reg_cali_vida_datos_sistole" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <span class="m-0">Diástole</span>
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            type="number"
                                            value="0"
                                            min="0"
                                            id="reg_cali_vida_datos_diastole" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Peso (Kg)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control"
                                    type="number"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_peso" disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Glucosa (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_glucosa" disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>HTA</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select_reg_cali_vida_datos_HTA"
                                            id="select_reg_cali_vida_datos_HTA_si"
                                            disabled="">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" id="reg_cali_vida_datos_HTA_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select_reg_cali_vida_datos_HTA"
                                            id="select_reg_cali_vida_datos_HTA_no"
                                            disabled="">No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" id="reg_cali_vida_datos_HTA_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Dislipidemias</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_dislipidemias_si"
                                            class="label-radio select-reg_cali_vida_datos_dislipidemias"
                                            id="select_reg_cali_vida_datos_dislipidemias_si"
                                            disabled="">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_dislipidemias_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_dislipidemias_no"
                                            class="label-radio select-reg_cali_vida_datos_dislipidemias select-active"
                                            id="select_reg_cali_vida_datos_dislipidemias_no"
                                            disabled="">No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_dislipidemias_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Frecuencia cardiaca (lpm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control"
                                    type="number"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_frecuencia_cardiaca"
                                    disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Temperatura (°C)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_temperatura"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Fumador</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select-reg_cali_vida_datos_fumador"
                                            id="select_reg_cali_vida_datos_fumador_si"
                                           >Si</label>
                                    <input
                                            class="d-none"
                                            type="radio"
                                            name="hta"
                                            value="Si"
                                            min="0"
                                            disabled
                                    >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select-reg_cali_vida_datos_fumador select-active"
                                            id="select_reg_cali_vida_datos_fumador_no"
                                            >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_fumador_no" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_fumador_select"
                                            class="form-select"
                                            style="  width:150px;" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Consumo de azúcar</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_consumo_de_azucar_si"
                                           class="label-radio select-reg_cali_vida_datos_consumo_de_azucar"
                                           id="select_reg_cali_vida_datos_consumo_de_azucar_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0"
                                           id="reg_cali_vida_datos_consumo_de_azucar_si" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_consumo_de_azucar_no"
                                            class="label-radio select-reg_cali_vida_datos_consumo_de_azucar select-active"
                                            id="select_reg_cali_vida_datos_consumo_de_azucar_no"
                                            >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0"
                                           id="reg_cali_vida_datos_consumo_de_azucar_no" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_consumo_azucar_select"
                                            class="form-select"
                                            style="  width:150px;" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Actividad física</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label
                                            for="reg_cali_vida_datos_HTA_si"
                                            class="label-radio select-reg_cali_vida_datos_actividad_fisica"
                                            id="select_reg_cali_vida_datos_actividad_fisica_si"
                                            >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0"
                                           id="reg_cali_vida_datos_actividad_fisica_si" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label
                                            for="reg_cali_vida_datos_HTA_no"
                                            class="label-radio select-reg_cali_vida_datos_actividad_fisica select-active"
                                            id="select_reg_cali_vida_datos_actividad_fisica_no"
                                            >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0"
                                           id="reg_cali_vida_datos_actividad_fisica_no" disabled>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select
                                            name=""
                                            id="reg_cali_vida_datos_actividad_fisica_select"
                                            class="form-select"
                                            style="  width:150px;" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>IMC (Kg/m2)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input
                                    class="form-control text-center"
                                    type="text"
                                    value="0"
                                    min="0"
                                    id="reg_cali_vida_datos_imc" disabled
                            >
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Talla (m)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_talla"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Colesterol (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_colesterol"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Sosbrepeso</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si"
                                           class="label-radio select-reg_cali_vida_datos_sosbrepeso"
                                           id="select_reg_cali_vida_datos_sosbrepeso_si"
                                           onclick="selectClick('Sobrepeso','reg_cali_vida_datos_sosbrepeso_si','select-reg_cali_vida_datos_sosbrepeso')">Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_sosbrepeso_si"
                                    >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_sosbrepeso select-active"
                                           id="select_reg_cali_vida_datos_sosbrepeso_no"
                                           onclick="selectClick('Sobrepeso','reg_cali_vida_datos_sosbrepeso_no','select-reg_cali_vida_datos_sosbrepeso')">No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_sosbrepeso_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item-sig-vital d-block flex-wrap">
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span style="font-size: 13px !important;">Frecuencia respiratoria (rpm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_frecuencia_respiratoria"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>LDL (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_ldl"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Perimetro abdominal (cm)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_perimetro_abdominal" disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Triglicéridos (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_trigliceridos"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Obesidad</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_obesidad"
                                           id="select_reg_cali_vida_datos_obesidad_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_obesidad_si"
                                    >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_obesidad select-active"
                                           id="select_reg_cali_vida_datos_obesidad_no"
                                           >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_obesidad_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Saturación de oxigeno (%)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_saturacion_oxigeno" disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Estress</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_estress"
                                           id="select_reg_cali_vida_datos_estress_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_estress_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_estress select-active"
                                           id="select_reg_cali_vida_datos_estress_no"
                                           >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_estress_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Riesgo cardiovascular</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <select name="" id="reg_cali_vida_datos_riesgo_cardiovascular_select" class="form-select" style="  width:150px;"
                                    disabled>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>HDL (mg/dL)</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input_hc_sp3">
                            <input class="form-control" type="number" value="0" min="0" id="reg_cali_vida_datos_hdl"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Diabetes</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_diabetes"
                                           id="select_reg_cali_vida_datos_diabetes_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_diabetes_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_diabetes select-active"
                                           id="select_reg_cali_vida_datos_diabetes_no"
                                           >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_diabetes_no">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Alcohol</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_alcohol"
                                           id="select_reg_cali_vida_datos_alcohol_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_alcohol_si" >
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no" class="label-radio select-reg_cali_vida_datos_alcohol select-active"
                                           id="select_reg_cali_vida_datos_alcohol_no"
                                           >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_alcohol_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <select name="" id="reg_cali_vida_datos_alcohol_select" class="form-select" style="  width:150px;" disabled
                                            >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 align-items-center mb-3">
                    <div class="col-md-5">
                        <div class="d-flex">
                            <img src="./images/clipboard-minus-azul.svg" alt="" style="width: 25px;height: 25px;">
                            <span>Otros</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <div class="">
                                <div class="">
                                    <label for="reg_cali_vida_datos_HTA_si" class="label-radio select-reg_cali_vida_datos_otros"
                                           id="select_reg_cali_vida_datos_otros_si"
                                           >Si</label>
                                    <input class="d-none" type="radio" name="hta" value="Si" min="0" id="reg_cali_vida_datos_otros_si">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <label for="reg_cali_vida_datos_HTA_no"
                                           class="label-radio select-reg_cali_vida_datos_otros select-active"
                                           id="select_reg_cali_vida_datos_otros_no"
                                           >No</label>
                                    <input class="d-none" type="radio" name="hta" value="No" min="0" id="reg_cali_vida_datos_otros_no">
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="input_hc_sp3">
                                    <input
                                            class="form-control"
                                            disabled placeholder="Indicar"
                                            type="text"
                                            id="reg_cali_vida_datos_otros_input"
                                            style="width: 150px !important; font-size: 15px;"
                                            onkeyup="setDatosVmoCalidadVida('OtrosDetalle','reg_cali_vida_datos_otros_input')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-5 mt-4">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Hospitalización</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_hospitalizacion-count-row">0</span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_hospitalizacion">
                    <thead>
                    <tr>
                        <th style="width: 150px;">Fecha de inicio</th>
                        <th style="width: 150px;">Fecha fin</th>
                        <th style="width: 200px;">Tiempo de estadía</th>
                        <th>Motivo</th>
                    </tr>
                    </thead>
                    <tbody id="content_hospitalizacion">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <div class="input-box-secondary">
                <span>Otros</span>
                <input type="text" id="reg_cali_vida_hosp_otros" placeholder="Escribir..." class="submit" disabled >
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Otros</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 item-sig-vital flex-wrap" id="otrosSintomas">

            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-12">
                <span class="titulo">Medicamentos</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_medicamento">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_medicamento-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_medicamento">
                    <thead>
                    <tr>
                        <th style="width: 70px;">Nro</th>
                        <th style="width: 200px;">Fecha de registro</th>
                        <th style="width: 200px;">Medicamento</th>
                        <th>Comentario</th>
                    </tr>
                    </thead>
                    <tbody id="content_medicamento">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Capacitación</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_capacitacion">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_capacitacion-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_capacitacion">
                    <thead>
                    <tr>
                        <th style="width: 200px">Fecha de registro</th>
                        <th>Tema</th>
                        <th>Comentario</th>
                        <th style="width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody id="content_capacitacion">
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Adjuntar capacitación firmada</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_firma-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_firma">
                    <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha de subida</th>
                        <th>Nombre de archivo</th>
                    </tr>
                    </thead>
                    <tbody id="content_firma">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="view/sho-hce/vmo/js/index.js"></script>
<script src="view/sho-hce/vmo/js/detalleCalidadVida.js"></script>
<script>
    _initDetalleCalidadVida()
</script>