<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="./view/sho-hce/vmo/css/vmo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">

<div class="container main-content">
    <div>
        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del trabajador</span>
            </div>
            <div class="col-md-4">
                <button type="button" onclick="ImprimirCATranstornoMusculoEsqueletico()" class="btn btn-link btn-block btn-lg shadow-none" style="font-weight: bold; color: #fff; background: #01719d">Imprimir constancia de autorización <img src="./images/printer-blanco.svg" style="width: 20px;height: 20px;margin-left: 5px;"> </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button onclick="atrasBack()" type="button" class="btn btn-danger btn-block btn-lg"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
                </button>
            </div>
            <div class="col-md-2 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="guardarTranstornoMusculoEsqueletico()"> Guardar <img src="./images/sho/confirm.svg" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nro de documento</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_dni_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nombres</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_nombres_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Apellidos</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_apellidos_trabajador" disabled="">
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="input-box-secondary">
                    <span>Edad</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_edad_trabajador" disabled="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Gerencia</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_gerencia_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Planta</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_planta_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Área</span>
                    <select class="input_am_datos_trabajador" name="" id="dat_am_area_trabajador" disabled="">
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Puesto de trabajo</span>
                    <input class="input_am_datos_trabajador" type="text" id="dat_am_puesto_trabajo_trabajador" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Código de EMO</span>
                    <input class="input_am_datos_trabajador" type="text" id="input_codigo_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Fecha de EMO</span>
                    <input class="input_am_datos_trabajador" type="date" id="input_fecha_emo" disabled="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <select class="input_am_datos_trabajador" name="" id="input_tipo_vmo" disabled="">
                        <option value="">Transtorno Musculo Esqueletico</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                    <span>Nivel de seguimiento</span>
                    <!--                    <input class="input_am_datos_trabajador" type="date" id="dat_am_fecha_retiro" disabled="">-->
                    <select class="input_am_datos_trabajador" name="" id="input_nivel_seguimiento" disabled="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-12 mt-4 mb-3">
                <span class="titulo">Adjuntar archivos</span>
            </div>
            <div id="adjuntarArchivos">

            </div>
            <div class="d-none row col-md-12" id="lista-adjunto-archivos">
                <div class="col-md-12 mt-4">
                    <div class="d-flex align-items-center">
                        <div >
                            <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto-archivos-count-row"></span> registros</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table-box" id="table_adjunto-archivos">
                            <thead>
                            <tr>
                                <th style="width: 300px;">Nombre del archivo</th>
                                <th>Fecha de carga</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="content_adjunto-archivos">
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination-adjunto-archivos" class="mt-3"></div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos del VMO</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Tipo de VMO</span>
                    <select class="input_am_datos_trabajador" name="" id="tipo_vmo" onchange="setDatosTranstornoMuscular('TipoVMO','tipo_vmo')" disabled>
                        <option >Trastorno músculo esquelético</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary">
                    <span>Tipo de puesto</span>
                    <select class="input_am_datos_trabajador" name="" id="tipo_puesto" disabled onchange="tipoDePuesto()">
                        <option value="1">Administrativo</option>
                        <option value="2">Operativo</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-box-secondary operativo">
                    <span>Horas diarias sentado</span>
                    <input type="text" class="input_am_datos_trabajador" id="HorasDiariasSentado" disabled onkeyup="setDatosTranstornoMuscular('HorasDiariasSentado','HorasDiariasSentado')">
                    <!--                    <select class="input_am_datos_trabajador" name="" id="otro" onchange="setDatosConservasionAuditiva('Otro','otro')">-->
                    <!--                        <option value="1">Si</option>-->
                    <!--                        <option value="0">No</option>-->
                    <!--                    </select>-->
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-box-secondary operativo">
                    <span>Antecedentes óseos musculares</span>
                    <input type="text" class="input_am_datos_trabajador" id="AntecedentesOseoMusculares" disabled onkeyup="setDatosTranstornoMuscular('AntecedentesOseoMusculares','AntecedentesOseoMusculares')">
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-12 mt-4 mb-3">
                <span class="titulo">Adjuntar ficha</span>
            </div>
            <div class="col-12 mt-3" id="adjuntarFicha">
            </div>
            <div class="d-none row col-md-12" id="lista-adjunto-fichas">
                <div class="col-md-12 mt-4">
                    <div class="d-flex align-items-center">
                        <div id="">
                            <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto_fichas-count-row"></span> registros</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table-box" id="table_adjunto_fichas">
                            <thead>
                            <tr>
                                <th style="width: 300px;">Nombre del archivo</th>
                                <th>Fecha de carga</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="content_adjunto_fichas">
                            </tbody>
                        </table>
                    </div>
                    <div id="paginacion_adjunto_fichas" class="mt-3"></div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4 operativo">
        <div class="row mb-5 align-items-center justify-content-between operativo">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Zonas alteradas - Columna vertebral</span>
            </div>
        </div>
        <div class="row operativo">
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Cervical</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaColumnCervical"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Dorsal</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaColumnDorsal"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Lumbar</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaColumnLumbar"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center justify-content-between operativo">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Zonas alteradas - Artragias</span>
            </div>
        </div>
        <div class="row operativo">
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Hombro</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaHombro"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Codo</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaCodo"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Mano/ muñeca</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaMano"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Cadera</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaCadera"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Rodilla</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaRodilla"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-box-secondary">
                    <span>Tobillos</span>
                    <select
                            class="input_am_datos_trabajador"
                            name="" id="ZonaArtralgiaTobillos"
                            onchange="setDatosConservasionAuditiva('Otro','otro')" disabled>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-4 operativo">
        <div class="row mb-4 mt-4 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Diagnóstico TME</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex align-items-center">
                    <div id="cant_diagnostico">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_diagnostico-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_diagnostico">
                        <thead>
                        <tr>
                            <th>Diagnóstico</th>
                            <th>CIE 10</th>
                            <th>Fecha</th>
                            <th>Especialidad</th>
                            <th>Sistema afectado</th>
                            <th>Sección afectada</th>
                        </tr>
                        </thead>
                        <tbody id="content_diagnostico">
                            <tr>
                                <td colspan="6" class="text-center">No se ha encontrado registro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="input-box-secondary">
                    <span>Otros diagnósticos</span>
                    <input type="text" class="input_am_datos_trabajador" disabled id="otros_diagnosticos" onkeyup="setDatosTranstornoMuscular('OtrosDiagnosticos','otros_diagnosticos')">
                </div>
            </div>
            <hr class="mb-5 mt-5">
        </div>
        <hr class="mb-5 mt-4">
        <div class="row mb-5 align-items-center justify-content-between mt-5">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Capacitación</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div id="cant_capacitacion">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_capacitacion-count-row"></span> registros</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table-box" id="table_capacitacion">
                    <thead>
                    <tr>
                        <th style="width: 70px;">Nro</th>
                        <th>Tema</th>
                        <th>Comentario</th>
                        <th style="width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody id="content_capacitacion">
                    <tr>
                        <td colspan="5" class="text-center">No se ha encontrado registro</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row mb-5 align-items-center">
            <div class="col-md-4 col-sm-12">
                <span class="titulo">Adjuntar capacitación firmada</span>
            </div>
        </div>
        <div id="adjuntarFirma">

        </div>
        <div class="d-none row col-md-12" id="lista-adjunto-firma">
            <div class="col-md-12 mt-4">
                <div class="d-flex align-items-center">
                    <div id="">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                    </div>
                    <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto_firma-count-row"></span> registros</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-box" id="table_adjunto_firma">
                        <thead>
                        <tr>
                            <th style="width: 300px;">Nombre del archivo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="content_adjunto_firma">
                        </tbody>
                    </table>
                </div>
                <div id="adjunto_firma" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="view/sho-hce/vmo/js/index.js"></script>
<script src="view/sho-hce/vmo/js/detalleTmeAdm.js"></script>
<script>
    _init()
</script>