<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">
<!-- <link rel="stylesheet" href="css/sweetalert2.css"> -->

<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/dataTable.css">


<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->

<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>

<style type="text/css">



  .btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}

.circulo {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #707070;
}




/*.dataTables_scroll
{
    overflow:auto;
}*/



</style>

<div class="main-content">
  <div>
    <!-- Busqueda de registro  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Busqueda de registro </span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row mb-5">
      <div class="col-md-2">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" id="dat_gerencia" data-filtro-select='3'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Unidad</span>
          <select class="form-control data-filtro-select" id="dat_unidad" data-filtro-select='5'>
          </select> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select" id="dat_area" data-filtro-select='6'>
          </select> 
        </div>
      </div>      
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Documento</span>
          <input class="form-control numero data-filtro" type="" id="dat_documento" data-filtro='0'> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Nombres</span>
          <input class="form-control data-filtro" type="" id="dat_nombre" data-filtro='1'> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Apellidos</span>
          <input class="form-control data-filtro" type="" id="dat_apellido" data-filtro='2'> 
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    
    <!-- Fila 2 -->
    <div class="row mb-5">
      <div class="col-md-2">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <input class="form-control data-filtro" type="" id="dat_puesto_trabajo" data-filtro='4'> 
        </div>
      </div>                
      
      <div class="col-md-2">
        <div class="form-box">
          <span>Resultado</span>
          <select class="form-control data-filtro-select-resultado" id="dat_resultado" data-filtro-select-resultado='13' data-filtro-select-resultado-alt='18'>            
          </select> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>F. Cese desde</span>
          <input class="form-control" type="date" id="dat_min_fecha_cese"> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>F. Cese hasta</span>
          <input class="form-control" type="date" id="dat_max_fecha_cese"> 
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-box">
          <span>F. Traslado desde</span>
          <input class="form-control" type="date" id="dat_min_fecha_traslado"> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-box">
          <span>F. Traslado hasta</span>
          <input class="form-control" type="date" id="dat_max_fecha_traslado"> 
        </div>
      </div>     
      
    </div>

    <!-- Fila 3 -->
    <div class="row mb-5">

      <div class="col-md-2">
        <div class="form-box">
          <span>Mes programado</span>
          <select class="form-control data-filtro-select-mes-prog" id="dat_mes_programado" data-filtro-select-mes-prog-alt='21' data-filtro-select-mes-prog='16'>            
          </select> 
        </div>
      </div>             
      
    </div>

    <!-- Fila 2 fin -->
    <!-- Busqueda de registro  -->
    
    <!-- Nav-tabs -->
    <div class="row mb-5">
      <div class="col-md-12">
        
        <div class="row"> 
          <div class="col-md-6">           
            <ul class="nav nav-pills mb-4" id="myTab" role="tablist">
              <li class="nav-item  mb-3">
                <a class="nav-link active" data="plantilla_activa" id="plantilla_activa-tab" data-toggle="tab" href="#plantilla_activa" role="tab" aria-controls="plantilla_activa" aria-selected="true">Plantilla activa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data="ingresos" id="ingresos-tab" data-toggle="tab" href="#ingresos" role="tab" aria-controls="ingresos" aria-selected="false">Ingresos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data="retiro" id="retiro-tab" data-toggle="tab" href="#retiro" role="tab" aria-controls="retiro" aria-selected="false">Retiros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data="traslados" id="traslados-tab" data-toggle="tab" href="#traslados" role="tab" aria-controls="traslados" aria-selected="false">Traslados</a>
              </li>
            </ul>
          </div>    
          <div class="col-md-6 text-right">
            <div class="d-flex justify-content-end">
              <div id="container-detalles" class="pt-4">

                <div class="circulo m-0 leyenda d-none" style="display: inline-block; background-color: #dc913b;"></div>
                <span id="" class="cantidad ml-2 mr-4 leyenda d-none" style="font-size: 15px"> Origen</span>

                <div class="circulo m-0 leyenda d-none" style="display: inline-block; background-color: #44b5ff;"></div>
                <span id="" class="cantidad ml-2 mr-4 leyenda d-none" style="font-size: 15px"> Destino</span>

                <img src="images/iconos/copia-1.svg" style="width: 20px; height: 20px;" />

                <span id="count_table_plantilla_activa" class="cantidad ml-2 mr-4 count-table" style="font-size: 15px"><span id="table_plantilla_activa-count-row"></span> registros</span>

                <span id="count_table_ingresos" class="cantidad ml-2 mr-4 count-table d-none" style="font-size: 15px"><span id="table_ingresos-count-row"></span> registros</span>

                <span id="count_table_retiro" class="cantidad ml-2 mr-4 count-table d-none" style="font-size: 15px"><span id="table_retiro-count-row"></span> registros</span>

                <span id="count_table_traslados" class="cantidad ml-2 mr-4 count-table d-none" style="font-size: 15px"><span id="table_traslados-count-row"></span> registros</span>

              </div>
              <button onclick="ecSp4RegistrarEMOExc();" type="button" class="btn btn-success btn-lg" id=""> Reg. Excepcional <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
              </button>                           
            </div>            
          </div>      
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- Descanso medico -->    
          <div class="tab-pane fade show active" id="plantilla_activa" role="tabpanel" aria-labelledby="plantilla_activa-tab">

            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box" id="table_plantilla_activa" style="margin-top: 0px !important;">
                <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Puesto de trabajo</th>
                    <th>Planta</th>                    
                    <th>Área</th>
                    <th>F. Ingreso</th>
                    <th>F. Nacimiento</th>
                    <th>Grupo factor</th>
                    <th>Año de EMO</th>
                    <th>Fecha</th>
                    <th>Código EMO</th>
                    <th>Resultado</th>
                    <th>Altura estructural</th>
                    <th>Espacio confinado</th>
                    <th>Mes programado</th>
                    <th>Nivel de seguimiento</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_plantilla_activa"> 
                </tbody>
              </table>
            </div>                        
          </div>
          <!-- Descanso medico fin-->

          <!-- Transferencias -->    
          <div class="tab-pane fade" id="ingresos" role="tabpanel" aria-labelledby="ingresos-tab">           

            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box" id="table_ingresos" style="margin-top: 0px !important;">
                <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Puesto de trabajo</th>
                    <th>Planta</th>                    
                    <th>Área</th>
                    <th>F. Ingreso</th>
                    <th>F. Nacimiento</th>
                    <th>Grupo factor</th>
                    <th>Año de EMO</th>
                    <th>Fecha</th>
                    <th>Código EMO</th>
                    <th>Resultado</th>
                    <th>Altura estructural</th>
                    <th>Espacio confinado</th>
                    <th>Mes programado</th>
                    <th>Fecha de último VMO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_ingresos">  
                </tbody>
              </table>
            </div>            
          </div>
          <!-- Transferencias fin -->

          <!-- Interconsulta -->    
          <div class="tab-pane fade" id="retiro" role="tabpanel" aria-labelledby="retiro-tab">           

            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box" id="table_retiro" style="margin-top: 0px !important;">
                <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Puesto de trabajo</th>
                    <th>Planta</th>                    
                    <th>Área</th>
                    <th>F. Ingreso</th>
                    <th>F. Cese</th>
                    <th>F. Nacimiento</th>
                    <th>Grupo factor</th>
                    <th>Fecha</th>
                    <th>Código EMO</th>
                    <th>Resultado</th>
                    <th>Altura estructural</th>
                    <th>Espacio confinado</th>
                    <th>Mes programado</th>
                    <th>Fecha de último VMO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_retiro">
                </tbody>
              </table>
            </div>             
          </div> 
          <!-- Interconsulta -->

          <!-- Interconsulta2 -->    
          <div class="tab-pane fade" id="traslados" role="tabpanel" aria-labelledby="traslados-tab">            

            <div class="table-responsive" style="overflow-y:hidden!important;">
              <table class="table-box" id="table_traslados" style="margin-top: 0px !important;">
                <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>                    
                    <th>F. Nacimiento</th>
                    <th>Grupo factor</th>
                    <th style="background-color:#dc913b;">Gerencia</th>
                    <th style="background-color:#dc913b;">Puesto de trabajo</th>
                    <th style="background-color:#dc913b;">Planta</th>                    
                    <th style="background-color:#dc913b;">Área</th>
                    <th style="background-color:#dc913b;">F. Ingreso</th>
                    <th style="background-color:#44b5ff;">Gerencia</th>
                    <th style="background-color:#44b5ff;">Puesto de trabajo</th>
                    <th style="background-color:#44b5ff;">Planta</th>                    
                    <th style="background-color:#44b5ff;">Área</th>
                    <th style="background-color:#44b5ff;">F. Traslado</th>
                    <th>Año de EMO</th>
                    <th>Fecha</th>
                    <th>Código EMO</th>
                    <th>Resultado</th>
                    <th>Altura estructural</th>
                    <th>Espacio confinado</th>
                    <th>Mes programado</th>
                    <th>Fecha de último VMO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="content_traslados">
                </tbody>
              </table>
            </div>             
          </div> 
          <!-- Interconsulta -->
        </div>    
                
      </div>
    </div>
    <!-- Nav-tabs -->
  </div>
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/enfermedades_cronicas/js/bootstrap-multiselect.js"></script>


<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});

//--------------------------VARIABLES GLOBALES------------------------------//

var ObjTablaPlantillaActiva = '';
var ObjTablaRetiro = '';
var ObjTablaIngreso = '';
var ObjTablaTraslado = '';

var Meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

function ecSp4VerDetalleEnfermedadesCronicas(IdEnfermedad_Cronica) {

  idEC = IdEnfermedad_Cronica;

  handlerUrlhtml('contentGlobal','view/sho-hce/enfermedades_cronicas/detalleEnfermedadCronica.html','Detalle del registro enfermedades crónicas');

}

function ecSp4CargarTablasEMO(){

  let contenido = '';
  let html_tbody = '';
  let ControlOptionSelect = false;

  $('#content_plantilla_activa').empty();
  $('#content_ingresos').empty();
  $('#content_retiro').empty();
  $('#content_traslados').empty();

  paObj_EMO["EMOS"].forEach((Item) => {

    pluck_EMO["Gerencias"].forEach((ItemGerencia) => {
      
      if( parseInt(ItemGerencia.Id) == parseInt(Item.GerenciaId_Empresa_H) ){

        Item.GerenciaDescripcion = ItemGerencia.Description;

      }

      if( parseInt(ItemGerencia.Id) == parseInt(Item.TrasladoOrigenGerenciaId) ){

        Item.TrasladoOrigenGerenciaDescripcion = ItemGerencia.Description;

      }

      if( parseInt(ItemGerencia.Id) == parseInt(Item.TrasladoDestinoGerenciaId) ){

        Item.TrasladoDestinoGerenciaDescripcion = ItemGerencia.Description;

      }

    });

    pluck_EMO["Areas"].forEach((ItemArea) => {
      
      if( parseInt(ItemArea.Id) == parseInt(Item.AreaId_Empresa_H) ){

        Item.AreaDescripcion = ItemArea.Description;

      }

      if( parseInt(ItemArea.Id) == parseInt(Item.TrasladoOrigenAreaId) ){

        Item.TrasladoOrigenAreaDescripcion = ItemArea.Description;

      }

      if( parseInt(ItemArea.Id) == parseInt(Item.TrasladoDestinoAreaId) ){

        Item.TrasladoDestinoAreaDescripcion = ItemArea.Description;

      }

    });

    pluck_EMO["Sedes"].forEach((ItemSede) => {
      
      if( parseInt(ItemSede.Id) == parseInt(Item.PlantaId_Empresa_H) ){

        Item.SedeDescripcion = ItemSede.Description;

      }

      if( parseInt(ItemSede.Id) == parseInt(Item.TrasladoOrigenPlantaId) ){

        Item.TrasladoOrigenPlantaDescripcion = ItemSede.Description;

      }

      if( parseInt(ItemSede.Id) == parseInt(Item.TrasladoDestinoPlantaId) ){

        Item.TrasladoDestinoPlantaDescripcion = ItemSede.Description;

      }

    });

    contenido = $('#content_plantilla_activa');

    html_tbody =  "<tr>";
    html_tbody += "<td>"+Item.NroDocumento_Trabajador_H+"</td>";
    html_tbody += "<td>"+Item.Nombres_Trabajador_H+"</td>";
    html_tbody += "<td>"+Item.Apellidos_Trabajador_H+"</td>";
    html_tbody += "<td>"+Item.GerenciaDescripcion+"</td>";
    html_tbody += "<td>"+Item.PuestoTrabajo_Empresa_H+"</td>";
    html_tbody += "<td>"+Item.SedeDescripcion+"</td>";
    html_tbody += "<td>"+Item.AreaDescripcion+"</td>";    
    html_tbody += "<td>"+new Date(Item.FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+new Date(Item.A_FechaNacimiento).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+Item.GrupoSanguineoD+"</td>";  
    html_tbody += "<td>"+new Date(Item.FechaEmo).getFullYear()+"</td>";
    html_tbody += "<td>"+new Date(Item.FechaEmo).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    html_tbody += "<td>"+Item.CodeEmo+"</td>"; 
    html_tbody += "<td>"+Item.ResultadoD+"</td>"; 
    html_tbody += "<td>"+Item.AlturaEstructutalD+"</td>"; 
    html_tbody += "<td>"+Item.EspacioConfinadoD+"</td>"; 
    html_tbody += "<td>"+Meses[parseInt((Item.MesProgramacion).substring(5,7))-1]+" de "+(Item.MesProgramacion).substring(0,4)+"</td>";
    html_tbody += "<td></td>";    
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown dropleft'>";
    html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
    html_tbody += "...";
    html_tbody += "</a>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
    html_tbody += "<a class='dropdown-item' onclick='ecSp4verRegistroEMO("+Item.HistoriaId+", "+Item.EmoId+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver registro";
    html_tbody += "</a>";
    html_tbody += "<a class='dropdown-item' onclick='ecSp4RegistrarEMO("+Item.HistoriaId+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/moreIcon.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Registrar EMO";
    html_tbody += "</a>";
    html_tbody += "<a class='dropdown-item' onclick='ecSp4verHistorialEMO("+Item.HistoriaId+");' style='cursor: pointer;'>";
    html_tbody += "<img src='./images/sho/file.svg' alt='' fill='#01719d'>";
    html_tbody += "&nbsp;&nbsp; Ver historial";
    html_tbody += "</a>";
    html_tbody += "</div>";
    html_tbody += "</div>"; 
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

////------------------------------------------------------------------------------------------------------------------------

    if( parseInt(Item.TipoEmo) == 1){

      contenido = $('#content_ingresos');

      html_tbody =  "<tr>";
      html_tbody += "<td>"+Item.NroDocumento_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Nombres_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Apellidos_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.GerenciaDescripcion+"</td>";
      html_tbody += "<td>"+Item.PuestoTrabajo_Empresa_H+"</td>";
      html_tbody += "<td>"+Item.SedeDescripcion+"</td>";
      html_tbody += "<td>"+Item.AreaDescripcion+"</td>";    
      html_tbody += "<td>"+new Date(Item.FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+new Date(Item.A_FechaNacimiento).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.GrupoSanguineoD+"</td>"; 
      html_tbody += "<td>"+new Date(Item.FechaEmo).getFullYear()+"</td>";
      html_tbody += "<td>"+new Date(Item.FechaEmo).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.CodeEmo+"</td>"; 
      html_tbody += "<td>"+Item.ResultadoD+"</td>"; 
      html_tbody += "<td>"+Item.AlturaEstructutalD+"</td>"; 
      html_tbody += "<td>"+Item.EspacioConfinadoD+"</td>"; 
      html_tbody += "<td>"+Meses[parseInt((Item.MesProgramacion).substring(5,7))-1]+" de "+(Item.MesProgramacion).substring(0,4)+"</td>";
      html_tbody += "<td></td>";
      html_tbody += "<td>";
      html_tbody += "<div class='dropdown dropleft'>";
      html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
      html_tbody += "...";
      html_tbody += "</a>";
      html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verRegistroEMO("+Item.HistoriaId+", "+Item.EmoId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver registro";
      html_tbody += "</a>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verHistorialEMO("+Item.HistoriaId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/file.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver historial";
      html_tbody += "</a>";
      html_tbody += "</div>";
      html_tbody += "</div>"; 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    }

////------------------------------------------------------------------------------------------------------------------------

    if( parseInt(Item.TipoEmo) == 5){

      contenido = $('#content_retiro');
      
      html_tbody =  "<tr>";
      html_tbody += "<td>"+Item.NroDocumento_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Nombres_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Apellidos_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.GerenciaDescripcion+"</td>";
      html_tbody += "<td>"+Item.PuestoTrabajo_Empresa_H+"</td>";
      html_tbody += "<td>"+Item.SedeDescripcion+"</td>";
      html_tbody += "<td>"+Item.AreaDescripcion+"</td>";    
      html_tbody += "<td>"+new Date(Item.FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>--</td>";
      html_tbody += "<td>"+new Date(Item.A_FechaNacimiento).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.GrupoSanguineoD+"</td>"; 
      html_tbody += "<td>"+new Date(Item.FechaEmo).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.CodeEmo+"</td>"; 
      html_tbody += "<td>"+Item.ResultadoD+"</td>"; 
      html_tbody += "<td>"+Item.AlturaEstructutalD+"</td>"; 
      html_tbody += "<td>"+Item.EspacioConfinadoD+"</td>"; 
      html_tbody += "<td>"+Meses[parseInt((Item.MesProgramacion).substring(5,7))-1]+" de "+(Item.MesProgramacion).substring(0,4)+"</td>";
      html_tbody += "<td></td>";
      html_tbody += "<td>";
      html_tbody += "<div class='dropdown dropleft'>";
      html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
      html_tbody += "...";
      html_tbody += "</a>";
      html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verRegistroEMO("+Item.HistoriaId+", "+Item.EmoId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver registro";
      html_tbody += "</a>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verHistorialEMO("+Item.HistoriaId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/file.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver historial";
      html_tbody += "</a>";
      html_tbody += "</div>";
      html_tbody += "</div>"; 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    }

////------------------------------------------------------------------------------------------------------------------------

    if( parseInt(Item.TipoEmo) == 6){

      contenido = $('#content_traslados');

      html_tbody =  "<tr>";
      html_tbody += "<td>"+Item.NroDocumento_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Nombres_Trabajador_H+"</td>";
      html_tbody += "<td>"+Item.Apellidos_Trabajador_H+"</td>";
      html_tbody += "<td>"+new Date(Item.A_FechaNacimiento).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.GrupoSanguineoD+"</td>"; 
      html_tbody += "<td style='border-left: 1px solid #c8c8c8;'>"+Item.TrasladoOrigenGerenciaDescripcion+"</td>";
      html_tbody += "<td>"+Item.TrasladoOrigenPuestoTrabajo+"</td>";
      html_tbody += "<td>"+Item.TrasladoOrigenPlantaDescripcion+"</td>";
      html_tbody += "<td>"+Item.TrasladoOrigenAreaDescripcion+"</td>";    
      html_tbody += "<td>"+new Date(Item.TrasladoOrigenFechaIngreso).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td style='border-left: 1px solid #c8c8c8;'>"+Item.TrasladoDestinoGerenciaDescripcion+"</td>";
      html_tbody += "<td>"+Item.TrasladoDestinoPuestoTrabajo+"</td>";
      html_tbody += "<td>"+Item.TrasladoDestinoPlantaDescripcion+"</td>";
      html_tbody += "<td>"+Item.TrasladoDestinoAreaDescripcion+"</td>"; 
      html_tbody += "<td>"+new Date(Item.TrasladoDestinoFechaTraslado).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td style='border-left: 1px solid #c8c8c8;'>"+new Date(Item.FechaEmo).getFullYear()+"</td>";
      html_tbody += "<td>"+new Date(Item.FechaEmo).toLocaleDateString('en-GB').split('T')[0]+"</td>";
      html_tbody += "<td>"+Item.CodeEmo+"</td>"; 
      html_tbody += "<td>"+Item.ResultadoD+"</td>"; 
      html_tbody += "<td>"+Item.AlturaEstructutalD+"</td>"; 
      html_tbody += "<td>"+Item.EspacioConfinadoD+"</td>"; 
      html_tbody += "<td>"+Meses[parseInt((Item.MesProgramacion).substring(5,7))-1]+" de "+(Item.MesProgramacion).substring(0,4)+"</td>";
      html_tbody += "<td></td>";
      html_tbody += "<td>";
      html_tbody += "<div class='dropdown dropleft'>";
      html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
      html_tbody += "...";
      html_tbody += "</a>";
      html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verRegistroEMO("+Item.HistoriaId+", "+Item.EmoId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver registro";
      html_tbody += "</a>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4verHistorialEMO("+Item.HistoriaId+");' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/file.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver historial";
      html_tbody += "</a>";
      html_tbody += "</div>";
      html_tbody += "</div>"; 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    }

  });

///////////////////////////////////////////////////////////////////////////////////////

  ObjTablaPlantillaActiva = $('#table_plantilla_activa').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"scrollCollapse": true,
    /*fixedColumns:   {
      left: 0,
      right: 1
    },*/    
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel",messageTop: 'Listado de registros de Examen médico ocupacional (Activos)', title:'Listado de registros de Examen médico ocupacional (Activos)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"print",messageTop: 'Listado de registros de Examen médico ocupacional (Activos)', title:'Listado de registros de Examen médico ocupacional (Activos)',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de Examen médico ocupacional (Activos)', title:'Listado de registros de Examen médico ocupacional (Activos)',className:"btn btn-info btn-lg",orientation: 'landscape', text:'<i class="fa fa-file-pdf fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }}
    ],
    initComplete: function() {
        this.api().columns([16]).every(function() {
            var column = this;
            var columnIndex = column.index();

            var selects = $('select[data-filtro-select-mes-prog='+columnIndex+']').append('<option value=""></option>');
            /*.on('change', function() {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search(val ? '^' + val + '$' : '', true, false)
                  .draw();
                $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);
            });*/

            column.data().unique().sort().each(function(d, j) {

              selects.append('<option value="' + d + '">' + d + '</option>');

            });
        });
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_plantilla_activa-count-row').text(ObjTablaPlantillaActiva.rows().count());

  if ( $.fn.DataTable.isDataTable('#table_plantilla_activa') ) {

    $('#table_plantilla_activa').find('.nav-link').trigger('click');

  }

  /////////////////////////////////////////////////////////////////////////////////////

  ObjTablaRetiro = $('#table_retiro').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel",messageTop: 'Listado de registros de Examen médico ocupacional (Retiros)', title:'Listado de registros de Examen médico ocupacional (Retiros)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"print",messageTop: 'Listado de registros de Examen médico ocupacional (Retiros)', title:'Listado de registros de Examen médico ocupacional (Retiros)',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de Examen médico ocupacional (Retiros)', title:'Listado de registros de Examen médico ocupacional (Retiros)',className:"btn btn-info btn-lg", orientation: 'landscape', text:'<i class="fa fa-file-pdf fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }}
    ],
    initComplete: function() {
        this.api().columns([16]).every(function() {
            var column = this;
            var columnIndex = column.index();

            var selects = $('select[data-filtro-select-mes-prog='+columnIndex+']');
            //var selects = $('select[data-column='+columnIndex+']').append('<option value=""></option>');
            /*.on('change', function() {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search(val ? '^' + val + '$' : '', true, false)
                  .draw();
                $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);
            });*/

            column.data().unique().sort().each(function(d, j) {

              ControlOptionSelect = false;

              $('select[data-filtro-select-mes-prog='+columnIndex+'] option').each(function(){

                if( $.trim($(this).text()) == $.trim(d)){

                  ControlOptionSelect = true;

                }

              });

              if( !ControlOptionSelect ){

                selects.append('<option value="' + d + '">' + d + '</option>');

              }              

            });
        });
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_retiro-count-row').text(ObjTablaRetiro.rows().count());

  if ( $.fn.DataTable.isDataTable('#table_retiro') ) {

    $('#table_retiro').find('.nav-link').trigger('click');

  }

  /////////////////////////////////////////////////////////////////////////////////////

  ObjTablaIngreso = $('#table_ingresos').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    //"scrollCollapse": true,
    /*fixedColumns:   {
      left: 0,
      right: 1
    },*/
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel",messageTop: 'Listado de registros de Examen médico ocupacional (Ingresos)', title:'Listado de registros de Examen médico ocupacional (Ingresos)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"print",messageTop: 'Listado de registros de Examen médico ocupacional (Ingresos)', title:'Listado de registros de Examen médico ocupacional (Ingresos)',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de Examen médico ocupacional (Ingresos)', title:'Listado de registros de Examen médico ocupacional (Ingresos)',className:"btn btn-info btn-lg", orientation: 'landscape', text:'<i class="fa fa-file-pdf fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]
      }}
    ],
    initComplete: function() {
        this.api().columns([16]).every(function() {
            var column = this;
            var columnIndex = column.index();

            var selects = $('select[data-filtro-select-mes-prog='+columnIndex+']');
            //var selects = $('select[data-column='+columnIndex+']').append('<option value=""></option>');
            /*.on('change', function() {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search(val ? '^' + val + '$' : '', true, false)
                  .draw();
                $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);
            });*/

            column.data().unique().sort().each(function(d, j) {

              ControlOptionSelect = false;

              $('select[data-filtro-select-mes-prog='+columnIndex+'] option').each(function(){

                if( $.trim($(this).text()) == $.trim(d)){

                  ControlOptionSelect = true;

                }

              });

              if( !ControlOptionSelect ){

                selects.append('<option value="' + d + '">' + d + '</option>');

              }  

            });
        });
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_ingresos-count-row').text(ObjTablaIngreso.rows().count());

  if ( $.fn.DataTable.isDataTable('#table_ingresos') ) {

    $('#table_ingresos').find('.nav-link').trigger('click');
  
  }

  /////////////////////////////////////////////////////////////////////////////////////

  ObjTablaTraslado = $('#table_traslados').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel",messageTop: 'Listado de registros de Examen médico ocupacional (Traslados)', title:'Listado de registros de Examen médico ocupacional (Traslados)', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ]
      }},
      {extend:"print",messageTop: 'Listado de registros de Examen médico ocupacional (Traslados)', title:'Listado de registros de Examen médico ocupacional (Traslados)',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ]
      }},
      {extend:"pdf",messageTop: 'Listado de registros de Examen médico ocupacional (Traslados)', title:'Listado de registros de Examen médico ocupacional (Traslados)',className:"btn btn-info btn-lg", orientation: 'landscape', text:'<i class="fa fa-file-pdf fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ]
      }}
    ],
    initComplete: function() {
        this.api().columns([21]).every(function() {
            var column = this;
            var columnIndex = column.index();

            var selects = $('select[data-filtro-select-mes-prog-alt='+columnIndex+']');
            //var selects = $('select[data-filtro-select-mes-prog-alt='+columnIndex+']').append('<option value=""></option>');
            /*.on('change', function() {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search(val ? '^' + val + '$' : '', true, false)
                  .draw();
                $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);
            });*/

            column.data().unique().sort().each(function(d, j) {

              ControlOptionSelect = false;

              $('select[data-filtro-select-mes-prog-alt='+columnIndex+'] option').each(function(){

                if( $.trim($(this).text()) == $.trim(d)){

                  ControlOptionSelect = true;

                }

              });

              if( !ControlOptionSelect ){

                selects.append('<option value="' + d + '">' + d + '</option>');

              }  

            });
        });
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  $('#table_traslados-count-row').text(ObjTablaTraslado.rows().count());

  if ( $.fn.DataTable.isDataTable('#table_traslados') ) {

    $('#table_traslados').find('.nav-link').trigger('click');

  }

  
////////////////////////////////////////////////////////////////////////////////

  $('.scrollbar').removeClass('dataTables_scrollBody');  



/////////////////////////////////////////////////////////////////////////////////





  /* Inicializa la tabla cuando se hace uso del filtro fecha */
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      if (settings.nTable.id === 'table_traslados') {

        var iFini = document.getElementById('dat_min_fecha_traslado').value;
        var iFfin = document.getElementById('dat_max_fecha_traslado').value;
        var iStartDateCol = 14;
        var iEndDateCol = 14;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        var datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        var datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;

      }
      else
      {
        return true;
      }

    }
  );


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}



function ecSp4cargarSelectEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#sp4EnferCron_busq_reg_area');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#sp4EnferCron_busq_reg_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#sp4EnferCron_busq_reg_unidad');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

}

function ecSp4BuscarEMOs() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_800_emo_all?code=9xSenaUUugwZSQyd7Q3FKwRDbsNtIb4GbBF7y8Z4QaWIIu6M5TF/oQ==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "dataType": 'json',
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_EMO["EMOS"] = response.EMOS;
    //console.log('Objeto EC para ver Trasnferencias: '+ JSON.stringify(paObj_ec["EnfermedadCronicas"]));

    ecSp4CargarTablasEMO();

  });

}

function ecSp4RegistrarEMO(Id_HistoriaEMO) {

  idHCEMO = Id_HistoriaEMO;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/gestionEMO.html', 'Registrar EMO');


}


function ecSp4RegistrarEMOExc() {

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/gestionEMOExc.html', 'Registrar EMO');

}

function ecSp4verRegistroEMO(Id_HistoriaEMO, Id_EMO) {

  idHCEMO = Id_HistoriaEMO;
  idEMO = Id_EMO;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/verRegistroEMO.html', 'Ver registro EMO');


}

function ecSp4verHistorialEMO(Id_HistoriaEMO) {

  idHCEMO = Id_HistoriaEMO;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/verHistorialEMO.html', 'Historial EMO');


}

function ecSp4cargarSelectEMO(){

  let contenido = '';
  let ControlOptionSelect = false;

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Areas"].forEach((Item) => {

    ControlOptionSelect = false;

    $('#dat_area option').each(function(){

      if( $.trim($(this).text()) == $.trim(Item.Description) ){

        ControlOptionSelect = true;

      }

    });

    if( !ControlOptionSelect ){

      contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`);

    } 

  });

  //Cargando Select de Áreas
  contenido = $('#dat_unidad');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Áreas
  contenido = $('#dat_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#dat_resultado');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["ResultadosEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4CargaSedesAreasGerenciasEMO() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_EMO["Areas"] = response.Area;
    pluck_EMO["Gerencias"] = response.Gerencia;
    pluck_EMO["Sedes"] = response.Sedes;
console.log("Areas",pluck_EMO["Areas"]);
  });

}

//Crear servicio para cargar los plucks (Selects) usados en EMO
function ecSp4CargarPlucksEMO() {
  
  let url = apiUrlsho+`/api/hce_Get_500_plucks_emo?code=e42XLr4TQ8b819cU9ZQPuLwCprU9oG7CiEheRWvWzFxnRrdVDpBXTA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_EMO['TiposEmo'] = response.TiposEmo;
    pluck_EMO['ResultadosEmo'] = response.ResultadosEmo;
    pluck_EMO['AlturaEstructuralesEmo'] = response.AlturaEstructuralesEmo;
    pluck_EMO['EspaciosEmo'] = response.EspaciosEmo;
    pluck_EMO['MotivosConsultaEmo'] = response.MotivosConsultaEmo;
    pluck_EMO['NivelesSeguimientoVMO'] = response.NivelesSeguimientoVMO;

  });
}


async function _init_ecSp4BuscarEMO() {

  //Se inicia el Cargando
  showLoading();

  await ecSp4CargaSedesAreasGerenciasEMO();
  await ecSp4CargarPlucksEMO();
  await ecSp4cargarSelectEMO();
  await ecSp4BuscarEMOs();

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() { 

  $('#dat_impactDM_especialidades').multiselect();
  $('.multiselect').append('<span class="multiselect_label">Especialidades</span>');

  _init_ecSp4BuscarEMO();

//ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
//ESTO ES PARA CUANDO LA TABLAS ESTAN DENTRO DE TABS (NO VISIBLES)
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
   $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust();
  });


  $('.data-filtro').on('keyup', function(){
    
    ObjTablaPlantillaActiva.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_plantilla_activa-count-row').text(ObjTablaPlantillaActiva.page.info().recordsDisplay);

    ObjTablaIngreso.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_ingresos-count-row').text(ObjTablaIngreso.page.info().recordsDisplay);

    ObjTablaRetiro.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_retiro-count-row').text(ObjTablaRetiro.page.info().recordsDisplay);

    /*ObjTablaTraslado.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);*/

  });

  var valor;

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaPlantillaActiva.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_plantilla_activa-count-row').text(ObjTablaPlantillaActiva.page.info().recordsDisplay);

    ObjTablaIngreso.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ingresos-count-row').text(ObjTablaIngreso.page.info().recordsDisplay);

    ObjTablaRetiro.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_retiro-count-row').text(ObjTablaRetiro.page.info().recordsDisplay);

    /*ObjTablaTraslado.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);*/

  });

  $('.data-filtro-select-resultado').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaPlantillaActiva.column(parseInt($(this).attr('data-filtro-select-resultado'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_plantilla_activa-count-row').text(ObjTablaPlantillaActiva.page.info().recordsDisplay);

    ObjTablaIngreso.column(parseInt($(this).attr('data-filtro-select-resultado'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ingresos-count-row').text(ObjTablaIngreso.page.info().recordsDisplay);

    ObjTablaRetiro.column(parseInt($(this).attr('data-filtro-select-resultado'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_retiro-count-row').text(ObjTablaRetiro.page.info().recordsDisplay);

    /*ObjTablaTraslado.column(parseInt($(this).attr('data-filtro-select-resultado-alt'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);*/

  });

  $('.data-filtro-select-mes-prog').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTablaPlantillaActiva.column(parseInt($(this).attr('data-filtro-select-mes-prog'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_plantilla_activa-count-row').text(ObjTablaPlantillaActiva.page.info().recordsDisplay);

    ObjTablaIngreso.column(parseInt($(this).attr('data-filtro-select-mes-prog'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_ingresos-count-row').text(ObjTablaIngreso.page.info().recordsDisplay);

    ObjTablaRetiro.column(parseInt($(this).attr('data-filtro-select-mes-prog'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_retiro-count-row').text(ObjTablaRetiro.page.info().recordsDisplay);

    /*ObjTablaTraslado.column(parseInt($(this).attr('data-filtro-select-mes-prog-alt'))).search(valor ? '^' + valor + '$' : '', true, false).draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);*/

  });

  /*$('#sp4EnferCron_busq_reg_general').on('keyup', function(){

    ObjTabla.search($(this).val()).draw();
    $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);

  });*/

  $('#dat_min_fecha_traslado').on('keyup change', function(){

    $('#dat_max_fecha_traslado').attr("min", $('#dat_min_fecha_traslado').val());
    ObjTablaTraslado.draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);

  });

  $('#dat_max_fecha_traslado').on('keyup change', function(){

    $('#dat_min_fecha_traslado').attr("max", $('#dat_max_fecha_traslado').val());
    ObjTablaTraslado.draw();
    $('#table_traslados-count-row').text(ObjTablaTraslado.page.info().recordsDisplay);
    
  });

  $('.nav-link').on('click',onCountTableClick);

});

function onCountTableClick(){

  $('.count-table').addClass("d-none");

  $('#count_table_'+$(this).attr("data")).removeClass("d-none");

  if( $(this).attr("data") == "traslados" ){

    $('.leyenda').removeClass("d-none");

  }
  else{

    $('.leyenda').addClass("d-none");  

  }

}

</script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>


<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
