<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->
 
 <!-- Titulos  -->
  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Datos del trabajador</span>
    </div>
    <div class=" col-md-2 col-sm-6  p-2">
      <button onclick="showIndexEC();" type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
      </button>
    </div>
    <div class="col-md-2 col-sm-6  p-2">
      <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4ConfirmarCRUDEMO(1);"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
      </button>
    </div>
  </div>
  <!-- Titulos  -->
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nro de documento</span>
        <input type="" id="sp4EnferCron_dat_trab_nro" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nombres</span>
        <input type="" id="sp4EnferCron_dat_trab_nombre" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Apellidos</span>
        <input type="" id="sp4EnferCron_dat_trab_apellido" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de registro</span>
        <input id="sp4EnferCron_dat_trab_fecha_reg" class="submit" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->
  <!-- Fila 2 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Edad</span>
        <input type="" id="sp4EnferCron_dat_trab_edad" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Grupo sanguineo</span>
        <select name="" id="sp4EnferCron_dat_trab_grupo_sanguineo" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de ingreso a TASA</span>
        <input id="sp4EnferCron_dat_trab_fi_tasa" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de retiro</span>
        <input id="sp4EnferCron_dat_trab_fr_tasa" class="submit" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 2 fin -->
  <!-- Fila 3 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Gerencia</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_gerencia" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Planta</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_planta" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Área</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_area" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Puesto de trabajo</span>
        <input type="" id="sp4EnferCron_dat_trab_ptrab_des" disabled>
      </div>
    </div>
  </div>

  <hr class="mb-5 mt-4" /> 

  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Datos de traslado</span>
    </div>
  </div>

  <hr class="mb-5 mt-4" />


  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Datos EMO</span>
    </div>
  </div>
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Mes de programación</span>
        <input type="month" id="dat_mes_programacion" class="submit">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Tipo de EMO</span>
        <select id="dato_tipo_emo" class="submit">   
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de registro</span>
        <input type="date" id="dat_fecha_registro_emo" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de EMO</span>
        <input type="date" id="dat_fecha_emo" class="submit">
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->
  <!-- Fila 2 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de lectura de EMO</span>
        <input type="date" id="dat_fecha_lectura_emo" class="submit" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Resultado</span>
        <select id="dat_resultado" class="submit">
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Altura estructural</span>
        <select id="dat_altura_estructural" class="submit">
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Espacio confinado</span>
        <select id="dat_espacio_confinado" class="submit">
        </select>
      </div>
    </div>
  </div>                    
  <!-- Fila 2 fin -->
  <div class="row mb-5">
              <div class="col-md-12 mb-5 mt-4">
                <span class="titulo">Adjuntar archivos</span>
              </div>       
              <div class="col-md-12">
                <div class="input_file_upload border-content">
                  <label class="btn btn-success btn-lg" for="file_upload_conclusiones_emo">
                    <span> Subir archivo </span>
                    <img src="./images/sho/upload.svg" style="width:14px !important" />
                  </label>
                  <input type="file" id="file_upload_conclusiones_emo" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="amSp4CapturarAdjuntoEMO(this,idTemporalEMO);">
                </div>
              </div>
            </div>

    <div class="row mt-3">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_adjunto_emo-count-row">0</span> registros</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table-box table-container" id="table_adjunto_emo">
                    <thead>
                      <tr>
                        <th style="width: 300px">Nombre del archivo</th>
                        <th>Fecha de carga</th>
                        <th>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="content_adjunto_emo">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

  <hr class="mb-5 mt-4" />

  <!-- Diagnostico CIE10 -->
  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Diagnostico CIE10</span>
    </div>
  </div>
  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary ">
        <span>Diagnóstico</span>
          <div class="dropdown" id='listaResultado_INT'>
            <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4EnferCron_det_des_diagCIE10_diag"
             onkeyup="_newDiagnosticoCIE10('sp4EnferCron_det_des_diagCIE10_diag', 'listaResultadoHijos_TRAN', 'sp4EnferCron_det_des_diagCIE10_cie10', 'dat_amT_cie_diagnostico1');" 
             style='background:white; border:1px solid; color:black;'>              
            <div class="dropdown-menu show" id='listaResultadoHijos_TRAN' style="display:none; ">                
            </div>
          </div> 
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary ">
        <span>CIE 10</span>
        <div class="dropdown" id='listaResultado_ii_INT'>
          <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4EnferCron_det_des_diagCIE10_cie10"
           onkeyup="_newDiagnosticoCIE102('sp4EnferCron_det_des_diagCIE10_cie10', 'listaResultadoHijos2_TRAN', 'sp4EnferCron_det_des_diagCIE10_diag', 'dat_amT_cie_diagnostico1');" 
           style='background:white; border:1px solid; color:black;'>
          <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">              
          </div>
        </div> 
        <input class="input_am_diagnostico" type="hidden" id="dat_amT_cie_diagnostico1">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-box-secondary">
        <span>Sistema afectado</span>
        <select name="" id="dat_sistema_afectado">
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-box-secondary">
        <span>Sección afectada</span>
        <select name="" id="dat_seccion_afectada">
        </select>
      </div>
    </div>
  </div>    
  <div class="row mb-5 d-flex justify-content-end ">
              <div class="col-md-3 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4GuardarDiagnosticoCI10EMO(idTemporalEMO);"> 
                  Agregar a la lista 
                  <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                </button>
              </div>
            </div>
  <div class="row mb-5">
              <!-- Nro de registros -->
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <div id="cant_planes">
                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                  </div>
                  <span class="cantidad ml-3" style="font-size: 15px">
                    <span id="table_diagCIE10-count-row">2</span> registros</span>
                </div>
              </div>           
              <div class="table-responsive">
                <table class="table-box table-container" id="table_diagCIE10">
                  <thead>
                    <tr>
                      <th>Diagnóstico </th>
                      <th>CI10</th>
                      <th>Fecha de registro</th>
                      <th>Especialidad</th>
                      <th>Sistema afectado</th>
                      <th width="500px">Seccion afectada</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="content_diagCIE10">  
                  </tbody>
                </table>
              </div>
            </div>
  <!-- Diagnostico CIE10 fin -->

  <hr class="mb-5 mt-4" />

  






       <div class="row mb-5 d-flex justify-content-between align-items-center">
              <div class="p-2 mr-auto">
                <span class="titulo">Observaciones</span>
              </div>
              <div class="col-md-3 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="Sp5GuardarObservacion(idTemporalEMO,0,0);"> 
                  Agregar observación 
                  <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Tipo de Observación</span>
                  <select id="dat_tipo_observacion" class="check-observacion">
                    <option value="" selected></option>
                <option value="1">Alergología</option>
                <option value="2">Cardiología</option>
                <option value="3">Cirugía de cabeza y cuello</option>
                <option value="4">Cirugía de Tórax y Cardiovascular</option>
                <option value="5">Cirugía General</option>
                <option value="6">Dermatología</option>
                <option value="7">Endocrinología</option>
                <option value="8">Gastroenterología</option>
                <option value="9">Ginecología y Obstetricia</option>
                <option value="10">Hematología</option>
                <option value="11">Medicina Física y Rehabilitación</option>
                <option value="12">Medicina Interna</option>
                <option value="13">Nefrología</option>
                <option value="14">Neumología</option>
                <option value="15">Neurocirugía</option>
                <option value="16">Neurología</option>
                <option value="17">Nutrición</option>
                <option value="18">Odontología</option>
                <option value="19">Oftalmología</option>
                <option value="20">Otorrinolaringología</option>
                <option value="21">Psiquiatría</option>
                <option value="22">Reumatología</option>
                <option value="23">Traumatología y Ortopedia</option>
                <option value="24">Urología</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Fecha de prestamo de placa</span>
                  <input type="date" id="dat_fecha_prestamo_placa" class="check-observacion check-observacion-data" disabled>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 offset-md-3">
                <div class="input-box-secondary pb-3">
              <span>¿Se levantará la observación?</span>
            </div>
              <input type="radio" name="dat_levantar_observacion" id="dat_levantar_observacion_si" value="1">
              <label class="mr-5" for="dat_levantar_observacion_si">Si</label>
              <input type="radio" name="dat_levantar_observacion" id="dat_levantar_observacion_no" value="0" checked>
              <label class="mr-5" for="dat_levantar_observacion_no">No</label>
              </div>
            </div> 

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="input-box-secondary">
                  <span>Observación</span>
                  <input id="dat_observacion" class="check-observacion check-observacion-data">
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="input-box-secondary">
                  <span>Levantamiento de observación</span>
                  <input id="dat_levantamiento_observacion" disabled>
                </div>
              </div>
            </div> 



            <div class="row mb-5 mt-3">
              <div class="col-md-12">
                <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
                  <li class="nav-item  mb-3">
                    <a class="nav-link active" id="observaciones-tab" data-toggle="tab" href="#observaciones" role="tab" aria-controls="observaciones" aria-selected="true">Observaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="observaciones-pendientes-tab" data-toggle="tab" href="#observaciones-pendientes" role="tab" aria-controls="observaciones-pendientes" aria-selected="false">Observaciones pendientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="observaciones-levantadas-tab" data-toggle="tab" href="#observaciones-levantadas" role="tab" aria-controls="observaciones-levantadas" aria-selected="false">Observaciones levantadas</a>
                  </li>
                </ul>
                <div class="tab-content mt-5" id="myTabContent-observaciones">
                  <!-- Calidad-vida -->    
                  <div class="tab-pane fade show active" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones"> 
                        </tbody>
                      </table>
                    </div>                        
                  </div>
                  <!-- Calidad-vida fin-->

                  <!-- Conservación auditiva -->    
                  <div class="tab-pane fade" id="observaciones-pendientes" role="tabpanel" aria-labelledby="observaciones-pendientes-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones_pendientes-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones_pendientes">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones_pendientes">
                        </tbody>
                      </table>
                    </div>           
                  </div>
                  <!-- Conservación auditiva fin -->

                  <!-- Transtorno-musculo -->    
                  <div class="tab-pane fade" id="observaciones-levantadas" role="tabpanel" aria-labelledby="observaciones-levantadas-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones_levantadas-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones_levantadas">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones_levantadas">
                        </tbody>
                      </table>
                    </div>             
                  </div> 
                  <!-- Transtorno-musculo -->
                </div>    
                        
              </div>
            </div>









            





      <div class="modal fade " id="modalAlertaIncidentePDF2" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered rounded" role="document" style="max-width: 1000px; z-index: 1030;   ">
          <div class="modal-content rounded border-0 ml-3" style="background:#ffffff; height: auto !important; ">
            <div style="overflow: hidden; height: auto; overflow-x: hidden; /*background-color: red;*/ ">
              <! START MODAL-HEADER>
                <div class="modal-header fix-header-modal">
                  <div class="card-header text-center text-white modal-dialog-centered  card-header-FormAuditor" id="red-head"
                       style="width: 100%; padding: 0px 0px !important; background-color:#254373 !important;">
                    <div class="row align-items-center" style="width: 100%;">
                      <div class="col-1">
                        <img src="./images/prev.svg" style="cursor:pointer; display: block" title="Salir" onclick=" $('#modalAlertaIncidentePDF2').modal('hide').removeClass('fade');">
                      </div>
                      <div class="col-10">
                        <span>
                          <h5 id="titleModalAlertaIncidentePdf2" class="m-0" style="margin-right: 2px !important;">Editar observación</h5>
                        </span>
                      </div>
                      <div class="col-1" style="border-color:red !important;">
                        <table border="0" width="100%">
                          <tr>
                            <td width='90%'> </td>
                            <td width='10%'>
                              <!-- <img src="./images/sho/cancelar.svg" id='closeModalPdfAlerta' style="cursor:pointer; visibility: visible;" title = 'Salir' onclick="$('#modalAlertaIncidentePDF').modal('hide').removeClass('fade'); $('#modalAlertaIncidente').modal('hide').removeClass('fade');" > -->
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <! END MODAL-HEADER>
                  <! START MODAL-BODY>
                    <div class="modal-body dialog-position" id="bodymodalShowAuditor" style="  justify-content:space-around; align-content:center; padding: 20px 20px 20px !important;">
                      


                      <div class="row mb-5 d-flex justify-content-between align-items-center">
             
              <div class="col-md-3 col-sm-6">
                <button type="button" class="btn btn-success btn-block btn-lg" onclick="Sp5GuardarObservacion(idTemporalEMO,1,IdEditarObservacion);"> 
                  Modificar observación 
                  <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
                </button>
              </div>
            </div>




                      <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Tipo de Observación</span>
                  <select id="dat_tipo_observacion_editar" class="check-observacion_editar">
                    <option value="" selected></option>
                <option value="1">Alergología</option>
                <option value="2">Cardiología</option>
                <option value="3">Cirugía de cabeza y cuello</option>
                <option value="4">Cirugía de Tórax y Cardiovascular</option>
                <option value="5">Cirugía General</option>
                <option value="6">Dermatología</option>
                <option value="7">Endocrinología</option>
                <option value="8">Gastroenterología</option>
                <option value="9">Ginecología y Obstetricia</option>
                <option value="10">Hematología</option>
                <option value="11">Medicina Física y Rehabilitación</option>
                <option value="12">Medicina Interna</option>
                <option value="13">Nefrología</option>
                <option value="14">Neumología</option>
                <option value="15">Neurocirugía</option>
                <option value="16">Neurología</option>
                <option value="17">Nutrición</option>
                <option value="18">Odontología</option>
                <option value="19">Oftalmología</option>
                <option value="20">Otorrinolaringología</option>
                <option value="21">Psiquiatría</option>
                <option value="22">Reumatología</option>
                <option value="23">Traumatología y Ortopedia</option>
                <option value="24">Urología</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Fecha de prestamo de placa</span>
                  <input type="date" id="dat_fecha_prestamo_placa_editar" class="check-observacion_editar check-observacion-data_editar" disabled>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 offset-md-3">
                <div class="input-box-secondary pb-3">
              <span>¿Se levantará la observación?</span>
            </div>
              <input type="radio" name="dat_levantar_observacion_editar" id="dat_levantar_observacion_si_editar" value="1">
              <label class="mr-5" for="dat_levantar_observacion_si_editar">Si</label>
              <input type="radio" name="dat_levantar_observacion_editar" id="dat_levantar_observacion_no_editar" value="0" checked>
              <label class="mr-5" for="dat_levantar_observacion_no_editar">No</label>
              </div>
            </div> 

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="input-box-secondary">
                  <span>Observación</span>
                  <input id="dat_observacion_editar" class="check-observacion_editar check-observacion-data-editar">
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="input-box-secondary">
                  <span>Levantamiento de observación</span>
                  <input id="dat_levantamiento_observacion_editar" disabled>
                </div>
              </div>
            </div> 







                    </div>
                    <! END MODAL-BODY>
                      
            </div>
          </div>
        </div>
      </div>
















  <hr class="mb-5 mt-4" />

  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Recordatorio de vencimiento</span>
    </div>
  </div>
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de primera carta recordatoria</span>
        <input type="date" id="dat_fecha_primera_carta_recordatoria" class="submit">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de vencimiento</span>
        <input type="date" id="dat_fecha_vencimiento_primera_carta_recordatoria" class="submit">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de segunda carta recordatoria</span>
        <input type="date" id="dat_fecha_segunda_carta_recordatoria" class="submit">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de vencimiento</span>
        <input type="date" id="dat_fecha_vencimiento_segunda_carta_recordatoria" class="submit">
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->

  <hr class="mb-5 mt-4" />


  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Definición de VMO's</span>
    </div>
  </div>
  <!-- Fila 1 -->
            <div class="row">
              <div class="col-md-12 mb-3"> 
                <div class="input-box-secondary">
                  <span>Seleccionar tipo de VMO</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">            
                <label class="container-checkbox mt-4">Conservación auditiva
                  <input class="checkbox-seguimiento" data="dat_nivel_segumiento_conservacion_auditiva" id="checkbox_conservacion_auditiva" type="checkbox">
                  <span class="checkmark" data="dat_nivel_segumiento_conservacion_auditiva" data-value="0"></span>
                </label>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nivel de seguimiento</span>
                  <select id="dat_nivel_segumiento_conservacion_auditiva" disabled="true">
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <label class="container-checkbox mt-4">Calidad de Vida
                  <input class="checkbox-seguimiento" data="dat_nivel_segumiento_calidad_vida" id="checkbox_calidad_vida" type="checkbox">
                  <span class="checkmark" data="dat_nivel_segumiento_calidad_vida" data-value="0"></span>
                </label>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nivel de seguimiento</span>
                  <select id="dat_nivel_segumiento_calidad_vida" disabled="true">
                  </select>
                </div>
              </div>
            </div>                    
            <!-- Fila 1 fin -->
            <!-- Fila 1 -->
            <div class="row">
              <div class="col-md-3 col-sm-6">              
                <label class="container-checkbox mt-4">Trastorno músculo esquelético
                  <input class="checkbox-seguimiento" data="dat_nivel_transtorno_musculo" id="checkbox_transtorno_musculo" type="checkbox">
                  <span class="checkmark" data="dat_nivel_transtorno_musculo" data-value="0"></span>
                </label>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="input-box-secondary">
                  <span>Nivel de seguimiento</span>
                  <select id="dat_nivel_transtorno_musculo" disabled="true">
                  </select>
                </div>
              </div>
            </div>                    
            <!-- Fila 1 fin -->

  <!-- Nav-tabs -->
  <div class="row mb-5 mt-5">
    <div class="col-md-12">
      <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
        <li class="nav-item  mb-3">
          <a class="nav-link active" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Calidad de vida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Conservación auditiva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Trastorno músculo esqueletico</a>
        </li>
      </ul>
      <div class="tab-content mt-5" id="myTabContent-tipo-vmo">
        <!-- Calidad-vida -->    
        <div class="tab-pane fade show active" id="calidad-vida" role="tabpanel" aria-labelledby="calidad-vida-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_calidad-vida-count-row">1</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_calidad-vida">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_calidad-vida">  
              </tbody>
            </table>
          </div>                        
        </div>
        <!-- Calidad-vida fin-->

        <!-- Conservación auditiva -->    
        <div class="tab-pane fade" id="conservacion-auditiva" role="tabpanel" aria-labelledby="conservacion-auditiva-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_conservacion-auditiva-count-row">1</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_conservacion-auditiva">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_conservacion-auditiva"> 
              </tbody>
            </table>
          </div>           
        </div>
        <!-- Conservación auditiva fin -->

        <!-- Transtorno-musculo -->    
        <div class="tab-pane fade" id="transtorno-musculo" role="tabpanel" aria-labelledby="transtorno-musculo-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_transtorno-musculo-count-row">1</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_transtorno-musculo">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_transtorno-musculo"> 
              </tbody>
            </table>
          </div>             
        </div> 
        <!-- Transtorno-musculo -->
      </div>    
              
    </div>
  </div>
  <!-- Nav-tabs -->


  <input type="time" id="dat_hora_registro" class="submit d-none">

</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var ArchivoPDF='';

var paObj_descargarAdjunto_EMO = [];

var paObj_descargarAdjunto_EMOFicha = [];





var FechaControlPlaca;
var IdEditarObservacion;

function Sp5EditarObservacion(IdEMO, CodAccion,IdObservacion) { 

  if( parseInt(paObj_Observaciones_EMO[IdObservacion].HayObservacion) == 1 ){

    $("input[id='dat_levantar_observacion_si_editar']").prop("checked",true);
    $("#dat_levantamiento_observacion_editar").attr("disabled",false);  

  }
  else
  {

    $("input[id='dat_levantar_observacion_no_editar']").prop("checked",true);
    $("#dat_levantamiento_observacion_editar").attr("disabled",true);
    $("#dat_levantamiento_observacion_editar").val('');   

  }

  $("#dat_tipo_observacion_editar option[value='"+paObj_Observaciones_EMO[IdObservacion].TipoObservacionId+"']").prop("selected",true);
  $("#dat_fecha_prestamo_placa_editar").val(paObj_Observaciones_EMO[IdObservacion].FechaPrestamoPlaca.substring(0,10));
  $("#dat_observacion_editar").val(paObj_Observaciones_EMO[IdObservacion].Observacion);
  $("#dat_levantamiento_observacion_editar").val(paObj_Observaciones_EMO[IdObservacion].LevantamientoObservacion);

  FechaControlPlaca = paObj_Observaciones_EMO[IdObservacion].FechaPrestamoPlaca.substring(0,10);

  if( $("#dat_tipo_observacion_editar option:selected").text() == "Traumatología y Ortopedia" || $("#dat_tipo_observacion_editar option:selected").text() == "Neumología" ){

    $("#dat_fecha_prestamo_placa_editar").attr("disabled",false); 

  }
  else
  {

    $("#dat_fecha_prestamo_placa_editar").attr("disabled",true);

  }

  IdEditarObservacion = IdObservacion;

  $('#modalAlertaIncidentePDF2').modal('show').addClass('fade');


}









function Sp5GuardarObservacion(IdEMO, CodAccion,IdObservacion) { 
  
  let data = {};
  let TituloModal = '';

  if( CodAccion == 0 ){

    if (validationForm('check-observacion').length > 0) {
      return;
    }

    TituloModal = 'Observacion anexada con éxito';

  }

  data.Id1 = IdObservacion;

  if( CodAccion != 1  ){

    data.EmoId = IdEMO;
  data.TipoObservacionId = $("#dat_tipo_observacion option:selected").val();
  data.HayObservacion = $("input[name='dat_levantar_observacion']:checked").val();
  data.FechaPrestamoPlaca = $("#dat_fecha_prestamo_placa").val();
  data.CreadoPor = "IdHashUser";
  data.ModificadoPor = "IdHashUser";
  data.Observacion = $("#dat_observacion").val();
  data.LevantamientoObservacion = $("#dat_levantamiento_observacion").val();
  data.accion = CodAccion;  

  }

  if( CodAccion == 2 ){

    data.TipoObservacionId = 0;
  data.HayObservacion = 0;
  //data.FechaPrestamoPlaca = cargarFechaHoy()

    TituloModal = 'Observacion eliminada con éxito';

  }

  if( CodAccion == 1 ){

    if (validationForm('check-observacion_editar').length > 0) {
      return;
   }

    data.EmoId = IdEMO;
  data.TipoObservacionId = $("#dat_tipo_observacion_editar option:selected").val();
  data.HayObservacion = $("input[name='dat_levantar_observacion_editar']:checked").val();
  data.FechaPrestamoPlaca = $("#dat_fecha_prestamo_placa_editar").val();
  data.CreadoPor = "IdHashUser";
  data.ModificadoPor = "IdHashUser";
  data.Observacion = $("#dat_observacion_editar").val();
  data.LevantamientoObservacion = $("#dat_levantamiento_observacion_editar").val();
  data.accion = CodAccion;

  TituloModal = 'Observacion editada con éxito';

  }
  

  let url = apiUrlsho+`/api/hce_emo_post_observacion?code=MBBmPXWqdACzReOfrAOMTC3i91aJaG/ShoM1JGFRb/tpB/xImkok7A==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {
    
    Sp5cargarObservacionesEMO(IdEMO);

    $(".check-observacion option[value='']").prop("selected",true);
    $(".check-observacion-data").val('');
    $("#dat_levantamiento_observacion").val('');
    $("input[id='dat_levantar_observacion_no']").prop("checked",true);
    $('#dat_fecha_prestamo_placa').val(cargarFechaHoy());
    $("#dat_fecha_prestamo_placa").attr("disabled",true);
    $("#dat_levantamiento_observacion").attr("disabled",true);


    $(".check-observacion_editar option[value='']").prop("selected",true);
    $(".check-observacion-data-editar").val('');
    $("#dat_levantamiento_observacion_editar").val('');
    $("input[id='dat_levantar_observacion_no_editar']").prop("checked",true);
    $('#dat_fecha_prestamo_placa_editar').val(cargarFechaHoy());
    $("#dat_fecha_prestamo_placa_editar").attr("disabled",true);
    $("#dat_levantamiento_observacion_editar").attr("disabled",true);

    $('#modalAlertaIncidentePDF2').modal('hide').removeClass('fade');

    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

    });

  });
  
}

function Sp5cargarObservacionesEMO(IdEMO) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  //idHC_EC = Id_HC;

  let html_tbody;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_505_observaciones_emo?code=sUCop/abBKJnefaTi/dSOtavgaXl7tPYzSKqa4H205yFtBRcu9fIvg==&httpmethod=objectlist`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdEmo": IdEMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    console.log(response);

    $("#table_observaciones tbody").find(".table-row").remove();
    $("#table_observaciones tbody").find(".table-empty").remove();
    $("#table_observaciones_pendientes tbody").find(".table-row").remove();
    $("#table_observaciones_pendientes tbody").find(".table-empty").remove();
    $("#table_observaciones_levantadas tbody").find(".table-row").remove();
    $("#table_observaciones_levantadas tbody").find(".table-empty").remove();

    if(Object.keys(response.EMOS).length > 0){

      control = false;

      $.each(response.EMOS, function(index,accountObj){

        paObj_Observaciones_EMO[accountObj.Id] = accountObj;

          html_tbody = "<tr class='table-row'>";
          html_tbody += "<td>";
          html_tbody += $("#dat_tipo_observacion option[value='"+accountObj.TipoObservacionId+"']").text();
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += new Date(accountObj.FechaPrestamoPlaca).toLocaleDateString('en-GB').split('T')[0];
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += (parseInt(accountObj.HayObservacion) == 1 ? 'Si' : 'No');
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += accountObj.Observacion;
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += accountObj.LevantamientoObservacion;
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += "<div class='dropdown dropleft'>";
          html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>...</a>";
          html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
          html_tbody += "<a style='cursor: pointer;' title='Editar Observacion' class='dropdown-item' onclick='Sp5EditarObservacion("+idTemporalEMO+","+1+","+accountObj.Id+");'>";
          html_tbody += "<img src='./images/sho/edit.svg' alt='' fill='#8fbb02'>";
          html_tbody += "&nbsp;&nbsp; Editar";
          html_tbody += "</a>"; 
          html_tbody += "<a class='dropdown-item btn-delete' onclick='Sp5GuardarObservacion("+idTemporalEMO+","+2+","+accountObj.Id+");' title='Eliminar Observacion'>";
          html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>"; 
          html_tbody += "&nbsp;&nbsp; Eliminar";
          html_tbody += "</a>";
          html_tbody += "</div>";
          html_tbody += "</div>";
            html_tbody += "</td>";
          html_tbody += "</tr>";

          $("#table_observaciones tbody").append(html_tbody);

          if( parseInt(accountObj.HayObservacion) == 0 ){

            $("#table_observaciones_pendientes tbody").append(html_tbody);

          }
          else
          {

            $("#table_observaciones_levantadas tbody").append(html_tbody);

          }


      });         

    }

    $("#table_observaciones-count-row").text($("#table_observaciones tr.table-row").length);
    $("#table_observaciones_pendientes-count-row").text($("#table_observaciones_pendientes tr.table-row").length);
    $("#table_observaciones_levantadas-count-row").text($("#table_observaciones_levantadas tr.table-row").length);

    if( $("#table_observaciones tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones tbody").append(html_tbody);

    }

    if( $("#table_observaciones_pendientes tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones_pendientes tbody").append(html_tbody);

    }

    if( $("#table_observaciones_levantadas tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones_levantadas tbody").append(html_tbody);

    }

      $("#observaciones-tab").text("Observaciones ("+$("#table_observaciones tr.table-row").length+")");
      $("#observaciones-pendientes-tab").text("Observaciones pendientes ("+$("#table_observaciones_pendientes tr.table-row").length+")");
      $("#observaciones-levantadas-tab").text("Observaciones levantadas ("+$("#table_observaciones_levantadas tr.table-row").length+")");


  });

}















function downloadBlob(blob, filename){

  if(window.navigator.msSaveOrOpenBlob) {
      window.navigator.msSaveBlob(blob, filename);
  } else {
      var elem = window.document.createElement('a');
      elem.href = window.URL.createObjectURL(blob);
      elem.download = filename;
      document.body.appendChild(elem);
      elem.click();
      document.body.removeChild(elem);
  }

}

function fnSp4descargarAdjuntoEMO(indexObj)
{
  
  url = paObj_descargarAdjunto_EMO[indexObj].ArchivoBase64;

  fetch(url)
  .then(res => res.blob())
  .then(function(blob) {
    downloadBlob(blob, paObj_descargarAdjunto_EMO[indexObj].NombreArchivo);
  });
    
}

function fnSp4descargarAdjuntoEMOFicha(indexObj)
{
  
  url = paObj_descargarAdjunto_EMOFicha[indexObj].ArchivoBase64;

  fetch(url)
  .then(res => res.blob())
  .then(function(blob) {
    downloadBlob(blob, paObj_descargarAdjunto_EMOFicha[indexObj].NombreArchivo);
  });
    
}

function amSp4ConfirmarCRUDEMO(CodAccion) {

  if( CodAccion != 0 ){

    if (validationForm('submit').length > 0) {
      
      return;

    }

  }

  let nombres = paObj_EMO[idHCEMO].Nombres_Trabajador_H;
  let apellidos = paObj_EMO[idHCEMO].Apellidos_Trabajador_H;

  Swal.fire({
    title: "Terminar lectura EMO",
    html: `
    <p>Está por terminar la lectura EMO de</p>
    <p>${nombres} ${apellidos}</p>
    <p class="mt-5">¿Desea confirmar la acción?</p>`,
    icon: "info",
    showCancelButton: true,
    reverseButtons: true,
    cancelButtonColor: "#ff3636",
    confirmButtonColor: "#8fbb02",
    confirmButtonText: `Confirmar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">`,
    cancelButtonText: `Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">`,
  }).then((result) => {

    if (result.isConfirmed) {
        
      //amSp4GuardarEditarDescansoMedicoEnfermedadCronica(CodAccion); 
      amSp4CRUDEMO(CodAccion);
      //amSp4CRUDEMOFicha(CodAccion);

    }

  });
    
  SVGInject($(".inject-svg"));

}


function amSp4CapturarAdjuntoEMOFicha(element,IdEMOFicha,TipoAdjunto) {
  
  var file = element.files[0];
  var reader = new FileReader();

  reader.onloadend = function () {

    let data = {};

    data.Id1 = 0;
    data.EmoFichaMedicoOcupacionaId = IdEMOFicha;
    data.accion = 0;
    data.NombreArchivo = element.files[0].name;
    data.ArchivoBase64 = reader.result;
    data.CreadoPor = "IdHashUser";
    data.ModificadoPor = "IdHashUser";
    data.AdjuntoFicha_o_Lectura = TipoAdjunto;

    amSp4GuardarAdjuntoEMOFicha(data,IdEMOFicha);

  }

  reader.readAsDataURL(file);

}

function amSp4GuardarAdjuntoEMOFicha(Data,IdEMOFicha) { 
  
  let TituloModal = '';

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_ficha_medico_ocupaciona_adjunto_post?code=1gIURPHItaEurQA2P4xBnDp67A6sU2NvTORYmaT04sJT0O3XVWA18g==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(Data)
  };

  return $.ajax(settings).done((response) => {
    
    ecSp4cargarAdjuntoEMOFicha(IdEMOFicha);

    TituloModal = 'Adjunto anexado con éxito';
  
    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

    });

  });
  
}

function ecSp4cargarAdjuntoEMOFicha(IdEMOFicha){

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_505_emo_adjunto_ficha?code=SGU3Tb3EqCVCDHfst466Lyrc6KID8zstODsv2IbiO1Fn5MeW98l4RA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EmoFichaMedicoOcupacionaId": IdEMOFicha }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    $('#table_adjunto_emo_ficha').find('.table-empty').remove();
    $('#table_adjunto_emo_ficha').find('.table-row').remove();

    if(Object.keys(response.AdjuntoInterconsult).length > 0){  

      $.each(response.AdjuntoInterconsult, function(index,accountObj){

        if( parseInt(accountObj.AdjuntoFicha_o_Lectura) == 2 ){

          paObj_descargarAdjunto_EMOFicha[index] = accountObj;

          html_tbody = "<tr class='table-row'>";
          html_tbody += "<td>";
          html_tbody += accountObj.NombreArchivo;
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += "<button type='button' class='btn btn-link shadow-none float-right btn-delete'>";
          html_tbody += "<img class='inject-svg' src='./images/sho/delete.svg' alt='' fill='#ff3636' width='16px' onclick = 'amSp4EliminarAdjuntoEMOFicha("+IdEMOFicha+","+accountObj.Id+",0)' title='Eliminar Adjunto'>";
          html_tbody += "</button>";
          html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
          html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarAdjuntoEMOFicha("+index+")' title='Descargar Adjunto'>";
          html_tbody += "</button>";     
          html_tbody += "</td>";
          html_tbody += "</tr>";

          $("#table_adjunto_emo_ficha tbody").append(html_tbody);
        }
        else
        {

          IdEMOFichaEliminar = accountObj.Id;

          $('#visor-adjunto-emo').attr("src",accountObj.ArchivoBase64);    
          $('#row-visor-adjunto-emo').removeClass("d-none");
          $('#col-file_upload_emo').addClass("d-none");
          //$('#col-delete-file_upload_emo').removeClass("d-none");

          if( $("a[data='emo']").hasClass( "active" ) ){

            $('#col-delete-file_upload_emo').removeClass("d-none");    

          }

        }

      });

    }
    else{

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo_ficha tbody").append(html_tbody);

    }

    $("#table_adjunto_emo_ficha-count-row").text($("#table_adjunto_emo_ficha tr.table-row").length);

  });

}

function amSp4EliminarAdjuntoEMOFicha(IdEMOFicha,IdAdjunto,Origen) { 
  
  let data = {};
  let TituloModal = '';
  let NumeroFilas = 0;
  
    data.Id1 = IdAdjunto;
    data.EmoFichaMedicoOcupacionaId = IdEMOFicha;
    data.accion = 2;
    data.NombreArchivo = '';
    data.ArchivoBase64 = '';
    data.CreadoPor = "";
    data.ModificadoPor = "";
    data.AdjuntoFicha_o_Lectura = 0;

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_ficha_medico_ocupaciona_adjunto_post?code=1gIURPHItaEurQA2P4xBnDp67A6sU2NvTORYmaT04sJT0O3XVWA18g==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    $("#table_adjunto_emo_ficha tbody").find(".table-empty").remove();

    NumeroFilas = $("#table_adjunto_emo_ficha tbody tr").length;

    TituloModal = 'Adjunto eliminado con éxito';

    if( NumeroFilas == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo_ficha tbody").append(html_tbody);

    }

    if( Origen == 1){

      $('#col-file_upload_emo').removeClass("d-none");
      $('#col-delete-file_upload_emo').addClass("d-none");
      $('#row-visor-adjunto-emo').addClass("d-none");
      $('#file_upload_emo').val(""); 

    }

    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    });

  });

}





//--------------------------FUNCION CAPTURAR EVENTO ADJUNTO DESCANSO MEDICO ENFERMEDADES CRONICAS------------------------------//

function amSp4CapturarAdjuntoEMO(element,IdEMO) {
  
  var file = element.files[0];
  var reader = new FileReader();

  reader.onloadend = function () {

    let data = {};

    data.EmoId = IdEMO;
    data.accion = 0;
    data.NombreArchivo = element.files[0].name;
    data.ArchivoBase64 = reader.result;
    data.CreadoPor = "IdHashUser";
    data.ModificadoPor = "IdHashUser";
    data.TipoAdjunto_1_2 = 1;

    amSp4GuardarAdjuntoEMO(data,IdEMO);

  }

  reader.readAsDataURL(file);

}

function amSp4GuardarAdjuntoEMO(Data,IdEMO) { 
  
  let TituloModal = '';

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_adjunto_post?code=JWaae0QUpwAfpMiT0qIbdyrRdVQ2HF6aiV5EAbtsM7FtV4wXWAzKUQ==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(Data)
  };

  return $.ajax(settings).done((response) => {
    
    ecSp4cargarAdjuntoEMO(IdEMO);

    TituloModal = 'Adjunto anexado con éxito';
  
    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

    });

  });
  
}

function ecSp4cargarAdjuntoEMO(IdEMO){

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_504_emo_adjunto?code=ok7bIGqYzaO/cuIArNuCH7BF2FpXkcVsCtq/UYrwhTyomGKihlHI7w==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EmoId": IdEMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    $('#table_adjunto_emo').find('.table-empty').remove();
    $('#table_adjunto_emo').find('.table-row').remove();

    if(Object.keys(response.AdjuntoInterconsult).length > 0){  

      $.each(response.AdjuntoInterconsult, function(index,accountObj){

        paObj_descargarAdjunto_EMO[index] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.NombreArchivo;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right btn-delete'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/delete.svg' alt='' fill='#ff3636' width='16px' onclick = 'amSp4EliminarAdjuntoEMO("+IdEMO+","+accountObj.Id+")' title='Eliminar Adjunto'>";
        html_tbody += "</button>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarAdjuntoEMO("+index+")' title='Descargar Adjunto'>";
        html_tbody += "</button>";     
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_adjunto_emo tbody").append(html_tbody);

      });

    }
    else{

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo tbody").append(html_tbody);

    }

    $("#table_adjunto_emo-count-row").text($("#table_adjunto_emo tr.table-row").length);

  });

}

function amSp4EliminarAdjuntoEMO(IdEMO,IdAdjunto) { 
  
  let data = {};
  let TituloModal = '';
  let NumeroFilas = 0;
  
  data.Id1 = IdAdjunto; 
  data.EmoId = IdEMO;
  data.accion = 2;
  data.NombreArchivo = '';
  data.ArchivoBase64 = '';
  data.CreadoPor = '';
  data.ModificadoPor = '';

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_adjunto_post?code=JWaae0QUpwAfpMiT0qIbdyrRdVQ2HF6aiV5EAbtsM7FtV4wXWAzKUQ==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    $("#table_adjunto_emo tbody").find(".table-empty").remove();

    NumeroFilas = $("#table_adjunto_emo tbody tr").length;

    TituloModal = 'Adjunto eliminado con éxito';

    if( NumeroFilas == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo tbody").append(html_tbody);

    }

    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    });

  });

}


function amSp4GuardarDiagnosticoCI10EMO(IdEMO) { 
  
  let data = {};
  let TituloModal = '';

  if (validationForm('check-diagnosticocie10').length > 0) {
    return;
  }

  data.EmoId = IdEMO;
  data.Diagnostico = $("#sp4EnferCron_det_des_diagCIE10_diag").val();
  data.CIE10 = $("#dat_amT_cie_diagnostico1").val();
  data.CreadoPor = "IdHashUser";
  data.SistemaAfectado = $("#dat_sistema_afectado option:selected").val();
  data.SeccionAfectada = $("#dat_seccion_afectada option:selected").val();
  data.accion = 0;

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_cei10_post?code=FLd/whTIJWPQYOtrjB1FAK1Ub5Vw7Mc9nGeba2gLEsLJrEww04mIyg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {
    
    ecSp4cargarDiagnosticoEMO(IdEMO);

    $(".select-diagnosticocie10 option[value='0']").prop("selected",true);
    $(".check-diagnosticocie10").val('');
    $("#sp4EnferCron_det_des_diagCIE10_diag").val('');
    $("#dat_amT_cie_diagnostico1").val('');

    TituloModal = 'Diagnóstico CIE 10 anexado con éxito';
  
    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    }).then(() => {

    });

  });
  
}

function ecSp4cargarDiagnosticoEMO(EmoId){  

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_503_emo_diagnosticoCIE10?code=4XHtRVGZEb6g4UTCq5/ulR9Iu6u1wcG7/oV87fJZAoEwEvrk89oTog==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "EmoId": EmoId }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    let html_tbody = '';

    $('#table_diagCIE10').find('.table-empty').remove();
    $('#table_diagCIE10').find('.table-row').remove();
  
    if(Object.keys(response.DiagnosticoCIE).length > 0){  

      $.each(response.DiagnosticoCIE, function(index,accountObj){

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.Diagnostico;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Code;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Especilidades;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (accountObj.SistemaAfectado_D == null) ? '--' : accountObj.SistemaAfectado_D;
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += (accountObj.SeccionAfectada_D == null) ? '--' : accountObj.SeccionAfectada_D;                  
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4EliminarDiagnosticoCI10EMO("+EmoId+","+accountObj.Id+")'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
        html_tbody += "</a>";                
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_diagCIE10 tbody").append(html_tbody);

      });

    }
    else{

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_diagCIE10 tbody").append(html_tbody);

    } 

    $("#table_diagCIE10-count-row").text($("#table_diagCIE10 tr.table-row").length);

  });

}

function amSp4EliminarDiagnosticoCI10EMO(IdEMO,IdDiagnostico) { 
  
  let data = {};
  let TituloModal = '';
  let NumeroFilas = 0;

  data.Id1 = IdDiagnostico;
  data.EmoId = IdEMO;
  data.Diagnostico = "";
  data.CreadoPor = "";
  data.accion = 2;

  let url = apiUrlsho+`/api/hce_accidente_trabajo_emo_cei10_post?code=FLd/whTIJWPQYOtrjB1FAK1Ub5Vw7Mc9nGeba2gLEsLJrEww04mIyg==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    $("#table_diagCIE10 tbody").find(".table-empty").remove();

    NumeroFilas = $("#table_diagCIE10 tbody tr").length;

    TituloModal = 'Diagnóstico CIE 10 eliminado con éxito';

    if( NumeroFilas == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_diagCIE10 tbody").append(html_tbody);

    }

    Swal.fire({
      title: TituloModal,
      iconColor: "#8fbb02",
      iconHtml: '<img src="./images/sho/check.svg" width="28px">',
      showConfirmButton: false,
      padding: "3em 3em 6em 3em ",
      timer: 1500,
    });

  });

}

function amSp4CapturarArchivoBase64(element) {
  
  var file = element.files[0];
  var reader = new FileReader();

  reader.onloadend = function () {

    ArchivoPDF = reader.result;
    
    $('#row-visor-adjunto-emo').removeClass("d-none");
    $('#visor-adjunto-emo').attr("src",ArchivoPDF);
    $('#col-file_upload_emo').addClass("d-none");
    $('#col-delete-file_upload_emo').removeClass("d-none");

  }

  reader.readAsDataURL(file);

}

function amSp4DeleteArchivoBase64 ()
{

  $('#col-file_upload_emo').removeClass("d-none");
  $('#col-delete-file_upload_emo').addClass("d-none");
  $('#row-visor-adjunto-emo').addClass("d-none");
  $('#file_upload_emo').val("");

}


//--------------------------VARIABLES GLOBALES------------------------------//

var idHC_EC = 0;
var IdEMOFichaEliminar = 0;

//--------------------------FUNCIONES A TENER EN CUENTA------------------------------//
//--------------------------LLEVARAN MUCHA REVISION------------------------------//



function ecSp4cargarSelectEMO(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#dato_tipo_emo');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["TiposEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#dat_resultado');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["ResultadosEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_altura_estructural');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["AlturaEstructuralesEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_espacio_confinado');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["EspaciosEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_segumiento_conservacion_auditiva');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_segumiento_calidad_vida');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_transtorno_musculo');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_motivo_consulta');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["MotivosConsultaEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de sistemas afectados
  contenido = $('#dat_sistema_afectado');
  contenido.append(`<option value="0" selected></option>`);

  pluck_EMO["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada
  contenido = $('#dat_seccion_afectada');
  contenido.append(`<option value="0" selected></option>`);

  pluck_EMO["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });


  //Cargando Select de Áreas
  contenido = $('#sp4EnferCron_dat_trab_area');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#sp4EnferCron_dat_trab_gerencia');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#sp4EnferCron_dat_trab_planta');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#sp4EnferCron_dat_trab_grupo_sanguineo');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["GrupoSanguineo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });




}

function ecSp4cargarElementosDatosGeneralesEMO(){  



  $("#table_calidad-vida-count-row").text($("#table_calidad-vida tr.table-row").length);

  if( $("#table_calidad-vida tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_calidad-vida tbody").append(html_tbody);

  }

  $("#table_conservacion-auditiva-count-row").text($("#table_conservacion-auditiva tr.table-row").length);

  if( $("#table_conservacion-auditiva tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_conservacion-auditiva tbody").append(html_tbody);

  }

  $("#table_transtorno-musculo-count-row").text($("#table_transtorno-musculo tr.table-row").length);

  if( $("#table_transtorno-musculo tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_transtorno-musculo tbody").append(html_tbody);

  }



  

  $("#table_diagCIE10-count-row").text($("#table_diagCIE10 tr.table-row").length);

  if( $("#table_diagCIE10 tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_diagCIE10 tbody").append(html_tbody);

  }

  $("#table_adjunto_emo-count-row").text($("#table_adjunto_emo tr.table-row").length);

  if( $("#table_adjunto_emo tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo tbody").append(html_tbody);

  }

  $("#table_adjunto_emo_ficha-count-row").text($("#table_adjunto_emo_ficha tr.table-row").length);

  if( $("#table_adjunto_emo_ficha tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_emo_ficha tbody").append(html_tbody);

  }



  $("#table_observaciones-count-row").text($("#table_observaciones tr.table-row").length);

  if( $("#table_observaciones tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='6' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_observaciones tbody").append(html_tbody);

  }

  $("#table_observaciones_pendientes-count-row").text($("#table_observaciones_pendientes tr.table-row").length);

  if( $("#table_observaciones_pendientes tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='6' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_observaciones_pendientes tbody").append(html_tbody);

  }

  $("#table_observaciones_levantadas-count-row").text($("#table_observaciones_levantadas tr.table-row").length);

  if( $("#table_observaciones_levantadas tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='6' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_observaciones_levantadas tbody").append(html_tbody);

  }

  $("#observaciones-tab").text("Observaciones ("+$("#table_observaciones tr.table-row").length+")");
  $("#observaciones-pendientes-tab").text("Observaciones pendientes ("+$("#table_observaciones_pendientes tr.table-row").length+")");
  $("#observaciones-levantadas-tab").text("Observaciones levantadas ("+$("#table_observaciones_levantadas tr.table-row").length+")");

  $('#dat_fecha_prestamo_placa').val(cargarFechaHoy());





  

  //Elementos de la vista gestionEnfermedadCronica
  $('#sp4EnferCron_dat_trab_nro').val(paObj_EMO[idHCEMO].NroDocumento_Trabajador_H);
  $('#sp4EnferCron_dat_trab_nombre').val(paObj_EMO[idHCEMO].Nombres_Trabajador_H);
  $('#sp4EnferCron_dat_trab_apellido').val(paObj_EMO[idHCEMO].Apellidos_Trabajador_H);
  $('#sp4EnferCron_dat_trab_edad').val(paObj_EMO[idHCEMO].Edad_Trabajador_H);
  $('#sp4EnferCron_dat_trab_fecha_reg').val(new Date(paObj_EMO[idHCEMO].FechaRegistro_Trabajador_H).toLocaleDateString('en-GB').split('T')[0]);
  $('#sp4EnferCron_dat_trab_fi_tasa').val(new Date(paObj_EMO[idHCEMO].FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  $("#sp4EnferCron_dat_trab_gerencia option[value='"+paObj_EMO[idHCEMO].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_planta option[value='"+paObj_EMO[idHCEMO].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_area option[value='"+paObj_EMO[idHCEMO].AreaId_Empresa_H+"']").prop("selected",true);
  $('#sp4EnferCron_dat_trab_ptrab_des').val(paObj_EMO[idHCEMO].PuestoTrabajo_Empresa_H);
  
  $("#sp4EnferCron_dat_trab_grupo_sanguineo option[value='"+paObj_EMO[idHCEMO].A_GrupoSanguineo+"']").prop("selected",true);
  //$('#sp4EnferCron_dat_trab_grupo_sanguineo').val(paObj_ec[idHC].GrupoSanguineoDescripcion);PENDIENTE
  
  if(paObj_EMO[idHCEMO].FechaRetiroTasa_H === undefined){
    $('#sp4EnferCron_dat_trab_fr_tasa').val('Sin fecha de registro');
  }
  else
  {
    $('#sp4EnferCron_dat_trab_fr_tasa').val(new Date(paObj_EMO[idHCEMO].FechaRetiroTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  }

  //Elementos de la vista indexEC
  /*$('#nombre-trabajador').text(paObj_ec[idHC_EC].Nombres_Trabajador_H+" "+paObj_ec[idHC_EC].Apellidos_Trabajador_H);
  $('#nombre-trabajador-maximo').text(paObj_ec[idHC_EC].Nombres_Trabajador_H+" "+paObj_ec[idHC_EC].Apellidos_Trabajador_H);
  $('#dni-trabajador-maximo').text(paObj_ec[idHC_EC].NroDocumento_Trabajador_H);
  $('#puesto-trabajador-maximo').text(paObj_ec[idHC_EC].PuestoTrabajo_Empresa_H);
  $('#planta-trabajador-maximo').text(paObj_ec[idHC_EC].SedeDescripcion);
  $('#gerencia-trabajador-maximo').text(paObj_ec[idHC_EC].GerenciaDescripcion);
  $('#area-trabajador-maximo').text(paObj_ec[idHC_EC].AreaDescripcion);
  $('#edad-trabajador-maximo').text(paObj_ec[idHC_EC].Edad_Trabajador_H);
  $('#sexo-trabajador-maximo').text(paObj_ec[idHC_EC].Sexo_Trabajador_H == 1 ? 'Masculino' : 'Femenino');*/

  $('#dat_fecha_lectura_emo').val(cargarFechaHoy());
  $('#dat_fecha_registro_emo').val(cargarFechaHoy());
  $('#dat_hora_registro').val(new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }));
  
}



function ecSp4cargarDatosGeneralesEMO(Id_HC) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  idHCEMO = Id_HC;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": idHCEMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_EMO[idHCEMO] = response.HistoriaClin[0];

    //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
    /*pluck_ec["Areas"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].AreaId_Empresa_H) {
        paObj_ec[idHC_EC].AreaDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
    /*pluck_ec["Gerencias"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].GerenciaId_Empresa_H) {
        paObj_ec[idHC_EC].GerenciaDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    /*pluck_ec["Sedes"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].SedeId_Empresa_H) {
        paObj_ec[idHC_EC].SedeDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    //PENDIENTE
    /*pluck_ec["GrupoSanguineo"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].A_GrupoSanguineo) {
        paObj_ec[idHC].GrupoSanguineoDescripcion = Item.Descripcion;alert(paObj_ec[idHC].GrupoSanguineoDescripcion);
      }

    });*/

    //Se cargan los elementos de la vista con la data obtenida
    ecSp4cargarElementosDatosGeneralesEMO();

  });

}




//--------------------------FUNCION CARGAR SISTEMA AFECTADO------------------------------//

function ecSp4cargarSistemaAfectadoEMO() {


 let url = apiUrlsho+`/api/hce_Get_034_sistema_afectado?code=qxkQ9ZXSLatmcpaCr044BU0xgBGcMRX899c8sjilL/dCTIgHf4HyVg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_EMO['SistemaAfectado'] = response.SistemaAfectado;

  });

}

//--------------------------FUNCION CARGAR SECCION AFECTADA------------------------------//

function ecSp4cargarSeccionAfectadaEMO() {


  let url = apiUrlsho+`/api/hce_Get_035_seccion_afectada?code=7waSycbZnJkX12509pMvTJINkreJkBBQCrsMZNYeY6R5AayCauB5nQ==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_EMO['SeccionAfectada'] = response.SeccionAfectada;

  });

}


function ecSp4CargaSedesAreasGerenciasEMO() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_EMO["Areas"] = response.Area;
    pluck_EMO["Gerencias"] = response.Gerencia;
    pluck_EMO["Sedes"] = response.Sedes;

  });

}

function ecSp4CargarGruposSanguineoEMO() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_022_grupo_sanguineo?code=IhNvDEFrj7QvaNdVB0u1lg32UwyNstFuM75/VlxeAMn2HMJ2SZ9E7g==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "dataType": 'json',
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    pluck_EMO["GrupoSanguineo"] = response.GrupoSanguineo;

  });

}




async function _init_ecSp4EMO(Id_HC) {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectadoEMO();
  await ecSp4cargarSeccionAfectadaEMO();
  await ecSp4CargaSedesAreasGerenciasEMO();
  await ecSp4CargarGruposSanguineoEMO();
  await ecSp4cargarSelectEMO();
  await ecSp4cargarDatosGeneralesEMO(Id_HC);
  await amSp4CRUDEMO(0);
  //await ecSp4cargarEspecialidades();
  //await ecSp4cargarAptituds(); 
  //await ecSp4CargarEnfermedadesCronicasIdHistoriaClinica();

  //Se apaga el Cargando
  hideLoading();

}

function amSp4CRUDEMO(CodAccion) {
  
  let data = {};
  let EjecutarModal = false;
  let TituloModal = '';
  let Fecha = '';

  /* 

  Los codigos de accion seran:
    0 Para inicializar
    1 Para confirmar o modificar
    2 Para eliminar

  */

  if(CodAccion == 0){

    data.Id1 = 0; //si es cero se crea el registro  diferente se modifica el registro
    data.accion = 0;
    data.CreadoPor = "JG";
    data.ModificadoPor = "";
    data.MesProgramacion = "";
    data.MesProgInt = 0;
    data.TipoEmo = 0;
    data.FechaEmo = "2001-01-01"; //0 crear registro, 1 modificarlo, 2 eliminarlo logicamente
    data.FechaLecturaEmo = "2001-01-01";
    data.Resultado = 0;
    data.AlturaEstructutal = 0;
    data.EspacioConfinado = 0;
    data.FechaRecordatorio_1 = "2001-01-01";
    data.FechaVencimento_1 = "2001-01-01";
    data.FechaRecordatorio_2 = "2001-01-01";
    data.FechaVencimento_2 = "2001-01-01";
    data.VmoConAuditiva = 0;
    data.VmoNivelSegAuditiva = 0;
    data.VmoCalidadVida = 0;
    data.VmoNivelSegCalidadVida = 0;
    data.VmoTranstorno = 0;
    data.VmoNivelSegTranstorno = 0;
    data.IdHC = idHCEMO;
    data.EmoCerrado = 0;
    data.CodeEmo = "";
    data.HoraRegistro = $("#dat_hora_registro").val();
    //data.FechaModificacion = "2001-01-01";

  }
  else{
    
    data.Id1 = idTemporalEMO; //si es cero se crea el registro  diferente se modifica el registro
    data.accion = 1;
    data.CreadoPor = "JG";
    data.ModificadoPor = "JG";
    data.MesProgramacion = $("#dat_mes_programacion").val();
    data.MesProgInt = $("#dat_mes_programacion").val().substring(5,8);
    data.TipoEmo = $("#dato_tipo_emo option:selected").val();
    data.FechaEmo = $("#dat_fecha_emo").val(); 
    data.FechaLecturaEmo = $("#dat_fecha_lectura_emo").val();
    data.Resultado = $("#dat_resultado option:selected").val();
    data.AlturaEstructutal = $("#dat_altura_estructural option:selected").val();
    data.EspacioConfinado = $("#dat_espacio_confinado option:selected").val();
    data.FechaRecordatorio_1 = $("#dat_fecha_primera_carta_recordatoria").val();
    data.FechaVencimento_1 = $("#dat_fecha_vencimiento_primera_carta_recordatoria").val();
    data.FechaRecordatorio_2 = $("#dat_fecha_segunda_carta_recordatoria").val();
    data.FechaVencimento_2 = $("#dat_fecha_vencimiento_segunda_carta_recordatoria").val();
    data.VmoConAuditiva = ($("#checkbox_conservacion_auditiva").is(":checked") ? 1 : 0);
    data.VmoNivelSegAuditiva = $("#dat_nivel_segumiento_conservacion_auditiva option:selected").val();
    data.VmoCalidadVida = ($("#checkbox_calidad_vida").is(":checked") ? 1 : 0);
    data.VmoNivelSegCalidadVida = $("#dat_nivel_segumiento_calidad_vida option:selected").val();
    data.VmoTranstorno = ($("#checkbox_transtorno_musculo").is(":checked") ? 1 : 0);
    data.VmoNivelSegTranstorno = $("#dat_nivel_transtorno_musculo option:selected").val();
    data.IdHC = idHCEMO;
    data.EmoCerrado = 0;
    data.CodeEmo = "EMO-"+idTemporalEMO;
    data.HoraRegistro = $("#dat_hora_registro").val();
    //data.FechaModificacion = "2001-01-01";

  }
  
  let url = apiUrlsho+`/api/hce_accidente_trabajo_EMO_post?code=Kka800xvhuvvJYYIG1nX0HK5wuElYMtJ4L8W4anaQFJWcCSEHb0MlA==&httpmethod=post`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "post",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": JSON.stringify(data)
  };

  return $.ajax(settings).done((response) => {

    idTemporalEMO = response.Id;
    paObj_EMOTemporal[idTemporalEMO] = response;

    console.log("Objeto Temporal EMO: "+JSON.stringify(paObj_EMOTemporal[idTemporalEMO]));

    if( CodAccion == 1 ){

      EjecutarModal = true;
      TituloModal = 'Se terminó con éxito la lectura EMO';

    }

    if( CodAccion == 2 ){

      EjecutarModal = true;
      TituloModal = 'EMO eliminado con éxito';

    }

    if( EjecutarModal ){

      Swal.fire({
        title: TituloModal,
        iconColor: "#8fbb02",
        iconHtml: '<img src="./images/sho/check.svg" width="28px">',
        showConfirmButton: false,
        padding: "3em 3em 6em 3em ",
        timer: 1500,
      }).then(() => {

        ControlLateralEmo = true;
        handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/buscarEMO.html', 'Registro estadístico EMO');

      });     

    }    

  });

}

function ecSp4editarEnfermedadCronica(Id_EC){

  idEC = Id_EC;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/enfermedades_cronicas/editarEnfermedadCronica.html', 'Editar Enfermedades Crónicas');

}

//Crear servicio para cargar los plucks (Selects) usados en EMO
function ecSp4CargarPlucksEMO() {
  
  let url = apiUrlsho+`/api/hce_Get_500_plucks_emo?code=e42XLr4TQ8b819cU9ZQPuLwCprU9oG7CiEheRWvWzFxnRrdVDpBXTA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_EMO['TiposEmo'] = response.TiposEmo;
    pluck_EMO['ResultadosEmo'] = response.ResultadosEmo;
    pluck_EMO['AlturaEstructuralesEmo'] = response.AlturaEstructuralesEmo;
    pluck_EMO['EspaciosEmo'] = response.EspaciosEmo;
    pluck_EMO['MotivosConsultaEmo'] = response.MotivosConsultaEmo;
    pluck_EMO['NivelesSeguimientoVMO'] = response.NivelesSeguimientoVMO;

  });
}

$(document).ready(function() {

  //Se inicializan las variables de control y temporales
  /*controlNavHistoria = true;
  idTemporalEC = 0;
  ingresoControl = false;
  campoControl = '';*/

  $('.table-container').on('click',".btn-delete", onBtnDeleteRow);

  //Se inicializa la vista  
  _init_ecSp4EMO(idHCEMO);

  $('.checkbox-seguimiento').change(function() {

    if(this.checked) {

      $("#"+$(this).attr("data")).attr("disabled",false);
      $("#"+$(this).attr("data")).addClass("select-check");

    }
    else
    {

      $("#"+$(this).attr("data")).attr("disabled",true);
      $("#"+$(this).attr("data")).addClass("select-check");  
      $("#"+$(this).attr("data")+" option[value='0']").prop("selected",true);

    }
      //alert(this.checked); 
      //alert($(this).attr("data"));        
  });

  //amSp4GuardarComentarioEnfermedadCronica();  

  //sp3HcMenuGenaralIzquierdoEventos(7);

  //console.log("objeto sin el index: "+JSON.stringify(paObj_hc));
  //console.log("objeto con el index: "+JSON.stringify(paObj_hc[idHC]));


  $('#ver-datos').on('click',onVerDatosClick);
  $('#ocultar-datos').on('click',onOcultarDatosClick);



  $("input[name='dat_levantar_observacion']").on('change',onChangeLevantarObservacion);
  $("#dat_tipo_observacion").on('change',onChangeTipoObservacion);

  $("input[name='dat_levantar_observacion_editar']").on('change',onChangeLevantarObservacionEditar);
  $("#dat_tipo_observacion_editar").on('change',onChangeTipoObservacionEditar);





});





function onChangeTipoObservacion(){

  if( $("#dat_tipo_observacion option:selected").text() == "Traumatología y Ortopedia" || $("#dat_tipo_observacion option:selected").text() == "Neumología" ){

    $("#dat_fecha_prestamo_placa").attr("disabled",false);  

  }
  else
  {

    $("#dat_fecha_prestamo_placa").attr("disabled",true);
    $('#dat_fecha_prestamo_placa').val(cargarFechaHoy()); 

  }

}

function onChangeLevantarObservacion(){
  

  if( parseInt($("input[name='dat_levantar_observacion']:checked").val()) == 1 ){

    $("#dat_levantamiento_observacion").attr("disabled",false); 

  }
  else
  {

    $("#dat_levantamiento_observacion").attr("disabled",true);
    $("#dat_levantamiento_observacion").val('');  

  }


}

function onChangeTipoObservacionEditar(){

  if( $("#dat_tipo_observacion_editar option:selected").text() == "Traumatología y Ortopedia" || $("#dat_tipo_observacion_editar option:selected").text() == "Neumología" ){

    $("#dat_fecha_prestamo_placa_editar").attr("disabled",false); 

  }
  else
  {

    $("#dat_fecha_prestamo_placa_editar").attr("disabled",true);
    $('#dat_fecha_prestamo_placa_editar').val(FechaControlPlaca); 

  }

}

function onChangeLevantarObservacionEditar(){
  

  if( parseInt($("input[name='dat_levantar_observacion_editar']:checked").val()) == 1 ){

    $("#dat_levantamiento_observacion_editar").attr("disabled",false);  

  }
  else
  {

    $("#dat_levantamiento_observacion_editar").attr("disabled",true);
    $("#dat_levantamiento_observacion_editar").val(''); 

  }


}









function onCheckboxSeguimientoInputClick(){

  $(".checkmark[data='"+$(this).attr("data")+"']").click();

}

function onCheckboxSeguimientoClick(){

  if( parseInt($(this).attr("data-value")) == 0){

    $(this).attr("data-value","1");
    $("#"+$(this).attr("data")).attr("disabled",false);
    $("#"+$(this).attr("data")).addClass("select-check");

  }
  else
  {

    $(this).attr("data-value","0");
    $("#"+$(this).attr("data")).attr("disabled",true);
    $("#"+$(this).attr("data")).addClass("select-check");  
    $("#"+$(this).attr("data")+" option[value='0']").prop("selected",true);

  }

}


function onVerDatosClick(){

  $('#ver-datos').hide();
  $('#ocultar-datos').show();

  $('.contenedor-minimo').hide();
  $('.contenedor-maximo').show();

}

function onOcultarDatosClick(){

  $('#ocultar-datos').hide();
  $('#ver-datos').show();

  $('.contenedor-maximo').hide();
  $('.contenedor-minimo').show();

}

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>