<style>

.tab-slider{

  font-size: 22px !important;
  margin-left: 13px !important;
  margin-right: 13px !important;;

}

table.dataTable {

  border-spacing: 0px 5px !important;

}

</style>

<div class="main-content-ec">
  <!-- Enfermedades crónicas -->
  <!-- Titulos 
  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Mi último EMO</span>
    </div>
    <div class="p-2">
      <span class="subtitulo" style="font-weight: 600; color: #01719d; cursor: pointer; display: none;" id="ver-datos"> Mostrar datos </span>
      <span class="subtitulo" style="font-weight: 600; color: #01719d; cursor: pointer;" id="ocultar-datos"> Ocultar datos </span>
    </div>
  </div> -->
  <!-- Titulos  -->
  <!-- Datos 
  <div class="row d-flex align-items-center">
    <div class="col-md-6 contenedor-minimo" style="display: none;">
      <img class="img-perfil mr-4" src="">
      <span class="titulo" id="nombre-trabajador"></span>
    </div>
    <div class="col-md-3 pl-5 contenedor-minimo" style="display: none;">
      <span class="subtitulo" onclick="ecSp4VerDatosCompletoTrabajador();" style="font-weight: 600; color: #01719d; cursor: pointer;">Ver datos completos</span>
    </div>
    <div class="col-md-2 contenedor-maximo">
      <img class="img-perfil mr-4" src="">
    </div>
    <div class="col-md-7 contenedor-maximo">
      <div class="row">
        <div class="col-12">
          <span class="titulo" id="nombre-trabajador-maximo"></span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4 my-1">
          <b>DNI:</b> <span id="dni-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Sexo:</b> <span id="sexo-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Edad:</b> <span id="edad-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Puesto:</b> <span id="puesto-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Área:</b> <span id="area-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Gerencia:</b> <span id="gerencia-trabajador-maximo"></span>
        </div>
        <div class="col-4 my-1">
          <b>Planta:</b> <span id="planta-trabajador-maximo"></span>
        </div>       
      </div>
    </div>
    <div class="col-md-3 text-center">
      <button class="btn btn-success btn-block btn-lg btn-atencion" type="button" onclick="onAtencionMedicaClick();amSp3NuevaAtencionMedica(idHC,2);">
        Nueva atención 
        <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
      </button>
      <div class="contenedor-maximo" style="margin-top: 20px;">
        <span class="subtitulo" onclick="ecSp4VerDatosCompletoTrabajador();" style="font-weight: 600; color: #01719d; cursor: pointer;">Ver datos completos</span>
      </div>      
    </div>
  </div>
  <hr class="mt-4">-->


  <div class="row mb-5">
      <div class="col-md-12 d-flex justify-content-between align-content-center">
          <h2 class="title-section d-flex">
              <span class="m-auto titulo">Mi último EMO</span>
          </h2>
          <span class="subtitulo" id="mostrar_datos_at" style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
          <span class="subtitulo" id="ocultar_datos_at" style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
      </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-2 show-more">
      <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
        <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
          <img id="img_file_perfil" name="img_file_perfil">
        </label>
        <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
      </div>
    </div>
    <div class="col-md-9 show-less" style="display:none">
      <div class="row">
        <div class="col-md-2 mr-2">
          <div class="img-perfil" 
            style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
              <img name="img_file_perfil">
            </label>
            <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
    </div>
    <div class="col-md-7 show-more">
      <div class="row">
        <div class="col-12">
          <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
      <div class="row mt-3 show-more">
        <div class="col-4 my-1">
          <b>DNI:</b> <span id="dni_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Sexo:</b> <span id="sexo_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Edad:</b> <span id="edad_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Puesto:</b> <span id="puesto_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Área:</b> <span id="area_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Gerencia:</b> <span id="gerencia_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Planta:</b> <span id="planta_trabajador"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">    
      <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
      onclick="onAtencionMedicaClick();amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
      </button>
      <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
       onclick="ecSp4VerDatosCompletoTrabajador()">Ver datos completos</span>
    </div>
  </div>

  <hr class="mt-4">




  <!-- Datos -->
  <!-- Registros button -->
  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-6 col-sm-6 mr-auto p-2">
      <span class="titulo"> Mis EMOs </span>
    </div>
    <div class="col-md-2 col-sm-6  p-2">
      <button type="button" class="btn btn-success btn-block btn-lg" onclick="showGestionEMO();"> 
        Registrar EMO
        <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
      </button>
    </div>
  </div>
  <!-- Registros button -->

  <div class="row mb-5 d-flex align-items-center">

    <div class="col-md-2 text-left">
      <span id="anterior_slider" class="subtitulo ml-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;"> 
        <img class="mr-2" src='./images/sho/left.svg'/> Anterior 
      </span>
    </div>
    <div class="col-md-8 text-center">
      <ul class="nav nav-pills mb-2" id="container-slider" role="tablist" style="justify-content: center !important;">
        <li class="nav-item active primer-slider primer-show-slider" data="2010">
          <a class="nav-link tab-slider active" id="2010-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">2010</a>
        </li>
        <li class="nav-item" data="2011">
          <a class="nav-link tab-slider" id="2011-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">2011</a>
        </li>
        <li class="nav-item" data="2012">
          <a class="nav-link tab-slider" id="2012-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2012</a>
        </li>
        <li class="nav-item" data="2013">
          <a class="nav-link tab-slider" id="2013-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2013</a>
        </li>
        <li class="nav-item" data="2014">
          <a class="nav-link tab-slider" id="2014-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2014</a>
        </li>
        <li class="nav-item" data="2015">
          <a class="nav-link tab-slider" id="2015-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2015</a>
        </li>
        <li class="nav-item" data="2016">
          <a class="nav-link tab-slider" id="2016-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2016</a>
        </li>
        <li class="nav-item ultimo-show-slider" data="2017">
          <a class="nav-link tab-slider" id="2017-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2017</a>
        </li>
        <li class="nav-item d-none" data="2018">
          <a class="nav-link tab-slider" id="2018-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2018</a>
        </li>
        <li class="nav-item d-none" data="2019">
          <a class="nav-link tab-slider" id="2019-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2019</a>
        </li>
        <li class="nav-item d-none" data="2020">
          <a class="nav-link tab-slider" id="2020-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2020</a>
        </li>
        <li class="nav-item ultimo-slider d-none" data="2021">
          <a class="nav-link tab-slider" id="2021-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">2021</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 text-right">
      <span id="siguiente_slider" class="subtitulo mr-4" style="font-weight: 600; color: #01719d; cursor: pointer; font-size:14px !important;"> 
        Siguiente <img class="ml-2" src='./images/sho/right.svg'/></span> 
      </span>
    </div>

  </div>

  <div class="row mb-5 d-flex align-items-center">
  <!-- Nro de registros -->
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="cant_planes">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" style="font-size: 15px">
          <span id="table_emo-count-row"></span> registros</span>
      </div>
    </div>           
    <div class="table-responsive">
      <table class="table-box table-container" id="table_emo">
        <thead>
          <tr>
            <th>Fecha de registro</th>
            <th>Hora de registro</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="content_emo">
        </tbody>
      </table>
    </div>  
  </div>
  <!-- Registros button -->

</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/emo/js/JSemo.js"></script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

function showGestionEMO(){

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/gestionEMO_HC.html', 'Examen médico ocupacional');

}


//--------------------------VARIABLES GLOBALES------------------------------//

var idHC_EMO = 0;
var ObjTabla='';

//var pluck_EMO = [];

//--------------------------FUNCIONES A TENER EN CUENTA------------------------------//
//--------------------------LLEVARAN MUCHA REVISION------------------------------//


function ecSp4cargarSelectEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#sp4EnferCron_dat_trab_area');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#sp4EnferCron_dat_trab_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#sp4EnferCron_dat_trab_planta');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#sp4EnferCron_dat_trab_grupo_sanguineo');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["GrupoSanguineo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarElementosDatosGeneralesEMO(){  

  //Elementos de la vista gestionEnfermedadCronica
  $('#sp4EnferCron_dat_trab_nro').val(paObj_EMO[idHC_EMO].NroDocumento_Trabajador_H);
  $('#sp4EnferCron_dat_trab_nombre').val(paObj_EMO[idHC_EMO].Nombres_Trabajador_H);
  $('#sp4EnferCron_dat_trab_apellido').val(paObj_EMO[idHC_EMO].Apellidos_Trabajador_H);
  $('#sp4EnferCron_dat_trab_edad').val(paObj_EMO[idHC_EMO].Edad_Trabajador_H);
  $('#sp4EnferCron_dat_trab_fecha_reg').val(new Date(paObj_EMO[idHC_EMO].FechaRegistro_Trabajador_H).toLocaleDateString('en-GB').split('T')[0]);
  $('#sp4EnferCron_dat_trab_fi_tasa').val(new Date(paObj_EMO[idHC_EMO].FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  $("#sp4EnferCron_dat_trab_gerencia option[value='"+paObj_EMO[idHC_EMO].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_planta option[value='"+paObj_EMO[idHC_EMO].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_area option[value='"+paObj_EMO[idHC_EMO].AreaId_Empresa_H+"']").prop("selected",true);
  $('#sp4EnferCron_dat_trab_ptrab_des').val(paObj_EMO[idHC_EMO].PuestoTrabajo_Empresa_H);
  
  //$('.img-perfil').attr("src",paObj_EMO[idHC_EMO].FotoPacienteBase64);

  if(paObj_EMO[idHC_EMO].FotoPacienteBase64.length){
    $("img[name='img_file_perfil']").attr("src", paObj_EMO[idHC_EMO].FotoPacienteBase64);
  }else{
      $("img[name='img_file_perfil']").attr("src", 'images/sho/profile.png')
  }

  //$('#sp4EnferCron_dat_trab_grupo_sanguineo').val(paObj_ec[idHC].GrupoSanguineoDescripcion);PENDIENTE
  
  if(paObj_EMO[idHC_EMO].FechaRetiroTasa_H === undefined){
    $('#sp4EnferCron_dat_trab_fr_tasa').val('Sin fecha de registro');
  }
  else
  {
    $('#sp4EnferCron_dat_trab_fr_tasa').val(new Date(paObj_EMO[idHC_EMO].FechaRetiroTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  }

  //Elementos de la vista indexEC
  /*$('#nombre-trabajador').text(paObj_EMO[idHC_EMO].Nombres_Trabajador_H+" "+paObj_EMO[idHC_EMO].Apellidos_Trabajador_H);
  $('#nombre-trabajador-maximo').text(paObj_EMO[idHC_EMO].Nombres_Trabajador_H+" "+paObj_EMO[idHC_EMO].Apellidos_Trabajador_H);*/


   $('span[name=dat_nombres]').text(paObj_EMO[idHC_EMO].Nombres_Trabajador_H+" "+paObj_EMO[idHC_EMO].Apellidos_Trabajador_H);

  $('#dni_trabajador').text(paObj_EMO[idHC_EMO].NroDocumento_Trabajador_H);
  $('#puesto_trabajador').text(paObj_EMO[idHC_EMO].PuestoTrabajo_Empresa_H);
  $('#planta_trabajador').text(paObj_EMO[idHC_EMO].SedeDescripcion);
  $('#gerencia_trabajador').text(paObj_EMO[idHC_EMO].GerenciaDescripcion);
  $('#area_trabajador').text(paObj_EMO[idHC_EMO].AreaDescripcion);
  $('#edad_trabajador').text(paObj_EMO[idHC_EMO].Edad_Trabajador_H);
  $('#sexo_trabajador').text(paObj_EMO[idHC_EMO].Sexo_Trabajador_H == 1 ? 'Masculino' : 'Femenino');
  
}


function ecSp4VerDatosCompletoTrabajador() {
  //let datos = paObj_ec[IdHC].a;

  //Se carga el modal con los datos completos del trabajador
  let datos = paObj_EMO[idHC_EMO];
  Swal.fire({
    title: "Datos del trabajador",
    html: `
      <div class="text-left">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos Principales</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Documento: </b></span>
            <span>${datos.NroDocumento_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Nombres: </b></span>
            <span>${datos.Nombres_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Apellidos: </b></span>
            <span>${datos.Apellidos_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>C.Colaborador: </b></span>
            <span>${datos.CodigoColaborador_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Sexo: </b></span>
            <span>${(datos.Sexo_Trabajador_H == 1) ? 'Masculino' : 'Femenino'}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-12">
            <span style="color: #254373"><b>Dirección: </b></span>
            <span>${datos.Direccion_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>F.Nacimiento: </b></span>
            <span>${datos.fecha_nacimiento}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Edad: </b></span>
            <span>${datos.Edad_Trabajador_H}</span>
          </div>
        </div>
        <hr class="my-4">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos de la empresa</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Sede: </b></span>
            <span>${datos.SedeDescripcion}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Área: </b></span>
            <span>${datos.AreaDescripcion}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Cargo: </b></span>
            <span>${datos.CargoJefe_Empresa_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Jefe inmediato: </b></span>
            <span>${datos.JefeInmediato_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Celular: </b></span>
            <span>${datos.Celular_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Empresa_H}</span>
          </div>
        </div>
      </div>            
    `,
    iconHtml: '<img src="./images/sho/perfil.svg">',
    width: 800,
    showCancelButton: true,
    showConfirmButton: false,
    cancelButtonColor: "#ff3636",
    cancelButtonText: `Cancelar <img src="./images/sho/cancelar.svg">`,
  })
  $('.swal2-cancel').css('width', '200px');
  $('.swal2-html-container').css('overflow', 'visible');

}

function ecSp4cargarDatosGeneralesEMO(Id_HC) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  idHC_EMO = Id_HC;

  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": idHC_EMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_EMO[idHC_EMO] = response.HistoriaClin[0];

    //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
    pluck_EMO["Areas"].forEach((Item) => {

      if (Item.Id == paObj_EMO[idHC_EMO].AreaId_Empresa_H) {
        paObj_EMO[idHC_EMO].AreaDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
    pluck_EMO["Gerencias"].forEach((Item) => {

      if (Item.Id == paObj_EMO[idHC_EMO].GerenciaId_Empresa_H) {
        paObj_EMO[idHC_EMO].GerenciaDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    pluck_EMO["Sedes"].forEach((Item) => {

      if (Item.Id == paObj_EMO[idHC_EMO].SedeId_Empresa_H) {
        paObj_EMO[idHC_EMO].SedeDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    //PENDIENTE
    /*pluck_ec["GrupoSanguineo"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].A_GrupoSanguineo) {
        paObj_ec[idHC].GrupoSanguineoDescripcion = Item.Descripcion;alert(paObj_ec[idHC].GrupoSanguineoDescripcion);
      }

    });*/

    //Se cargan los elementos de la vista con la data obtenida
    ecSp4cargarElementosDatosGeneralesEMO();

  });

}

//--------------------------FUNCION CARGAR SEDES AREAS GERENCIAS------------------------------//

function ecSp4CargaSedesAreasGerenciasEMO() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_EMO["Areas"] = response.Area;
    pluck_EMO["Gerencias"] = response.Gerencia;
    pluck_EMO["Sedes"] = response.Sedes;

  });

}

//Crear servicio para cargar los plucks (Selects) usados en EMO
function ecSp4CargarPlucksEMO() {
  
  let url = apiUrlsho+`/api/hce_Get_500_plucks_emo?code=e42XLr4TQ8b819cU9ZQPuLwCprU9oG7CiEheRWvWzFxnRrdVDpBXTA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_EMO['TiposEmo'] = response.TiposEmo;
    pluck_EMO['ResultadosEmo'] = response.ResultadosEmo;
    pluck_EMO['AlturaEstructuralesEmo'] = response.AlturaEstructuralesEmo;
    pluck_EMO['EspaciosEmo'] = response.EspaciosEmo;
    pluck_EMO['MotivosConsultaEmo'] = response.MotivosConsultaEmo;
    pluck_EMO['NivelesSeguimientoVMO'] = response.NivelesSeguimientoVMO;

  });
}

function ecSp4cargarDatosEMOIdHC(IdHistoria) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  //idHC_EC = Id_HC;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_501_emo_idhc?code=m6YCKLXoPwbe2CKeXot2pFQlrUziWEFV5uJ5vEaUAKznYZ8l22UHJw==&httpmethod=objectlist`;
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": IdHistoria }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    console.log("ecSp4cargarDatosEMOIdHC: "+JSON.stringify(response));

    paObj_EMO["EMOS"] = response.EMOS;

    ecSp4CargarTablaEMO();

  });

}

function ecSp4CargarTablaEMO(){

  let contenido = '';
  let html_tbody = '';

  //Cargando Select de Áreas
  contenido = $('#content_emo');
  contenido.empty();

  paObj_EMO["EMOS"].forEach((Item) => {
 
    //paObj_detalle[Item.Id] = Item;

    html_tbody =  "<tr>";
    html_tbody += "<td>"+new Date(Item.FechaRegistro).toLocaleDateString('en-GB').split('T')[0]+"</td>";
    //html_tbody += "<td>"+(Item.HoraRegistro).substring(0,5);+"</td>";
    //html_tbody += "<td>"+new Date("August 19, 1975 "+Item.HoraRegistro+" GMT+00:00").toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })+"</td>";
    html_tbody += "<td>"+new Date("August 19, 1975 "+Item.HoraRegistro).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })+"</td>";
    html_tbody += "<td>";
    html_tbody += "<div class='dropdown float-right dropleft'>";
    html_tbody += "<div class='more-info' data-toggle='dropdown'>";
    html_tbody += "<img src='images/iconos/menu_responsive.svg' style='width: 18px; margin-right: 12px'/>";
    html_tbody += "</div>";
    html_tbody += "<div class='dropdown-menu' aria-labelledby='item_descanso'>";
    html_tbody += "<ul>";
    html_tbody += "<li onclick='onAtencionMedicaClick();ecSp4VerDetalleEMO("+Item.Id+");'>";
    html_tbody += "<img src='./images/sho/eyeIcon.svg' width='16' height='16' />";
    html_tbody += "<span>Ver EMO</span>";
    html_tbody += "</li>";
    html_tbody += "<li onclick='ecSp4ImprimirConstanciaLecturaEMO();'>";
    html_tbody += "<img src='./images/sho/file.svg' width='16' height='16'/>";
    html_tbody += "<span>Ver constancia de lectura</span>";
    html_tbody += "</li>";
    html_tbody += "</ul>";
    html_tbody += "</div>";
    html_tbody += "</div>";
    html_tbody += "</td>";
    html_tbody += "</tr>";

    contenido.append(html_tbody);

  });

   ObjTabla = $('#table_emo').DataTable({
    "pageLength": 5,
    "ordering": false,
    //"scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    dom:
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });
  
  ObjTabla.column(0).search($('#container-slider li.active:first').attr("data")).draw();

  $('#table_emo-count-row').text(ObjTabla.page.info().recordsDisplay);

  //$('.scrollbar').removeClass('dataTables_scrollBody');

  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

}

function ecSp4VerDetalleEMO(IdEMO){

  idDetalleEMO = IdEMO;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/emo/verEMO.html', 'Detalle del EMO');

}

async function _init_ecSp4EMO(IdHistoria) {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectado();
  await ecSp4cargarSeccionAfectada();
  await ecSp4CargaSedesAreasGerenciasEMO();
  await ecSp4CargarPlucksEMO();
  await ecSp4cargarDatosEMOIdHC(IdHistoria);  
  //await ecSp4cargarSelectEnfermedadesCronicas();
  await ecSp4cargarDatosGeneralesEMO(IdHistoria);
  //await ecSp4cargarAptituds(); 
  //await ecSp4CargarEnfermedadesCronicasIdHistoriaClinica();

  //Se apaga el Cargando
  hideLoading();

}


$(document).ready(function() {

  //idTemporalEMO = 40;

  //Se inicializan las variables de control y temporales
  /*controlNavHistoria = true;
  idTemporalEC = 0;
  ingresoControl = false;
  campoControl = '';*/
 
  //Se inicializa la vista  
  _init_ecSp4EMO(idHC);


  $('#ver-datos').on('click',onVerDatosClick);
  $('#ocultar-datos').on('click',onOcultarDatosClick);

  $('#anterior_slider').on('click',onAnteriorSliderClick);
  $('#siguiente_slider').on('click',onSiguienteSliderClick);

  $('.nav-item').on('click',onElementoSliderClick);

  //$('.btn-atencion').on('click',onAtencionMedicaClick);

  $('#mostrar_datos_at').on('click',onClickMostrarDatos);
  $('#ocultar_datos_at').on('click',onClickOcultarDatos);

});


function onClickMostrarDatos(){
  $('#mostrar_datos_at').hide()
  $('#ocultar_datos_at').show()
  $('.show-less').hide()
  $('.show-more').show()
}

function onClickOcultarDatos(){
  $('#ocultar_datos_at').hide()
  $('#mostrar_datos_at').show()
  $('.show-less').show()
  $('.show-more').hide()
}



function onAtencionMedicaClick(){

  ControlLateralEmo = true;

}

function onElementoSliderClick(){

  $('#container-slider').find("li.active").removeClass("active");
  $(this).addClass("active");

  ObjTabla.column(0).search($('#container-slider li.active:first').attr("data")).draw();
  $('#table_emo-count-row').text(ObjTabla.page.info().recordsDisplay);

}

function onAnteriorSliderClick(){

  if ( $('#container-slider').find("li.active").prev("li").length > 0 ) {
    
    // hacer algo aquí si el elemento existe

    if( $('#container-slider').find("li.active").prev("li").hasClass("d-none") ){

      $('#container-slider').find("li.active").prev("li").removeClass("d-none");
      $('#container-slider').find("li.active").removeClass("primer-show-slider");
      $('#container-slider').find("li.active").prev("li").addClass("primer-show-slider");


      $('#container-slider').find("li.ultimo-show-slider").prev("li").addClass("ultimo-show-slider");
      $('#container-slider li.ultimo-show-slider:last').addClass("d-none");
      $('#container-slider li.ultimo-show-slider:last').removeClass("ultimo-show-slider");

    }

    $('#container-slider').find("li.active a").removeClass("active");
    $('#container-slider').find("li.active").prev("li").addClass("active");

    $('#container-slider li.active:last').removeClass("active");
    $('#container-slider').find("li.active a").addClass("active");

    ObjTabla.column(0).search($('#container-slider li.active:first').attr("data")).draw();
    $('#table_emo-count-row').text(ObjTabla.page.info().recordsDisplay);

  }
  else
  {
    
  }

}

function onSiguienteSliderClick(){

  if ( $('#container-slider').find("li.active").next("li").length > 0 ) {
    
    // hacer algo aquí si el elemento existe

    if( $('#container-slider').find("li.active").next("li").hasClass("d-none") ){

      $('#container-slider').find("li.active").next("li").removeClass("d-none");
      $('#container-slider').find("li.active").removeClass("ultimo-show-slider");
      $('#container-slider').find("li.active").next("li").addClass("ultimo-show-slider");


      $('#container-slider').find("li.primer-show-slider").next("li").addClass("primer-show-slider");
      $('#container-slider li.primer-show-slider:first').addClass("d-none");
      $('#container-slider li.primer-show-slider:first').removeClass("primer-show-slider");

    }

    $('#container-slider').find("li.active a").removeClass("active");
    $('#container-slider').find("li.active").next("li").addClass("active");

    $('#container-slider li.active:first').removeClass("active");
    $('#container-slider').find("li.active a").addClass("active");

    ObjTabla.column(0).search($('#container-slider li.active:first').attr("data")).draw();
    $('#table_emo-count-row').text(ObjTabla.page.info().recordsDisplay);

  }
  else
  {
    
  }

}


function onVerDatosClick(){

  $('#ver-datos').hide();
  $('#ocultar-datos').show();

  $('.contenedor-minimo').hide();
  $('.contenedor-maximo').show();

}

function onOcultarDatosClick(){

  $('#ocultar-datos').hide();
  $('#ver-datos').show();

  $('.contenedor-maximo').hide();
  $('.contenedor-minimo').show();

}

function ecSp4ImprimirConstanciaLecturaEMO() {

  let doc = new jsPDF('carta');

  let nombres_b = paObj_EMO[idHC_EMO].Nombres_Trabajador_H;
  let apellidos_b = paObj_EMO[idHC_EMO].Apellidos_Trabajador_H;
  let dni = paObj_EMO[idHC_EMO].NroDocumento_Trabajador_H;

  moment.locale('es');
  let fecha_actual = moment();
  let dia_c_text = moment(fecha_actual).format('dddd');
  let dia_c = moment(fecha_actual).format('DD');
  let mes_c_text = moment(fecha_actual).format('MMMM');
  let ano_c = moment(fecha_actual).format('YYYY');

  let img_logo = new Image(); //imagen logo
  img_logo.src = './images/sho/tasa_logo.png';
  doc.addImage(img_logo, 'png', 63, 14, 85, 75);

  doc.setFontSize(17);
  doc.setFontType("bold");
  doc.text(`Departamento de Salud Ocupacional`, 105, 112, "center");
  doc.text(`Tecnológica de Alimentos S.A.`, 105, 120, "center");

  doc.setFontType("normal");
  doc.setFontSize(12);
  doc.text("Se hace constar que el Señor(a):", 28, 150);

  doc.text(`${nombres_b} ${apellidos_b}`, 29, 165);
  doc.line(28, 166, 137, 166);
  doc.text(", identificado con el DNI", 139, 165);

  doc.text("N°", 28, 171);
  doc.text(`${dni}`, 35, 171);
  doc.line(32, 172, 100, 172);
  doc.text(", personal de Tecnológica de Alimentos S.A,", 102, 171);

  doc.text("pasó el Exámen Médico Ocupacional (EMO)", 28, 177);
  doc.line(114, 178, 184, 178);

  doc.line(28, 184, 68, 184);
  doc.text(", se le hizo entrega de los resultados, se le brindó información", 70, 183);

  doc.text("sobre cualquier duda generada respecto al EMO se le orientó sobre el levantamiento", 28, 189);

  doc.text("de observaciones médicas, si las tuviese.", 28, 195);

  doc.text(dia_c, 124, 230);
  doc.line(130, 231, 162, 231);

  doc.text(mes_c_text, 135, 230);

  doc.text(ano_c, 163, 230);


  doc.text("Firma del Trabajador", 65, 265, "center");
  doc.text("Firma del Médico Ocupacional", 144, 265, "center");

  doc.save(`Constancia_Lectura_EMO_${nombres_b}_${apellidos_b}`);

}

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>