<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<style>
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8fbb02 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>

<div class="main-content">
  <!-- Enfermedades crónicas -->
 
 <!-- Titulos  -->
  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Datos del trabajador</span>
    </div>
  </div>
  <!-- Titulos  -->
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nro de documento</span>
        <input type="" id="sp4EnferCron_dat_trab_nro" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nombres</span>
        <input type="" id="sp4EnferCron_dat_trab_nombre" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Apellidos</span>
        <input type="" id="sp4EnferCron_dat_trab_apellido" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de registro</span>
        <input type="date" id="sp4EnferCron_dat_trab_fecha_reg" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->
  <!-- Fila 2 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Edad</span>
        <input type="" id="sp4EnferCron_dat_trab_edad" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Grupo sanguineo</span>
        <select name="" id="sp4EnferCron_dat_trab_grupo_sanguineo" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de ingreso a TASA</span>
        <input type="date" id="sp4EnferCron_dat_trab_fi_tasa" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de retiro</span>
        <input id="sp4EnferCron_dat_trab_fr_tasa" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 2 fin -->
  <!-- Fila 3 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Gerencia</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_gerencia" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Planta</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_planta" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Área</span>
        <select class="submit" name="" id="sp4EnferCron_dat_trab_area" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Puesto de trabajo</span>
        <input type="" id="sp4EnferCron_dat_trab_ptrab_des" disabled>
      </div>
    </div>
  </div>

  <hr class="mb-5 mt-4" /> 

  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Datos de traslado</span>
    </div>
  </div>

  <hr class="mb-5 mt-4" />


  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Datos EMO</span>
    </div>
  </div>
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Mes de programación</span>
        <input id="dat_mes_programacion" type="month" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Tipo de EMO</span>
        <select id="dato_tipo_emo" disabled>   
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de registro</span>
        <input type="date" id="dat_fecha_registro_emo" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de EMO</span>
        <input type="date" id="dat_fecha_emo" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->
  <!-- Fila 2 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de lectura de EMO</span>
        <input type="date" id="dat_fecha_lectura_emo" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Resultado</span>
        <select id="dat_resultado" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Altura estructural</span>
        <select id="dat_altura_estructural" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Espacio confinado</span>
        <select id="dat_espacio_confinado" disabled>
        </select>
      </div>
    </div>
  </div>                    
  <!-- Fila 2 fin -->
  <div class="row mt-4">
    <div class="col-md-12 d-flex align-items-center">
      <span class="titulo"> Archivos adjuntos </span>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="cant_planes">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" style="font-size: 15px">
          <span id="table_adjunto_emo-count-row"></span> registros</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table-box" id="table_adjunto_emo">
        <thead>
          <tr>
            <th>Fecha de subida</th>
            <th>Nombre del archivo</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="content_adjunto_emo">
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <hr class="mb-5 mt-4" />

  <!-- Diagnostico CIE10 -->
  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Diagnostico CIE10</span>
    </div>
  </div>
  <div class="row mb-5">
    <!-- Nro de registros -->
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="cant_planes">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" style="font-size: 15px">
          <span id="table_diagCIE10-count-row">2</span> registros</span>
      </div>
    </div>           
    <div class="table-responsive">
      <table class="table-box table-container" id="table_diagCIE10">
        <thead>
          <tr>
            <th>Diagnóstico </th>
            <th>CI10</th>
            <th>Fecha de registro</th>
            <th>Especialidad</th>
            <th>Sistema afectado</th>
            <th>Seccion afectada</th>
          </tr>
        </thead>
        <tbody id="content_diagCIE10">  
        </tbody>
      </table>
    </div>
  </div>
  <!-- Diagnostico CIE10 fin -->

  <hr class="mb-5 mt-4" />

  <div class="row mb-5 d-flex justify-content-between align-items-center">
    <div class="p-2 mr-auto">
      <span class="titulo">Observaciones</span>
    </div>
  </div>



  <div class="row mb-5 mt-3">
              <div class="col-md-12">
                <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
                  <li class="nav-item  mb-3">
                    <a class="nav-link active" id="observaciones-tab" data-toggle="tab" href="#observaciones" role="tab" aria-controls="observaciones" aria-selected="true">Observaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="observaciones-pendientes-tab" data-toggle="tab" href="#observaciones-pendientes" role="tab" aria-controls="observaciones-pendientes" aria-selected="false">Observaciones pendientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="observaciones-levantadas-tab" data-toggle="tab" href="#observaciones-levantadas" role="tab" aria-controls="observaciones-levantadas" aria-selected="false">Observaciones levantadas</a>
                  </li>
                </ul>
                <div class="tab-content mt-5" id="myTabContent-observaciones">
                  <!-- Calidad-vida -->    
                  <div class="tab-pane fade show active" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones"> 
                        </tbody>
                      </table>
                    </div>                        
                  </div>
                  <!-- Calidad-vida fin-->

                  <!-- Conservación auditiva -->    
                  <div class="tab-pane fade" id="observaciones-pendientes" role="tabpanel" aria-labelledby="observaciones-pendientes-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones_pendientes-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones_pendientes">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones_pendientes">
                        </tbody>
                      </table>
                    </div>           
                  </div>
                  <!-- Conservación auditiva fin -->

                  <!-- Transtorno-musculo -->    
                  <div class="tab-pane fade" id="observaciones-levantadas" role="tabpanel" aria-labelledby="observaciones-levantadas-tab">
                    <!-- Nro de registros -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-star">
                        <div id="cant_planes">
                          <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        </div>
                        <span class="cantidad ml-3" style="font-size: 15px">
                          <span id="table_observaciones_levantadas-count-row">0</span> registros</span>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table-box" id="table_observaciones_levantadas">
                        <thead>
                          <tr>
                            <th>Tipo observación</th>
                            <th>Fecha de préstamo de placa</th>
                            <th>Se levantará la observación</th>
                            <th>Observacion</th>
                            <th>Levantamiento observación</th>
                          </tr>
                        </thead>
                        <tbody id="content_observaciones_levantadas">
                        </tbody>
                      </table>
                    </div>             
                  </div> 
                  <!-- Transtorno-musculo -->
                </div>    
                        
              </div>
            </div>










  <hr class="mb-5 mt-4" />

  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Recordatorio de vencimiento</span>
    </div>
  </div>
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de primera carta recordatoria</span>
        <input type="date" id="dat_fecha_primera_carta_recordatoria" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de vencimiento</span>
        <input type="date" id="dat_fecha_vencimiento_primera_carta_recordatoria" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de segunda carta recordatoria</span>
        <input type="date" id="dat_fecha_segunda_carta_recordatoria" disabled>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Fecha de vencimiento</span>
        <input type="date" id="dat_fecha_vencimiento_segunda_carta_recordatoria" disabled>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->

  <hr class="mb-5 mt-4" />


  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-12">
      <span class="titulo">Definición de VMO's</span>
    </div>
  </div>
  <!-- Fila 1 -->
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-12 mb-3"> 
      <div class="input-box-secondary">
        <span>Seleccionar tipo de VMO</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">            
      <label class="container-checkbox mt-4">Conservación auditiva
        <input id="checkbox_conservacion_auditiva" type="checkbox" disabled>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nivel de seguimiento</span>
        <select id="dat_nivel_segumiento_conservacion_auditiva" disabled>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <label class="container-checkbox mt-4">Calidad de Vida
        <input id="checkbox_calidad_vida" type="checkbox" disabled>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nivel de seguimiento</span>
        <select id="dat_nivel_segumiento_calidad_vida" disabled>
        </select>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-3 col-sm-6">              
      <label class="container-checkbox mt-4">Trastorno músculo esquelético
        <input id="checkbox_transtorno_musculo" type="checkbox" disabled>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="input-box-secondary">
        <span>Nivel de seguimiento</span>
        <select id="dat_nivel_transtorno_musculo" disabled>
        </select>
      </div>
    </div>
  </div>                    
  <!-- Fila 1 fin -->

  <!-- Nav-tabs -->
  <div class="row mb-5 mt-5">
    <div class="col-md-12">
      <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
        <li class="nav-item  mb-3">
          <a class="nav-link active" id="calidad-vida-tab" data-toggle="tab" href="#calidad-vida" role="tab" aria-controls="calidad-vida" aria-selected="true">Calidad de vida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="conservacion-auditiva-tab" data-toggle="tab" href="#conservacion-auditiva" role="tab" aria-controls="conservacion-auditiva" aria-selected="false">Conservación auditiva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="transtorno-musculo-tab" data-toggle="tab" href="#transtorno-musculo" role="tab" aria-controls="transtorno-musculo" aria-selected="false">Trastorno músculo esqueletico</a>
        </li>
      </ul>
      <div class="tab-content mt-5" id="myTabContent-tipo-vmo">
        <!-- Calidad-vida -->    
        <div class="tab-pane fade show active" id="calidad-vida" role="tabpanel" aria-labelledby="calidad-vida-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_calidad-vida-count-row">0</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_calidad-vida">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_calidad-vida">
              </tbody>
            </table>
          </div>                        
        </div>
        <!-- Calidad-vida fin-->

        <!-- Conservación auditiva -->    
        <div class="tab-pane fade" id="conservacion-auditiva" role="tabpanel" aria-labelledby="conservacion-auditiva-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_conservacion-auditiva-count-row">0</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_conservacion-auditiva">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_conservacion-auditiva"> 
              </tbody>
            </table>
          </div>           
        </div>
        <!-- Conservación auditiva fin -->

        <!-- Transtorno-musculo -->    
        <div class="tab-pane fade" id="transtorno-musculo" role="tabpanel" aria-labelledby="transtorno-musculo-tab">
          <!-- Nro de registros -->
          <div class="col-md-12">
            <div class="d-flex justify-content-star">
              <div id="cant_planes">
                <img src="images/iconos/copia-1.svg" style="width: 20px" />
              </div>
              <span class="cantidad ml-3" style="font-size: 15px">
                <span id="table_transtorno-musculo-count-row">0</span> registros</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table-box" id="table_transtorno-musculo">
              <thead>
                <tr>
                  <th>Fecha de VMO</th>
                  <th>Cumplimiento</th>
                </tr>
              </thead>
              <tbody id="content_transtorno-musculo"> 
              </tbody>
            </table>
          </div>             
        </div> 
        <!-- Transtorno-musculo -->
      </div>    
              
    </div>
  </div>
  <!-- Nav-tabs -->


  
</div>

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<!-- JS EMO -->
<script src="view/sho-hce/emo/js/JSemo.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});


//--------------------------VARIABLES GLOBALES------------------------------//

var idHC_EC = 0;

//--------------------------FUNCIONES A TENER EN CUENTA------------------------------//
//--------------------------LLEVARAN MUCHA REVISION------------------------------//

function ecSp4CalcularDiasRestantesDescansoMedicoEC( FechaInicio, FechaFin ) {

  var FechaInicio_Control = new Date(FechaInicio);
  var FechaFin_Control = new Date(FechaFin);
  var FechaHoy_Control = new Date();
  var DiasDiferencia_InicioFin;
  var CantidadDias_InicioFin;
  var DiasDiferencia_InicioHoy;
  var CantidadDias_InicioHoy;
  var DiasRestante = 0;

  DiasDiferencia_InicioFin= FechaFin_Control.getTime()-FechaInicio_Control.getTime();
  CantidadDias_InicioFin = Math.round(DiasDiferencia_InicioFin/(1000*60*60*24));

  DiasDiferencia_InicioHoy= FechaHoy_Control.getTime()-FechaInicio_Control.getTime();
  CantidadDias_InicioHoy = Math.round(DiasDiferencia_InicioHoy/(1000*60*60*24));

  DiasRestantes = CantidadDias_InicioFin - CantidadDias_InicioHoy;

  if( DiasRestantes <= 0 ){

    return 0;

  }
  else{

    return DiasRestantes; 

  }

}

function ecSp4cargarSelectEMO(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#dato_tipo_emo');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["TiposEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#dat_resultado');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["ResultadosEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_altura_estructural');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["AlturaEstructuralesEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_espacio_confinado');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["EspaciosEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_segumiento_conservacion_auditiva');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_segumiento_calidad_vida');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_nivel_transtorno_musculo');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["NivelesSeguimientoVMO"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#dat_motivo_consulta');
  contenido.append(`<option value=""></option>`);

  pluck_EMO["MotivosConsultaEmo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de sistemas afectados
  contenido = $('#dat_sistema_afectado');
  contenido.append(`<option value="0" selected></option>`);

  pluck_EMO["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada
  contenido = $('#dat_seccion_afectada');
  contenido.append(`<option value="0" selected></option>`);

  pluck_EMO["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });


  //Cargando Select de Áreas
  contenido = $('#sp4EnferCron_dat_trab_area');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#sp4EnferCron_dat_trab_gerencia');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#sp4EnferCron_dat_trab_planta');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#sp4EnferCron_dat_trab_grupo_sanguineo');
  contenido.append(`<option value="" selected></option>`);

  pluck_EMO["GrupoSanguineo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });




}

function ecSp4cargarElementosDatosGeneralesEMO(){  

  $("#table_calidad-vida-count-row").text($("#table_calidad-vida tr.table-row").length);

  if( $("#table_calidad-vida tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_calidad-vida tbody").append(html_tbody);

  }

  $("#table_conservacion-auditiva-count-row").text($("#table_conservacion-auditiva tr.table-row").length);

  if( $("#table_conservacion-auditiva tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_conservacion-auditiva tbody").append(html_tbody);

  }

  $("#table_transtorno-musculo-count-row").text($("#table_transtorno-musculo tr.table-row").length);

  if( $("#table_transtorno-musculo tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='2' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_transtorno-musculo tbody").append(html_tbody);

  }

  //Elementos de la vista gestionEnfermedadCronica
  $('#sp4EnferCron_dat_trab_nro').val(paObj_EMO[idHCEMO].NroDocumento_Trabajador_H);
  $('#sp4EnferCron_dat_trab_nombre').val(paObj_EMO[idHCEMO].Nombres_Trabajador_H);
  $('#sp4EnferCron_dat_trab_apellido').val(paObj_EMO[idHCEMO].Apellidos_Trabajador_H);
  $('#sp4EnferCron_dat_trab_edad').val(paObj_EMO[idHCEMO].Edad_Trabajador_H);
  $('#sp4EnferCron_dat_trab_fecha_reg').val(paObj_EMO[idHCEMO].FechaRegistro_Trabajador_H.substring(0,10));
  $('#sp4EnferCron_dat_trab_fi_tasa').val(paObj_EMO[idHCEMO].FechaIngresoTasa_H.substring(0,10));
  $("#sp4EnferCron_dat_trab_gerencia option[value='"+paObj_EMO[idHCEMO].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_planta option[value='"+paObj_EMO[idHCEMO].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_area option[value='"+paObj_EMO[idHCEMO].AreaId_Empresa_H+"']").prop("selected",true);
  $('#sp4EnferCron_dat_trab_ptrab_des').val(paObj_EMO[idHCEMO].PuestoTrabajo_Empresa_H);
  
  $("#sp4EnferCron_dat_trab_grupo_sanguineo option[value='"+paObj_EMO[idHCEMO].A_GrupoSanguineo+"']").prop("selected",true);
  //$('#sp4EnferCron_dat_trab_grupo_sanguineo').val(paObj_ec[idHC].GrupoSanguineoDescripcion);PENDIENTE
  
  if(paObj_EMO[idHCEMO].FechaRetiroTasa_H === undefined){
    $('#sp4EnferCron_dat_trab_fr_tasa').val('Sin fecha de registro');
  }
  else
  {
    $('#sp4EnferCron_dat_trab_fr_tasa').val(new Date(paObj_EMO[idHCEMO].FechaRetiroTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  }

  //Elementos de la vista indexEC
  /*$('#nombre-trabajador').text(paObj_ec[idHC_EC].Nombres_Trabajador_H+" "+paObj_ec[idHC_EC].Apellidos_Trabajador_H);
  $('#nombre-trabajador-maximo').text(paObj_ec[idHC_EC].Nombres_Trabajador_H+" "+paObj_ec[idHC_EC].Apellidos_Trabajador_H);
  $('#dni-trabajador-maximo').text(paObj_ec[idHC_EC].NroDocumento_Trabajador_H);
  $('#puesto-trabajador-maximo').text(paObj_ec[idHC_EC].PuestoTrabajo_Empresa_H);
  $('#planta-trabajador-maximo').text(paObj_ec[idHC_EC].SedeDescripcion);
  $('#gerencia-trabajador-maximo').text(paObj_ec[idHC_EC].GerenciaDescripcion);
  $('#area-trabajador-maximo').text(paObj_ec[idHC_EC].AreaDescripcion);
  $('#edad-trabajador-maximo').text(paObj_ec[idHC_EC].Edad_Trabajador_H);
  $('#sexo-trabajador-maximo').text(paObj_ec[idHC_EC].Sexo_Trabajador_H == 1 ? 'Masculino' : 'Femenino');*/
  
}



function ecSp4cargarDatosGeneralesEMO(Id_HC) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  idHCEMO = Id_HC;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": idHCEMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_EMO[idHCEMO] = response.HistoriaClin[0];

    //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
    /*pluck_ec["Areas"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].AreaId_Empresa_H) {
        paObj_ec[idHC_EC].AreaDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
    /*pluck_ec["Gerencias"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].GerenciaId_Empresa_H) {
        paObj_ec[idHC_EC].GerenciaDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    /*pluck_ec["Sedes"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC_EC].SedeId_Empresa_H) {
        paObj_ec[idHC_EC].SedeDescripcion = Item.Description;
      }

    });*/

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    //PENDIENTE
    /*pluck_ec["GrupoSanguineo"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].A_GrupoSanguineo) {
        paObj_ec[idHC].GrupoSanguineoDescripcion = Item.Descripcion;alert(paObj_ec[idHC].GrupoSanguineoDescripcion);
      }

    });*/

    //Se cargan los elementos de la vista con la data obtenida
    ecSp4cargarElementosDatosGeneralesEMO();

  });

}




//--------------------------FUNCION CARGAR SISTEMA AFECTADO------------------------------//

function ecSp4cargarSistemaAfectadoEMO() {


 let url = apiUrlsho+`/api/hce_Get_034_sistema_afectado?code=qxkQ9ZXSLatmcpaCr044BU0xgBGcMRX899c8sjilL/dCTIgHf4HyVg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_EMO['SistemaAfectado'] = response.SistemaAfectado;

  });

}

//--------------------------FUNCION CARGAR SECCION AFECTADA------------------------------//

function ecSp4cargarSeccionAfectadaEMO() {


  let url = apiUrlsho+`/api/hce_Get_035_seccion_afectada?code=7waSycbZnJkX12509pMvTJINkreJkBBQCrsMZNYeY6R5AayCauB5nQ==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {

    pluck_EMO['SeccionAfectada'] = response.SeccionAfectada;

  });

}


function ecSp4CargaSedesAreasGerenciasEMO() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_EMO["Areas"] = response.Area;
    pluck_EMO["Gerencias"] = response.Gerencia;
    pluck_EMO["Sedes"] = response.Sedes;

  });

}

function ecSp4CargarGruposSanguineoEMO() {
  
  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_022_grupo_sanguineo?code=IhNvDEFrj7QvaNdVB0u1lg32UwyNstFuM75/VlxeAMn2HMJ2SZ9E7g==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "dataType": 'json',
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    pluck_EMO["GrupoSanguineo"] = response.GrupoSanguineo;

  });

}

function ecSp4cargarDatosEMOId(Id_EMO) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  //idHC_EC = Id_HC;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_502_emo_id?code=9Iym20oHytV9WXQrZHS1NHZWpEEurIz42PFPIRBXud6z62q5KPhGaA==&httpmethod=objectlist`;
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "Id": Id_EMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    paObj_EMO["EMOS"] = response.EMOS[0];
    paObj_EMO["EMOAdjuntos"] = response.EMOAdjuntos;
    paObj_EMO["FichaMedicoOcupacional"] = response.FichaMedicoOcupacionales[0];
    paObj_EMO["DiagnosticosCIE10"] = response.DiagnosticosCIE10;
    paObj_EMO["AdjuntosFichaMedicoOcupacional"] = response.AdjuntosFichaMedicoOcupacional;

  });

}

function ecSp4cargarDatosDetalleEMO(){  

  $("#dato_tipo_emo option[value='"+paObj_EMO["EMOS"].TipoEmo+"']").prop("selected",true);
  $("#dat_resultado option[value='"+paObj_EMO["EMOS"].Resultado+"']").prop("selected",true);
  $("#dat_altura_estructural option[value='"+paObj_EMO["EMOS"].AlturaEstructutal+"']").prop("selected",true);
  $("#dat_espacio_confinado option[value='"+paObj_EMO["EMOS"].EspacioConfinado+"']").prop("selected",true);
  $("#dat_nivel_segumiento_conservacion_auditiva option[value='"+paObj_EMO["EMOS"].VmoNivelSegAuditiva+"']").prop("selected",true);
  $("#dat_nivel_segumiento_calidad_vida option[value='"+paObj_EMO["EMOS"].VmoNivelSegCalidadVida+"']").prop("selected",true);
  $("#dat_nivel_transtorno_musculo option[value='"+paObj_EMO["EMOS"].VmoNivelSegTranstorno+"']").prop("selected",true);
  $('#dat_fecha_registro_emo').val(paObj_EMO["EMOS"].FechaRegistro.substring(0,10));
  $('#dat_fecha_emo').val(paObj_EMO["EMOS"].FechaEmo.substring(0,10));
  $('#dat_fecha_lectura_emo').val(paObj_EMO["EMOS"].FechaLecturaEmo.substring(0,10));  
  $('#dat_fecha_primera_carta_recordatoria').val(paObj_EMO["EMOS"].FechaRecordatorio_1.substring(0,10));
  $('#dat_fecha_vencimiento_primera_carta_recordatoria').val(paObj_EMO["EMOS"].FechaVencimento_1.substring(0,10));
  $('#dat_fecha_segunda_carta_recordatoria').val(paObj_EMO["EMOS"].FechaRecordatorio_2.substring(0,10));
  $('#dat_fecha_vencimiento_segunda_carta_recordatoria').val(paObj_EMO["EMOS"].FechaVencimento_2.substring(0,10));
  $('#checkbox_conservacion_auditiva').attr("checked",paObj_EMO["EMOS"].VmoConAuditiva == 0 ? false : true);
  $('#checkbox_calidad_vida').attr("checked",paObj_EMO["EMOS"].VmoCalidadVida == 0 ? false : true);
  $('#checkbox_transtorno_musculo').attr("checked",paObj_EMO["EMOS"].VmoTranstorno == 0 ? false : true);
  $('#dat_mes_programacion').val(paObj_EMO["EMOS"].MesProgramacion);
  //$("#dat_motivo_consulta option[value='"+paObj_EMO["FichaMedicoOcupacional"].MotivoConsultaId+"']").prop("selected",true);
  //$('#dat_fecha_lectura_constancia').val(paObj_EMO["FichaMedicoOcupacional"].FechaConstancia.substring(0,10));
  //$('#dat_hora_registro').val(paObj_EMO["FichaMedicoOcupacional"].HoraRegistro);
  
  let control = false;
  let control_contador = 0;
  var html_tbody = '';

  control = false;
  control_contador = 0;

  $("#table_adjunto_emo tbody").find(".table-row").remove();

  if(Object.keys(paObj_EMO["EMOAdjuntos"]).length > 0){

    $.each(paObj_EMO["EMOAdjuntos"], function(index,accountObj){

      paObj_descargarAdjunto_EMO[index] = accountObj;

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreArchivo;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarAdjuntoEMO("+index+")' title='Descargar Adjunto'>";
      html_tbody += "</button>";     
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_adjunto_emo tbody").append(html_tbody);
      control = true;
      control_contador++;

    }); 

  } 

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='3' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_adjunto_emo tbody").append(html_tbody);

  }

  $('#table_adjunto_emo-count-row').text(control_contador);  

  control = false;
  control_contador = 0;

  $("#table_diagCIE10 tbody").find(".table-row").remove();

  if(Object.keys(paObj_EMO["DiagnosticosCIE10"]).length > 0){  

    $.each(paObj_EMO["DiagnosticosCIE10"], function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += accountObj.Diagnostico;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.TipoCIE10Code;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.TipoCIE10Especilidades;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (accountObj.SistemaAfectadoDescripcion == null) ? '--' : accountObj.SistemaAfectadoDescripcion;
      html_tbody += "</td>";
      html_tbody += "<td>"; 
      html_tbody += (accountObj.SeccionAfectadaDescripcion == null) ? '--' : accountObj.SeccionAfectadaDescripcion;                  
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_diagCIE10 tbody").append(html_tbody);
      control = true;
      control_contador++;

    });

  }

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='6' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_diagCIE10 tbody").append(html_tbody);

  }

  $('#table_diagCIE10-count-row').text(control_contador);  
  
}





function Sp5cargarObservacionesEMO(IdEMO) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  //idHC_EC = Id_HC;

  let html_tbody;

  let TipoObservacionArray = ["Alergología,Cardiología","Cirugía de cabeza y cuello","Cirugía de Tórax y Cardiovascular","Cirugía General","Dermatología","Endocrinología","Gastroenterología","Ginecología y Obstetricia","Hematología","Medicina Física y Rehabilitación","Medicina Interna","Nefrología","Neumología","Neurocirugía","Neurología","Nutrición","Odontología","Oftalmología","Otorrinolaringología","Psiquiatría,Reumatología","Traumatología y Ortopedia","Urología"]
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_505_observaciones_emo?code=sUCop/abBKJnefaTi/dSOtavgaXl7tPYzSKqa4H205yFtBRcu9fIvg==&httpmethod=objectlist`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdEmo": IdEMO }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    console.log(response);

    $("#table_observaciones tbody").find(".table-row").remove();
    $("#table_observaciones tbody").find(".table-empty").remove();
    $("#table_observaciones_pendientes tbody").find(".table-row").remove();
    $("#table_observaciones_pendientes tbody").find(".table-empty").remove();
    $("#table_observaciones_levantadas tbody").find(".table-row").remove();
    $("#table_observaciones_levantadas tbody").find(".table-empty").remove();

    if(Object.keys(response.EMOS).length > 0){

      control = false;

      $.each(response.EMOS, function(index,accountObj){


          html_tbody = "<tr class='table-row'>";
          html_tbody += "<td>";
          html_tbody += TipoObservacionArray[accountObj.TipoObservacionId+1];
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += new Date(accountObj.FechaPrestamoPlaca).toLocaleDateString('en-GB').split('T')[0];
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += (parseInt(accountObj.HayObservacion) == 1 ? 'Si' : 'No');
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += accountObj.Observacion;
          html_tbody += "</td>";
          html_tbody += "<td>";
          html_tbody += accountObj.LevantamientoObservacion;
          html_tbody += "</td>";
          html_tbody += "</tr>";

          $("#table_observaciones tbody").append(html_tbody);

          if( parseInt(accountObj.HayObservacion) == 0 ){

            $("#table_observaciones_pendientes tbody").append(html_tbody);

          }
          else
          {

            $("#table_observaciones_levantadas tbody").append(html_tbody);

          }


      });         

    }

    $("#table_observaciones-count-row").text($("#table_observaciones tr.table-row").length);
    $("#table_observaciones_pendientes-count-row").text($("#table_observaciones_pendientes tr.table-row").length);
    $("#table_observaciones_levantadas-count-row").text($("#table_observaciones_levantadas tr.table-row").length);

    if( $("#table_observaciones tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones tbody").append(html_tbody);

    }

    if( $("#table_observaciones_pendientes tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones_pendientes tbody").append(html_tbody);

    }

    if( $("#table_observaciones_levantadas tr.table-row").length == 0){

      html_tbody =
        "<tr class='table-empty'>"+            
          "<td colspan='6' class='text-center text-uppercase'>"+
            "No hay informacion registrada"+
          "</td>"+
        "</tr> ";

        $("#table_observaciones_levantadas tbody").append(html_tbody);

    }

      $("#observaciones-tab").text("Observaciones ("+$("#table_observaciones tr.table-row").length+")");
      $("#observaciones-pendientes-tab").text("Observaciones pendientes ("+$("#table_observaciones_pendientes tr.table-row").length+")");
      $("#observaciones-levantadas-tab").text("Observaciones levantadas ("+$("#table_observaciones_levantadas tr.table-row").length+")");


  });

}






async function _init_ecSp4EMO(Id_HistoriaEMO, Id_EMO) {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectadoEMO();
  await ecSp4cargarSeccionAfectadaEMO();
  await ecSp4CargaSedesAreasGerenciasEMO();
  await ecSp4CargarGruposSanguineoEMO();
  await ecSp4cargarSelectEMO();
  await ecSp4cargarDatosGeneralesEMO(Id_HistoriaEMO);
  await ecSp4cargarDatosEMOId(Id_EMO);
  await Sp5cargarObservacionesEMO(Id_EMO);
  await ecSp4cargarDatosDetalleEMO();
  //await ecSp4cargarAptituds(); 
  //await ecSp4CargarEnfermedadesCronicasIdHistoriaClinica();

  //Se apaga el Cargando
  hideLoading();

}

function ecSp4editarEnfermedadCronica(Id_EC){

  idEC = Id_EC;

  handlerUrlhtml('contentGlobal', 'view/sho-hce/enfermedades_cronicas/editarEnfermedadCronica.html', 'Editar Enfermedades Crónicas');

}

//Crear servicio para cargar los plucks (Selects) usados en EMO
function ecSp4CargarPlucksEMO() {
  
  let url = apiUrlsho+`/api/hce_Get_500_plucks_emo?code=e42XLr4TQ8b819cU9ZQPuLwCprU9oG7CiEheRWvWzFxnRrdVDpBXTA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers
  };

  return $.ajax(settings).done((response) => {
    
    pluck_EMO['TiposEmo'] = response.TiposEmo;
    pluck_EMO['ResultadosEmo'] = response.ResultadosEmo;
    pluck_EMO['AlturaEstructuralesEmo'] = response.AlturaEstructuralesEmo;
    pluck_EMO['EspaciosEmo'] = response.EspaciosEmo;
    pluck_EMO['MotivosConsultaEmo'] = response.MotivosConsultaEmo;
    pluck_EMO['NivelesSeguimientoVMO'] = response.NivelesSeguimientoVMO;

  });
}

$(document).ready(function() {

  //Se inicializa la vista  
  _init_ecSp4EMO(idHCEMO,idEMO);

});

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>