<link rel="stylesheet" href="css/sho.css">

<style type="text/css">
.textVertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 30px;
  color: #01719d;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.textVertical:hover {
  color: #8fbb02;
}
</style>

<!-- 
  <div class="row mb-5">
      <div class="col-md-12 d-flex justify-content-between align-content-center">
          <h2 class="title-section d-flex">
              <span class="m-auto titulo">IPERC</span>
          </h2>
          <span class="subtitulo" id="mostrar_datos_at" style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
          <span class="subtitulo" id="ocultar_datos_at" style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
      </div>
  </div>
  <div class="row mb-5">
      <div class="col-md-2 show-more">
        <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
          <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
            <img id="img_file_perfil" name="img_file_perfil">
          </label>
          <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
        </div>
      </div>
      <div class="col-md-9 show-less" style="display:none">
        <div class="row">
          <div class="col-md-2 mr-2">
            <div class="img-perfil" 
              style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
              <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
                <img name="img_file_perfil" name="img_file_perfil">
              </label>
              <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_iperc_nombres"></span>
          </div>
        </div>
      </div>
      <div class="col-md-7 show-more">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_iperc_nombres"></span>
          </div>
        </div>
        <div class="row mt-3 show-more">
          <div class="col-4 my-1">
            <b>DNI:</b> <span id="dat_iperc_dni_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Sexo:</b> <span id="dat_iperc_sexo_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Edad:</b> <span id="dat_iperc_edad_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Puesto:</b> <span id="dat_iperc_puesto_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Área:</b> <span id="dat_iperc_area_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Gerencia:</b> <span id="dat_iperc_gerencia_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Planta:</b> <span id="dat_iperc_planta_trabajador"></span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <span class="mb-3" style="font-weight: 600; color: #01719d; cursor: pointer;float: right;"
         onclick="ipercSp4VerDatosCompletosTrabajador()">Ver datos completos</span>
        <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
        onclick="setControlLateralIPERC();amSp3NuevaAtencionMedica(idHC,2)">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
      </div>
  </div>
-->

  <div class="row mb-5">
    <div class="col-md-12 d-flex justify-content-between align-content-center">
        <h2 class="title-section d-flex"><span class="m-auto titulo">IPERC</span></h2>
        <span class="subtitulo" id="MostrarDatos" style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
        <span class="subtitulo" id="OcultarDatos" style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-2 show-more">
      <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
        <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
          <img id="img_file_perfil" name="img_file_perfil">
        </label>
        <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
      </div>
    </div>
    <div class="col-md-9 show-less" style="display:none">
      <div class="row">
        <div class="col-md-2 mr-2">
          <div class="img-perfil" 
            style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
              <img name="img_file_perfil">
            </label>
            <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
    </div>
    <div class="col-md-7 show-more">
      <div class="row">
        <div class="col-12">
          <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
      <div class="row mt-3 show-more">
        <div class="col-4 my-1">
          <b>DNI:</b> <span id="dni_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Sexo:</b> <span id="sexo_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Edad:</b> <span id="edad_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Puesto:</b> <span id="puesto_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Área:</b> <span id="area_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Gerencia:</b> <span id="gerencia_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Planta:</b> <span id="planta_trabajador"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">    
      <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
      onclick="onAtrasHistoriaClick(11); amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
      </button>
      <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
       onclick="VerDatosCompletoTrabajador(idHC)">Ver datos completos</span>
    </div>
  </div>

  <hr class="mt-4">



  <div class="row mb-5">
    <div class="col-md-12 mt-3">
      <span class="m-auto titulo">Identificación de peligros, Evaluación de Riesgos y Controles</span>
    </div>
  </div>
  <div class="row mb-5">
      <div class="col-md-12 mt-3">
        <div class="d-flex align-items-center">
          <div>
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_iperc_cant_ipercHC" style="font-size: 15px">0 registros</span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="table-responsive tablaBox">
          <table class="table-box">
              <thead>
                  <th>F. registro</th>
                  <th>Puesto de trabajo</th>
                  <th>Sede</th>
                  <th>Área</th>
                  <th>Gerencia</th>
                  <th></th>
              </thead>
              <tbody id="content_sp4_iperc_table_ipercHC">
                  <tr>
                    <td colspan="6" class="text-center">No se encontraron resultados.</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div>

<script type="text/javascript" src="view/sho-hce/historia_clinica/gestionHistoriaClinica.js"></script>

<script type="text/javascript">

var ipercListHC = []
var idIpercPuesto = null
var ipercSelected = null
var pluck_iperc = []

$(document).ready(()=>{

  _init_ipercSp4GestionIperc()
  //$('#mostrar_datos_at').on('click',onClickMostrarDatos);
  //$('#ocultar_datos_at').on('click',onClickOcultarDatos);

  //Esto lo agregue (Javier Galindo)
  _init_DatosGeneralesHistoria(idHC);

  $('#MostrarDatos').on('click',onClickMostrarDatosGeneral);
  $('#OcultarDatos').on('click',onClickOcultarDatosGeneral);

})


function onClickMostrarDatos(){
  $('#mostrar_datos_at').hide()
  $('#ocultar_datos_at').show()
  $('.show-less').hide()
  $('.show-more').show()
}

function onClickOcultarDatos(){
  $('#ocultar_datos_at').hide()
  $('#mostrar_datos_at').show()
  $('.show-less').show()
  $('.show-more').hide()
}

function setControlLateralIPERC() {
  ControlLateralIPERC = true;
}

async function _init_ipercSp4GestionIperc() {

  showLoading();

  await ipercSp4CargaSedesAreasGerencias()
  //Esto lo comente (Javier Galindo)
  //ipercSp4CargarDatosTrabajador();
  await ipercSp4CargarIperc();

  hideLoading();
  $('#page-content-sidebar').show()
}

function ipercSp4CargarDatosTrabajador(){  

  //Datos generales
  let obj = paObj_hc[idHC].a;
  
  pluck_iperc.Sedes.forEach((e) => {
    if (e.Id == obj.PlantaId_Empresa_H) {
      $('#dat_iperc_planta_trabajador').text(e.Description);
    }
  });

  pluck_iperc.Areas.forEach((e) => {
    if (e.Id == obj.AreaId_Empresa_H) {
      $('#dat_iperc_area_trabajador').text(e.Description);
    }
  });

  pluck_iperc.Gerencias.forEach((e) => {
    if (e.Id == obj.GerenciaId_Empresa_H) {
      $('#dat_iperc_gerencia_trabajador').text(e.Description);
    }
  });

  $('#dat_iperc_dni_trabajador').text(obj.NroDocumento_Trabajador_H);
  $('span[name=dat_iperc_nombres]').text(obj.Nombres_Trabajador_H+" "+obj.Apellidos_Trabajador_H);
  $('#dat_iperc_edad_trabajador').text(obj.Edad_Trabajador_H);
  $('#dat_iperc_sexo_trabajador').text(obj.Sexo_Trabajador_H == 1 ? 'Masculino' : 'Femenino');
  $('#dat_iperc_puesto_trabajador').text(obj.PuestoTrabajo_Empresa_H);

  if(obj.FotoPerfil.length){
    $("img[name=img_file_perfil]").attr("src", obj.FotoPerfil[0].FotoPacienteBase64);
  }else{
      $("img[name=img_file_perfil]").attr("src", 'images/sho/profile.png')
  }
}

function ipercSp4CargarIperc(){
  
  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Historia_Cargo_IPERC`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let data = {
    idHC: idHC,
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {
    ipercListHC = response.bitacora
    ipercSp4RenderIpercHC()
  })
}

function ipercSp4CargaSedesAreasGerencias() {

  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    pluck_iperc["Areas"] = response.Area;
    pluck_iperc["Gerencias"] = response.Gerencia;
    pluck_iperc["Sedes"] = response.Sedes;

  });
}

function ipercSp4RenderIpercHC() {

  if(ipercListHC.length){

    $('#content_sp4_iperc_table_ipercHC').html('')
    $('#dat_iperc_cant_ipercHC').html(`${ipercListHC.length == 1 ? '01' : ipercListHC.length} registros`)

    ipercListHC.map((iperc) => {

      const sede = pluck_iperc.Sedes.find(item => item.Id == iperc.B_SedeId)
      const area = pluck_iperc.Areas.find(item => item.Id == iperc.B_AreaId)
      const gerencia = pluck_iperc.Gerencias.find(item => item.Id == iperc.B_GerenciaId)

      $('#content_sp4_iperc_table_ipercHC').append(`
          <tr>
            <td>${moment(new Date(iperc.A_FechaRegistro)).format('DD/MM/YYYY')}</td>
            <td>${iperc.B_PuestoTrabajo}</td>
            <td>${sede ? sede.Description : 'No disponible'}</td>
            <td>${area ? area.Description : 'No disponible'}</td>
            <td>${gerencia ? gerencia.Description : 'No disponible'}</td>
            <td>
                <div class="dropdown">
                  <button class=" btn-link dropdown textVertical" style='outline:none !important;' id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <label class='textVertical'>...</label>
                  </button>
                  <div class="dropdown-menu" style="padding: 8px 0px;" onclick="ipercSp4ExportarExcelIperc(${iperc.Id})">  
                      <a class="dropdown-item d-flex align-items-center">
                        <img src="./images/iconos/download3.svg" style="width: 17px; " alt="" />&nbsp;&nbsp; Exportar a excel
                      </a>
                  </div>
              </div>
            </td>
          </tr>
      `)
    })
  }
}

function ipercSp4VerDatosCompletosTrabajador() {

  let datos = paObj_hc[idHC].a;

  datos.Sede = pluck_iperc.Sedes.find(item => item.Id == datos.PlantaId_Empresa_H)
  datos.Area = pluck_iperc.Areas.find(item => item.Id == datos.AreaId_Empresa_H)

  Swal.fire({
    title: "Datos del trabajador",
    html: `
      <div class="text-left">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos Principales</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Documento: </b></span>
            <span>${datos.NroDocumento_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Nombres: </b></span>
            <span>${datos.Nombres_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Apellidos: </b></span>
            <span>${datos.Apellidos_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>C.Colaborador: </b></span>
            <span>${datos.CodigoColaborador_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Sexo: </b></span>
            <span>${(datos.Sexo_Trabajador_H == 1) ? 'Masculino' : 'Femenino'}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-12">
            <span style="color: #254373"><b>Dirección: </b></span>
            <span>${datos.Direccion_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>F.Nacimiento: </b></span>
            <span>${datos.fecha_nacimiento}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Edad: </b></span>
            <span>${datos.Edad_Trabajador_H}</span>
          </div>
        </div>
        <hr class="my-4">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos de la empresa</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Sede: </b></span>
            <span>${datos.Sede.Description}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Área: </b></span>
            <span>${datos.Area.Description}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Cargo: </b></span>
            <span>${datos.CargoJefe_Empresa_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Jefe inmediato: </b></span>
            <span>${datos.CargoJefe_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Celular: </b></span>
            <span>${datos.Celular_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Empresa_H}</span>
          </div>
        </div>
      </div>            
    `,
    iconHtml: '<img src="./images/sho/perfil.svg">',
    width: 800,
    showCancelButton: true,
    showConfirmButton: false,
    cancelButtonColor: "#ff3636",
    cancelButtonText: `Cancelar <img src="./images/sho/cancelar.svg">`,
  })
  $('.swal2-cancel').css('width', '200px');
  $('.swal2-html-container').css('overflow', 'visible');
}

async function ipercSp4ExportarExcelIperc(IdIperc) {
  await ipercSp4GetIpercList(IdIperc)

  if(idIpercPuesto){
    
    await ipercSp4GetDatosIperc(idIpercPuesto)

    if(ipercSelected) exportarIPERC()
  } 
}

function ipercSp4GetIpercList(IdIperc){

  let url = `https://550m44ud1tmg7454-inspection-dev.azurewebsites.net/api/Get-Iperc-General?code=ii4cICd6hzmjyrVKEJlDIh3VtnKT3GvkuwPCEgmzcgS79pIwA/sBZQ==&httpmethod=objectlist`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  const iperc = ipercListHC.find(item => item.Id = IdIperc)

  let data = {
    Gerencia: iperc.B_GerenciaId,
    PuestoTrabajo: iperc.PuestoTrabajoCode,
    Area: iperc.B_AreaId,
    Proceso:0,
    Alcance:0,
    Subproceso:0,
    Estado:0,
    PageInicio:1,
    PageFin:100
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {
    idIpercPuesto = 112 //temporal, unico registro existente
    
    if (response.Data.length){
      //idIpercPuesto = response.Data[Data.length - 1].Id
    }
  })
}

function ipercSp4GetDatosIperc(Id) {
  let url = `https://550m44ud1tmg7454-inspection-dev.azurewebsites.net/api/Get-Iperc-General?code=ii4cICd6hzmjyrVKEJlDIh3VtnKT3GvkuwPCEgmzcgS79pIwA/sBZQ==&httpmethod=object`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let data = {
    Id: Id
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {
    ipercSelected = response
  })
}

function exportarIPERC(){
    // var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    // var textRange; var j=0;
    // tab = document.getElementById('ver_PA_xls'); // id of table

    // for(j = 0 ; j < tab.rows.length ; j++) 
    // {     
    //     tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
    //     //tab_text=tab_text+"</tr>";
    // }

    // tab_text=tab_text+"</table>";
    // tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    // tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    // tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
    /*var anio= paObj[istAud].a.Year_Plan.toString();
    console.log(paObj[istAud].a, anio.substr(2,2))
    let fechaActual = new Date()

    let mes         = fechaActual.getMonth()*/

    var tab_text= `
    
    <table  cellpadding="0" cellspacing="0" id="sheet0" style="border-collapse: collapse;font-size:12px">
        <tr>
            <td colspan="28" style="border: 0px !important;"></td>
        </tr>
        <tr style="height:20px;">
            <td colspan="3" style="border: 0px !important;">
            </td>
            <td colspan="3" style="border: 0px !important;font-weight: bold;text-align:center;vertical-align: middle;font-size:11px"><p style="width:50%">Tecnológica de alimentos S.A. <br /> Empresa Pesquera <br /> 20100971772</p></td>
        </tr>
        <tr>
            <td style="border: 0px !important;"></td>
            <td colspan="16" style="border: 0px !important;font-weight: bold">MATRIZ DE IDENTIFICACION DE PELIGROS, EVALUACION DE RIESGOS Y CONTROLES</td>
            <td colspan="10" style="border: 0px !important;font-weight: bold">MATRIZ DE IDENTIFICACION DE PELIGROS Y EVALUACIÓN DE RIESGOS Y CONTROLES (IPERC)</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td style="border: 0px !important;"></td>
            <td style="font-weight: bold;border-bottom: 2px dotted black;">GERENCIA:</td>
            <td style="font-weight: bold;border-bottom: 2px dotted black;"></td>
            <td style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Gerencia_Des}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td style="border: 0px !important;"></td>
            <td colspan="4" style="font-weight: bold;border-bottom: 2px dotted black;">ÁREA / PLANTA / EMBARCACIÓN :</td>
            <td colspan="3" style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Area_Des}</td>
            <td  style="font-weight: bold;border-bottom: 2px dotted black;">PUESTO DE TRABAJO :</td>
            <td colspan="8" style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Puesto_Trabajo_Descripcion}</td>
            <td colspan="4" style="font-weight: bold;border-bottom: 2px dotted black">FECHA DE REVISIÓN / ACTUALIZACIÓN:</td>
            <td colspan="4" style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Fecha_Creacion}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td style="border: 0px !important;"></td>
            <td colspan="2" style="font-weight: bold;border-bottom: 2px dotted black;">PROCESO :</td>
            <td colspan="2" style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Proceso_Des}</td>
            <td colspan="2" style="font-weight: bold;border-bottom: 2px dotted black;">SUB-PROCESO :</td>
            <td colspan="6" style="font-weight: bold;border-bottom: 2px dotted black;color: #001AC3">${ipercSelected.DatosPrincipales.Subproceso_Des}</td>
        </tr>
        <tr>
        </tr>
    </table>
    
    <table  cellpadding="0" cellspacing="0" id="sheet0" style="border-collapse: collapse;">
        <tr style="font-weight: bold;text-align:center;vertical-align: middle;">
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#F1C096' >Item</td>
            <td colspan = "6" style="border: 2px solid #000;" bgcolor='#F1C096' >Descripción del Proceso, Actividades, Personal expuesto al Peligro, Máquinas y Equipos</td>
            
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#F1C096' >Peligro</td>
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#F1C096' >Riesgo</td>
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#F1C096' >Lesión / Enfermedad / Sensibilidad</td>

            <td colspan = "4" style="border: 2px solid #000;" bgcolor='#D09996' >Controles Existentes</td>

            <td colspan = "3" style="border: 2px solid #000;" bgcolor='#9AB3D4' >NIVEL DE RIESGO ACTUAL</td>

            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#FFFD54' >CATEGORÍA DEL RIESGO</td>
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#FFFD54' >SIGNIFICANCIA</td>
            
            <td colspan = "6" style="border: 2px solid #000;" bgcolor='#C8D6A1' >Medidas de Control Faltantes y Propuestas para reducir Nivel de Riesgo</td>

            <td colspan = "3" style="border: 2px solid #000;" bgcolor='#BFBFBF' >NIVEL DEL RIESGO CON APLICACIÓN DE CONTROLES</td>

            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#FFFD54' >CATEGORÍA DEL RIESGO</td>
            <td rowspan = "2" style="border: 2px solid #000;" bgcolor='#FFFD54' >SIGNIFICANCIA</td>

        </tr>
        <tr style="font-weight: bold;text-align:center;vertical-align: middle;">
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Actividad</td>
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Tipo de Actividad (Rutinaria/ No rutinaria)</td>
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Frecuencia</td>
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Género</td>
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Máquinas y Equipos</td>
            <td style="border: 2px solid #000;" bgcolor='#F1C096' >Descripción del Evento</td>

            <td colspan = "2" style="border: 2px solid #000;" bgcolor='#D09996' >Control Físico</td>
            <td style="border: 2px solid #000;" bgcolor='#D09996' >Control Administrativo Capacitación</td>
            <td style="border: 2px solid #000;" bgcolor='#D09996' >EPP</td>

            <td style="border: 2px solid #000;" bgcolor='#9AB3D4' >Índice de Probabilidad</td>
            <td style="border: 2px solid #000;" bgcolor='#9AB3D4' >Índice de Severidad</td>
            <td style="border: 2px solid #000;" bgcolor='#9AB3D4' >Índice de Riesgo</td>

            <td style="border: 2px solid #000;" bgcolor='#C8D6A1' >Eliminación del Riesgo</td>
            <td style="border: 2px solid #000;" bgcolor='#C8D6A1' >Sustitución</td>
            <td style="border: 2px solid #000;" bgcolor='#C8D6A1' >Control de Ingeniería</td>
            <td colspan = "2" style="border: 2px solid #000;" bgcolor='#C8D6A1' >Control Administrativo (documentos, capacitación)</td>
            <td style="border: 2px solid #000;" bgcolor='#C8D6A1' >EPP</td>

            <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >Índice de Probabilidad</td>
            <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >Índice de Severidad</td>
            <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >Índice de Riesgo</td>

        </tr>`;
        let count = 1;
        ipercSelected.DatosPrincipales.Actividades.map(function(Actividad){
            let cant_dangers = 0;
            Actividad.events.map(function(Event){
                cant_dangers = cant_dangers + Event.dangers.length;
            })
            console.log(cant_dangers)
            
            let type = "";
            let frequency = "";
            let genre = "";

            if(Actividad.type_activity == 1){ 
                type = "Rutinaria";
            }else{
                type = "No Rutinaria";
            }
    

            if(Actividad.frequency == 1){ 
                frequency = "Al menos 1 vez a la semana";
            }else if(Actividad.frequency==2){
                frequency = "Al menos 1 vez al mes";
            }else if(Actividad.frequency==3){
                frequency = "1 vez al mes";
            }else if(Actividad.frequency==4){
                frequency = "Por lo menos 1 vez al año";
            }else if(Actividad.frequency==5){
                frequency = "Esporádico";
            }else if(Actividad.frequency==6){
                frequency = "Permanente";
            }

            Actividad.genre.map(function(gen,index){
                console.log(index,gen)
                var gname = "";
                if(gen==1){
                    console.log("Masculino")
                    gname = "Masculino";
                }else{
                    console.log("Femenino")
                    gname = "Femenino";
                }

                if(index==0){
                    console.log("==0")
                    genre += gname ;
                }else{
                    console.log("!=0")
                    genre += ","+gname ;
                }

            })
            
            console.log(genre)

            let td_activity = `<tr style="text-align:center;vertical-align: middle;">
                                    <td style="border: 2px solid #000;" >${count}</td>
                                    <td rowspan="${cant_dangers}" style="border: 2px solid #000;" >${Actividad.descripcion}</td>
                                    <td rowspan="${cant_dangers}" style="border: 2px solid #000;" >${type}</td>
                                    <td rowspan="${cant_dangers}" style="border: 2px solid #000;" >${frequency}</td>
                                    <td rowspan="${cant_dangers}" style="border: 2px solid #000;" >${genre}</td>
                                    
                                `;
        
            /*Actividad.events.map(function(Event,indexevent){

                let cant_dangers_event = 0;
                cant_dangers_event = cant_dangers_event + Event.dangers.length;

                console.log(cant_dangers_event);
                let maqs = "-";
                Event.maqid.map(function(maq,imaq){
            
                    let maq_name = maquinasEquipos.filter(m=>m.Id==maq)[0].Description;
                    if(imaq==0){
                        maqs = maq_name
                    }else{
                        maqs += ","+maq_name
                    }
                    
                })

                let td_event = `<td rowspan="${cant_dangers_event}" style="border: 2px solid #000;" >${maqs}</td>
                                <td rowspan="${cant_dangers_event}" style="border: 2px solid #000;" >${Event.description}</td> `;

                Event.dangers.map(function(Peligro,indexpeligro){
                    let curPer = pericon.filter(per => per.Id == Peligro.dangerId);
                    
                    if(indexevent== 0 && indexpeligro == 0){
                        tab_text = tab_text + td_activity;
                        count++
                    }else{
                        tab_text = tab_text + `<tr style="text-align:center;vertical-align: middle;"><td style="border: 2px solid #000;" >${count}</td>`;
                        count++;
                    }

                    if(indexpeligro == 0){
                        tab_text = tab_text + td_event;
                    }
                
                    tab_text = tab_text + ` 
                    
                        <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >${curPer[0].Peligro}</td>
                        <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >${curPer[0].Riesgo}</td>
                        <td style="border: 2px solid #000;" bgcolor='#BFBFBF' >${curPer[0].Consecuencia}</td>`;
                        if(Peligro.evals.length>0){
                    
                            let Evaluacion = Peligro.evals[0];
                            let colorCatalogo = "";
                            if(Evaluacion.catalogo_riesgo=="Aceptable"){
                                colorCatalogo = "#D9E2C0";
                            }else if(Evaluacion.catalogo_riesgo=="Tolerable"){
                                colorCatalogo = "#4EAC5B";
                            }else if(Evaluacion.catalogo_riesgo=="Importante"){
                                colorCatalogo = "#F6C142";
                            }else if(Evaluacion.catalogo_riesgo=="Intolerable"){
                                colorCatalogo = "#EB3223";
                            }

                            let colorSignificancia = "";
                            if(Evaluacion.indice_riesgo >= 1 && Evaluacion.indice_riesgo <= 4){
                                colorSignificancia = "#4EAC5B";
                            }else{
                                colorSignificancia = "#EB3223";
                            }
                            //var epp_data = epp_array.filter(epp=>epp.Id == Evaluacion.epp);
                            
                            let epps = "-";
                            Evaluacion.epp.map(function(epp,iepp){
                        
                                let epp_name = epp_array.filter(m=>m.Id==epp)[0].Description;
                                if(iepp==0){
                                    epps = epp_name
                                }else{
                                    epps += ","+epp_name
                                }
                                
                            })

                            tab_text = tab_text + `<td colspan = "2" style="border: 2px solid #000;"  >${Evaluacion.control_fisico}</td>
                            <td style="border: 2px solid #000;"  >${Evaluacion.control_administrativo}</td>
                            <td style="border: 2px solid #000;"  >${epps}</td>
                            <td style="border: 2px solid #000;"  >${Evaluacion.probabilidad}</td>
                            <td style="border: 2px solid #000;"  >${Evaluacion.indice_severidad}</td>
                            <td style="border: 2px solid #000;"  >${Evaluacion.indice_riesgo}</td>
                            <td style="border: 2px solid #000;" bgcolor='${colorCatalogo}' >${Evaluacion.catalogo_riesgo}</td>
                            <td style="border: 2px solid #000;color: ${colorSignificancia}" >${Evaluacion.significancia}</td>`;

                        }else{
                            tab_text = tab_text + `<td colspan = "2" style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>`;
                        }
                        

                        if(Peligro.controls.length>0){
                    
                            let curPeligro = Peligro.controls[0];

                            var epp_data = epp_array.filter(epp=>epp.Id == curPeligro.epp);
                            
                            tab_text = tab_text + `<td style="border: 2px solid #000;"  >${curPeligro.eliminacion_riesgo}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.situacion}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.control_ingenieria}</td>
                            <td colspan = "2" style="border: 2px solid #000;"  >${curPeligro.control_administrativo}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.epp?epp_data[0].Description:"-"}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.probabilidad}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.indice_severidad}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.indice_riesgo}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.catalogo_riesgo}</td>
                            <td style="border: 2px solid #000;"  >${curPeligro.significancia}</td>`;

                        }else{

                            tab_text = tab_text + `<td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td colspan = "2" style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>
                            <td style="border: 2px solid #000;"  ></td>`;

                        }
                        

                    `</tr>
                    `;

                })
            })*/
        })


    tab_text = tab_text + `</table>`;

    tab_text = tab_text + `
        <table  cellpadding="0" cellspacing="0" id="sheet0" style="border-collapse: collapse;font-size:12px">
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan = "1" style="font-weight: bold;border-top: 2px solid black;border-left: 2px solid black;">Responsable de Matriz IPERC:</td>
                <td colspan = "4" style="font-weight: bold;border-top: 2px solid black;border-bottom: 2px dotted black;">${ipercSelected.DatosPrincipales.Nombre_Creador}</td>
                <td colspan = "1" style="font-weight: bold;border-top: 2px solid black;">Cargo:</td>
                <td colspan = "5" style="font-weight: bold;border-top: 2px solid black;border-bottom: 2px dotted black;"></td>
                <td colspan = "1" style="font-weight: bold;border-top: 2px solid black;">Firma:</td>
                <td colspan = "3" style="font-weight: bold;border-top: 2px solid black;border-bottom: 2px dotted black;border-right: 2px solid black;"></td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan = "15" style="font-weight: bold;border-right: 2px solid black;border-left: 2px solid black;">Participantes en la Identificación de Peligros Evaluación de Riesgos y Controles</td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan = "15" style="font-weight: bold;border-right: 2px solid black;border-left: 2px solid black;"></td>
            </tr>`;

            ipercSelected.DatosPrincipales.Responables.map(function(Responsable){

                tab_text = tab_text +`<tr>
                    <td>
                    </td>
                    <td colspan = "1" style="font-weight: bold;border-left: 2px solid black;">Nombre:</td>
                    <td colspan = "3" style="font-weight: bold;">${Responsable.Nombres}</td>
                    <td colspan = "1" style="font-weight: bold;">Cargo:</td>
                    <td colspan = "6" style="font-weight: bold;">${Responsable.Cargo}</td>
                    <td colspan = "1" style="font-weight: bold;">Firma:</td>
                    <td colspan = "3" style="font-weight: bold;border-right: 2px solid black;"></td>
                </tr>`;
            })

    tab_text = tab_text + ` 
        <tr>
            <td>
            </td>
            <td colspan = "15" style="font-weight: bold;border-right: 2px solid black;border-left: 2px solid black;border-bottom: 2px solid black"></td>
        </tr>
    </table>
    `;

    var countObj = 1;
    /*paObj[istAud].a.Objetivos.forEach(function(Item)
    {
        var rowObj='';
         rowObj=`<tr style="color: #fff;font-weight: bold;">
         <td bgcolor='#70AD47' colspan="59">Objetivo ${countObj}: ${Item.Objetivo_Name}</td>

       </tr>`

       Item.Actividades.forEach(function(Act) {
           var rowsAct = '';
           rowsAct =`<tr style="color: #000;">
           <td style="border: 1px solid #000;"> ${Act.Peso} %</td>
           <td colspan="2" style="border: 1px solid #000;"> ${Act.Actividad_Name}</td>
           <td style="border: 1px solid #000;">
           <table>
           <tr><td>P</td></tr>
           <tr><td>R</td></tr>
           </table>
           </td>`;
           Act.Cronogramas.forEach(function(fre) {
            var rowsFre = '';
            var rowsFre1 = '';
            var rowsFre2 = '';
            var rowsFre3 = '';
            var rowsFre4 = '';

               if(fre.Fecha_S1_Ini != null){
                rowsFre1=` <td style="border: 1px solid #000;">
                <table>
                <tr bgcolor='#223962'><td></td></tr>
                <tr><td></td></tr>
                </table>
                </td>` 
               }else{
                rowsFre1=` <td style="border: 1px solid #000;">
               <table>
               <tr><td></td></tr>
               <tr><td></td></tr>
               </table>
               </td>`   
               }
               rowsFre=rowsFre+rowsFre1;
               if(fre.Fecha_S2_Ini != null){
                rowsFre2=` <td style="border: 1px solid #000;">
                <table>
                <tr bgcolor='#223962'><td></td></tr>
                <tr><td></td></tr>
                </table>
                </td>` 
               }else{
                rowsFre2=` <td style="border: 1px solid #000;">
               <table>
               <tr><td></td></tr>
               <tr><td></td></tr>
               </table>
               </td>`   
               }
               rowsFre=rowsFre+rowsFre2;

               if(fre.Fecha_S3_Ini != null){
                rowsFre3=` <td style="border: 1px solid #000;">
                <table>
                <tr bgcolor='#223962'><td></td></tr>
                <tr><td></td></tr>
                </table>
                </td>` 
               }else{
                rowsFre3=` <td style="border: 1px solid #000;">
               <table>
               <tr><td></td></tr>
               <tr><td></td></tr>
               </table>
               </td>`   
               }
               rowsFre=rowsFre+rowsFre3;

               if(fre.Fecha_S4_Ini != null){
                rowsFre4=` <td style="border: 1px solid #000;">
                <table>
                <tr bgcolor='#223962'><td></td></tr>
                <tr><td></td></tr>
                </table>
                </td>` 
               }else{
                rowsFre4=` <td style="border: 1px solid #000;">
               <table>
               <tr><td></td></tr>
               <tr><td></td></tr>
               </table>
               </td>`   
               }
               rowsFre=rowsFre+rowsFre4;




               rowsAct=rowsAct+rowsFre; 


               
           })


           rowsAct=rowsAct+ `</tr>`;

         rowObj=rowObj+rowsAct;     
       })
       var countSubObj = 1;
       Item.SubObjetivos.forEach(function(ItemS)
        {
            var rowSObj='';
            rowSObj=`<tr style="color: #fff;font-weight: bold;">
            <td bgcolor='#70AD47' colspan="59">${countObj}.${countSubObj}: ${ItemS.SubObjetivo_Name}</td>

        </tr>`

        ItemS.Actividades.forEach(function(ActS) {
            var rowsActS = '';
            rowsActS =`<tr style="color: #000;">
            <td style="border: 1px solid #000;"> ${ActS.Peso} %</td>
            <td colspan="2" style="border: 1px solid #000;"> ${ActS.Actividad_Name}</td>
            <td style="border: 1px solid #000;">
            <table>
            <tr><td>P</td></tr>
            <tr><td>R</td></tr>
            </table>
            </td>`;

            
            
            rowsActS=rowsActS+ `</tr>`;
            rowSObj=rowSObj+rowsActS;     
        })
        

        countSubObj++;
        rowObj=rowObj+rowSObj;
        })


       countObj++;
        tab_text=tab_text+rowObj;
    })*/
    var namedoc = "Matriz IPERC "+ipercSelected.DatosPrincipales.Codigo;
    var uri = 'data:application/vnd.ms-excel;base64,'
    ,
    template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function (s) {
        return window.btoa(unescape(encodeURIComponent(s)))
    }
    , format = function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
            return c[p];
        })
    }
    var ctx = {worksheet: namedoc || 'Worksheet', table: tab_text}
    var a = document.createElement('a');
    a.href = uri + base64(format(template, ctx))
    a.download = namedoc+'.xls';
    //triggering the function
    a.click();


    /*var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE "); 

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
    {
        txtArea1.document.open("txt/html","replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus(); 
        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
    }  
    else                 //other browser not tested on IE 11
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

    return (sa);*/
}


</script>