<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<div class="container main-content">
  <div>
    <!-- Titulos  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="showIndexEC();" type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4ConfirmarCRUDEnfermedadCronica(1);"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Titulos  -->
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="" id="sp4EnferCron_dat_trab_nro" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="" id="sp4EnferCron_dat_trab_nombre" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="" id="sp4EnferCron_dat_trab_apellido" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de registro</span>
          <input id="sp4EnferCron_dat_trab_fecha_reg" class="submit" disabled>
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Edad</span>
          <input type="" id="sp4EnferCron_dat_trab_edad" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Grupo sanguineo</span>
          <select name="" id="sp4EnferCron_dat_trab_grupo_sanguineo" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de ingreso a TASA</span>
          <input id="sp4EnferCron_dat_trab_fi_tasa" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de retiro</span>
          <input id="sp4EnferCron_dat_trab_fr_tasa" class="submit" disabled>
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select class="submit" name="" id="sp4EnferCron_dat_trab_gerencia" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Planta</span>
          <select class="submit" name="" id="sp4EnferCron_dat_trab_planta" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select class="submit" name="" id="sp4EnferCron_dat_trab_area" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="" id="sp4EnferCron_dat_trab_ptrab_des" disabled>
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />                     
    <!-- Fila 3 fin -->
    <!-- Enfermedades crónicas  -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Enfermedades crónicas</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Nombre de la enfermedad</span>
          <input name="" id="sp4EnferCron_enfercro_nombre_enfermedad" class="submit">
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-box-secondary">
          <span>Fecha de registro</span>
          <input name="" id="sp4EnferCron_enfercro_fecha_reg" class="submit" disabled>
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Enfermedades crónicas fin -->
    <!-- Descansos médicos -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Descansos médicos</span>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="showGestionDescanso();"> 
          Agregar <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_des_med-count-row"></span> registros</span>
        </div>
      </div>           
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_des_med">
          <thead>
            <tr>
              <th>F. Inicio</th>
              <th>F. Fin</th>
              <th>Dias </th>
              <th>Dias acumulados</th>
              <th width="500px">Dias restantes</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_des_med">
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Descansos médicos fin -->
    <!-- Interconsulta -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Interconsulta</span>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="showGestionInterconsulta();"> 
          Agregar <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_intercon-count-row"></span> registros</span>
        </div>
      </div>           
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_intercon">
          <thead>
            <tr>
              <th>Codigo de interconsulta</th>
              <th>F. de emision</th>
              <th>Especialidad </th>
              <th>Recepcion de puestos</th>
              <th width="500px">Aptituds</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_intercon">
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Interconsulta fin -->
    <!-- Transferencia -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Transferencia</span>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="showGestionTransferencia();"> 
          Agregar <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_transferencia-count-row"></span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_transferencia">
          <thead>
            <tr>
              <th>Codigo de Transferencia</th>
              <th>F. de emision</th>
              <th>Especialidad </th>
              <th>Recepcion de puestos</th>
              <th width="500px">Aptituds</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_transferencia">
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Transferencia fin -->
    <!-- Comentarios -->
    <div class="row mb-5">
      <div class="p-2 mr-auto">
        <span class="titulo">Comentarios</span>
      </div>
    </div>
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="col-md-6 col-sm-6 p-2 mr-auto">
        <div class="input-box-secondary">
          <span>Comentario</span>
          <input type="" id="sp4EnferCron_comentario_com" class="check-comentario">
        </div>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4CRUDComentarioEnfermedadCronica(0, 0);"> 
          Agregar <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_comentario-count-row">0</span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_comentario">
          <thead>
            <tr>
              <th>Comentario</th>
              <th width="500px">Fecha de registro</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_comentario"> 
          </tbody>
        </table>
      </div>
    </div>    
    <!-- Comentarios fin -->  
  </div>
</div> 

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<script type="text/javascript">

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

//--------------------------VARIABLES GLOBALES------------------------------//

//var idHC_EC = 0;
//var paObj_ec = [];
//var pluck_ec = [];

//--------------------------FUNCIONES A TENER EN CUENTA------------------------------//
//--------------------------LLEVARAN MUCHA REVISION------------------------------//

function ecSp4cargarSelectEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#sp4EnferCron_dat_trab_area');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#sp4EnferCron_dat_trab_gerencia');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#sp4EnferCron_dat_trab_planta');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Grupos Sanguineo
  contenido = $('#sp4EnferCron_dat_trab_grupo_sanguineo');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["GrupoSanguineo"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarElementosDatosGeneralesEC(){  

  //$('#sp4EnferCron_enfercro_fecha_reg').val(cargarFechaHoy());

  let control;
  let control_contador = 0;
  let CantidadControlDescanso = 0;
  let ControlIteracionDescanso = false;

  //Elementos de la vista gestionEnfermedadCronica
  $('#sp4EnferCron_dat_trab_nro').val(paObj_ec[idHC].NroDocumento_Trabajador_H);
  $('#sp4EnferCron_dat_trab_nombre').val(paObj_ec[idHC].Nombres_Trabajador_H);
  $('#sp4EnferCron_dat_trab_apellido').val(paObj_ec[idHC].Apellidos_Trabajador_H);
  $('#sp4EnferCron_dat_trab_edad').val(paObj_ec[idHC].Edad_Trabajador_H);
  $('#sp4EnferCron_dat_trab_fecha_reg').val(new Date(paObj_ec[idHC].FechaRegistro_Trabajador_H).toLocaleDateString('en-GB').split('T')[0]);
  $('#sp4EnferCron_dat_trab_fi_tasa').val(new Date(paObj_ec[idHC].FechaIngresoTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  $("#sp4EnferCron_dat_trab_gerencia option[value='"+paObj_ec[idHC].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_planta option[value='"+paObj_ec[idHC].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#sp4EnferCron_dat_trab_area option[value='"+paObj_ec[idHC].AreaId_Empresa_H+"']").prop("selected",true);
  $('#sp4EnferCron_dat_trab_ptrab_des').val(paObj_ec[idHC].PuestoTrabajo_Empresa_H);

  $('#sp4EnferCron_enfercro_nombre_enfermedad').val(paObj_ec["EnfermedadesCronica"].NombreEnfermedad);
  $('#sp4EnferCron_enfercro_fecha_reg').val(new Date(paObj_ec["EnfermedadesCronica"].CreadoFecha).toLocaleDateString('en-GB').split('T')[0]);
  
  $("#sp4EnferCron_dat_trab_grupo_sanguineo option[value='"+paObj_ec[idHC].A_GrupoSanguineo+"']").prop("selected",true);
  //$('#sp4EnferCron_dat_trab_grupo_sanguineo').val(paObj_ec[idHC].GrupoSanguineoDescripcion);PENDIENTE
  
  if(paObj_ec[idHC].FechaRetiroTasa_H === undefined){
    $('#sp4EnferCron_dat_trab_fr_tasa').val('Sin fecha de registro');
  }
  else
  {
    $('#sp4EnferCron_dat_trab_fr_tasa').val(new Date(paObj_ec[idHC].FechaRetiroTasa_H).toLocaleDateString('en-GB').split('T')[0]);
  }

  //Elementos de la vista indexEC
  $('#nombre-trabajador').text(paObj_ec[idHC].Nombres_Trabajador_H+" "+paObj_ec[idHC].Apellidos_Trabajador_H);

  control_contador = 0;
  control = false;

  $("#table_sp4EnferCron_des_med tbody").find(".table-row").remove();

  if(Object.keys(paObj_ec["EnfermedadesCronica"].DescansoEC).length > 0){

    CantidadControlDescanso = Object.keys(paObj_ec["EnfermedadesCronica"].DescansoEC).length;
    ControlIteracionDescanso = false;

    $.each(paObj_ec["EnfermedadesCronica"].DescansoEC, function(index,accountObj){

      if( CantidadControlDescanso != (index+1)){

        if( accountObj.DescansoMedicoId != paObj_ec["EnfermedadesCronica"].DescansoEC[index+1].DescansoMedicoId ){
        
          ControlIteracionDescanso = true;            

        }

      }
      else
      {

        ControlIteracionDescanso = true;

      }

      if( ControlIteracionDescanso ){

        paObj_detalleDescanso[accountObj.DescansoMedicoId] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.B_FechaIni).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.B_FechaFin).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.B_CantidadDias;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.B_DiasAcumulados;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += ecSp4CalcularDiasRestantesDescansoMedicoEC( accountObj.B_FechaIni, accountObj.B_FechaFin );
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<div class='dropdown dropleft'>";
        html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>...</a>";
        html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
        html_tbody += "<a style='cursor: pointer;' title='Ver detalles' class='dropdown-item' onclick='ecSp4VerDetalleDescanso("+accountObj.DescansoMedicoId+");'>";
        html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
        html_tbody += "&nbsp;&nbsp; Ver detalle";
        html_tbody += "</a>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4CRUDEliminarDescansoMedicoEnfermedadCronica("+accountObj.HistoriaClinicaId+","+accountObj.DescansoMedicoId+");'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>"; 
        html_tbody += "&nbsp;&nbsp; Eliminar";
        html_tbody += "</a>";
        html_tbody += "</div>";
        html_tbody += "</div>";                 
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_sp4EnferCron_des_med tbody").append(html_tbody);
        control = true;
        control_contador++;
        ControlIteracionDescanso = false;

      }

      /*paObj_detalleDescanso[accountObj.DescansoMedicoId] = accountObj;

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.B_FechaIni).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.B_FechaFin).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.B_CantidadDias;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.B_DiasAcumulados;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += ecSp4CalcularDiasRestantesDescansoMedicoEC( accountObj.B_FechaIni, accountObj.B_FechaFin );
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += "<div class='dropdown dropleft'>";
      html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>...</a>";
      html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
      html_tbody += "<a style='cursor: pointer;' title='Ver detalles' class='dropdown-item' onclick='ecSp4VerDetalleDescanso("+accountObj.DescansoMedicoId+");'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver detalle";
      html_tbody += "</a>"; 
      html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4CRUDEliminarDescansoMedicoEnfermedadCronica("+accountObj.HistoriaClinicaId+","+accountObj.DescansoMedicoId+");'>";
      html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>"; 
      html_tbody += "&nbsp;&nbsp; Eliminar";
      html_tbody += "</a>";
      html_tbody += "</div>";
      html_tbody += "</div>";                 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_sp4EnferCron_des_med tbody").append(html_tbody);
      control = true;
      control_contador++;*/   

    });           
  
  } 

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='6' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_sp4EnferCron_des_med tbody").append(html_tbody);

  }

  $('#table_sp4EnferCron_des_med-count-row').text(control_contador);

  control_contador = 0;
  control = false;

  $("#table_sp4EnferCron_transferencia tbody").find(".table-row").remove();

  if(Object.keys(paObj_ec["EnfermedadesCronica"].TransferenciaEC).length > 0){

    control = false;

    $.each(paObj_ec["EnfermedadesCronica"].TransferenciaEC, function(index,accountObj){

      if( parseInt(accountObj.HistoriaClinicaId) != 0 ){

        paObj_detalleTransferencia[accountObj.TransferenciaId] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.A_CodeTransferencia;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.A_FechaTransferencia).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "Pendiente";
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "Pendiente";
        html_tbody += "</td>";
        html_tbody += "<td width='500px'>";
        html_tbody += "Pendiente";
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<div class='dropdown dropleft'>";
        html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>...</a>";
        html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
        html_tbody += "<a style='cursor: pointer;' title='Ver detalles' class='dropdown-item' onclick='ecSp4VerDetalleTransferencia("+accountObj.TransferenciaId+");'>";
        html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
        html_tbody += "&nbsp;&nbsp; Ver detalle";
        html_tbody += "</a>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4CRUDEliminarTransferenciaEnfermedadCronica("+accountObj.HistoriaClinicaId+","+accountObj.TransferenciaId+");'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>"; 
        html_tbody += "&nbsp;&nbsp; Eliminar";
        html_tbody += "</a>";
        html_tbody += "</div>";
        html_tbody += "</div>";                     
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_sp4EnferCron_transferencia tbody").append(html_tbody);
        control = true;
        control_contador++;

      }

    });         

  }

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='6' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_sp4EnferCron_transferencia tbody").append(html_tbody);

  } 

  $('#table_sp4EnferCron_transferencia-count-row').text(control_contador);

  control_contador = 0;
  control = false;

  $("#table_sp4EnferCron_intercon tbody").find(".table-row").remove();

  if(Object.keys(paObj_ec["EnfermedadesCronica"].InterconsultaEC).length > 0){

    control = false;

    $.each(paObj_ec["EnfermedadesCronica"].InterconsultaEC, function(index,accountObj){

      if( parseInt(accountObj.HistoriaClinicaId) != 0 ){

        paObj_detalleInterconsulta[accountObj.InterconsultaId] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.A_CodeInterconsulta;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.A_FechaInterconsulta).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";


        $.each(pluck_ec["Especialidades"], function(index,accountObjEspecialidades){

          if( parseInt(accountObjEspecialidades.Id) == parseInt(accountObj.A_InterEspecialidad) ){

            html_tbody += accountObjEspecialidades.Descripcion;

          }

        });  

        if(parseInt(accountObj.A_InterEspecialidad) == 0){

          html_tbody += "--";  

        } 

        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (parseInt(accountObj.B_RecibioRespuesta) == 1 ? 'Si' : 'No');
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (parseInt(accountObj.C_ActitupParaLaboral) == 1 ? "Apto" : "No Apto");
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<div class='dropdown dropleft'>";
        html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>...</a>";
        html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
        html_tbody += "<a style='cursor: pointer;' title='Ver detalles' class='dropdown-item' onclick='ecSp4VerDetalleInterconsulta("+accountObj.InterconsultaId+");'>";
        html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
        html_tbody += "&nbsp;&nbsp; Ver detalle";
        html_tbody += "</a>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4CRUDEliminarInterconsultaEnfermedadCronica("+accountObj.HistoriaClinicaId+","+accountObj.InterconsultaId+");'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>"; 
        html_tbody += "&nbsp;&nbsp; Eliminar";
        html_tbody += "</a>";
        html_tbody += "</div>";
        html_tbody += "</div>";                    
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_sp4EnferCron_intercon tbody").append(html_tbody);
        control = true;
        control_contador++;

      }

    });          

  }

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='6' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_sp4EnferCron_intercon tbody").append(html_tbody);

  } 

  $('#table_sp4EnferCron_intercon-count-row').text(control_contador); 

  control_contador = 0;
  control = false;

  $("#table_sp4EnferCron_comentario tbody").find(".table-row").remove();

  if(Object.keys(paObj_ec["EnfermedadesCronica"].ComentarioEC).length > 0){

    control = false;

    $.each(paObj_ec["EnfermedadesCronica"].ComentarioEC, function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += accountObj.Comentarios;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4CRUDComentarioEnfermedadCronica(1, "+accountObj.Id+");'>";
      html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
      html_tbody += "</a>";
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#table_sp4EnferCron_comentario tbody").append(html_tbody);
      control = true;
      control_contador++;

    });           

  } 

  if(!control){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='3' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#table_sp4EnferCron_comentario tbody").append(html_tbody);

  }

  $('#table_sp4EnferCron_comentario-count-row').text(control_contador); 

  control_contador = 0; 
  
}



function ecSp4cargarDatosGeneralesEC(Id_HC) {
  
  //Variable a consultar en la BD. Se consulta con el ID de la Historia Clínica
  idHC = Id_HC;
  
  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": idHC }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_ec[idHC] = response.HistoriaClin[0];

    //Se recorre el listado Áreas y se compara con el AreaId_Empresa_H del paObj_ec y se añade la descripción del área al objeto paObj_ec
    pluck_ec["Areas"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].AreaId_Empresa_H) {
        paObj_ec[idHC].AreaDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Gerencias y se compara con el GerenciaId_Empresa_H del paObj_ec y se añade la descripción de la gerencia al objeto paObj_ec
    pluck_ec["Gerencias"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].GerenciaId_Empresa_H) {
        paObj_ec[idHC].GerenciaDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    pluck_ec["Sedes"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].SedeId_Empresa_H) {
        paObj_ec[idHC].SedeDescripcion = Item.Description;
      }

    });

    //Se recorre el listado Sedes y se compara con el SedeId_Empresa_H del paObj_ec y se añade la descripción de la sede al objeto paObj_ec
    //PENDIENTE
    /*pluck_ec["GrupoSanguineo"].forEach((Item) => {

      if (Item.Id == paObj_ec[idHC].A_GrupoSanguineo) {
        paObj_ec[idHC].GrupoSanguineoDescripcion = Item.Descripcion;alert(paObj_ec[idHC].GrupoSanguineoDescripcion);
      }

    });*/

    //Se cargan los elementos de la vista con la data obtenida
    ecSp4cargarElementosDatosGeneralesEC();

  });

}


function ecSp4CargarDetalleEnfermedadesId(Id_EC) {

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=DatosEnfermedadCronica`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "Id": Id_EC }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    paObj_ec["EnfermedadesCronica"] = response;
    paObj_detalle["Descanso"] = response.DescansoEC;
    paObj_detalle["Interconsulta"] = response.InterconsultaEC;
    paObj_detalle["Transferencia"] = response.TransferenciaEC;
    paObj_detalle["Comentario"] = response.ComentarioEC;
console.log('Objeto EnfermedadesCronica desde detalle: '+ JSON.stringify(paObj_ec["EnfermedadesCronica"]));
    console.log('Objeto Descanso: '+ JSON.stringify(paObj_ec["EnfermedadesCronica"].DescansoEC));
    console.log('Objeto Interconsulta: '+ JSON.stringify(paObj_ec["EnfermedadesCronica"].InterconsultaEC));
    console.log('Objeto Transferencia: '+ JSON.stringify(paObj_ec["EnfermedadesCronica"].TransferenciaEC));

  });

}


async function _init_ecSp4EditarEnfermedadesCronicas(Id_HC) {

  //Se inicia el Cargando
  showLoading();

  await ecSp4CargaSedesAreasGerenciasEnfermedadesCronicas();
  await ecSp4CargarGruposSanguineoEnfermedadesCronicas();
  await ecSp4cargarSelectEnfermedadesCronicas();
  await ecSp4CargarDetalleEnfermedadesId(idEC); 
  await ecSp4cargarDatosGeneralesEC(Id_HC); 
  
  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  $(".table-container").on('click',".btn-delete", onBtnDeleteRow);

  //Se inicializan las variables de control y temporales
  //idTemporalInterconsulta = 0;
  //idTemporalTransferencia = 0;
  //idTemporalDescanso = 0;

  //Aca se asigna una idTemporalEC segun la variable idEC (que viene de la vista indexec.html)
  //Para que al guardar guarde sobre ese Id
  idTemporalEC = idEC;

  //Aca se asigna un control para verificar que esta en editar y asi poder manipular o no ciertos campos
  ingresoControl = true;

  ControlDetalleOrigen = 3;

  //Se inicializa la vista  
  _init_ecSp4EditarEnfermedadesCronicas(idHC);


});

</script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>