<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<div class="container main-content">
  <div>
    <!-- Transferencia  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Transferencia</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="amSp4RetornarGestionEditarEnfermedadCronica();" type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4ConfirmarCRUDTransferenciaEC(1);"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="" id="sp4EnferCron_transf_empresa" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de Transferencia</span>
          <input type="date" name="" id="sp4EnferCron_transf_fecha" readonly="true">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Dirección del trabajador</span>
          <input type="" id="sp4EnferCron_transf_dir" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Teléfono</span>
          <input type="" id="sp4EnferCron_transf_tlf" class="submit">
        </div>
      </div>
      <div class="col-md-9 col-sm-6">
        <div class="input-box-secondary">
          <span>Anamnesis</span>
          <input type="" id="sp4EnferCron_transf_anamnesis" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <hr class="mb-5 mt-4" />
    <!-- Transferencia  -->    
    <!-- Funciones vitales-->
    <div class="row mb-5 align-items-center">
      <div class="col-md-12">
        <span class="titulo">Signos vitales</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/arterial.svg" width="20px">
           <span>Presión arterial (mmHg)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_presion_arterial_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/cardiaca.svg" width="20px">
           <span>Frecuencia cardiaca  (LPM)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_frecuencia_cardiaca_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/respiratoria.svg" width="20px">
          <span>Frecuencia respiratoria (RPM)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_frecuencia_respiratoria_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/temperatura.svg" style="left: 30px" width="20px">
          <span>Temperatura (°C)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_temperatura_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/peso.svg" width="20px">
          <span>Peso (Kg)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_peso_sv" onchange="imc('dat_hc_peso_sv', 'dat_hc_talla_sv', 'dat_hc_masa_corporal_sv');" >
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/talla.svg" style="left: 30px" width="20px">
         <span>Talla (m)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_talla_sv" onchange="imc('dat_hc_peso_sv', 'dat_hc_talla_sv', 'dat_hc_masa_corporal_sv');">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/saturacion.svg" width="20px">
          <span>Saturación (%)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_saturacion_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/corporal.svg" width="20px">
          <span>Índice de masa corporal <br/> (Peso/Talla&#178;)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_masa_corporal_sv" readonly="true">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/abdominal.svg" width="20px">
          <span>Perímetro abdominal (cm)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="dat_hc_perimetro_abdominal_sv">
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" /> 
    <!-- Fila 3 -->
    <!-- Funciones vitales-->
    <!-- Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>Diagnóstico</span>
            <div class="dropdown" id='listaResultado_INT'>
              <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4EnferCron_transf_diagCIE10_diag"
               onkeyup="_newDiagnosticoCIE10('sp4EnferCron_transf_diagCIE10_diag', 'listaResultadoHijos_TRAN', 'sp4EnferCron_transf_diagCIE10_cie10', 'dat_amT_cie_diagnostico1');" 
               style='background:white; border:1px solid; color:black;'>              
              <div class="dropdown-menu show" id='listaResultadoHijos_TRAN' style="display:none; ">                
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>CIE 10</span>
          <div class="dropdown" id='listaResultado_ii_INT'>
            <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4EnferCron_transf_diagCIE10_cie10"
             onkeyup="_newDiagnosticoCIE102('sp4EnferCron_transf_diagCIE10_cie10', 'listaResultadoHijos2_TRAN', 'sp4EnferCron_transf_diagCIE10_diag', 'dat_amT_cie_diagnostico1');" 
             style='background:white; border:1px solid; color:black;'>
            <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">              
            </div>
          </div> 
          <input class="input_am_diagnostico" type="hidden" id="dat_amT_cie_diagnostico1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_sistema_afectado" class="select-diagnosticocie10">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_seccion_afectada" class="select-diagnosticocie10">
          </select>
        </div>
      </div>
    </div>    
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4GuardarDiagnosticoCI10TransferenciaEnfermedadCronica(idTemporalTransferencia,1);"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_transf_diagCIE10-count-row">1</span> registros</span>
        </div>
      </div>           
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_transf_diagCIE10">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_transf_diagCIE10">
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_trat" class="submit">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Motivo de transferencia</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_motivo" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Hora de atención del D.S.O.</span>
          <input type="time" id="sp4EnferCron_transf_diagCIE10_hora_dso" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Hora de evaluación</span>
          <input type="time" id="sp4EnferCron_transf_diagCIE10_hora_eval" class="submit">
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />     
    <!-- Diagnostico CIE10 fin -->
    <!-- Respuesta de transferencia - Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Respuesta de transferencia - Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>Diagnóstico</span>
            <div class="dropdown" id='listaResultado_INT'>
              <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-resp-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4EnferCron_transf_diagCIE10_diag2"
               onkeyup="_newDiagnosticoCIE10('sp4EnferCron_transf_diagCIE10_diag2', 'listaResultadoHijos_TRAN2', 'sp4EnferCron_transf_diagCIE10_cie102', 'dat_amT_cie_diagnostico2');" 
               style='background:white; border:1px solid; color:black;'>              
              <div class="dropdown-menu show" id='listaResultadoHijos_TRAN2' style="display:none; ">                
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>CIE 10</span>
          <div class="dropdown" id='listaResultado_ii_INT'>
            <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-resp-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4EnferCron_transf_diagCIE10_cie102"
             onkeyup="_newDiagnosticoCIE102('sp4EnferCron_transf_diagCIE10_cie102', 'listaResultadoHijos2_TRAN2', 'sp4EnferCron_transf_diagCIE10_diag2', 'dat_amT_cie_diagnostico2');" 
             style='background:white; border:1px solid; color:black;'>
            <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">              
            </div>
          </div> 
          <input class="input_am_diagnostico" type="hidden" id="dat_amT_cie_diagnostico2">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_sistema_afectado_respuesta" class="select-diagnosticocie10-resp">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_seccion_afectada_respuesta" class="select-diagnosticocie10-resp">
            <option value="" selected="" disabled=""></option>
          </select>
        </div>
      </div>
    </div>  
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4GuardarDiagnosticoCI10TransferenciaEnfermedadCronica(idTemporalTransferencia,2);"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_transf_diagCIE102-count-row">2</span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_transf_diagCIE102">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_transf_diagCIE102">
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_trat2" class="submit">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Recibido por</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_recibido2" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Lugar de destino</span>
          <input type="" id="sp4EnferCron_transf_diagCIE10_luga_des2" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha</span>
          <input type="date" id="sp4EnferCron_transf_diagCIE10_fecha2" class="submit">
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12 mb-5 mt-3">
        <span class="titulo">Adjuntar archivos</span>
      </div>       
      <div class="col-md-12">
        <div class="input_file_upload border-content">
          <label class="btn btn-success btn-lg" for="file_upload_descanso">
            <div class="spinner-border spinner-border-sm" id="am_spin_guardar_adjunto_descanso" role="status" style="display: none">
              <span class="sr-only">Loading...</span>
            </div>
            <span> Subir archivo </span>
            <img src="./images/sho/upload.svg" style="width:14px !important" />
          </label>
          <input type="file" id="file_upload_descanso" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="amSp4CapturarAdjuntoTransferenciaEnfermedadCronica(this,idTemporalTransferencia);">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_adjunto_transferencia-count-row">0</span> registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box table-container" id="table_adjunto_transferencia">
            <thead>
              <tr>
                <th style="width: 300px">Nombre del archivo</th>
                <th>Fecha de carga</th>
                <th>
                  <!--<div class="spinner-border spinner-border-sm float-right" id="am_spin_descanso" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                  </div>-->
                </th>
              </tr>
            </thead>
            <tbody id="content_am_adjunto_descanso">
            </tbody>
          </table>
        </div>
        <div id="info_table_content_am_adjunto_descanso">
        </div>
      </div>
    </div>   
    <!-- Respuesta de transferencia a Diagnostico CIE10 fin -->
  </div>
</div> 

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/enfermedades_cronicas/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
  
$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var paObj_descargarAdjunto = [];

function downloadBlob(blob, filename){

  if(window.navigator.msSaveOrOpenBlob) {
      window.navigator.msSaveBlob(blob, filename);
  } else {
      var elem = window.document.createElement('a');
      elem.href = window.URL.createObjectURL(blob);
      elem.download = filename;
      document.body.appendChild(elem);
      elem.click();
      document.body.removeChild(elem);
  }

}

function fnSp4descargarPrimerAdjuntoTransferenciaEC(indexObj)
{
  
  url = paObj_descargarAdjunto[indexObj].ArchivoBase64;

  fetch(url)
  .then(res => res.blob())
  .then(function(blob) {
    downloadBlob(blob, paObj_descargarAdjunto[indexObj].NombreArchivo);
  });
    
}

function ecSp4cargarAdjuntoTransferenciaEnfermedadCronica(IdTransferencia){

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_011_transferencias_adjunto?code=sRis0xUMFlJMZaBlT/ivHAzwTAjZtvY4ToxBzbY/qhTmFqj6eAV0bA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdTransferencias": IdTransferencia }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    $('#table_adjunto_transferencia').find('.table-empty').remove();
    $('#table_adjunto_transferencia').find('.table-row').remove();

    if(Object.keys(response.AdjuntoTransferencia).length > 0){  

      $.each(response.AdjuntoTransferencia, function(index,accountObj){

        paObj_descargarAdjunto[index] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.NombreArchivo;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right btn-delete'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/delete.svg' alt='' fill='#ff3636' width='16px' onclick = 'amSp4EliminarAdjuntoTransferenciaEnfermedadCronica("+IdTransferencia+","+accountObj.Id+")' title='Eliminar Adjunto'>";
        html_tbody += "</button>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarPrimerAdjuntoTransferenciaEC("+index+");' title='Descargar Adjunto'>";
        html_tbody += "</button>"; 
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_adjunto_transferencia tbody").append(html_tbody);

      });

    }
    else{

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_transferencia tbody").append(html_tbody);

    }

    $("#table_adjunto_transferencia-count-row").text($("#table_adjunto_transferencia tr.table-row").length);

  });

}

function ecSp4cargarSelectTransferenciaEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de sistemas afectados
  contenido = $('#dat_sistema_afectado');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada
  contenido = $('#dat_seccion_afectada');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de sistemas afectados respuesta
  contenido = $('#dat_sistema_afectado_respuesta');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada respuesta
  contenido = $('#dat_seccion_afectada_respuesta');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarDatosGeneralesEC(){

  $('#sp4EnferCron_transf_fecha').val(cargarFechaHoy());

  $("#table_sp4EnferCron_transf_diagCIE10-count-row").text($("#table_sp4EnferCron_transf_diagCIE10 tr.table-row").length);

  if( $("#table_sp4EnferCron_transf_diagCIE10 tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_transf_diagCIE10 tbody").append(html_tbody);

  }

  $("#table_sp4EnferCron_transf_diagCIE102-count-row").text($("#table_sp4EnferCron_transf_diagCIE102 tr.table-row").length);

  if( $("#table_sp4EnferCron_transf_diagCIE102 tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_transf_diagCIE102 tbody").append(html_tbody);

  }

  $("#table_adjunto_transferencia-count-row").text($("#table_adjunto_transferencia tr.table-row").length);

  if( $("#table_adjunto_transferencia tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_transferencia tbody").append(html_tbody);

  }

}

function ecSp4cargarDiagnosticoTransferenciaEnfermedadCronica(IdTransferencia){  

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_012_transferencias_diagnosticoCIE10?code=jA5JxNQ5TLOIh7XVO2LxA/NGHkYdJlDHhus6r44G4oy208ouX1y7UA==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "TransferenciaId": IdTransferencia }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    let html_tbody = '';

    $('#table_sp4EnferCron_transf_diagCIE10').find('.table-empty').remove();
    $('#table_sp4EnferCron_transf_diagCIE10').find('.table-row').remove();

    $('#table_sp4EnferCron_transf_diagCIE102').find('.table-empty').remove();
    $('#table_sp4EnferCron_transf_diagCIE102').find('.table-row').remove();

    if(Object.keys(response.DiagnosticoCIE).length > 0){  

      $.each(response.DiagnosticoCIE, function(index,accountObj){

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.Diagnostico;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Code;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Especilidades;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (accountObj.SistemaAfectado_D == null) ? '--' : accountObj.SistemaAfectado_D;
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += (accountObj.SeccionAfectada_D == null) ? '--' : accountObj.SeccionAfectada_D;                   
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4EliminarDiagnosticoCI10TransferenciaEnfermedadCronica("+IdTransferencia+","+accountObj.Id+","+accountObj.TransferenciaId+")'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
        html_tbody += "</a>";                
        html_tbody += "</td>";
        html_tbody += "</tr>";

        if( parseInt(accountObj.TransferenciaId) == 0 ){

          $("#table_sp4EnferCron_transf_diagCIE102 tbody").append(html_tbody);

        }else{

          $("#table_sp4EnferCron_transf_diagCIE10 tbody").append(html_tbody);

        }      

      });

    }

    $("#table_sp4EnferCron_transf_diagCIE10-count-row").text($("#table_sp4EnferCron_transf_diagCIE10 tr.table-row").length);
    $("#table_sp4EnferCron_transf_diagCIE102-count-row").text($("#table_sp4EnferCron_transf_diagCIE102 tr.table-row").length);

    if( $("#table_sp4EnferCron_transf_diagCIE10 tr.table-row").length == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_transf_diagCIE10 tbody").append(html_tbody);

    }

    if( $("#table_sp4EnferCron_transf_diagCIE102 tr.table-row").length == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_transf_diagCIE102 tbody").append(html_tbody);

    }

  });

}

async function _init_ecSp4TransferenciaEnfermedadesCronicas() {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectado();
  await ecSp4cargarSeccionAfectada();
  await ecSp4cargarSelectTransferenciaEnfermedadesCronicas();
  await ecSp4cargarDatosGeneralesEC(); 
  await amSp4GuardarEditarTransferenciaEnfermedadCronica(0); 

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  _init_ecSp4TransferenciaEnfermedadesCronicas();

  /*$('#sp4EnferCron_transf_funciones_pesokg').mask("000.0", {reverse: true, placeholder: "00.0 Kg"});
  $('#sp4EnferCron_transf_funciones_temp').mask("00.0", {reverse: true, placeholder: "00.0 °C"});
  $('#sp4EnferCron_transf_funciones_sat').mask("000", {placeholder: "0"});
  $('#sp4EnferCron_transf_funciones_masa').mask("00.0", {reverse: true, placeholder: "00.0 IMC"});
  $('#sp4EnferCron_transf_funciones_talla').mask("0.00", {reverse: true, placeholder: "0.00 M"});
  $('#sp4EnferCron_transf_funciones_perimetro').mask("000.0", {reverse: true, placeholder: "00.0 Cm"});
  $('#sp4EnferCron_transf_funciones_fr').mask("000", {placeholder: "0"});
  $('#sp4EnferCron_transf_funciones_fc').mask("000", {placeholder: "0"});  
  $('#sp4EnferCron_transf_funciones_pa').mask("000/00", {reverse: true, placeholder: "00/00"});*/

  $('.table-container').on('click',".btn-delete", onBtnDeleteRow);




});

</script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
