<!-- Boostrap multiselect -->
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="./view/sho-hce/enfermedades_cronicas/css/sho.css">

<div class="container main-content">
  <div>
    <!-- Interconsulta  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Interconsulta</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="amSp4RetornarGestionEditarEnfermedadCronica();" type="button" class="btn btn-danger btn-block btn-lg" id=""> Cancelar <img src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4ConfirmarCRUDInterconsultaEC(1);"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="" id="dat_empresa" class="submit" >
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de Interconsulta</span>
          <input type="date" name="" id="dat_fecha_interconsulta" class="submit" disabled>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-box-secondary">
          <span>Interconsulta a la especialidad de</span>
          <select id="dat_especialidad" class="submit">
          </select>
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Motivo de Interconsulta</span>
          <input type="" id="dat_motivo" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Se solicita</span>
          <input name="" id="dat_se_solicita" class="submit">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Otros</span>
          <input name="" id="dat_otros" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <!-- Fila 4 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico a cargo</span>
          <input name="" id="dat_medico_cargo" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input name="" id="dat_cmp" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 4 fin -->
    <div class="row mb-5">
      <div class="col-md-12 mb-5 mt-3">
        <span class="titulo">Adjuntar archivos</span>
      </div>       
      <div class="col-md-12">
        <div class="input_file_upload border-content">
          <label class="btn btn-success btn-lg" for="file_upload_descanso">
            <div class="spinner-border spinner-border-sm" id="am_spin_guardar_adjunto_descanso" role="status" style="display: none">
              <span class="sr-only">Loading...</span>
            </div>
            <span> Subir archivo </span>
            <img src="./images/sho/upload.svg" style="width:14px !important" />
          </label>
          <input type="file" id="file_upload_descanso" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="amSp4CapturarAdjuntoInterconsultaEnfermedadCronica(this,idTemporalInterconsulta,0);">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_adjunto_interconsulta-primera-count-row">0</span> registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box table-container" id="table_adjunto_interconsulta-primera">
            <thead>
              <tr>
                <th style="width: 300px">Nombre del archivo</th>
                <th>Fecha de carga</th>
                <th>
                  <!--<div class="spinner-border spinner-border-sm float-right" id="am_spin_descanso" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                  </div>-->
                </th>
              </tr>
            </thead>
            <tbody >
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <!-- Interconsulta  -->
    <!-- Respuesta a interconsulta  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Respuesta a interconsulta</span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Institución de salud</span>
          <input type="" id="dat_institucion_salud" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="input-box-secondary">
          <span>Fecha de respuesta</span>
          <input type="date" name="" id="dat_fecha_respuesta" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 offset-md-3">
        <div class="input-box-secondary pb-3">
          <span>¿Recibio respuesta?</span>
        </div>
          <input type="radio" name="dat_recibio_respuesta" id="dat_recibio_respuesta_si" value="1" checked>
          <label class="mr-5" for="dat_recibio_respuesta_si">Si</label>
          <input type="radio" name="dat_recibio_respuesta" id="dat_recibio_respuesta_no" value="0">
          <label class="mr-5" for="dat_recibio_respuesta_no">No</label>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Hallazgos de evaluación</span>
          <input type="" id="dat_hallazgo" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Examenes auxiliares</span>
          <input type="" id="dat_examenes_auxiliares" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <hr class="mb-5 mt-4" />
    <!-- Respuesta a interconsulta  -->
    <!-- Diagnostico CIE10 -->
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-12">
        <span class="titulo">Diagnostico CIE10</span>
      </div>
    </div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>Diagnóstico</span>
            <div class="dropdown" id='listaResultado_INT'>
              <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4EnferCron_intercon_diagCIE10_diag"
               onkeyup="_newDiagnosticoCIE10('sp4EnferCron_intercon_diagCIE10_diag', 'listaResultadoHijos_TRAN', 'sp4EnferCron_intercon_diagCIE10_cie10', 'dat_amT_cie_diagnostico1');" 
               style='background:white; border:1px solid; color:black;'>              
              <div class="dropdown-menu show" id='listaResultadoHijos_TRAN' style="display:none; ">                
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary ">
          <span>CIE 10</span>
          <div class="dropdown" id='listaResultado_ii_INT'>
            <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4EnferCron_intercon_diagCIE10_cie10"
             onkeyup="_newDiagnosticoCIE102('sp4EnferCron_intercon_diagCIE10_cie10', 'listaResultadoHijos2_TRAN', 'sp4EnferCron_intercon_diagCIE10_diag', 'dat_amT_cie_diagnostico1');" 
             style='background:white; border:1px solid; color:black;'>
            <div class="dropdown-menu show" id='listaResultadoHijos2_TRAN' style="display:none; ">              
            </div>
          </div> 
          <input class="input_am_diagnostico" type="hidden" id="dat_amT_cie_diagnostico1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select name="" id="dat_sistema_afectado" class="select-diagnosticocie10">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select name="" id="dat_seccion_afectada" class="select-diagnosticocie10">
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-5 d-flex justify-content-end ">
      <div class="col-md-3 col-sm-6">
          <button type="button" class="btn btn-success btn-block btn-lg" onclick="amSp4GuardarDiagnosticoCI10InterconsultaEnfermedadCronica(idTemporalInterconsulta);"> 
            Agregar a la lista 
            <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>
    <div class="row mb-5">
      <!-- Nro de registros -->
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_sp4EnferCron_intercon_diagCIE10-count-row"></span> registros</span>
        </div>
      </div>             
      <div class="table-responsive">
        <table class="table-box table-container" id="table_sp4EnferCron_intercon_diagCIE10">
          <thead>
            <tr>
              <th>Diagnóstico </th>
              <th>CI10</th>
              <th>Fecha de registro</th>
              <th>Especialidad</th>
              <th>Sistema afectado</th>
              <th width="500px">Seccion afectada</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="content_sp4EnferCron_intercon_diagCIE10"> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="" id="dat_tratamiento" class="submit">
        </div>
      </div>
    </div> 
    <!-- Diagnostico CIE10 fin -->
    <!-- Recomendaciones  -->
    <div class="row mb-5 d-flex justify-content-between align-items-center">
      <div class="p-2 mr-auto">
        <span class="titulo">Recomendaciones</span>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="input-box-secondary">
          <span>Recomendaciones</span>
          <input type="" id="dat_recomendaciones" placeholder="Escribir" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 1 fin -->
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary p-3">
          <span>¿Requiere de controles posteriores?</span>
        </div>
          <input type="radio" name="dat_requiere_control_posterior" id="dat_requiere_control_posterior_si" value="1" checked>
          <label class="mr-5" for="dat_requiere_control_posterior_si">Si</label>
          <input type="radio" name="dat_requiere_control_posterior" id="dat_requiere_control_posterior_no" value="0">
          <label class="mr-5" for="dat_requiere_control_posterior_no">No</label>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary p-3">
          <span>Aptitud para laborar en ocupación y aptitud indicada (Sólo para Médicos)</span>
        </div>
          <input type="radio" name="dat_aptitud" id="dat_aptitud_si" value="1" checked>
          <label class="mr-5" for="dat_aptitud_si">Si</label>
          <input type="radio" name="dat_aptitud" id="dat_aptitud_no" value="0">
          <label class="mr-5" for="dat_aptitud_no">No</label>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span> Fecha de proximo control</span>
          <input type="date" id="dat_fecha_proximo_control" class="submit">
        </div>
      </div>
    </div>                    
    <!-- Fila 2 fin -->
    <!-- Fila 3 -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico / Evaluador</span>
          <input type="" id="dat_medico_evaluador" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input type="" id="dat_cmp_recomendaciones" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>R.N.E.</span>
          <input type="" id="dat_rne" class="submit">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Otro</span>
          <input type="" id="dat_otros_recomendaciones" class="submit">
        </div>
      </div>
    </div>
    <!-- Fila 3 fin -->
    <div class="row mt-3">
      <div class="col-md-12 mb-5 mt-3">
        <span class="titulo">Adjuntar archivos</span>
      </div>       
      <div class="col-md-12">
        <div class="input_file_upload border-content">
          <label class="btn btn-success btn-lg" for="file_upload_descanso2">
            <div class="spinner-border spinner-border-sm" id="am_spin_guardar_adjunto_descanso" role="status" style="display: none">
              <span class="sr-only">Loading...</span>
            </div>
            <span> Subir archivo </span>
            <img src="./images/sho/upload.svg" style="width:14px !important" />
          </label>
          <input type="file" id="file_upload_descanso2" accept="application/pdf, .pdf, .doc, docx, .odf" onchange="amSp4CapturarAdjuntoInterconsultaEnfermedadCronica(this,idTemporalInterconsulta,1);">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="table_adjunto_interconsulta-segunda-count-row">0</span> registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box table-container" id="table_adjunto_interconsulta-segunda">
            <thead>
              <tr>
                <th style="width: 300px">Nombre del archivo</th>
                <th>Fecha de carga</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
    <!-- Recomendaciones  -->
  </div>
</div> 

<script src="./view/sho-hce/enfermedades_cronicas/js/main.js"></script>

<!-- Boostrap multiselect -->
<script type="text/javascript" src="./view/sho-hce/enfermedades_cronicas/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
  
$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

var paObj_descargarAdjunto = [];

function downloadBlob(blob, filename){

  if(window.navigator.msSaveOrOpenBlob) {
      window.navigator.msSaveBlob(blob, filename);
  } else {
      var elem = window.document.createElement('a');
      elem.href = window.URL.createObjectURL(blob);
      elem.download = filename;
      document.body.appendChild(elem);
      elem.click();
      document.body.removeChild(elem);
  }

}

function fnSp4descargarPrimerAdjuntoInterconsultaEC(indexObj)
{
  
  url = paObj_descargarAdjunto[indexObj].ArchivoBase64;

  fetch(url)
  .then(res => res.blob())
  .then(function(blob) {
    downloadBlob(blob, paObj_descargarAdjunto[indexObj].NombreArchivo);
  });
    
}

function ecSp4cargarAdjuntoInterconsultaEnfermedadCronica(IdInterconsulta){

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_007_interconsulta_adjunto?code=VW1N50nYYj56xAlct5Jbn8Isl6loYB7pCaMEvYb3dB8aPBr/NMcgGg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "InterConsultaId": IdInterconsulta }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    $('#table_adjunto_interconsulta-primera').find('.table-empty').remove();
    $('#table_adjunto_interconsulta-primera').find('.table-row').remove();

    $('#table_adjunto_interconsulta-segunda').find('.table-empty').remove();
    $('#table_adjunto_interconsulta-segunda').find('.table-row').remove();


    if(Object.keys(response.AdjuntoInterconsult).length > 0){  

      $.each(response.AdjuntoInterconsult, function(index,accountObj){

        paObj_descargarAdjunto[index] = accountObj;

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.NombreArchivo;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";     
        html_tbody += "<td>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right btn-delete'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/delete.svg' alt='' fill='#ff3636' width='16px' onclick = 'amSp4EliminarAdjuntoInterconsultaEnfermedadCronica("+IdInterconsulta+","+accountObj.Id+")' title='Eliminar Adjunto'>";
        html_tbody += "</button>";
        html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
        html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarPrimerAdjuntoInterconsultaEC("+index+");' title='Descargar Adjunto'>";      
        html_tbody += "</button>";  
        html_tbody += "</td>";
        html_tbody += "</tr>";

        if( parseInt(accountObj.parteFormulario) == 0 ){

          $("#table_adjunto_interconsulta-primera tbody").append(html_tbody);

        }else{

          $("#table_adjunto_interconsulta-segunda tbody").append(html_tbody);

        }      

      });

    }

    $("#table_adjunto_interconsulta-primera-count-row").text($("#table_adjunto_interconsulta-primera tr.table-row").length);
    $("#table_adjunto_interconsulta-segunda-count-row").text($("#table_adjunto_interconsulta-segunda tr.table-row").length);

    if( $("#table_adjunto_interconsulta-primera tr.table-row").length == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_interconsulta-primera tbody").append(html_tbody);

    }

    if( $("#table_adjunto_interconsulta-segunda tr.table-row").length == 0 ){

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='3' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_interconsulta-segunda tbody").append(html_tbody);

    }

  });

}

function ecSp4cargarSelectInterconsultaEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de especialidades
  contenido = $('#dat_especialidad');
  contenido.append(`<option value="" selected></option>`);

  pluck_ec["Especialidades"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de sistemas afectados
  contenido = $('#dat_sistema_afectado');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SistemaAfectado"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

  //Cargando Select de seccion afectada
  contenido = $('#dat_seccion_afectada');
  contenido.append(`<option value="0" selected></option>`);

  pluck_ec["SeccionAfectada"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarDatosGeneralesEC(){

  $('#dat_fecha_interconsulta').val(cargarFechaHoy());

  $("#table_sp4EnferCron_intercon_diagCIE10-count-row").text($("#table_sp4EnferCron_intercon_diagCIE10 tr.table-row").length);

  if( $("#table_sp4EnferCron_intercon_diagCIE10 tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_intercon_diagCIE10 tbody").append(html_tbody);

  }

  $("#table_adjunto_interconsulta-primera-count-row").text($("#table_adjunto_interconsulta-primera tr.table-row").length);

  if( $("#table_adjunto_interconsulta-primera tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_interconsulta-primera tbody").append(html_tbody);

  }

  $("#table_adjunto_interconsulta-segunda-count-row").text($("#table_adjunto_interconsulta-segunda tr.table-row").length);

  if( $("#table_adjunto_interconsulta-segunda tr.table-row").length == 0){

    let html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_adjunto_interconsulta-segunda tbody").append(html_tbody);

  }

}

function ecSp4cargarDiagnosticoInterconsultaEnfermedadCronica(IdInterconsulta){  

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_008_interconsulta_diagnosticoCIE10?code=mPgaeW14i/taia4aCEaauWCIBcSohTnpYgXAi9fY6mHp0OFyqV4rfQ==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "InterConsultaId": IdInterconsulta }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida

    let html_tbody = '';

    $('#table_sp4EnferCron_intercon_diagCIE10').find('.table-empty').remove();
    $('#table_sp4EnferCron_intercon_diagCIE10').find('.table-row').remove();
  
    if(Object.keys(response.DiagnosticoCIE).length > 0){  

      $.each(response.DiagnosticoCIE, function(index,accountObj){

        html_tbody = "<tr class='table-row'>";
        html_tbody += "<td>";
        html_tbody += accountObj.Diagnostico;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Code;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += accountObj.Especilidades;
        html_tbody += "</td>";
        html_tbody += "<td>";
        html_tbody += (accountObj.SistemaAfectado_D == null) ? '--' : accountObj.SistemaAfectado_D;
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += (accountObj.SeccionAfectada_D == null) ? '--' : accountObj.SeccionAfectada_D;               
        html_tbody += "</td>";
        html_tbody += "<td>"; 
        html_tbody += "<a class='dropdown-item btn-delete' onclick='amSp4EliminarDiagnosticoCI10InterconsultaEnfermedadCronica("+IdInterconsulta+","+accountObj.Id+")'>";
        html_tbody += "<img src='./images/sho/delete.svg' alt='' fill='#ff3636'>";
        html_tbody += "</a>";                
        html_tbody += "</td>";
        html_tbody += "</tr>";

        $("#table_sp4EnferCron_intercon_diagCIE10 tbody").append(html_tbody);

      });

    }
    else{

      html_tbody =
      "<tr class='table-empty'>"+            
        "<td colspan='7' class='text-center text-uppercase'>"+
          "No hay informacion registrada"+
        "</td>"+
      "</tr> ";

      $("#table_sp4EnferCron_intercon_diagCIE10 tbody").append(html_tbody);

    } 

    $("#table_sp4EnferCron_intercon_diagCIE10-count-row").text($("#table_sp4EnferCron_intercon_diagCIE10 tr.table-row").length);

  });

}

async function _init_ecSp4InterconsultaEnfermedadesCronicas() {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarSistemaAfectado();
  await ecSp4cargarSeccionAfectada();
  await ecSp4cargarSelectInterconsultaEnfermedadesCronicas();
  await ecSp4cargarDatosGeneralesEC(); 
  await amSp4GuardarEditarInterconsultaEnfermedadCronica(0); 
  //await ecSp4cargarDiagnosticoInterconsultaEnfermedadCronica(idTemporalInterconsulta);

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(function() {

  _init_ecSp4InterconsultaEnfermedadesCronicas();

  $('.table-container').on('click',".btn-delete", onBtnDeleteRow);

});

</script>

<!-- JS Enfermedades Cronicas -->
<script src="view/sho-hce/enfermedades_cronicas/js/JSEnfermedades_Cronicas.js"></script>

<!-- Otras Librerias JS -->
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
