<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">
<style>
  #titulo_exportable {
    text-align: center;
  }
</style>
<div class="container main-content">
  <!-- DATOS DEL TRABAJADOR -->
  <div>
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-6">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class="col-md-2 col-sm-6 offset-md-4 offset-sm-0">
        <a href="#" onclick="Sp4ImprimirInterconsulta();" class="btn btn-info btn-block btn-lg"> Imprimir <img src="./images/sho/print.svg">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_tra_codigo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" id="dat_nombres_trabajador" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="text" id="dat_apellidos_trabajador" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Edad</span>
          <input type="text" id="dat_edad_trabajador" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_gerencia" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Planta</span>
          <select name="" id="dat_planta" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_area" disabled>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de trabajo</span>
          <input type="text" id="dat_trab_ptrab" disabled>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DATOS DEL TRABAJADOR -->
  <hr class="mb-5 mt-4" />
  <!-- INTERCONSULTA -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Interconsulta</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="text" id="dat_empresa" class="input_int_sp3" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de interconsulta</span>
          <input id="dat_fecha_interconsulta" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Interconsulta a la especialidad de</span>
          <select name="" id="dat_especialidad" class="input_int_sp3" disabled>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Motivo de interconsulta</span>
          <input type="text" id="dat_motivo" class="input_int_sp3" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary">
          <span>Se solicita</span>
          <input type="text" id="dat_se_solicita" disabled>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-box-secondary">
          <span>Otros</span>
          <input type="text" id="dat_otros" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico a cargo</span>
          <input type="text" id="dat_medico_cargo" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P</span>
          <input type="text" id="dat_cmp" disabled>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 d-flex align-items-center">
        <span class="titulo"> Archivos adjuntos </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="tabla_primeradjunto-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="tabla_primeradjunto">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Fecha de subida</th>
                <th>Nombre de archivo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN INTERCONSULTA -->
  <hr class="mb-5 mt-4" />
  <!-- RESPUESTA A INTERCONSULTA -->
  <div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span class="titulo">Respuesta a interconsulta</span>
      </div>
      <div class="col-md-2 offset-md-7 offset-sm-0 col-sm-6">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>¿Recibió respuesta?</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="recibio_respuesta_int" id="dat_resp_recibio_si" value="1" disabled>
            <label for="dat_int_recibio_respuesta_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="recibio_respuesta_int" id="dat_resp_recibio_no" value="0" disabled>
            <label for="dat_int_recibio_respuesta_no">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Institución de salud</span>
          <input type="text" id="dat_resp_institucion" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de respuesta</span>
          <input id="dat_resp_fecha" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Hallazgos de evaluación</span>
          <input type="text" id="dat_resp_hallazgo" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-box-secondary">
          <span>Examenes auxiliares</span>
          <input type="text" id="dat_resp_examenes_auxiliares" disabled>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN RESPUESTA A INTERCONSULTA -->
  <hr class="mb-5 mt-4">
  <!-- DIAGNOSTICO CIE 10 -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Diagnóstico CIE 10</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px">
            <span id="tabla_diagnosticocie10-count-row"></span> registros</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="tabla_diagnosticocie10">
            <thead>
              <tr>
                <th>Diagnóstico</th>
                <th>CIE 10</th>
                <th>Fecha de registro</th>
                <th>Especialidad</th>
                <th>Sistema afectado</th>
                <th>Sección afectada</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="input-box-secondary">
          <span>Tratamiento</span>
          <input type="text" id="dat_diag_tratamiento" disabled>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DIAGNOSTICO CIE 10 -->
  <hr class="mb-5 mt-4">
  <!-- RECOMENDACIONES -->
  <div>
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Recomendaciones</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-box-secondary">
          <span>Recomendaciones</span>
          <input type="text" id="dat_reco_recomendaciones" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>¿Requiere de controles posteriores?</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="posteriores_int" value="1" id="dat_reco_control_si" disabled>
            <label for="dat_int_controles_recomendaciones_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="posteriores_int" value="0" id="dat_reco_control_no" disabled>
            <label for="dat_int_controles_recomendaciones_no">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 14px;">
              <b>Aptitud para laborar en ocupación y aptitud indicada (Sólo para Médicos)</b>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="px-4">
            <input type="radio" name="aptitud_int" value="1" id="dat_reco_apto_si" disabled>
            <label for="dat_int_aptitud_recomendaciones_si">Si</label>
          </div>
          <div class="px-4">
            <input type="radio" name="aptitud_int" value="0" id="dat_reco_apto_no" disabled>
            <label for="dat_int_aptitud_recomendaciones_no">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de proximo control</span>
          <input id="dat_reco_fecha_control" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Médico/ Evaluador</span>
          <input type="text" id="dat_reco_medico" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>C.M.P.</span>
          <input type="text" id="dat_reco_cmp" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>R.N.E.</span>
          <input type="text" id="dat_reco_rne" disabled>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Otro</span>
          <input type="text" id="dat_reco_otros" disabled>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 d-flex align-items-center">
        <span class="titulo"> Archivos adjuntos </span>
      </div>
    </div>
    <div class="row mt-3">
    	<div class="col-md-12">
	        <div class="d-flex align-items-center">
	          <div id="cant_planes">
	            <img src="images/iconos/copia-1.svg" style="width: 20px" />
	          </div>
	          <span class="cantidad ml-3" style="font-size: 15px">
	            <span id="tabla_segundoadjunto-count-row"></span> registros</span>
	        </div>
	      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="tabla_segundoadjunto">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Fecha de subida</th>
                <th>Nombre de archivo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN RECOMENDACIONES -->
</div>
<div id="documento_exportable">
</div>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
<script src="js/jsPDF/dist/jspdf.debug.js"></script>
<script src="js/jsPDF/libs/html2pdf.js"></script>

<script type="text/javascript">

function downloadBlob(blob, filename){

  if(window.navigator.msSaveOrOpenBlob) {
      window.navigator.msSaveBlob(blob, filename);
  } else {
      var elem = window.document.createElement('a');
      elem.href = window.URL.createObjectURL(blob);
      elem.download = filename;
      document.body.appendChild(elem);
      elem.click();
      document.body.removeChild(elem);
  }

}

function fnSp4descargarAdjuntoInterconsultaEC(IndexObjeto)
{
  
  url = paObj_detalleInterconsulta[idDetalle].PrimerAdjunto[IndexObjeto].ArchivoBase64;
  fetch(url)
  .then(res => res.blob())
  .then(function(blob) {
    downloadBlob(blob, paObj_detalleInterconsulta[idDetalle].PrimerAdjunto[IndexObjeto].NombreArchivo);
  });
    
}

//Crear servicio para para traer especialidades
function ecSp4cargarEspecialidades() {
  
  let url = apiUrlsho+`/api/hce_Get_005_interconsulta?code=5apeYFqxMjc7U4gRbZFs/mBepNwlDkPcUymNTlP7kzOsv5AN3DYecg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
  };

  return $.ajax(settings).done((response) => {
    pluck_ec['Especialidades'] = response.IntercExpecialidad;
  });
}

function ecSp4cargarSelectEnfermedadesCronicas(){

  let contenido = '';

  //Cargando Select de Áreas
  contenido = $('#dat_area');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Areas"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Gerencias
  contenido = $('#dat_gerencia');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Gerencias"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de Sedes
  contenido = $('#dat_planta');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Sedes"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Description}</option>`)
  });

  //Cargando Select de especialidades
  contenido = $('#dat_especialidad');
  contenido.append(`<option value=""></option>`);

  pluck_ec["Especialidades"].forEach((Item) => {
    contenido.append(`<option value="${Item.Id}">${Item.Descripcion}</option>`)
  });

}

function ecSp4cargarElementosDetalleDatosGeneralesEC(){  

  //Elementos de la vista
  $('#dat_tra_codigo').val(paObj_ec[idHC].NroDocumento_Trabajador_H);
  $('#dat_nombres_trabajador').val(paObj_ec[idHC].Nombres_Trabajador_H);
  $('#dat_apellidos_trabajador').val(paObj_ec[idHC].Apellidos_Trabajador_H);
  $('#dat_edad_trabajador').val(paObj_ec[idHC].Edad_Trabajador_H);
  $('#dat_trab_ptrab').val(paObj_ec[idHC].PuestoTrabajo_Empresa_H); 
  $("#dat_gerencia option[value='"+paObj_ec[idHC].GerenciaId_Empresa_H+"']").prop("selected",true);
  $("#dat_planta option[value='"+paObj_ec[idHC].PlantaId_Empresa_H+"']").prop("selected",true);
  $("#dat_area option[value='"+paObj_ec[idHC].AreaId_Empresa_H+"']").prop("selected",true);
  $('#dat_empresa').val(paObj_detalleInterconsulta[idDetalle].A_Empresa);
  $('#dat_fecha_interconsulta').val(new Date(paObj_detalleInterconsulta[idDetalle].A_FechaInterconsulta).toLocaleDateString('en-GB').split('T')[0]);
  $("#dat_especialidad option[value='"+paObj_detalleInterconsulta[idDetalle].A_InterEspecialidad+"']").prop("selected",true);
  $('#dat_motivo').val(paObj_detalleInterconsulta[idDetalle].A_InterMotivo); 
  $('#dat_se_solicita').val(paObj_detalleInterconsulta[idDetalle].A_SeSolicita); 
  $('#dat_otros').val(paObj_detalleInterconsulta[idDetalle].A_Otros); 
  $('#dat_medico_cargo').val(paObj_detalleInterconsulta[idDetalle].A_MedicoCargo); 
  $('#dat_cmp').val(paObj_detalleInterconsulta[idDetalle].A_CMP); 

  if( paObj_detalleInterconsulta[idDetalle].B_RecibioRespuesta == "1" ){
    $("#dat_resp_recibio_si").prop("checked",true);
  }else{
    $("#dat_resp_recibio_no").prop("checked",true);
  }

  $('#dat_resp_institucion').val(paObj_detalleInterconsulta[idDetalle].B_InstitucionSalud); 
  $('#dat_resp_fecha').val(new Date(paObj_detalleInterconsulta[idDetalle].B_FechaRespuesta).toLocaleDateString('en-GB').split('T')[0]); 
  $('#dat_resp_hallazgo').val(paObj_detalleInterconsulta[idDetalle].B_HallazgoEval); 
  $('#dat_resp_examenes_auxiliares').val(paObj_detalleInterconsulta[idDetalle].B_ExamenesAuxiliarers); 
  $('#dat_diag_tratamiento').val(paObj_detalleInterconsulta[idDetalle].Tratamiento); 
  $('#dat_reco_recomendaciones').val(paObj_detalleInterconsulta[idDetalle].C_Recomendaciones);

  if( paObj_detalleInterconsulta[idDetalle].C_RequiereControles == "1" ){
    $("#dat_reco_control_si").prop("checked",true);
  }else{
    $("#dat_reco_control_no").prop("checked",true);
  }

  if( paObj_detalleInterconsulta[idDetalle].C_ActitupParaLaboral == "1" ){
    $("#dat_reco_apto_si").prop("checked",true);
  }else{
    $("#dat_reco_apto_no").prop("checked",true);
  }

  $('#dat_reco_fecha_control').val(new Date(paObj_detalleInterconsulta[idDetalle].C_FechaProximoControl).toLocaleDateString('en-GB').split('T')[0]); 
  $('#dat_reco_medico').val(paObj_detalleInterconsulta[idDetalle].C_MedicoEvaluador); 
  $('#dat_reco_cmp').val(paObj_detalleInterconsulta[idDetalle].C_CMP); 
  $('#dat_reco_rne').val(paObj_detalleInterconsulta[idDetalle].C_RNE); 
  $('#dat_reco_otros').val(paObj_detalleInterconsulta[idDetalle].C_Otros); 

  var html_tbody = '';
  
  if(Object.keys(paObj_detalleInterconsulta[idDetalle].DiagnosticoCIE).length > 0){  

    $.each(paObj_detalleInterconsulta[idDetalle].DiagnosticoCIE, function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += accountObj.Diagnostico;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.Code;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.Especilidades;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += (accountObj.SistemaAfectado_D == null) ? '--' : accountObj.SistemaAfectado_D;
      html_tbody += "</td>";
      html_tbody += "<td>"; 
      html_tbody += (accountObj.SeccionAfectada_D == null) ? '--' : accountObj.SeccionAfectada_D;                 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      $("#tabla_diagnosticocie10 tbody").append(html_tbody);

    });

  }
  else{

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='6' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#tabla_diagnosticocie10 tbody").append(html_tbody);

  } 

  if(Object.keys(paObj_detalleInterconsulta[idDetalle].PrimerAdjunto).length > 0){  

    $.each(paObj_detalleInterconsulta[idDetalle].PrimerAdjunto, function(index,accountObj){

      html_tbody = "<tr class='table-row'>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreArchivo;
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0];
      html_tbody += "</td>";
      html_tbody += "<td>";
      html_tbody += accountObj.NombreArchivo;
      html_tbody += "</td>";      
      html_tbody += "<td>";
      html_tbody += "<button type='button' class='btn btn-link shadow-none float-right'>";
      html_tbody += "<img class='inject-svg' src='./images/sho/download.svg' alt='' fill='#8fbb02' width='16px' onclick = 'fnSp4descargarAdjuntoInterconsultaEC("+index+");' title='Descargar Adjunto'>";      
      html_tbody += "</button>";  
      html_tbody += "</td>";
      html_tbody += "</tr>";

      if( parseInt(accountObj.parteFormulario) == 0 ){

        $("#tabla_primeradjunto tbody").append(html_tbody);

      }else{

        $("#tabla_segundoadjunto tbody").append(html_tbody);

      }      

    });

  }

  $("#tabla_diagnosticocie10-count-row").text($("#tabla_diagnosticocie10 tr.table-row").length);
  $("#tabla_primeradjunto-count-row").text($("#tabla_primeradjunto tr.table-row").length);
  $("#tabla_segundoadjunto-count-row").text($("#tabla_segundoadjunto tr.table-row").length);

  if( $("#tabla_primeradjunto tr.table-row").length == 0 ){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='4' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#tabla_primeradjunto tbody").append(html_tbody);

  }

  if( $("#tabla_segundoadjunto tr.table-row").length == 0 ){

    html_tbody =
    "<tr class='table-empty'>"+            
      "<td colspan='4' class='text-center text-uppercase'>"+
        "No hay informacion registrada"+
      "</td>"+
    "</tr> ";

    $("#tabla_segundoadjunto tbody").append(html_tbody);

  }
   
}

function ecSp4cargarDiagnosticoInterconsultaEC(IdInterconsulta){  

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_008_interconsulta_diagnosticoCIE10?code=mPgaeW14i/taia4aCEaauWCIBcSohTnpYgXAi9fY6mHp0OFyqV4rfQ==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "InterConsultaId": IdInterconsulta }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida
    //ecSp4cargarElementosDatosGeneralesEC();
    paObj_detalleInterconsulta[idDetalle].DiagnosticoCIE = response.DiagnosticoCIE;
    console.log('Para chequear Objeto Diagnóstico INTERCONSULTA: '+ JSON.stringify(response));

  });

}

function ecSp4cargarPrimerAdjuntoInterconsultaEC(IdInterconsulta){  

  //Se especifican los parametros para la consulta
  let url =  apiUrlsho+`/api/hce_Get_007_interconsulta_adjunto?code=VW1N50nYYj56xAlct5Jbn8Isl6loYB7pCaMEvYb3dB8aPBr/NMcgGg==`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "InterConsultaId": IdInterconsulta }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se cargan los elementos de la vista con la data obtenida
    //ecSp4cargarElementosDatosGeneralesEC();
    paObj_detalleInterconsulta[idDetalle].PrimerAdjunto = response.AdjuntoInterconsult;
    console.log('Para chequear Objeto Primer Adjunto INTERCONSULTA: '+ JSON.stringify(response));

  });

}

async function _init_ecSp4DetalleInterconsultaEnfermedadesCronicas(IdInterconsulta) {

  //Se inicia el Cargando
  showLoading();

  await ecSp4cargarDiagnosticoInterconsultaEC(IdInterconsulta);
  await ecSp4cargarPrimerAdjuntoInterconsultaEC(IdInterconsulta);
  await ecSp4cargarEspecialidades();
  await ecSp4cargarSelectEnfermedadesCronicas();
  await ecSp4cargarElementosDetalleDatosGeneralesEC();
  //await ecSp4cargarSegundoAdjuntoDescansoMedicoEC(1);

  //Se apaga el Cargando
  hideLoading();

}

$(document).ready(() => {

  SVGInject($(".inject-svg"));

});

$(document).ready(function() {

  //console.log('Detalle CON HISTORIA: '+ JSON.stringify(paObj_ec[idHC]));

  //console.log('Detalle INTERCONSULTA: '+ JSON.stringify(paObj_detalleInterconsulta[idDetalle]));

  _init_ecSp4DetalleInterconsultaEnfermedadesCronicas(idDetalle);

});






function Sp4ImprimirInterconsulta() {
  /*if (interSp3ValidarDatos('input_int_sp3').length > 0) {
    return;
  }*/

  let data_hc = paObj_ec[idHC];
  //let data_inter = paObj_hi[idInter].a;
  // debugger
  let empresa = $('#dat_empresa').val();
  let fecha = $('#dat_fecha_interconsulta').val();
  let area_trabajo = $('#dat_area  option:selected').text();
  let nombres = $('#dat_nombres_trabajador').val();
  let apellidos = $('#dat_apellidos_trabajador').val();
  let dni = $('#dat_tra_codigo').val();
  let sexo = (paObj_ec[idHC].Sexo_Trabajador_H == 1) ? 'Masculino' : 'Femenino';
  let edad = $('#dat_edad_trabajador').val();
  let especialidad = $('#dat_especialidad  option:selected').text();
  let motivo = $('#dat_motivo').val();
  let solicita = $('#dat_se_solicita').val();
  let otros_a = $('#dat_otros').val();
  let medico = $('#dat_medico_cargo').val();
  let cmp_a = $('#dat_cmp').val();
  let institucion = $('#dat_resp_institucion').val();
  let fecha_interconsulta = $('#dat_resp_fecha').val();
  let mes_resp = fecha_interconsulta.substring(3,5); //obteniendo mes
  let dia_resp = fecha_interconsulta.substring(0,2); //obteniendo dia
  let ano_resp = fecha_interconsulta.substring(6,10); //obteniendo año
  let hallazgo = $('#dat_resp_hallazgo').val();
  let examenes = $('#dat_resp_examenes_auxiliares').val();


  let Diagnosticos = paObj_detalleInterconsulta[idDetalle].DiagnosticoCIE;

  let tratamiento = $('#dat_diag_tratamiento').val();
  let recomendaciones = $('#dat_reco_recomendaciones').val();

  let fecha_proximo = $('#dat_reco_fecha_control').val();
  let mes_control = fecha_proximo.substring(3,5); //obteniendo mes
  let dia_control = fecha_proximo.substring(0,2); //obteniendo dia
  let ano_control = fecha_proximo.substring(6,10); //obteniendo año

  let cmp_b = $('#dat_reco_cmp').val();
  let rne_b = $('#dat_reco_rne').val();
  let otros_b = $('#dat_reco_otros').val();

  let controles_posteriores = $('input:radio[name=posteriores_int]:checked').val();
  let aptitud_labor = $('input:radio[name=aptitud_int]:checked').val();

  let doc = new jsPDF();
  doc.setFontSize(14);
  //ttitulo 1
  doc.text("FORMATO DE INTERCONSULTA", 105, 24, "center");
  doc.setLineWidth(0.1);

  //primer cuadro
  doc.rect(12, 26, 185, 25);
  doc.setFontSize(9);
  //empresa
  doc.text("Empresa:", 15, 31);
  doc.text(empresa, 36, 31);
  doc.rect(34, 27, 90, 5);

  //fecha
  doc.text("Fecha:", 130, 31);
  doc.text(fecha, 147, 31);
  doc.rect(145, 27, 51, 5);

  //area
  doc.text("Área de trabajo donde postula:", 15, 37);
  doc.text(area_trabajo, 67, 37);
  doc.rect(65, 33, 131, 5);

  doc.text("Apellidos y Nombres:", 15, 43);
  doc.text(`${nombres} ${apellidos}`, 52, 43);
  doc.rect(50, 39, 146, 5);

  doc.text("DNI/CE:", 15, 49);
  doc.text(dni, 32, 49);
  doc.rect(30, 45, 40, 5);

  doc.text("Sexo:", 85, 49);
  doc.text(sexo, 97, 49);
  doc.rect(95, 45, 40, 5);

  doc.text("Edad:", 155, 49);
  doc.text(edad, 168, 49);
  doc.rect(166, 45, 30, 5);

  //segundo cuadro
  doc.rect(12, 53, 185, 41);

  doc.text("Interconsulta a la especialidad de:", 15, 58);
  doc.text(especialidad, 77, 58);
  doc.rect(75, 54, 121, 5);

  doc.text("Motivo de Interconsulta:", 15, 68);
  doc.text(motivo, 77, 64);
  doc.rect(75, 60, 121, 15);

  doc.text("Se solicita:", 15, 80);
  doc.text(solicita, 77, 80);
  doc.rect(75, 76, 121, 5);

  doc.text("Otros:", 15, 86);
  doc.text(otros_a, 77, 86);
  doc.rect(75, 82, 121, 5);

  doc.text("Médico:", 15, 92);
  doc.text(medico, 77, 92);
  doc.rect(75, 88, 60, 5);

  doc.text("C.M.P.:", 145, 92);
  doc.text(cmp_a, 162, 92);
  doc.rect(160, 88, 36, 5);

  //tercer cuadro
  doc.rect(12, 96, 185, 18);
  doc.text("Firma y sello del Médico", 45, 112);

  doc.line(115, 96, 115, 114);
  doc.text("Firma del Paciente", 140, 112);

  doc.setFontSize(12);
  doc.text("RESPUESTA A INTERCONSULTA", 105, 119, "center");

  doc.setFontSize(9);
  doc.text("Institución de Salud:", 15, 125);
  doc.text(institucion, 55, 125);
  doc.rect(53, 121, 87, 5);

  doc.text("Fecha: ", 142, 125);

  doc.text(dia_resp, 156, 125);
  doc.line(153, 126, 163, 126);
  doc.line(164, 126, 166, 121);

  doc.text(mes_resp, 172, 125);
  doc.line(169, 126, 179, 126);
  doc.line(180, 126, 182, 121);

  doc.text(ano_resp, 186, 125);
  doc.line(185, 126, 195, 126);

  doc.text("Hallazgos de Evaluación:", 15, 131);
  doc.text(hallazgo, 55, 131);
  doc.rect(53, 127, 144, 5);

  doc.text("Examenes Auxiliares:", 15, 137);
  doc.text(examenes, 55, 137);
  doc.rect(53, 133, 144, 5);

  doc.text("DIAGNÓSTICO:", 60, 143);

  doc.setFontSize(7);
  let espacio_diagnostico = 149;
  Diagnosticos.forEach((Item) => {
    doc.text(Item.Diagnostico.toString(), 15, espacio_diagnostico);
    doc.text(Item.Code.toString(), 142, espacio_diagnostico);
    /*datosInter.TipoCIE10.forEach((i) => {
      if (i.Id == Item.CIE10) {
        doc.text(i.Descripcion.toString(), 142, espacio_diagnostico);
      }
    });*/
    espacio_diagnostico = espacio_diagnostico + 5;
  });

  doc.setFontSize(9);
  doc.text("CIE10:", 165, 143);
  //cuadro
  doc.rect(12, 139, 185, 92);

  doc.line(12, 145, 197, 145);
  doc.line(12, 150, 197, 150);
  doc.line(12, 155, 197, 155);
  doc.line(12, 160, 197, 160);
  doc.line(12, 165, 197, 165);
  doc.line(12, 170, 197, 170);
  doc.line(140, 139, 140, 170);


  doc.text("TRATAMIENTO", 105, 174, "center");
  doc.text(tratamiento, 15, 179);
  doc.line(12, 175, 197, 175);
  doc.line(12, 194, 197, 194);

  doc.text("RECOMENDACIONES", 105, 198, "center");
  doc.text(recomendaciones, 15, 203);
  // doc.text("Recomendaciones", 15, 208);
  doc.line(12, 199, 197, 199);
  doc.line(12, 204, 197, 204);
  doc.line(12, 209, 197, 209);
  doc.line(12, 214, 197, 214);
  doc.line(12, 219, 197, 219);

  doc.text("¿Requiere de controles posteriores?", 15, 223);

  if (controles_posteriores == 1) {
    doc.text("X", 75, 223);
  } else {
    doc.text("X", 90, 223);
  }

  doc.line(12, 225, 197, 225);
  doc.text("SI", 70, 223);
  doc.rect(74, 220, 5, 4);

  doc.text("NO", 83, 223);
  doc.rect(89, 220, 5, 4);

  doc.text("Fecha para Proximo Control: ", 111, 223);
  doc.text(dia_control, 156, 223);
  doc.line(153, 224, 163, 224);
  doc.line(164, 224, 166, 220);

  doc.text(mes_control, 172, 223);
  doc.line(169, 224, 179, 224);
  doc.line(180, 224, 182, 220);

  doc.text(ano_control, 186, 223);
  doc.line(185, 224, 195, 224);

  doc.text("Aptitud para laborar en Ocupación y Aptitud indicada (Sólo para Médicos)", 15, 229);

  if (aptitud_labor == 1) {
    doc.text("X", 146, 229);
  } else {
    doc.text("X", 167, 229);
  }

  doc.text("SI", 140, 229);
  doc.rect(145, 226, 5, 4);

  doc.text("NO", 160, 229);
  doc.rect(166, 226, 5, 4);

  doc.rect(12, 233, 185, 22);

  doc.line(12, 238, 197, 238);
  doc.line(63, 238, 63, 255);
  doc.line(116, 233, 116, 255);

  doc.line(143, 233, 143, 255);

  doc.line(170, 233, 170, 255);

  doc.text("MÉDICO / EVALUADOR", 50, 237);
  doc.text("C.M.P", 124, 237);
  doc.text(cmp_b, 118, 246);

  doc.text("R.N.E", 152, 237);
  doc.text(rne_b, 146, 246);

  doc.text("OTROS", 178, 237);
  doc.text(otros_b, 172, 246);


  doc.text("Estimado colega", 15, 242);
  doc.text("solicitamos registre", 15, 247);
  doc.text("su C.M.P y R.N.E", 15, 252);
  doc.text("Firma y sello del Médico", 72, 253);

  doc.setFontSize(7);
  doc.text("*A nuestros clientes, verificar el llenado completo de esta ficha para su validez", 15, 259);
  doc.save(`interconsulta_${nombres}_${apellidos}_${moment().format("DD_MM_YYY")}.pdf`);
}











</script>