<!-- /****************************************************************************************
 * VISUAL SAT - [2021]
 * PROYECTO : SIGTASA
 * ESQUEMA : SSOMA
 * SPRINT  : 3
 * MODULO : HISTORIA CLINICA
 * OPERADORES_________________________________________________________________________
 * | # | PROGRAMADOR     |  |      FECHA   |  |   HORA   |           CORREO           |
 * | 1 | Carlos Rivas    |  |   26/08/2021 |  | 07:28:50 |       crivascyt@gmail.com  |
 * | 2 | Andy Vàsquez    |  |   06/09/2021 |  | 11:16:00 |     caracas1348@gmail.com  |
 * |___|_________________|__|______________|__|__________|____________________________|
 *
 * DESCRIPCION: ARCHIVO VISTA DE LAS OPCIONES DE DATOS GENERALES DE LA HISTORIA CLINICA
 * EN EL FRONT END ACCIDENTES- (LISTADO, FILTRADO, VER)
 *
 * ARCHIVOS DE SERVICIOS   _________________________________________
 * | # |     MODULO             |  |         NOMBRE                 |
 * | 1 |   SALUD OCUPACIONAL    |  |                                |
 * |________________________________________________________________|
 *
 *
 * VERSION: 0.1 Beta
 *********************************************************************************************************************************************************************************
 * NOTA IMPORTANTE:  EN FECHA  *** 06/09/2021 Andy  **** Vasquez: Procede a realizar un ajuste general  de funcionamiento y orden del modulo de historia clinica para optimizarlo
 *********************************************************************************************************************************************************************************

 *******************************************************************************************/ -->
<link rel="stylesheet" href="css/sho.css" />
<link rel="stylesheet" href="css/sweetalert2.css" />
<!-- 
  *** Edward Romero
  Script para enfermedad ocupacional
 -->
<script src="./view/sho-hce/salud_ocupacional/js/index.js" type="text/javascript"></script>

<div id="HC_datos_generales">
  <div id="sidebar">
    <div id="toggle-btn">
      <img class="inject-svg" src="./images/sho/down.svg" alt="" fill="#fff" />
    </div>
    <!--  <button class="btn btn-success btn-lg text-center" onclick="verVariablesTemp()">ver Variables</button> -->
    <span class="titulo">Menú principal</span>
    <ul id="main-menu">
      <li class="item-list menu-lateral active" id="menu_lateral1" onclick="sp3HcMenuGenaralIzquierdoEventos(1)">
        <img class="inject-svg" src="./images/sho/hospital.svg" alt="" />
        <span>Datos generales</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral2" onclick="sp3HcMenuGenaralIzquierdoEventos(2)">
        <img class="inject-svg" src="./images/sho/centrosmedicos.svg" alt="" />
        <span>Antecedentes</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral3" onclick="sp3HcMenuGenaralIzquierdoEventos(3)">
        <img class="inject-svg" src="./images/sho/antidepressant.svg" alt="" />
        <span>Medicamentos activos</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral4" onclick="sp3HcMenuGenaralIzquierdoEventos(4)">
        <img class="inject-svg" src="./images/sho/health-report.svg" alt="" />
        <span>Mi último EMO</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral5" onclick="sp3HcMenuGenaralIzquierdoEventos(5)">
        <img class="inject-svg" src="./images/sho/vmo.svg" alt="" />
        <span>Mi VMO</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral6" onclick="sp3HcMenuGenaralIzquierdoEventos(6)">
        <img class="inject-svg" src="./images/sho/descansos.svg" alt="" />
        <span>Descansos médicos</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral7" onclick="sp3HcMenuGenaralIzquierdoEventos(7)">
        <img class="inject-svg" src="./images/sho/cronicas.svg" alt="" />
        <span>Enfermedades crónicas</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral7" onclick="sp3HcMenuGenaralIzquierdoEventos(8)">
        <img class="inject-svg" src="./images/sho/toxicologicos.svg" alt="" />
        <span>Examenes toxicológicos</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral9" onclick="sp3HcMenuGenaralIzquierdoEventos(9)">
        <img class="inject-svg" src="./images/sho/vacunas.svg" alt="" />
        <span>Vacunas</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral10" onclick="sp3HcMenuGenaralIzquierdoEventos(10)">
        <img class="inject-svg" src="./images/sho/accidentes.svg" alt="" />
        <span>Accidentes de trabajo</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral11" onclick="sp3HcMenuGenaralIzquierdoEventos(11)">
        <img class="inject-svg" src="./images/sho/iperc.svg" alt="" />
        <span>IPERC</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral12" onclick="sp3HcMenuGenaralIzquierdoEventos(12)">
        <img class="inject-svg" src="./images/sho/reubicados.svg" alt="" />
        <span>Reubicación</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral13" onclick="sp3HcMenuGenaralIzquierdoEventos(13)">
        <img class="inject-svg" src="./images/sho/levantamiento.svg" alt="" />
        <span>Enfermedad ocupacional</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral14" onclick="sp3HcMenuGenaralIzquierdoEventos(14)">
        <img class="inject-svg" src="./images/sho/discapacitados.svg" alt="" />
        <span>Discapacidad</span>
      </li>
      <li
        class="item-list menu-lateral d-none"
        id="menu_lateral15"
        onclick="sp3HcMenuGenaralIzquierdoEventos(15)"
      >
        <img class="inject-svg" src="./images/sho/fertil.svg" alt="" />
        <span>Mujeres en edad fértil gestante</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral16" onclick="sp3HcMenuGenaralIzquierdoEventos(16)">
        <img class="inject-svg" src="./images/sho/salud.svg" alt="" />
        <span>Seguimiento COVID</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral17" onclick="sp3HcMenuGenaralIzquierdoEventos(17)">
        <img class="inject-svg" src="./images/sho/interconsultas.svg" alt="" />
        <span>Interconsultas y transferencias</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral18" onclick="sp3HcMenuGenaralIzquierdoEventos(18)">
        <img class="inject-svg" src="./images/sho/inf_ocupacional.svg" alt="" />
        <span>Informe médico ocupacional</span>
      </li>
      <li class="item-list menu-lateral" id="menu_lateral19" onclick="sp3HcMenuGenaralIzquierdoEventos(19)">
        <img class="inject-svg" src="./images/sho/fit_test.svg" alt="" />
        <span>Fit Test</span>
      </li>
    </ul>
  </div>
  <div id="page-content-sidebar" style="display: none"></div>
</div>
<script type="text/javascript">
  // objetos del DOM

  var IngresoVista = false;

  $(document).ready(function () {
    
    if(BackSeccion>0){

      sp3HcMenuGenaralIzquierdoEventos(BackSeccion);

      BackSeccion = 0;

    }
    else
    {

      sp3HcMenuGenaralIzquierdoEventos(1);

    }

    controlNavHistoria = true;

    if (ControlLateralEnfermedadesCronicas) {
      ControlLateralEnfermedadesCronicas = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(7);
      IngresoVista = true;
    }

    if (ControlLateralEmo) {
      ControlLateralEmo = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(4);
      IngresoVista = true;
    }

    if (CALIDAD_DE_VIDA_PAGE) {
      CALIDAD_DE_VIDA_PAGE = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(5);
      IngresoVista = true;
      if (ID_VMO_REGISTRO != null) {
        setTimeout(function () {
          verMisVMO(ID_VMO_REGISTRO, FECHA_TAB);
          $("#" + FECHA_TAB + "-tab").tab("show");
          ObjTabla.column(0).search(FECHA_TAB).draw();
          $("#table_emo-count-row").text(ObjTabla.page.info().recordsDisplay);
        }, 1000);
      }
    }

    if (CONSERVACION_AUDITIVA_PAGE) {
      CONSERVACION_AUDITIVA_PAGE = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(5);
      IngresoVista = true;
      if (ID_VMO_REGISTRO != null) {
        setTimeout(function () {
          verMisVMO(ID_VMO_REGISTRO, FECHA_TAB);
          $("#" + FECHA_TAB + "-tab").tab("show");
          ObjTabla.column(0).search(FECHA_TAB).draw();
          $("#table_emo-count-row").text(ObjTabla.page.info().recordsDisplay);
        }, 1000);
      }
    }

    if (TRANSTORNO_MUSCULO_ESQUELETICO_PAGE) {
      TRANSTORNO_MUSCULO_ESQUELETICO_PAGE = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(5);
      IngresoVista = true;
      if (ID_VMO_REGISTRO != null) {
        setTimeout(function () {
          verMisVMO(ID_VMO_REGISTRO, FECHA_TAB)
          $('#' + FECHA_TAB + '-tab').tab('show')
          ObjTabla.column(0).search(FECHA_TAB).draw()
          $('#table_emo-count-row').text(ObjTabla.page.info().recordsDisplay);
        }, 1000)
      }
    }

    if (MUJER_EDAD_FERTIL_GESTANTE) {
      MUJER_EDAD_FERTIL_GESTANTE = false;
      menuAnt = "menu_lateral1";
      setTimeout(function (){
        sp3HcMenuGenaralIzquierdoEventos(15);
      },1500)
    }

    //Esto lo comente (Javier Galindo)
    /*if (ControlLateralAccidenteTrabajo) {
      ControlLateralAccidenteTrabajo = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(10);
      IngresoVista = true;
    }*/

    //Esto lo comente (Javier Galindo)
    /*if (ControlLateralIPERC) {
      ControlLateralIPERC = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(11);
      IngresoVista = true;
    }*/

    //#region Fit Test Lateral
    if (ControlLateralFitTest) {
      ControlLateralFitTest = false;
      menuAnt = "menu_lateral1";
      sp3HcMenuGenaralIzquierdoEventos(19);
      IngresoVista = true;
    }
    //#endregion

    /*if (!IngresoVista) {
      $("#page-content-sidebar").load(
        "view/sho-hce/historia_clinica/FormHC_DatosGenerales.html"
      );
    }*/   


  });

  $("#ocultar_datos_dg").click(() => {
    $("#datos_hc_general_trabajador").children().hide();
    $(".img-perfil").css("height", "75px");
    $(".img-perfil").css("width", "75px");
    $("#content_img_datos_generales").removeClass("col-md-2");
    $("#botones_datos_generales").removeClass("col-md-3");
    $("#content_img_datos_generales").addClass("col-md-1");
    $("#botones_datos_generales").addClass("col-md-4");
    $(".btn_interacciones_datos_generales").removeClass("col-md-12");
    $(".btn_interacciones_datos_generales").addClass("col-md-6");
    $("#botones_datos_generales .row").addClass("flex-row-reverse");
    $("#ocultar_datos_dg").hide();
    $("#mostrar_datos_dg").show();
  });
  $("#mostrar_datos_dg").click(() => {
    $("#datos_hc_general_trabajador").children().show();
    $(".img-perfil").css("height", "148px");
    $(".img-perfil").css("width", "148px");
    $("#content_img_datos_generales").removeClass("col-md-1");
    $("#botones_datos_generales").removeClass("col-md-4");
    $("#content_img_datos_generales").addClass("col-md-2");
    $("#botones_datos_generales").addClass("col-md-3");
    $(".btn_interacciones_datos_generales").removeClass("col-md-6");
    $(".btn_interacciones_datos_generales").addClass("col-md-12");
    $("#botones_datos_generales .row").removeClass("flex-row-reverse");
    $("#ocultar_datos_dg").show();
    $("#mostrar_datos_dg").hide();
  });
  SVGInject($(".inject-svg"));

  btnToggle = $("#sidebar");
  sidebar = $("#sidebar");
  tituloMenu = $("#sidebar .titulo").text();

  // Acortando el titulo del menu
  tituloMenuCorto = tituloMenu.split(" ").map((e) => e[0]).join("");

  setMenu();

  // Escuchando el evento del click del toggle
  btnToggle.on("mouseover mouseout", function() {
    sidebar.toggleClass("active");
    $("#toggle-btn svg").toggleClass("active");
    $("#page-content-sidebar").toggleClass("active");
    setMenu(); // Seteando el contenido del menu
  });

  // set menu



  function setMenu() {
    if (!sidebar.attr("class")) {
      $("#sidebar .titulo").text(tituloMenuCorto);
      $(".item-list span").css("display", "none");
    } else {
      $("#sidebar .titulo").text(tituloMenu);
      $(".item-list span").css("display", "flex");
    }
  }

  if (window.paginaBack.enfermedadOcupacional) {
    setTimeout(() => {
      sp3HcMenuGenaralIzquierdoEventos(13);
    }, 2000);
  }
</script>