<!-- /****************************************************************************************
 * VISUAL SAT - [2021]
 * PROYECTO : SIGTASA
 * ESQUEMA : SSOMA
 * SPRINT  : 3
 * MODULO : HISTORIA CLINICA
 * OPERADORES_________________________________________________________________________
 * | # | PROGRAMADOR     |  |      FECHA   |  |   HORA   |           CORREO           |
 * | 1 | Carlos Rivas    |  |   08/09/2021 |  | 09:28:00 |       crivascyt@gmail.com  |
 * | 2 | Andy Vàsquez    |  |   06/09/2021 |  | 11:16:00 |     caracas1348@gmail.com  |
 * |___|_________________|__|______________|__|__________|____________________________|
 *
 * DESCRIPCION: ARCHIVO VISTA DE LAS OPCIONES DE HISTORIA CLINICA
 * EN EL FRONT END ACCIDENTES- (LISTADO, FILTRADO, VER)
 *
 * ARCHIVOS DE SERVICIOS   _________________________________________
 * | # |     MODULO             |  |         NOMBRE                 |
 * | 1 |   SALUD OCUPACIONAL    |  |                                |
 * |________________________________________________________________|
 *
 *
 * VERSION: 0.1 Beta
 *********************************************************************************************************************************************************************************
 * NOTA IMPORTANTE:  EN FECHA  *** 06/09/2021 Andy  **** Vasquez: Procede a realizar un ajuste general  de funcionamiento y orden del modulo de historia clinica para optimizarlo
 *********************************************************************************************************************************************************************************

 *******************************************************************************************/ -->
<link rel="stylesheet" href="css/sweetalert2.css">
<!--  ================================================ fin de estilo ===============================================-->
<link rel="stylesheet" href="view/sho-hce/ssoma.css">
<link rel="stylesheet" href="css/pagination.css">
<link rel="stylesheet" href="css/auditorLiderList.css">
<link rel="stylesheet" href="css/sass/customize.css?v=3">
<link href="css/crearAuditorias.css" rel="stylesheet">
<Link href="css/crearAuditorias.css" rel="stylesheet">
<Link href="css/crearProgramas.css" rel="stylesheet">
<link rel="stylesheet" href="js/daterangepicker-master/daterangepicker.css">

<link rel="stylesheet" href="./view/sho-hce/historia_clinica/css/dataTable.css">

<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->


<style>
  /*#regresar {
    position: absolute;
    top: 27px;
    left: 50px;
  }*/
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: #254373;
    border-radius: 3px;
  }

  :root {
    --primary: background-color: #01719d !important;
  }

  hr {
    border-top: 2px solid #d6d6d6;
  }

  .main-content {
    padding: 40px 0px;
  }

  .main-content .card {
    border: none !important;
    box-shadow: none !important;
  }

  .main-content .card-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 8px #efefef !important;
    border: 1px solid whitesmoke !important;
    border-radius: 5px !important;
    padding: 20px !important;
    margin-bottom: 10px !important;
  }

  .main-content .card-header[aria-expanded="false"] {
    background-color: #fff;
    color: #000;
  }

  .main-content .card-header[aria-expanded="false"] .card-header-icon {
    fill: #000;
  }

  .main-content .card-header[aria-expanded="false"] .card-header-icon-down {
    fill: #000;
    transform: rotate(-90deg);
  }

  .main-content .card-header[aria-expanded="true"] {
    background-color: #4798c7;
    color: #fff;
  }

  .main-content .card-header[aria-expanded="true"] .card-header-icon,
  .main-content .card-header[aria-expanded="true"] .card-header-icon-down {
    fill: #fff;
  }

  .main-content .card-header[aria-expanded="false"] .badge {
    background-color: #254373;
    color: #fff;
  }

  .main-content .card-header span {
    font-size: 15px;
  }

  .main-content .card-header .card-header-icon {
    height: 28px;
    width: auto;
  }

  .main-content .card-header .card-header-icon-down {
    width: 12px;
    height: auto;
    transition: all 0.1s linear;
  }

  .main-content .card-body {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main-content .border-content {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
  }

  .main-content .form-control {
    border: none;
  }

  .table-box {
    width: 100%;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
  }

  .table-box thead th {
    background-color: #254373;
  }

  .table-box th:first-child,
  .table-box td:first-child {
    border-radius: 5px 0px 0px 5px;
  }

  .table-box th:last-child,
  .table-box td:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  .table-box th,
  .table-box td {
    padding: 15px;
    white-space: nowrap;
    margin: 10px 0;
    font-size: 14px;
  }

  .table-box tbody tr td {
    border-top: 1px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #c8c8c8;
  }

  .table-box tbody tr td:first-child {
    border-left: 1px solid #c8c8c8;
  }

  .table-box tbody tr td:last-child {
    border-right: 1px solid #c8c8c8;
  }

  .table-box td img {
    width: 16px;
    cursor: pointer;
  }

  .table-box::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .table-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #44b5ff;
  }

  .table-box::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ededed;
    background-color: #f8f8f8;
  }

  .main-content .titulo {
    font-weight: 600;
    font-size: 20px;
    color: #254373;
  }

  .form-control {
    height: calc(1.5em + .75rem + 6px);
  }

  .form-box {
    position: relative;
    border-bottom: 1px solid #000;
  }

  .form-box span {
    font-size: 15px;
    font-weight: 600;
  }

  .form-box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .form-box select::-ms-expand {
    display: none;
  }

  .form-box select {
    display: inline-block;
    border: 1px solid rgb(253, 253, 253);
    width: 100%;
    cursor: pointer;
    height: 42px;
    outline: 0;
    border-bottom: 1px solid #ededed;
    position: relative;
    transition: all 0.25s ease;
  }

  .form-box svg {
    position: absolute;
    width: 14px;
    right: 0;
    top: 50%;
  }

  .btn {
    font-size: 1em !important;
    position: relative !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .btn-lg {
    padding: .8em 1em;
  }

  .btn-drop {
    width: 55px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #01719d;
    max-height: initial;
    color: #fff;
  }

  .more-info {
    position: relative;
    cursor: pointer;
  }

  .btn-drop-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 255px;
    padding: 10.6px 34px 11px 17.8px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c8c8c8;
    z-index: 1;
    right: 0;
    top: 120%;
    font-size: 14px;
  }

  .btn-drop-content2 {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 255px;
    padding: 10.6px 34px 11px 17.8px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c8c8c8;
    z-index: 1;
    right: 0;
    top: 120%;
    font-size: 14px;
  }

  .more-info-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 255px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c8c8c8;
    right: 20px;
    transform: translate(-100%, 0);
  }

  .more-info-content svg {
    width: 20px;
    position: absolute;
    left: 16px;
    display: flex;
  }

  .more-info-content span {
    font-size: 14px;
    margin-left: 20%;
  }

  .btn-drop-content li {
    list-style: none;
  }

  .btn-drop-content2 li {
    list-style: none;
  }

  .more-info-content ul {
    margin: 0 !important;
  }

  .more-info-content li {
    list-style: none;
    position: relative;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .btn-link {
    color: #254373;
    text-decoration: none !important;
  }

  .btn-success {
    background-color: #8fbb02;
    border: none;
  }

  .btn-danger {
    background-color: #ff3636;
    border: none;
  }

  .btn-link:hover {
    color: #0056b3;
    text-decoration: none !important;
  }

  .more-info-content li:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
  }

  .btn-drop-content:hover {
    background-color: #f5f5f5;
    border-color: rgba(153, 153, 153, 0.2);
  }

  .btn-drop-content2:hover {
    background-color: #f5f5f5;
    border-color: rgba(153, 153, 153, 0.2);
  }

  .btn-registro-ex img {
    position: absolute;
    right: 8%;
    bottom: 37%;
  }

  .btn-drop img {
    display: block;
    position: absolute;
    top: 35%;
    transition: linear all 0.2s;
  }

  .input-box-secondary {
    position: relative;
    margin-bottom: 20px;
  }

  .input-box-secondary input,
  .input-box-secondary select {
    width: 100%;
    display: block;
    outline: none;
    border: solid 1px #c8c8c8 !important;
    padding: 28px 10px 10px 10px !important;
    border-radius: 5px;
    transition: box-shadow 0.3s linear;
  }

  .input-box-secondary select {
    padding-top: 31px !important;
  }

  .input-box-secondary span {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }

  .form-check {
    display: flex;
  }

  .item-ant {
    border-bottom: 1px solid #c8c8c8;
    margin: 0.5em;
    padding: 0.5em 0;
  }

  .badge {
    display: inline-block;
    padding: .35em .4em;
    font-size: 100%;
    line-height: 145%;
    white-space: nowrap;
    border-radius: 50%;
    height: 28px !important;
    width: 28px !important;
    font-size: 14px !important;
  }

  .badge-light {
    color: #4798c7;
    background-color: #f8f9fa;
  }

  .item-sig-vital {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-sig-vital svg {
    position: absolute;
    margin-right: 8px;
    height: 22px;
    width: auto;
  }

  .item-sig-vital span {
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    margin-left: 42px;
  }

  .item-sig-vital input {
    width: 68px !important;
    border: 1px solid #c8c8c8 !important;
    border-radius: 5px;
    text-align: center;
  }

  /*SIDEBAR*/
  #sidebar {
    position: fixed;
    width: 142px;
    height: calc(100% - 77px);
    background: #ebebeb;
    left: 0;
    transition: width 0.2s ease-in-out;
  }

  #sidebar.active {
    left: 0;
    width: 388px;
  }

  #sidebar.active .item-list {
    width: 100%;
  }

  #sidebar li {
    list-style: none;
    margin: 15px 10px;
    cursor: pointer;
  }

  #sidebar .titulo {
    display: block;
    position: relative;
    top: 40px;
    font-size: 20px;
    color: #254373;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 20px;
  }

  /* items del menu del sidebar */
  .item-list {
    display: flex;
    background-color: #ebebeb;
    color: #000;
    padding: 1rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    width: fit-content;
  }

  .item-list.active {
    background-color: #01719d;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color: #fff;
  }

  .item-list.active svg {
    fill: #fff;
  }

  .item-list svg {
    height: 28px;
    width: 28px;
    fill: #000;
  }

  .item-list span {
    display: flex;
    align-items: center;
    margin-left: 30px;
    white-space: nowrap;
  }

  /* boton toggle */
  #toggle-btn {
    position: absolute;
    right: -17px;
    top: 32px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background-color: #44b5ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    transition: all 0.2s linear;
  }

  #toggle-btn svg.active {
    transform: rotate(90deg);
  }

  #toggle-btn svg {
    display: block;
    width: 12px;
    transform: rotate(-90deg);
    ;
    font-size: 12px;
  }

  /* contenido de la pagina */
  #page-content-sidebar {
    padding: 40px 40px 40px 180px;
    transition: padding 0.2s ease-in-out;
  }

  #page-content-sidebar.active {
    padding-left: 430px;
  }

  #page-content {
    padding: 40px 80px;
    transition: padding 0.2s ease-in-out;
  }

  #page-content.active {
    padding-left: 430px;
  }

  #page-content-sidebar .titulo {
    font-weight: 600;
    font-size: 20px;
    color: #254373;
  }

  /* contenedor del menu */
  #main-menu {
    position: relative;
    top: 70px;
    padding: 0px 20px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 100px);
    ;
  }

  #main-menu::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  #main-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #254373;
  }

  #main-menu::-webkit-scrollbar-track {
    border-radius: 3px;
    border: solid 1px #ededed;
    background-color: #f8f8f8;
  }

  .input-icon {
    position: absolute;
    right: 0;
    width: 18px;
    bottom: 16px;
  }

  .img-perfil {
    border: 3px solid #01719d;
    border-radius: 50%;
    width: 148px;
    height: 148px;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .img-perfil img {
    height: 100%;
    transform: translate(calc(50% - 148px), 0px);
  }

  .card-border {
    border-left: 15px solid #34a9ff;
    border-radius: 0.5em;
  }

  .card-body {
    padding: 0.9em;
  }

  .lb_row_sho {
    font-size: 14px !important;
    color: #000000 !important;
    margin: 0px 0px 0px 13px !important;
    font-family: ITCAvantGardeStd-Bk !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 2 !important;
    letter-spacing: normal !important;
  }

  .tablaBox {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
  }

  .tablaBox::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .tablaBox::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #44b5ff;
  }

  .tablaBox::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ededed;
    background-color: #f8f8f8;
  }

  .filaBandeja {
    margin-left: -8px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    border: solid 1px #C8C8C8 !important;
    background-color: #f2f2f2 !important;
    color: #1C1C1C !important;
    /*height:53px !important;*/
  }

  .textVertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 30px;
    color: #01719d;
    font-weight: bold;
    cursor: pointer;
  }

  .textVertical:hover {
    color: #8fbb02;
  }

  .menupop2 {
    display: block;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 255px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c8c8c8;
    right: 20px;
    transform: translate(-100%, 0);
  }









 /*---------------------------------------------------------------------------------------------------------------*/

  .btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

  .dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

  .scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.scrollbar{
  min-height: 150px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {

  border-spacing: 0px 5px !important;

}


.tr-table{

  background-color: #f2f2f2 !important;

}






</style>
<!--  ================================================ fin de estilo ===============================================-->
<!--  ================================================  vista bandeja inicial =======================================-->
<div class="main-content" id="HC_registros" style="display: block;">
  <a href="#" id="link" style="display:none"></a>
  <table border="0" width='100%'>
    <tr>
      <td width='100%'>
        <div class="titulo">Búsqueda de registros</div>
      </td>
    </tr>
    <tr>
      <td width='100%'>&nbsp; <table border="0" width='100%'>
          <tr>
            <td width='18%'>
              <div class="form-box">
                <span>Documento</span>
                <input id='dat_hc_a_doc' type="text" class="form-control data-filtro" data-mask="999999999" data-filtro='1'/>
              </div>
            </td>
            <td width='2%'></td>
            <td width='18%'>
              <div class="form-box">
                <span>Sede</span>
                <select class="form-control data-filtro-select" name="" id="dat_hc_a_sede" data-filtro-select='5'>
                  <!-- <option value="1">option 1</option>
                  <option value="2">option 2</option>
                  <option value="3">option 3</option> -->
                </select>
              </div>
            </td>
            <td width='2%'></td>
            <td width='18%'>
              <div class="form-box">
                <span>&Aacute;rea de trabajo</span>
                <select class="form-control data-filtro-select" name="" id="dat_hc_a_area" data-filtro-select='4'>
                  <!-- <option value="1">option 1</option>
                  <option value="2">option 2</option>
                  <option value="3">option 3</option> -->
                </select>
              </div>
            </td>
            <td width='2%'></td>
            <td width='18%'>
              <div class="form-box">
                <span>Buscar</span>
                <input type="text" id="dat_hc_a_buscar" class="form-control" />
              </div>
            </td>
            <td width='2%' class="d-none">
              <img class="inject-svg" onclick="fnSp3CargaFiltroEstadoInicialSaludOcupacional();" style="cursor:pointer;" style="margin-top: 36px !important;" src="images/iconos/search5.svg"
                   title="Buscar" />
            </td>
            <td width='18%'></td>
            <td width='2%'></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width='100%'>
        <div class="titulo">
          <div style="height:80px; background-color:white;">&nbsp;</div>
      </td>
    </tr>
    <tr>
      <td width='100%'>&nbsp; <table border="0" width='100%'>
          <tr>
            <td width='18%'>
              <div class="d-flex align-items-center">
                <div id="cant_planes">
                  <img src="images/iconos/copia-1.svg" style="width: 20px" />
                </div>
                <span class="cantidad ml-3" id="cant_hist_cli" style="font-size: 15px">0 registros</span>
              </div>
              <!--  <button class="btn btn-success btn-lg text-center" onclick="verVariablesTemp()">ver Variables</button> -->
            </td>
            <td width='2%'></td>
            <td width='18%'> &nbsp; </td>
            <td width='2%'></td>
            <td width='18%'> &nbsp; </td>
            <td width='2%'></td>
            <td width='18%'> &nbsp; </td>
            <td width='2%'> &nbsp;</td>
            <td width='20%' colspan="2">



              <table border="0" width='100%'>
                <tr>

                  <!-- <td width='20%'>
                   <div class="dropdown">
                      <a class="btn btn-drop btn-lg" href="#" role="button" id="exportarExcelBandejaHC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         style="width: 50px; height: 50px;">
                        <img id="icon" src="./images/iconos/boton-de-expansion.svg" alt="" style="width: 14px" />
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exportarExcelBandejaHC">
                        <a class="dropdown-item" onclick="exportarExcelBandeja();" style="cursor: pointer">
                          <img src="./images/iconos/download3.svg" style="width: 17px; " alt="" />
                          <span>Exportar a excel</span>
                        </a>
                      </div>
                    </div>


                  </td>
 -->
                  <td width='77%' align="right">
                    <button class="btn btn-success btn-lg text-center" onclick="showNuevaHC()">
                      <span class="ml-3">Nueva H.C</span>
                      <img src="./images/sho/plus.svg" alt="" />
                    </button>
                  </td>
                  <td class="d-none" width='6%'>&nbsp;</td>
                  <td class="d-none" width='20%'>
                    <!-- <button class="btn btn-drop btn-lg"> &nbsp; <div class="d-flex justify-content-center">
                        <img id="icon" src="./images/iconos/boton-de-expansion.svg" alt="" style="width: 14px" />
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exportarExcelBandejaHC">
                        <a class="dropdown-item" onclick="exportarExcelBandeja();" style="cursor: pointer">
                          <img src="./images/iconos/download3.svg" style="width: 17px; " alt="" />
                          <span>Exportar a excel</span>
                        </a>
                      </div>
                      <ul class="btn-drop-content" onclick="exportarExcelBandeja();">
                        <table width='100%' border='0' style="cursor: pointer;">
                          <tr>
                            <td width='10%'> <img src="./images/iconos/download3.svg" style="width: 17px; cursor: pointer;" alt="" /></td>
                            <td width='5%'> &nbsp;</td>
                            <td width='85%'><label style="margin-top:10px; cursor: pointer;">Exportar a excel</label></td>
                          </tr>
                        </table>
                      </ul>
                    </button> -->
                    <div class="dropdown">
                      <a class="btn btn-drop btn-lg" href="#" role="button" id="exportarExcelBandejaHC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         style="width: 50px; height: 50px;">
                        <img id="icon" src="./images/iconos/boton-de-expansion.svg" alt="" style="width: 14px" />
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exportarExcelBandejaHC">
                        <a class="dropdown-item" onclick="exportarExcelBandeja();" style="cursor: pointer">
                          <img src="./images/iconos/download3.svg" style="width: 17px; " alt="" />
                          <span>Exportar a excel</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="row justify-content-center mt-3 d-none">
    <div class="table-responsive tablaBox" id="tablaBox" style="background-color: white; height:100% !important; cursor:pointer; ">
      <div class="col-md-12" style=" width:2630px;">
        <div class="header-tabla px-2 py-3 " style="width:2420px !important; mmargin-rigth:30px !important;">
          <table border="0" style=" width:2410px !important; mmargin-rigth:30px !important;">
            <!-- <style=" width:1754px !important; -->
            <tr>
              <td style='width: 200px;' align="center">
                <div id="c1TabGenyx" class="text-left lbCabezaTabla">C&oacute;digo Colaborador </div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c2TabGenyx" class="text-left lbCabezaTabla">Documento</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c9TabGenyx" class="text-left lbCabezaTabla">Nombres</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c3TabGenyx" class="text-left lbCabezaTabla">Apellidos</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c4TabGenyx" class="text-left lbCabezaTabla">&Aacute;reas</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c5TabGenyx" class="text-left lbCabezaTabla">Sede</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c6TabGenyx" class="text-left lbCabezaTabla">Tel&eacute;fono</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c7TabGenyx" class="text-left lbCabezaTabla">F.Ultima atenci&oacute;n m&eacute;dica</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c8TabGenyx" class="text-left lbCabezaTabla">Diagn&oacute;stico</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c9TabGenyx" class="text-left lbCabezaTabla">&nbsp;&nbsp;&nbsp;Aptitud</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c9TabGenyx" class="text-left lbCabezaTabla">F.&Uacute;ltimo EMO</div>
              </td>
              <td style='width: 200px;' align="center">
                <div id="c9TabGenyx" class="text-left lbCabezaTabla">F.&Uacute;ltimo VMO</div>
              </td>
              <td style='width: 10px;' align="center">
                <div id="c9TabGenyx" class="text-left lbCabezaTabla">&nbsp;</div>
              </td>
            </tr>
          </table>

















          
        </div>
        <div class="body-tabla mt-4" id="bodyTablaSinAuditorias" style="display: block; font-weight: bold; width:1600px !important;">
          <div class="content-registros-no-encontrados">
            <div>
              <!-- <img src="./images/newsistema/iconos/smartWatch2.svg" style="width:128px; height: 128px;" alt="">
                                        <p class="mt-4">No Existen Incidentes/ Accidentes</p>
                                        <img src="./images/iconos/loadingAdj.gif" style="visibility: hidden;" > -->
            </div>
          </div>
        </div>
        <div class="body-tabla-list-EvalAud" id="body-tabla-list-EvalAud"></div>
        <!--   </td>
            </tr>
        </table> -->
      </div>
    </div>
    <!-- aqui ciolocamos el paginador de la bandeja -->
    <table width='100%' border='0'>
      <tr>
        <td width='100%' style="text-align:right;">
          <div id="pagination-container-EvalAud" class="mt-3"></div>
        </td>
      </tr>
    </table>

  </div>


  <div class="row mb-2 mt-3">
    <div class="table-responsive" style="overflow-y:hidden!important;">
      <table class="table-box" id="table_historias_medicas" style="margin-top: 0px !important;">
        <thead>
          <tr>
            <th>Codigo Colaborador</th>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Áreas</th>
            <th>Sede</th>
            <th>Teléfono</th>
            <th>F.Ultima atención médica</th>
            <th>Diagnóstico</th>
            <th>Aptitud</th>
            <th>F.Ultimo EMO</th>
            <th>F.Ultimo VMO</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="content_historias_medicas">
             
        </tbody>
      </table>
    </div>
  </div> 




  









</div>





    <!--  ==========================================  vista resumen del trabajador =======================================-->
    <!-- <script src="js/svg-inject.min.js"></script> -->
    <script src="js/paginator/pagination.js"></script>
    <script src="view/sho-hce/historia_clinica/gestionHistoriaClinica.js"></script>
    <script src="js/sweetalert2.js"></script>
    <script src="js/proccessExcell.js"></script>
    <script src="js/riskList.js"></script>
    <script src="js/jquery.mask.min.js"></script>
<script>

  var paObj_HistoriasMedicas = [];

  function ecSp4BuscarHistoriasMedicas() {
  
    //Se especifican los parametros para la consulta
    let url =  apiUrlsho+`/api/hce_Get_001_historia_clinica?code=5lJWTsRDsoxqo9VoOxIzfQAPyCTxUTqLpvgY5tuHluCZlSodpQ/Y7w==&NroDocumento_Trabajador_H=&AreaId_Empresa_H=0&SedeId_Empresa_H=0&Buscador=`;

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "dataType": 'json',
      "headers": headers,
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done((response) => {

      //Se asiga la respuesta de la Historia al Obj paObj_ec
      paObj_HistoriasMedicas["HistoriasMedicas"] = response.HistoriaClin;
      console.log('Objeto historia: '+ JSON.stringify(response));
      console.log("**Objeto historia crudos**", response);

      ecSp4CargarTablasHistoriasMedicas();

    });

  }

  var ObjTablaHistoriasMedicas = '';

  function ecSp4CargarTablasHistoriasMedicas(){

    let contenido = '';
    let html_tbody = '';

    contenido = $('#content_historias_medicas');
    contenido.empty();

    paObj_HistoriasMedicas["HistoriasMedicas"].forEach((Item) => {    

      html_tbody =  "<tr>";
      html_tbody += "<td>"+(Item.CodigoColaborador_Trabajador_H != null ? Item.CodigoColaborador_Trabajador_H : "---")+"</td>";
      html_tbody += "<td>"+(Item.NroDocumento_Trabajador_H != null ? Item.NroDocumento_Trabajador_H : "---")+"</td>";
      html_tbody += "<td>"+(Item.Nombres_Trabajador_H != null ? Item.Nombres_Trabajador_H : "---")+"</td>";
      html_tbody += "<td>"+(Item.Apellidos_Trabajador_H != null ? Item.Apellidos_Trabajador_H : "---")+"</td>";
      html_tbody += "<td></td>";
      html_tbody += "<td></td>";
      html_tbody += "<td>"+(Item.Telefono_Trabajador_H != null ? Item.Telefono_Trabajador_H : "---")+"</td>";    
      html_tbody += "<td></td>";
      html_tbody += "<td></td>";
      html_tbody += "<td>"+(Item.Aptitud_AM == 1 ? 'Apto' : "No Apto")+"</td>";
      html_tbody += "<td>"+(Item.FechaUltimoEMO != null ? Item.FechaUltimoEMO : "---")+"</td>";
      html_tbody += "<td>"+(Item.FechaUltimoVMO != null ? Item.FechaUltimoVMO : "---")+"</td>";
      html_tbody += "<td>";
      html_tbody += "<div class='dropdown dropleft'>";
      html_tbody += "<a class='nav-link text-vertical' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
      html_tbody += "...";
      html_tbody += "</a>";
      html_tbody += "<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4VerDetalleEnfermedadesCronicas();' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/eyeIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver registro";
      html_tbody += "</a>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4VerDetalleEnfermedadesCronicas();' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/moreIcon.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Registrar EMO";
      html_tbody += "</a>";
      html_tbody += "<a class='dropdown-item' onclick='ecSp4VerDetalleEnfermedadesCronicas();' style='cursor: pointer;'>";
      html_tbody += "<img src='./images/sho/file.svg' alt='' fill='#01719d'>";
      html_tbody += "&nbsp;&nbsp; Ver historial";
      html_tbody += "</a>";
      html_tbody += "</div>";
      html_tbody += "</div>"; 
      html_tbody += "</td>";
      html_tbody += "</tr>";

      contenido.append(html_tbody);

    });

  ///////////////////////////////////////////////////////////////////////////////////////

    ObjTablaHistoriasMedicas = $('#table_historias_medicas').DataTable({
      "pageLength": 6,
      "ordering": false,
      "scrollX": true,
      "language": {
        "paginate": {
          "next": "»",
          "previous": "«"
        },
        "loadingRecords":"Cargando registros...",
        "processing":"Procesando...",
        "infoPostFix":"",
        "zeroRecords": "No se encontraron registros"
      },
      /*buttons:[
        {extend:"excel",messageTop: 'MENSAJE SUPERIOR', title:'TITULO DEL EXCEL', className:"btn btn-info btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
            exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
        }},
        {extend:"print",messageTop: 'MENSAJE SUPERIOR', title:'TITULO DEL EXCEL',className:"btn btn-info btn-lg", text:'<i class="fa fa-print fa-1x"></i>',
            exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
        }},
        {extend:"pdf",messageTop: 'MENSAJE SUPERIOR', title:'TITULO DEL EXCEL',className:"btn btn-info btn-lg", text:'<i class="fa fa-file-pdf fa-1x"></i>',
            exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
        }}
      ],*/
      /*initComplete: function() {
          this.api().columns([7]).every(function() {
              var column = this;
              var columnIndex = column.index();

              var selects = $('select[data-column='+columnIndex+']').append('<option value=""></option>')
              .on('change', function() {
                  var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                  );

                  column
                    .search(val ? '^' + val + '$' : '', true, false)
                    .draw();
                  $('#table_sp4EnferCron_transf_diagCIE102-count-row').text(ObjTabla.page.info().recordsDisplay);
              });

              column.data().unique().sort().each(function(d, j) {

                selects.append('<option value="' + d + '">' + d + '</option>');

              });
          });
          $('body').find('.dataTables_scrollBody').addClass("scrollbar");
      },*/
      dom:
        //"<'row btn-table'<B>>"+
        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
        "<'row row-records'<'col-sm-12'tr>>"+
        "<'row row-info'<'col-sm-12 col-md-12'p>>"
    });
    
    $('#cant_interc').text(ObjTablaHistoriasMedicas.rows().count()+" registros");

    $('.scrollbar').removeClass('dataTables_scrollBody');  

    /* Inicializa la tabla cuando se hace uso del filtro fecha */
    /*$.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {

        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 8;
        var iEndDateCol = 8;

        iFini = iFini.replace(/-/g, "");
        iFfin= iFfin.replace(/-/g, "");

        var datofini=data[iStartDateCol].substring(6,10) + data[iStartDateCol].substring(3,5)+ data[iStartDateCol].substring(0,2);
        var datoffin=data[iEndDateCol].substring(6,10) + data[iEndDateCol].substring(3,5)+ data[iEndDateCol].substring(0,2);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;

      }
    );*/

  }














      //--------------- llamado inicial que carga toda la data inicial de la bandeja de historia clinica ----------------------

      _init_fnSp3SaludOcupacionalEstadoInicial();


      $(document).ready(function() { 


        //ecSp4CargarTablasHistoriasMedicas();

        //ecSp4BuscarHistoriasMedicas();

        $('.data-filtro').on('keyup', function(){
    
          ObjTablaHistoriasMedicas.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
          $('#cant_hist_cli').text(ObjTablaHistoriasMedicas.page.info().recordsDisplay+" registros");

        });

        var valor;

        $('.data-filtro-select').on('change', function(){    

          //Se busca la palabra exacta debido a que ya son datos precargados de la BD

          valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

          ObjTablaHistoriasMedicas.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

          $('#cant_hist_cli').text(ObjTablaHistoriasMedicas.page.info().recordsDisplay+" registros");

        });

        $('#dat_hc_a_buscar').on('keyup', function(){

          ObjTablaHistoriasMedicas.search($(this).val()).draw();
          $('#cant_hist_cli').text(ObjTablaHistoriasMedicas.page.info().recordsDisplay+" registros");

        });


      });



    </script>