<link rel="stylesheet" href="./view/sho-hce/descansos_medicos/css/sho.css">
<link rel="stylesheet" href="css/sweetalert2.css">
<style>

.dropdown-contentX {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentX a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentX a:hover {
  background-color: #ddd;
}

.itemBD
{

 background-color: white !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: black;
}

.itemBD:hover
{

 background-color: #c1c1c1 !important; 
 width:800px !important; 
 border-right:1px solid; 
 cursor: pointer;
 color: red;
}








</style>
<div class="container main-content">
  <!-- HSO FORM -->
  <div>
    <div class="row mb-5 d-flex align-items-center">
      <div class="col-md-6 col-sm-6 mr-auto p-2">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class=" col-md-2 col-sm-6  p-2">
        <button onclick="hcSp3ConfirmCancelarDescansoMedico()" type="button" class="btn btn-danger btn-block btn-lg" id="fn_hc_cancelar"> Cancelar <img class="inject-svg" src="./images/sho/cancelar.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
      <div class="col-md-2 col-sm-6  p-2">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="intSp3ConfirmGuardarDescanzoMedico()"> Guardar <img class="inject-svg" src="./images/sho/confirm.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>




    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nro de documento</span>
          <input type="text" id="dat_des_dni_trabajador_v" class="disable-at">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Nombres</span>
          <input type="text" id="dat_des_nombres_trabajador_v" class="disable-at">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Apellidos</span>
          <input type="text" id="dat_des_apellidos_trabajador_v" class="disable-at">
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Fecha de registro</span>
          <input type="text" id="dat_des_fr_v" class="disable-at">
        </div>
      </div>     
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>ID descanso medico</span>
          <input type="text" id="dat_des_fi_v" class="disable-at" >
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Empresa</span>
          <input type="text" id="dat_des_empresa_v" >
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Origen</span>
          <select name=""id="dat_des_origen_v" class="disable-at">
            <option selected="" value="0">          </option>
            <option value="6" title="Registro a Demanda" style="font-weight: bold;">Accidente de Trabajo</option>
            <option value="1" title="Registro a Demanda" style="font-weight: bold;">Atenciones Medicas</option>
            <option value="4" title="Registro a Demanda" style="font-weight: bold;">Enfermedades Crónicas</option>
            <option value="3" title="Registro a Demanda" style="font-weight: bold;">Enfermedades Ocupacionales</option>
            <option value="7" title="Registro a Demanda" style="font-weight: bold;">EMO</option>
            <option value="5" title="Registro a Demanda" style="font-weight: bold;">Registro a Demanda</option>
            <option value="2" title="Registro a Demanda" style="font-weight: bold;">VMO</option>
            
            <!-- <option value="4" title="Registro a Demanda" style="font-weight: bold;">Gestionate</option> -->

          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 hide-at">
        <div class="input-box-secondary">
          <span>ID de atención médica</span>
          <input type="text" id="dat_des_id_descanso_med_v" class="disable-at">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Gerencia</span>
          <select name="" id="dat_des_gerencia_v" class="disable-at">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Planta</span>
          <select name="" id="dat_des_planta_v" class="disable-at">
          </select>
        </div>
      </div>      
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Área</span>
          <select name="" id="dat_des_area_v" class="disable-at">
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Puesto de Trabajo</span>
          <input name="" id="dat_des_id_atencion_med_v" class="disable-at">          
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Estado</span>
          <select name="" id="dat_des_estado_v" >

             <option value="0"  style="font-weight: bold;">Pendiente aprobacion</option>
             <option value="1"  style="font-weight: bold;">Aprobado</option>

          </select>
        </div>
      </div>      
    </div>
    <hr class="mb-5 mt-4" />  
    <!-- Fin Datos del trabajador -->












    <!-- Adjuntar -->
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Adjuntar archivos</span>
      </div>

      <div class="col-md-12 border d-flex justify-content-center">
        <div style="margin-top:50px; margin-bottom: 40px;">
         
              <label class="btn btn-success btn-lg float-center" for="file_upload_transferencia_0" id="lb_bt_adjuntarEditar">
                        Subir archivo 
                        <img class="inject-svg" src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
               </label>
               <input type="file" id="file_upload_transferencia_0"  onchange="agregarAdjunto_1_dm(this, 0)" style="display: none;">

               
        </div>
      
      </div>
    </div>



    <!--  <div class="col-md-12">
        <span class="titulo">Adjuntar archivosxx</span>
     </div>
    <div class="col-md-3 offset-md-9 col-sm-4">
                <div class="spinner-border spinner-border-sm" id="int_spin_guardar_adjunto_0" role="status" style="display: none;">
                  <span class="sr-only">Loading...</span>
                </div>



                <label class="btn btn-success btn-lg float-right" for="file_upload_transferencia_0" id="lb_bt_adjuntarEditar">
                        Subir archivo
                        <img class="inject-svg" src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
               </label>
               <input type="file" id="file_upload_transferencia_0"  onchange="agregarAdjunto_1_dm(this, 0)" style="display: none;">
      </div> -->





    <!-- Adjuntar fin -->

    <!-- Adjuntar error-->
<!--     <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Adjuntar archivos</span>
      </div>
      <div class="col-md-12 border rounded d-flex justify-content-center border-danger table-danger m-3">        
        <div class="col-md-3 m-3">
          <p class="font-weight-bold text-danger">
            No hay archivos adjuntos
            <img class="inject-svg" src="./images/sho/advertencia.svg" alt="" fill="#ff4040" width="18px">
          </p>            
        </div>      
  
      </div>
    </div> -->
    <!-- Adjuntar error fin -->


    <!-- Datos del descanso -->
    <!-- Datos del descanso -->
    <div class="row mb-5 d-flex justify-content-between">
      <div class="col-md-6 col-sm-6 p-2">
        <span class="titulo">Datos del descanso</span>
      </div>
      <div class=" col-md-3 col-sm-6  p-2 hide-at">
        <button onclick="fnSp3ImprimirDescanso();" type="button" class="btn btn-info btn-block btn-lg" id="bt_imprimirdescanso" > 
          Imprimir descanso
          <img class="inject-svg" src="./images/sho/print.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Personal de salud</span>
          <input type="text" id="dat_des_personal_salud_v" class="check-descanso" >
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Tipo de contingencia</span>
          <select id="dat_des_tipo_contingencia_v" class="check-descanso" >
            
            <option selected="" value="0">          </option>
            <option value="1"  style="font-weight: bold;">Enfermedad Común</option>
            <option value="2"  style="font-weight: bold;">Accidente Común</option>
            <option value="3"  style="font-weight: bold;">Accidente de Trabajo</option>

          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>¿Descanso por enfermedad?</span>
          <select id="dat_des_descanso_enfermedad_v" class="check-descanso" >
            <option value="0"  style="font-weight: bold;"> Si</option>
            <option value="1"  style="font-weight: bold;"> No</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>CMP</span>
          <input type="text" id="dat_des_cmp_v" class="check-descanso">
        </div>
      </div>     
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Cantidad de días</span>
          <input type="number" min="0" id="dat_des_cant_dias_v" onchange="amSp3CalcularDiasAcumulados_DM()"  class="check-descanso">
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Días acumulados</span>
          <input type="number" min="0" id="dat_des_dias_ac_v" class="check-descanso" >
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Fecha de inicio</span>
          <input type="date"  id="dat_des_fi_v2" onchange="amSp3CalcularDiasAcumulados_DM()" class="check-descanso" >
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Fecha fin</span>
          <input type="date"  id="dat_des_ff_v" class="check-descanso" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>¿Hubo alta médica?</span>
          <select name="" id="dat_des_alta_med_v" class="check-descanso" >
               <option value="0"  style="font-weight: bold;"> Si</option>
               <option value="1"  style="font-weight: bold;"> No</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-box-secondary">
          <span>Establecimiento de emisión del descanso</span>
          <select name="" id="dat_des_establecimiento_emisión_v" class="check-descanso" >

              <option selected="" value="0">          </option>
              <option value="1"  style="font-weight: bold;">DSO</option>
              <option value="2"  style="font-weight: bold;">MINSA</option>
              <option value="3"  style="font-weight: bold;">ESSALUD</option>
              <option value="3"  style="font-weight: bold;">PARTICULR</option>



          </select>
        </div>
      </div>      
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Particular</span>
          <input name="" id="dat_des_particular_v"  class="check-descanso">          
        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4" />  
    <!-- Fin Datos del descanso -->
    <!-- Fin Datos del descanso -->

    <!-- Adjuntar 2-->
  <!-- Adjuntar -->
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Adjuntar archivos</span>
      </div>

      <div class="col-md-12 border d-flex justify-content-center">
        <div style="margin-top:50px; margin-bottom: 40px;">
         
              <label class="btn btn-success btn-lg float-center" for="file_upload_transferencia2_0" id="lb_bt_adjuntarEditar2">
                        Subir archivo 
                        <img class="inject-svg" src="./images/sho/upload.svg" fill="#fff" style="width:14px !important" />
               </label>
               <input type="file" id="file_upload_transferencia2_0"  onchange="agregarAdjunto_2_dm(this, 0)" style="display: none;">

               
        </div>
      
      </div>
    </div>
    <!-- Adjuntar 2 fin -->

    <!-- Adjuntar error-->
<!--     <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Adjuntar archivos</span>
      </div>
      <div class="col-md-12 border rounded d-flex justify-content-center border-danger table-danger m-3">        
        <div class="col-md-3 m-3">
          <p class="font-weight-bold text-danger">
            No hay archivos adjuntos
            <img class="inject-svg" src="./images/sho/advertencia.svg" alt="" fill="#ff4040" width="18px">
          </p>            
        </div>      
  
      </div>
    </div> -->
    <!-- Adjuntar error fin -->

    <!-- Diagnostico CIE 10 -->  
    <!-- Diagnostico CIE 10 -->  
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="titulo">Diagnóstico CIE 10</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Diagnostico</span>
         <!--  <input type="text" id="dat_des_diagnostico_v" > -->

          <div class="dropdown" id='listaResultado'>
                  <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn check-diagnostico-dm" placeholder="Diagnóstico" type="text" id="dat_des_diagnostico_v"
                   onkeyup="_newDiagnosticoCIE10('dat_des_diagnostico_v', 'listaResultadoHijos', 'dat_des_cie10_v', 'dat_am_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  
                  <div class="dropdown-menu show" id='listaResultadoHijos' style="display:none; ">
                    
                  </div>
                </div> 


        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>CIE 10</span>
          <!-- select id="dat_des_cie10_v" ></select>  -->
          <div class="dropdown" id='listaResultado_ii'>
                  <input autocomplete="off" class="dropbtn check-diagnostico-dm" placeholder="CIE 10"  type="text" id="dat_des_cie10_v"
                   onkeyup="_newDiagnosticoCIE102('dat_des_cie10_v', 'listaResultadoHijos2', 'dat_des_diagnostico_v', 'dat_am_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>
                  <div class="dropdown-menu show" id='listaResultadoHijos2' style="display:none; ">
                    
                  </div>
                </div> 
          <!-- <input class="input_am_diagnostico" name="" id="dat_des_cie10_v"> -->
          <input class="input_am_diagnostico" type="hidden" id="dat_am_cie_diagnostico1">



        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="input-box-secondary">
          <span>Sistema afectado</span>
          <select id="dat_des_sis_afectado_v" ></select>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-box-secondary">
          <span>Sección afectada</span>
          <select id="dat_des_sec_afectada_v" ></select>
        </div>
      </div>     
    </div>





      <div class="row mt-4">
      <div class="col-md-3 offset-md-9 col-sm-4">
        <button class="btn btn-success btn-block btn-lg float-right" id="btn_int_diagnostico_agregar" onclick="agregarDignosticoCIE10_DM()" style="width:200px"><a id="lb_bt1">Agregar a lista</a>  <img class="inject-svg" src="./images/sho/plus.svg" alt="" fill="#fff" width="18px">
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span  id="lb_diag_1_int_t" class="cantidad ml-3" style="font-size: 15px">0 registros</span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-box" id="table_hso">
            <thead>
              <tr>
                <th>Diagnostico</th>
                <th>CIE 10</th>
                <th>Fecha de registro</th>
                <th>Especialidad</th>
                <th>Sistema afectado</th>
                <th>Sección afectada</th>
                <th></th>
              </tr>
            </thead>
              <tbody id="table_diagn_cie110_1">
           <!--  <tr>
              <td>Diagnóstico 1</td>
              <td>Tipo 1</td>
              <td>27/08/2021</td>
              <td>Especialidad 1</td>
              <td>Sistema 1</td>
              <td>Sección 1</td>
              <td>
                <button type="button" class="btn btn-link shadow-none float-right">
                  <img class="inject-svg" src="./images/sho/delete.svg" alt="" fill="#ff3636" width="16px">
                </button>
              </td>
            </tr> -->
          </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- FIN DIAGNOSTICO CIE 10 -->
  </div>
  <!-- FIN HSO Forms -->
</div>

<script src="./view/sho-hce/descansos_medicos/js/main.js"></script>

<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>
<script src="js/jsPDF/dist/jspdf.debug.js"></script>
<script src="js/jsPDF/libs/html2pdf.js"></script>
<script src="./js/jsPDF/jspdf_1.5.3.js"></script>
<script src="./js/jsPDF/jspdf_autotable.js"></script>

<script type="text/javascript">
$(document).ready(() => {
  SVGInject($(".inject-svg"));
});

//alert('alguien me llama')
//$('#logoCompany1').html("Registro de Descansos Médicos"); 
$("#logoCompany1").html("<b style='width: 340px !important;' >Registro de Descansos Médicos</b>");
</script>