<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/sho.css" />
<link rel="stylesheet" href="./view/sho-hce/monitoreo/evaluar/css/form.css" />
<link rel="stylesheet"
    href="./view/sho-hce/monitoreo/evaluar/form/material-particulado/form-material-particulado.css" />



<!-- HTML -->
<div class="main-content">

    <div>
        <!-- Titulo y Botones -->
        <div class="row mb-5 align-items-center">

            <div class="col-md-4 col-sm-12">
                <span class="titulo">Datos de la evaluación</span>
            </div>

            <div class="col-md-6" id="divBtnInvisible"> </div>
            <div class="col-md-2  col-sm-6" id="divBtnCerrar">
                <button type="button" class="btn btn-info btn-block btn-lg text-white" onclick="fnCerrarEvaluacion(2);">
                    Cerrar
                    <img src="./images/sho/trazado1350.svg" alt="Cerrar">
                </button>
            </div>
            <div class="col-md-2  col-sm-6" id="divBtnAnular">
                <button type="button" class="btn clsBtnAnular btn-block btn-lg text-white"
                    onclick="fnAnularEvaluacion(3);">
                    Anular
                    <img src="./images/sho/anular.svg" alt="Anular">
                </button>
            </div>
            <div class="col-md-2 col-sm-6" id="divBtnCancelar">
                <button type="button" class="btn btn-danger btn-block btn-lg" onclick="fnVolverIndexMonitoreoEva();">
                    Cancelar
                    <img src="./images/sho/cancelar.svg" alt="Cancelar">
                </button>
            </div>
            <div class="col-md-2 col-sm-6" id="divBtnProgramar">
                <button type="button" class="btn btn-success btn-block btn-lg" id="btnProgramar"
                    onclick="fnProgramarEvaluacion(4);"> Programar
                    <img src="./images/sho/confirm.svg" alt="Programar">
                </button>
            </div>
            <div class="col-md-2 col-sm-6" id="divBtnGuardar">
                <button type="button" class="btn btn-success btn-block btn-lg" id="btnGuardar"
                    onclick="fnGuardarEvaluacion();"> Guardar
                    <img src="./images/sho/confirm.svg" alt="Guardar">
                </button>
            </div>

        </div>

        <form>

            <fieldset id="fieldset1">
                <!-- Datos del Área -->

                <div class="row">

                    <div class="col-md-3">
                        <div class="input-box-secondary">
                            <span>ID evaluación</span>
                            <input type="text" id="sCodEvaluacion" required disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-box-secondary">
                            <span>ID tarea de monitoreo</span>
                            <input type="text" id="sCodTareaMonitoreo" required disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-box-secondary">
                            <span>Fecha de programación</span>
                            <input type="date" id="dFechaProgramacion" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-box-secondary">
                            <span>Fecha de registro</span>
                            <input type="date" id="dFechaRegistro" required>
                        </div>
                    </div>

                </div>

            </fieldset>

            <fieldset id="fieldset2">

                <section>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Gerencia</span>
                                <select class="submit" name="" id="dat_gerencia" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Sede</span>
                                <select class="submit" name="" id="dat_sede" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Área</span>
                                <select class="submit" name="" id="dat_area" required disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Puesto de Trabajo</span>
                                <select class="submit" name="" id="dat_puesto" required disabled>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Zona</span>
                                <select class="submit" name="" id="dat_zona" required disabled>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Etapa</span>
                                <select class="submit" name="" id="dat_etapa" required disabled>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-9 col-sm-12">
                            <div class="input-box-secondary">
                                <span>Descripción Zona</span>
                                <input type="text" name="" id="sDescripcionZona" class="submit">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="input-box-secondary">
                                <span>Fuente de material particulado</span>
                                <input type="text" name="" id="sFuente" required>
                            </div>
                        </div>

                    </div>

                </section>

                <hr class="mb-5 mt-4" />

                <!-- Datos del Evaluado -->
                <section>

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Datos del Evaluado</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nro de documento</span>
                                <input type="text" id="sNumeroDoc" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nombres</span>
                                <input type="text" id="sNombres" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Apellidos</span>
                                <input type="text" id="sApellidos" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Jornada de Trabajo (Horas)</span>
                                <input type="number" id="nRegimen" required>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Tiempo en el puesto (meses)</span>
                                <input type="number" id="nTiempoPuesto" required disabled>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Tiempo de almuerzo</span>
                                <input type="number" id="nTiempoAlmuerzo">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-box-secondary">
                                <span>Actividades generales</span>
                                <input type="text" id="sActivGeneral" required>
                            </div>
                        </div>

                    </div>
                </section>

                <hr class="mb-5 mt-4" />

                <!-- Controles Existentes -->
                <section>

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Controles existentes</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Ingeniería</span>
                                <select class="submit" name="" id="dat_Ingenieria" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-box-secondary">
                                <span>Detallar</span>
                                <input type="text" id="sDetallar" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Administrativo</span>
                                <input type="text" id="sAdministrativo" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>EPP</span>
                                <select class="submit" name="" id="dat_EPP" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Marca</span>
                                <input type="text" id="sMarcaControl" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Modelo</span>
                                <input type="text" id="sModeloControl" required>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>NRR del Equipo</span>
                                <input type="text" id="sNRREquipo" required>
                            </div>
                        </div> -->

                    </div>

                    <div class="row" id="divDobleProteccion">

                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Marca 2</span>
                                <input type="text" id="sMarcaControl_2" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Modelo 2</span>
                                <input type="text" id="sModeloControl_2" >
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                          <div class="input-box-secondary">
                            <span>NRR del Equipo 2</span>
                            <input type="text" id="sNRREquipo_2" >
                          </div>
                        </div> -->

                    </div>

                </section>

                <hr class="mb-5 mt-4" />

                <!-- Equipo de Medición -->
                <section>

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Equipo de medición</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Marca</span>
                                <input type="text" id="sMarcaMedicion" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Modelo</span>
                                <input type="text" id="sModeloMedicion" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nro de serie</span>
                                <input type="text" id="sNumSerie" required>
                            </div>
                        </div>

                    </div>

                </section>

                <hr class="mb-5 mt-4" />

                <!-- Datos de monitoreo -->
                <section>

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Datos de monitoreo</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Lugar</span>
                                <input type="text" id="sCodigoFiltro" class="submit submit-anular">
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-2 col-sm-6" id="divBtnAgregar">
                            <button type="button" class="btn btn-success btn-block btn-lg" id="btnAgregar"
                                onclick="fnAgregarFila();"> Agregar a lista
                                <img src="./images/sho/confirm.svg" alt="Agregar Codigo Filtro">
                            </button>
                        </div>
                    </div>

                    <!-- Nro de registros -->
                    <div class="row justify-content-between">

                        <div class="col-md-6 p-2 mr-auto mt-4">
                        </div>

                        <div class="col-md-6 p-2 mr-auto text-right">
                            <div class="align-items-center">
                                <div id="cant_planes">
                                    <img src="images/iconos/copia-1.svg" style="width: 20px" />
                                    <span class="cantidad" style="font-size: 15px">
                                        <span id="table_form_mat_part-count-row"></span> registros </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Table -->
                    <div class="row mb-2">
                        <div class="table-responsive" style="overflow-y:hidden!important;">
                            <table class="table-box" id="table_form_mat_part" style="margin-top: 0px !important;">
                                <thead>
                                    <tr>
                                        <th>Nro</th>
                                        <th>Código de Filtro</th>
                                        <th>Seleccionar filtro en blanco</th>
                                        <th>Hora inicio</th>
                                        <th>Hora fin</th>
                                        <th>Tiempo por filtro (minutos)</th>
                                        <th>Pesaje inicial (mg)</th>
                                        <th>Pesaje final (mg)</th>
                                        <th>Peso de la muestra (g)</th>
                                        <th>Volumen (L)</th>
                                        <th>Concentración por filtro (mg/m3)</th>
                                        <th>Estado</th>
                                        <th>Motivo Anulación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_table_form_mat_part">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Table fin -->

                </section>

                <hr class="mb-5 mt-4" />

                <section>

                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="input-box-secondary">
                                <span>Descripción de exposición por filtro
                                </span>
                                <input type="text" id="sDescripcionExposicion" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="input-box-secondary">
                                <span>Concentración por puesto (mg/m3)</span>
                                <input type="number" id="nConcentracion" step="0.01" required>
                            </div>
                        </div>
                    </div>


                </section>

                <hr class="mb-5 mt-4" />

                <!-- Resultados -->
                <section>

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Resultados del Puesto</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>LMP</span>
                                <input type="text" id="nLMP" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>LMP corregido (mg/m3)
                                </span>
                                <input type="text" id="nLMPCorregido" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Nivel de Acción (mg/m3)
                                </span>
                                <input type="text" id="nNivelAccion" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-box-secondary">
                                <span>Índice de Exposición (%)</span>
                                <input type="text" id="nIndiceExposicion" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Nivel de Riesgo</span>
                                <select class="submit" name="" id="dat_NivelRiesgo" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Cumplimiento de Normativa</span>
                                <select class="submit" name="" id="dat_CumplimientoNormativa" required>
                                </select>
                            </div>
                        </div>

                    </div>

                </section>

                <!-- Anulación de Evaluación -->
                <section id="divMotivoAnulacion">

                    <hr class="mb-5 mt-4" />

                    <div class="row mb-5 d-flex align-items-center">
                        <div class="col-md-12">
                            <span class="titulo">Anulación de evaluación</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Motivo</span>
                                <select class="submit" name="" id="dat_motivo_select" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <div class="input-box-secondary">
                                <span>Detalle de anulación</span>
                                <input type="text" id="sMotivoAnulacion" class="submit submit-anular" disabled>
                            </div>
                        </div>
                    </div>

                </section>

            </fieldset>

        </form>
    </div>

</div>



<!-- Librerias JS -->
<script src="view/sho-hce/monitoreo/evaluar/js/commonMonitoreo.js"></script>
<script src="./view/sho-hce/monitoreo/evaluar/form/material-particulado/form-material-particulado.js"></script>

<script src="js/select2.min.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>