<!-- Hojas de Estilo CSS -->
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="css/dataTable.css">
<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="./view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/css/sho.css">
<link rel="stylesheet"
    href="./view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/lista-seguimiento/lista-seguimiento.css">


<!-- Page JS Plugins BOTONES -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<!-- FIN Page JS Plugins BOTONES -->


<!-- HTML -->
<div class="main-content-ec">

    <div>

        <!-- Nav-tabs -->
        <div class="row mb-5 mt-1">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-5" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho" data-seccion="Identificar" id="identificar-tab"
                            data-toggle="tab" href="#" role="tab" aria-controls="identificarTab"
                            aria-selected="false">Identificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho" data-seccion="Evaluar" id="evaluar-tab" data-toggle="tab"
                            href="#" role="tab" aria-controls="evaluarTab" aria-selected="false">Evaluar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho active" id="controlar-tab" data-toggle="tab" href="#" role="tab"
                            aria-controls="controlarTab" aria-selected="true">Controlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ho disabled" id="indicador-tab" data-toggle="tab" href="#"
                            role="tab" aria-controls="indicadorTab" aria-selected="false">Indicadores</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Busqueda de registro  -->
        <div class="row mb-5 d-flex justify-content-between align-items-center">
            <div class="p-2 mr-auto">
                <span class="titulo">Seguimiento de controles</span>
            </div>
        </div>

        <!-- Fila 1 -->
        <div class="row mb-3">

            <div class="col-md">
                <div class="form-box">
                    <span>ID control</span>
                    <select class="form-control data-filtro-select" id="dat_id_control" data-placeholder=""
                        data-filtro-select='6'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Origen incidencia</span>
                    <select class="form-control data-filtro-select" id="dat_origen" data-placeholder=""
                        data-filtro-select='7'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>ID incidencia</span>
                    <select class="form-control data-filtro-select" id="dat_id_incidencia" data-placeholder=""
                        data-filtro-select='8'>
                    </select>
                </div>
            </div>


            <div class="col-md">
                <div class="form-box">
                    <span>Fecha desde</span>
                    <input type="date" class="form-control" id="dFechaDesde">
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Fecha hasta</span>
                    <input type="date" class="form-control" id="dFechaHasta">
                </div>
            </div>

        </div>

        <!-- Fila 2 -->
        <div class="row mb-3">

            <div class="col-md">
                <div class="form-box">
                    <span>Estado control</span>
                    <select class="form-control data-filtro-select" id="dat_estado" data-placeholder=""
                        data-filtro-select='11'>
                    </select>
                </div>
            </div>

            <div class="col-md">
                <div class="form-box">
                    <span>Área responsable</span>
                    <select class="form-control data-filtro-select" id="dat_area" data-placeholder=""
                        data-filtro-select='12'>
                    </select>
                </div>
            </div>

            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            
        </div>


        <!-- Busqueda de registro  -->

        <!-- Nro de registros -->
        <div class="row justify-content-between">

            <div class="col-md-6 p-2 mr-auto mt-4">
            </div>

            <div class="col-md-6 p-2 mr-auto text-right">
                <div class="align-items-center">
                    <div id="cant_planes">
                        <img src="images/iconos/copia-1.svg" style="width: 20px" />
                        <span class="cantidad" style="font-size: 15px">
                            <span id="table_seguimiento_controles-count-row"></span> registros </span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Table -->
        <div class="row mb-2">
            <div class="table-responsive" style="overflow-y:hidden!important;">
                <table class="table-box" id="table_seguimiento_controles"
                    style="margin-top: 0px !important; width: 100%;">
                    <thead>
                        <tr>
                            <th>Gerencia</th>
                            <th>Sede</th>
                            <th>Área</th>
                            <th>Puesto de Trabajo</th>                            
                            <th>Control a Implementar</th>
                            <th>ID control</th>
                            <th>Origen incidencia</th>
                            <th>ID incidencia</th>
                            <th>Fecha acordada</th>
                            <th>Fecha cierre</th>
                            <th>Estado control</th>
                            <th>Área responsable</th>
                            <th>Responsable</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="content_seguimiento_controles">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Table fin -->
    </div>

</div>


<!-- Librerias JS -->
<script src="view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/js/commonSeguimiento.js"></script>
<script
    src="view/sho-hce/higiene_ocupacional/controlar/seguimiento_controles/lista-seguimiento/lista-seguimiento.js"></script>
<script src="js/sweetalert2.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/svg-inject.min.js"></script>