
  <div class="row mb-5">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Nro de documento</span>
                  <input type="text" id="dat_at_dni_trabajador" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Nombres</span>
                  <input type="text" id="dat_at_nombres_trabajador" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Apellidos</span>
                  <input type="text" id="dat_at_apellidos_trabajador" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Fecha de nacimiento</span>
                  <input type="date" id="dat_at_fecha_trabajador" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Edad</span>
                  <input type="text" id="dat_at_edad_trabajador" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Fecha de ingreso a tasa</span>
                  <input type="date" id="dat_at_fecha_ingreso" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Fecha de retiro</span>
                  <input type="date" id="dat_at_fecha_retiro" disabled>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Gerencia</span>
                  <select disabled id="dat_at_gerencia_trabajador">
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Planta</span>
                  <select id="dat_at_planta_trabajador" disabled>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Área</span>
                  <select id="dat_at_area_trabajador" disabled>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Puesto de trabajo</span>
                  <input id="dat_at_puesto_trabajo_trabajador" disabled />
              </div>
          </div>
      </div>
  </div>
  <div id="secion_at_adjuntar_iat">
    <div class="row mb-5">
        <div class="col-md-12 d-flex">
            <h2 class="title-section">
                Adjuntar IAT
            </h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="input_file_upload border-content">
              <label class="btn btn-success btn-lg" for="file_upload_iat">
                <div class="spinner-border spinner-border-sm" id="am_spin_guardar_adjunto_IAT" role="status" style="display: none">
                  <span class="sr-only">Loading...</span>
                </div>
                <span> Subir archivo </span>
                <img src="./images/sho/upload.svg" style="width:14px !important">
              </label>
              <input type="file" id="file_upload_iat" accept="application/pdf, .pdf, .doc, docx, .odf"
                onchange="atSp4CapturarAdjunto(this,'IAT',1)">
            </div>
        </div>
    </div>
  </div>
  <div class="row mb-5" style="display:none;" id="secion_at_iat_list">
    <div class="col-md-12 mt-3">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_iat" style="font-size: 15px">0 archivos</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive tablaBox">
        <table class="table-box">
            <thead>
                <th>Documento</th>
                <th>Fecha de subida</th>
                <th></th>
            </thead>
            <tbody id="content_sp4_AT_table_iat">
              <tr>
                <td colspan="3" class="text-center">No se encontraron resultados.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>




  <div id="secion_at_adjuntar_iat_img">
    <div class="row mb-5">
        <div class="col-md-12 d-flex">
            <h2 class="title-section">
                Imagen IAT
            </h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="input_file_upload border-content">
              <label class="btn btn-success btn-lg" for="file_upload_iat_img">
                <div class="spinner-border spinner-border-sm" id="am_spin_guardar_adjunto_IAT_img" role="status" style="display: none">
                  <span class="sr-only">Loading...</span>
                </div>
                <span> Subir archivo </span>
                <img src="./images/sho/upload.svg" style="width:14px !important">
              </label>
              <input type="file" id="file_upload_iat_img" accept=".jpg, .png, .jpeg, .gif, .bmp"
                onchange="atSp4CapturarAdjunto(this,'IAT',3)">
            </div>
        </div>
    </div>
  </div>
  <div class="row mb-5" style="display:none;" id="secion_at_iat_list_img">
    <div class="col-md-12 mt-3">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_iat_img" style="font-size: 15px">0 archivos</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive tablaBox">
        <table class="table-box">
            <thead>
                <th>Documento</th>
                <th>Fecha de subida</th>
                <th></th>
            </thead>
            <tbody id="content_sp4_AT_table_iat_img">
              <tr>
                <td colspan="3" class="text-center">No se encontraron resultados.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>




  <hr/>
  <div class="row mb-5">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
              Datos del accidente
          </h2>
      </div>
  </div>
  <div class="row mb-5">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Accidente de trabajo</span>
                  <select id="input_at_accidente_trabajo" class="submit">
                    <option value="" selected></option>
                    <option value="1">Primeros Auxilios</option>
                    <option value="2">Leve</option>
                    <option value="3">Incapacitante</option>
                    <option value="4">Fatal</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Fecha de registro</span>
                  <input type="date" name="" id="input_at_fecha_registro" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Fecha de accidente</span>
                  <input type="date" id="input_at_fecha_accidente" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Hora de accidente</span>
                  <input type="time" id="input_at_hora_accidente" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Lugar de accidente</span>
                  <input type="text" id="input_at_lugar_accidente" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Estado</span>
                  <select id="input_at_estado" class="submit">
                    <option value="" selected></option>
                    <option value="1">Abierto</option>
                    <option value="0">Cerrado</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Jefe directo de TASA</span>
                  <input type="text" id="input_at_jefe" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Nro de teléfono de Jefe directo</span>
                  <input type="text" id="input_at_jefe_telefono" class="submit">
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Anamnesis</span>
                  <input type="text" id="input_at_anamnesis" class="submit">
              </div>
          </div>
      </div>
  </div>
  <hr/>
  <div class="row mb-5 align-items-center">
      <div class="col-md-12">
        <span class="titulo">Signos vitales</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/arterial.svg">
           <span>Presión arterial (mmHg)</span>
        </div>
        <div class="input_hc_sp3 d-flex">
          <div>
            <label style="position: absolute;top: -20px;"><b>S&iacute;stole</b></label>
            <input class="form-control submit" type="number" value="0" min="0" id="input_at_presion_arterial_sv">
          </div>
          <div>
            <label style="position: absolute;top: -20px;"><b>Di&aacute;stole</b></label>
            <input class="form-control submit" type="number" value="0" min="0" id="input_at_presion_arterial2_sv">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/cardiaca.svg">
           <span>Frecuencia cardiaca  (LPM)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="input_at_frecuencia_cardiaca_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/respiratoria.svg">
          <span>Frecuencia respiratoria (RPM)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="input_at_frecuencia_respiratoria_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/saturacion.svg">
          <span>Saturación (%)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="input_at_saturacion_sv">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item-sig-vital mb-3 px-4">
        <div class="d-flex">
          <img src="./images/sho/temperatura.svg" style="left: 30px">
          <span>Temperatura (°C)</span>
        </div>
        <div class="input_hc_sp3">
          <input class="form-control submit" type="number" value="0" min="0" id="input_at_temperatura_sv">
        </div>
      </div>
    </div>
  <hr/>
  <div class="row mb-5">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
              Examen físico - Estado general
          </h2>
      </div>
  </div>
  <div class="row mb-5">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Estado de conciencia</span>
                  <select id="input_at_conciencia_examen" class="submit">
                    <option value="" selected></option>
                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Malo</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Estado de Nutrición</span>
                  <select name="" class="submit" id="input_at_nutricion_examen">
                    <option value="" selected></option>
                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Malo</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Estado general</span>
                  <select name="" class="submit" id="input_at_general_examen">
                    <option value="" selected></option>
                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Malo</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Estado de hidratación</span>
                  <select name="" class="submit" id="input_at_hidratacion_examen">
                    <option value="" selected></option>
                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Malo</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Orofaringe</span>
                  <input type="text" class="submit" id="input_at_orofaringe_examen">
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Tórax y pulmones</span>
                  <input type="text" class="submit" id="input_at_torax_examen">
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Cardio vascular</span>
                  <input type="text" class="submit" id="input_at_cardio_examen">
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>SOMA</span>
                  <input type="text"  class="submit" id="input_at_soma_examen">
              </div>
          </div>
      </div>
  </div>
  <hr/>
  <div class="row mb-3">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
             Otros
          </h2>
      </div>
  </div>
  <div class="row mb3 hide-detail-page">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Tipo de evaluación</span>
                  <select class="check-otros" id="input_at_tipo_evaluacion_otro">
                    <option value="" selected></option>
                    <option value="1">Aparato digestivo</option>
                    <option value="2">Aparato genito-urinario</option>
                    <option value="3">Evaluación neurológica</option>
                    <option value="4">Piel y Faneras</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Escribir detalle</span>
                  <input type="text" class="check-otros" id="input_at_detalle_evaluacion_otro">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <button class="btn btn-block btn-lg btn-success" 
              style="width: 200px; float:right;" onclick="atSp4GuardarEvaluacionOtrosAccidenteTrabajo()" >Agregar a la lista <img src="./images/sho/plus.svg" alt=""/>
          </button>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_evaluacion_otro" style="font-size: 15px">0 registros</span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
      <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Tipo de evaluación</th>
                    <th>Detalle</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_evaluacion_otro">
                    <tr>
                      <td colspan="3" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
  </div>
  <hr/>
  <div class="row mb-3">
    <div class="col-md-12 d-flex">
        <h2 class="title-section">
          Diagnóstico CIE 10
        </h2>
    </div>
  </div>
  <div class="row mb-5 hide-detail-page">
    <div class="col-md-3">
        <div class="form-group m-0">
            <div class="input-box-secondary">
                <span>Diagnóstico</span>
                <div class="dropdown">
                  <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn check-diagnosticocie10" placeholder="Diagnóstico" type="text" id="sp4_at_diagCIE10_diag"
                   onkeyup="_newDiagnosticoCIE10('sp4_at_diagCIE10_diag', 'results_diagCIE10_diag', 'sp4_at_diagCIE10_cie10', 'dat_amT_cie_diagnostico1');" 
                   style='background:white; border:1px solid; color:black;'>              
                  <div class="dropdown-menu show" id='results_diagCIE10_diag' style="display:none; max-width: fit-content;">                
                  </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group m-0">
          <div class="input-box-secondary ">
            <span>CIE 10</span>
            <div class="dropdown" id='listaResultado_ii_INT'>
              <input autocomplete="off" placeholder="CIE 10" class="dropbtn check-diagnosticocie10" style=" font-size: 13px;" type="text" id="sp4_at_diagCIE10_cie10"
               onkeyup="_newDiagnosticoCIE102('sp4_at_diagCIE10_cie10', 'results_diagCIE10_cie10', 'sp4_at_diagCIE10_diag', 'dat_amT_cie_diagnostico1');" 
               style='background:white; border:1px solid; color:black;'>
              <div class="dropdown-menu show" id='results_diagCIE10_cie10' style="display:none; max-width: fit-content">              
              </div>
            </div> 
            <input type="hidden" id="dat_amT_cie_diagnostico1">
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group m-0">
            <div class="input-box-secondary">
                <span>Sistema afectado</span>
                <select id="input_at_sistema_afectado" class=""></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group m-0">
            <div class="input-box-secondary">
                <span>Sección afectada</span>
                <select id="input_at_seccion_afectada" class=""></select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success btn-block btn-lg"
         style="width:200px; float:right;" onclick="atSp4GuardarDiagnosticoCie10AccidenteTrabajo()"> Agregar a la lista <img src="./images/sho/plus.svg" alt=""/>
        </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_diagCIE10" style="font-size: 15px">0 registros</span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="table-responsive tablaBox">
        <table class="table-box">
          <thead>
            <th>Diagnóstico</th>
            <th>CIE 10</th>
            <th>Fecha de registro</th>
            <th>Especialidad</th>
            <th>Sistema afectado</th>
            <th>Sección afectada</th>
            <th></th>
          </thead>
          <tbody id="content_sp4_AT_table_diagCIE10">
            <tr>
              <td colspan="7" class="text-center">No se encontraron resultados.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mb-5">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
             Atención en DSO
          </h2>
      </div>
  </div>
  <div class="row mb-5 hide-detail-page">
      <div class="col-md-4">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Registro de atención</span>
                  <input type="text" class="check-dso" id="input_at_registro_atencion_dso">
              </div>
          </div>
      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-success btn-block btn-lg"
           style="width:200px; float:right;" onclick="atSp4GuardarDsoAccidenteTrabajo()"> Agregar a la lista <img src="./images/sho/plus.svg" alt="" />
        </button>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_atencion_dso" style="font-size: 15px">0 registros</span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
      <div class="col-sm-12">
        <div class="table-responsive tablaBox">
          <table class="table-box">
              <thead>
                  <th>Detalle de atención</th>
                  <th>Fecha de registro</th>
                  <th>Hora de registro</th>
                  <th></th>
              </thead>
              <tbody id="content_sp4_AT_table_atencion_dso">
                  <tr>
                    <td colspan="4" class="text-center">No se encontraron resultados.</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div>
  <hr/>
  <div class="row mb-3">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
             Atención en centro de salud
          </h2>
      </div>
  </div>
  <div class="row mb-5 hide-detail-page">
      <div class="col-md-4">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Ingresar detalle</span>
                  <input type="text" class="check-centro-salud" id="input_at_detalle_atencion_centro_salud">
              </div>
          </div>
      </div>
     <div class="col-md-4">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Ingresar centro de salud</span>
                  <input type="text" class="check-centro-salud" id="input_at_centro_atencion_centro_salud">
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <button type="button" class="btn btn-success btn-block btn-lg"
           style="width:200px; float:right;" onclick="atSp4GuardarAtencionCentroAccidenteTrabajo()"> Agregar a la lista <img src="./images/sho/plus.svg" alt="" />
          </button>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_atencion_centro_salud" style="font-size: 15px">0 archivos</span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
      <div class="col-sm-12">
        <div class="table-responsive tablaBox">
          <table class="table-box">
              <thead>
                  <th>Detalle</th>
                  <th>Fecha de registro</th>
                  <th>Hora de registro</th>
                  <th></th>
              </thead>
              <tbody id="content_sp4_AT_table_atencion_centro_salud">
                  <tr>
                    <td colspan="4" class="text-center">No se encontraron resultados.</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div>
  <div id="secion_at_adjuntar_2">
    <div class="row mb-3">
        <div class="col-md-12 d-flex">
            <h2 class="title-section">
               Adjuntar archivo
            </h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="input_file_upload border-content">
              <label class="btn btn-success btn-lg" for="file_upload_at_adjunto2">
                <span> Subir archivo </span>
                <img src="./images/sho/upload.svg" style="width:14px !important">
              </label>
              <input type="file" id="file_upload_at_adjunto2" accept="application/pdf, .pdf, .doc, docx, .odf" 
              onchange="atSp4CapturarAdjunto(this,'IAT',2)">
            </div>
        </div>
    </div>
  </div>
  <div class="row mb-5" style="display:none;" id="secion_at_adjunto_2">
    <div class="col-md-12 mt-3">
      <div class="d-flex align-items-center">
        <div id="">
          <img src="images/iconos/copia-1.svg" style="width: 20px" />
        </div>
        <span class="cantidad ml-3" id="dat_at_cant_adjunto_2" style="font-size: 15px">0 archivos</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive tablaBox">
        <table class="table-box">
            <thead>
                <th>Documento</th>
                <th>Fecha de subida</th>
                <th></th>
            </thead>
            <tbody id="content_sp4_AT_table_adjunto_2">
              <tr>
                <td colspan="3" class="text-center">No se encontraron resultados.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mb-3">
      <div class="col-md-12 d-flex">
          <h2 class="title-section">
             Información
          </h2>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-md-12">
          <ul class="tabs">
              <li class="tabs-item active" id="descansos">Descanso médico</li>
              <li class="tabs-item" id="transferencias">Transferencias</li>
              <li class="tabs-item" id="seguimientos">Registro de seguimiento</li>
              <li class="tabs-item" id="alta-especialistas">Altas de especialidades</li>
              <li class="tabs-item" id="informes">Informe médicos</li>
              <li class="tabs-item" id="examenes-auxiliares">Exámenes auxiliares</li>
              <li class="tabs-item" id="evaluaciones">Evaluaciones post alta médica</li>
          </ul>
      </div>
  </div>
  <div class="row mb-5 tab-section" id="section-descansos">
    <div class="col-md-12">
      <div class="row" id="at_nuevo_descanso">
          <div class="col-md-12 mb-3 hide-detail-page" >
            <div class="input_file_upload border-content">
              <button class="btn btn-block btn-lg btn-success" 
                  onclick="atsp4ShowModal('nuevo-descanso')"
                  style="width: 200px; float: right;">Nuevo descanso
                  <img src="./images/sho/plus.svg" alt="" />
              </button>
            </div>
        </div>
      </div>
      <div class="row" id="at_lista_descanso" style="display:none;">
        <div class="col-md-12 mb-3 hide-detail-page">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nuevo-descanso')"
                style="width: 200px; float: right;">Nuevo descanso
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_descanso" style="font-size: 15px">0 archivos</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>F. Inicio</th>
                    <th>F. Fin</th>
                    <th>Días</th>
                    <th>Días acumulados</th>
                    <th>Dias restantes</th>
                    <th>Diagnóstico</th>
                    <th>Tipo de contingencia</th>
                    <th>Establecimiento de emisión</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_descanso">
                    <tr>
                      <td colspan="9" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-transferencias" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nueva_transferencia">
        <div class="col-md-12 mb-3 hide-detail-page">
            <div class="input_file_upload border-content">
              <button class="btn btn-block btn-lg btn-success" 
                  onclick="atsp4ShowModal('nueva-transferencia')"
                  style="width: 200px; float: right;">Nueva transferencia
                  <img src="./images/sho/plus.svg" alt="" />
              </button>
            </div>
        </div>
      </div>
      <div class="row" id="at_lista_transferencia" style="display:none">
        <div class="col-md-12 mb-3 hide-detail-page">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nueva-transferencia')"
                style="width: 200px; float: right;">Nueva transferencia
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_transferencia" style="font-size: 15px">0 archivos</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Informe</th>
                    <th>Establecimiento</th>
                    <th>Fecha de Transferencia</th>
                    <th>Diagnóstico Especialista</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_transferencia">
                    <tr>
                      <td colspan="5" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-seguimientos" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nuevo_seguimiento">
        <div class="col-md-12 mb-3 hide-detail-page" >
            <div class="input_file_upload border-content">
              <button class="btn btn-block btn-lg btn-success" 
                  onclick="atsp4ShowModal('nuevo-seguimiento')"
                  style="width: 200px; float: right;">Nuevo seguimiento
                  <img src="./images/sho/plus.svg" alt="" />
              </button>
            </div>
        </div>
      </div>
      <div class="row" id="at_lista_seguimiento" style="display:none;">
        <div class="col-md-12 mb-3 hide-detail-page ">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nuevo-seguimiento')"
                style="width: 200px; float: right;">Nuevo seguimiento
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_seguimiento" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Fecha de seguimiento</th>
                    <th>Hora de seguimiento</th>
                    <th>Comentario</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_seguimiento">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-alta-especialistas" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nuevo_alta">
        <div class="col-md-12 mb-3 hide-detail-page">
            <div class="input_file_upload border-content">
              <button class="btn btn-block btn-lg btn-success" 
                  onclick="atsp4ShowModal('nueva-alta-especialidad')"
                  style="width: 200px; float: right;">Crear alta
                  <img src="./images/sho/plus.svg" alt="" />
              </button>
            </div>
        </div>
      </div>
      <div class="row" id="at_lista_alta" style="display:none">
        <div class="col-md-12 mb-3 hide-detail-page ">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nueva-alta-especialidad')"
                style="width: 200px; float: right;">Crear alta
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_alta" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Diagnóstico</th>
                    <th>Documentos escaneados</th>
                    <th>F. alta</th>
                    <th>RNE especialista</th>
                    <th>Nombre de especialista</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_alta">
                    <tr>
                      <td colspan="6" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-informes" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nuevo_informes">
        <div class="col-md-12 mb-3 hide-detail-page">
          <div class="input_file_upload border-content">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nuevo-informe')"
                style="width: 200px; float: right;">Nuevo informe
                <img src="./images/sho/plus.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="row" id="at_lista_informes" style="display:none">
        <div class="col-md-12 mb-3 hide-detail-page">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nuevo-informe')"
                style="width: 200px; float: right;">Nuevo informe
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_am_cant_informes" style="font-size: 15px">0 archivos</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Fecha de informe</th>
                    <th>Especialidad</th>
                    <th>Diagnóstico</th>
                    <th>Resultados escaneados</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_informes">
                    <tr>
                      <td colspan="5" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-examenes-auxiliares" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nuevo_examenes_auxiliares">
       <div class="col-md-12 mb-3 hide-detail-page">
          <div class="input_file_upload border-content" >
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nuevo-examen-auxiliar')"
                style="width: 200px; float: right;">Nuevo examen
                <img src="./images/sho/plus.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="row" id="at_lista_examenes_auxiliares" style="display:none;">
        <div class="col-md-12 mb-3 hide-detail-page ">
          <button class="btn btn-block btn-lg btn-success" 
              onclick="atsp4ShowModal('nuevo-examen-auxiliar')"
              style="width: 200px; float: right;">Nuevo examen
              <img src="./images/sho/plus.svg" alt="" />
          </button>
        </div>
        <div class="col-md-12" >
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_am_cant_examenes-auxiliares" style="font-size: 15px">0 archivos</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>F. Exámenes</th>
                    <th>Tipo de examen</th>
                    <th>Conclusión</th>
                    <th>Resultados escaneados</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_examenes-auxiliares">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 tab-section" id="section-evaluaciones" style="display:none">
    <div class="col-md-12">
      <div class="row" id="at_nueva_evaluaciones" class="hide-detail-page">
        <div class="col-md-12 mb-3">
          <div class="input_file_upload border-content">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nueva-evaluacion')"
                style="width: 200px; float: right;">Nueva atención
                <img src="./images/sho/plus.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="row" id="at_lista_evaluaciones" style="display:none">
        <div class="col-md-12 mb-3 hide-detail-page">
            <button class="btn btn-block btn-lg btn-success" 
                onclick="atsp4ShowModal('nueva-evaluacion')"
                style="width: 200px; float: right;">Nueva atención
                <img src="./images/sho/plus.svg" alt="" />
            </button>
        </div>
        <div class="col-md-12">
          <div class="d-flex align-items-center">
            <div id="">
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_evaluaciones" style="font-size: 15px">0 archivos</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Fecha de atención</th>
                    <th>Diagnóstico</th>
                    <th>Aptitud</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_evaluaciones">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="modalAccidenteTrabajo" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered rounded" role="document" style="max-width: 1366px;">
        <div class="modal-content rounded border-0" style="background:#ffffff; min-height: 300px !important; ">
          <div style="overflow: hidden; min-height: 1500px; overflow-x: hidden;">
            <! START MODAL-HEADER>
              <div class="modal-header fix-header-modal">
                <div class="card-header text-white modal-dialog-centered card-header-FormAuditor" id="red-head"
                     style="width: 100%; padding: 0px 0px !important; background-color:#254373 !important;">
                  <div class="row align-items-center" style="width: 100%;">
                    <div class="col-1">
                      <img src="./images/prev.svg" style="cursor:pointer; display: block" title="Salir" onclick=" $('#modalAccidenteTrabajo').modal('hide').removeClass('fade');">
                    </div>
                    <div class="col-10">
                      <span>
                        <h5 id="titleModalAccidenteTrabajo" class="m-0" style="margin-right: 2px !important;"></h5>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <! END MODAL-HEADER>
              <! START MODAL-BODY>
              <div class="modal-body dialog-position" id="bodymodalAccidenteTrabajo" style="padding: 10px 0px 0px !important;">
              </div>
              <! END MODAL-BODY>
          </div>
        </div>
      </div>
  </div>