<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">

<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-5 col-sm-12">
        <span class="titulo">Datos del trabajador</span>
      </div>
    </div>
    <div id="form_at_AccidenteTrabajo"></div>
</div>

<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>

<script type="text/javascript">

  $(document).on('hidden.bs.modal', '.modal', () => $('.modal:visible').length && $(document.body).addClass('modal-open'));

  $(document).ready(()=>{
    _init_atSp4DetalleAccidenteTrabajo()

    $(document).on('hidden.bs.modal', '.modal', () => $('.modal:visible').length && $(document.body).addClass('modal-open'));
  })

</script>