<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">

<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-5 col-sm-12">
        <span class="titulo">Datos del trabajador</span>
      </div>
      <div class="col-md-3 col-sm-6">
        <button type="button" class="btn btn-info btn-block btn-lg shadow-none" onclick="atSp4ConfirmCerrarAccidenteTrabajo()">
          Cerrar accidente de trabajo
           <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-danger btn-block btn-lg" onclick="atSp4ConfirmCancelarAccidenteTrabajo()">Cancelar<img src="./images/sho/cancelar.svg" alt="">
        </button>
      </div>
      <div class="col-md-2 col-sm-6">
        <button type="button" class="btn btn-success btn-block btn-lg" onclick="atSp4ConfirmGuardarAccidenteTrabajo()"> Guardar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>
    <div id="form_at_AccidenteTrabajo"></div>
</div>

<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>

<script type="text/javascript">

  $(document).on('hidden.bs.modal', '.modal', () => $('.modal:visible').length && $(document.body).addClass('modal-open'));

  $(document).ready(()=>{

    modeAccidenteTrabajo = 'edit';

    _init_atSp4DetalleAccidenteTrabajo();

    $(document).on('hidden.bs.modal', '.modal', () => $('.modal:visible').length && $(document.body).addClass('modal-open'));
  })

</script>