<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<style type="text/css">

.btn-drop:hover{
  background-color: #01719d;
}

.textVertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 30px;
    color: #01719d;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

.textVertical:hover {
    color: #8fbb02;
  }

.btn-table {
    justify-content: flex-end;
    padding-right:5px;
  }

.dataTables_wrapper
  {
    padding-bottom: 15px !important;
  }

.scrollbar::-webkit-scrollbar
{
    width: 2px !important;
    background-color: #ffffff !important;
    height: 12px !important;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 3px !important;
    background-color: #44b5ff !important;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%) !important;
  border: solid 1px #ededed !important;
  background-color: #f8f8f8 !important;

}

.dataTables_wrapper.no-footer .dataTables_scrollBody{

  border-bottom: 0px !important;
}

table.dataTable {
  border-spacing: 0px 5px !important;
}
</style>

<div class="main-content">
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="title-section">Búsqueda de registros</h2>
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Gerencia</span>
          <select class="form-control data-filtro-select" name="" id="input_at_gerencia" data-filtro-select='3'>
          </select>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Planta</span>
          <select class="form-control data-filtro-select" name="" id="input_at_planta" data-filtro-select='4'>
          </select>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Área</span>
          <select class="form-control data-filtro-select" name="" id="input_at_area" data-filtro-select='5'>
          </select>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Documento</span>
          <input type="text" class="form-control data-filtro" data-mask="999999999" id="input_at_dni" data-filtro='0'/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Nombres</span>
          <input type="text" class="form-control data-filtro" id="input_at_nombre" data-filtro='1'/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Apellidos</span>
          <input type="text" class="form-control data-filtro" id="input_at_apellido" data-filtro='2'/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Puesto de trabajo</span>
          <input type="text" class="form-control data-filtro" id="input_at_puesto" data-filtro='6'/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Empresa</span>
          <input type="text" class="form-control data-filtro" id="input_at_empresa" data-filtro='7'/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>F. Accidente</span>
          <input type="date" class="form-control" id="input_at_fecha_accidente"/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Hora de accidente</span>
          <input type="time" class="form-control" id="input_at_hora_accidente"/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>F. registro</span>
          <input type="date" class="form-control" id="input_at_fecha_registro"/>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-box">
          <span>Tipo de accidente</span>
          <select id="input_at_tipo_accidente" class="data-filtro-select" data-filtro-select='10'></select>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="form-box">
          <span>Buscar</span>
          <input id="input_at_buscar" type="text" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div id="cant_planes">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" style="font-size: 15px"><span id="table_sp4_at_AccidenteTrabajo_Bandeja-count-row">0</span> registros</span>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-info btn-lg text-center mr-2" onclick="atSp4SeguimientoAccidenteTrabajo()">
            <span class="ml-3">Seg. de accidentes</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box" id="table_sp4_at_AccidenteTrabajo_Bandeja">
                <thead>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Gerencia</th>
                    <th>Planta</th>
                    <th>Área</th>
                    <th>Puesto</th>
                    <th>Empresa</th>
                    <th>Fecha de accidente</th>
                    <th>Hora de accidente</th>
                    <th>Tipo de accidente</th>
                    <th>Cantidad de descansos médicos</th>
                    <th>Estadod del último descanso médico</th>
                    <th>Días de descanso médico acumulado</th>
                    <th>Transferencia</th>
                    <th>Diagnóstico DSO</th>
                    <th>Diagnóstico especialista</th>
                    <th></th>
                </thead>
                <tbody id="content_table_all_accidente_trabajo">
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>
<script type="text/javascript">

var ObjTabla = {}

async function _init_atSp4BuscarAccidenteTrabajo() {

  //Se inicia el Cargando
  showLoading();

  await atSp4CargaSedesAreasGerencias();
  await atSp4CargarDatosCombo()
  await atSp4CargarAccidenteTrabajoBandeja();
  renderSelectsAccidenteTrabajoBandeja()
  //await ecSp4cargarSelectEnfermedadesCronicas();
  //await ecSp4BuscarTodasEnfermedadesCronicas();

  //Se apaga el Cargando
  hideLoading();

  $('.data-filtro').on('keyup', function(){
    
    ObjTabla.column(parseInt($(this).attr('data-filtro'))).search($(this).val()).draw();
    $('#table_sp4_at_AccidenteTrabajo_Bandeja-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  var valor;

  $('.data-filtro-select').on('change', function(){    

    //Se busca la palabra exacta debido a que ya son datos precargados de la BD

    valor = ($(this).find('option[value="' + $(this).val().trim() + '"]').text()).trim();

    ObjTabla.column(parseInt($(this).attr('data-filtro-select'))).search(valor ? '^' + valor + '$' : '', true, false).draw();

    $('#table_sp4_at_AccidenteTrabajo_Bandeja-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#input_at_buscar').on('keyup', function(){

    ObjTabla.search($(this).val()).draw();
    $('#table_sp4_at_AccidenteTrabajo_Bandeja-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

  $('#input_at_fecha_accidente').on('keyup change', function(){

    ObjTabla.draw();
    $('#table_sp4_at_AccidenteTrabajo_Bandeja-count-row').text(ObjTabla.page.info().recordsDisplay);

  });

}

function renderSelectsAccidenteTrabajoBandeja(){
  
  if(at_SedeAreaGerencia["Gerencias"].length) {
    $('#input_at_gerencia').html('')
    $('#input_at_gerencia').append('<option value="" selected> </option>')

    at_SedeAreaGerencia.Gerencias.map(item=>{
       $('#input_at_gerencia').append(`<option value="${item.Id}">${item.Description}</option>`)
    })
  }

  if(at_SedeAreaGerencia["Areas"].length) {
    $('#input_at_area').html('')
    $('#input_at_area').append('<option value="" selected> </option>')

    at_SedeAreaGerencia.Areas.map(item=>{
       $('#input_at_area').append(`<option value="${item.Id}">${item.Description}</option>`)
    })
  }

  if(at_SedeAreaGerencia["Sedes"].length) {
    $('#input_at_planta').html('')
    $('#input_at_planta').append('<option value="" selected> </option>')

    at_SedeAreaGerencia.Sedes.map(item=>{
       $('#input_at_planta').append(`<option value="${item.Id}">${item.Description}</option>`)
    })
  }

  if(pluck_at["TipoAccidenteTrabajo"].length){
    $('#input_at_tipo_accidente').html('')
    $('#input_at_tipo_accidente').append('<option value="" selected> </option>')

    pluck_at.TipoAccidenteTrabajo.map(item=>{
       $('#input_at_tipo_accidente').append(`<option value="${item.Id}">${item.Descripcion}</option>`)
    })    
  }
}

function atSp4CargarAccidenteTrabajoBandeja() {

  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Bandeja_General_Accidente_Trabajo`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "dataType": 'json',
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {
    paObj_at['bandeja_general_accidente'] = response.bandeja_general_accidente
    atSp4RenderTablaAccidenteTrabajoBandeja()
  });
}

function atSp4RenderTablaAccidenteTrabajoBandeja() {
  $('#content_table_all_accidente_trabajo').html('')

  if(paObj_at.bandeja_general_accidente.length){
    paObj_at.bandeja_general_accidente.map(item => {

      const gerencia = at_SedeAreaGerencia.Gerencias.find( item2 => item2.Id == item.B_GerenciaId )
      const planta = at_SedeAreaGerencia.Sedes.find( item2 => item2.Id == item.B_PlantaId )
      const area = at_SedeAreaGerencia.Areas.find( item2 => item2.Id == item.B_AreaId )

      $('#content_table_all_accidente_trabajo').append(`
          <tr>
              <td>${item.A_DniPaciente}</td>
              <td>${item.A_NombresPaciente}</td>
              <td>${item.A_ApellidosPaciente}</td>
              <td>${ gerencia ? gerencia.Description : 'No disponible'}</td>
              <td>${ planta ? planta.Description : 'No disponible'}</td>
              <td>${ area ? area.Description : 'No disponible'}</td>
              <td>${item.B_PuestoTrabajo}</td>
              <td>${item.Empresa}</td>
              <td>${moment(new Date(item.FechaAccidente)).format('DD/MM/YYYY')}</td>
              <td>-</td>
              <td>${item.TipoAccidente}</td>
              <td>${item.CantidadDescansos}</td>
              <td>${item.estadoUltimoDescanso ? item.estadoUltimoDescanso : 'No disponible'}</td>
              <td>${item.DiasAcumulados}</td>
              <td>${item.Transferencias}</td>
              <td>${item.DiagnosticoDso ? item.DiagnosticoDso : 'No disponible'}</td>
              <td>${item.DiagnosticoEspecialista}</td>
              <td  style="color:#1C1C1C!important">
                    <div class="dropdown">
                      <button class=" btn-link dropdown textVertical" style='outline:none !important;' id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <label class='textVertical'>...</label>
                      </button>
                      <div class="dropdown-menu" style="padding: 8px 0px;" onclick="atSp4VerDetalleAccidenteTrabajoBandeja(${item.Id})">  
                          <a class="dropdown-item d-flex align-items-center"><img src="./images/sho/eyeIcon.svg" alt="" />&nbsp;&nbsp; Ver detalle</a>
                      </div>
                  </div>
              </td>
          </tr>
      `)
    })
  }

  ObjTabla = $('#table_sp4_at_AccidenteTrabajo_Bandeja').DataTable({
    "pageLength": 5,
    "ordering": false,
    "scrollX": true,
    "language": {
      "paginate": {
        "next": "»",
        "previous": "«"
      },
      "loadingRecords":"Cargando registros...",
      "processing":"Procesando...",
      "infoPostFix":"",
      "zeroRecords": "No se encontraron registros"
    },
    buttons:[
      {extend:"excel",messageTop: 'Listado de accidentes de trabajo', title:'Lista de accidentes de trabajo', className:"btn btn-drop btn-lg", text:'<i class="fa fa-file-excel fa-1x"></i>',
          exportOptions: {
          columns: [ 0, 1, 2, 3, 4, 5, 6 ]
      }}
    ],
    initComplete: function() {
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    },
    dom:
      "<'row btn-table'<B>>"+
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>"+
      "<'row row-records'<'col-sm-12'tr>>"+
      "<'row row-info'<'col-sm-12 col-md-12'p>>"
  });

  $('#table_sp4_at_AccidenteTrabajo_Bandeja-count-row').text(ObjTabla.rows().count());
  $('.scrollbar').removeClass('dataTables_scrollBody');  

  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {

      let fechaAccidente = document.getElementById('input_at_fecha_accidente').value;
      const fechaAccidenteindex = 8;

      if(fechaAccidente == '') return true

      fechaAccidente = moment(fechaAccidente,'YYYY-MM-DD').format('DD/MM/YYYY')
      return fechaAccidente == data[fechaAccidenteindex];

    }
  );


  //ESTO ES NUEVO. PARA EVITAR EL NO ALINEAMIENTO DENTRE HEADER Y BODY
  $($.fn.dataTable.tables(true)).DataTable().columns.adjust();



}

$(document).ready(()=>{
   _init_atSp4BuscarAccidenteTrabajo()
})

</script>