<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">

  <!--<div class="row mb-5">
      <div class="col-md-12 d-flex justify-content-between align-content-center">
          <h2 class="title-section d-flex">
              <span class="m-auto">Accidentes de trabajo</span>
          </h2>
          <span class="text-section" id="mostrar_datos_at" style="display:none;">Mostrar datos</span>
          <span class="text-section" id="ocultar_datos_at">Ocultar datos</span>
      </div>
  </div>
  <div class="row mb-5">
      <div class="col-md-2 show-more">
        <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
          <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
            <img id="img_file_perfil" name="img_file_perfil">
          </label>
          <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
        </div>
      </div>
      <div class="col-md-9 show-less" style="display:none">
        <div class="row">
          <div class="col-md-2 mr-2">
            <div class="img-perfil" 
              style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
              <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
                <img name="img_file_perfil" name="img_file_perfil">
              </label>
              <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_at_nombres"></span>
          </div>
        </div>
      </div>
      <div class="col-md-7 show-more">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_at_nombres"></span>
          </div>
        </div>
        <div class="row mt-3 show-more">
          <div class="col-4 my-1">
            <b>DNI:</b> <span id="dat_at_dni_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Sexo:</b> <span id="dat_at_sexo_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Edad:</b> <span id="dat_at_edad_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Puesto:</b> <span id="dat_at_puesto_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Área:</b> <span id="dat_at_area_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Gerencia:</b> <span id="dat_at_gerencia_trabajador"></span>
          </div>
          <div class="col-4 my-1">
            <b>Planta:</b> <span id="dat_at_planta_trabajador"></span>
          </div>
        </div>
      </div>
      <div class="col-md-3">    
        <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
        onclick="setControlLateralAT();amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
        </button>
        <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
         onclick="atSp4VerDatosCompletoTrabajador()">Ver datos completos</span>
      </div>
  </div>

  <hr class="mt-4 mb-5">-->



  <!-- DATOS GENERALES -->

  <div class="row mb-5">
    <div class="col-md-12 d-flex justify-content-between align-content-center">
        <h2 class="title-section d-flex"><span class="m-auto titulo">Accidentes de trabajo</span></h2>
        <span class="subtitulo" id="MostrarDatos" style="font-weight: 600; color: #01719d; cursor: pointer; display:none;">Mostrar datos</span>
        <span class="subtitulo" id="OcultarDatos" style="font-weight: 600; color: #01719d; cursor: pointer;">Ocultar datos</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-2 show-more">
      <div class="img-perfil" style="display: flex;justify-content: center;align-items: center;">
        <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
          <img id="img_file_perfil" name="img_file_perfil">
        </label>
        <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
      </div>
    </div>
    <div class="col-md-9 show-less" style="display:none">
      <div class="row">
        <div class="col-md-2 mr-2">
          <div class="img-perfil" 
            style="display: flex;justify-content: center;align-items: center; width:80px ;height: 80px;">
            <label for="img_input_file_perfil" style="cursor:pointer; margin: 0">
              <img name="img_file_perfil">
            </label>
            <input id="img_input_file_perfil" type="file" onchange="" style="display: none">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <span style="font-size: 18px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
    </div>
    <div class="col-md-7 show-more">
      <div class="row">
        <div class="col-12">
          <span style="font-size: 20px; font-weight: 600; color: #254373;" name="dat_nombres"></span>
        </div>
      </div>
      <div class="row mt-3 show-more">
        <div class="col-4 my-1">
          <b>DNI:</b> <span id="dni_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Sexo:</b> <span id="sexo_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Edad:</b> <span id="edad_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Puesto:</b> <span id="puesto_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Área:</b> <span id="area_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Gerencia:</b> <span id="gerencia_trabajador"></span>
        </div>
        <div class="col-4 my-1">
          <b>Planta:</b> <span id="planta_trabajador"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">    
      <button class="btn btn-success btn-block btn-lg" style="width: 200px; float: right;"
      onclick="onAtrasHistoriaClick(10); amSp3NuevaAtencionMedica(idHC,2);">Nueva atención <img src="./images/sho/plus.svg" fill="#fff" />
      </button>
      <span class="mb-3 mr-4" style="margin-top: 20px; font-weight: 600; color: #01719d; cursor: pointer;float: right;"
       onclick="VerDatosCompletoTrabajador(idHC)">Ver datos completos</span>
    </div>
  </div>

  <hr class="mt-4">




  <div class="row mb-5">      
    <div class="offset-md-9 col-md-3">
      <button class="btn btn-block btn-lg btn-success" 
          onclick="setControlLateralAT();atSp4NuevoAccidenteTrabajo()"
          style="width: 200px; float: right;">Nuevo Registro
          <img src="./images/sho/plus.svg" alt="" />
      </button>
    </div>
  </div>
    




    <div class="row mb-5">
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Accidente de trabajo</th>
                    <th>F. Registro</th>
                    <th>F. Accidente</th>
                    <th>Hora accidente</th>
                    <th>Diagnóstico</th>
                    <th>Estado</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_accidenteTrabajoHC">
                    <tr>
                      <td colspan="7" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tabs-item active" id="descansos">Descanso médico</li>
                <li class="tabs-item" id="transferencias">Transferencias</li>
                <li class="tabs-item" id="seguimientos">Registro de seguimiento</li>
                <li class="tabs-item" id="alta-especialistas">Altas de especialistas</li>
                <li class="tabs-item" id="informes">Informe médicos</li>
                <li class="tabs-item" id="examenes-auxiliares">Exámenes auxiliares</li>
                <li class="tabs-item" id="evaluaciones">Evaluaciones post alta médica</li>
            </ul>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-descansos">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_descansoMedicoHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="table-responsive tablaBox">
                <table class="table-box">
                    <thead>
                        <th>F. Inicio</th>
                        <th>F. Fin</th>
                        <th>Días</th>
                        <th>Días acumulados</th>
                        <th>Dias restantes</th>
                        <th>Diagnóstico</th>
                        <th>Tipo de contingencia</th>
                        <th>Establecimiento de emisión</th>
                    </thead>
                    <tbody id="content_sp4_AT_table_descansoMedicoHC">
                        <tr>
                            <td colspan="8" class="text-center">No se encontraron resultados.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-transferencias" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_transferenciasHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Informe</th>
                    <th>Establecimiento</th>
                    <th>F. Transferencia</th>
                    <th>Diagnóstico Especialista</th>
                </thead>
                <tbody id="content_sp4_AT_table_transferenciasHC">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-seguimientos" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_seguimientosHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>F. segumiento</th>
                    <th>Hora seguimiento</th>
                    <th colspan="2">Comentario</th>
                </thead>
                <tbody id="content_sp4_AT_table_seguimientosHC">
                    <tr>
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-alta-especialistas" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_altasHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>Diagnóstico</th>
                    <th>Documentos escanaeados</th>
                    <th>F. Alta</th>
                    <th>RNE especialista</th>
                    <th>Nombre del especialista</th>
                </thead>
                <tbody id="content_sp4_AT_table_altasHC">
                    <tr>
                      <td colspan="5" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-informes" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_informesHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>F. Informe</th>
                    <th>Especialidad</th>
                    <th>Diagnóstico</th>
                    <th>Documento escaneados</th>
                </thead>
                <tbody id="content_sp4_AT_table_informesHC">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-examenes-auxiliares" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_examenesHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
              <table class="table-box">
                <thead>
                    <th>F. Exámenes</th>
                    <th>Tipo de examen</th>
                    <th>Conclusión</th>
                    <th>Resultados escaneados</th>
                </thead>
                <tbody id="content_sp4_AT_table_examenesHC">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row mb-5 tab-section" id="section-evaluaciones" style="display:none;">
        <div class="col-md-12 mt-3">
          <div class="d-flex align-items-center">
            <div>
              <img src="images/iconos/copia-1.svg" style="width: 20px" />
            </div>
            <span class="cantidad ml-3" id="dat_at_cant_postAltaHC" style="font-size: 15px">0 registros</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
            <table class="table-box">
                <thead>
                    <th>F. Evaluación</th>
                    <th>Anamnesis</th>
                    <th>Tratamiento</th>
                    <th>Aptitud</th>
                </thead>
                <tbody id="content_sp4_AT_postAltaHC">
                    <tr>
                      <td colspan="4" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>



<div class="d-none" id="exportContent" style="width:100% !important;">

  <table style="width:100% !important;" width="100%">
    <tbody>

      <tr>
        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Departamento de Salud Ocupacional</strong></td>
      </tr>


      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>_________________________________________________________________________</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="span-fecha-iat"></span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INFORME DE ATENCIÓN MÉDICA POR ACCIDENTE DE TRABAJO</strong>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>


  
  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td colspan="2"><strong>DATOS PERSONALES DEL TRABAJADOR:</strong></td>
      </tr>
      <tr>
        <td><strong>Apellidos y nombres:</strong> <span id="span-nombres"></span></td>
        <td><strong>DNI:</strong> <span id="span-dni"></span></td>
      </tr>
      <tr>
        <td><strong>Edad:</strong> <span id="span-edad"></span></td>
        <td><strong>Teléfono:</strong> <span id="span-telefono"></span></td>
      </tr>
      <tr>
        <td><strong>Empresa:</strong> TASA</td>
        <td><strong>Unidad:</strong> <span id="span-unidad"></span></td>
      </tr>
      <tr>
        <td><strong>Ocupación:</strong> <span id="span-ocupacion"></span></td>
        <td><strong>Lugar:</strong> <span id="span-lugar"></span></td>
      </tr>
      <tr>
        <td><strong>Fecha del accidente:</strong> <span id="span-fecha-accidente"></span></td>
        <td><strong>Hora de ocurrencia:</strong> <span id="span-hora-accidente"></span></td>
      </tr>
      <tr>
        <td><strong>Fecha de atención DSO:</strong> <span id="span-fecha-dso"></span></td>
        <td><strong>Hora de atención:</strong> <span id="span-hora-dso"></span></td>
      </tr>
      <tr>
        <td><strong>Hora de evacuación:</strong> <span id="span-hora-evacuacion"></span></td>
        <td><strong>Lugar de evacuación:</strong> <span id="span-lugar-evacuacion"></span></td>
      </tr>
      <tr>
        <td><strong>Jefe superior:</strong> <span id="span-nombre-superior"></span></td>
        <td><strong>Celular:</strong> <span id="span-celular-superior"></span></td>
      </tr>    
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td>
          <strong>ANAMNESIS:</strong>
        </td>
      </tr>
      <tr>
        <td>
          <span id="span-anamnesis"></span>        
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr">
        <td>
          <strong>EXAMEN FISICO:</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td>
          <strong>PA:</strong> <span id="span-pa"></span>
        </td>
        <td>
          <strong>FC:</strong> <span id="span-fc"></span>
        </td>
        <td>
          <strong>FR:</strong> <span id="span-fr"></span>
        </td>
        <td>
          <strong>SatO2:</strong> <span id="span-sa"></span>
        </td>
        <td>
          <strong>Tem:</strong> <span id="span-tem"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td>
          <strong>Estado de conciencia:</strong> <span id="span-conciencia"></span>
        </td>
        <td>
          <strong>Estado de Nutrición:</strong> <span id="span-nutricion"></span>
        </td>
        <td>
          <strong>Estado general:</strong> <span id="span-general"></span>
        </td>
        <td>
          <strong>Estado de hidratación:</strong> <span id="span-hidratacion"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td>
          <strong>Orofaringe:</strong> <span id="span-orofaringe"></span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Tórax y pulmones:</strong> <span id="span-torax"></span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Cardio vascular:</strong> <span id="span-cardio"></span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>SOMA:</strong> <span id="span-ssoma"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody id="tbody-diagnostico">
      <tr>
        <td>
          <strong>DIAGNÓSTICO:</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody id="tbody-tratamiento">
      <tr>
        <td>
          <strong>TRATAMIENTO:</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Atención en DSO</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr >
        <td>
          <strong>Comentario:</strong> Falta el informe de investigación del área involucrada, a fin de corroborar el relato del paciente, en cuanto a los hechos que originaron el accidente; ya que la anamnesis sólo son datos subjetivos que manifiesta el trabajador de lo ocurrido.
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:100% !important;" width="100%">
    <tbody>
      <tr>
        <td>
          <strong>Conclusión:</strong> <span id="span-conclusion"></span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;______________________________
        </td>
      </tr>
      <tr>
        <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="span-medico"></span>
        </td>
      </tr>
      <tr>
        <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="span-cargo"></span>
        </td>
      </tr>
      <tr>
        <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tecnología de Alimentos S.A.
        </td>
      </tr>
    </tbody>
  </table>

</div>




<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>
<script type="text/javascript">

function Sp4BuscarDiagnosticoCie10AccidenteTrabajo(IdAccidenteTrabajo) {

  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Accidente_CIE10`;

  let data = {
    idHC : IdAccidenteTrabajo // id de accidente de trabajo
  }
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {

    paObj_at['CIE10'] = response.listaCIE10_Accidente;

    console.log("CIE10",paObj_at['CIE10']);

    let HTMLControl = '';

    if(Object.keys(paObj_at['CIE10']).length > 0){

      $.each(paObj_at['CIE10'], function(index,accountObj){

        HTMLControl = "<tr class='tr-iat'>";
        HTMLControl += "<td>";
        HTMLControl += "  * "+accountObj.Diagnostico+" "+accountObj.Code_D;
        HTMLControl += "</td>";
        HTMLControl += "</tr>";

        $("#tbody-diagnostico").append(HTMLControl);

      });

    }
    else
    {

      HTMLControl = "<tr class='tr-iat'>";
      HTMLControl += "<td>";
      HTMLControl += " No hay registros";
      HTMLControl += "</td>";
      HTMLControl += "</tr>";

      $("#tbody-diagnostico").append(HTMLControl);

    }
    
  });

}

function Sp4BuscarDsoAccidenteTrabajo(IdAccidenteTrabajo) {

  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Accidente_DSO`;

  let data = {
    idHC : IdAccidenteTrabajo // id de accidente de trabajo
  }
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {

    paObj_at['DSO'] = response.listaDSO_Accidente

    console.log("DSO",paObj_at['DSO']);

    let HTMLControl = '';

    if(Object.keys(paObj_at['DSO']).length > 0){

      $.each(paObj_at['DSO'], function(index,accountObj){

        HTMLControl = "<tr class='tr-iat'>";
        HTMLControl += "<td>";
        HTMLControl += "  * "+accountObj.Detalle;
        HTMLControl += "</td>";
        HTMLControl += "</tr>";

        $("#tbody-tratamiento").append(HTMLControl);

        if( index == 0 ){

          $("#span-fecha-dso").text(new Date(accountObj.CreadoFecha).toLocaleDateString('en-GB').split('T')[0]);
          $("#span-hora-dso").text(new Date("August 19, 1975 "+accountObj.Hora).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }));

        }

      });

    }
    else
    {

      HTMLControl = "<tr class='tr-iat'>";
      HTMLControl += "<td>";
      HTMLControl += " No hay registros";
      HTMLControl += "</td>";
      HTMLControl += "</tr>";

      $("#tbody-tratamiento").append(HTMLControl);

    }

  });

}

function Sp4BuscarAccidenteTrabajo(IdAccidenteTrabajo) {


  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Data_Accidente_Trabajo`;

  let data = {
    idHC : IdAccidenteTrabajo // id de accidente de trabajo
  }

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  return $.ajax(settings).done((response) => {

    //paObj_at['data_Accidente_Trabajo'] = response.data_Accidente_Trabajo.length ? response.data_Accidente_Trabajo[0] : null

    paObj_at['data_Accidente_Trabajo'] = response.data_Accidente_Trabajo[0];

    console.log("response",paObj_at['data_Accidente_Trabajo']);

    $('#span-anamnesis').text(paObj_at['data_Accidente_Trabajo'].A_Anamesis);
    $('#span-nombre-superior').text(paObj_at['data_Accidente_Trabajo'].A_Jefe);
    $('#span-celular-superior').text(paObj_at['data_Accidente_Trabajo'].A_Telefono_Jefe);  
    $('#span-fecha-accidente').text(new Date(paObj_at['data_Accidente_Trabajo'].A_Fecha_Accidente).toLocaleDateString('en-GB').split('T')[0]);  
    $('#span-hora-accidente').text(new Date("August 19, 1975 "+paObj_at['data_Accidente_Trabajo'].A_Hora_Accidente).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }));
    $('#span-lugar').text(paObj_at['data_Accidente_Trabajo'].A_Lugar_Accidente);

    $('#span-pa').text(paObj_at['data_Accidente_Trabajo'].B_SV_Presion_Arterial+" mmHg"); 
    $('#span-fc').text(paObj_at['data_Accidente_Trabajo'].B_SV_Frecuencia_Cardiaca+" LPM"); 
    $('#span-fr').text(paObj_at['data_Accidente_Trabajo'].B_SV_Frecuencia_Respiratoria+" RPM"); 
    $('#span-sa').text(paObj_at['data_Accidente_Trabajo'].B_SV_Saturacion+"%"); 
    $('#span-tem').text(paObj_at['data_Accidente_Trabajo'].B_SV_Temperatura+" °C"); 

    switch (parseInt(paObj_at['data_Accidente_Trabajo'].C_Estado_Conciencia)) {
      case 1:
        $('#span-conciencia').text("Bueno"); 
        break;
      case 2:
         $('#span-conciencia').text("Regular"); 
        break;
      case 3:
        $('#span-conciencia').text("Malo"); 
        break;
    }

    switch (parseInt(paObj_at['data_Accidente_Trabajo'].C_Estado_Nutricion)) {
      case 1:
        $('#span-nutricion').text("Bueno"); 
        break;
      case 2:
         $('#span-nutricion').text("Regular"); 
        break;
      case 3:
        $('#span-nutricion').text("Malo"); 
        break;
    }

    switch (parseInt(paObj_at['data_Accidente_Trabajo'].C_Estado_General)) {
      case 1:
        $('#span-general').text("Bueno"); 
        break;
      case 2:
         $('#span-general').text("Regular"); 
        break;
      case 3:
        $('#span-general').text("Malo"); 
        break;
    }

    switch (parseInt(paObj_at['data_Accidente_Trabajo'].C_Estado_Hidratacion)) {
      case 1:
        $('#span-hidratacion').text("Bueno"); 
        break;
      case 2:
         $('#span-hidratacion').text("Regular"); 
        break;
      case 3:
        $('#span-hidratacion').text("Malo"); 
        break;
    }

    $('#span-orofaringe').text(paObj_at['data_Accidente_Trabajo'].C_Orofaringe); 
    $('#span-torax').text(paObj_at['data_Accidente_Trabajo'].C_Torax); 
    $('#span-cardio').text(paObj_at['data_Accidente_Trabajo'].C_Cardio); 
    $('#span-ssoma').text(paObj_at['data_Accidente_Trabajo'].C_SOMA);  

    switch (parseInt(paObj_at['data_Accidente_Trabajo'].A_Accidente_TrabajoId)) {
      case 1:
        $('#span-conclusion').text("Accidente: Primeros Auxilios"); 
        break;
      case 2:
         $('#span-conclusion').text("Accidente: Leve"); 
        break;
      case 3:
        $('#span-conclusion').text("Accidente: Incapacitante"); 
        break;
      case 4:
        $('#span-conclusion').text("Accidente: Fatal"); 
        break;
    }    

  });

}

function Sp4BuscarDatosGeneralesAccidenteTrabajo(Id_HC) {
  

  //Se especifican los parametros para la consulta
  let url = apiUrlsho+`/api/hce_Get_600_historia_clinica_datos_generales_completo?code=x65sNwDvhbkdVQk0BvFAlVp7TVvemyvLlzYet9HXKgv5H2Fb4xXaUg==`;
  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }
  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": Id_HC }
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done((response) => {

    //Se asiga la respuesta de la Historia al Obj paObj_ec
    paObj_at["Historia"] = response.HistoriaClin[0];

    console.log("historia",paObj_at['Historia']);

    $('#span-nombres').text(paObj_at['Historia'].Apellidos_Trabajador_H+" "+paObj_at['Historia'].Nombres_Trabajador_H);
    $('#span-dni').text(paObj_at['Historia'].NroDocumento_Trabajador_H);
    $('#span-edad').text(paObj_at['Historia'].Edad_Trabajador_H+" años");
    $('#span-telefono').text(paObj_at['Historia'].Telefono_Trabajador_H);

    paObj_at["Sedes"].forEach((Item) => {

      if (Item.Id == paObj_at['Historia'].SedeId_Empresa_H) {

        paObj_at['Historia'].Unidad = Item.Description;

      }

    });

    moment.locale('es');
    let fecha_actual = moment();
    let dia_c_text = moment(fecha_actual).format('dddd');
    let dia_c = moment(fecha_actual).format('DD');
    let mes_c_text = moment(fecha_actual).format('MMMM');
    let ano_c = moment(fecha_actual).format('YYYY');

    $('#span-fecha-iat').text(toCapitalize(getCookie("sede_iat"))+", "+dia_c+" de "+mes_c_text+" del "+ano_c);

    $('#span-ocupacion').text(paObj_at['Historia'].PuestoTrabajo_Empresa_H);

    $('#span-medico').text(toCapitalize(getCookie("nombre_iat")));
    $('#span-cargo').text(toCapitalize(getCookie("cargo_usuario")));



    $('#span-cargo').text(toCapitalize(getCookie("cargo_iat")));

  });

}

function Sp4CargaSedesAreasGerenciasAccidenteTrabajo() {

  //Se especifican los parametros para la consulta
  var url = apiUrlssoma + "/api/a_get_lista_sedes_areas_gerencia?code=5sz/nIVDXtW7t97kzgfOyzuN4yYq6FEfuJoZSlk3DzGQ9AMLu7k6WQ==&IdSede=0&IdArea=0&IdGerencia=0"
  
  var headers = {
    "apikey": constantes.apiKey
  }

  var settings = {
    "url": url,
    "method": "GET",
    "timeout": 0,
    "crossDomain": true,
    "dataType": "json",
    "headers": headers,
  };

  //Se consulta mediante el metodo Ajax
  return $.ajax(settings).done(function (response) {

    paObj_at["Areas"] = response.Area;
    paObj_at["Gerencias"] = response.Gerencia;
    paObj_at["Sedes"] = response.Sedes;

  });

}

function Export2Doc(element, filename = ''){
    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
    var postHtml = "</body></html>";
    var html = preHtml+document.getElementById(element).innerHTML+postHtml;

    var blob = new Blob(['ufeff', html], {
        type: 'application/msword'
    });
    
    // Specify link url
    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
    
    // Specify file name
    filename = filename?filename+'.doc':'document.doc';
    
    // Create download link element
    var downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob ){
        navigator.msSaveOrOpenBlob(blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = url;
        
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
    
    document.body.removeChild(downloadLink);
}

async function _init_IAT(IdAccidenteTrabajo) {

  $("#tbody-tratamiento").find("tr.tr-iat").remove();
  $("#tbody-diagnostico").find("tr.tr-iat").remove();

  await Sp4CargaSedesAreasGerenciasAccidenteTrabajo();
  await Sp4BuscarAccidenteTrabajo(IdAccidenteTrabajo);
  await Sp4BuscarDatosGeneralesAccidenteTrabajo(paObj_at['data_Accidente_Trabajo'].IdHC);
  await Sp4BuscarDiagnosticoCie10AccidenteTrabajo(IdAccidenteTrabajo);
  await Sp4BuscarDsoAccidenteTrabajo(IdAccidenteTrabajo);
  await atSp4BuscarAdjuntoAT(IdAccidenteTrabajo);
  await PdfGenerarIAT();
  
  //Export2Doc('exportContent','IAT_'+paObj_at['Historia'].Nombres_Trabajador_H+'_'+paObj_at['Historia'].Apellidos_Trabajador_H);

}

var IndexIAT=0;
var arrayImagenesIAT=[];

function atSp4BuscarAdjuntoAT(IdAccidenteTrabajo) {


  let url = `${apiUrlsho}/api/hce_Get_029_1_accidente_trabajo_adjunto?code=PoFFnsJxNh6MUJp4xB3EG8AlvV21d9TyK4fs8HWntZHytGUaBB3KvA==`;

  let data = {
    AccidenteTrabajoId : IdAccidenteTrabajo // id de accidente de trabajo
  }

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "timeout": 0,
    "crossDomain": true,
    "dataType": 'json',
    "headers": headers,
    data
  };

  IndexIAT=0;
  arrayImagenesIAT=[];

  return $.ajax(settings).done((response) => {

    response.AdjuntosAccidenteTrabajo.forEach((ItemAdjunto) => {

      if( ItemAdjunto.TipoAdjunto_1_2 == 3  ){

        arrayImagenesIAT[IndexIAT] = ItemAdjunto.ArchivoBase64;
        IndexIAT++;

      }

    });

  });


}

function GenerarIAT(IdAccidenteTrabajo){

  _init_IAT(IdAccidenteTrabajo);  
  //savePdf();

}


var doc = '';


async function PdfGenerarIAT(IdAccidenteTrabajo) {

  let nombres_b = paObj_at['Historia'].Nombres_Trabajador_H;
  let apellidos_b = paObj_at['Historia'].Apellidos_Trabajador_H;
  //let dni = paObj_EMO[idHC_EMO].NroDocumento_Trabajador_H;

  moment.locale('es');
  let fecha_actual = moment();
  let dia_c_text = moment(fecha_actual).format('dddd');
  let dia_c = moment(fecha_actual).format('DD');
  let mes_c_text = moment(fecha_actual).format('MMMM');
  let mes_c = moment(fecha_actual).format('MM');
  let ano_c = moment(fecha_actual).format('YYYY');

  let FechaIAT = toCapitalize(getCookie("sede_iat"))+", "+dia_c+" de "+mes_c_text+" del "+ano_c+".";

  if( getCookie("vtas_type_user"+sessionStorage.tabVisitasa) == "externo" ){

    arrayImagenesIAT[arrayImagenesIAT.length] = './images/sho/logoiat.png';

  }
  else{

    arrayImagenesIAT[arrayImagenesIAT.length] = './images/sho/tasa_logo.png';
    
  }




  const multiPng = await generateImagePdf(arrayImagenesIAT);





  console.log("arrayImagenesIAT",arrayImagenesIAT);

  /*doc.addImage(img_logo, 'png', 18, 14, 24, 20);

  let imgData = new Image(); //imagen logo

  if(arrayImagenesIAT.length > 0){

    imgData.src = arrayImagenesIAT[0];

    console.log("arrayImagenesIAT[0]",arrayImagenesIAT[0]);

  }*/








  
  doc.setFontSize(10);
  doc.setFontType("bold");
  doc.setTextColor(37,67,115);
  doc.text(`Departamento de Salud Ocupacional`, 105, 25, "center");
  doc.text(`Tecnológica de Alimentos S.A`, 105, 29, "center");

  doc.setDrawColor(37,67,115);
  doc.setLineWidth(1)
  doc.line(18, 37, 194, 37);

  doc.setFontType("normal");
  doc.setTextColor(0,0,0);
  doc.setFontSize(10);
  doc.text(FechaIAT, 194, 45, "right");


  doc.setFontType("bold");
  //doc.setFontSize(12);
  doc.text(`INFORME DE ATENCIÓN MÉDICA POR ACCIDENTE DE TRABAJO`, 105, 60, "center");

  //doc.setFontSize(11);
  doc.text("DATOS PERSONALES DEL TRABAJADOR:", 18, 74);
  doc.setDrawColor(0,0,0);
  doc.setLineWidth(0.4)
  doc.line(18, 75, 90, 75);


  doc.text("APELLIDOS Y NOMBRES: "+paObj_at['Historia'].Apellidos_Trabajador_H+" "+paObj_at['Historia'].Nombres_Trabajador_H, 18, 80);
  doc.text("EDAD: "+paObj_at['Historia'].Edad_Trabajador_H+" años", 18, 85);
  doc.text("EMPRESA: TASA", 18, 90);
  doc.text("OCUPACIÓN: "+paObj_at['Historia'].PuestoTrabajo_Empresa_H, 18, 95);
  doc.text("FECHA DEL ACCIDENTE: "+new Date(paObj_at['data_Accidente_Trabajo'].A_Fecha_Accidente).toLocaleDateString('en-GB').split('T')[0], 18, 100);


  if(paObj_at['DSO'].length > 0){

    doc.text("FECHA DE ATENCION DSO: "+new Date(paObj_at['DSO'][0].CreadoFecha).toLocaleDateString('en-GB').split('T')[0], 18, 105);
    doc.text("HORA DE ATENCIÓN: "+new Date("August 19, 1975 "+paObj_at['DSO'][0].Hora).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }), 110, 105);

  }
  else
  {

    doc.text("FECHA DE ATENCION DSO: --", 18, 105);
    doc.text("HORA DE ATENCIÓN: --", 110, 105);

  }

  
  doc.text("HORA DE EVACUACIÓN: --", 18, 110);
  doc.text("JEFE SUPERIOR: "+paObj_at['data_Accidente_Trabajo'].A_Jefe, 18, 115);


  doc.text("DNI: "+paObj_at['Historia'].NroDocumento_Trabajador_H, 110, 80);
  doc.text("TELEFONO: "+paObj_at['Historia'].Telefono_Trabajador_H, 110, 85);
  doc.text("UNIDAD: "+paObj_at['Historia'].Unidad, 110, 90);
  doc.text("LUGAR: "+paObj_at['data_Accidente_Trabajo'].A_Lugar_Accidente, 110, 95);
  doc.text("HORA DE OCURRENCIA: "+new Date("August 19, 1975 "+paObj_at['data_Accidente_Trabajo'].A_Hora_Accidente).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }), 110, 100);  
  doc.text("LUGAR DE EVACUACIÓN: --", 110, 110);
  doc.text("CELULAR: "+paObj_at['data_Accidente_Trabajo'].A_Telefono_Jefe, 110, 115);

  doc.setDrawColor(0,0,0);
  doc.setLineWidth(0.5)
  doc.line(18, 118, 194, 118);
  doc.line(18, 119, 194, 119);

  doc.setFontSize(10);

  doc.text("ANAMNESIS:", 18, 127);
  doc.setFontType("normal");
  doc.setLineWidth(0.4)
  doc.line(18, 128, 39, 128);
  doc.text(paObj_at['data_Accidente_Trabajo'].A_Anamesis, 18, 132);


  doc.setFontType("bold");
  doc.text("EXAMEN FISICO:", 18, 140);
  doc.setLineWidth(0.4)
  doc.line(18, 141, 47, 141);
  doc.text("PA:", 27, 145);
  doc.text("FC°:", 54, 145);
  doc.text("FR:", 75, 145);
  doc.text("SO2°:", 95, 145);
  doc.text("°T:", 114, 145);

  doc.text("CFV:", 18, 145);

  doc.setFontType("normal");

  doc.text(paObj_at['data_Accidente_Trabajo'].B_SV_Presion_Arterial+" mm Hg", 34, 145);
  doc.text(paObj_at['data_Accidente_Trabajo'].B_SV_Frecuencia_Cardiaca+" lpm", 62, 145);
  doc.text(paObj_at['data_Accidente_Trabajo'].B_SV_Frecuencia_Respiratoria+" rpm", 82, 145);
  doc.text(paObj_at['data_Accidente_Trabajo'].B_SV_Saturacion+"%", 106, 145);
  doc.text(paObj_at['data_Accidente_Trabajo'].B_SV_Temperatura+" °C", 120, 145);

  doc.setFontType("bold");
  doc.text("DIAGNÓSTICO DSO:", 18, 155);
  doc.setLineWidth(0.4)
  doc.line(18, 156, 52, 156);

  doc.setFontType("normal");

  let ControlY = 160;

  if(Object.keys(paObj_at['CIE10']).length > 0){

    $.each(paObj_at['CIE10'], function(index,accountObj){

      doc.text(accountObj.Diagnostico+" "+accountObj.Code_D, 18, ControlY);

      ControlY+=5;

    });

  }
  else
  {

    doc.text("No hay registros", 18, ControlY);

    ControlY+=5;

  }

  ControlY+=3;

  doc.setFontType("bold");
  doc.text("PLAN:", 18, ControlY);
  doc.setLineWidth(0.4)
  doc.line(18, ControlY+1, 28, ControlY+1);

  ControlY+=5;

  doc.setFontType("normal");

  doc.text("ATENCION EN DSO:", 18, ControlY);

  ControlY+=6;

  let Contador = 1;

  if(Object.keys(paObj_at['DSO']).length > 0){

    $.each(paObj_at['DSO'], function(index,accountObj){

      doc.text(Contador+". "+accountObj.Detalle, 25, ControlY);

      Contador++;
      ControlY+=5;

    });

  }
  else
  {

    doc.text("No hay registros", 18, ControlY);

    ControlY+=5;

  }

  doc.setFontType("bold");

  doc.text("Comentario: ", 18, 230);
  doc.setLineWidth(0.4)
  doc.line(18, 231, 39, 231);

  doc.setFontType("normal");
  doc.text("Falta el informe de investigación del área involucrada, a fin de corroborar el relato del paciente, en", 40, 230);
  doc.text("cuanto a los hechos que originaron el accidente; ya que la anamnesis sólo son datos subjetivos que manifiesta", 18, 235);
  doc.text("el trabajador de lo ocurrido.", 18, 240);

  let ConclusionDesc = '';

  switch (parseInt(paObj_at['data_Accidente_Trabajo'].A_Accidente_TrabajoId)) {
    case 1:
      ConclusionDesc = "Accidente: Primeros Auxilios"; 
      break;
    case 2:
       ConclusionDesc = "Accidente: Leve"; 
      break;
    case 3:
      ConclusionDesc = "Accidente: Incapacitante"; 
      break;
    case 4:
      ConclusionDesc = "Accidente: Fatal"; 
      break;
  }    

  doc.setFontType("bold");
  doc.text("Conclusión: "+ConclusionDesc, 18, 248);
  doc.setLineWidth(0.4)
  doc.line(18, 249, 37, 249);

  doc.setFontType("normal");
  doc.setFontSize(10);

  /*doc.setDrawColor(0,0,0);
  doc.setLineWidth(0.2)
  doc.line(75, 270, 135, 270);

  doc.text(toCapitalize(getCookie("nombre_iat")), 105, 275, "center");
  doc.text(toCapitalize(getCookie("cargo_iat")), 105, 280, "center");
  doc.text("Tecnológica de Alimentos S.A.", 105, 285, "center");*/

  //let imgiat = new Image(); //imagen logo
  //img_logo.src = './images/sho/logoiat.png';





  /*imgData.onload = function(){
    doc.addImage(imgData, 'png', 145, 125, 50, 65);
    doc.save(`IAT_ ${nombres_b}_${apellidos_b}_${dia_c}_${mes_c}_${ano_c}`);
  };*/

   // generate dataURLString
  const dataURLString = multiPng.output("dataurlstring", `IAT_ ${nombres_b}_${apellidos_b}_${dia_c}_${mes_c}_${ano_c}.pdf`);
  //console.log(dataURLString);

  // save PDF (blocked in iFrame in chrome)
  multiPng.output("save", `IAT_ ${nombres_b}_${apellidos_b}_${dia_c}_${mes_c}_${ano_c}.pdf`);

}





async function addImageProcess(src) {
  return new Promise((resolve, reject) => {
    let img = new Image();
    img.src = src;
    img.onload = () => resolve(img);
    img.onerror = reject;
  });
}


async function generateImagePdf(imageUrls) {

  doc = new jsPDF();

  let ControlX = 155;

  for (const [i, url] of imageUrls.entries()) {
    const image = await addImageProcess(url);
    //ControlY+=30;
    if (i !== imageUrls.length - 1) {      
      doc.addImage(image, 'png', ControlX, 150, 40, 55);
      ControlX = 113;
    }
    else{//Logo
      doc.addImage(image, 'png', 18, 14, 24, 20);
    }
  }
  return doc;
}

//var imageUrls = ["./images/sho/tasa_logo.png", "./images/sho/logoiat.png"];


async function savePdf() {

  const multiPng = await generateImagePdf(arrayImagenesIAT);

  // generate dataURLString
  const dataURLString = multiPng.output("dataurlstring", "multiPng.pdf");
  //console.log(dataURLString);

  // save PDF (blocked in iFrame in chrome)
  multiPng.output("save", "multiPng.pdf");
}

function buttonClick() {
  savePdf().then(console.log("Saved"));
}









$(document).ready(()=>{


  _init_atSp4GestionAccidenteTrabajo()
  //$('#mostrar_datos_at').on('click',onClickMostrarDatos);
  //$('#ocultar_datos_at').on('click',onClickOcultarDatos);

  _init_DatosGeneralesHistoria(idHC);

  $('#MostrarDatos').on('click',onClickMostrarDatosGeneral);
  $('#OcultarDatos').on('click',onClickOcultarDatosGeneral);


});


function onClickMostrarDatos(){
  $('#mostrar_datos_at').hide()
  $('#ocultar_datos_at').show()
  $('.show-less').hide()
  $('.show-more').show()
}

function onClickOcultarDatos(){
  $('#ocultar_datos_at').hide()
  $('#mostrar_datos_at').show()
  $('.show-less').show()
  $('.show-more').hide()
}

async function _init_atSp4GestionAccidenteTrabajo() {

  $(document).ready(() => {
   $(document.body).removeClass('modal-open')
  })

  showLoading();
  await atSp4CargaSedesAreasGerencias()
  atSp4CargarDatosTrabajador();
  await atSp4CargarAptitud();
  await atSp4CargarAccidenteTrabajoHC();
  _init_tabs()

  hideLoading();
  $('#page-content-sidebar').show()
}

function atSp4CargarAccidenteTrabajoHC() {
  
  let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_AT__Historia_Clinica`;

  let headers = {
    "apikey": constantes.apiKey,
    "Content-Type": "application/json"
  }

  let settings = {
    "url": url,
    "method": "get",
    "dataType": 'json',
    "headers": headers,
    "data": { "IdHC": idHC }
  };

  return $.ajax(settings).done((response) => {
    accidenteTrabajoListHC = response.AccidentesT;
    atSp4RenderAccidenteTrabajoHC()
  });
}

function atSp4EditarAccidenteTrabajo(Id_at){
  
  ControlLateralAccidenteTrabajo = true;
  navHistoriaAT = true
  modeAccidenteTrabajo = 'edit';
  IdAT = Id_at;
  
  actualPageSystemSoma = "view/sho-hce/accidente_trabajo/EditarAccidenteTrabajo.html";
  handlerUrlhtml('contentGlobal', actualPageSystemSoma , 'Editar registro accidente de trabajo');
}

function atSp4RenderAccidenteTrabajoHC(){

  atDescansoMedicoListHC = []
  atTransferenciasListHC = []
  atSeguimientosListHC = []
  atAltasListHC = []
  atExamenesListHC = []
  atPostAltaListHC = []
  atInformesListHC = []

  let ContenidoBotonHtml='';

  if(accidenteTrabajoListHC.length){

    $('#content_sp4_AT_table_accidenteTrabajoHC').html('')
    accidenteTrabajoListHC.map((at) => {

      ContenidoBotonHtml='';

      if( at.A_Estado_Accidente == 1 ){

        ContenidoBotonHtml += "<div class='dropdown-menu' style='padding: 8px 0px;' onclick=''>";
        ContenidoBotonHtml += "<a class='dropdown-item d-flex align-items-center' onclick='GenerarIAT("+at.Id+")'>"; 
        ContenidoBotonHtml += "<img src='./images/sho/download.svg' alt='' />&nbsp;&nbsp; Descargar IAT"; 
        ContenidoBotonHtml += "</a>"; 
        ContenidoBotonHtml += "<a class='dropdown-item d-flex align-items-center' onclick='atSp4EditarAccidenteTrabajo("+at.Id+")'>"; 
        ContenidoBotonHtml += "<img src='./images/sho/edit.svg' alt='' />&nbsp;&nbsp; Editar"; 
        ContenidoBotonHtml += "</a>"; 
        ContenidoBotonHtml += "</div>";      
  
      }
      else
      {

        ContenidoBotonHtml += "<div class='dropdown-menu' style='padding: 8px 0px;' onclick=''>";
        ContenidoBotonHtml += "<a class='dropdown-item d-flex align-items-center' onclick='GenerarIAT("+at.Id+")'>"; 
        ContenidoBotonHtml += "<img src='./images/sho/download.svg' alt='' />&nbsp;&nbsp; Descargar IAT"; 
        ContenidoBotonHtml += "</a>"; 
        ContenidoBotonHtml += "<a class='dropdown-item d-flex align-items-center' onclick='atSp4VerDetalleAccidenteTrabajo("+at.Id+")'>"; 
        ContenidoBotonHtml += "<img src='./images/sho/eyeIcon.svg' alt='' />&nbsp;&nbsp; Ver detalle"; 
        ContenidoBotonHtml += "</a>"; 
        ContenidoBotonHtml += "</div>";  

      }

      $('#content_sp4_AT_table_accidenteTrabajoHC').append(`
          <tr>
            <td>${at.AccidenteTrabajo}</td>
            <td>${moment(new Date(at.A_Fecha_Registro)).format('DD/MM/YYYY')}</td>
            <td>${moment(new Date(at.A_Fecha_Accidente)).format('DD/MM/YYYY')}</td>
            <td>${moment(at.A_Hora_Accidente,'HH:mm:ss').format('HH:mm')}</td>
            <td>${at.Diagnostico ? at.Diagnostico :  'No disponible'}</td>
            <td>${at.A_Estado_Accidente == 1 ? 'Abierto' : 'Cerrado'}</td>   
            <td>
                <div class="dropdown">
                  <button class=" btn-link dropdown textVertical" style='outline:none !important;' id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <label class='textVertical'>...</label>
                  </button>
                  ${ContenidoBotonHtml}
                </div>
            </td>
          </tr>
      `)

      //Obtener listas
      atDescansoMedicoListHC = atDescansoMedicoListHC.concat(at.DescansoAT)
      atTransferenciasListHC = atTransferenciasListHC.concat(at.transferenciaAT)
      atSeguimientosListHC = atSeguimientosListHC.concat(at.SeguimientoAT)
      atAltasListHC = atAltasListHC.concat(at.altasAT)
      atExamenesListHC = atExamenesListHC.concat(at.examenesAT)
      atPostAltaListHC = atPostAltaListHC.concat(at.postAltaMedicaAT)
      atInformesListHC = atInformesListHC.concat(at.informesAT)
    })


    //Descanso médico Lista
    if(atDescansoMedicoListHC.length){

      $('#content_sp4_AT_table_descansoMedicoHC').html('')
      $('#dat_at_cant_descansoMedicoHC').text(`${atDescansoMedicoListHC.length == 1 ? '01' : atDescansoMedicoListHC.length } registros`)
      
      atDescansoMedicoListHC.map((at_dm) => {
        $('#content_sp4_AT_table_descansoMedicoHC').append(`
          <tr>
            <td>${moment(new Date(at_dm.B_FechaIni)).format('DD/MM/YYYY')}</td>
            <td>${moment(new Date(at_dm.B_FechaFin)).format('DD/MM/YYYY')}</td>
            <td>${at_dm.B_CantidadDias}</td>
            <td>${at_dm.B_DiasAcumulados}45</td>
            <td>${at_dm.DiasRestantes}</td>
            <td>${at_dm.Diagnostico}</td>
            <td>${at_dm.TipoContingenciaName}</td>
            <td>${at_dm.Establecimiento}</td>
          </tr>
        `)
      })
    }

    //Transferencias Lista
    if(atTransferenciasListHC.length){
      $('#content_sp4_AT_table_transferenciasHC').html('')
      $('#dat_at_cant_transferenciasHC').text(`${ atTransferenciasListHC.length == 1 ? '01' : atTransferenciasListHC.length } registros`)

      atTransferenciasListHC.map((at_t) => {
        $('#content_sp4_AT_table_transferenciasHC').append(`
          <tr>
            <td>${at_t.Informe}</td>
            <td>${at_t.Establecimento}</td>
            <td>${moment(new Date(at_t.A_FechaTransferencia)).format('DD/MM/YYYY')}</td>
            <td>${at_t.Diagnostico ? at_t.Diagnostico : 'No disponible'}</td>
          </tr>
        `)
      })
    }

    //Seguimientos Lista
    if(atSeguimientosListHC.length){
      $('#content_sp4_AT_table_seguimientosHC').html('')
      $('#dat_at_cant_seguimientosHC').text(`${atSeguimientosListHC.length == 1 ? '01' : atSeguimientosListHC.length } registros`)

      atSeguimientosListHC.map(at_seg => {
        $('#content_sp4_AT_table_seguimientosHC').append(`
          <tr>
            <td>${moment(new Date(at_seg.CreadoFecha)).format('DD/MM/YYYY')}</td>
            <td>${moment(at_seg.Hora,'HH:mm:ss').format('HH:mm')}</td>
            <td colspan="2">${at_seg.Comentario}</td>
          </tr>
        `)
      })
    }

    //Altas Lista
    if(atAltasListHC.length){
      $('#content_sp4_AT_table_altasHC').html('')
      $('#dat_at_cant_altasHC').text(`${atAltasListHC.length == 1 ? '01' : atAltasListHC.length } registros`)

      atAltasListHC.map(at_alta =>{
        $('#content_sp4_AT_table_altasHC').append(`
          <tr>
              <td>${at_alta.Diagnostico}</td>
              <td>${at_alta.documento_escaneado}</td>
              <td>${moment(new Date(at_alta.Fecha_Alta)).format('DD/MM/YYYY')}</td>
              <td>${at_alta.Rne_Especialista}</td>
              <td>${at_alta.Nombre_Especialista}</td>
          </tr>
        `)
      })
    }

    //Examenes Lista
    if(atExamenesListHC.length){
      $('#content_sp4_AT_table_examenesHC').html('')
      $('#dat_at_cant_examenesHC').text(`${atExamenesListHC.length == 1 ? '01' : atExamenesListHC.length } registros`)
      
      atExamenesListHC.map(at_exam=>{
        $('#content_sp4_AT_table_examenesHC').append(`
          <tr>
            <td>${moment(new Date(at_exam.Fecha_Examen)).format('DD/MM/YYYY')}</td>
            <td>${at_exam.Tipo_Examen}</td>
            <td>${at_exam.Conclusion}</td>
            <td>${at_exam.Resultado_Escaneado}</td>
          </tr>
        `)
      })
    }

    //Post alta lista
    if(atPostAltaListHC.length){
      $('#content_sp4_AT_postAltaHC').html('')
      $('#dat_at_cant_postAltaHC').text(`${atPostAltaListHC.length == 1 ? '01' : atPostAltaListHC.length } registros`)

      atPostAltaListHC.map(at_alta => {
        const aptitud = paObj_at.Aptitud.find(item => item.Id == at_alta.G_Aptitud)
        
        $('#content_sp4_AT_postAltaHC').append(`
          <tr>
            <td>${moment(new Date(at_alta.CreadoFecha)).format('DD/MM/YYYY')}</td>
            <td>${at_alta.C_Anamnesis}</td>
            <td>${at_alta.F_Tratamiento}</td>
            <td>${ aptitud.Descripcion }</td>
          </tr>
        `)
      })
    }

    //informes lista
    if(atInformesListHC.length) {
      $('#content_sp4_AT_table_informesHC').html('')
      $('#dat_at_cant_informesHC').text(`${atInformesListHC.length == 1 ? '01' : atInformesListHC.length } registros`)
      
      atInformesListHC.map(at_informe => {

        $('#content_sp4_AT_table_informesHC').append(`
          <tr>
            <td>${moment(new Date(at_informe.FechaInforme)).format('DD/MM/YYYY')}</td>
            <td>${at_informe.Especilidades}</td>
            <td>${at_informe.Diagnostico}</td>
            <td>${at_informe.documento_escaneado}</td>
          </tr>
        `)
      })
    }
  }
}

function atSp4VerDatosCompletoTrabajador() {

  let datos = paObj_hc[idHC].a;

  datos.Sede = sedeAreaGerencia.Sedes.find(item => item.Id == datos.PlantaId_Empresa_H)
  datos.Area = sedeAreaGerencia.Area.find(item => item.Id == datos.AreaId_Empresa_H)

  Swal.fire({
    title: "Datos del trabajador",
    html: `
      <div class="text-left">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos Principales</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Documento: </b></span>
            <span>${datos.NroDocumento_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Nombres: </b></span>
            <span>${datos.Nombres_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Apellidos: </b></span>
            <span>${datos.Apellidos_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>C.Colaborador: </b></span>
            <span>${datos.CodigoColaborador_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Trabajador_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Sexo: </b></span>
            <span>${(datos.Sexo_Trabajador_H == 1) ? 'Masculino' : 'Femenino'}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-12">
            <span style="color: #254373"><b>Dirección: </b></span>
            <span>${datos.Direccion_Trabajador_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>F.Nacimiento: </b></span>
            <span>${datos.fecha_nacimiento}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Edad: </b></span>
            <span>${datos.Edad_Trabajador_H}</span>
          </div>
        </div>
        <hr class="my-4">
        <div class="row my-3">
          <div class="col-12">
            <span class="float-left" style="font-size: 20px; font-weight: 600; color: #254373">Datos de la empresa</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Sede: </b></span>
            <span>${datos.Sede.Description}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Área: </b></span>
            <span>${datos.Area.Description}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Cargo: </b></span>
            <span>${datos.CargoJefe_Empresa_H}</span>
          </div>
        </div>
        <div class="row my-3" style="font-size: 15px">
          <div class="col-4">
            <span style="color: #254373"><b>Jefe inmediato: </b></span>
            <span>${datos.CargoJefe_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Celular: </b></span>
            <span>${datos.Celular_Empresa_H}</span>
          </div>
          <div class="col-4">
            <span style="color: #254373"><b>Telefono: </b></span>
            <span>${datos.Telefono_Empresa_H}</span>
          </div>
        </div>
      </div>            
    `,
    iconHtml: '<img src="./images/sho/perfil.svg">',
    width: 800,
    showCancelButton: true,
    showConfirmButton: false,
    cancelButtonColor: "#ff3636",
    cancelButtonText: `Cancelar <img src="./images/sho/cancelar.svg">`,
  })
  $('.swal2-cancel').css('width', '200px');
  $('.swal2-html-container').css('overflow', 'visible');
}

</script>