<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del examen auxiliar</span>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-end">
        <button type="button" style="width:200px" onclick="atSp4ConfirmCancelarExamenesAuxiliares()" class="btn btn-danger btn-block btn-lg mr-3"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 d-flex">
          <h2 class="title-section">
            Examen
          </h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Fecha de examenes</span>
                    <input type="date" id="input_at_fecha_examenes_auxiliares" class="check-examenes-auxiliares">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Tipo de examen</span>
                    <select id="input_at_tipo_examenes_auxiliares" class="check-examenes-auxiliares"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <button type="button" style="width:200px"  class="btn btn-success btn-block btn-lg m-0"
          onclick="atSp4ConfirmGuardarExamenesAuxiliares()"> Agregar a la lista <img src="./images/sho/confirm.svg" alt="">
          </button>        
        </div>
        <div class="col-md-12">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Conclusion</span>
                    <input type="text" class="check-examenes-auxiliares" id="input_at_conclusion_examenes_auxiliares">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_at_examenes-auxiliares-modulo" style="font-size: 15px">0 registros</span>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
          <div class="table-responsive tablaBox">
                <table class="table-box">
                    <thead>
                        <th>Fecha de examen</th>
                        <th>Tipo de examen</th>
                        <th>Fecha de registro</th>
                        <th>Conclusión</th>
                        <th>Documento</th>
                        <th></th>
                    </thead>
                    <tbody id="content_sp4_AT_table_examenes-auxiliares-modulo">
                        <tr>
                          <td colspan="6" class="text-center">No se encontraron resultados.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(() => {
    if(modeAccidenteTrabajo == 'create'){
      _init_atSp4NuevoExamenesAuxiliares()
    }
  })
</script>