<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del seguimiento</span>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-end">
        <button type="button" style="width:200px" class="btn btn-danger btn-block btn-lg mr-3"
            onclick="atSp4ConfirmCancelarSeguimiento()">Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
        <button type="button" style="width:200px" class="btn btn-success btn-block btn-lg m-0" 
          onclick="atSp4ConfirmGuardarSeguimiento()">Guardar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Fecha de seguimiento</span>
                    <input type="date" class="check-seguimiento" id="input_at_fecha_seguimiento">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Hora de seguimiento</span>
                    <input type="time" class="check-seguimiento" id="input_at_hora_seguimiento">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Comentario</span>
                    <input type="text" class="check-seguimiento" id="input_at_comentario_seguimiento">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>