<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<div class="container main-content">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 col-sm-12">
        <span class="titulo">Datos del informe médico</span>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-end">
        <button type="button" style="width:200px" class="btn btn-danger btn-block btn-lg mr-3"
          onclick="atSp4ConfirmCancelarInforme()"> Cancelar <img src="./images/sho/cancelar.svg" alt="">
        </button>
        <button type="button" style="width:200px"  class="btn btn-success btn-block btn-lg m-0"
          onclick="atSp4ConfirmGuardarInforme()"> Guardar <img src="./images/sho/confirm.svg" alt="">
        </button>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Fecha del infome</span>
                    <input type="date" class="check-informe" id="input_at_fecha_informe">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-0">
                <div class="input-box-secondary">
                    <span>Especialidad</span>
                    <select class="check-informe" id="input_at_especialidad_informe">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 d-flex">
          <h2 class="title-section">
            Diagnósticos
          </h2>
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Diagnóstico</span>
                  <div class="dropdown">
                    <input autocomplete="off" style="font-size: 13px !important;" class="dropbtn input_am_diagnostico check-diagnosticocie10-informe" placeholder="Diagnóstico" type="text" id="sp4_at_diagCIE10_diag_informe"
                     onkeyup="_newDiagnosticoCIE10('sp4_at_diagCIE10_diag_informe', 'results_diagCIE10_diag_informe', 'sp4_at_diagCIE10_cie10_informe', 'dat_at_cie10_informe');" 
                     style='background:white; border:1px solid; color:black;'>              
                    <div class="dropdown-menu show" id='results_diagCIE10_diag_informe' style="display:none; max-width: fit-content;">                
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>CIE 10</span>
                  <div class="dropdown" id='listaResultado_ii_INT'>
                    <input autocomplete="off" placeholder="CIE 10" class="dropbtn input_am_diagnostico check-diagnosticocie10-informe" style=" font-size: 13px;" type="text" id="sp4_at_diagCIE10_cie10_informe"
                     onkeyup="_newDiagnosticoCIE102('sp4_at_diagCIE10_cie10_informe', 'results_diagCIE10_cie10_informe', 'sp4_at_diagCIE10_diag_informe', 'dat_at_cie10_informe');" 
                     style='background:white; border:1px solid; color:black;'>
                    <div class="dropdown-menu show" id='results_diagCIE10_cie10_informe' style="display:none; max-width: fit-content">              
                    </div>
                  </div> 
                  <input class="input_am_diagnostico" type="hidden" id="dat_at_cie10_informe">
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Sistema afectado</span>
                  <select id="input_at_sistema_afectado_informe" class=""></select>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group m-0">
              <div class="input-box-secondary">
                  <span>Sección afectada</span>
                  <select id="input_at_seccion_afectada_informe" class=""></select>
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <button type="button" class="btn btn-success btn-block btn-lg"
           style="width:200px; float:right;" onclick="atSp4GuardarDiagnosticoCie10Informe()"> Agregar a la lista <img src="./images/sho/plus.svg" alt="" />
          </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <div id="">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_at_cant_diagCIE10_informe" style="font-size: 15px">0 registros</span>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <table class="table-box">
                <thead>
                    <th>Diagnóstico</th>
                    <th>CIE 10</th>
                    <th>Fecha de registro</th>
                    <th>Especialidad</th>
                    <th>Sistem afectado</th>
                    <th>Sección afectada</th>
                    <th></th>
                </thead>
                <tbody id="content_sp4_AT_table_diagCIE10_informe">
                    <tr>
                      <td colspan="7" class="text-center">No se encontraron resultados.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="secion_at_adjuntar_informe">
      <div class="row mb-3">
          <div class="col-md-12 d-flex">
              <h2 class="title-section">
                 Adjuntar documento
              </h2>
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-md-12">
              <div class="input_file_upload border-content">
                <label class="btn btn-success btn-lg" for="file_upload_informe">
                  <span> Subir archivo </span>
                  <img src="./images/sho/upload.svg" style="width:14px !important">
                </label>
                <input type="file" id="file_upload_informe" accept="application/pdf, .pdf, .doc, docx, .odf" 
                onchange="atSp4CapturarAdjunto(this,'informe')">
              </div>
          </div>
      </div>
    </div>
    <div class="row mb-5" style="display:none;" id="secion_at_adjunto_list_informe">
      <div class="col-md-12 mt-3">
        <div class="d-flex align-items-center">
          <div id="">
            <img src="images/iconos/copia-1.svg" style="width: 20px" />
          </div>
          <span class="cantidad ml-3" id="dat_at_cant_adjunto_informe" style="font-size: 15px">0 archivos</span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="table-responsive tablaBox">
          <table class="table-box">
              <thead>
                  <th>Documento</th>
                  <th>Fecha de subida</th>
                  <th></th>
              </thead>
              <tbody id="content_sp4_AT_table_adjunto_informe">
                <tr>
                  <td colspan="3" class="text-center">No se encontraron resultados.</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<script>
  $(document).ready(() => {
    
    if(modeAccidenteTrabajo == 'create'){
      _init_atSp4NuevoInformeAccidenteTrabajo()
    }
  })
</script>