<link rel="stylesheet" href="css/sho.css">
<link rel="stylesheet" type="text/css" href="view/sho-hce/accidente_trabajo/styles.css">
<style type="text/css">
  .table-seguimiento{
    font-size: 15px;
  }
  .table-seguimiento thead{
    background-color: transparent;
  }
  .table-seguimiento th{
    color: #254373;
    padding: .5rem;
    white-space: nowrap;
  }
  .table-seguimiento td{
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid var(--semi-light-grey);
    white-space: nowrap;
  }
  .table-seguimiento tbody{

  }
  .text-blue-light{
    color: #4798c7!important;
  }
  .text-green{
    color: #8fbb02!important;
  }
  .text-red{
    color: #ff4b4b!important;
  }
  .nav-date{
    display: flex;
    align-items: center;
  }
  .nav-date-list{
    list-style: none;
    display: flex;
    margin: 0;
  }
  .nav-date-list li{
    cursor: pointer;
    padding: 0 12px;
    font-size: 25px;
    color: #a7a7a7;
    border-bottom: 4px solid transparent;
  }
  .nav-date-list.nav-date-green li.active{
    color: #8fbb02!important;
  }
  .nav-date button{
    padding: 0 12px;
    color: #01719d;
    border: none;
    font-size: 14px;
    outline: 0;
    background: transparent;
  }
  .nav-date button.disabled{
    pointer-events: none;
    opacity: 60%;
  }
</style>
<div class="container main-content">
    <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="title-section">Accidentes de trabajo</h2>
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12">
        <ul class="tabs">
          <li class="tabs-item active" id="seguimiento-mes">Accidente de trabajo del mes</li>
          <li class="tabs-item" id="seguimiento-anterior">Accidentes anteriores</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5 tab-section" id="section-seguimiento-mes" >
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-seguimiento">
            <thead>
              <tr>
                <th colspan="3"></th>
                <th colspan="4" class="text-blue-light">Tipo de accidente</th>
                <th colspan="2" class="text-green">Descanso médico</th>
                <th colspan="3" class="">Días perdidos</th>
                <th colspan="3">Transferencia</th>
              </tr>
              <tr>
                <th>Nombres y Apellidos</th>
                <th>Ocupación</th>
                <th>Fecha de accidente</th>
                <th class="text-blue-light">P.Aux</th>
                <th class="text-blue-light">Leve</th>
                <th class="text-blue-light">Incap.</th>
                <th class="text-blue-light">Fatal</th>
                <th class="text-green">Inicio</th>
                <th class="text-red">Término</th>
                <th>Mes</th>
                <th>Total real</th>
                <th>Total estimado</th>
                <th>No</th>
                <th>IAT</th>
                <th>Si</th>
                <th>Transferido a establecimiento</th>
                <th>Diagnóstico de especialista</th>
                <th>Descanso médico</th>
                <th>Mes</th>
                <th>Comentario</th>
                <th>Área/EP</th>
                <th>Empresa</th>
                <th>Gerencia</th>
              </tr>
            </thead>
            <tbody id="content_table_seguimiento_accidente_trabajo_1">
              <tr>
                <td colspan="22" class="text-center">No se encontraron resultados.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mb-5 tab-section" id="section-seguimiento-anterior" style="display:none">
      <div class="col-md-12 mb-5">
        <div class="nav-date" id="select-year">
          <button class="nav-date-prev" onclick="prevPageYear()"> < Anterior</button>
          <ul class="nav-date-list nav-date-green">
          </ul>
          <button class="nav-date-next" onclick="nextPageYear()">Siguiente > </button>
        </div>
      </div>
      <div class="col-md-12 mb-5">
        <div class="nav-date" id="select-mes">
          <button class="nav-date-prev" onclick="prevPageMes()"> < Anterior</button>
          <ul class="nav-date-list nav-date-green">
          </ul>
          <button class="nav-date-next" onclick="nextPageMes()">Siguiente > </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-seguimiento">
            <thead>
              <tr>
                <th colspan="3"></th>
                <th colspan="4" class="text-blue-light">Tipo de accidente</th>
                <th colspan="2" class="text-green">Descanso médico</th>
                <th colspan="3" class="">Días perdidos</th>
                <th colspan="3">Transferencia</th>
              </tr>
              <tr>
                <th>Nombres y Apellidos</th>
                <th>Ocupación</th>
                <th>Fecha de accidente</th>
                <th class="text-blue-light">P.Aux</th>
                <th class="text-blue-light">Leve</th>
                <th class="text-blue-light">Incap.</th>
                <th class="text-blue-light">Fatal</th>
                <th class="text-green">Inicio</th>
                <th class="text-red">Término</th>
                <th>Mes</th>
                <th>Total real</th>
                <th>Total estimado</th>
                <th>No</th>
                <th>IAT</th>
                <th>Si</th>
                <th>Transferido a establecimiento</th>
                <th>Diagnóstico DSO</th>
                <th>Diagnóstico de especialista</th>
                <th>Descanso médico</th>
                <th>Comentario</th>
                <th>Área/EP</th>
                <th>Empresa</th>
                <th>Gerencia</th>
              </tr>
            </thead>
            <tbody id="content_table_seguimiento_accidente_trabajo_2">
              <tr>
                <td colspan="22" class="text-center">No se encontraron resultados.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="view/sho-hce/accidente_trabajo/gestionAccidenteTrabajo.js"></script>

<script type="text/javascript">
  
  $(document).ready(() => {

    _init_SelectYear()
    _init_SelectMes()
    _init_tabs()
    _init_atSp4SeguimientoAccidenteTrabajoBandeja()
  })

  async function _init_atSp4SeguimientoAccidenteTrabajoBandeja(){
    await atSp4CargaSedesAreasGerencias();
    await atSp4CargarSeguimientoAccidenteTrabajoMesActual()
  }

 //--------------------------FUNCIONES ACCIDENTES DEL MES  ------------------------------//

  function atSp4CargarSeguimientoAccidenteTrabajoMesActual() {

    let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Bandeja_General_x_Fechas`;

    const data = {
      inicio: moment().startOf('month').format('YYYY-MM-DD'),
      fin: moment().endOf('month').format('YYYY-MM-DD')
    }

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "dataType": 'json',
      "headers": headers,
      data
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {
      paObj_at['bandeja_Accidentes_x_Fecha'] = response.bandeja_Accidentes_x_Fecha
      atSp4RenderTablaSegumientoAccidenteTrabajoMesActual()
    });
  }

  function atSp4RenderTablaSegumientoAccidenteTrabajoMesActual(){
     
    $('#content_table_seguimiento_accidente_trabajo_1').html('')

    if(paObj_at.bandeja_Accidentes_x_Fecha.length){

      paObj_at.bandeja_Accidentes_x_Fecha.map(item => {

        const gerencia = at_SedeAreaGerencia.Gerencias.find( item2 => item2.Id == item.B_GerenciaId )
        const planta = at_SedeAreaGerencia.Sedes.find( item2 => item2.Id == item.B_PlantaId )
        const area = at_SedeAreaGerencia.Areas.find( item2 => item2.Id == item.B_AreaId )

        $('#content_table_seguimiento_accidente_trabajo_1').append(`
            <tr>
                <td>${item.A_NombresPaciente} ${item.A_ApellidosPaciente}</td>
                <td>${item. B_PuestoTrabajo}</td>
                <td>${moment(new Date(item.A_Fecha_Accidente)).format('DD/MM/YYYY')}</td>
                <td class="text-blue-light" >${ item.Paux == 1  ? 1 : '-' }</td>
                <td class="text-blue-light" >${ item.Leve == 1  ? 1 : '-'}</td>
                <td class="text-blue-light" >${ item.Incap == 1 ? 1 : '-' }</td>
                <td class="text-blue-light" >${ item.Fatal == 1 ? 1 : '-' }</td>
                <td class="text-green" >${moment(new Date(item.DescansoInicio)).format('DD/MM/YYYY')}</td>
                <td class="text-red" >${moment(new Date(item.DescansoTermino)).format('DD/MM/YYYY')}</td>
                <td>${ item.Mes }</td>
                <td>${ item.TotalReal }</td>
                <td>${ item.TotalEstimado }</td>
                <td>${ item.Transferencia_SiNo == 1 ? 'x' : '-' }</td>
                <td>${ item.IAT == 1 ? 'x' : '-' }</td>
                <td>${ item.Transferencia_SiNo == 1 ? 'x' : '-' }</td>
                <td>${ item.Transferido_A ? item.Transferido_A :'-' }</td>
                <td>${ item.DiagnosticoEspecialista ? item.DiagnosticoEspecialista : '-' }</td>
                <td>${ item.DiagnosticoDso ? item.DiagnosticoDso : '-' }</td>
                <td>${ item.DescansoMedico ? item.DescansoMedico : '-'}</td>
                <td>${ item.Comentarios ? item.Comentarios : '-' }</td>
                <td>${ area ? area.Description : 'No disponible'}</td>
                <td>${item.Empresa}</td>
                <td>${ gerencia ? gerencia.Description : 'No disponible'}</td>
            </tr>
        `)
      })
    }else{
      $('#content_table_seguimiento_accidente_trabajo_1').append(`
        <tr>
          <td colspan="22" class="text-center">No se encontraron resultados.</td>
        </tr>
      `)
    }
  }

  //--------------------------FUNCIONES ACCIDENTES POR MES Y AÑO ------------------------------//

  function atSp4CargarSeguimientoAccidenteTrabajoFecha() {

    showLoading()

    if(!at_selectedYear){
      at_selectedYear = at_years[0]
      $(`#select-year-${at_selectedYear.text}`).addClass('active')
      console.log($(`#select-year-${at_selectedYear.text}`))
    }

    if(!at_selectedMes){
      at_selectedMes = at_meses[0]
      $(`#select-mes-${at_selectedMes.text}`).addClass('active')
      console.log($(`#select-mes-${at_selectedMes.text}`))
    }

    let url = `${apiUrlsho}/api/hce_enfermedades_cronicas?code=noDt5LQMV9CC2oM2x9LajYZaZw6Bvss3KqqWzg7wr4JQSgfh0RAPTg==&AccionBackend=Lista_Bandeja_General_x_Fechas`;

    let inicioMes = moment(at_selectedMes.ini,'MM-DD').startOf('month').format('MM-DD')
    let finMes =  moment(at_selectedMes.ini,'MM-DD').endOf('month').format('MM-DD')

    const data = {
      inicio:`${at_selectedYear.text}-${inicioMes}`,
      fin: `${at_selectedYear.text}-${finMes}`
    }

    let headers = {
      "apikey": constantes.apiKey,
      "Content-Type": "application/json"
    }

    let settings = {
      "url": url,
      "method": "get",
      "dataType": 'json',
      "headers": headers,
      data
    };

    //Se consulta mediante el metodo Ajax
    return $.ajax(settings).done(function (response) {

      paObj_at['bandeja_Accidentes_mes_año'] = response.bandeja_Accidentes_x_Fecha
      atSp4RenderTablaSegumientoAccidenteTrabajoFecha()

      hideLoading()
    }).fail(()=>{
      
      hideLoading()
    });
  }

  function atSp4RenderTablaSegumientoAccidenteTrabajoFecha() {
     
    $('#content_table_seguimiento_accidente_trabajo_2').html('')

    if(paObj_at.bandeja_Accidentes_mes_año.length){

      paObj_at.bandeja_Accidentes_mes_año.map(item => {

        const gerencia = at_SedeAreaGerencia.Gerencias.find( item2 => item2.Id == item.B_GerenciaId )
        const planta = at_SedeAreaGerencia.Sedes.find( item2 => item2.Id == item.B_PlantaId )
        const area = at_SedeAreaGerencia.Areas.find( item2 => item2.Id == item.B_AreaId )

        $('#content_table_seguimiento_accidente_trabajo_2').append(`
            <tr>
                <td>${item.A_NombresPaciente} ${item.A_ApellidosPaciente}</td>
                <td>${item. B_PuestoTrabajo}</td>
                <td>${moment(new Date(item.A_Fecha_Accidente)).format('DD/MM/YYYY')}</td>
                <td class="text-blue-light" >${ item.Paux == 1  ? 1 : '-' }</td>
                <td class="text-blue-light" >${ item.Leve == 1  ? 1 : '-'}</td>
                <td class="text-blue-light" >${ item.Incap == 1 ? 1 : '-' }</td>
                <td class="text-blue-light" >${ item.Fatal == 1 ? 1 : '-' }</td>
                <td class="text-green" >${moment(new Date(item.DescansoInicio)).format('DD/MM/YYYY')}</td>
                <td class="text-red" >${moment(new Date(item.DescansoTermino)).format('DD/MM/YYYY')}</td>
                <td>${ item.Mes }</td>
                <td>${ item.TotalReal }</td>
                <td>${ item.TotalEstimado }</td>
                <td>${ item.Transferencia_SiNo == 1 ? 'x' : '-' }</td>
                <td>${ item.IAT == 1 ? 'x' : '-' }</td>
                <td>${ item.Transferencia_SiNo == 1 ? 'x' : '-' }</td>
                <td>${ item.Transferido_A ? item.Transferido_A :'-' }</td>
                <td>${ item.DiagnosticoEspecialista ? item.DiagnosticoEspecialista : '-' }</td>
                <td>${ item.DiagnosticoDso ? item.DiagnosticoDso : '-' }</td>
                <td>${ item.DescansoMedico ? item.DescansoMedico : '-'}</td>
                <td>${ item.Comentarios ? item.Comentarios : '-' }</td>
                <td>${ area ? area.Description : 'No disponible'}</td>
                <td>${item.Empresa}</td>
                <td>${ gerencia ? gerencia.Description : 'No disponible'}</td>
            </tr>
        `)
      })
    }else{
      $('#content_table_seguimiento_accidente_trabajo_2').append(`
        <tr>
          <td colspan="22" class="text-center">No se encontraron resultados.</td>
        </tr>
      `)
    }
  }
  //--------------------------FUNCIONES SLIDER AÑO ------------------------------//

  function _init_SelectYear() { 

    at_years = []
    
    let year =  parseInt(moment(new Date()).format('YYYY'))
    
    for (let i = 10; i >= 0; i--) {
      at_years.push({ text: year })
      year -= 1 
    }

    const paginateYears = initSlider(at_years, at_per_page_year,'#select-year .nav-date-prev','#select-year .nav-date-next')
    renderSelectYear(paginateYears.list)
  }

  function renderSelectYear(yearsList) {
    $('#select-year ul').html('')
    yearsList.map(item =>{
      $('#select-year ul').append(`
        <li id="select-year-${item.text}" onclick="selectYear('${item.text}')">${item.text}</li>
      `)
    })
  }

  function selectYear(year) {
    $('#select-year .nav-date-list li').removeClass('active')
    $(`#select-year-${year}`).addClass('active')
    at_selectedYear = at_years.find(item=> item.text == year )
    
    atSp4CargarSeguimientoAccidenteTrabajoFecha()
  }


  function prevPageYear(){
    const paginateYears = prevPage(at_years,at_current_page_year,at_per_page_year,'#select-year .nav-date-prev','#select-year .nav-date-next')
    at_current_page_year = paginateYears.currentPage
    renderSelectYear(paginateYears.list)
  }

  function nextPageYear(){
    const paginateYears = nextPage(at_years,at_current_page_year,at_per_page_year,'#select-year .nav-date-prev','#select-year .nav-date-next')
    at_current_page_year = paginateYears.currentPage
    renderSelectYear(paginateYears.list)
  }


  //--------------------------FUNCIONES SLIDER MES ------------------------------//

  function _init_SelectMes() { 
    const paginateMeses = initSlider(at_meses, at_per_page_mes,'#select-mes .nav-date-prev','#select-mes .nav-date-next')
    renderSelectMes(paginateMeses.list)
  }

  function renderSelectMes(mesesList) {
    $('#select-mes ul').html('')
    mesesList.map(item =>{
      $('#select-mes ul').append(`
        <li id="select-mes-${item.text}" onclick="selectMes('${item.text}')">${item.text}</li>
      `)
    })
  }

  function selectMes(mes){
    $('#select-mes .nav-date-list li').removeClass('active')
    $(`#select-mes-${mes}`).addClass('active')
    at_selectedMes = at_meses.find(item=> item.text == mes )

    atSp4CargarSeguimientoAccidenteTrabajoFecha()
  }

  function prevPageMes(){
    const paginateMeses = prevPage(at_meses,at_current_page_mes,at_per_page_mes,'#select-mes .nav-date-prev','#select-mes .nav-date-next')
    at_current_page_mes = paginateMeses.currentPage
    renderSelectMes(paginateMeses.list)
  }

  function nextPageMes(){
    const paginateMeses = nextPage(at_meses,at_current_page_mes,at_per_page_mes,'#select-mes .nav-date-prev','#select-mes .nav-date-next')
    at_current_page_mes = paginateMeses.currentPage
    renderSelectMes(paginateMeses.list)
  }

  //--------------------------FUNCIONES SLIDER ------------------------------//

  function initSlider(list, perPage, btnPrev, btnNext){
    const count = list.length
    const totalPages =  count % perPage == 0 ? count / perPage : parseInt(count / perPage) + 1

    const currentPage = 1
    const indexIni = 0 
    const indexFin = currentPage  * perPage > count ? count : currentPage * perPage

    $(btnPrev).removeClass('disabled')
    $(btnNext).removeClass('disabled')

    if(currentPage === 1){
      $(btnPrev).addClass('disabled')
    }

    if(currentPage === totalPages){
      $(btnNext).addClass('disabled')
    }

    return{
      currentPage,
      totalPages,
      list: list.slice(indexIni,indexFin),
    }
  }

  function prevPage( 
    list, 
    currentPage, 
    perPage,
    btnPrev,
    btnNext
  ){
    if( currentPage == 1 ) return null

    const count = list.length
    const totalPages =  count % perPage == 0 ? count / perPage : parseInt(count / perPage) + 1
    currentPage -= 1

    const indexIni = (currentPage * perPage ) - perPage < 0 ? 0 : (currentPage * perPage ) - perPage 
    const indexFin =  currentPage * perPage > count ? count : currentPage * perPage 

    $(btnPrev).removeClass('disabled')
    $(btnNext).removeClass('disabled')
    
    if(currentPage === 1){
        $(btnPrev).addClass('disabled')
    }

    if(currentPage === totalPages){
        $(btnNext).addClass('disabled')
    }
    
    return{
        currentPage,
        list: list.slice(indexIni,indexFin)
    }
  }

  function nextPage(
    list, 
    currentPage, 
    perPage,
    btnPrev,
    btnNext
  ){

    const count = list.length
    const totalPages =  count % perPage == 0 ? count / perPage : parseInt(count / perPage) + 1
    
    if( currentPage >= totalPages ) return null

    currentPage += 1

    const indexIni = (currentPage - 1) * perPage
    const indexFin =  currentPage * perPage > count ? count : currentPage * perPage

    $(btnPrev).removeClass('disabled')
    $(btnNext).removeClass('disabled')
    
    if(currentPage === 1){
        $(btnPrev).addClass('disabled')
    }

    if(currentPage === totalPages){
        $(btnNext).addClass('disabled')
    }
    
    return{
      currentPage,
      list: list.slice(indexIni,indexFin)
    }
  }

</script>